#brainvire_sendinvitation h2  {
    padding-bottom: 10px;

}

#brainvire_sendinvitation .form-list label  {
    width: 180px;
    text-align: right;
    padding-right: 9px;
    float: left;

}
#brainvire_sendinvitation .form-list label.required em  {
    right: 20px;

}

#brainvire_sendinvitation .form-list .validation-advice  {
    margin-left: 190px;

}

.brainvire_points_input{
    width: 254px !important;
}

.brainvire_legend{
    margin-bottom: 10px;
    margin-top: -14px;
    color: #666666;
    font-weight: bold;

}
#invitelist-table  td.last {
    width: 270px;
}

#invitelist-table {
    border-spacing: 0px;
}

.brainvire-points-referral .brainvire-points-link{
    font-weight: bold;
}