<div class="gd-col gu4">
    <div class="fk-lcat-main-header my-account">My Account</div>
   <!-- <div class="nav-section">
        <div class="nav-section-title fk-font-15 fk-bold fk-uppercase bpadding5">Orders</div>
        <div class="nav-section-cat-list">
                <a class="fk-display-block nav-section-item tpadding5 bpadding5" 
                href="<?php echo Mage::getUrl('sales/order/history');?>">My Orders </a>
        </div>
    </div>-->
    <!-- <div class="nav-section">
        <div class="nav-section-title fk-font-15 fk-bold fk-uppercase bpadding5">Payments</div>
        <div class="nav-section-cat-list"> -->
            <!-- <a class="fk-display-block nav-section-item tpadding5 bpadding5" href="/gift-voucher-balance">E-Gift Voucher</a> -->
            <!-- <a class="fk-display-block nav-section-item tpadding5 bpadding5" href="/account/wallet">Wallet</a>
            <a class="fk-display-block nav-section-item tpadding5 bpadding5" href="/account/carddetails">My Saved Cards
                <span class="new-label vmiddle fk-inline-block bmargin1"></span></a>
        </div>
    </div> -->
   <!--  <div class="nav-section">
        <div class="nav-section-title fk-font-15 fk-bold fk-uppercase bpadding5">My Stuff</div>
        <div class="nav-section-cat-list">
            <a class="fk-display-block nav-section-item tpadding5 bpadding5" href="/wishlist">My Wishlist</a>
            <a class="fk-display-block nav-section-item tpadding5 bpadding5" href="/profile">My Reviews &amp; Ratings</a>
            <a class="fk-display-block nav-section-item tpadding5 bpadding5" href="/recommendations">Recommendations For You</a>
        </div>
    </div> -->
   <!--  <div class="nav-section">
        <div class="nav-section-title fk-font-15 fk-bold fk-uppercase bpadding5">My Library</div>
        <div class="nav-section-cat-list">
            <a class="fk-display-block nav-section-item tpadding5 bpadding5" href="/account/ebookslibrary">eBooks Library</a>
        </div>
    </div> -->
    <!-- <div class="nav-section">
        <div class="nav-section-title fk-font-15 fk-bold fk-uppercase bpadding5">Settings</div>
        <div class="nav-section-cat-list">
            <a class="fk-display-block nav-section-item tpadding5 bpadding5" href="<?php //echo $this->getBaseUrl(); ?>customer/account/edit">Personal Information</a>
            <a class="fk-display-block nav-section-item tpadding5 bpadding5" href="/account/changepassword">Change Password</a>
            <a class="fk-display-block nav-section-item tpadding5 bpadding5 fk-bold">Addresses</a>
            <a class="fk-display-block nav-section-item tpadding5 bpadding5" href="/account/profilesettings">Profile Settings</a>
            <a class="fk-display-block nav-section-item tpadding5 bpadding5" href="/account/accountemailupdate">Update Email</a>
            <a class="fk-display-block nav-section-item tpadding5 bpadding5" href="/account/deactivate">Deactivate Account</a>
            <a class="fk-display-block nav-section-item tpadding5 bpadding5" href="/notifications">Notifications</a>
            <a class="fk-display-block nav-section-item tpadding5 bpadding5" href="/account/subscriptions">Email Preferences</a> -->
      <!--  </div>
    </div> -->
    </div>