<div class="index_products_wrap">
	<!-- <div class="products_category_title_wrap">
		<div class="pro_title last"  rel="recommended">Recommended<span class="downArrow">&nbsp;</span></div>
	</div> -->
	<!-- <div class="products_category_wrap"> -->
		<!-- <div class="new_arrivals" id="new_arrival">
			<?php //echo $this->getChildHtml('blanco.catalog.product.new'); ?>
		</div>
		<div class="new_arrivals" id="best_seller">
			<?php //echo $this->getChildHtml('blanco.catalog.product.new'); ?>
		</div> -->
		<div class="new_arrivals" id="recommended">
			<?php echo $this->getChildHtml('homepage.description'); ?>		
		</div>
	<!-- </div> -->

</div>

