

<div class="promo-content_wrapper">
<div class="promo-banner-wrapper">
<div class="custom-container">
    <div class="promo-image full-width">
        <a href="#"><img src="<?echo $this->getSkinUrl('images/custom/friendship-day-banner.jpg')?>" alt=""></a>
    </div>
</div>
</div> 
</div>

<div class="promo-content_wrapper">
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('promo_banner')->toHtml() ?>
	<?php echo $this->getChildHtml('latest_products'); ?>
<div>
<script type="text/javascript">
	jQuery(document).ready(function($){
		// $('.promo_banner_wrap .promo_banner img').lazy();
	});
</script>
