<div class="secure_shipping">

	<div class="secure_wrap">
		<div class="ship_title">Secure SHopping</div>
		<div class="shipDiv">
			<span class="card1"></span>
			<span class="mastercard"></span>
			<span class="visacard"></span>
			<span class="debitcard"></span>
			<span class="verisigncard"></span>
		</div>
	</div>

	<div class="shipping_wrap">
	<div class="ship_title">SHIPPING PARTNERS</div>
	<div class="shipPartner">
			<span class="aramex">&nbsp;</span>
			<span class="bluedart">&nbsp;</span>
		</div>

	</div>
	<div class="follow_us_wrap">
		<div class="ship_title">Follow us on</div>
		<a href="https://www.facebook.com/" target ="_blank" class="facebook">&nbsp;</a>
		<a href="https://twitter.com/" target ="_blank" class="twitter">&nbsp;</a>
		<a href="https://plus.google.com/" target ="_blank" class="gplus">&nbsp;</a>
		<a href="http://www.pinterest.com/" target ="_blank" class="pintrest">&nbsp;</a>
		<a href="http://www.youtube.com/" target ="_blank" class="youtube">&nbsp;</a>
		<a href="http://instagram.com/" target ="_blank" class="instagram">&nbsp;</a>
		<a href="https://www.linkedin.com/company/" target ="_blank" class="linkedin">&nbsp;</a>
		<a href="https://www.telegram.me/ target ="_blank" class="telegram">&nbsp;</a>
	</div>
</div>
