<?php
/*
*Block to display few products from each category
*on home page Recommended slider section
*
*/?>

<div class="newproducts">
    <div class="slider4">
        <?php
            $mainProductObj = array();
            $categories = Mage::getModel('catalog/category')->getCollection()
            ->addAttributeToSelect('entity_id')
            ->addAttributeToFilter('level', 2)
            ->addAttributeToFilter('is_active', 1);

            $storeId = Mage::app()->getStore()->getStoreId();
            
         ?>

            <?php foreach($categories as $category) :?>
                <?php
                    $_products = $products = Mage::getModel('catalog/category')->load($category->getId())
                                 ->getProductCollection()
                                 ->addStoreFilter()
                                 ->addAttributeToSelect('*') 
                                 ->addAttributeToFilter('status', 1) // enabled
                                 ->addAttributeToFilter('visibility', array('in' => array(4,2))) //visibility in catalog,search
                                 ->addAttributeToFilter('type_id', array('eq' => 'simple')) 
                                 ->setOrder('price', 'ASC')
                                 ->setPageSize(3);
                    
                ?>

                <?php  foreach ($_products->getItems() as $_product):?>
                    <?php $mainProductObj[$_product->getId()] = $_product; unset($_product) ?>
                <?php endforeach; ?>  

            <?php endforeach;?>
            <?php   
                $helper = Mage::helper('smsapp');
            ?>
                <?php $i=0; foreach ($mainProductObj as $_product): $i++; ?>
                <?php   $productname = $_product->getName();
                        $productUrl = $helper->getParentUrl($_product);
                        //$productUrl = Mage::getBaseUrl(). $_product->getUrlPath();
                        //echo $productUrl;exit;

                ?>
                    <div class="item slide <?php if(($i == 4 && $_products->getSize() < 5) || ($i == $_products->getSize()) ) echo 'last'?>"> 
                        <div class="inner_wrapper">
                            <a href="<?php echo  $productUrl; ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(200,300) ?>"alt="<?php echo $this->htmlEscape($_product->getName()) ?>" /></a>
                            <div class="new-description">

                                
                            
                                <h3><a href="<?php echo  $productUrl; ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php 
                                    echo substr($this->htmlEscape($productname),0,40); if(strlen($productname) > 40) echo '...'; ?></a></h3>
                                <?php echo $this->getPriceHtml($_product, true) ?>                    
                            
                                 
                                <div style="clear: both;"></div>
                            </div>   
                        </div>

                    </div>

                 
                <?php endforeach; ?>   
    </div>  
   
</div>             
