<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
    <div class="newproducts">
            <div class="slider4">
                <?php $i=0; foreach ($_products->getItems() as $_product): $i++; ?>
                    <div class="item slide <?php if(($i == 4 && $_products->getSize() < 5) || ($i == $_products->getSize()) ) echo 'last'?>"> 
                        <div class="inner_wrapper">
                            <?php include('view/labels.phtml')  ?>    
                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>          
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200,300) ?>"alt="<?php echo $this->htmlEscape($_product->getName()) ?>" /></a>
                            <div class="new-description">

                                <ul class="add-to-links">
                                    <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                        <li class="comp"><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Compare') ?></a></li>
                                    <?php endif; ?>
                                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                        <li class="wish"><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Wishlist') ?></a></li>
                                    <?php endif; ?>
                                </ul>
                            
                                <h3><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h3>
                                <?php echo $this->getPriceHtml($_product, true) ?>                    
                            
                                <?php if($_product->isSaleable()): ?>
                                    <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                <?php else: ?>
                                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                <?php endif; ?>
                                <div style="clear: both;"></div>
                            </div>   
                        </div>                 
                    </div>
                <?php endforeach; ?>   
            </div>        
    </div>             
<?php endif; ?>
<script type="text/javascript">
    jQuery(document).ready(function($){
    
    });
</script>