.elastic-search-result h2.product-name{color: #333; } .elastic-search-result .search_price{font-weight: normal; color: #999; text-align: center; } .search_product_list{text-decoration: none; } .elastic-search-result .products-grid{border-bottom: none; }
