
div.amshopby-column {
    float:left; width:83px;
}

select.amshopby-select {
    width:170px;
}

.amshopby-logo{
padding: 0pt 10px 10px 0pt; float: left;
}

.amshopby-featured {
    padding: 5px 5px 5px 5px;
}

.amshopby-link{
    float:left;
    padding-left:5px;
    padding-top:5px;
}

.amshopby-clearer {
	display:block;
	clear:both;
	overflow: hidden;
}
div.block-layered-nav dd a {padding:0px 5px 0px 0px; display:block; float: left;}
div.block-layered-nav dd a.amshopby-attr, div.block-layered-nav dd a.amshopby-price {background: url("../images/FME/Check-Box.png") no-repeat 0px 2px; padding-left: 20px; margin-left: 12px; color: #707070; text-decoration: none; margin-bottom: 5px;}
div.block-layered-nav dd a.amshopby-attr:hover { color: #000;}
div.block-layered-nav dd a.amshopby-attr-selected {background: url("../images/FME/Check-Box.png") no-repeat 0px -16px !important; padding-left: 20px; margin-left: 12px; color: #707070; text-decoration: none; margin-bottom: 5px;}
div.block-layered-nav dd a.amshopby-attr-inactive {pointer-events: none; color: #666666}
div.block-layered-nav dd a img {padding: 0px 4px 5px; float:left;}

div.block-layered-nav dd li.amshopby-cat-level-2 {padding-left:10px;}
div.block-layered-nav dd li.amshopby-cat-level-3 {padding-left:20px;}

div.block-layered-nav dd a.amshopby-cat-selected {font-weight: bold;
color:black; text-decoration: none; cursor:text;}

div.block-layered-nav dd li span.amshopby-plusminus {float:left;
display:block; width:15px; height:15px; cursor:pointer;
background:transparent url(../images/amshopby-plus.gif)  no-repeat;}
div.block-layered-nav dd li span.minus {background:transparent
url(../images/amshopby-minus.gif) no-repeat;}
div.block-layered-nav dd li:after {display:block; content:".";
clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }



div.block-layered-nav.amshopby-collapse-enabled dt {
 cursor:pointer;
 padding-left:15px;
 background:url(../images/amshopby-expanded.gif) center left no-repeat;
}
div.block-layered-nav.amshopby-collapse-enabled dt.amshopby-collapsed {background:url(../images/amshopby-collapsed.gif) center left no-repeat}


div.block-layered-nav div.amshopby-slider {
	 position:relative; margin:10px 4px 5px 4px; z-index:9; height:18px;  background: url(../images/amshopby-slider-bg.gif) repeat-x 0 50%; cursor:pointer;
}
div.block-layered-nav div.amshopby-slider div.handle {margin-left:-4px; width:8px; top:3px; height:14px; background: transparent url(../images/amshopby-hadle.png) no-repeat; position: absolute; cursor:move; z-index: 2;}

/*
 * Slider labels
 */
.amshopby-slider-price {
	color: #798794;
}
.amshopby-slider-price-from {
	float: left;

}
.amshopby-slider-price-to {
	float: right;
}

.amshopby-slider-handle-right {
	position: absolute;
	top: 14px;
	right: 0px;
}

.amshopby-slider-handle-left {
	position: absolute;
	top: 14px;
	left: 0px;
}

.amshopby-tooltip {
    padding:2px 5px;
    background:#FEC;
    border:1px solid #FAA819;
    color:#1F5070;
    text-align:left;
    width:200px;
    position:absolute;
}

.amshopby-slider-price-range
{
	text-align: center;
	font-size: 0.9em;
}

.amshopby-tooltip-img {
    cursor:help;
    display: inline;
}

div.block-layered-nav, div.amshopby-page-container, div.amshopby-filters-top {
    position: relative;
    border: 1px solid #969696;
}
div.amshopby-overlay {
    background-color: #FFFFFF;
    height: 100%;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 555;
}
div.amshopby-overlay img {
    top: 100px;
    left: 45%;
    display: block;
    position: absolute;
}

div.amshopby-overlay div {
    margin: 0 auto;
    display: block;
	width: 300px;
	height: 200px;
	background:  url('../images/amshopby-overlay.gif') 50% 50% no-repeat;
}

/*
 * Advanced Categories
 */
.amshopby-advanced li {
	clear: both;
}
.amshopby-advanced li.level1 {
	padding-left: 20px;
}
.amshopby-advanced li.level2 {
	padding-left: 30px;
}
.amshopby-advanced li.level3 {
	padding-left: 40px;
}
.amshopby-advanced li.level4 {
	padding-left: 50px;
}


.amshopby-advanced li.active > a {
	font-weight: bold;
}

/*
 * Slider Bar
 */
.amshopby-slider-bar {
	position:absolute;
	background: #999;
	height: 6px;
	top: 6px;
	z-index: 1;
}

/*
 * Subcategories block
 */
.amshopby-subcategory-image {
	overflow: auto;
}

.btn-remove-inline { background-image: url('../images/am_btn_remove.gif'); background-repeat: no-repeat; width:13px; height:12px; margin-left: 4px; }
.btn-remove-inline:hover { /* background-position: center bottom; */ }
.amshopby-hightlighted { background: yellow;}

.btn-remove-inline img {display: inline;}

div.block-layered-nav div.amshopby-slider div.handle.active { z-index: 3; }

.amshopby-slider-ui { background: url(../images/amshopby-slider-bg.gif) repeat-x 0 50%; margin: 10px .4em; }
.amshopby-slider-ui .ui-slider-handle { background-color: #f18200; border: 1px solid #de5400; box-sizing: border-box; outline: none; }
.amshopby-slider-ui .ui-slider-range { background-color: #999999; }

.ui-widget-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
.ui-slider { cursor: pointer; position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 0.8em; height: 1.2em; cursor: pointer; -ms-touch-action: none; touch-action: none; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range { filter: inherit; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.2em; margin-left: -.4em; }
.ui-slider-horizontal .ui-slider-range { top: 0.2em; height: 8px; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

.amshopby-narrow-by-list table td { vertical-align: top; }
/* mihir css */
dl#narrow-by-list dt { background-color: #dcdcdc; height: 30px; display: block; line-height: 30px; text-transform: capitalize; border-top: 1px solid #969696; border-bottom: 1px solid #969696; font-weight: normal;
        background-image: url("../images/FME/Check-Box.png");
        background-repeat: no-repeat;
        background-position: 90% -72px;
}
dl#narrow-by-list dt.amshopby-collapsed{
    background-position: 90% -135px !important;
}
.amshopby-filters-top #narrow-by-list .filtername-top{
    background: none;
border-top: none;
border-bottom: 1px dotted #969696;
}
.amshopby-filters-top .filtername-top { float: left; width: 25%; padding: 0 !important; text-indent: 10px; cursor: pointer;}
.amshopby-filters-top .amshopby-attr:hover { color: #000 !important;}
.amshopby-filters-top .top-filter-options { display: none;   clear: both !important; max-height: 85px; overflow: auto; overflow-x: hidden;}
.top-filter-options a { background: url("../images/FME/Check-Box.png") no-repeat 0px 2px; padding-left: 20px; margin-left: 12px; float: left; height: 18px; margin:6px 10px; text-decoration: none; color: #707070;}
.amshopby-filters-top .top-selected { border-bottom: 1px solid #d4e04c !important; font-weight: bold;}
.amshopby-filters-top { border: none !important;}
.filter-in-top { clear: both;}
.filter-in-top .amshopby-attr-selected {background: url("../images/FME/Check-Box.png") no-repeat 0px -16px !important; padding-left: 20px; margin-left: 12px; color: #707070; text-decoration: none; margin-bottom: 5px;}
.currently li { background: #fff;
float: left; color: #696969; margin-right: 10px; padding: 1px 5px; }
.block-layered-nav .btn-remove { float: left !important;}
dl#narrow-by-list { padding-top: 0 !important;}
.amshopby-filters-left { border-top: 0 !important;}
.amshopby-filters-top  .currently{ overflow: hidden; margin-bottom: 10px;}
.block-layered-nav .count { display: none;}
#amshopby-page-container { border: none !important; width: 100% !important;}
.color-options-hide-label { background: none !important; float: left; width: 32px; padding: 0; margin: 2px;}
li[name="color-swatches"]{ float: left;}
li[name="color-swatches"] a{  padding: 0 !important; margin: 0 !important;  }
.currently .label { font-weight: bold; color: #000;}
.currently li .multiselect-child {background: #ccc; padding: 2px 5px; margin-right: 5px;}
.currently li .multiselect-child a { color: #000; font-weight: bold; transition: 0.2s; text-decoration: none;   font-size: 12px; margin-right: 2px;}
.currently li .multiselect-child a:hover { text-decoration: underline;}
.amshopby-filters-top .block-content { border-bottom: 1px dotted #ccc; padding-bottom: 10px !important;}
/*.top-filter-options:first-child { display: block !important; }*/
/* mihir css */
div.amshopby-overlay div {
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 200px;
    background: url(../images/amshopby-overlay.gif) 50% 50% no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


div.amshopby-overlay {
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    left: 0;
    opacity: 1;
    filter: alpha(opacity = 50);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 555;
}