.tracker-lbl {
  display: inline-block;
  width: 100%;
}
.tracker-lbl .order-lbl, .tracker-lbl .ship-lbl, .tracker-lbl .deliver-lbl {
  width: 33%;
  float: left;
  font-weight: bold;
  text-align: left;
}
.tracker-lbl .ship-lbl {
  width: 34%;
  text-align: center;
}
.tracker-lbl .deliver-lbl {
  text-align: right;
}

.tracker {
  height: 30px;
}
.tracker .order-lbl {
  width: 33%;
  float: left;
}
.tracker span.ordered {
  width: 33%;
  float: left;
  position: relative;
}
.tracker span.ordered:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: #D1D1D1;
  top: 0px;
}
.tracker span.ordered.active:after {
  background-color: #00c77b;
}
.tracker span.ordered .track-status {
  position: relative;
  top: 30px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  opacity: 0;
}
.tracker span.ordered label {
  position: absolute;
  top: 50px;
  left: 0;
}
.tracker span.shipped {
  width: 34%;
  float: left;
  position: relative;
}
.tracker span.shipped:before {
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
  height: 25px;
  background-color: #D1D1D1;
}
.tracker span.shipped:after {
  content: '';
  position: absolute;
  right: 0;
  width: 50%;
  height: 25px;
  background-color: #D1D1D1;
  top: 0px;
}
.tracker span.shipped.active:before {
  background-color: #00c77b;
  height: 25px;
}
.tracker span.shipped.active.delieverd-state:after {
  background-color: #00c77b;
  height: 25px;
}
.tracker span.shipped .track-status {
  position: relative;
  top: 30px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  opacity: 0;
}
.tracker span.shipped label {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  text-align: center;
}
.tracker span.delivered {
  width: 33%;
  float: left;
  position: relative;
}
.tracker span.delivered:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: #D1D1D1;
  top: 0;
}
.tracker span.delivered.active:before {
  background-color: #00c77b;
  height: 25px;
}
.tracker span.delivered label {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  text-align: right;
}
.tracker span.delivered .track-status {
  position: relative;
  top: 30px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  opacity: 0;
}

.tracked-status {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0 0 5px 0;
}
.tracked-status .track-deliver {
  color: #05AC6D;
}
.tracked-status .track-deliver label {
  margin: 0 0 0 5px;
}
.tracked-status .track-ship {
  color: #00B671;
}
.tracked-status .track-ship label {
  margin: 0 0 0 5px;
}
.tracked-status .track-order {
  color: #00c77b;
}
.tracked-status .track-order label {
  margin: 0 0 0 5px;
}

.ship-title {
  font-size: 1.3em;
  margin: 30px 0 5px 0;
  font-weight: bold;
  border-top: 1px dashed #ccc;
  padding: 20px 0 0 0;
}

.shipment-details {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 60%;
  overflow: hidden;
  border-top: 0px;
}
.shipment-details .group-by-date {
  box-sizing: border-box;
}
.shipment-details .group-by-date .scan-date {
  padding: 10px;
  font-weight: bold;
  background-color: #f4f4f4;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}
.shipment-details .group-by-date .shipment-info {
  padding: 1.5%;
  border-bottom: 1px solid #cccccc;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.shipment-details .group-by-date .shipment-info:last-child {
  border-bottom: 0px;
}
.shipment-details .group-by-date .shipment-info .time {
  width: 22%;
  float: left;
}
.shipment-details .group-by-date .shipment-info .location {
  width: 76%;
  margin-left: 2%;
  float: left;
}