/* Global and reqiured variables defined in _var.scss partial file */
.box-sizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }

.custom_icon {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.btn-black {
  background-color: #5cc6d0 !important;
  border-radius: 4px;
  padding: 7px 18px 10px !important;
  color: #fff !important;
  text-transform: lowercase;
  font-size: 1.3em; }
  .btn-black:hover {
    background-color: #5cc6d0 !important; }

.txt-box {
  width: 250px;
  border-radius: 4px;
  border: 1px solid #bebebe;
  font-size: 20px;
  float: left;
  padding: 5px 15px 7px !Important; }

.globus-radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.transition_effect {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratbold';
  src: url("../font/Montserrat-Bold.eot");
  src: url("../font/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Montserrat-Bold.woff2") format("woff2"), url("../font/Montserrat-Bold.woff") format("woff"), url("../font/Montserrat-Bold.ttf") format("truetype"), url("../font/Montserrat-Bold.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratreg';
  src: url("../font/Montserrat-Regular.eot");
  src: url("../font/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Montserrat-Regular.woff2") format("woff2"), url("../font/Montserrat-Regular.woff") format("woff"), url("../font/Montserrat-Regular.ttf") format("truetype"), url("../font/Montserrat-Regular.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.account_pages .change_add a {
  color: #5cc6d0;
  font-size: 12px;
  font-style: italic; }
.account_pages .col2-set .col-1 {
  width: 46%; }
.account_pages .wrapper .page .main-container {
  display: inline-block;
  margin-top: 50px;
  width: 100%; }
  .account_pages .wrapper .page .main-container button.button {
    float: right;
    background: #5cc6d0;
    padding: 7px 14px;
    border-radius: 13px 0 13px 0;
    font-family: 'montserratreg';
    letter-spacing: -1px; }
    .account_pages .wrapper .page .main-container button.button span {
      background: none !important;
      padding: 0;
      height: auto;
      font-size: 22px;
      font-family: 'montserratreg';
      letter-spacing: -1px;
      text-transform: lowercase; }
  .account_pages .wrapper .page .main-container .main .col-main {
    width: 74%;
    float: right;
    box-sizing: border-box;
    padding: 0 42px;
    border: 0;
    border-left: 2px solid #cecece;
    min-height: 313px; }
    .account_pages .wrapper .page .main-container .main .col-main #my-orders-table {
      margin-bottom: 23px; }
      .account_pages .wrapper .page .main-container .main .col-main #my-orders-table td {
        padding: 5px;
        border: 1px solid #2A2A2A;
        font-size: 12px; }
        .account_pages .wrapper .page .main-container .main .col-main #my-orders-table td a {
          color: #5cc6d0; }
      .account_pages .wrapper .page .main-container .main .col-main #my-orders-table th {
        font-size: 14px; }
    .account_pages .wrapper .page .main-container .main .col-main .welcome-msg {
      margin-bottom: 23px; }
      .account_pages .wrapper .page .main-container .main .col-main .welcome-msg p {
        color: #363636;
        font-size: 16px;
        font-family: 'montserratreg';
        letter-spacing: -1px;
        line-height: 23px; }
    .account_pages .wrapper .page .main-container .main .col-main .box-head {
      display: none; }
  .account_pages .wrapper .page .main-container .main .col-left {
    float: left;
    width: 26%;
    box-sizing: border-box;
    padding: 0px 0 0 30px;
    border: 0; }
.account_pages .fk-lcat-main-header {
  font-family: 'montserratbold';
  letter-spacing: -1px;
  font-size: 24px;
  color: #363636;
  text-transform: lowercase;
  margin-bottom: 25px; }
.account_pages .nav-section-cat-list ul li {
  color: #363636;
  font-family: 'montserratreg';
  letter-spacing: -1px;
  margin-bottom: 14px;
  text-transform: lowercase;
  font-size: 17px; }
  .account_pages .nav-section-cat-list ul li a {
    color: #363636; }
  .account_pages .nav-section-cat-list ul li strong {
    color: #5cc6d0;
    font-weight: normal; }
.account_pages .page-title {
  border-bottom: 0;
  padding: 0 0 13px; }
  .account_pages .page-title h1 {
    font-family: 'montserratbold';
    letter-spacing: -1px;
    font-size: 24px;
    line-height: 32px;
    color: #363636;
    text-transform: lowercase; }
.account_pages .box-content {
  min-height: 135px; }
  .account_pages .box-content p {
    font-size: 16px;
    color: #363636;
    font-weight: normal;
    font-family: 'montserratreg';
    letter-spacing: -1px; }
  .account_pages .box-content address {
    font-size: 16px;
    margin-top: 5px;
    color: #363636;
    font-weight: normal;
    font-family: 'montserratreg';
    letter-spacing: -1px;
    line-height: 23px; }
.account_pages .change_pw {
  color: #5cc6d0;
  font-size: 14px;
  text-transform: lowercase; }
.account_pages .box-title {
  border-bottom: 1px solid #dedede;
  padding-bottom: 13px;
  margin-bottom: 17px; }
  .account_pages .box-title h3 {
    font-family: 'montserratbold';
    letter-spacing: -1px;
    font-size: 18px;
    color: #363636;
    text-transform: lowercase;
    display: inline-block; }
  .account_pages .box-title a {
    color: #5cc6d0;
    font-size: 14px;
    text-transform: lowercase; }
.account_pages span.brc {
  font-family: 'montserratreg';
  letter-spacing: -1px;
  color: #363636; }
.account_pages .edit_address {
  font-size: 14px;
  text-transform: lowercase;
  font-weight: normal;
  font-family: 'montserratregular'; }
  .account_pages .edit_address a {
    color: #5cc6d0; }
.account_pages .box-content h4 {
  font-family: 'montserratbold';
  letter-spacing: -1px;
  font-size: 16px;
  color: #363636;
  text-transform: lowercase;
  display: inline-block;
  font-weight: bold; }
.account_pages .addresses-primary ol li,
.account_pages .addresses-additional ol li {
  margin-top: 17px; }
  .account_pages .addresses-primary ol li h3,
  .account_pages .addresses-additional ol li h3 {
    font-weight: normal; }
.account_pages .fieldset {
  border: 0;
  background: #fff;
  padding: 0;
  margin: 0; }
  .account_pages .fieldset .legend {
    border: 1px solid #fff;
    background: transparent;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #363636;
    font-family: 'montserratreg';
    letter-spacing: -1px;
    font-size: 17px;
    margin-bottom: 10px;
    border-bottom: 1px solid #CECECE;
    padding-bottom: 7px;
    font-weight: normal; }
.account_pages .customer-name {
  display: inline-block;
  width: 100%; }
.account_pages .buttons-set {
  border: 0;
  width: 80%;
  box-sizing: border-box; }
.account_pages .back-link {
  background: #1e1e1e;
  padding: 7px 14px;
  border-radius: 13px 0 13px 0; }
  .account_pages .back-link a {
    color: #fff;
    font-size: 22px;
    font-family: 'montserratreg';
    letter-spacing: -1px;
    text-transform: lowercase; }
.account_pages .buttons-set {
  padding-top: 17px; }
  .account_pages .buttons-set button.button {
    float: right;
    background: #5cc6d0;
    padding: 7px 14px;
    border-radius: 13px 0 13px 0;
    font-family: 'montserratreg';
    letter-spacing: -1px; }
    .account_pages .buttons-set button.button span {
      background: none !important;
      padding: 0;
      height: auto;
      font-size: 22px;
      font-family: 'montserratreg';
      letter-spacing: -1px;
      text-transform: lowercase; }
.account_pages .form-list {
  width: 80%; }
  .account_pages .form-list select {
    width: 100%;
    padding: 9px;
    border-radius: 16px 0 16px 0 !important;
    box-sizing: border-box; }
  .account_pages .form-list li {
    margin: 0 0 13px; }
    .account_pages .form-list li.wide .input-box {
      width: 100%; }
    .account_pages .form-list li.wide input.input-text {
      width: 100%; }
  .account_pages .form-list .field {
    float: left;
    width: 49%;
    margin-right: 2%;
    margin-top: 13px; }
    .account_pages .form-list .field:last-child {
      margin-right: 0; }
    .account_pages .form-list .field .input-box {
      width: 100%; }
      .account_pages .form-list .field .input-box input.input-text {
        width: 100%; }
  .account_pages .form-list label {
    color: #363636 !important;
    font-family: 'montserratreg';
    letter-spacing: -1px;
    font-size: 15px;
    font-weight: normal !important;
    margin-bottom: 7px; }
  .account_pages .form-list .input-box {
    width: 100%; }
  .account_pages .form-list input.input-text {
    width: 49%;
    padding: 9px;
    border-radius: 16px 0 16px 0 !important;
    box-sizing: border-box; }
.account_pages input[type=radio] {
  display: none; }
  .account_pages input[type=radio]:checked + label:before {
    color: #06357A;
    background-color: #fff;
    font-size: 29px;
    text-align: center;
    line-height: 12px;
    text-shadow: none;
    content: "";
    border: 0;
    background: url(../images/check_on.png) no-repeat;
    width: 17px;
    height: 17px; }
.account_pages input[type=radio] + label {
  margin-left: 24px;
  position: relative;
  cursor: pointer; }
  .account_pages input[type=radio] + label:before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: middle;
    margin-right: 8px;
    border: 2px solid #5cc6d0;
    background-color: white;
    border-radius: 50%;
    box-shadow: inherit;
    position: absolute;
    left: -24px;
    top: 2px; }
.account_pages input[type=checkbox] {
  display: none; }
  .account_pages input[type=checkbox]:checked + label:before {
    color: #06357A;
    background-color: #fff;
    font-size: 29px;
    text-align: center;
    line-height: 12px;
    text-shadow: none;
    content: "";
    border: 0;
    background: url(../images/checkbox_on.png) no-repeat;
    width: 17px;
    height: 17px; }
.account_pages input[type=checkbox] + label {
  margin-left: 24px;
  position: relative;
  cursor: pointer; }
  .account_pages input[type=checkbox] + label:before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: middle;
    margin-right: 8px;
    border: 2px solid #5cc6d0;
    background-color: white;
    border-radius: 4px 0 4px 0;
    box-shadow: inherit;
    position: absolute;
    left: -24px;
    top: 2px; }
.account_pages .product-name {
  font-family: 'montserratbold'; }
.account_pages .inner {
  font-size: 12px;
  color: #A5A1A1; }
.account_pages .data-table tr.even {
  background-color: rgba(253, 244, 243, 0.6); }
.account_pages .data-table th {
  padding: 5px;
  border: 1px solid #AD2212;
  white-space: nowrap;
  background: #5cc6d0;
  color: #fff;
  font-family: 'montserratreg';
  font-weight: normal;
  font-size: 15px; }
.account_pages .product-image img {
  border: 1px solid #F5F0F0;
  box-sizing: border-box; }
.account_pages .clear-rawwishlist {
  margin-top: 20px; }
  .account_pages .clear-rawwishlist .addmargin {
    padding-bottom: 0px !important; }
.account_pages .username_area {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: normal;
  color: #363636; }
.account_pages .email_area {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: normal;
  color: #363636; }
.account_pages .change_pw {
  margin-bottom: 10px; }
.account_pages .username_area .title {
  margin-right: 9px; }
.account_pages .messages .success-msg {
  border-color: #4CAF50;
  background-color: #F3EEEE;
  border-radius: 15px 0 15px 0;
  color: #4CAF50; }
.account_pages .messages:before {
  color: #4CAF50; }
.account_pages #subText {
  color: #5cc6d0; }
.account_pages .myorder-tabs {
  margin-bottom: 0px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 0 0 0px 0; }
  .account_pages .myorder-tabs ul li {
    width: 46%;
    float: left;
    cursor: pointer;
    background-color: #fff;
    padding: 5px 2%; }
    .account_pages .myorder-tabs ul li span {
      padding: 0 5px; }
    .account_pages .myorder-tabs ul li.selected {
      font-weight: bold;
      background-color: #eee; }
.account_pages .recent-orders, .account_pages .past-orders {
  padding: 10px;
  box-sizing: border-box;
  background-color: #eee;
  margin: -4px 0 0 0; }
.account_pages .single_ordered-product-info {
  display: inline-block;
  width: 24%;
  float: left;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 0 1% 1% 0;
  padding: 1%; }
  .account_pages .single_ordered-product-info .product_details {
    font-size: 12px;
    margin-top: 5px;
    color: #5cc6d0;
    line-height: 16px; }
  .account_pages .single_ordered-product-info .product-image img {
    border: 1px solid #F5F0F0;
    box-sizing: border-box;
    width: 100%; }
.account_pages .data-table .product_price {
  font-weight: bold;
  margin: 5px 0; }
.account_pages .data-table .product_label {
  color: #fff;
  font-size: 12px;
  border: 1px solid #5cc6d0;
  width: 100%;
  text-align: center;
  border-radius: 3px;
  padding: 1px;
  background: #5cc6d0;
  box-sizing: border-box; }
.account_pages .data-table .quantity {
  margin: 4px 0;
  font-size: 13px; }
.account_pages .data-table .order_list {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 5px;
  background: #F7F7F7;
  border: 1px solid #E8E8E8;
  box-sizing: border-box; }
  .account_pages .data-table .order_list:nth-child(2n) {
    background: #fff; }
.account_pages .data-table .order_id {
  width: 20%;
  float: left;
  color: #5cc6d0; }
.account_pages .data-table .ordered-products {
  width: 60%;
  float: left; }
.account_pages .data-table .order_total {
  float: left;
  width: 20%;
  text-align: right;
  font-weight: bold;
  margin-bottom: 5px; }
.account_pages .data-table .view_all {
  display: block;
  border-radius: 11px 0 11px 0;
  clear: left;
  width: 77px;
  text-align: center;
  float: right;
  background: #5cc6d0;
  font-family: 'montserratreg';
  padding: 5px 0px;
  cursor: pointer; }
  .account_pages .data-table .view_all a {
    color: #fff; }
    .account_pages .data-table .view_all a:hover {
      color: #fff !important; }
.account_pages .data-table .toggle-details {
  display: block;
  border-radius: 11px 0 11px 0;
  clear: left;
  width: 77px;
  text-align: center;
  float: right;
  background: #5cc6d0;
  font-family: 'montserratreg';
  padding: 5px 0px;
  color: #fff;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer; }
  .account_pages .data-table .toggle-details:hover {
    color: #fff !important; }
.account_pages .pager {
  width: 100%;
  float: left;
  box-sizing: border-box;
  background: #fff; }
.account_pages .close_btn {
  color: #5cc6d0;
  margin: 8px 0 8px 0px;
  float: left;
  width: 100%; }
.account_pages .messages .success-msg:before {
  color: #4CAF50; }

.customer-account-changepassword .form-list label {
  margin-right: 23px; }

.customer-address-index .main-container button.button {
  padding: 5px 10px !important; }
  .customer-address-index .main-container button.button span {
    font-size: 19px !important; }

.rawwishlist-index-index .wrapper .page .main-container .add-to-cart-alt button.button,
.wishlist-index-index .wrapper .page .main-container .add-to-cart-alt button.button {
  padding: 4px 8px;
  margin-top: -18px; }
  .rawwishlist-index-index .wrapper .page .main-container .add-to-cart-alt button.button span,
  .wishlist-index-index .wrapper .page .main-container .add-to-cart-alt button.button span {
    font-size: 15px; }
.rawwishlist-index-index .inner,
.wishlist-index-index .inner {
  line-height: 17px; }
.rawwishlist-index-index .btn-remove2,
.wishlist-index-index .btn-remove2 {
  background: url(../images/btn_trash.png) no-repeat; }
.rawwishlist-index-index button.button,
.wishlist-index-index button.button {
  margin: 0 auto;
  float: none; }
.rawwishlist-index-index .product-view,
.wishlist-index-index .product-view {
  width: 100%;
  float: left;
  text-align: center; }
.rawwishlist-index-index .configurable-product,
.wishlist-index-index .configurable-product {
  width: 180px; }
  .rawwishlist-index-index .configurable-product .old-price .price,
  .wishlist-index-index .configurable-product .old-price .price {
    color: #9C9C9C !important; }
  .rawwishlist-index-index .configurable-product span.regular-price,
  .wishlist-index-index .configurable-product span.regular-price {
    color: #5cc6d0; }
  .rawwishlist-index-index .configurable-product span.price-label,
  .wishlist-index-index .configurable-product span.price-label {
    width: 100px;
    display: inline-block;
    color: #2A2A2A;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 3px; }
  .rawwishlist-index-index .configurable-product span.price,
  .wishlist-index-index .configurable-product span.price {
    font-size: 13px;
    color: #5cc6d0; }
  .rawwishlist-index-index .configurable-product span.price-saving-percentage,
  .wishlist-index-index .configurable-product span.price-saving-percentage {
    font-size: 12px;
    color: #fff;
    background: #01790B;
    padding: 2px 5px;
    border-radius: 4px;
    float: left;
    margin-top: 5px; }

.sales-order-view dl.item-options {
  display: inline-block;
  width: 100%; }
  .sales-order-view dl.item-options dt {
    display: inline-block; }
  .sales-order-view dl.item-options dd {
    display: inline-block;
    color: #DD4231; }

.link-print {
  background: url(../images/i_print.png) 0 2px no-repeat; }

.sales-order-view .col2-set .col-1 {
  width: 50%;
  float: left !important; }
.sales-order-view .box-content address {
  margin-top: 0; }
.sales-order-view h2.table-caption {
  margin: 7px 0; }
.sales-order-view .summary-inner {
  margin-top: 6px;
  margin-right: 17px;
  font-family: 'montserratreg';
  letter-spacing: -1px;
  line-height: 23px; }
  .sales-order-view .summary-inner ul li {
    width: 100%;
    margin-bottom: 3px; }
    .sales-order-view .summary-inner ul li .line {
      width: 100%;
      display: inline-block; }
    .sales-order-view .summary-inner ul li label {
      float: left;
      margin-right: 10px;
      font-weight: bold;
      width: 90px; }
    .sales-order-view .summary-inner ul li .fk-inline-block {
      float: left; }
      .sales-order-view .summary-inner ul li .fk-inline-block span.price {
        color: #DD4231; }

.storelocator-index-index .hidestorecon {
  display: none; }
.storelocator-index-index .gmnoprint {
  display: none; }
.storelocator-index-index h1.storelocator-heading {
  background: #44beaa;
  text-align: left;
  border-radius: 15px 0 0 0;
  padding: 13px 33px;
  box-sizing: border-box;
  color: #fff;
  text-shadow: initial;
  font-size: 23px;
  font-weight: normal !important;
  font-family: 'montserratregular';
  margin: 0; }
.storelocator-index-index img#store-reload {
  position: absolute;
  top: 35px; }
.storelocator-index-index .storelocator-info {
  display: none; }
.storelocator-index-index select option {
  color: #5cc6d0;
  background: black;
  border-radius: 0 0 5px 0;
  padding-left: 5px; }
.storelocator-index-index .store-inner {
  width: 96%;
  display: inline-block;
  float: right;
  margin: 2%;
  padding: 5px;
  box-sizing: border-box;
  border-bottom: 2px dotted #ccc;
  padding-bottom: 9px; }
  .storelocator-index-index .store-inner .close_locator {
    content: 'X';
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 1.2em;
    background-color: #DD4231;
    color: #fff; }
  .storelocator-index-index .store-inner:last-child {
    border-bottom: none; }
.storelocator-index-index .setOnMap {
  color: #DD4231; }
.storelocator-index-index #store {
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  width: 270px; }
.storelocator-index-index .main-content-div {
  position: relative; }
  .storelocator-index-index .main-content-div .storeselect {
    display: inline-block;
    position: absolute;
    top: 23px;
    left: 27px;
    z-index: 2;
    background: #fff;
    border: 2px solid #000;
    border-radius: 16px 0;
    box-sizing: border-box;
    margin: 0;
    width: 280px; }
    .storelocator-index-index .main-content-div .storeselect .select_box {
      background: #000;
      float: right;
      border-radius: 0 0 12px 0;
      padding: 0;
      height: 26px; }
      .storelocator-index-index .main-content-div .storeselect .select_box #city {
        color: #fff;
        float: right !important;
        border: 0;
        border-radius: 0 0 12px 0;
        background: transparent;
        outline: 0;
        outline: none;
        padding: 4px;
        height: 26px; }
    .storelocator-index-index .main-content-div .storeselect .select_city {
      float: left;
      padding: 4px 9px; }

@media all and (min-width: 736px) {
  .promo-content_wrapper .promo-banner-wrapper {
    display: block;
    width: 100%;
    margin: 0 0 0px 0;
    margin-top: 5px;
    float: left; }
    .promo-content_wrapper .promo-banner-wrapper .top-img-left {
      width: 38.6%;
      padding: 0 5px 0 0;
      margin: 0;
      box-sizing: border-box;
      overflow: hidden; }
    .promo-content_wrapper .promo-banner-wrapper .top-img-right {
      width: 61.4%;
      overflow: hidden; }

  .catalog-category-view .col-left #narrow-by-list dd.size ol li, .catalogsearch-result-index .col-left #narrow-by-list dd.size ol li {
    display: inline-block;
    margin: 0px 2% 2% 0;
    padding: 0px;
    width: 23%;
    box-sizing: border-box;
    background-color: #929292;
    text-align: center; }
    .catalog-category-view .col-left #narrow-by-list dd.size ol li:first-child, .catalogsearch-result-index .col-left #narrow-by-list dd.size ol li:first-child {
      border-top-left-radius: 18px; }
    .catalog-category-view .col-left #narrow-by-list dd.size ol li:last-child, .catalogsearch-result-index .col-left #narrow-by-list dd.size ol li:last-child {
      border-bottom-right-radius: 18px; }
    .catalog-category-view .col-left #narrow-by-list dd.size ol li a, .catalogsearch-result-index .col-left #narrow-by-list dd.size ol li a {
      padding: 11px 0px;
      width: 100%;
      font-size: 18px;
      text-transform: uppercase;
      background: transparent; } }
@media all and (min-width: 1366px) {
  .catalog-category-view .col-left, .catalogsearch-result-index .col-left {
    width: 16% !important; } }
@media all and (max-width: 960px) {
  .account_pages .wrapper .page .main-container .main .col-main {
    width: 72%;
    padding: 0 20px; }
  .account_pages .wrapper .page .main-container .main .col-left {
    width: 28%;
    padding: 0px 0 0 17px; }
  .account_pages .form-list {
    width: 100%; }
  .account_pages .buttons-set {
    width: 100%; } }
@media all and (max-width: 840px) {
  .catalog-category-view .col-left #narrow-by-list dd.size ol li a, .catalogsearch-result-index .col-left #narrow-by-list dd.size ol li a {
    font-size: 14px; }

  .account_pages .wrapper .page .main-container .main .col-main #my-orders-table th {
    font-size: 13px;
    text-align: left !important;
    padding: 5px 2px; }
  .account_pages .wrapper .page .main-container .main .col-main #my-orders-table td img {
    width: 66px;
    border: 1px solid #ccc;
    padding: 2px;
    box-sizing: border-box; } }
.rawwishlist-index-index .configurable-product,
.wishlist-index-index .configurable-product {
  width: 165px; }
  .rawwishlist-index-index .configurable-product span.price-label,
  .wishlist-index-index .configurable-product span.price-label {
    width: 88px; }
.rawwishlist-index-index #wishlist-table th,
.wishlist-index-index #wishlist-table th {
  padding: 5px 3px;
  font-size: 14px; }
.rawwishlist-index-index .product-image img,
.wishlist-index-index .product-image img {
  width: 73px;
  height: auto; }

.rawwishlist-index-index .price-box {
  width: 165px; }
.rawwishlist-index-index span.price-label {
  width: 88px; }
.rawwishlist-index-index .clear-rawwishlist {
  float: right; }

@media all and (max-width: 768px) {
  .rawwishlist-index-index .product-image img,
  .wishlist-index-index .product-image img {
    width: auto; }
  .rawwishlist-index-index #wishlist-table thead,
  .wishlist-index-index #wishlist-table thead {
    display: none; }
  .rawwishlist-index-index #wishlist-table tr,
  .wishlist-index-index #wishlist-table tr {
    float: left;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd; }
    .rawwishlist-index-index #wishlist-table tr td,
    .wishlist-index-index #wishlist-table tr td {
      padding: 5px;
      border: 1px solid #ddd;
      float: left;
      width: 100%;
      padding-left: 140px;
      border-bottom: 0;
      box-sizing: border-box; }
      .rawwishlist-index-index #wishlist-table tr td:before,
      .wishlist-index-index #wishlist-table tr td:before {
        float: left;
        position: absolute;
        left: 13px;
        display: inline-block;
        width: auto;
        color: #5cc6d0;
        text-align: left;
        padding-left: 8px; }
      .rawwishlist-index-index #wishlist-table tr td:nth-child(1):before,
      .wishlist-index-index #wishlist-table tr td:nth-child(1):before {
        content: "Product Image"; }
      .rawwishlist-index-index #wishlist-table tr td:nth-child(2):before,
      .wishlist-index-index #wishlist-table tr td:nth-child(2):before {
        content: "Product Details"; }
      .rawwishlist-index-index #wishlist-table tr td:nth-child(3):before,
      .wishlist-index-index #wishlist-table tr td:nth-child(3):before {
        content: "Add to Cart"; }
      .rawwishlist-index-index #wishlist-table tr td:nth-child(4):before,
      .wishlist-index-index #wishlist-table tr td:nth-child(4):before {
        content: "Remove Product"; }
  .rawwishlist-index-index .wrapper .page .main-container .add-to-cart-alt button.button,
  .wishlist-index-index .wrapper .page .main-container .add-to-cart-alt button.button {
    margin-top: 9px;
    float: left; }

  .account_pages .fk-lcat-main-header {
    margin-bottom: 0;
    color: #5cc6d0;
    position: relative; }
    .account_pages .fk-lcat-main-header:before {
      content: "+";
      position: absolute;
      right: 7px;
      top: 0; }
    .account_pages .fk-lcat-main-header.close_panel:before {
      content: "-";
      position: absolute;
      right: 7px;
      top: 0; }
  .account_pages .wrapper .page .main-container {
    margin-top: 0;
    position: relative; }
    .account_pages .wrapper .page .main-container .main .col-main {
      width: 100%;
      padding: 0 7px;
      border: 0;
      position: relative;
      top: 52px; }
    .account_pages .wrapper .page .main-container .main .extra_curve {
      border-radius: 17px 0 0px 0 !important;
      border-bottom: 0 !important; }
    .account_pages .wrapper .page .main-container .main .bottom_curve {
      border-radius: 0px 0 17px 0 !important; }
    .account_pages .wrapper .page .main-container .main .nav-section {
      display: none;
      background: #fff;
      border: 1px solid #ccc;
      padding: 7px; }
      .account_pages .wrapper .page .main-container .main .nav-section .nav-section-cat-list ul li:last-child {
        margin-bottom: 0px; }
    .account_pages .wrapper .page .main-container .main .col-left {
      float: left;
      width: 100%;
      position: absolute;
      box-sizing: border-box;
      left: 0;
      top: 50px;
      padding: 0;
      cursor: pointer; }
      .account_pages .wrapper .page .main-container .main .col-left .gd-col {
        border: 1px solid #ccc;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        border-radius: 17px 0 17px 0;
        cursor: pointer; } }
@media all and (max-width: 640px) {
  .account_pages .wrapper .page .main-container .main .col-main #my-orders-table td img {
    width: auto;
    border: 1px solid #ccc;
    padding: 2px;
    box-sizing: border-box; }

  .customer-account-index #my-orders-table thead {
    display: none; }
  .customer-account-index #my-orders-table tr {
    float: left;
    margin-top: 7px;
    border-bottom: 1px solid #BFBFBF; }
  .customer-account-index #my-orders-table td {
    float: left;
    width: 100%;
    box-sizing: border-box;
    border: 0 !important;
    padding: 9px 0 !important;
    padding-left: 170px !important;
    position: relative;
    text-align: left !important;
    border: 1px solid #BFBFBF !important;
    border-bottom: 0 !important;
    font-size: 14px !important;
    font-weight: normal !important; }
    .customer-account-index #my-orders-table td:before {
      float: left;
      position: absolute;
      left: 13px;
      display: inline-block;
      width: 113px;
      color: #5cc6d0;
      text-align: left; }
    .customer-account-index #my-orders-table td:nth-child(1):before {
      content: "Order #"; }
    .customer-account-index #my-orders-table td:nth-child(2):before {
      content: "Date"; }
    .customer-account-index #my-orders-table td:nth-child(3):before {
      content: "Ship To"; }
    .customer-account-index #my-orders-table td:nth-child(4):before {
      content: "Order Total"; }
    .customer-account-index #my-orders-table td:nth-child(5):before {
      content: "Status"; }
    .customer-account-index #my-orders-table td:nth-child(6):before {
      content: "View Order"; }

  .sales-order-view #my-orders-table thead {
    display: none; }
  .sales-order-view #my-orders-table tr {
    float: left;
    margin-top: 7px;
    border-bottom: 1px solid #BFBFBF; }
  .sales-order-view #my-orders-table td {
    float: left;
    width: 100%;
    box-sizing: border-box;
    border: 0 !important;
    padding: 9px 0 !important;
    padding-left: 135px !important;
    position: relative;
    text-align: left !important;
    border: 1px solid #BFBFBF !important;
    border-bottom: 0 !important;
    font-size: 14px !important;
    font-weight: normal !important; }
    .sales-order-view #my-orders-table td:before {
      float: left;
      position: absolute;
      left: 13px;
      display: inline-block;
      width: 113px;
      color: #5cc6d0;
      text-align: left; }
    .sales-order-view #my-orders-table td:nth-child(1):before {
      content: "Product Image"; }
    .sales-order-view #my-orders-table td:nth-child(2):before {
      content: "Product Name"; }
    .sales-order-view #my-orders-table td:nth-child(3):before {
      content: "SKU"; }
    .sales-order-view #my-orders-table td:nth-child(4):before {
      content: "Price"; }
    .sales-order-view #my-orders-table td:nth-child(5):before {
      content: "Quantity"; }
    .sales-order-view #my-orders-table td:nth-child(6):before {
      content: "Subtotal"; }
  .sales-order-view #my-orders-table tfoot {
    border-bottom: 1px solid #BFBFBF; }
    .sales-order-view #my-orders-table tfoot tr {
      width: 100%;
      margin: 0;
      border-bottom: 0; }
      .sales-order-view #my-orders-table tfoot tr td {
        padding-left: 13px !important;
        width: 50%; }
        .sales-order-view #my-orders-table tfoot tr td:first-child {
          display: none; }
        .sales-order-view #my-orders-table tfoot tr td:before {
          display: none; }

  .sales-order-view .summary-inner {
    background: #F3F3F3;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    border: 1px solid #E6E1E1; }

  .account_pages .col2-set .col-1, .account_pages .col2-set .col-2 {
    width: 100%; }
  .account_pages .col2-set .box {
    background: #F3F3F3;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    border: 1px solid #E6E1E1; }
  .account_pages .box-content {
    min-height: auto; }
  .account_pages .address_area .col-1 {
    margin-bottom: 13px;
    border-bottom: 2px dotted #ccc;
    padding-bottom: 13px; }

  .addresses-list .col-1, .addresses-list .col-2 {
    background: #F3F3F3;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    display: inline-block;
    width: 100% !important;
    border: 1px solid #E6E1E1; }
  .addresses-list .addresses-primary ol li:first-child {
    margin-bottom: 13px;
    border-bottom: 2px dotted #ccc;
    padding-bottom: 13px; }
  .addresses-list .addresses-primary address {
    line-height: 23px; } }
@media all and (max-width: 560px) {
  .account_pages .single_ordered-product-info {
    width: 32.33%; }

  .account_pages .myorder-tabs ul li #subText {
    margin: 2px 0 0 0; } }
@media all and (max-width: 480px) {
  .customer-account-edit .form-list {
    margin-bottom: 13px; }
    .customer-account-edit .form-list li {
      margin: 0; }

  .customer-account-edit ul.form-list li {
    margin-bottom: 13px !important; }

  .sales-order-view #my-orders-table td {
    font-size: 13px !important; }
  .sales-order-view #my-orders-table tfoot tr td {
    padding-left: 9px !important;
    font-size: 13px !important; }

  .rawwishlist-index-index #wishlist-table tr td,
  .wishlist-index-index #wishlist-table tr td {
    padding-left: 112px; }
    .rawwishlist-index-index #wishlist-table tr td:before,
    .wishlist-index-index #wishlist-table tr td:before {
      left: 7px;
      font-size: 12px; }
  .rawwishlist-index-index .buttons-set,
  .wishlist-index-index .buttons-set {
    text-align: center; }
  .rawwishlist-index-index .wrapper .page .main-container button.button,
  .wishlist-index-index .wrapper .page .main-container button.button {
    float: none; }

  #my-orders-table td {
    padding-left: 120px !important; }

  .customer-address-index .main-container button.button span {
    font-size: 17px !important; }

  .account_pages .page-title h1 {
    font-size: 20px; }
  .account_pages .form-list .field {
    width: 100%;
    margin-right: 0; }
  .account_pages .form-list input.input-text {
    width: 100%; }
  .account_pages .data-table .order_id {
    width: 100%;
    margin-bottom: 4px; }
  .account_pages .data-table .ordered-products {
    width: 100%;
    margin-bottom: 5px; }
  .account_pages .data-table .order_total {
    width: 10%; }

  .promo-content_wrapper .promo-banner-wrapper .top-img-left {
    width: initial;
    padding: initial;
    margin: initial; }
  .promo-content_wrapper .promo-banner-wrapper .top-img-right {
    width: initial;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 0; } }
@media all and (max-width: 380px) {
  .account_pages .single_ordered-product-info {
    width: 48%;
    margin: 0 2% 2% 0; } }

/*# sourceMappingURL=custom_v.css.map */
