/* Global and reqiured variables defined in _var.scss partial file */
.box-sizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }

.custom_icon {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.btn-black {
  background-color: #5cc6d0 !important;
  border-radius: 4px;
  padding: 7px 18px 10px !important;
  color: #fff !important;
  text-transform: lowercase;
  font-size: 1.3em; }
  .btn-black:hover {
    background-color: #5cc6d0 !important; }

.txt-box {
  width: 250px;
  border-radius: 4px;
  border: 1px solid #bebebe;
  font-size: 20px;
  float: left;
  padding: 5px 15px 7px !Important; }

.globus-radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.transition_effect {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

body {
  font-size: 14px; }

@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Header */
a {
  text-decoration: none; }

ul.new_nav.nav {
  display: none; }

.nav-hide-menu {
  display: none; }

.catalog-product-view .main-container .main {
  margin: 30px auto 0; }

.main-container.col1-layout {
  display: inline-block;
  width: 100%; }

.header {
  padding: 0;
  border: 0; }

.secure_shipping.mobile {
  display: none; }

.page {
  background: #fff;
  width: 1200px;
  padding: 0; }
  .page .header-container {
    width: 100%;
    max-width: 1200px; }
    .page .header-container .top-links-page {
      background-color: #fff;
      border-bottom: 1px solid #fff;
      padding: 10px 0;
      height: auto; }
      .page .header-container .top-links-page .top-links-main {
        overflow: auto; }
        .page .header-container .top-links-page .top-links-main .links-left-top {
          float: left;
          text-decoration: none;
          font-size: 1em;
          color: #444444;
          font-weight: 600;
          padding: 0px;
          text-transform: uppercase;
          letter-spacing: 2px; }
        .page .header-container .top-links-page .top-links-main .links-right-top {
          float: right;
          text-decoration: none;
          font-size: 1em;
          color: #444444;
          font-weight: 600;
          padding: 0px;
          text-transform: uppercase;
          letter-spacing: 2px; }
      .page .header-container .top-links-page .links-left-top ul li, .page .header-container .top-links-page .links-right-top ul li {
        border-right: 0px solid #969696; }
        .page .header-container .top-links-page .links-left-top ul li a, .page .header-container .top-links-page .links-right-top ul li a {
          padding: 0px;
          text-transform: uppercase;
          letter-spacing: 2px; }
    .page .header-container .main-content-page {
      padding: 0;
      display: inline-block;
      width: 100%; }
      .page .header-container .main-content-page .left_section {
        text-align: center;
        margin-bottom: 25px; }
        .page .header-container .main-content-page .left_section .search-icon-mob {
          display: none; }
        .page .header-container .main-content-page .left_section .head-left, .page .header-container .main-content-page .left_section .head-right {
          float: left;
          width: 33%;
          line-height: 97px; }
          .page .header-container .main-content-page .left_section .head-left .locator-link, .page .header-container .main-content-page .left_section .head-right .locator-link {
            text-align: left; }
            .page .header-container .main-content-page .left_section .head-left .locator-link a, .page .header-container .main-content-page .left_section .head-right .locator-link a {
              text-transform: lowercase;
              font-size: 20px;
              display: inline-block;
              margin: 10px 0 0 0; }
              .page .header-container .main-content-page .left_section .head-left .locator-link a:before, .page .header-container .main-content-page .left_section .head-right .locator-link a:before {
                content: "\e914";
                display: inline-block;
                font-family: "icomoon" !important;
                color: #5cc6d0;
                position: relative;
                top: 3px;
                right: 3px;
                font-size: 1.1em; }
          .page .header-container .main-content-page .left_section .head-left .quick-access, .page .header-container .main-content-page .left_section .head-right .quick-access {
            display: inline-block; }
            .page .header-container .main-content-page .left_section .head-left .quick-access .form-search, .page .header-container .main-content-page .left_section .head-right .quick-access .form-search {
              border: 1px solid #bfbfbf;
              -webkit-border-top-left-radius: 20px;
              -moz-border-radius-topleft: 20px;
              border-top-left-radius: 20px;
              border-bottom-right-radius: 20px;
              -webkit-border-bottom-right-radius: 20px;
              -moz-border-radius-bottomright: 20px;
              padding: 0;
              line-height: 0;
              height: 40px;
              text-align: left;
              padding: 0px;
              -webkit-box-shadow: 0px 1px 2px 0px rgba(191, 191, 191, 0.74);
              -moz-box-shadow: 0px 1px 2px 0px rgba(191, 191, 191, 0.74);
              box-shadow: 0px 1px 2px 0px rgba(191, 191, 191, 0.74);
              position: relative; }
              .page .header-container .main-content-page .left_section .head-left .quick-access .form-search input#search, .page .header-container .main-content-page .left_section .head-right .quick-access .form-search input#search {
                margin: 0 !important;
                border: 0;
                line-height: 40px;
                height: 40px;
                padding: 0 15px;
                width: 250px;
                box-sizing: border-box;
                background: transparent;
                font-weight: 400;
                color: #5f5f5f;
                font-size: 1.228em;
                text-transform: lowercase; }
              .page .header-container .main-content-page .left_section .head-left .quick-access .form-search button.button, .page .header-container .main-content-page .left_section .head-right .quick-access .form-search button.button {
                background-color: #bfbfbf;
                height: 40px;
                border-bottom-right-radius: 18px;
                -webkit-border-bottom-right-radius: 18px;
                -moz-border-radius-bottomright: 18px; }
                .page .header-container .main-content-page .left_section .head-left .quick-access .form-search button.button span, .page .header-container .main-content-page .left_section .head-right .quick-access .form-search button.button span {
                  display: none; }
                .page .header-container .main-content-page .left_section .head-left .quick-access .form-search button.button:before, .page .header-container .main-content-page .left_section .head-right .quick-access .form-search button.button:before {
                  content: "\e913";
                  display: inline-block;
                  font-family: "icomoon" !important;
                  color: #5cc6d0;
                  position: relative;
                  top: 0px;
                  right: 0px;
                  font-size: 2em;
                  padding: 0 15px 0 10px;
                  color: #fff; }
              .page .header-container .main-content-page .left_section .head-left .quick-access .form-search #search_autocomplete, .page .header-container .main-content-page .left_section .head-right .quick-access .form-search #search_autocomplete {
                width: 100% !important;
                height: 300px;
                position: absolute;
                left: 0 !important;
                top: 100% !important;
                z-index: 91;
                background: #fff;
                border: 2px solid #E2E2E2;
                padding: 10px;
                box-sizing: border-box;
                overflow-y: scroll; }
                .page .header-container .main-content-page .left_section .head-left .quick-access .form-search #search_autocomplete ul, .page .header-container .main-content-page .left_section .head-right .quick-access .form-search #search_autocomplete ul {
                  display: block;
                  width: 100%; }
                  .page .header-container .main-content-page .left_section .head-left .quick-access .form-search #search_autocomplete ul li, .page .header-container .main-content-page .left_section .head-right .quick-access .form-search #search_autocomplete ul li {
                    width: 100%;
                    display: block;
                    border-bottom: 1px solid #000;
                    padding: 5px 0;
                    border-bottom: 1px solid #E2E2E2;
                    padding: 16px 5px;
                    box-sizing: border-box;
                    text-transform: lowercase;
                    cursor: pointer; }
                    .page .header-container .main-content-page .left_section .head-left .quick-access .form-search #search_autocomplete ul li a .image-cell, .page .header-container .main-content-page .left_section .head-right .quick-access .form-search #search_autocomplete ul li a .image-cell {
                      float: left;
                      margin: 0 0px 0 0; }
                    .page .header-container .main-content-page .left_section .head-left .quick-access .form-search #search_autocomplete ul li a .pl-10, .page .header-container .main-content-page .left_section .head-right .quick-access .form-search #search_autocomplete ul li a .pl-10 {
                      float: left;
                      display: inline-block;
                      width: 80%; }
                      .page .header-container .main-content-page .left_section .head-left .quick-access .form-search #search_autocomplete ul li a .pl-10 span.autosuggest_prod_name, .page .header-container .main-content-page .left_section .head-right .quick-access .form-search #search_autocomplete ul li a .pl-10 span.autosuggest_prod_name {
                        display: block;
                        width: 100%;
                        margin: 0 0 10px 0;
                        line-height: 20px; }
                      .page .header-container .main-content-page .left_section .head-left .quick-access .form-search #search_autocomplete ul li a .pl-10 span.autosugges_price, .page .header-container .main-content-page .left_section .head-right .quick-access .form-search #search_autocomplete ul li a .pl-10 span.autosugges_price {
                        display: block;
                        margin: 10px 0 0 0;
                        text-transform: capitalize; }
                    .page .header-container .main-content-page .left_section .head-left .quick-access .form-search #search_autocomplete ul li span.amount, .page .header-container .main-content-page .left_section .head-right .quick-access .form-search #search_autocomplete ul li span.amount {
                      display: none; }
                    .page .header-container .main-content-page .left_section .head-left .quick-access .form-search #search_autocomplete ul li:last-child, .page .header-container .main-content-page .left_section .head-right .quick-access .form-search #search_autocomplete ul li:last-child {
                      border-bottom: 0; }
        .page .header-container .main-content-page .left_section .logo_pan {
          float: none;
          display: inline-block;
          text-align: center; }
          .page .header-container .main-content-page .left_section .logo_pan .logo_head {
            display: inline-block; }
            .page .header-container .main-content-page .left_section .logo_pan .logo_head .logo strong {
              display: none; }
        .page .header-container .main-content-page .left_section .head-right {
          float: right;
          text-align: right; }
  .page .top-main-menu-blk {
    background-color: #fff;
    position: relative;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    float: left;
    width: 100%; }
    .page .top-main-menu-blk .cart_link_wrapper {
      position: absolute;
      right: 10px;
      height: 36px; }
      .page .top-main-menu-blk .cart_link_wrapper .after-product-added {
        display: none; }
      .page .top-main-menu-blk .cart_link_wrapper .header-wishlist-link {
        display: none; }
      .page .top-main-menu-blk .cart_link_wrapper .header-cart-link .cart-text {
        font-size: 0px; }
      .page .top-main-menu-blk .cart_link_wrapper .header-cart-link span {
        position: relative;
        display: inline-block; }
        .page .top-main-menu-blk .cart_link_wrapper .header-cart-link span:before {
          content: "\e90a";
          display: inline-block;
          font-family: "icomoon" !important;
          color: #fff;
          font-size: 1.9em;
          background-color: #5cc6d0;
          z-index: 0;
          padding: 5px 15px 4px;
          -webkit-border-top-left-radius: 18px;
          -moz-border-radius-topleft: 18px;
          border-top-left-radius: 18px;
          margin-right: 0px;
          height: 27px; }
        .page .top-main-menu-blk .cart_link_wrapper .header-cart-link span label {
          position: absolute;
          z-index: 10;
          color: #5cc6d0;
          left: 17px;
          top: 12px;
          width: 24px;
          cursor: pointer; }
      .page .top-main-menu-blk .cart_link_wrapper .search_links {
        width: 40px;
        display: inline-block;
        vertical-align: top; }
        .page .top-main-menu-blk .cart_link_wrapper .search_links .search_wrap {
          padding-right: 0;
          vertical-align: top; }
          .page .top-main-menu-blk .cart_link_wrapper .search_links .search_wrap ul.links li a {
            display: inline-block; }
            .page .top-main-menu-blk .cart_link_wrapper .search_links .search_wrap ul.links li a:before {
              content: "\e911";
              display: inline-block;
              font-family: "icomoon" !important;
              color: #fff;
              font-size: 1.7em;
              background-color: #5cc6d0;
              z-index: 0;
              padding: 0 15px;
              height: 36px;
              line-height: 36px;
              border-bottom-right-radius: 18px;
              -webkit-border-bottom-right-radius: 18px;
              -moz-border-radius-bottomright: 18px; }
            .page .top-main-menu-blk .cart_link_wrapper .search_links .search_wrap ul.links li a span {
              font-size: 0px;
              display: none; }
          .page .top-main-menu-blk .cart_link_wrapper .search_links .search_wrap.loggedin p.welcome-msg {
            height: 36px;
            cursor: pointer; }
            .page .top-main-menu-blk .cart_link_wrapper .search_links .search_wrap.loggedin p.welcome-msg span {
              font-size: 0;
              vertical-align: top; }
              .page .top-main-menu-blk .cart_link_wrapper .search_links .search_wrap.loggedin p.welcome-msg span img {
                display: none; }
            .page .top-main-menu-blk .cart_link_wrapper .search_links .search_wrap.loggedin p.welcome-msg:before {
              content: "\e911";
              display: inline-block;
              font-family: "icomoon" !important;
              color: #fff;
              font-size: 1.9em;
              background-color: #dd4231;
              z-index: 0;
              padding: 0 10px;
              border-bottom-right-radius: 18px;
              -webkit-border-bottom-right-radius: 18px;
              -moz-border-radius-bottomright: 18px;
              height: 36px;
              line-height: 36px; }
          .page .top-main-menu-blk .cart_link_wrapper .search_links .search_wrap.loggedin ul.dropdown-menu {
            display: none;
            position: absolute;
            right: 0;
            background: #EFEFEF;
            top: 30px;
            width: 200px;
            border: 2px solid #BFBFBF;
            z-index: 99; }
            .page .top-main-menu-blk .cart_link_wrapper .search_links .search_wrap.loggedin ul.dropdown-menu li {
              border-bottom: 1px solid #BFBFBF; }
              .page .top-main-menu-blk .cart_link_wrapper .search_links .search_wrap.loggedin ul.dropdown-menu li a {
                display: block;
                padding: 7px 0;
                color: #7E7E7E; }
        .page .top-main-menu-blk .cart_link_wrapper .search_links a.help_link {
          display: none; }
    .page .top-main-menu-blk .nav-container {
      float: left;
      width: 100%;
      text-align: center; }
      .page .top-main-menu-blk .nav-container ul#nav {
        border: 0;
        padding: 0;
        margin: 0;
        position: relative; }
        .page .top-main-menu-blk .nav-container ul#nav div {
          position: static; }
        .page .top-main-menu-blk .nav-container ul#nav li {
          text-align: center;
          float: none;
          position: static;
          display: inline-block; }
          .page .top-main-menu-blk .nav-container ul#nav li.store-link {
            display: none; }
          .page .top-main-menu-blk .nav-container ul#nav li a {
            font-weight: 400;
            padding: 0 20px;
            line-height: 40px; }
            .page .top-main-menu-blk .nav-container ul#nav li a span {
              color: #000;
              text-transform: lowercase;
              font-size: 18px; }
          .page .top-main-menu-blk .nav-container ul#nav li.level-top:hover {
            background-color: transparent; }
            .page .top-main-menu-blk .nav-container ul#nav li.level-top:hover a span {
              color: #DD4231; }
          .page .top-main-menu-blk .nav-container ul#nav li ul {
            top: 22px;
            z-index: 91;
            text-align: left; }
            .page .top-main-menu-blk .nav-container ul#nav li ul li {
              padding: 5px 0;
              width: 33%;
              display: inline-block;
              text-align: left;
              border: 0; }
              .page .top-main-menu-blk .nav-container ul#nav li ul li a {
                line-height: 2em; }
                .page .top-main-menu-blk .nav-container ul#nav li ul li a span {
                  font-size: 1.2em;
                  color: #2A2A2A !important; }
          .page .top-main-menu-blk .nav-container ul#nav li.level0.parent:hover ul {
            left: 0; }
            .page .top-main-menu-blk .nav-container ul#nav li.level0.parent:hover ul li ul {
              /* display: none; */ }
            .page .top-main-menu-blk .nav-container ul#nav li.level0.parent:hover ul li:hover ul {
              top: 0;
              left: 100%;
              display: block; }
          .page .top-main-menu-blk .nav-container ul#nav li.level0.parent:hover > a:after {
            content: "";
            border: transparent;
            border-top: 23px solid #FFFFFF;
            border-left: 23px solid transparent;
            border-right: 23px solid transparent;
            position: absolute;
            top: 100%;
            left: 50%;
            z-index: 9999;
            margin-left: -23px; }
          .page .top-main-menu-blk .nav-container ul#nav li.level0.parent > a {
            position: relative; }
          .page .top-main-menu-blk .nav-container ul#nav li.level0.parent:hover .menu_img_wrap {
            display: block; }
        .page .top-main-menu-blk .nav-container ul#nav .street_img {
          margin-top: 8px; }
        .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap {
          position: absolute;
          top: 92%;
          left: 0;
          display: none;
          width: 100%;
          background: #F1F1F1;
          z-index: 999;
          padding: 30px 8%;
          box-sizing: border-box; }
          .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap > .submenu_wrap {
            width: 73%;
            float: left; }
            .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap > .submenu_wrap li {
              padding: 0; }
            .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap > .submenu_wrap li.level2 {
              padding-left: 0px;
              box-sizing: border-box; }
              .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap > .submenu_wrap li.level2 .menu_img_wrap {
                margin-top: 0; }
              .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap > .submenu_wrap li.level2 a {
                color: #373737;
                display: inline-block; }
            .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap > .submenu_wrap li.level1 li.level2 {
              padding-left: 15px; }
            .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap > .submenu_wrap a {
              padding: 0; }
            .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap > .submenu_wrap li.bold-category > a span {
              color: #5cc6d0 !important;
              text-transform: uppercase;
              letter-spacing: 0.03em; }
            .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap > .submenu_wrap li.bold-category li.level3 {
              padding-left: 15px;
              box-sizing: border-box; }
              .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap > .submenu_wrap li.bold-category li.level3 .menu_img_wrap {
                margin-top: 0; }
              .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap > .submenu_wrap li.bold-category li.level3 a span {
                /* font-size: 1.12em; */ }
            .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap > .submenu_wrap li.bold-category > .menu_img_wrap {
              margin-top: 14px; }
            .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap > .submenu_wrap li.bold-category li.level2 {
              padding-left: 0; }
            .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap > .submenu_wrap .submenu_wrap {
              width: 100%; }
          .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap:before {
            content: "";
            width: 100%;
            display: block;
            border: 2px solid #fff;
            position: absolute;
            top: 0;
            left: 0; }
          .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap .subcategory_wrap {
            width: 25%;
            float: left; }
            .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap .subcategory_wrap img {
              /* max-width: 200px; */
              width: 100%; }
            .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap .subcategory_wrap.sub_img {
              text-align: right;
              float: right; }
          .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap ul li {
            float: left;
            width: 33%;
            position: relative; }
            .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap ul li ul {
              width: 100%;
              float: left; }
            .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap ul li .menu_img_wrap {
              float: left;
              width: 100%;
              position: static;
              padding: 0;
              margin-top: 5px; }
              .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap ul li .menu_img_wrap:before {
                display: none; }
              .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap ul li .menu_img_wrap li {
                width: 100%; }
                .page .top-main-menu-blk .nav-container ul#nav .menu_img_wrap ul li .menu_img_wrap li a {
                  	 									/* span {
                  	 										color: #777777 !important;
                      										padding-left: 10px;
                      										box-sizing: border-box;
                  	 									} */ }

.harpreet-slider-block {
  float: left;
  width: 100%;
  margin: 0px auto; }

#nav div, #nav ul {
  border: 0; }

/* Product Page */
.col1-layout .product-view #product-slider {
  display: none; }
.col1-layout .product-view .product-shop {
  float: right;
  width: 47%; }
  .col1-layout .product-view .product-shop .product-options {
    padding: 0;
    margin: 0;
    border: 0px solid #ddd;
    background-color: #FFFFFF; }
    .col1-layout .product-view .product-shop .product-options dl, .col1-layout .product-view .product-shop .product-options .size_guide_wrap {
      display: inline-block; }
    .col1-layout .product-view .product-shop .product-options .size_guide_wrap {
      vertical-align: top;
      padding-top: 13px; }
      .col1-layout .product-view .product-shop .product-options .size_guide_wrap a {
        padding-left: 30px;
        background: url(../images/size-guide-bg.png) no-repeat;
        margin-left: 10px; }
    .col1-layout .product-view .product-shop .product-options dd {
      height: 55px;
      margin: 0 0 10px; }
      .col1-layout .product-view .product-shop .product-options dd img {
        background: #929292;
        padding: 8px 15px;
        margin-right: 5px; }
        .col1-layout .product-view .product-shop .product-options dd img:first-child {
          border-radius: 18px 0 0 0; }
        .col1-layout .product-view .product-shop .product-options dd img:last-child {
          border-radius: 0 0 18px 0; }
      .col1-layout .product-view .product-shop .product-options dd #size-options-select span {
        background: #929292;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        padding: 8px 20px;
        display: inline-block;
        cursor: pointer; }
        .col1-layout .product-view .product-shop .product-options dd #size-options-select span:first-child {
          border-radius: 18px 0 0 0; }
        .col1-layout .product-view .product-shop .product-options dd #size-options-select span:last-child {
          border-radius: 0 0 18px 0; }
        .col1-layout .product-view .product-shop .product-options dd #size-options-select span:hover, .col1-layout .product-view .product-shop .product-options dd #size-options-select span.active {
          background: #7165ad; }
      .col1-layout .product-view .product-shop .product-options dd .validation-advice {
        min-height: inherit;
        margin: 5px 0 0;
        /*font-size: 14px!important;
        line-height: 18px!important;
         width: auto!important;
        height: auto!important;
        margin-top: 10px!important;
        padding-left: 16px!important; */ }
    .col1-layout .product-view .product-shop .product-options p.required {
      padding: 0; }
  .col1-layout .product-view .product-shop .product-options-bottom {
    padding: 0;
    border: 0px solid #ddd;
    border-top: 0; }
    .col1-layout .product-view .product-shop .product-options-bottom .g-product-description {
      width: 100%;
      padding: 0;
      border-top: 0;
      border-bottom: 0;
      text-align: left;
      margin: 0; }
    .col1-layout .product-view .product-shop .product-options-bottom h1.g-product-title {
      font-size: 18px;
      color: #1e1e1e;
      padding: 22px 0 12px;
      font-weight: 600; }
    .col1-layout .product-view .product-shop .product-options-bottom .accord_wrap {
      text-transform: lowercase; }
      .col1-layout .product-view .product-shop .product-options-bottom .accord_wrap .feature_title {
        width: 80px;
        display: inline-block;
        margin: 3px 20px 2px 0; }
        .col1-layout .product-view .product-shop .product-options-bottom .accord_wrap .feature_title span {
          float: right; }
    .col1-layout .product-view .product-shop .product-options-bottom ul.add-to-links {
      display: inline-block; }
      .col1-layout .product-view .product-shop .product-options-bottom ul.add-to-links li.product-page-write-review {
        font-size: 18px;
        color: #1e1e1e;
        padding: 22px 0 12px;
        font-weight: 600;
        cursor: pointer;
        text-transform: lowercase; }
        .col1-layout .product-view .product-shop .product-options-bottom ul.add-to-links li.product-page-write-review span.review-img {
          display: none; }
      .col1-layout .product-view .product-shop .product-options-bottom ul.add-to-links .wishlist-sec {
        display: none; }
    .col1-layout .product-view .product-shop .product-options-bottom div.addthis_toolbox.addthis_default_style {
      display: inline-block;
      margin-left: 30px;
      float: none;
      width: auto !important;
      margin-top: 0 !important; }
    .col1-layout .product-view .product-shop .product-options-bottom .add-to-cart input#qty {
      padding: 0 10px;
      height: 40px;
      text-align: center;
      box-sizing: border-box;
      width: 50px !important; }
    .col1-layout .product-view .product-shop .product-options-bottom .add-to-cart label {
      margin-right: 10px;
      line-height: 40px;
      font-size: 1.2em;
      text-transform: lowercase; }
    .col1-layout .product-view .product-shop .product-options-bottom .whtsaap-share {
      display: none; }
      .col1-layout .product-view .product-shop .product-options-bottom .whtsaap-share:before {
        content: "\e625";
        font-size: 1.3em;
        color: #aaa;
        left: 2px;
        position: relative;
        top: 3px; }
  .col1-layout .product-view .product-shop .product-name h1 {
    text-transform: lowercase;
    font-weight: normal;
    font-size: 1.7em; }
  .col1-layout .product-view .product-shop .product-name .product_code {
    color: #363636;
    font-size: 14px;
    margin: 10px 0 0;
    font-weight: 600; }
  .col1-layout .product-view .product-shop .price-box .regular-price {
    font-weight: 400;
    font-size: 24px;
    margin: 20px 0;
    display: inline-block; }
  .col1-layout .product-view .product-shop .price-box .regular-price .price, .col1-layout .product-view .product-shop .price-box .old-price .price, .col1-layout .product-view .product-shop .price-box .special-price .price {
    font-weight: 400;
    font-size: 24px;
    margin: 20px 0;
    display: inline-block; }
  .col1-layout .product-view .product-shop .price-box .special-price {
    margin-left: 20px; }
    .col1-layout .product-view .product-shop .price-box .special-price .special-price-percent {
      color: #dd4231;
      font-size: 18px; }
  .col1-layout .product-view .product-shop .price-box .old-price .price-label, .col1-layout .product-view .product-shop .price-box .special-price .price-label {
    display: none; }
  .col1-layout .product-view .product-shop .price-box .old-price .price {
    position: relative; }
    .col1-layout .product-view .product-shop .price-box .old-price .price:before {
      content: "";
      display: inline-block;
      position: absolute;
      border-top: 2px solid #DD4231;
      top: 50%;
      left: 0;
      width: 100%; }
  .col1-layout .product-view .product-shop .price-box p {
    display: inline-block; }
  .col1-layout .product-view .product-shop #product-options-subscribe table tr td.notify-pr {
    font-size: 0.8em;
    color: #444444; }
  .col1-layout .product-view .product-shop #product-options-subscribe table tr td button.btn-notify-pr {
    margin-top: 10px; }
    .col1-layout .product-view .product-shop #product-options-subscribe table tr td button.btn-notify-pr span {
      border-radius: 18px 0; }
  .col1-layout .product-view .product-shop #product-options-subscribe table tr td input.input-text, .col1-layout .product-view .product-shop #product-options-subscribe table tr td textarea {
    padding: 7px 10px;
    margin-bottom: 5px;
    width: 50% !important; }
  .col1-layout .product-view .product-shop #product-options-subscribe table tr td h2 {
    color: #DD4231;
    font-size: 1.5em;
    margin-bottom: 20px; }
.col1-layout .product-view .product-img-box {
  float: left;
  width: 50%;
  margin-right: 1%;
  position: relative; }
  .col1-layout .product-view .product-img-box .product-image {
    border: 1px solid #fff;
    width: 83%;
    float: right;
    margin: 0;
    padding: 0;
    height: 720px;
    -webkit-box-shadow: 1px 1px 4px 1px #e6e6e6;
    -moz-box-shadow: 1px 1px 4px 1px #e6e6e6;
    box-shadow: 1px 1px 4px 1px #e6e6e6; }
    .col1-layout .product-view .product-img-box .product-image img {
      width: 100%;
      height: auto;
      left: 0 !important; }
  .col1-layout .product-view .product-img-box .zoom, .col1-layout .product-view .product-img-box .zoom-notice {
    display: none; }
  .col1-layout .product-view .product-img-box .more-views {
    width: 15%;
    float: left; }
    .col1-layout .product-view .product-img-box .more-views h2 {
      display: none; }
    .col1-layout .product-view .product-img-box .more-views li {
      float: left;
      padding: 1px;
      background-color: #fff;
      margin: 0 0 8px;
      width: 100%;
      height: auto;
      box-sizing: border-box; }
      .col1-layout .product-view .product-img-box .more-views li a {
        width: 100%;
        height: auto; }
        .col1-layout .product-view .product-img-box .more-views li a img {
          width: 100%;
          height: auto;
          -webkit-box-shadow: 1px 1px 4px 1px #e6e6e6;
          -moz-box-shadow: 1px 1px 4px 1px #e6e6e6;
          box-shadow: 1px 1px 4px 1px #e6e6e6; }
  .col1-layout .product-view .product-img-box .wishlist_pdp {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9; }
    .col1-layout .product-view .product-img-box .wishlist_pdp li {
      list-style: none;
      box-sizing: border-box;
      background: #c8c8c8; }
      .col1-layout .product-view .product-img-box .wishlist_pdp li .link-wishlist {
        padding: 12px 15px;
        text-transform: lowercase;
        color: #fff;
        font-size: 1.286em;
        font-weight: normal;
        vertical-align: top;
        display: inline-block;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
        .col1-layout .product-view .product-img-box .wishlist_pdp li .link-wishlist span {
          display: none; }
        .col1-layout .product-view .product-img-box .wishlist_pdp li .link-wishlist:before {
          content: "\e904";
          display: inline-block;
          font-size: 1em;
          color: #fff;
          font-family: "icomoon" !important;
          line-height: 1.286em;
          margin-right: 5px;
          top: 2px;
          position: relative;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -ms-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear; }
        .col1-layout .product-view .product-img-box .wishlist_pdp li .link-wishlist:hover:before {
          color: #dd4231; }
.col1-layout .product-view .product-name-resp {
  display: none; }
.col1-layout .product-view button.button.btn-cart {
  padding: 0;
  margin: 0 0 0 5px; }
  .col1-layout .product-view button.button.btn-cart.product-page-buy-now {
    background: none !important;
    margin-left: 0; }
    .col1-layout .product-view button.button.btn-cart.product-page-buy-now span span {
      color: #fff !important;
      background: transparent; }
  .col1-layout .product-view button.button.btn-cart span {
    border-radius: 0 0 18px 0; }
.col1-layout .product-view button.button span {
  height: 40px;
  line-height: 40px;
  background: #929292;
  padding: 0 25px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  text-transform: lowercase;
  font-weight: 400; }
  .col1-layout .product-view button.button span.product_page_buy_now {
    border-radius: 18px 0 0 0; }
  .col1-layout .product-view button.button span span {
    padding: 0;
    background: transparent !important; }
.col1-layout .product-view button.button:hover span {
  background: #7165ad; }
  .col1-layout .product-view button.button:hover span:hover {
    background: #7165ad; }
  .col1-layout .product-view button.button:hover span span {
    background: transparent; }
.col1-layout .product-view .block-related h1 {
  font-size: 18px;
  margin: 50px 0 35px;
  text-align: center;
  font-weight: 600;
  text-transform: lowercase;
  position: relative; }
  .col1-layout .product-view .block-related h1:before, .col1-layout .product-view .block-related h1:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 42%;
    border-top: 2px solid #d7d7d7; }
  .col1-layout .product-view .block-related h1:after {
    right: 0;
    left: inherit; }
.col1-layout .product-view .block-related a {
  display: inline-block !important;
  width: 85%; }
.col1-layout .product-view .review-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  z-index: 91;
  opacity: 0.6;
  display: none; }
.col1-layout .product-view #review_anchor {
  position: absolute;
  left: 50%;
  top: 40%;
  background: #fff;
  width: 100%;
  max-width: 786px;
  box-sizing: border-box;
  margin-left: -393px;
  border-radius: 18px 0 18px 0;
  text-transform: lowercase;
  z-index: 92; }
  .col1-layout .product-view #review_anchor .review-form-main {
    padding: 20px 65px;
    position: relative; }
    .col1-layout .product-view #review_anchor .review-form-main .close-btn-review {
      position: absolute;
      right: -16px;
      top: -12px;
      background: #1e1e1e;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
      color: #dd4231;
      font-size: 20px;
      line-height: 37px;
      cursor: pointer; }
    .col1-layout .product-view #review_anchor .review-form-main h2 {
      font-size: 1.670em;
      margin-bottom: 15px;
      color: #1e1e1e;
      font-weight: 400; }
    .col1-layout .product-view #review_anchor .review-form-main h4 {
      font-size: 1.286em;
      margin-bottom: 15px; }
      .col1-layout .product-view #review_anchor .review-form-main h4 em {
        color: #eb340a;
        font-style: normal; }
    .col1-layout .product-view #review_anchor .review-form-main .validation-advice {
      font-size: 11px; }
    .col1-layout .product-view #review_anchor .review-form-main .data-table tbody th {
      text-align: left; }
    .col1-layout .product-view #review_anchor .review-form-main .data-table td {
      width: 16.8%; }
    .col1-layout .product-view #review_anchor .review-form-main caption, .col1-layout .product-view #review_anchor .review-form-main td, .col1-layout .product-view #review_anchor .review-form-main th {
      text-align: center;
      font-weight: 400;
      font-size: 1em; }
    .col1-layout .product-view #review_anchor .review-form-main .buttons-set {
      padding: 0;
      border: 0;
      margin: 25px 0 0; }
      .col1-layout .product-view #review_anchor .review-form-main .buttons-set button.button {
        float: left; }
        .col1-layout .product-view #review_anchor .review-form-main .buttons-set button.button span {
          background: #1e1e1e;
          padding: 0 20px;
          font-size: 1.12em;
          border-radius: 18px 0;
          font-weight: normal; }
        .col1-layout .product-view #review_anchor .review-form-main .buttons-set button.button:hover span {
          background: #7165ad; }
          .col1-layout .product-view #review_anchor .review-form-main .buttons-set button.button:hover span span {
            background: transparent; }
  .col1-layout .product-view #review_anchor .form-list .input-box {
    width: 51%;
    border: 1px solid #c3c3c3;
    border-radius: 18px 0 18px 0;
    text-align: center;
    padding: 2px 0;
    box-sizing: border-box;
    position: relative; }
    .col1-layout .product-view #review_anchor .form-list .input-box.review-box {
      width: 100%; }
    .col1-layout .product-view #review_anchor .form-list .input-box .validation-advice {
      position: absolute;
      top: 38px;
      font-size: 11px; }
  .col1-layout .product-view #review_anchor .form-list li {
    margin: 0 0 20px; }
  .col1-layout .product-view #review_anchor .form-list input {
    border: 0;
    padding: 0; }
    .col1-layout .product-view #review_anchor .form-list input.input-text {
      width: 95%;
      display: inline-block;
      text-align: left;
      line-height: 34px;
      border: 0;
      padding: 0; }
    .col1-layout .product-view #review_anchor .form-list input.validation-failed {
      border: 0 !Important;
      background: #fff !Important; }
  .col1-layout .product-view #review_anchor .form-list textarea {
    width: 95%;
    height: 8em;
    padding: 10px 0;
    border: 0; }
  .col1-layout .product-view #review_anchor .form-list label {
    font-size: 1.286em;
    margin-bottom: 10px;
    font-weight: 400; }
  .col1-layout .product-view #review_anchor .data-table th, .col1-layout .product-view #review_anchor .data-table td {
    border: 0; }
  .col1-layout .product-view #review_anchor .data-table tr.even {
    background-color: #fff; }
  .col1-layout .product-view #review_anchor .data-table thead {
    background-color: #fff; }
.col1-layout .product-view .review-box {
  width: 68%;
  border-top: 1px dashed #B5B5B5;
  padding-top: 10px;
  margin-top: 10px; }
  .col1-layout .product-view .review-box span {
    font-size: 1.286em; }
    .col1-layout .product-view .review-box span.review-date {
      font-size: 1em;
      color: #a1a1a1; }
  .col1-layout .product-view .review-box dt {
    line-height: 22px; }
    .col1-layout .product-view .review-box dt a {
      font-size: 1.286em;
      margin: 15px 0 5px;
      display: block; }
  .col1-layout .product-view .review-box:first-child {
    border-top: 0;
    padding-top: 0;
    margin-top: 0; }
.col1-layout .product-view #customer-reviews h2 {
  font-size: 2em;
  margin-bottom: 40px; }

.rating-box {
  width: 120px;
  height: 18px; }
  .rating-box .rating {
    height: 18px; }

.recently_viewed_slider2 .slick-prev, .recently_viewed_slider2 .slick-next {
  width: 30px;
  height: 45px;
  background: none;
  top: 40%;
  z-index: 9; }
  .recently_viewed_slider2 .slick-prev:before, .recently_viewed_slider2 .slick-next:before {
    font-size: 30px;
    opacity: 1;
    color: #929292; }
.recently_viewed_slider2 .slick-prev {
  left: 0; }
.recently_viewed_slider2 .slick-next {
  right: 0; }
.recently_viewed_slider2 .related-items .productName {
  margin-top: 0px;
  min-height: inherit;
  text-overflow: ellipsis;
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  font-size: 1.154em;
  color: #1e1e1e;
  border-top: 1px solid #dfdfdf;
  padding: 4px 8px 0; }
.recently_viewed_slider2 .related-items .productPrice {
  font-weight: 500;
  margin-top: 6px;
  font-size: 1.154em;
  color: #1e1e1e; }

.slick-initialized .slick-slide {
  text-align: center; }
  .slick-initialized .slick-slide img {
    width: 100%; }

.customer-account-logoutsuccess .col-main, .checkout-onepage-failure .col-main, .cms-no-route .col-main {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #E0E0E0 !important;
  padding-top: 20px; }
  .customer-account-logoutsuccess .col-main .page-title, .checkout-onepage-failure .col-main .page-title, .cms-no-route .col-main .page-title {
    border-bottom: 0;
    padding: 0;
    margin: 0;
    text-align: center; }
    .customer-account-logoutsuccess .col-main .page-title h1, .checkout-onepage-failure .col-main .page-title h1, .cms-no-route .col-main .page-title h1 {
      font-size: 1.6em;
      margin-bottom: 20px;
      color: #2A2A2A;
      text-transform: lowercase; }

.cms-no-route .col-main {
  text-align: center;
  font-size: 1.1em;
  text-transform: lowercase; }
  .cms-no-route .col-main span {
    font-family: "montserratregular" !important;
    font-size: 1.1em !important;
    line-height: 2em; }

/* Cart Page */
.cart {
  margin-top: 30px; }
  .cart #shopping-cart-table .tHead {
    width: 100%;
    font-size: 1.286em;
    font-weight: 600;
    color: #363636;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 12px; }
    .cart #shopping-cart-table .tHead .tHead_inner div {
      width: 19%;
      display: inline-block;
      text-align: center; }
  .cart #shopping-cart-table .tBody {
    width: 100%;
    max-height: 280px;
    overflow: hidden; }
    .cart #shopping-cart-table .tBody .tBody_inner {
      padding: 20px 0; }
      .cart #shopping-cart-table .tBody .tBody_inner div {
        width: 19%;
        display: inline-block;
        text-align: center;
        vertical-align: top; }
        .cart #shopping-cart-table .tBody .tBody_inner div input.qty {
          width: auto !important;
          padding: 4px 0 4px 8px; }
        .cart #shopping-cart-table .tBody .tBody_inner div.cart_price_pro {
          display: none; }
        .cart #shopping-cart-table .tBody .tBody_inner div.cart_img_pro span {
          display: block;
          text-transform: lowercase;
          padding-top: 12px; }
          .cart #shopping-cart-table .tBody .tBody_inner div.cart_img_pro span a {
            display: inline-block;
            vertical-align: top;
            line-height: 1em; }
            .cart #shopping-cart-table .tBody .tBody_inner div.cart_img_pro span a.btn-remove2 {
              display: inline-block;
              width: auto;
              height: auto;
              font-size: inherit;
              line-height: 1em;
              background: none;
              text-indent: 0;
              border-right: 1px solid #363636;
              padding-right: 4px; }
        .cart #shopping-cart-table .tBody .tBody_inner div.cart_desc_pro {
          text-transform: lowercase; }
    .cart #shopping-cart-table .tBody .mCSB_scrollTools {
      height: 80%;
      margin-top: 2%; }
      .cart #shopping-cart-table .tBody .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background-color: #bfbfbf; }
      .cart #shopping-cart-table .tBody .mCSB_scrollTools .mCSB_draggerRail {
        background-color: #e5e5e4;
        width: 4px; }
    .cart #shopping-cart-table .tBody .mCSB_inside > .mCSB_container {
      margin-right: 0; }
  .cart #shopping-cart-table .tFoot {
    width: 100%;
    border-top: 1px solid #d7d7d7;
    padding-top: 30px; }
    .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon {
      margin-bottom: 20px;
      width: 100%;
      float: left;
      padding: 0 90px;
      box-sizing: border-box; }
      .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .pr-coupon-code {
        width: 60%;
        display: inline-block;
        text-align: left;
        vertical-align: top; }
        .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .pr-coupon-code label {
          text-transform: lowercase;
          font-size: 1.286em;
          margin-right: 15%;
          vertical-align: top;
          line-height: 36px; }
        .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .pr-coupon-code .input-box {
          display: inline-block;
          vertical-align: top; }
          .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .pr-coupon-code .input-box input {
            border: 0;
            line-height: 35px;
            padding: 0 0 0 8px;
            box-sizing: border-box;
            text-transform: uppercase;
            color: #929292;
            border: 1px solid #EFEFEF; }
        .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .pr-coupon-code .buttons-set {
          margin: 0;
          padding: 0;
          border: 0;
          display: inline-block; }
          .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .pr-coupon-code .buttons-set button.button {
            background: #1e1e1e;
            padding: 0 20px;
            box-sizing: border-box; }
            .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .pr-coupon-code .buttons-set button.button span {
              background: none;
              height: 36px;
              line-height: 36px;
              text-transform: lowercase;
              font-size: 1.1em;
              padding: 0; }
              .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .pr-coupon-code .buttons-set button.button span span {
                padding: 0; }
            .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .pr-coupon-code .buttons-set button.button:hover {
              background: #7165ad; }
      .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .totals {
        display: inline-block;
        float: right;
        width: 25%;
        font-size: 1.286em; }
        .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .totals #shopping-cart-totals-table td {
          border: 0; }
    .cart #shopping-cart-table .tFoot .tFootinner .cart_pro_btn {
      width: 100%; }
      .cart #shopping-cart-table .tFoot .tFootinner .cart_pro_btn button.button {
        background: #1e1e1e;
        padding: 0 20px;
        box-sizing: border-box;
        border-radius: 18px 0;
        float: left; }
        .cart #shopping-cart-table .tFoot .tFootinner .cart_pro_btn button.button span {
          background: none;
          height: 40px;
          line-height: 40px;
          text-transform: lowercase;
          font-size: 1.1em;
          padding: 0; }
          .cart #shopping-cart-table .tFoot .tFootinner .cart_pro_btn button.button span span {
            padding: 0; }
        .cart #shopping-cart-table .tFoot .tFootinner .cart_pro_btn button.button:hover {
          background: #7165ad; }
      .cart #shopping-cart-table .tFoot .tFootinner .cart_pro_btn .checkout-types {
        float: right;
        text-align: right;
        display: inline-block; }
        .cart #shopping-cart-table .tFoot .tFootinner .cart_pro_btn .checkout-types button.button {
          background: #dd4231; }
          .cart #shopping-cart-table .tFoot .tFootinner .cart_pro_btn .checkout-types button.button:hover {
            background: #7165ad; }
  .cart .discount {
    margin-top: 15px;
    border-top: 1px solid #E6E6E6;
    padding-top: 10px;
    text-align: right; }
    .cart .discount label {
      text-transform: lowercase;
      font-size: 1.286em;
      margin-right: 10px;
      vertical-align: top;
      line-height: 36px; }
    .cart .discount .input-box {
      display: inline-block;
      vertical-align: top; }
      .cart .discount .input-box input {
        border: 0;
        line-height: 35px;
        padding: 0 0 0 8px;
        box-sizing: border-box;
        text-transform: uppercase;
        color: #929292;
        border: 1px solid #EFEFEF;
        height: 37px; }
      .cart .discount .input-box .validation-advice {
        text-align: left; }
    .cart .discount .buttons-set {
      margin: 0;
      padding: 0;
      border: 0;
      display: inline-block; }
      .cart .discount .buttons-set button.button {
        background: #1e1e1e;
        padding: 0 20px;
        box-sizing: border-box; }
        .cart .discount .buttons-set button.button span {
          background: none;
          height: 36px;
          line-height: 36px;
          text-transform: lowercase;
          font-size: 1.1em;
          padding: 0; }
          .cart .discount .buttons-set button.button span span {
            padding: 0; }
        .cart .discount .buttons-set button.button:hover {
          background: #7165ad; }

.mycart-outer {
  margin-top: 20px;
  text-align: center;
  font-size: 1.4em;
  text-transform: lowercase;
  font-weight: 400;
  border-top: 1px solid #D9D9D9;
  padding-top: 20px; }
  .mycart-outer .cont_btn a {
    background: #1e1e1e;
    color: #fff;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    font-weight: normal;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    display: inline-block;
    border-radius: 18px 0; }
    .mycart-outer .cont_btn a:hover {
      background: #7165ad;
      color: #fff !important; }

/* CMS pages */
.cms-page-view .col-main {
  color: #2a2a2a !important; }
  .cms-page-view .col-main span, .cms-page-view .col-main li, .cms-page-view .col-main ul, .cms-page-view .col-main h1, .cms-page-view .col-main h2, .cms-page-view .col-main h3, .cms-page-view .col-main h4, .cms-page-view .col-main h5, .cms-page-view .col-main strong, .cms-page-view .col-main p {
    color: #2a2a2a !important; }
  .cms-page-view .col-main h5 {
    font-size: 1em !important;
    margin: 10px 0; }
  .cms-page-view .col-main caption, .cms-page-view .col-main td, .cms-page-view .col-main th {
    padding: 5px;
    box-sizing: border-box; }
  .cms-page-view .col-main .page-title {
    border-bottom: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 50px;
    text-transform: lowercase; }
    .cms-page-view .col-main .page-title h1 {
      font-size: 1.714em;
      color: #2a2a2a;
      font-weight: 600; }
  .cms-page-view .col-main ul {
    padding: 0;
    margin: 0; }
    .cms-page-view .col-main ul li {
      list-style: none;
      margin-bottom: 30px; }
      .cms-page-view .col-main ul li:before {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        background: #dd4231;
        border-radius: 50% 0 50% 50%;
        vertical-align: top;
        margin-right: 15px; }
.cms-page-view .std a {
  color: #DD4231 !important; }

.inactive_element:hover {
  color: #DD4231 !important; }

/* Contact us page */
.contactsform-index-index .col-main .fieldset {
  border: 0;
  background: #fefefe;
  padding: 20px;
  margin: 20px 0;
  border: 1px dashed #DDDDDD;
  box-sizing: border-box; }
  .contactsform-index-index .col-main .fieldset .legend {
    display: none; }
  .contactsform-index-index .col-main .fieldset .form-list li {
    margin: 0 0 10px; }
  .contactsform-index-index .col-main .fieldset .form-list label {
    color: #2A2A2A;
    font-weight: 400;
    margin-bottom: 6px;
    font-size: 1.15em; }
  .contactsform-index-index .col-main .fieldset .form-list input.input-text, .contactsform-index-index .col-main .fieldset .form-list select, .contactsform-index-index .col-main .fieldset .form-list textarea {
    width: 100%;
    border-radius: 18px 0;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    box-sizing: border-box; }
  .contactsform-index-index .col-main .fieldset .form-list textarea {
    height: 5em; }
  .contactsform-index-index .col-main .fieldset .buttons-set {
    margin: 0;
    padding: 0;
    border: 0; }
    .contactsform-index-index .col-main .fieldset .buttons-set button.button {
      float: left;
      background: #000;
      border-radius: 18px 0;
      height: 36px;
      line-height: 36px;
      padding: 0 20px;
      box-sizing: border-box; }
      .contactsform-index-index .col-main .fieldset .buttons-set button.button span {
        height: auto;
        background: none;
        padding: 0;
        font-size: 1.1em; }
        .contactsform-index-index .col-main .fieldset .buttons-set button.button span span {
          padding: 0; }
      .contactsform-index-index .col-main .fieldset .buttons-set button.button:hover {
        background: #7165ad; }
  .contactsform-index-index .col-main .fieldset p.required {
    text-align: left; }
.contactsform-index-index .col-main .contact_address .address-box {
  display: inline-block;
  float: left;
  width: 49%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px dashed #DDDDDD;
  vertical-align: top; }
.contactsform-index-index .col-main .contact_address.f-right {
  float: right; }

.fancybox-wrap.fancybox-opened {
  width: 70% !important;
  left: 15% !important; }
  .fancybox-wrap.fancybox-opened .fancybox-inner {
    width: 100% !important; }
    .fancybox-wrap.fancybox-opened .fancybox-inner .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon {
      padding: 0; }
      .fancybox-wrap.fancybox-opened .fancybox-inner .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .totals {
        width: 250px; }

.txt-box, .youama-login-window input[type=text],
.youama-login-window input[type=password],
.youama-register-window input[type=text],
.youama-register-window input[type=password] {
  box-sizing: border-box;
  width: 90%; }

/* Success Page */
.onepagecheckout-index-success .col-main {
  font-size: 1em;
  color: #2A2A2A !important;
  border-top: 1px solid #E4E4E4 !important;
  margin-top: 20px;
  text-align: left; }
  .onepagecheckout-index-success .col-main .order-conf {
    text-align: left;
    margin-top: 20px; }
    .onepagecheckout-index-success .col-main .order-conf h3 {
      font-size: 1.8em;
      margin-bottom: 15px;
      color: #7165ad; }
    .onepagecheckout-index-success .col-main .order-conf span.success_cash {
      font-weight: 600;
      display: block;
      margin: 10px 0;
      font-size: 1.2em;
      color: #000; }
    .onepagecheckout-index-success .col-main .order-conf .second_block {
      margin-top: 20px; }
      .onepagecheckout-index-success .col-main .order-conf .second_block h2.summary_text {
        color: #000;
        text-transform: lowercase;
        margin: 0 0 10px;
        border-top: 1px dashed #8278B7;
        border-bottom: 1px dashed #8278B7;
        display: inline-block;
        padding: 10px 20px;
        box-sizing: border-box;
        width: 100%; }
      .onepagecheckout-index-success .col-main .order-conf .second_block .order_id_div {
        color: #DD4231;
        font-size: 1.1em;
        margin: 5px 0; }
    .onepagecheckout-index-success .col-main .order-conf table {
      display: table;
      width: 100%;
      margin-bottom: 20px; }
      .onepagecheckout-index-success .col-main .order-conf table td {
        border: 1px dashed #E2E2E2;
        padding: 10px;
        box-sizing: border-box;
        text-transform: lowercase; }
    .onepagecheckout-index-success .col-main .order-conf .success_charges table {
      display: inline-block;
      width: 30%; }
      .onepagecheckout-index-success .col-main .order-conf .success_charges table td {
        text-transform: capitalize; }
  .onepagecheckout-index-success .col-main .buttons-set {
    clear: both;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    margin-top: 20px; }
    .onepagecheckout-index-success .col-main .buttons-set button.button {
      float: left;
      background: #000;
      border-radius: 18px 0;
      height: 36px;
      line-height: 36px;
      padding: 0 20px;
      box-sizing: border-box; }
      .onepagecheckout-index-success .col-main .buttons-set button.button span {
        height: auto;
        background: none;
        padding: 0;
        font-size: 1.1em; }
        .onepagecheckout-index-success .col-main .buttons-set button.button span span {
          padding: 0; }
      .onepagecheckout-index-success .col-main .buttons-set button.button:hover {
        background: #7165ad; }

.youama-window-box .validation-advice {
  margin-left: 0; }

/* Forgot password page */
.customer-account-forgotpassword .col-main, .customer-account-login .col-main, .customer-account-changeforgotten .col-main {
  border-top: 1px solid #E0E0E0 !important;
  padding-top: 20px !important; }
  .customer-account-forgotpassword .col-main .page-title, .customer-account-login .col-main .page-title, .customer-account-changeforgotten .col-main .page-title {
    border-bottom: 0;
    padding: 0;
    margin: 0 0 20px; }
    .customer-account-forgotpassword .col-main .page-title h1, .customer-account-login .col-main .page-title h1, .customer-account-changeforgotten .col-main .page-title h1 {
      font-size: 1.5em;
      color: #2A2A2A; }
  .customer-account-forgotpassword .col-main .fieldset, .customer-account-login .col-main .fieldset, .customer-account-changeforgotten .col-main .fieldset {
    border: 0;
    background: #FFFFFF;
    padding: 0;
    margin: 0 !important; }
    .customer-account-forgotpassword .col-main .fieldset .legend, .customer-account-login .col-main .fieldset .legend, .customer-account-changeforgotten .col-main .fieldset .legend {
      display: none; }
    .customer-account-forgotpassword .col-main .fieldset p, .customer-account-login .col-main .fieldset p, .customer-account-changeforgotten .col-main .fieldset p {
      margin: 0 0 10px; }
  .customer-account-forgotpassword .col-main .form-list label, .customer-account-login .col-main .form-list label, .customer-account-changeforgotten .col-main .form-list label {
    color: #2A2A2A;
    font-weight: 400;
    font-size: 1.2em;
    margin: 0 0 5px; }
  .customer-account-forgotpassword .col-main .form-list input.input-text, .customer-account-login .col-main .form-list input.input-text, .customer-account-changeforgotten .col-main .form-list input.input-text {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    margin-bottom: 10px; }
  .customer-account-forgotpassword .col-main .buttons-set, .customer-account-login .col-main .buttons-set, .customer-account-changeforgotten .col-main .buttons-set {
    clear: both;
    margin: 0;
    padding: 0;
    border: 0; }
    .customer-account-forgotpassword .col-main .buttons-set button.button, .customer-account-login .col-main .buttons-set button.button, .customer-account-changeforgotten .col-main .buttons-set button.button {
      float: left;
      background: #2A2A2A;
      height: 36px;
      line-height: 36px;
      border-radius: 18px 0;
      padding: 0 20px;
      box-sizing: border-box;
      font-size: 1.2em;
      margin-top: 20px; }
      .customer-account-forgotpassword .col-main .buttons-set button.button span, .customer-account-login .col-main .buttons-set button.button span, .customer-account-changeforgotten .col-main .buttons-set button.button span {
        height: auto;
        background: none;
        padding: 0; }
        .customer-account-forgotpassword .col-main .buttons-set button.button span span, .customer-account-login .col-main .buttons-set button.button span span, .customer-account-changeforgotten .col-main .buttons-set button.button span span {
          padding: 0; }
      .customer-account-forgotpassword .col-main .buttons-set button.button:hover, .customer-account-login .col-main .buttons-set button.button:hover, .customer-account-changeforgotten .col-main .buttons-set button.button:hover {
        background: #7165ad; }
    .customer-account-forgotpassword .col-main .buttons-set .back-link, .customer-account-login .col-main .buttons-set .back-link, .customer-account-changeforgotten .col-main .buttons-set .back-link {
      float: none;
      display: block; }
  .customer-account-forgotpassword .col-main p.required, .customer-account-login .col-main p.required, .customer-account-changeforgotten .col-main p.required {
    text-align: left; }
  .customer-account-forgotpassword .col-main .col2-set .col-1, .customer-account-forgotpassword .col-main .col2-set .col-2, .customer-account-login .col-main .col2-set .col-1, .customer-account-login .col-main .col2-set .col-2, .customer-account-changeforgotten .col-main .col2-set .col-1, .customer-account-changeforgotten .col-main .col2-set .col-2 {
    width: 48%; }
    .customer-account-forgotpassword .col-main .col2-set .col-1 h2, .customer-account-forgotpassword .col-main .col2-set .col-2 h2, .customer-account-login .col-main .col2-set .col-1 h2, .customer-account-login .col-main .col2-set .col-2 h2, .customer-account-changeforgotten .col-main .col2-set .col-1 h2, .customer-account-changeforgotten .col-main .col2-set .col-2 h2 {
      margin: 0 0 10px; }
    .customer-account-forgotpassword .col-main .col2-set .col-1 p, .customer-account-forgotpassword .col-main .col2-set .col-2 p, .customer-account-login .col-main .col2-set .col-1 p, .customer-account-login .col-main .col2-set .col-2 p, .customer-account-changeforgotten .col-main .col2-set .col-1 p, .customer-account-changeforgotten .col-main .col2-set .col-2 p {
      margin: 0 0 5px; }
  .customer-account-forgotpassword .col-main .col2-set .col-2.registered-users, .customer-account-login .col-main .col2-set .col-2.registered-users, .customer-account-changeforgotten .col-main .col2-set .col-2.registered-users {
    border-left: 2px solid #E2E2E2;
    padding-left: 20px; }
  .customer-account-forgotpassword .col-main .col2-set .login-socially .clearer, .customer-account-login .col-main .col2-set .login-socially .clearer, .customer-account-changeforgotten .col-main .col2-set .login-socially .clearer {
    margin-right: 0; }
  .customer-account-forgotpassword .col-main .col2-set .buttons-set a.f-left, .customer-account-login .col-main .col2-set .buttons-set a.f-left, .customer-account-changeforgotten .col-main .col2-set .buttons-set a.f-left {
    width: 100%; }
  .customer-account-forgotpassword .col-main .col2-set .buttons-set button.button, .customer-account-login .col-main .col2-set .buttons-set button.button, .customer-account-changeforgotten .col-main .col2-set .buttons-set button.button {
    margin: 10px 0; }

.catalogsearch-result-index .wrapper .page .main-container .main .col-main, .elastic-search-result .wrapper .page .main-container .main .col-main {
  width: 100%; }
.catalogsearch-result-index .page-title, .elastic-search-result .page-title {
  height: auto;
  margin: 0; }
  .catalogsearch-result-index .page-title h1, .elastic-search-result .page-title h1 {
    font-size: 1.4em;
    margin: 5px 0; }
.catalogsearch-result-index .mobile_filter_icon, .catalogsearch-result-index .mobile-filter-close, .elastic-search-result .mobile_filter_icon, .elastic-search-result .mobile-filter-close {
  display: none !important; }

@media only screen and (max-width: 1100px) {
  .page .top-main-menu-blk .nav-container ul#nav li a {
    padding: 0 18px; } }
@media only screen and (max-width: 1024px) {
  .page .header-container {
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 10px;
    margin-bottom: 10px; }
    .page .header-container .main-content-page .left_section {
      margin-bottom: 0px;
      margin-top: 0px;
      float: left;
      width: 100%; }
      .page .header-container .main-content-page .left_section .logo_pan .logo_head .logo img {
        max-width: 160px; }
      .page .header-container .main-content-page .left_section .head-left, .page .header-container .main-content-page .left_section .head-right {
        line-height: 48px;
        width: auto;
        margin-left: 10%;
        float: left;
        text-align: left; }
      .page .header-container .main-content-page .left_section .head-right {
        width: 100%;
        margin-left: 0;
        display: none;
        position: absolute;
        left: 0;
        background: #FFFFFF;
        top: 81px;
        border-top: 2px solid #E4E1E1;
        border-bottom: 2px solid #E4E1E1;
        line-height: 40px;
        z-index: 99; }
        .page .header-container .main-content-page .left_section .head-right .quick-access {
          width: 100%; }
          .page .header-container .main-content-page .left_section .head-right .quick-access .form-search {
            border: 0;
            height: 30px;
            box-shadow: none; }
            .page .header-container .main-content-page .left_section .head-right .quick-access .form-search input#search {
              height: 30px;
              line-height: 30px;
              width: 90%; }
            .page .header-container .main-content-page .left_section .head-right .quick-access .form-search button.button {
              height: 30px;
              background-color: transparent; }
              .page .header-container .main-content-page .left_section .head-right .quick-access .form-search button.button:before {
                font-size: 1.7em;
                color: #DD4231; }
      .page .header-container .main-content-page .left_section .head-left .locator-link {
        position: absolute;
        left: 10px;
        top: 0;
        line-height: 30px; }
        .page .header-container .main-content-page .left_section .head-left .locator-link a {
          font-size: 16px;
          margin: 0px 0 0 0; }
      .page .header-container .main-content-page .left_section .search-icon-mob {
        display: inline-block;
        height: 36px;
        border-radius: 0 0 18px 0;
        background: #BFBFBF;
        position: absolute;
        left: 46px;
        top: 40px;
        cursor: pointer; }
        .page .header-container .main-content-page .left_section .search-icon-mob:before {
          content: "\e913";
          display: inline-block;
          font-family: "icomoon" !important;
          font-size: 1.6em;
          color: #fff;
          line-height: 36px;
          padding: 0 10px;
          box-sizing: border-box; }
      .page .header-container .main-content-page .left_section a.mobile_menu_icon {
        width: 35px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 40px;
        cursor: pointer;
        z-index: 999; }
        .page .header-container .main-content-page .left_section a.mobile_menu_icon:before {
          content: "\e61a";
          display: inline-block;
          font-family: "icomoon" !important;
          color: #fff;
          font-size: 1.3em;
          background-color: #BFBFBF;
          padding: 0 12px;
          height: 36px;
          line-height: 36px;
          border-radius: 0 0 0 0; }
    .page .header-container .top-links-page {
      padding: 5px 0 0; }
      .page .header-container .top-links-page .top-links-main {
        text-align: right; }
        .page .header-container .top-links-page .top-links-main a {
          font-size: 12px; }
        .page .header-container .top-links-page .top-links-main .links-left-top, .page .header-container .top-links-page .top-links-main .links-right-top {
          float: none;
          display: inline-block; }
        .page .header-container .top-links-page .top-links-main .links-left-top {
          display: none; }
        .page .header-container .top-links-page .top-links-main .links-right-top {
          						/* padding-left: 5px;
              					border-left: 1px solid #BFBFBF; */ }
  .page .top-main-menu-blk {
    position: static; }
    .page .top-main-menu-blk .cart_link_wrapper {
      margin-top: 0;
      position: absolute;
      right: 10px;
      top: 40px; }
      .page .top-main-menu-blk .cart_link_wrapper .header-cart-link span:before {
        position: absolute;
        top: -14px;
        right: 2px;
        padding: 0 10px;
        height: 36px;
        line-height: 36px;
        font-size: 1.8em;
        -webkit-border-top-left-radius: 0px;
        -moz-border-radius-topleft: 0px;
        border-top-left-radius: 0px; }
      .page .top-main-menu-blk .cart_link_wrapper .header-cart-link span label {
        left: -32px !important;
        top: -3px !important; }
      .page .top-main-menu-blk .cart_link_wrapper .search_links .search_wrap ul li a {
        margin-left: 1px; }
        .page .top-main-menu-blk .cart_link_wrapper .search_links .search_wrap ul li a:before {
          padding: 0 10px;
          height: 36px;
          line-height: 36px; }
      .page .top-main-menu-blk .cart_link_wrapper .search_links .search_wrap ul.links li a:before {
        padding: 0 10px; }
      .page .top-main-menu-blk .cart_link_wrapper .search_links .search_wrap.loggedin ul.dropdown-menu {
        top: 38px; }
    .page .top-main-menu-blk .cart_link_pan {
      margin-top: 0;
      position: absolute;
      top: 50px;
      right: 10px; }
      .page .top-main-menu-blk .cart_link_pan .header-cart-link span:before {
        font-size: 1.5em;
        padding: 5px 10px; }
      .page .top-main-menu-blk .cart_link_pan .header-cart-link span label {
        left: 13px;
        top: 10px; }
      .page .top-main-menu-blk .cart_link_pan .search_links .search_wrap ul li a:before {
        font-size: 1.5em;
        padding: 5px 10px; }
    .page .top-main-menu-blk .overlay-mob-menu {
      background: #000;
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 99;
      opacity: 0.5;
      display: none; }
    .page .top-main-menu-blk .nav-container {
      display: none; }

  .col1-layout .product-view .product-shop .product-name h1 {
    font-size: 21px; }
  .col1-layout .product-view .product-shop .price-box .regular-price .price, .col1-layout .product-view .product-shop .price-box .old-price .price, .col1-layout .product-view .product-shop .price-box .special-price .price {
    font-size: 21px; }
  .col1-layout .product-view .product-shop .product-options-bottom h1.g-product-title {
    padding: 15px 0 5px; }
  .col1-layout .product-view .product-shop .product-options dd {
    height: auto;
    margin: 0; }
  .col1-layout .product-view .product-shop .product-options .size_guide_wrap {
    display: block;
    padding-top: 0;
    margin: 10px 0; }
  .col1-layout .product-view .block-related h1:before, .col1-layout .product-view .block-related h1:after {
    width: 40%; }
  .col1-layout .product-view #customer-reviews h2 {
    margin-bottom: 10px; }
  .col1-layout .product-view .review-box {
    width: 100%; }
  .col1-layout .product-view #review_anchor .review-form-main {
    padding: 25px 35px;
    box-sizing: border-box; }
    .col1-layout .product-view #review_anchor .review-form-main h2 {
      font-size: 1.3em;
      margin-bottom: 10px; }
  .col1-layout .product-view #review_anchor .form-list label {
    font-size: 1.2em;
    margin-bottom: 5px; }
  .col1-layout .product-view #review_anchor .form-list input.input-text {
    line-height: 30px; }
  .col1-layout .product-view #review_anchor .form-list textarea {
    height: 4em; }

  .catalog-product-view .main-container .main {
    margin: 0; }

  #nav {
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 14px;
    margin-top: 14px; }
    #nav div, #nav ul {
      clear: both;
      position: static;
      width: 100%;
      box-sizing: border-box; }
    #nav li {
      width: 100%;
      border-bottom: 1px solid #C5C5C5; }
      #nav li a {
        padding: 8px 10px;
        font-weight: normal;
        color: #2A2A2A;
        text-transform: lowercase; }
      #nav li .street_img {
        width: 42px; }
    #nav ul li {
      border: 0; }
      #nav ul li a {
        padding: 9px 5px; }

  .mm-menu.mm-offcanvas.mm-current {
    border-right: 1px solid #BFBFBF; }

  .mm-listview > li, .mm-listview > li .mm-next, .mm-listview > li .mm-next:before, .mm-listview > li:after {
    border: 0;
    color: #888; }

  .mm-listview > li:not(.mm-divider):after {
    left: 0;
    color: #E2E2E2; }

  .mm-listview > li.mm-vertical > .mm-next, .mm-vertical .mm-listview > li > .mm-next {
    height: 20px;
    width: 30px; }

  li.level-top.parent:hover {
    background-color: #EEEEEE; }

  .mm-listview > li.mm-vertical > .mm-next:after, .mm-vertical .mm-listview > li > .mm-next:after {
    top: 12px; }

  .mm-listview .mm-vertical .mm-panel, .mm-vertical .mm-listview .mm-panel {
    padding: 0 0 0 0px; }

  .mm-vertical .mm-panel .secure_shipping {
    display: none; }

  #menu .footer-links-mob {
    display: none; }

  .mm-panels > .mm-panel:after, .mm-panels > .mm-panel:before {
    display: none; }

  .mm-panels > .mm-panel {
    padding: 0; }

  .mm-panels > .mm-panel .subcategory_wrap.sub_img {
    display: none; }

  .mm-menu {
    background: #DEDEDE; }

  .mm-menu .mm-divider, .mm-menu .mm-listview > li.mm-opened.mm-vertical > .mm-panel,
  .mm-menu .mm-listview > li.mm-opened.mm-vertical > a.mm-next,
  .mm-menu.mm-vertical .mm-listview > li.mm-opened > .mm-panel,
  .mm-menu.mm-vertical .mm-listview > li.mm-opened > a.mm-next {
    background: none; }

  #nav li > div {
    border-top: 1px solid #E4E4E4; }

  .cart #shopping-cart-table .tHead {
    font-size: 1.1em; }
  .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon {
    padding: 0; }
    .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .pr-coupon-code label {
      margin-right: 10px;
      font-size: 1.1em; }
    .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .pr-coupon-code .input-box input {
      border: 1px solid #DCDCDC; }
    .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .totals {
      font-size: 1.1em; }

  .customer-account-forgotpassword .col-main, .customer-account-login .col-main, .customer-account-changeforgotten .col-main {
    border-top: 0 !important;
    padding-top: 10px !important; }

  .cms-page-view .col-main {
    padding: 0 10px !important;
    box-sizing: border-box; }

  .mm-menu .mm-divider, .mm-menu .mm-listview > li.store-link {
    display: none; }

  #nav ul li a {
    padding-left: 20px; }

  #nav ul li div.mm-panel ul li a {
    padding-left: 35px; }

  #nav ul li div.mm-panel ul li.mm-opened div.mm-panel ul li a {
    padding-left: 50px; }

  #nav li.mm-opened div.submenu_wrap {
    background-color: #eeeeee !important; }

  #nav li.mm-opened div.submenu_wrap ul li div.submenu_wrap {
    background-color: #fafafa !important; }

  #nav li.mm-opened div.submenu_wrap ul li div.submenu_wrap ul li div.submenu_wrap {
    background-color: #fff !important; } }
.slick-dots {
  display: none !important; }

@media only screen and (max-width: 800px) {
  .page .top-main-menu-blk .nav-container ul#nav {
    width: 45%; }
  .page .top-main-menu-blk .cart_link_wrapper .header-cart-link span label {
    top: 13px;
    width: 20px; }

  .col1-layout .product-view .product-img-box {
    display: none; }
  .col1-layout .product-view #product-slider {
    display: block; }
    .col1-layout .product-view #product-slider .slick-initialized .slick-slide img {
      width: 70%;
      display: inline-block; }
    .col1-layout .product-view #product-slider .slick-prev, .col1-layout .product-view #product-slider .slick-next {
      background: none;
      cursor: pointer; }
      .col1-layout .product-view #product-slider .slick-prev:before, .col1-layout .product-view #product-slider .slick-next:before {
        font-size: 25px;
        font-size: 25px;
        opacity: 1;
        color: #A0A0A0; }
    .col1-layout .product-view #product-slider .slick-next {
      right: 5px; }
    .col1-layout .product-view #product-slider .slick-prev {
      left: 0; }
  .col1-layout .product-view .product-shop {
    width: 100%;
    float: left; }
  .col1-layout .product-view .block-related h1:before, .col1-layout .product-view .block-related h1:after {
    width: 38%; }
  .col1-layout .product-view #review_anchor {
    max-width: 700px;
    margin-left: -350px; }
  .col1-layout .product-view .product-shop .product-options-bottom ul.add-to-links .wishlist-sec {
    display: inline-block;
    float: left; }
    .col1-layout .product-view .product-shop .product-options-bottom ul.add-to-links .wishlist-sec .link-wishlist {
      padding: 0;
      font-size: 18px;
      text-transform: lowercase;
      color: #1E1E1E; }
      .col1-layout .product-view .product-shop .product-options-bottom ul.add-to-links .wishlist-sec .link-wishlist:before {
        content: "\e904";
        display: inline-block;
        font-size: 1em;
        color: #1E1E1E;
        font-family: "icomoon" !important;
        line-height: 1.286em;
        margin-right: 5px;
        top: 2px;
        position: relative; }
      .col1-layout .product-view .product-shop .product-options-bottom ul.add-to-links .wishlist-sec .link-wishlist span.plus_ico {
        display: none; }

  .onepagecheckout-index-success .col-main .order-conf .success_charges table {
    display: table;
    width: 50%; } }
@media only screen and (max-width: 736px) {
  .page .header-container {
    padding-bottom: 0; }
    .page .header-container .main-content-page .left_section .head-right {
      top: 60px; }
      .page .header-container .main-content-page .left_section .head-right .quick-access .form-search input#search {
        width: 680px; }
    .page .header-container .main-content-page .left_section .head-left {
      display: none; }
    .page .header-container .main-content-page .left_section .logo_pan {
      padding: 10px 0 5px; }
      .page .header-container .main-content-page .left_section .logo_pan .logo_head .logo img {
        max-width: 130px; }
    .page .header-container .main-content-page .left_section .search-icon-mob {
      top: 14px; }
    .page .header-container .main-content-page .left_section a.mobile_menu_icon {
      top: 14px; }
    .page .header-container .top-links-page {
      display: none; }
  .page .top-main-menu-blk .header {
    top: 14px; }
  .page .top-main-menu-blk .cart_link_wrapper {
    top: 14px; }
    .page .top-main-menu-blk .cart_link_wrapper .header-cart-link {
      float: left; }
    .page .top-main-menu-blk .cart_link_wrapper .search_links .search_wrap ul li a {
      margin-left: 2px; }
    .page .top-main-menu-blk .cart_link_wrapper .search_links .links li.last {
      display: inline-block; }
  .page .top-main-menu-blk .nav-container ul#nav li.store-link {
    display: block; }

  .mm-menu .mm-divider, .mm-menu .mm-listview > li.store-link {
    display: block; }

  .col1-layout .product-view #product-slider .slick-initialized .slick-slide img {
    width: 50%; }
  .col1-layout .product-view .product-shop .product-name h1 {
    font-size: 20px;
    font-weight: 400; }
  .col1-layout .product-view .product-shop .price-box .regular-price .price, .col1-layout .product-view .product-shop .price-box .old-price .price, .col1-layout .product-view .product-shop .price-box .special-price .price {
    font-size: 18px;
    margin: 15px 0; }
  .col1-layout .product-view .product-shop .product-options dd #size-options-select span {
    margin: 0 2px;
    padding: 5px 17px;
    font-size: 16px; }
  .col1-layout .product-view button.button span {
    height: 32px;
    line-height: 32px;
    font-size: 16px; }
  .col1-layout .product-view #review_anchor {
    max-width: 650px;
    margin-left: -325px; }

  #menu .footer-links-mob {
    display: block; }

  #menu .footer-links-mob h4.footerheadings {
    font-size: 1em;
    text-align: left;
    padding: 10px 10px;
    border-bottom: 1px solid #E2E2E2; }

  #menu .footer-links-mob h4.footerheadings {
    position: relative;
    text-transform: lowercase; }
    #menu .footer-links-mob h4.footerheadings:before, #menu .footer-links-mob h4.footerheadings:after {
      content: "";
      display: inline-block;
      position: absolute;
      right: 20px;
      top: 10px;
      border-left: 8px solid #AAA;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent; }
    #menu .footer-links-mob h4.footerheadings:after {
      right: 23px;
      border-left: 8px solid #fff; }
    #menu .footer-links-mob h4.footerheadings.arrow-down:before, #menu .footer-links-mob h4.footerheadings.arrow-down:after {
      content: "";
      display: inline-block;
      position: absolute;
      right: 20px;
      top: 14px;
      border-top: 8px solid #AAA;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent; }
    #menu .footer-links-mob h4.footerheadings.arrow-down:after {
      top: 11px;
      border-top: 8px solid #fff; }

  .mm-listview > li > a, .mm-listview > li > span {
    text-align: left;
    text-transform: lowercase;
    padding: 10px 10px 10px 15px; }

  ul.policy.mm-listview {
    display: none;
    background: #fff;
    border: 0;
    border-top: 0;
    border-bottom: 0;
    position: relative; }
    ul.policy.mm-listview:before {
      position: absolute;
      content: "";
      border: 5px solid #FFF;
      left: 0;
      height: 90%;
      z-index: 9; }

  .mm-vertical .mm-panel .secure_shipping.mobile {
    display: block;
    border-bottom: 0;
    padding: 10px 0 0; }
    .mm-vertical .mm-panel .secure_shipping.mobile .secure_wrap, .mm-vertical .mm-panel .secure_shipping.mobile .shipping_wrap, .mm-vertical .mm-panel .secure_shipping.mobile .globuson_wrap {
      display: none; }
    .mm-vertical .mm-panel .secure_shipping.mobile .follow_us_wrap {
      width: 100%; }
      .mm-vertical .mm-panel .secure_shipping.mobile .follow_us_wrap .ship_title.plus {
        font-size: 1.3em;
        background: #E2E2E2;
        color: #000;
        padding: 5px 0;
        text-align: left;
        padding-left: 12px;
        display: none; }

  .cart #shopping-cart-table .tFoot {
    padding-top: 5px; }
    .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon {
      margin-bottom: 10px;
      border-bottom: 1px dashed #D7D7D7; }
      .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .totals {
        width: 260px; }
      .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .pr-coupon-code {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #D7D7D7;
        padding-bottom: 5px; }
        .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .pr-coupon-code .buttons-set button.button span {
          height: 34px;
          line-height: 34px; }
        .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .pr-coupon-code .input-box input {
          line-height: 33px; }
    .cart #shopping-cart-table .tFoot .tFootinner .cart_pro_btn button.button {
      margin-bottom: 15px; }
      .cart #shopping-cart-table .tFoot .tFootinner .cart_pro_btn button.button span {
        height: 36px;
        line-height: 36px;
        font-size: 1.1em; }

  .fancybox-wrap.fancybox-opened {
    width: 90% !important;
    left: 5% !important; }
    .fancybox-wrap.fancybox-opened .cart #shopping-cart-table .tFoot .tFootinner .cart_pro_btn button.button {
      padding: 0 15px; }
      .fancybox-wrap.fancybox-opened .cart #shopping-cart-table .tFoot .tFootinner .cart_pro_btn button.button span {
        height: 33px;
        line-height: 33px;
        font-size: 1em; }

  .youama-login-window, .youama-register-window {
    position: absolute !important;
    width: 95% !Important;
    left: 2.5% !important;
    top: 10px !Important;
    height: auto !important;
    box-sizing: border-box; } }
@media only screen and (max-width: 690px) {
  .page .header-container .main-content-page .left_section .head-right .quick-access .form-search input#search {
    width: 635px; } }
@media only screen and (max-width: 667px) {
  .page .header-container .main-content-page .left_section .head-right .quick-access .form-search input#search {
    width: 610px; }

  .col1-layout .product-view .block-related h1:before, .col1-layout .product-view .block-related h1:after {
    width: 35%; }
  .col1-layout .product-view #review_anchor {
    max-width: 600px;
    margin-left: -300px; } }
@media only screen and (max-width: 584px) {
  .page .header-container .main-content-page .left_section .head-right .quick-access .form-search input#search {
    width: 525px; }

  .col1-layout .product-view #review_anchor {
    max-width: 500px;
    margin-left: -250px; }
    .col1-layout .product-view #review_anchor .form-list .input-box {
      width: 100%; } }
@media only screen and (max-width: 568px) {
  .page .header-container .main-content-page .left_section .head-right .quick-access .form-search input#search {
    width: 510px; }

  .col1-layout .product-view .block-related h1:before, .col1-layout .product-view .block-related h1:after {
    width: 33%; }

  .customer-account-login .col-main .col2-set .col-1, .customer-account-login .col-main .col2-set .col-2 {
    width: 100%; }
  .customer-account-login .col-main .col2-set .col-2.registered-users {
    border-left: 0;
    padding-left: 0;
    border-top: 2px solid #EAEAEA;
    padding: 10px 0 0;
    margin-top: 10px; }

  .cart .discount {
    text-align: center; } }
@media only screen and (max-width: 480px) {
  .page .header-container .main-content-page .left_section .head-right .quick-access .form-search input#search {
    width: 422px; }

  .col1-layout .product-view #product-slider .slick-initialized .slick-slide img {
    width: 80%; }
  .col1-layout .product-view .block-related h1:before, .col1-layout .product-view .block-related h1:after {
    width: 30%; }
  .col1-layout .product-view #customer-reviews h2 {
    font-size: 1.6em; }
  .col1-layout .product-view #review_anchor {
    max-width: 400px;
    margin-left: -200px; }

  .cart {
    margin-top: 10px; }
    .cart #shopping-cart-table .tHead {
      display: none; }
    .cart #shopping-cart-table .tBody {
      height: auto; }
      .cart #shopping-cart-table .tBody .tBody_inner {
        border-bottom: 2px solid #CFCFCF;
        padding: 5px 0 0; }
        .cart #shopping-cart-table .tBody .tBody_inner div {
          width: 100%;
          text-align: left;
          vertical-align: top;
          border-bottom: 1px dashed #E2E2E2;
          padding: 7px 10px;
          box-sizing: border-box; }
          .cart #shopping-cart-table .tBody .tBody_inner div.cart_img_pro span {
            display: inline-block; }
          .cart #shopping-cart-table .tBody .tBody_inner div.cart_size dl.item-options {
            display: inline-block; }
            .cart #shopping-cart-table .tBody .tBody_inner div.cart_size dl.item-options dd {
              padding-left: 0; }
          .cart #shopping-cart-table .tBody .tBody_inner div.cart_size:before {
            content: "size : ";
            display: inline-block; }
          .cart #shopping-cart-table .tBody .tBody_inner div.cart_qty_pro:before {
            content: "quantity : ";
            display: inline-block; }
          .cart #shopping-cart-table .tBody .tBody_inner div.cart_sub_total_pro:before {
            content: "price : ";
            display: inline-block; }
    .cart #shopping-cart-table .tFoot .tFootinner .cart_pro_btn {
      text-align: center; }
      .cart #shopping-cart-table .tFoot .tFootinner .cart_pro_btn .checkout-types {
        float: none;
        text-align: center;
        width: 100%; }
      .cart #shopping-cart-table .tFoot .tFootinner .cart_pro_btn button.button {
        float: none; }
    .cart #shopping-cart-table .tFoot .tFootinner .totals-n-coupon .pr-coupon-code label {
      display: block;
      margin-right: 0; }
    .cart .discount {
      margin-top: 0;
      padding-top: 5px; }
      .cart .discount label {
        font-size: 1.186em;
        margin-right: 0;
        display: block; }

  .youama-login-window, .youama-register-window {
    padding: 5px; }
    .youama-login-window .facebook_twitter_google, .youama-login-window .facebook_twitter_google_sign, .youama-register-window .facebook_twitter_google, .youama-register-window .facebook_twitter_google_sign {
      width: 100%;
      position: static;
      border-left: 0;
      padding: 0;
      min-height: inherit;
      margin-bottom: 10px; }
      .youama-login-window .facebook_twitter_google .inchoo-socialconnect-google, .youama-login-window .facebook_twitter_google .inchoo-socialconnect-facebook, .youama-login-window .facebook_twitter_google_sign .inchoo-socialconnect-google, .youama-login-window .facebook_twitter_google_sign .inchoo-socialconnect-facebook, .youama-register-window .facebook_twitter_google .inchoo-socialconnect-google, .youama-register-window .facebook_twitter_google .inchoo-socialconnect-facebook, .youama-register-window .facebook_twitter_google_sign .inchoo-socialconnect-google, .youama-register-window .facebook_twitter_google_sign .inchoo-socialconnect-facebook {
        margin: 0;
        width: 150px !important; }
      .youama-login-window .facebook_twitter_google .clearer, .youama-login-window .facebook_twitter_google_sign .clearer, .youama-register-window .facebook_twitter_google .clearer, .youama-register-window .facebook_twitter_google_sign .clearer {
        display: inline-block;
        text-align: center;
        margin-bottom: 10px; }
      .youama-login-window .facebook_twitter_google .login_or, .youama-login-window .facebook_twitter_google .sign_or, .youama-login-window .facebook_twitter_google_sign .login_or, .youama-login-window .facebook_twitter_google_sign .sign_or, .youama-register-window .facebook_twitter_google .login_or, .youama-register-window .facebook_twitter_google .sign_or, .youama-register-window .facebook_twitter_google_sign .login_or, .youama-register-window .facebook_twitter_google_sign .sign_or {
        display: none; }
    .youama-login-window .input-container, .youama-register-window .input-container {
      padding-right: 0;
      width: 100%; }
      .youama-login-window .input-container:first-child, .youama-register-window .input-container:first-child {
        margin: 0 0 10px 0; }
    .youama-login-window .forgotpassword, .youama-register-window .forgotpassword {
      width: 100%;
      padding: 0;
      border: 0; }
    .youama-login-window label, .youama-register-window label {
      font-size: 1.2em;
      margin: 0 0 2px 0; }
    .youama-login-window input[type=text], .youama-login-window input[type=password], .youama-register-window input[type=text], .youama-register-window input[type=password] {
      padding: 8px 15px !Important; }

  .youama-window-box .form_fields {
    width: 100%;
    padding-right: 0;
    min-height: inherit; }

  .onepagecheckout-index-success .col-main .order-conf .success_charges table {
    display: table;
    width: 100%; } }
@media only screen and (max-width: 414px) {
  .page .header-container .main-content-page .left_section .head-right .quick-access .form-search input#search {
    width: 360px; }

  .col1-layout .product-view .block-related h1:before, .col1-layout .product-view .block-related h1:after {
    width: 27%; }
  .col1-layout .product-view .product-shop .product-name h1 {
    font-size: 18px; }
  .col1-layout .product-view .product-shop .product-options-bottom h1.g-product-title {
    font-weight: 400;
    font-size: 16px; }
  .col1-layout .product-view .product-shop .product-options-bottom ul.add-to-links li.product-page-write-review {
    font-weight: 400;
    font-size: 16px; }
  .col1-layout .product-view #review_anchor {
    max-width: 350px;
    margin-left: -175px; }

  .col1-layout .product-view .product-shop .product-options-bottom ul.add-to-links .wishlist-sec .link-wishlist {
    font-size: 16px;
    font-weight: normal; } }
@media only screen and (max-width: 375px) {
  .page .header-container .main-content-page .left_section .head-right .quick-access .form-search input#search {
    width: 315px; }
  .page .header-container .main-content-page .left_section .search-icon-mob {
    height: 30px; }
    .page .header-container .main-content-page .left_section .search-icon-mob:before {
      padding: 0 8px;
      font-size: 1.3em;
      line-height: 30px; }
  .page .header-container .main-content-page .left_section .logo_pan .logo_head .logo img {
    max-width: 120px; }
  .page .header-container .main-content-page .left_section a.mobile_menu_icon:before {
    height: 30px;
    line-height: 30px;
    font-size: 1.2em; }
  .page .top-main-menu-blk .header:before {
    padding: 0 8px;
    height: 30px;
    line-height: 30px; }
  .page .top-main-menu-blk .cart_link_wrapper .header-cart-link span:before {
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    top: -14px; }
  .page .top-main-menu-blk .cart_link_wrapper .header-cart-link span label {
    left: 10px;
    top: -4px !important;
    width: 19px; }
  .page .top-main-menu-blk .cart_link_wrapper .search_links .search_wrap ul li a:before {
    padding: 0 8px;
    height: 30px;
    line-height: 30px; }
  .page .top-main-menu-blk .cart_link_wrapper .search_links .search_wrap ul.links li a:before {
    height: 30px;
    line-height: 30px; }
  .page .top-main-menu-blk .cart_link_wrapper .search_links .search_wrap.loggedin p.welcome-msg:before {
    height: 30px;
    line-height: 30px;
    font-size: 1.3em; }

  .col1-layout .product-view #review_anchor {
    max-width: 330px;
    margin-left: -165px; }
    .col1-layout .product-view #review_anchor .review-form-main {
      padding: 15px 10px; }
      .col1-layout .product-view #review_anchor .review-form-main th {
        padding: 0; } }
@media only screen and (max-width: 360px) {
  body .header-container, .page .top-main-menu-blk .cart_link_wrapper {
    font-size: 12px !important; }

  .page .header-container .main-content-page .left_section .head-right .quick-access .form-search input#search {
    width: 300px; }

  .page .top-main-menu-blk .cart_link_wrapper .header-cart-link span:before {
    top: -12px; }
  .page .top-main-menu-blk .cart_link_wrapper .header-cart-link span label {
    left: -30px !important;
    top: -2px !important; } }
@media only screen and (max-width: 320px) {
  .page .header-container .main-content-page .left_section .head-right .quick-access .form-search input#search {
    width: 265px; }

  .col1-layout .product-view .block-related h1:before, .col1-layout .product-view .block-related h1:after {
    width: 23%; }
  .col1-layout .product-view #review_anchor {
    max-width: 300px;
    margin-left: -150px; }
  .col1-layout .product-view .review-form-main .close-btn-review {
    width: 30px;
    height: 30px;
    line-height: 30px;
    right: 0;
    top: 0; } }
#menu > .mm-panels {
  overflow: hidden; }

.account_pages .single_ordered-product-info {
  text-align: center; }
  .account_pages .single_ordered-product-info .product-image img {
    width: auto !important; }

/*# sourceMappingURL=custom_k.css.map */
