@font-face {
    font-family: 'ChiselCondensedBold';
    src: url('../fonts/Chisel_Condensed_Bold.ttf') format('ttf'), url('../fonts/Chisel_Condensed_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChiselCondensedNormal';
    src: url('../fonts/ChiselCondensedNormal.ttf') format('ttf'), url('../fonts/ChiselCondensedNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/CenturyGothic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/CenturyGothic.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/CenturyGothic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/CenturyGothic.svg#svgFontName') format('svg');
}