@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?zw5qk');
    src:    url('../fonts/icomoon.eot?zw5qk#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?zw5qk') format('truetype'),
        url('../fonts/icomoon.woff?zw5qk') format('woff'),
        url('../fonts/icomoon.svg?zw5qk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-interface:before {
    content: "\e918";
}
.icon-money:before {
    content: "\e917";
}
.icon-tool:before {
    content: "\e915";
}
.icon-transport:before {
    content: "\e916";
}
.icon-wishlist:before {
    content: "\e904";
}
.icon-cart:before {
    content: "\e90a";
}
.icon-go-to-top:before {
    content: "\e910";
}
.icon-my-account:before {
    content: "\e911";
}
.icon-right-arrow:before {
    content: "\e912";
}
.icon-saerch:before {
    content: "\e913";
}
.icon-store-locator:before {
    content: "\e914";
}
.icon-home:before {
    content: "\e603";
}
.icon-instagram:before {
    content: "\e604";
}
.icon-twitter:before {
    content: "\e60a";
}
.icon-category_cart:before {
    content: "\e60c";
}
.icon-quickview:before {
    content: "\e60d";
}
.icon-next_arrow:before {
    content: "\e60f";
}
.icon-prev_arrow:before {
    content: "\e610";
}
.icon-close:before {
    content: "\e618";
}
.icon-menu:before {
    content: "\e61a";
}
.icon-filter:before {
    content: "\e61d";
}
.icon-letter120:before {
    content: "\e621";
}
.icon-check527:before {
    content: "\e624";
}
.icon-whatsapp2:before {
    content: "\e625";
}
.icon-whatsapp1:before {
    content: "\e626";
}
.icon-refresh:before {
    content: "\e628";
}
.icon-facebook:before {
    content: "\e900";
}
.icon-googleplus:before {
    content: "\e901";
}
.icon-linkedin:before {
    content: "\e902";
}
.icon-Pinterst:before {
    content: "\e903";
}
.icon-you_tube:before {
    content: "\e905";
}
.icon-bullet:before {
    content: "\e906";
}
.icon-chart:before {
    content: "\e907";
}
.icon-telegram:before {
    content: "\e908";
}
.icon-left-arrow:before {
    content: "\e909";
}
.icon-message:before {
    content: "\e90b";
}
.icon-phone:before {
    content: "\e90c";
}
.icon-rate:before {
    content: "\e90d";
}
.icon-time:before {
    content: "\e90e";
}
.icon-edit:before {
    content: "\e90f";
}

