


.customer-account-login #onepagecheckout_loginbox {
    background: #fff;
    padding: 20px;
    position: relative;
    border-top: 6px solid #97d2c9;
    overflow: hidden;
    min-height: 217px;
}
.customer-account-login .login_with_text_onepagecheckout {
    width: 27%;
    padding: 36px 0 6% 7%;
}
.customer-account-login .login_title {
    padding: 00;
    border-bottom: 0;
    margin-bottom: 20px;
    font-size: 1.6em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1em;
    font-family: "Open Sans";
    color: #696969;
}
.customer-account-login #login-form {
    float: left;
    width: 60%;
    padding: 20px 0;
}
.customer-account-login #login-form .full {
    margin-left: 20px;
    width: 100%;
    margin-bottom: 20px;
    float: left;
}
.customer-account-login #login-form .form_fields label,
.customer-account-login #login-form .step {
    font-size: 1.05em;
    line-height: 23px;
    float: left;
    color: #808080;
}
.customer-account-login #login-form sup {
    top: 9px;
    float: left;
    color: #c00;
}
.customer-account-login #login-form .data_area,
.customer-account-login #login-form .input-box {
    float: left;
    margin-left: 25px;
    width: 72%;
}
.customer-account-login #login-form .input-box {
    margin-left: 54px;
}
.customer-account-login #login-form input {
    width: 100%;
}
.customer-account-login #login-form .step_login_button {
    float: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    background: #97d2c9 url('../images/btn_overlay.png') 0 0 repeat-x;
    padding: 0px;
    height: 42px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 25px;
    margin-left: 115px;
}
.customer-account-login #login-form .step_login_button:hover {
    background-color: #393431;
    border: 0;
    border: 0;
}
.customer-account-login #login-form .buttons-set {
    float: left;
}
.customer-account-login #login-form .onepagecheckout_forgotlink {
    margin: 0 15px;
}
.customer-account-login #login-form .creat_account_btn_area {
    margin-top: 20px;
}
.customer-account-login #login-form .creat_account_btn_area a {
    cursor: pointer;
}
.order-products-table tbody th,
.order-products-table tbody td {
    border: 0;
    border-bottom: 1px dashed #BFBFBF;
}
/*.complete_checkout button.button, #onepagecheckout_orderform button.btn-checkout {border: 0; padding: 5px; margin: 15px 0 0; background: #fc8332; cursor: pointer; display: block; background: #97d2c9 url('../images/btn_overlay.png') 0 0 repeat-x; padding: 0px 25px; height: 42px !important; line-height: 42px !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; color: #fff; text-transform: uppercase; font-weight: normal !important; }*/


.displaynone {
    display: none;
}
#haspass,
#haspass1 {
    float: left;
    margin: 8px 5px 0px 0px;
}
.showformlog {
    clear: both;
}
.custedit {
    background: url('../images/editicons.png') no-repeat 0 -478px;
    width: 16px;
    height: 15px;
    display: inline-block;
    zoom: 1;
}
.custaddressdrop {
    display: none;
}
.cust_add_check {
    float: left;
    margin-right: 20px;
}
.customer_checkout_newaddress {
    clear: both;
    float: left;
    width: 97%;
}
.m-fix {
    width: 40%;
    padding: 0;
    float: left;
}
.y-fix {
    width: 40%;
    padding: 0;
    float: left;
}
.cvvimg {
    background: #ededed url('../images/checkout/all.png') -199px 0;
    width: 62px;
    height: 36px;
    float: left;
    margin-left: 5px;
}
.ccinput {
    float: left;
}
.topimagescc {
    background: url('../images/card-small.png') 0 0 no-repeat;
    height: 26px;
    width: 40px;
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
}
.visa_image {
    background: url('../images/checkout/visa_master.png') 0 0 no-repeat;
    width: 100px;
    height: 30px;
    float: left;
    margin: -8px 20px 0 10px;
}
.visa_image_next {
    background: url('../images/checkout/visa_master.png') -52px 0px no-repeat;
    width: 100px;
    height: 30px;
    float: left;
    margin: -8px 20px 0 10px;
}
.amex_image {
    background: url('../images/checkout/amex.png') no-repeat;
    width: 50px;
    height: 30px;
    float: left;
    margin: -8px 0 0 10px;
}
.cctype_radio {
    float: left;
}
.amex_radio {
    margin-left: 10px;
}
.error_payudebit_standard_cc_cid,
.error_secureebs_standard_cc_cid {
    position: absolute;
    top: 100%;
}
#advice-required-entry-secureebs_standard_cc_cid,
#advice-required-entry-payudebit_standard_cc_cid {
    position: absolute;
    top: 100%;
}
.checkout_lock {
    background-image: url('../images/checkout/trust-banners-icon.png');
    background-position: 0 0;
    width: 15px;
    height: 21px;
    display: inline-block;
    zoom: 1;
    margin-right: 10px;
    opacity: 0.5;
}
.checkout_return {
    background-image: url('../images/checkout/trust-banners-icon.png');
    background-position: 0 -66px;
    width: 20px;
    height: 20px;
    display: inline-block;
    zoom: 1;
    margin-right: 10px;
    opacity: 0.5;
}
.checkout_protection {
    background-image: url('../images/checkout/trust-banners-icon.png');
    background-position: 0 -88px;
    width: 15px;
    height: 20px;
    display: inline-block;
    zoom: 1;
    margin-right: 10px;
    opacity: 0.5;
}
.checkout_logo {
    float: left;
    padding-right: 30px;
    margin-top: 5px;
}
.unit_img_lock {
    padding: 14px 10px 14px;
    line-height: 1em;
    border-left: #dbdbdb solid 1px;
    border-left: #dbdbdb solid 1px;
}
.fl {
    float: left
}
.checkout_head {
    background-color: #eee;
    margin-bottom: 10px;
    width: 100%;
    float: left;
    position: fixed;
    left: 0;
    z-index: 1000;
    top: 0;
    padding: 0 0;
    background: #fff;
    /*border-bottom: 1px solid #8f8f8f;*/
    
    box-shadow: 0 4px 0 #EDEDED;
    -moz-box-shadow: 0 4px 0 #EDEDED;
    -webkit-box-shadow: 0 4px 0 #EDEDED;
}
.checkoutmethod_logos {
    float: right;
    margin: 10px;
}
.text_unit {
    display: inline-block;
    text-transform: uppercase;
    color: #666;
    width: 90px;
}

.unit_img_return,
.unit_img_buy {
    padding: 14px 10px 14px;
    line-height: 1em;
    border-left: #dbdbdb solid 1px;
}
.head_centre {
    width: 1000px;
    margin: 0 auto;
}
.all_bank_logo {
    background: url('../images/checkout/checkoutfooter.png') no-repeat;
    width: 400px;
    height: 28px;
    float: left;
    display: inline-block;
    margin-left: 10px;
}
.pay_heading {
    display: inline-block;
    float: left;
    color: #848484;
    text-transform: uppercase;
    padding-top: 5px;
}
.checkout_help_no {
    display: inline-block;
    height: 20px;
    text-transform: uppercase;
    color: #848484;
    float: right;
    padding-top: 5px;
}
.cc_logo_visa {
    cursor: pointer;
}
#onepagecheckout_orderform .form_fields sup {
    color: #767676;
    font-size: 100%;
    line-height: 0;
    margin-left: 3px;
    position: relative;
    top: 6px;
    float: left;
}


.onepagecheckout_datafields .op_block_title {
    padding: 10px 0 14px 10px;
}
.order-products-table thead th {
    font-size: 0.95em;
    padding: 7px 6px;
    text-align: center !important;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    background: #ededed;
    font-family: arial;
}
.order-products-table tbody th,
.order-products-table tbody td {
    border: 0;
    border-bottom: 1px solid #ddd;
    font-size: 0.95em;
    border-right: 1px solid #eee;
    padding: 6px 15px;
}
.order-products-table tbody td .product-name {
    font-size: 14px;
    font-weight: normal;
    color: #565656;
    min-width: 154px;
}
.order-products-table tbody td .price,
.order-products-table tfoot th .price,
.order-products-table tfoot td .price {
    white-space: nowrap !important;
    font-weight: bold;
    color: #333;
}
.order-products-table tfoot th,
.order-products-table tfoot td {
    text-align: left !important;
    padding: 6px 10px;
    border-bottom: 0;
}
.order-products-table tfoot th.last,
.order-products-table tfoot td.last {
    text-align: right !important;
}
.order-products-table tfoot tr {
    background: #f7f7f7 !important;
}
.order-products-table tfoot tr.first td {
    background-color: #ffffff;
    border-bottom: 0;
    font-size: 13px;
}
.order-products-table tfoot tr.last td {
    background: #fff;
}
#checkout-review,
#checkout-coupon-discount-load,
.shipping.address {
    background: #fff;
    border: 1px #e2e2e2 solid;
    border-radius: 4px;
    margin-bottom: 20px;
}
div.customer_checkout_address.customer_checkout_newaddress {
    margin-left: 173px;
    margin-bottom: ;
    width: 190px !important;
    padding: 6px 7px !important;
    border: 1px solid #B6B6B6 !important;
}
div.customer_checkout_address.customer_checkout_newaddress {
    margin-bottom: 20px;
}
span#address-step-continue {
    margin-left: 173px;
}
.discount-form {
    padding: 10px;
}
.discount .messages li {
    margin: 0 10px;
}
button.button span,
button.button span span {
    background: transparent;
}
.ship_html {
    padding: 0 10px 10px;
    line-height: 1.7em;
}
.shiphead {
    margin: 0 0 15px;
    padding: 10px 0 14px;
    border-bottom: 0;
    margin-bottom: 0;
    font-size: 1.6em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1em;
    font-family: "Open Sans";
    color: #696969;
}
.complete_checkout .discount button.button,
#onepagecheckout_orderform .discount button.btn-checkout {
    margin: 15px 5px 0 0;
    padding: 0;
}
.onepagecheckout-index-index .buttons-set ,.mobileapp-index-index .buttons-set {
    margin: 0;
    padding-top: 5px;
}
.required.remember_me {
    color: #767676;
    float: left;
    font-weight: normal;
    position: relative;
    z-index: 0;
    margin-bottom: 20px;
}
.for_font_line {
    font-size: 12px;
    line-height: 12px;
}
.upperarrow {
    height: 0px;
    width: 0px;
    display: block;
    border: 6px solid #666;
    line-height: 0px;
    border-left: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    margin-left: 5px;
}
.lowerarrow {
    height: 0px;
    width: 0px;
    display: block;
    border: 6px solid #666;
    line-height: 0px;
    border-left: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid transparent;
    margin-left: 5px;
}
.upperarrow_div {
    padding-bottom: 3px;
    cursor: pointer;
}
.lowerarrow_div {
    padding-top: 3px;
    cursor: pointer;
}
.cancel_arrow {
    background: url(../images/checkout/remove-checkout-icon.png) 0 0 no-repeat;
    width: 14px;
    height: 14px;
    display: block;
    cursor: pointer;
}
#onepagecheckout_orderform #ship_address_block {
    margin-top: 0px;
}
.checkout_someoneless {
    margin-left: 26%;
}
#checkout-review-load.loading,
.checkout_loader {
    height: 332px !important
}
.checkout_loader img {
    width: 50px;
    margin: 141px 125px;
}
.upperarrow_div,
.lowerarrow_div {
    margin-right: 4px;
}
.order-products-table tbody td.a-center {
    padding: 6px 13px;
}
.order-products-table tbody td.a-right {
    text-align: center !important;
}
.step_1 {
    margin: 0 auto;
    background: url(../images/custom/buyflow-icons_metro.png) no-repeat;
    background-position: -2px -67px;
    color: #17B0DC;
    font-size: 13px;
    font-weight: bold;
    height: 50px;
    margin: 5px auto 0;
    width: 55px;
}
.step_2 {
    background: url(../images/custom/buyflow-icons_metro.png) no-repeat;
    background-position: -2px -177px;
    height: 50px;
    margin: 5px auto 0;
    width: 55px;
}
.step_3 {
    background: url(../images/custom/buyflow-icons_metro.png) no-repeat;
    background-position: -2px -285px;
    height: 50px;
    margin: 5px auto 0;
    width: 55px;
}


.full.showformlog label {
    float: left;
    width: 70px;
    font-weight: bold;
    margin: 9px 0 8px !important;
    font-size: 1.1em;
    padding-right: 16px;
    text-align: right;
    color: #2e2e2e;
}
.full.showformlog sup {
    display: none;
}
.full.showformlog .input-box {
    float: left;
}



#checkout-review .op_block_title {
    color: #b2b2b2;
    font-size: 12px;
    float: left;
    display: inline-block;
    background: url(../images/custom/checkout-mycart-ico.png?v=1) center no-repeat;
    position: relative;
    width: 31px;
    height: 20px;
    font-weight: bold;
    /* text-indent: -999em; */
    
    text-align: center;
    padding: 9px 7px 15px 0px;
    margin: 2px 0 0 7px;
}
.order-products-table thead th {
    color: #565656;
}
.complete_checkout .discount button.button,
#onepagecheckout_orderform .discount button.btn-checkout {
    margin: 15px 5px 0;
    padding: 7px 20px;
    height: auto !important;
}
.order-products-table tfoot tr.last td {
    color: #848484 !important;
}
.order-products-table tfoot tr.last td.last {
    color: #000 !important;
}
#login-step .validation-advice#advice-required-entry-email {
    margin: 3px 0 0 87px;
}
.onepagecheckout_datafields .op_block_title {
    padding: 10px 0 14px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #2e2e2e;
    padding: 15px 8px;
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fff 0, #f7f7f7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(100%, #f7f7f7));
    background: -webkit-linear-gradient(top, #fff 0, #f7f7f7 100%);
    background: -o-linear-gradient(top, #fff 0, #f7f7f7 100%);
    background: -ms-linear-gradient(top, #fff 0, #f7f7f7 100%);
    background: linear-gradient(to bottom, #fff 0, #f7f7f7 100%);
    filter: "progid : DXImageTransform.Microsoft.gradient ( startColorstr ='#ffffff', endColorstr = '#f7f7f7', GradientType = 0 )";
}

/*#checkout-payment-method-load { background: #f7f7f7; margin: 10px 15px 20px !important; min-height: 500px; padding: 10px; float: left; }*/

.shiphead {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.8em;
    color: #333;
    font-weight: bold;
    margin: 5px 0;
}
.checkout_cod_html .ship_html {
    /* font-size: 14px; */
    /* font-weight: normal; */
    /* line-height: 1.8em; */
    /* color: #333; */
    /* font-weight: bold; */
    
    margin: 0;
    padding: 0;
}
#address-step .onepagecheckout_block {
    padding: 0 25px;
}
div.customer_checkout_address.customer_checkout_newaddress {
    float: right;
    width: auto !important;
    /* padding: 6px 7px !important; */
    
    border: 0 !important;
    clear: both;
    display: block;
    color: #3E3E3E;
    font-size: 12px;
    font-weight: normal;
    padding: 3px 16px 0 16px !important;
    text-align: left;
    background: url(../images/custom/plus-icon.png) 0 6px no-repeat;
    cursor: pointer;
    text-decoration: underline;
    margin-right: 22%;
    margin-left: 0;
    margin-top: 0 !important;
}
.customer_checkout_address.customer_checkout_newaddress {
    margin-bottom: 0 !important;
}
.checkout_someoneless {
    margin-left: 26%;
    clear: both;
    padding-top: 20px;
}
/*.onepagecheckout_datafields .col-1 #ship_address_block .form_fields div.full .data_area { margin-left: 0; }*/

.addresses_wrap {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.onepagecheckout_datafields .form_fields li.options input.checkbox {
    float: left;
    margin: 7px 5px 0 0;
}
.checkout_parent #address-step .form_fields label {
    margin: 5px 0;
    float: left;
    width: 150px;
    text-align: right;
}
.onepagecheckout_datafields .form_fields li {
    margin-left: 28%;
}
.checkout_someoneless {
    margin-left: 29.5%;
}
.onepagecheckout_datafields .form_fields li.options label {
    text-align: left !important;
}
#onepagecheckout_orderform .customer-name {
    clear: both;
}
.checkout_login_titles {
    color: #333;
    font-weight: bold;
}
.order-products-table tbody {
    display: block;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    height: 200px;
}
table#checkout-review-table {
    display: block;
}
.order-products-table thead {
    display: block;
    width: 100%;
    background: #ededed;
    border-bottom: 1px solid #ccc;
}
.order-products-table tfoot {
    border: 0;
    display: block;
    border-top: 1px solid #ccc;
}
.order-products-table thead th {
    border-bottom: 0;
}
.trust-icon {
    margin: 3px 6px 0 0;
}
.zip_top {
    padding-top: 20px;
}
/* .discount .discount-form {display: none; }*/

.discount .op_block_title {
    cursor: pointer;
}
.discount .op_block_title span {
    font-size: 0.75em;
    font-weight: normal;
    letter-spacing: 0.06em;
    text-transform: none;
    margin: 0 7px;
}

#payment_form_secureebs_standard h2 {
    margin-top: -10px;
    margin-bottom: 10px;
}
.input-box.passcheck label {
    font-size: 11px\0/ !important;
}
#login-form .showformlog .validation-advice {
    position: relative;
    width: 200px;
}
.editcart {
    font-weight: bold;
    float: left;
    color: #565656;
    font-size: 14px;
    margin-top: 14px;
}
.secure-icon {
    background-position: 0 0;
    width: 20px;
    height: 20px;
    background-image: url('../images/custom/trust-banners-icon-304debfc1.png');
    background-repeat: no-repeat;
    padding: 0 3px;
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
}
