footer{
	background: #505050;
}

footer .main_container{
	overflow: hidden;
	max-width: 1000px;
	width: 100%;
	padding: 10px 0;
	color: #dee74e;
	margin:0 auto; 
}


footer .main_container .left_links{
	float: left;
}

footer .main_container .devloperd_by{
	float: right;
}

.devloperd_by img{
	margin-left: 5px;
}


footer .main_container .left_links a{
	color: #dee74e;
	float: left;
	padding: 0 10px;
	border-right: 1px solid #dee74e;
}

footer .main_container .left_links span{
	margin-left: 10px;
	display: inline-block;
}


.landing_page .heading{
	margin: 18px 4%;
	text-align: center;
	background: url(../images/custom/heading_bg.jpg) left center repeat-x;
}

.landing_page .heading span{
	display: inline-block;
	padding: 0px 30px;
	font-size: 1.8em;
	line-height: 1em;
	background:#fff;
}

.best_seller_block{
	overflow: hidden;
}

.best_seller_block .category{
	width: 20%;
	margin: 10px 2.5%;
	position: relative;
	float: left;
}

.best_seller_block .category img{
	width: 100%;
}

.best_seller_block .category .cat_name{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 96%;
	color: #dee74e;
	text-align: center;
	font-size: 1.18em;
	padding: 9px 2%;
	background: rgba(75, 73, 71, 0.9);

}

.visitsotre{
	display: block;
	text-align: center;
	margin: 15px;
	margin-bottom: 40px;
}
a.new_button{
	background: #dee74e;
	color: #2f2c31;
	display: inline-block;
	padding: 8px 20px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom:2px solid #818908;
	min-width: 118px;
	font-size: 1.2em;
  	box-sizing: border-box;
}

.landingpage-index-index{
	font-size: 14px;
}

.landingpage-index-index header{
	width: 1000px;
	margin:0 auto;
	padding: 15px 0;
	clear: both;
	display: inline-block;
}
.landingpage-index-index .page{
	text-align: center;
}

.landingpage-index-index .banner{
	display: block;
	border-bottom:2px solid #d5e14d;
	clear: both;
	position: relative;

}
.landingpage-index-index .main-container{
	margin-top: 0!important;
}

.landingpage-index-index .banner > img{
	width: 100%;
}

.landingpage-index-index .customer-account-login{
	float: right;
	margin-top: 13px;
}


.landingpage-index-index .customer-account-login a{
	background: url(../images/custom/login_icons_sprite.png) no-repeat;
	background-size: 97px;
	float: left;
	padding: 4px 0 3px 25px!important;
	height: auto;
	font-size: 1.2em;
	color: #505050;
}

.landingpage-index-index a.login{
	margin-right: 15px;
	background-position: 0px 2px;
}

.landingpage-index-index a.signup{
	background-position: 0px -30px;
}

.landingpage-index-index .offer_div{
	position: absolute; 
	top: 50%;
	right: 25%;
	width: 200px;
	margin-top: -140px;
}

.logged-in-user{
	position: relative;
}

 .dropdown_links {
	display: none;
	position: absolute;
	top: 100%;
	z-index: 999;
	background-color: #fff;
	padding: 10px;
	width: 100%;
	right: 0;
	
 }

 .dropdown_links li a{
	display: block;
	text-align: left;
	padding: 6px 9px;
	border-bottom: 1px solid #e0e0e0;
	color: #505050;
 }


 .dropdown_links li:last-child a{
 	border-bottom: 0;
 }

.landingpage-index-index .offer_div img{
	width: 100%;
}
.landingpage-index-index .offer_div a.new_button{
	margin: 12px 0;
	
}
.landingpage-index-index .offer_div span{
	padding: 5px 6px;
	border:2px solid #fff;
	color:#FFF;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2em;
	display: inline-block;
	margin-top: 12px;
	min-width: 118px;
  	box-sizing: border-box;
}

.landingpage-index-index .banner .valid_till{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2em;
	position: absolute;
	right: 18%;
	top: 5%;
	min-width: 120px;
	color: #fff;
	font-size: 1em;
}

.mobile_banner{
	display: none;
}

.logged-in-user{
	float: right;
	margin-top: 15px;
}

.dropdown_links{
  border: 1px solid rgb(221, 232, 78);
  border-top: 3px solid rgb(221, 231, 80);
}

.dropdown_links li a:hover{
	  background-color: rgb(221, 231, 80);
}



@media all and (max-width: 1200px){
	.landingpage-index-index .offer_div{
		width: 150px;
		margin-top: -117px;
	}

	.landingpage-index-index .banner .valid_till{
		  right: 9%;
		  top: 5%;
	}

	.landingpage-index-index .best_seller_block .category {
	  width: 22%;
	  margin: 10px 1.5%;
	}
}


@media all and (max-width: 1024px){
	.landingpage-index-index .logo{
		float: left;
	}

	.landingpage-index-index a.signup {
	  background-position: -76px -83px;
	}

	.landingpage-index-index a.login {
	  background-position: -76px -52px;
	}

	footer .main_container{
		padding: 10px 2%;
		box-sizing:border-box;
	}

	.landingpage-index-index header {
	  width: 1000px;
	  margin: 0 auto;
	  padding: 15px 0;
	  clear: both;
	  display: block;
	  background-color: rgb(221, 232, 78);
	  width: 100%;
	  padding: 10px 2%;
	  box-sizing: border-box;
	  float: left;
	}

	.landingpage-index-index .offer_div {
		width: 170px;
		margin-top: -128px;
	}

	a.new_button{
		min-width: 107px;
		padding: 8px 00px;
		font-size: 1.1em;
	}

	.landingpage-index-index .offer_div span{
		margin-top: 8px;
	}

	.landingpage-index-index .offer_div span{
		font-size: 1.1em;
		min-width: 107px;
		margin: 8px 0;
	}

	.landingpage-index-index .banner .valid_till {
	  right: 2%;
	}

	.mobile_banner{
		display: block;
	}

	.desktop_banner{
		display: none;
	}

}

@media all and (max-width: 720px){
	.landingpage-index-index .offer_div{
		width: auto;
	}

	.landingpage-index-index .offer_div > img{
		border-right: 1px solid #fff;
		padding-right: 10px;
	}

	.landingpage-index-index .offer_div > img, .mobile_offer{
		width: 150px;
		float: left;

	}

	.mobile_offer{
		position: relative;
	}

	.landingpage-index-index .offer_div a.new_button {
	  margin: 0;
	  position: absolute;
	  top: 73px;
	  left: 50%;
	  margin-left: -53px;
	}

	.landingpage-index-index .offer_div {
	  width: auto;
	  top: inherit;
	  bottom: 10%;
	  right: 2%;
	  margin-top: 0;
	  padding: 20px;
	  background-color: rgba(0,0,0,0.4);
	}

	.landingpage-index-index .best_seller_block .category {
	  width: 24%;
	  margin: 10px 0.5%;
	}

	.landing_page .heading {
	  margin: 12px 4% 8px;
	}

	.landing_page .heading span{
		  font-size: 1.6em;
	}
}

@media all and (max-width: 640px){
	.landingpage-index-index .best_seller_block .category {
	  width: 48%;
	  margin:  1%;
	}

	.landingpage-index-index  footer .main_container .left_links, .landingpage-index-index  footer .main_container .left_links a {
		float: none;
	}

	.landingpage-index-index  footer .main_container .devloperd_by {
	  float: none;
	  margin: 15px 00 0 0;
	}

	.landingpage-index-index .offer_div{
		position: relative;
		display: inline-block;
		width: 100%;
		right:inherit;
		background: rgba(0,0,0,0.8);
		box-sizing:border-box;
		border-bottom: 2px solid #d5e14d;
	}
	.landingpage-index-index .offer_div > img{
		position: absolute;
		bottom: 110%;
		right: 0;
		border:0;
	}

	.mobile_offer {
	  position: relative;
	  width: 100%;
	  padding-right: 120px;
	  box-sizing: border-box;
	}

	.landingpage-index-index .offer_div a.new_button {
	  margin: 0;
	  position: absolute;
	  top: inherit;
	  left: inherit;
	  float: left;
	  right: 0;
	}

	.landingpage-index-index .offer_div .mobile_offer img {
	  width: auto;
	  margin-top: 2px;
	  float: left;
	}

	.landingpage-index-index .offer_div span{
		margin:0;
		float: left; 
	}

	.landingpage-index-index .banner{
		border: 0;
	}


}


@media all and (max-width: 480px){
	.landingpage-index-index .offer_div{
		padding: 15px;
	}
	.landingpage-index-index .offer_div .mobile_offer img{
		margin-left: -20px;
		width: 140px;
		margin-top: 4px
	}

	.landingpage-index-index .offer_div a.new_button{
		padding: 6px 0;
	}
}


@media all and (max-width: 420px){
	.mobile_offer{
		text-align: center;
		padding-bottom: 40px;
		padding-right: 0;
	}

	.landingpage-index-index .offer_div a.new_button{
		top: 40px;
		width: 110px;
		left: 50%;
		margin-left: -55px;
	}

	.landingpage-index-index .offer_div .mobile_offer img, .landingpage-index-index .offer_div span{
		float: none;
		display: inline-block;
		margin:0; 
	}

	.landingpage-index-index .offer_div .mobile_offer img{
		margin-top: 5px;
	}
}

@media all and (max-width: 384px){
	.landingpage-index-index .best_seller_block .category{
		width: 98%;
		margin-top: 1.5%;
		margin-bottom: 1.5%;
	}

	.landingpage-index-index .banner .valid_till {
	  right: inherit;
	  left: 2%;
	  bottom: 120px;
	  top: inherit;
	  background-color: rgba(0,0,0,0.5);
	  padding: 5px 17px;
	}

	.landingpage-index-index .customer-account-login a{
		font-size: 1em;
	}
}

@media all and (max-width: 360px){
	.landingpage-index-index .banner .valid_till{
		padding: 5px 1px;
		font-size: 0.8em;
	}

	.landingpage-index-index a.login {
	  margin-right: 9px;
	}

	.landingpage-index-index .offer_div > img{
		width: 130px;
	}

	.landingpage-index-index p.welcome-msg{
		  font-size: 0.9em;
	}
}
