.header-container {
  display: block;
  position: fixed;
  top: 0;
  height: auto;
  z-index: 99;
  background: #fff;
}
.main-container {
	margin-top: 140px;
}
.cart_link_wrapper, .cart_link_wrapper a{
	position: static;
	width: auto;
}
.bx-wrapper .bx-controls-direction a {
	z-index: 9!important;
}
.cart_link_wrapper{
  padding: 0;
  border: 0px solid #d5e14d;
}

.search_links{
	width: auto;
	margin-top: 5px;
}

.dashboard .box a {
  font-size: 13px;
  text-decoration: none;
  color: #818C00;
  text-transform: capitalize;
  margin: 0;
  display: inline-block;
  zoom: 1;
  margin-top: 5px;
}



.cart_link_wrapper a{
	margin: 0;
	font-size: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	background: url(../images/sprite/sprite.png) -294px -254px no-repeat;
	background-size: 325px;
}
.catalog-product-view .product-options a#size_guide_fancybox {
    background: url(../images/size-chart-img.png) 0 0px no-repeat!important;
}
.error-msg, .notice-msg, .success-msg{
	  padding: 8px 8px 8px 8px!important;
	    min-height: 17px!important;
}


#nav div, #nav ul {
  top: 34px;
}

.shipDiv span{
	transition: all linear 0s;
}

.dropdown-menu{
	margin-top: 0;
}

.rawwishlist-index-index #wishlist-table td{
  position: relative;
}

.rawwishlist-index-index #wishlist-table td a.btn-remove{

  background: url(../images/custom/pop_close.png) center no-repeat;
  top: 0;
  right: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  cursor: pointer;
  color: #fff!important;
  margin: 0!important;
}

.amshopby-filters-top .top-filter-options{
	border-top: 1px dotted #969696!important;
}


.amshopby-filters-top #narrow-by-list .filtername-top{
	border-bottom: 0!important;
}

.amshopby-filters-top #narrow-by-list .filtername-top.top-selected{
	  border-bottom: 2px solid #C1CC42 !important;
}


.fancybox-opened{
	z-index: 9999
}


#scroll_top_sportxs{
	width: 40px;
	height: 40px;
}

#scroll_top_sportxs:hover {
  background-position: 0 -50px;
}

.search_wrap{
	width: auto;
	padding: 0;
}

.links, .links li{
	float: left;
}

.links li a{
	padding-top:4px;
	padding-bottom:4px;
	font-size: 15px;
}

.form-search{
	margin: 0;
}

.head_level1{
	padding-top:0; 
}

.header-container .links li a.top-link-login{
	  background-position: -257px -119px;
  background-size: 284px;
}

.header-container .links li a.top-link-signin, .header-container .links li a.top-link-login{
	height: auto;
	  background-size: 304px;
  background-position: -277px -200px;
	margin: 0 8px;
}


.form-search{
	border-bottom: 1px solid #969696;
	padding: 0;
	height: 33px;
	line-height: 33px;
}

input#search{
	margin: 0!important;
	padding: 0 0 0 2%;
	height: 33px;
	width: 83%;
	line-height: 33px;
}

.form-search button.button{
	width: 10%;
	height: 33px;
	float: right;
	line-height: 33px;
	padding: 0;
}

.form-search button.button span{
	height:33px!important;
	display: block;
	line-height: 33px;
	background:url(../images/sprite/sprite.png) -308px -342px no-repeat #000;
	width: 100%;
}

.subcribe_wrap .validation-advice{
	position: absolute;
}


button.button.btn-cart.config-add-to-cart:hover span span, button.list-wishlist-add:hover span span, button.list-quick-view:hover span span{

color: #000!important;
cursor: pointer;
}


.catalog-category-view .products-grid button.button span{
	height: auto;
	padding: 8px 0;
}

button.button.btn-cart.simple-buy-now, button.button.btn-cart.config-buy-now{
	padding:9px 0!important;
	text-transform: uppercase;
	float: right;
}

button.button.btn-cart.simple-product-add-cart, button.button.btn-cart.config-add-to-cart{
	background: #fff;
	padding:4px 5px!important;
	text-transform: capitalize;
}

.product-page-share-buttons .wa_btn_l, .product-page-share-buttons .wa_btn{
	display: none!important;
}

.catalog-category-view .products-grid .product-name a, .catalog-category-view .products-grid .product-name{
	font-size: 16px;
}


.catalog-category-view .products-grid .price-box{
	  margin: 3px 0;
}

.catalog-category-view .products-grid li.item:hover .md_quickview_trigger, .catalog-category-view .products-grid li.item .product-image:hover .md_quickview_trigger{
	width: 50px!important;
	height: 50px!important;
	background: url(../images/new_quick_view.png) no-repeat;
	left: 50%!important;
	margin-left: -25px!important;
	margin-top: -25px!important;
}

.search_links  .overlay_account{

/*  background: rgba(0,0,0,0.4);
*/  z-index: 11!important;
}


.catalog-category-view .products-grid li.item:hover .md_quickview_trigger:hover{
	background-color: #000;
}


div#narrow-by-list li {
  min-height: 30px;
}

p.welcome-msg{
	float: left;
	margin-right: 10px;
	  min-height: 27px;
  line-height: 27px;
}

.search_wrap.loggedin{
	padding:0; 
	background: none;
}

.dropdown-menu li{
	border-bottom: 1px solid #444;
}

.dropdown-menu{
	top: 100%;
}

.catalog-product-view .block .block-content li.item{
	border: 1px solid #d5e14d;
	box-sizing:border-box;
}

.catalog-product-view .recently_viewed_slider .products-grid{
	border: 0;
}

.catalog-product-view .recently_viewed_slider .products-grid .price-box{
	margin: 5px 0;
}

.catalog-product-view .product-essential > .product-collateral{
	border-bottom: 0px solid #cacaca;
	margin-bottom:0px; 
	padding-bottom: 20px;
}

.catalog-product-view .product-collateral h1{
	margin-bottom: 10px;
}

.product-collateral .box-collateral{
	margin-bottom: 0;
}



.catalog-product-view .recently_viewed_slider .products-grid, .catalog-product-view .block .block-content li.item{
	  margin-right: 19px!important;
  width: 184px!important;
	max-width: inherit;
}

.catalog-product-view .block .block-content li.item{
	margin: 0 19px 0 0;
}
.catalog-product-view .block .block-content li.item .product-image{
	float: left;
	width: 90%;	
	margin: 2% 5% 1px;
	margin-bottom: 7px;
	text-decoration: none;
}

.catalog-product-view .block .block-content li.even{
	background: #fff;
}

.catalog-product-view .block .block-content li.item .product-image img{
	  max-width: 100%;
  display: block;
    margin: 0 auto;
}


.catalog-product-view .recently_viewed_slider .products-grid .product-name{
	padding: 0 8px;
	line-height: 17px;
	color: #989898;
}

.catalog-product-view .products-grid .product-name a, .catalog-product-view .related-items .productName{
	color: #989898;
}

.catalog-product-view .related-items .productName{
	min-height: 45px;
}

.catalog-product-view .product-view .block-related{
	margin-bottom: 20px;
}

.catalog-product-view .related-items .productPrice, .catalog-product-view  .recently_viewed_slider .price-box .price{
	color: #505050;
}

.catalog-product-view .products-grid .product-image {
  margin-bottom: 7px;
}

.catalog-product-view .bx-wrapper .bx-viewport{
	left: 0;
	border:0;
	height: auto!important;
}

.catalog-product-view .block .block-content li.item{
	padding: 0;
}

.catalog-product-view .block-related h1{
	margin-bottom: 12px;
	font-size: 24px;
}



.catalog-product-view .related-items{
	width: 18%;
	margin: 1%;
}

.catalog-product-view .related-items .productName{
	margin-top: 6px;
}

.catalog-category-view #undefined-sticky-wrapper .col-left {
	max-width: 235px!important;
}





.col1-layout .product-view .product-shop .product-name h1{
	padding-bottom: 0;
}

.product_code{
	color: #969696;
	font-size: 0.9em
}

.accord_wrap h1.g-product-title{
	padding-bottom: 5px;
	font-size: 22px;
}

.accord_wrap .each_feature{
	line-height: 1.45em;
}

dl#narrow-by-list dd.color{
	overflow: visible;
	padding: 0 8px;
}

dl#narrow-by-list dd.color li{
	margin: 0 10px 8px 0;
}

div.block-layered-nav dd a img{
	padding:0;
}

dl#narrow-by-list dd.color a{
	display: block;
	float: left;
	width: auto;
}

dl#narrow-by-list dd.color a img {
  border: 1px solid #fff;
  float: left;
}

dl#narrow-by-list dd.color a.amshopby-attr-selected img {
  border: 1px solid rgb(221, 176, 176);
}


/*search page theming*/


.elastic-search-result .col1-layout .products-grid{
	max-width: inherit;
}


.elastic-search-result .products-grid li.item {
  float: left;
  width: 25%;
  min-height: 370px;
  padding: 10px 0 10px;
  box-sizing: border-box;
}

.elastic-search-result .search_price{
	color: #505050;
}


.elastic-search-result h2.product-name{
	color: #9d9d9d;
}

.elastic-search-result .products-grid .product-name{
	  font-size: 16px;
	  padding: 0 10px;
}

.search-autocomplete .autosuggest-results .table-cell.pl-10{
	width: 79%;
}

.search-autocomplete .autosuggest-results .table-cell.image-cell {
  float: left;
  margin: 2% 3% 2% 2%;
  width: 13%;
}

.search-autocomplete .autosuggest-results .table-cell.image-cell img{
	width: 100%;
}


.search-autocomplete .autosuggest-results .autosuggest_prod_name{
	display: block;
	line-height: 18px;
}

.search-autocomplete .autosuggest-results .table-cell br{
	display: none;
}

.account-login{
	margin-top: 15px;
}



.search-autocomplete {
  left: 0!important;
  top: 100%!important;
  width: 100%!important;
  z-index: 11;
  background-color: #F8F8F8;
  border: 1px solid rgb(150, 150, 150);
  
   max-height: 275px;
   min-height: 60px;
  overflow-y: scroll;
}

.elastic-search-result .search_price{
	font-size: 17px;
}


.elastic-search-result .all_loadmore{
	margin: 15px 0 20px;
}


.elastic-search-result .all_loadmore .ias_trigger{
	cursor: inherit;
}
/*search page theming*/

.catalog-product-view .product-shop .price-box{
	margin-bottom: 10px;
}


.catalog-product-view .product-shop .add-to-links li{
	margin-right: 20px;
	float: left;
	min-height: 21px;
	line-height: 21px;
	margin-bottom: 5px;
	min-width: 120px;
}
.catalog-product-view .product-shop .add-to-links li.cod_li{
	clear: both;
}



.catalog-product-view .product-shop .link-wishlist{
	  font-weight: 500;
}
.catalog-product-view .product-shop span.plus_ico{
	float: left;
}

.catalog-product-view .product-shop .free_delivery{
	background: url(../images/free_delivery.jpg) left center no-repeat;
	padding-left: 35px;
	  color: #8d8c8c;
}

.catalog-product-view .product-shop .cod{
	background: url(../images/cod_available_icon.jpg) left center no-repeat;
	padding-left: 28px;
	  color: #8d8c8c;
}

.catalog-product-view .product-shop .add-to-links li a{
	float: left;
}

.product-page-write-review span.review-img {
  background: url(../images/sprite/sprite.png) -325px -5px no-repeat;
  width: 23px
}


.catalog-product-view .product-shop .price-box .price{
	color: #464646;
}

.catalog-product-view .product-shop .old-price{
	line-height: 22px;
}

.catalog-product-view  .product-shop .price-box .price, .catalog-product-view .product-shop .special-price-percent{
	float: left;
}

/*my account*/
.customer-account-login .main,
.rawwishlist-index-index .main,
.customer-account-index .main,
.sales-order-history .main,
.customer-account-edit .main,
.customer-address-form .main,
.customer-address-index .main,
.customer-account-changepassword .main,
.newsletter-manage-index .main,
.monkey-customer-account-index .main,
.wishlist-index-index .main{
	margin-top: 30px;
	margin-bottom: 30px;
}

.product-view .form-add h2{
	font-size: 24px;
  color: #969696;
  text-align: left;
}

 #nav li ul.shown-sub li.level1:hover>a span,
 #nav li ul.shown-sub li.level2:hover>a span,
 #nav li ul.shown-sub li.level3:hover>a span{
 	color:#000!important
 }



.dashboard .box-title{
	border-bottom: 1px solid #ccc;
}

.dashboard .box-title a{
	margin-top: 0;
}

.rawwishlist-index-index .nav-section .nav-section-item, 
.customer-account-index .nav-section .nav-section-item, 
.customer-address-form .nav-section .nav-section-item,
.sales-order-history .nav-section .nav-section-item,
.customer-account-edit .nav-section .nav-section-item,
.customer-address-index .nav-section .nav-section-item,
.customer-account-changepassword .nav-section .nav-section-item,
.newsletter-manage-index .nav-section .nav-section-item,
.monkey-customer-account-index .nav-section .nav-section-item,
.wishlist-index-index .nav-section .nav-section-item{
padding:  6px 0 6px 4px;
border-bottom: 1px solid #ccc;
  font-size: 1em;
}

.rawwishlist-index-index .sidebar .fk-lcat-main-header, 
.customer-account-index .sidebar .fk-lcat-main-header, 
.customer-address-form .sidebar .fk-lcat-main-header,
.sales-order-history .sidebar .fk-lcat-main-header,
.customer-account-edit .sidebar .fk-lcat-main-header,
.customer-address-index .sidebar .fk-lcat-main-header,
.customer-account-changepassword .sidebar .fk-lcat-main-header,
.newsletter-manage-index .sidebar .fk-lcat-main-header,
.monkey-customer-account-index .sidebar .fk-lcat-main-header,
.wishlist-index-index .sidebar .fk-lcat-main-header{
	padding: 10px 5px 10px 8px;
}


.rawwishlist-index-index .main-container, 
.customer-account-index .main-container, 
.customer-address-form .main-container,
.sales-order-history .main-container,
.customer-account-edit .main-container,
.customer-address-index .main-container,
.customer-account-changepassword .main-container,
.newsletter-manage-index .main-container,
.monkey-customer-account-index .main-container,
.wishlist-index-index .main-container{
	margin-top: 170px;
}


.rawwishlist-index-index .nav-section,
.customer-account-index .nav-section,
.sales-order-history .nav-section,
.customer-address-form .nav-section,
.customer-account-edit .nav-section,
.customer-address-index .nav-section,
.customer-account-changepassword .nav-section,
.newsletter-manage-index .nav-section,
.monkey-customer-account-index .nav-section,
.wishlist-index-index .nav-section{
	padding: 10px 7px 10px 7px;
  margin-bottom: 0;
}

.rawwishlist-index-index .nav-section-cat-list li.last a,
.customer-account-index .nav-section-cat-list li.last a,
.sales-order-history .nav-section-cat-list li.last a,
.customer-address-form .nav-section-cat-list li.last a,
.customer-account-edit .nav-section-cat-list li.last a,
.customer-address-index .nav-section-cat-list li.last a,
.customer-account-changepassword .nav-section-cat-list li.last a,
.newsletter-manage-index .nav-section-cat-list li.last a,
.monkey-customer-account-index .nav-section-cat-list li.last a,
.wishlist-index-index .nav-section-cat-list li.last a{
	border: 0;
}


.rawwishlist-index-index  .buttons-set,
.customer-account-index  .buttons-set,
.sales-order-history  .buttons-set,
.customer-account-edit  .buttons-set, 
.customer-address-form .buttons-set,
.customer-address-index  .buttons-set,
.customer-account-changepassword  .buttons-set,
.newsletter-manage-index  .buttons-set,
.monkey-customer-account-index  .buttons-set,
.wishlist-index-index  .buttons-set{
	border-top: 1px solid #ccc;
	margin-top: 15px;
	padding-top: 15px;
}

.customer-account-edit input[type="radio"]{
	margin-top: 7px!important;
	margin-right: 8px;
}

.my-wishlist input.qty{
	margin-top: 6px;
}


.newsletter_checkbox li{
	margin: 0;
}


.catalog-product-view .product-options-bottom .add-to-cart{
	clear: both;
}
div.addthis_toolbox.addthis_default_style {
	padding: 0 0 5px;
}
.catalog-product-view .size_guide_wrap{
	float: left;
	overflow: hidden;
	position: absolute;
	left: 45px;
}

.fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened {
  max-width: 800px!important;
  width: 93%!important;
}

.fancybox-wrap .mycart-outer {
  width: 750px;
  max-width: 100%;
}

.fancybox-wrap .tHead_inner .cart_rmv_pro {
  position: absolute;
}

.fancybox-wrap .tHead_inner div {
	width: 11%;
}

.fancybox-wrap .tHead_inner .cart_desc_pro {
	width: 30%;
}

.onepagecheckout-index-index .inchoo-socialconnect-facebook ,.mobileapp-index-index .inchoo-socialconnect-facebook {
  width: 135px !important;
}

.onepagecheckout-index-index div.inchoo-socialconnect-facebook-inner ,.mobileapp-index-index div.inchoo-socialconnect-facebook-inner {
  width: 101px!important;
  text-align: center;
}

.checkout-cart-index .tHead_inner .cart_rmv_pro {
  position: absolute;
}

.checkout-cart-index .tHead_inner div {
  width: 11%;
  text-align: left !!important;
}

.checkout-cart-index .tBody_inner .cart_desc_pro, .checkout-cart-index .tHead_inner .cart_desc_pro {
  width: 30%;
}

.rawwishlist-index-index .product-view button.button.btn-cart, .rawwishlist-index-index .clear-rawwishlist button.button {
	margin-top: 5px !important;
	padding: 4px 19px !important;
	
}

.rawwishlist-index-index .my-account button.button span, .rawwishlist-index-index .clear-rawwishlist button.button span {
  width: 132px !important;
    white-space: normal;

}

.top-main-menu-blk{
	background: #000;
}

.follow_us_wrap a {
  transition: inherit !important;
}


.rawwishlist-index-index .my-account .data-table th {
  word-break: break-word;
  white-space: normal;
}

/* .rawwishlist-index-index  button.button span, .rawwishlist-index-index  button.button span span {
 	font-size: 9px;
 	line-height: 12px;
 }*/

.rawwishlist-index-index .product-image {
	width: 75px;
  max-width: 100px;
  min-width: 50px;
}
.rawwishlist-index-index .product-image img {
	width: 100%;
	height: auto;
}

.rawwishlist-index-index .my-account h3 {
  font-size: 16px;
  width: 90%;
  margin: 0 !important;
}

.rawwishlist-index-index .description {
  padding: 0 15px;
  width: 90%;
  padding: 0;
}

.rawwishlist-index-index .cart-cell {
  padding-right: 20px;
}

.rawwishlist-index-index .buttons-set.clear-rawwishlist {
	border: 0;
}



@media only screen and (max-width: 1024px){
	.header-container .links li a.top-link-signin, .header-container .links li a.top-link-login {
		width: auto;
  		display: block;
  		position: relative;
  		padding-right: 0px;
  		background: url(../images/sprite/sprite.png) 0 -362px no-repeat;
  		font-size: 0px;
  		background-size: 315px;
  		margin-right: 12px;
	}

	
	.catalog-product-view .recently_viewed_slider .products-grid{
		margin-right: 16px!important;
	}
	.cart_link_wrapper a {
		background: url(../images/sprite/sprite.png) -38px -399px no-repeat;
		background-size: 347px;
	}
	.catalog-product-view .block .block-content li.item{
		  margin: 0 16px 0 0!important;
	}

	.product-page-share-buttons iframe .wa_btn, .product-page-share-buttons .wa_btn_l{
		  background: url(../../images/wts-social.jpg) right center no-repeat!important;
	}


	.elastic-search-result .products-grid li.item {
	  float: left;
	  width: 23%;
	  box-sizing: border-box;
	  margin: 1%;
	  border: 1px solid #d5e14d;
	}
}

@media (max-width: 1024px) and (min-width: 320px){
li.level0.last {
  border-radius: 0 ;
}

.product-page-share-buttons .wa_btn_l, .product-page-share-buttons .wa_btn {
  display: block!important;
}

.category-products .product-cart-div, .category-products .simpleProductBlock, .category-products .product-page-share-buttons{
	display: block;
}

.catalog-category-view .products-grid li.item {
  float: left;
  width: 30%;
  margin: 1.5%!important;
  border: 1px solid #d5e14d;
  min-height: 345px;
}


.catalog-category-view .products-grid li.item .sizes{
	display: none!important;
}

.left_section {
  width: 100%;
  display: inline-block;
  margin: 0;
}


}



@media only screen and (max-width: 900px){

	.left_section {
	  width: 100%;
	  margin: 0 0%;
	}

	.elastic-search-result .products-grid li.item {
		min-height: 335px;
	}

	.catalog-category-view .products-grid li.item {
  float: left;
  width: 30.8%;
    margin: 1% 1% 3% 1% !important;

}

button.button.btn-cart.config-buy-now span span, button.button.btn-cart.config-add-to-cart span span, button.button.btn-cart.simple-buy-now span span, button.button.btn-cart.simple-product-add-cart span span{
	font-size: 11px;
	text-transform: capitalize;
}

.catalog-category-view .products-grid li.item{
	min-height: 305px;
}

.catalog-category-view .products-grid li.item{
	padding-bottom: 10px;
}

	.form-search button.button span{
		float: right;
		position: static;
	}

	.search_links{
		position: static;
	}


	.col2-left-layout .col-main {
	  width: 71%;
	}

	.catalog-product-view .recently_viewed_slider .products-grid{
		  width: 200px!important;
		  margin-right: 21px!important;
	}

	.catalog-product-view .block .block-content li.item {
	  margin: 0 21px 0 0!important;
	  width: 200px!important;
	}
}



@media only screen and (max-width: 800px){
	
	.elastic-search-result .products-grid li.item {
	  min-height: 306px;
	}


	input#search{
		width: 80%;
	}

	.form-search button.button{
		width: 18%;
	}

	.catalog-category-view .products-grid li.item {
	  float: left;
	  width: 44.8%;
	  margin: 2.2% !important;
	}

	.col2-left-layout .col-main {
	  width: 67%;
	}

	.sorter .sort-by {
	  float: left;
	}

	.catalog-product-view .recently_viewed_slider .products-grid {
	  width: 181px!important;
	  margin-right: 13px!important;
	}

	.catalog-product-view .block .block-content li.item {
	  margin: 0 13px 0 0!important;
	  width: 181px!important;
	}

	.wishlist-index-index .inner {
	  display: none;
	}

	.wishlist-index-index  .product-view button.button span span{
		font-size: 14px;
	}

	.wishlist-index-index .product-view button.button.btn-cart{
		padding: 5px 15px;
	}
}


@media only screen and (max-width: 768px){
	.search-autocomplete .autosuggest-results .autosuggest_prod_name{
		font-size: 13px;
	}

	.elastic-search-result .products-grid li.item{
		width: 30%;
		  margin: 1.5%;
	}

	.lay_nav_res, .lay_sort_res{
		display: none;
	}

	.head_right{
		padding-top: 0px;
	}

	.catalog-product-view .recently_viewed_slider .products-grid {
	  width: 173px!important;
	  margin-right: 13px!important;
	}

	.catalog-product-view .block .block-content li.item {
	  margin: 0 13px 0 0!important;
	  width: 173px!important;
	}
}

@media only screen and (max-width: 720px){
	.head_right{
		width: 100%;
	}
	.main-container {
	  margin-top: 185px;
	}
	.wishlist-index-index .my-account .data-table th{
		display: none;
	}

	.wishlist-index-index td.tablecell_0{
		width: 15%;
	}
	.wishlist-index-index td.tablecell_1{
		width: 45%;
	}

	.wishlist-index-index td.tablecell_2{
		width: 30%;
	}
	.wishlist-index-index td.tablecell_3{
		width: 10%;
		position: static;
	}

	.wishlist-index-index .product-view button.button.btn-cart{
		width: auto;
	}

	.wishlist-index-index input.qty{
		float: left;
		margin-right: 8px;
	}
	.wishlist-index-index .add-to-cart-alt{
		margin-top: 8px;
	}

	.wishlist-index-index  .product-name{
		margin-top: 0;
	}
	.wishlist-index-index  .page-title h1{
		margin-top:0; 
	}

	#wishlist-view-form .btn-cart{
		margin-top: 0;
	}

	.catalog-product-view .product-shop .price-box.configurable-product{
		margin-left: 6%;
	}
	.catalog-product-view .product-shop .product-options{
		margin-right: 6%;
	}

	.catalog-product-view .product-shop .price-box.simple-product{
		width: 100%;
		text-align: center;
	}

	.catalog-product-view .product-shop .add-to-links li{
		width: 45%;
		text-align: center;
	}

	.catalog-product-view .product-shop .add-to-links li a{
		float: none;
		display: inline-block;
	}

	.catalog-product-view .product-shop span.plus_ico{
		float: none;
		display: inline-block;
	}

	.catalog-product-view .product-shop .cod, .catalog-product-view .product-shop .free_delivery{
		display: inline-block;
	}

	.catalog-product-view .product-shop .price-box{
		margin: 10px 0 15px 0;
	}

	.catalog-product-view .product-shop .price-box.simple-product .price{
		float: none;
	}

	.search-autocomplete .autosuggest-results .table-cell.image-cell {
	   margin: 2%;
	  width: 9%;
	}

	.search-autocomplete .autosuggest-results .table-cell.pl-10 {
	  width: 85%;
	}

	.catalog-category-view .main{
		position: relative;
	}

	.overlay4{
		position: fixed;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 10;
		display: none;
		background: rgba(0,0,0,0.8);
		z-index: 1;
	}

	.catalog-category-view .amshopby-filters-top .top-filter-options{
		max-height: 80px;
	}

	.catalog-category-view .col2-left-layout .products-grid {
	  margin-top: 20px;
	}

	.block.block-layered-nav.amshopby-overflow-scroll-enabled.amshopby-collapse-enabled.amshopby-filters-top{
		display: none;
	}

	.catalog-product-view div.addthis_toolbox.addthis_default_style{
		margin-top: 0!important;
	}

	.catalog-product-view .product-options{
		padding: 0;
	}

	.catalog-product-view .each_feature{
		font-size: 15px;
		line-height: 1.6em;
	}

	.catalog-product-view .accord_wrap{
		width: 100%;
	}

	.catalog-product-view .accord_wrap h1.g-product-title{
		font-size: 23px;
	}

	.catalog-product-view .col1-layout .product-view .product-shop{
		width: 90%;
		display: block;
	}

	.catalog-product-view .recently_viewed_slider .products-grid {
	  width: 163px!important;
	  margin-right: 10px!important;
	}

	.catalog-product-view .block .block-content li.item {
	  margin: 0 10px 0 0!important;
	  width: 163px!important;
	}



	#search_mini_form{
		width: 100%;
	}

	.form-search button.button {
	  width: 9%;
	}
	.form-search button.button {
	  width: 8%!important;
	}
	.head_right{
		padding-top: 5px;
	}

	.lay_nav_res, .lay_sort_res{
		display: block;
	}

	.col2-left-layout .col-main {
	  width: 100%;
	}

	.catalog-category-view .products-grid li.item {
  float: left;
  width: 31%;
  margin: 1% !important;
}

.lay_nav_res, .lay_sort_res{
	height: 45px;
	width: 49%;
	line-height: 45px;
	background-size: 17px;
  background-position: 94px center;
	padding:0;
}

.block-content.filter-pagecategory{
	top: 62px;

}

.block.block-layered-nav.amshopby-overflow-scroll-enabled.amshopby-collapse-enabled.amshopby-filters-top{
	  position: absolute;
  top: 47px;
  z-index: 99;
  margin: 0;
}

.catalog-category-view  #amshopby-page-container{
	position: relative;
}

.catalog-category-view .sortby_filter{
	top: 47px;
	border: 1px solid #ccc;
  border-top: 0;
}

.amshopby-filters-top #narrow-by-list .filtername-top{
	  padding: 8px 0!important; 
}

.amshopby-filters-top .top-selected{
	color: #000;
	border-bottom: 1px solid #000000 !important;
}

.catalog-category-view  .col2-left-layout .col-main{
	position: relative;
	z-index: 9;
}

.block-content.filter-pagecategory{
	position: static;
}

.catalog-product-view .recently_viewed_slider .products-grid .product-name, .catalog-product-view .related-items .productName {
  min-height: 42px;
  height: 42px;
  display: block;
}

.header-container .links li a.top-link-signin, .header-container .links li a.top-link-login{
  margin: 0 12px;
  display: block;
}

.header-container .links li a.top-link-signin{
		display: none;
	}

	.header-container .links li a.top-link-login{
		font-size: 0;
	}
	
}


@media only screen and (max-width: 640px){

	.header-container .links li a.top-link-signin, .header-container .links li a.top-link-login{
		width: 30px;
		height: 30px;
		padding:0;

	}
	.main-container {
	  margin-top: 164px;
	}
	.header-container {
		background: #D5E14D;
	}
	.catalog-product-view .product-shop .add-to-links li {
	  width: 42%;
	  text-align: center;
	}

	.catalog-product-view .product-shop .price-box.configurable-product{
		margin-left: 0;
	}
	.catalog-product-view .product-shop .product-options{
		margin-right: 0;
	}

	.new_nav.nav .cat_nav li a{
		float: none;
		  padding: 10px 5%;
		  color: #fff;
		  text-align: left;
		  margin-right: 50px;
		  display: block;
	}

	.cat_nav li .toogle_wrap{
		width: 25px;
	}

	.category_menu_title{
		display: none;
	}

	

	

	.new_nav.nav{
		z-index: 999;
	}

	.catalog-category-view  .products-grid .product-name {
	  height: 44px;
	  overflow: hidden;
	  min-height: inherit;
	}



	p.welcome-msg, ul.links{
		margin:0;

	}

	
	.header-container .links li a.top-link-signin, .header-container .links li a.top-link-login{
		margin: 0 12px;
	}
	
	.cart_link_wrapper a  span.suffix{
		display: none;
	}

	.form-search button.button span{
		background-color:#000;
		background-position: -305px -343px;
	}

	.head_right{
		padding-top: 0;
	}

	.quick-access{
		margin-bottom: 8px;
	}

	.catalog-product-view .recently_viewed_slider .products-grid {
	  width: 186px!important;
	  margin-right: 22px!important;
	}

	.catalog-product-view .block .block-content li.item {
	  margin: 0 22px 0 0!important;
	  width: 186px!important;
	}


	.catalog-product-view .block-related h1{
		font-size: 20px;
	}

	.catalog-product-view .product-collateral h1{
		font-size: 21px;
	}


}



@media only screen and (max-width: 540px){
	.form-search button.button span{
		background-position: -305px -343px;
	}

	.product-view button.button.btn-cart{
		padding: 6px 50px!important;
	}


	#wishlist-view-form .btn-cart{
		margin-top: 8px;
	}

	.wishlist-index-index .product-name a{
		font-size: 13px;
	}


	.elastic-search-result .products-grid li.item {
	  width: 44%;
	  margin: 3%;
	}

	.search_links {
	  top: 61px;
	}

	.catalog-category-view .products-grid li.item {
	  float: left;
	  width: 45%;
	  margin: 2% !important;
	}

	.lay_nav_res, .lay_sort_res{
		  background-position: 67px center;
	}

	.catalog-product-view .recently_viewed_slider .products-grid {
	  width: 159px!important;
	  margin-right: 13px!important;
	}

	.catalog-product-view .block .block-content li.item {
	  margin: 0 14px 0 0!important;
	  width: 158px!important;
	}
}

@media only screen and (max-width: 533px){
	.amconf-image {
	  width: 28px;
	}

	.catalog-product-view .product-shop .price-box{
		  margin-top: 13px;
	}
}


@media only screen and (max-width: 480px){
	input#search {
	  width: 87%;
	}

	.wishlist-index-index .add-to-cart-alt{
		display: block;
		overflow: hidden;
	}

	.wishlist-index-index .main{
		padding-right: 8px;
		padding-left: 8px;
	}



.rawwishlist-index-index .buttons-set,
.customer-account-index .buttons-set,
.sales-order-history .buttons-set,
.customer-account-edit .buttons-set,
.customer-address-index .buttons-set,
.customer-account-changepassword .buttons-set,
.newsletter-manage-index .buttons-set,
.monkey-customer-account-index .buttons-set,
.wishlist-index-index .buttons-set{
width: 100%;
}

	.wishlist-index-index td.tablecell_0{
		width: 10%!important;
	}
	.wishlist-index-index td.tablecell_0 .product-image{
		width: 100%;
	}
	.wishlist-index-index td.tablecell_0 .product-image img{
		width: 70px;
		height: auto;
	}

	.wishlist-index-index td.tablecell_1{
		width: 90%;
	}
	.wishlist-index-index td.tablecell_2{
		width: 100%;
	}

	#wishlist-view-form .btn-cart{
		margin-top: 0;
	}

	.wishlist-index-index .product-view button.button.btn-cart{
		padding: 4px 20px!important
	}

	.catalog-product-view .g-product-description{
		padding: 20px 10px;
	}

	.product-view button.button.btn-cart {
	  padding: 8px 0!important;
	  text-align: center;
	}
	.product-view button.button.btn-cart span {
		float: none;
	}

	.product-options-bottom .add-to-cart{
		width: 100%;
	}

	.product-view button.button.btn-cart{
		float: left;
		padding: 6px 37px!important;
	}

	.lay_nav_res, .lay_sort_res{
		  background-position: 53px center;
	}

	.form-search button.button {
	  width: 11%;
	}

	.subcribe_wrap{
		padding-bottom: 25px;
	}

	.subcribe_wrap .input-box{
		position: relative;
	}

	.subcribe_wrap .validation-advice{
		position: absolute;
		bottom: -85px;
		width: 100%;
		color: #fff;
	}

	.catalog-product-view .block-related .block-content{
		width: 100%;
	}


	.catalog-product-view .recently_viewed_slider .products-grid {
	  width: 210px!important;
	  margin-right: 23px!important;
	}

	.catalog-product-view .block .block-content li.item {
	  margin: 0 27px 0 0!important;
	  width: 208px!important;
	}

}


@media only screen and (max-width: 420px){
	.search_links {
	  top: 58px;
	}
	.product-view button.button.btn-cart {
	  float: left;
	  padding: 6px 30px!important;
	}
	.catalog-product-view .product-shop .add-to-links li{
		margin: 0 0 5px 0;
		padding: 0;
		width: 50%;
	}

	.elastic-search-result .products-grid li.item {
	  width: 46%;
	  margin: 2%;
	}

	.elastic-search-result .products-grid .product-name {
	  font-size: 15px;
	}

	.catalog-product-view .product-options{
		width: 100%!important;

	}

	.catalog-product-view .product-shop .price-box{
		margin:0 0 10px 0; 
	}

	.catalog-product-view .block .block-content li.item {
	  margin: 0px 16px 0 0!important;
	  width: 183px!important;
	}

	.catalog-product-view .recently_viewed_slider .products-grid{
		 width: 183px!important;
	  margin-right: 16px!important;
	}

	.lay_nav_res, .lay_sort_res{
		  background-position: 40px center;
	}

	button.button.btn-cart.config-buy-now span span, button.button.btn-cart.config-add-to-cart span span, button.button.btn-cart.simple-buy-now span span, button.button.btn-cart.simple-product-add-cart span span {
  font-size: 10px;
}

button.button.btn-cart.config-add-to-cart span span, button.button.btn-cart.config-buy-now span span{
	line-height: inherit;
}

.catalog-category-view .products-grid li.item {
  float: left;
  width: 47%;
  margin: 1% !important;
}


@media (max-width: 380px) and (min-width: 320px){

	.catalog-category-view .sortby_filter{
		bottom: inherit;
		width: 50%;
	}

	.catalog-product-view .product-options dt{
		margin-top: 0;
	}


}


}


@media only screen and (max-width: 380px){
	.product-view button.button.btn-cart{
		  padding: 6px 20px!important;
	}
}


@media only screen and (max-width: 360px){
	.shippingpolicy {
	  width: 100%;
	  cursor: pointer;
	  border-bottom: 1px solid rgb(71, 71, 71);
	}
	.shippingreturns {
	  padding: 0;
	  overflow: hidden;
	  background: #5D5D5D;
	  width: 100%;
	  float: none;
	}
	ul.policy {
	  padding: 20px;
	  background: #747474;
	  box-shadow: inset 0px 1px 5px -2px #000;
	  overflow: hidden;
	}
	.shippingreturns ul li {
	  display: block;
	  font-size: .95em;
	  text-align: left;
	  line-height: 2em;
	  color: #fff;
	  text-transform: uppercase;
	  padding: 5px 10px;
	}
	h4.footerheadings {
	  color: #d5e14d;
	  font-weight: normal;
	  font-size: 14px;
	  font-family: candara;
	  text-align: center;
	  margin: 0;
	  padding: 15px 0;
  	  border-bottom: 0;
	}
	.shippingpolicy {
		margin-bottom: 0;
	}
	h4.footerheadings {
		margin: 0;
	}
	.customer-account-changepassword .form-list label.required em, .customer-address-form .form-list label.required em{
		float: left;
		position: static;
	}

	.elastic-search-result .products-grid li.item {
	 
	    min-height: 278px;
	}

	.catalog-category-view span.price-saving-percentage{
		font-size: 12px;
	}

	.catalog-category-view .minimal-price .price-label, .catalog-category-view .special-price .price,  .catalog-category-view .regular-price .price {
	  font-size: 14px;
	}

	.catalog-category-view .old-price, .catalog-category-view .old-price .price{
		font-size: 12px;
	}

	.catalog-category-view .products-grid li.item {
	  min-height: 270px;
	}


	.lay_nav_res, .lay_sort_res {
	  background-position: 26px center;
	}
	.minimal-price .price-label, .price-box .price{
		font-size: 16px;
	}

	.form-search button.button {
	  width: 15%;
	}

	input#search {
	  width: 83%;
	}

	.menu_icon {
	  top: 62px;
	}

	.header-container .links li a.top-link-signin, .header-container .links li a.top-link-login{
	  background-position: 2px -322px;
	  background-size: 280px;
	}

	.cart_link_wrapper a{
		  background-position: -30px -322px;
  		background-size: 280px;
	}

	
	.menu_icon{
		background-size: 285px;
		background-position: -7px -52px;
		top: 35px;
	}


	.catalog-product-view .block .block-content li.item {
	  margin: 0px 10px 0 0!important;
	  width: 155px!important;
	}

	.catalog-product-view .recently_viewed_slider .products-grid{
		   width: 155px!important;
  margin-right: 10px!important;
	}
}

@media only screen and (max-width: 340px){
	h4.footerheadings, .shippingpolicy{
		margin:0;
	}

	.shippingpolicy.service h4.footerheadings{
		border-bottom: 0;
	}

	ul.policy li{
		padding:3px 12px 
	}

	.catalog-product-view .product-view button.button span span{
		font-size: 14px;
	}


}


@media only screen and (max-width: 320px){
	.catalog-product-view .block .block-content li.item {
	  margin: 0px 10px 0 0!important;
	  width: 280px!important;
	}

	.catalog-product-view .recently_viewed_slider .products-grid{
		   width: 280px!important;
  margin-right: 10px!important;
	}

	.elastic-search-result .products-grid li.item {
  width: 94%;
  margin: 3%;
}

.elastic-search-result .products-grid .product-name {
	  display: block;
	}
}

.nivo-controlNav a {
	background: #000!important;
	box-shadow: none!important;
	border: none!important;
	opacity: 0.2;
}
.nivo-controlNav a.active, .nivo-controlNav a:hover {
	background: #D5E14D!important;
	box-shadow: none!important;
	border: none!important;
	opacity: 1;
}

.customer-account-login .account-login {
  padding-top: 10px;
}

div.inchoo-socialconnect-google-inner {
	width: 91px!important;
}

.customer-address-index .page-title.title-buttons button span {
	background: #333333;
	padding: 4px 7px;
}

.customer-address-index .page-title.title-buttons button span:hover {
	background: #D5E14D;
}

.customer-address-index .page-title.title-buttons button span:hover span {
	color: #000;
}

.onepagecheckout-index-index span#address-step-continue ,.mobileapp-index-index span#address-step-continue {
	font-size: 14px!important;
}

ul.messages li.success-msg {
	background: #E8EBC9;
}

.checkout_footer{
	margin-top: 110px;
}

.onepagecheckout-index-index .col-3.order_summary,.mobileapp-index-index .col-3.order_summary{
	padding-bottom: 20px;
}

.onepagecheckout-index-index  #coupon-discount .messages,.mobileapp-index-index  #coupon-discount .messages{
	margin: 0 auto!important;
}

.complete_checkout .discount button.button#coupon-apply{
	margin-top: 8px;
}