.shipDiv span {
  transition: all linear 0.3s;
  margin-right: 3px;
}
.footer address img {
  width: 55px;
  vertical-align: middle;
}

.secure_wrap, .shipping_wrap {
  /*padding-top: 18px;*/
}

.customer-account-login button.button span ,  .customer-account-create button.button span, .customer-account-forgotpassword button.button span {
  line-height: 21px;
}

.customer-account-login .new-users, .customer-account-login .registered-users {
  width: 49%!important;
  padding: 0;
}

.customer-account-login .new-users h2, .customer-account-login .registered-users h2 {
  padding: 10px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

.customer-account-login .subcribe_wrap button.button span span  ,  .customer-account-create .subcribe_wrap button.button span span , .customer-account-forgotpassword .subcribe_wrap button.button span span  {
    line-height: 31px 
}

@media only screen and (max-width: 720px) {
    .follow_us_wrap {
      width: 90%;
      display: inline-block;
      padding-left: 10px;
      box-sizing: border-box;
    }
    .secure_shipping {
      width: 85%;
      padding-top: 2% !important;
    }
    .shippingreturns {
      padding: 15px 0 10px 0;
    }
    .secure_wrap, .shipping_wrap {
      padding-left: 10px;
      box-sizing: border-box;
    }
    .secure_wrap {
      width: 50%;
    }
    /*.secure_shipping {
      padding: 0 2% !important;
      box-sizing: border-box;
    }*/

    .customer-account-login .form-list .input-box {
        width: 100%;
    }


}

@media only screen and (max-width: 620px) {
.secure_shipping {
  width: 90%;
}
.secure_wrap, .shipping_wrap {
  padding-left: 0;
}
.follow_us_wrap {
  padding-left: 0;
}
}
@media only screen and (max-width: 520px) {
.secure_shipping {
  width: 100%;
}
.follow_us_wrap {
  width: auto;
  margin: 15px 0 5px 0;
}
}
@media only screen and (max-width: 480px) {
    .ship_title {
        text-align: center;
    }
    .secure_wrap {
        width: 53%;
    }
    .shipDiv span {
        float: none !important;
        display: inline-block;
    }
    .shipPartner span {
        float: none !important;
        display: inline-block;
    }

    .customer-account-login .new-users h2, .customer-account-login .registered-users h2 { 
        font-size: 15px;
    }

    .customer-account-login  .registered-users .buttons-set button.button {
      float: left !important;
      margin: 20px 0 0 0 !important;
    }

    .customer-account-login  .new-users  .buttons-set button.button {
        margin-top: 38px !important;
    }

     .customer-account-create  .form-list .input-box, .customer-account-forgotpassword  .form-list .input-box {
        width: 100%;
    }
     .customer-account-create  .form-list label, .customer-account-forgotpassword  .form-list label { 
        width: auto
     }

     .customer-account-create  label[for="gender"] + .input-box {
        width: 70%;
     }
}
@media only screen and (max-width: 360px) {
.secure_wrap {
  width: 100%;
}
.shipping_wrap {
  width: 100%;
  margin-top: 17px;
}
#scroll_top_sportxs {
  right: 17px;
  bottom: 132px;
}
.shippingpolicy {
  width: 100%;
  cursor: pointer;
}
ul.policy {
  display: none;
}
}
