.payment_tabs {
    float: left;
    width: 28%
}
.checkout_parent .sp-methods dt {
    width: 100%
}
.payment_tabs_area {
    width: 66.1%;
    float: left;
    padding: 0 2%;
    background: #fff
}
.checkout_parent .sp-methods dd {
    position: inherit;
    padding: 0;
    width: 100%;
    min-height: inherit;
    float: left;
    display: none
}
.payment_tabs_area .dd_added {
    display: block!important
}
dd#ddpay_cashondelivery {
    background: #f5f5f5;
    border: 1px solid #e0e0e0;
    margin: 20px 0;
    padding: 4% 5% 5%;
    width: 90%
}
.cod_opt {
    display: none!important
}
.payment_method_tab {
    padding: 20px;
    background: #333;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.2em;
    display: none;
    text-align: center;
    position: relative;
    text-transform: capitalize
}
.payment_method_tab .menu_toogle_arrow {
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -3px
}
.payment_method_tab .menu_toogle_arrow_up {
    margin-top: -8px
}
.payment_tabs.visible {
    display: block
}
button#address-step-continue {
    margin: 0 auto;
    float: none
}
.blk:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden
}
.availableEMIs label {
    border-bottom: 1px solid #B6B6B6;
    display: inherit;
    float: none;
    margin: inherit
}
.availableEMIs div.ttls,
.availableEMIs label {
    font-size: 13px;
    line-height: 30px;
    padding: 10px 5%;
    text-align: center;
    width: 90%!important
}
.customer-info label {
    color: #3E3E3E;
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin: 6px 0;
    text-align: left
}
#availableEMIs {
    border-bottom: 0;
    margin-bottom: 20px
}
.availableEMIs div.blk {
    border-left: 1px solid #B6B6B6;
    border-right: 1px solid #B6B6B6
}
.ttls.blk {
    border-top: 1px solid #B6B6B6;
    border-bottom: 1px solid #B6B6B6;
    width: 89.5%!important
}
.ttls.blk span {
    color: #333;
    font-size: .9em;
    line-height: 1.9em
}
#availableEMIs span {
    width: 23%;
    display: block;
    float: left;
    text-align: center
}
.radioBtn {
    width: 6%!important;
    margin-top: 5px
}
@media all and (max-width: 900px) {
    .checkout_parent {
        width: 95%;
    }
    .main-container {
        margin: 86px 2.5%
    }
    .col-3.order_summary {
        width: 95%;
        margin: 20px 3% 0;
        position: inherit
    }
    #checkout-review {
        overflow: hidden
    }
    .onepagecheckout-index-index .order-products-table tr.first.last ,.mobileapp-index-index .order-products-table tr.first.last {
        display: block;
        width: 100%;
        float: left
    }
    .onepagecheckout-index-index .order-products-table thead th.first_thead_th ,.mobileapp-index-index .order-products-table thead th.first_thead_th {
        min-width: 172px;
        text-align: left!important;
        width: 65%;
        padding: 10px 0 10px 3%
    }
    .order-products-table thead th {
        border-bottom: 0;
        width: 15%;
        float: left;
        padding: 10px .5%
    }
    .order-products-table thead th.last_th {
        display: none
    }
    .order-products-table tbody tr {
        display: block;
        width: 100%
    }
    .order-products-table tbody td,
    .order-products-table tbody th {
        padding: 6px 0!important;
        float: left;
        width: 14.8%;
        min-height: 25px
    }
    .onepagecheckout-index-index .order-products-table tbody td.first_td ,.mobileapp-index-index .order-products-table tbody td.first_td {
        min-width: 172px;
        text-align: left!important;
        width: 67%;
        padding: 10px 0 2px 3%!important
    }
    .onepagecheckout-index-index .order-products-table tbody td .item-options ,.mobileapp-index-index .order-products-table tbody td .item-options {
        display: none
    }
    .order-products-table tfoot tr {
        background: #f7f7f7!important;
        display: block;
        width: 100%
    }
    .order-products-table tfoot tr td {
        background-color: #fff;
        border-bottom: 0;
        width: 44%;
        text-align: right;
        float: left;
        padding: 10px 3%
    }
    .step_bubble {
        width: 33%
    }
    .envelope {
        width: 70%
    }
    .login_with_text_onepagecheckout {
        padding: 30px 0 8% 6%
    }
    .checkout_parent .form_fields label {
        font-size: 11px
    }
    .full.showformlog label {
        font-size: 1.1em!important
    }
    .onepagecheckout_datafields .col-1 .form_fields .short {
        width: 100%
    }
    #p_method_payucheckout_nb_data label {
        width: 29%!important;
        display: block;
        font-size: 11px\0/;
        margin-right: 1%!important
    }
}
@media all and (max-width: 720px) {
    #p_method_payucheckout_nb_data label {
        width: 39%!important
    }
    .onepagecheckout-index-index .header-container ,.mobileapp-index-index .header-container {
        box-shadow: none
    }
    .onepagecheckout-index-index .header ,.mobileapp-index-index .header {
        text-align: center
    }
    .header h1.logo {
        margin: 0 0 10px;
        padding: 10px 0 15px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #d9d9d9
    }
    .header h1.logo a {
        float: none;
        position: relative;
        z-index: 100
    }
    .header h1.logo a img {
        width: 30%;
        min-width: 180px;
        max-width: 210px
    }
    .checkoutmethod_logos {
        float: none;
        display: inline-block;
        margin: 3px 0
    }
    .unit_img_lock.fl {
        border-left: 0
    }
    .main-container {
        margin: 142px 2.5% 86px
    }
    .step_bubble {
        font-size: 1.2em
    }
    .bank_img img {
        width: 107px
    }
    span.radio_span {
        margin: 7px 6px 0 2px
    }
}
@media all and (max-width: 680px) {
    .bank_img img {
        width: 88px;
        margin: 0
    }
    span.radio_span {
        margin: 5px 6px 0 2px
    }
}
@media all and (max-width: 640px) {
    #p_method_payucheckout_nb_data label {
        width: 29%!important
    }
    .payment_tabs {
        float: left;
        width: 100%;
        background: #444
    }
    .payment_tabs_area {
        width: 96%;
        float: left;
        padding: 0 2%;
        background: #fff
    }
    .checkout_parent .sp-methods dt {
        width: 100%;
        float: left;
        clear: none;
        color: #fff!important;
        padding: 0;
        margin: 0;
        overflow: visible;
        border: 0;
        border-bottom: 1px solid #555
    }
    .checkout_parent .sp-methods dt label {
        text-align: center;
        font-size: 11px;
        word-wrap: break-word;
        width: 100%;
        padding: 13px 0;
        border: 0;
        height: auto
    }
    .checkout_parent .sp-methods dt.added span {
        right: 50%;
        top: 112%;
        margin-right: -6px;
        border-top: 6px solid #e5322b;
        border-left: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid transparent;
        display: none
    }
    .checkout_parent .sp-methods dt.added {
        border: 0;
        border-right: 0
    }
    .checkout_parent .sp-methods dt label {
        color: #fff
    }
    .checkout_parent .sp-methods dt.added label {
        border-radius: 0
    }
    .step_bubble_comn {
        font-size: .9em
    }
    label[for=p_method_cashondelivery] {
        display: none!important
    }
    label[for=p_method_cashondelivery].cod_opt {
        display: block!important
    }
    .onepagecheckout-index-index .order-products-table tbody td.first_td ,.mobileapp-index-index .order-products-table tbody td.first_td {
        width: 66.5%
    }
    .onepagecheckout-index-index .order-products-table thead th.first_thead_th ,.mobileapp-index-index .order-products-table thead th.first_thead_th {
        width: 64%
    }
    .order-products-table thead th {
        padding: 10px 1.5% 10px 0
    }
    .payment_method_tab {
        display: block
    }
    .payment_tabs {
        display: none
    }
    .checkout_parent #payment-method label {
        width: 100%
    }
}
@media all and (max-width: 480px) {
    .login_with_text_onepagecheckout {
        position: inherit;
        right: 0;
        width: 87%;
        border: 1px solid #f0f0f0;
        border-top: 1px solid #ccc;
        margin: auto
    }
    .login_or {
        left: 50%;
        top: 0
    }
    .checkout_progress {
        margin-top: 0;
        background: #fbfbfb;
        height: 66px
    }
    .step_bubble_comn {
        font-size: .8em;
        min-height: 34px
    }
    .checkout_parent #address-step .form_fields label {
        width: 94px;
        font-size: 11px
    }
    .checkout_parent #payment-method #payment_form_secureebs_standard #only_pay_images label {
        width: 36px;
        margin-right: 8px
    }
    .visa_image {
        background: url(../images/checkout/visa_master.png) 0 center no-repeat;
        background-size: 78px
    }
    .visa_image_next {
        background: url(../images/checkout/visa_master.png) -41px center no-repeat;
        background-size: 77px
    }
    .amex_image {
        background: url(../images/checkout/amex.png) 0 center no-repeat;
        background-size: 36px
    }
    .unit_img_buy,
    .unit_img_lock,
    .unit_img_return {
        padding: 14px 10px
    }
    .trust-icon {
        display: none
    }
    .text_unit {
        width: 74px
    }
    #ddpay_secureebs_standard .y-fix {
        padding: 0!important;
        clear: both;
        margin-top: 20px
    }
    #p_method_payucheckout_nb_data label {
        width: 44%!important
    }
    .order-products-table tbody td,
    .order-products-table tbody th {
        min-height: 40px
    }
    .order-products-table tbody td .product-name {
        min-width: 100%
    }
    .order-products-table tfoot td,
    .order-products-table tfoot th {
        min-height: 36px;
        padding: 5px
    }
    .order-products-table tfoot strong {
        font-size: 94%
    }
    .login_title {
        padding-left: 0;
        margin-bottom: 10px;
        text-align: center;
        padding-right: 12px
    }
    .envelope {
        width: 100%
    }
    #login-form .data_area input,
    #login-form input#pass {
        width: 63%
    }
    .checkout_parent .form_fields label {
        font-size: 9px
    }
    #login-form .data_area label,
    .full.showformlog label {
        padding-right: 3px
    }
    .input-box.passcheck {
        margin: 4px 0 0 74px
    }
    .onepagecheckout-index-index .buttons-set.showformlog,.mobileapp-index-index .buttons-set.showformlog,
    .onepagecheckout-index-index .buttons-set.step1-pos.check_login_button ,.mobileapp-index-index .buttons-set.step1-pos.check_login_button {
        margin: 4px 0 0!important;
        text-align: center
    }
    .checkout_parent .buttons-set button.button {
        margin-bottom: 10px;
        display: inline-block
    }
    .full.showformlog .input-box {
        float: left;
        width: 63%
    }
    #login-form input#pass {
        width: 100%
    }
    input.checkbox#rememberme {
        margin-right: 3px;
        margin-left: 69px
    }
    a.onepagecheckout_forgotlink {
        margin-top: 0
    }
    #forgot-password-form label {
        font-size: 11px
    }
    a.onepagecheckout_forgotlink,
    input.checkbox#rememberme {
        margin-bottom: 20px
    }
}
@media all and (max-width: 380px) {
    #p_method_payucheckout_nb_data label {
        width: 66%!important
    }
    .bank_img img {
        width: 110px;
        margin: 0 15px
    }
    span.radio_span {
        margin: 7px 6px 0 2px
    }
    .checkout_parent .v-fix {
        width: 70%!important
    }
    .onepagecheckout-index-index .order-products-table thead th.first_thead_th ,.mobileapp-index-index .order-products-table thead th.first_thead_th {
        width: 56%;
        min-width: 20px
    }
    .onepagecheckout-index-index .order-products-table tbody td.first_td ,.mobileapp-index-index .order-products-table tbody td.first_td {
        width: 60.5%;
        min-width: 20px
    }
    .order-products-table thead th {
        border-bottom: 0;
        width: 19%
    }
    .order-products-table tbody td,
    .order-products-table tbody th {
        width: 17.8%
    }
    #login-form .data_area,
    #login-form input#pass,
    .full.showformlog .input-box {
        width: 100%
    }
    #login-form .data_area label,
    .full.showformlog label {
        padding-right: 3px;
        text-align: left
    }
    .input-box.passcheck {
        margin: 4px 0 0
    }
    .checkout_parent .form_fields label {
        font-size: 10px
    }
    #login-form .data_area input,
    #login-form input#pass {
        width: 95%
    }
    a.onepagecheckout_forgotlink,
    input.checkbox#rememberme {
        margin-left: 0;
        font-size: .9em;
        margin-bottom: 20px;
        float: right
    }
    #login-step .validation-advice#advice-required-entry-email {
        margin-left: 0
    }
    .onepagecheckout-index-index .buttons-set.showformlog,.mobileapp-index-index .buttons-set.showformlog,
    .onepagecheckout-index-index .buttons-set.step1-pos.check_login_button ,.mobileapp-index-index .buttons-set.step1-pos.check_login_button {
        padding: 0!important
    }
    .checkout_parent #address-step .form_fields label {
        width: auto
    }
    .onepagecheckout_datafields .col-1 .form_fields div.full .data_area,
    .onepagecheckout_datafields .col-1 .form_fields div.two_fields .data_area {
        width: 100%;
        margin-left: 0
    }
    .address_step_continue {
        text-align: center
    }
    button#address-step-continue {
        margin-left: 0;
        display: inline-block;
        float: none
    }
    #billingaddress-2,
    div.customer_checkout_address.customer_checkout_newaddress {
        clear: both;
        float: none;
        padding: 13px 16px 0 21px!important;
        background: url(../images/custom/plus-icon.png) 0 16px no-repeat;
        margin-right: 0
    }
    .onepagecheckout_datafields .form_fields li {
        margin-left: 0;
        width: 100%;
        float: left
    }
}
@media all and (max-width: 320px) {
    .checkout_parent .form_fields label {
        font-size: 9px
    }
}


.unit_img_return, .unit_img_buy {
  border-left: #dbdbdb solid 1px!important;
}

.onepagecheckout-index-index .step_bubble .step_bubble_comn {
  min-height: 45px;
  font-family: 'Questrial', sans-serif;
}

.onepagecheckout-index-index .checkout_progress {
	background: #f0f0f0;
}

.onepagecheckout-index-index .step_bubble, .mobileapp-index-index .step_bubble {
	font-size: 1.2em;
	position: relative;
}

.onepagecheckout-index-index .change_state ,
.mobileapp-index-index .change_state {
	position: absolute;
	left: 50%;
	margin-left: -27px;
	margin-top: -22px;
}

.onepagecheckout-index-index .step ,
.mobileapp-index-index .step {
	font-size: 12px;
	line-height: 18px;
	margin: 20px 0 0;
}

.onepagecheckout-index-index .header ,
.mobileapp-index-index .header {
	padding: 10px 0;
}

.onepagecheckout-index-index .header h1 ,
.mobileapp-index-index .header h1 {
  margin: 0;
  padding: 0;
  width: 30%;
  max-width: 220px;
  min-width: 150px;
  margin: 0!important;
}

.onepagecheckout-index-index .header h1.logo a ,
.mobileapp-index-index .header h1.logo a {
  width: 100%;
}

.onepagecheckout-index-index .header h1.logo a img ,
.mobileapp-index-index .header h1.logo a img {
  width: 100%;
}

.onepagecheckout-index-index .checkout_parent .col3-set.onepagecheckout_datafields ,
.mobileapp-index-index .checkout_parent .col3-set.onepagecheckout_datafields {
  padding-top: 30px;
}

.onepagecheckout-index-index #login-form input#pass, .onepagecheckout-index-index #login-form .data_area input ,
.mobileapp-index-index #login-form input#pass, .mobileapp-index-index #login-form .data_area input {
	width: 230px;
}

.required.remember_me {
	color: #767676 !important;
}

.payment_method_tab .menu_toogle_arrow {
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -3px;
  display: block;
}

.menu_toogle_arrow {
  text-indent: -999em;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top: 6px solid #fff;
  margin-top: 16px;
  float: left;
}

.payment_method_tab .menu_toogle_arrow_up {
  margin-top: -8px;
}

.payment_method_tab .menu_toogle_arrow {
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -3px;
}

.menu_toogle_arrow_up {
  border-top: 6px solid transparent;
  border-bottom: 6px solid #fff;
  margin-top: 9px;
}

#checkout-coupon-discount-load .op_block_title {
  padding-bottom: 10px !important;
}

.onepagecheckout-index-index .main ,
.mobileapp-index-index .main {
  min-height: 600px;
}

.complete_checkout .discount button.button span {
	line-height: 21px;
}

.onepagecheckout-index-success .thankyou ,.mobileapp-index-success .thankyou {
	width: 50%;
	padding-right: 2%; 
}


@media only screen and (max-width: 720px) {

	.onepagecheckout-index-index .header,
	.mobileapp-index-index .header{
		padding: 0;
	}

	.onepagecheckout-index-index .header h1 ,
	.mobileapp-index-index .header h1 {
		width: 100%;
		max-width: 95% !important;
  		min-width: 95% !important;
	}

	.onepagecheckout-index-index .header-container ,
	.mobileapp-index-index .header-container {
	  background: #d5e14d;
	}

	.onepagecheckout-index-index .header-container ,
	.mobileapp-index-index .header-container {
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
	
	.onepagecheckout-index-index .header h1.logo ,
	.mobileapp-index-index .header h1.logo {
		padding: 5px 0;
		margin: 0 2.5% !important;
		width: 95% !important;
	}

	.onepagecheckout-index-index .checkoutmethod_logos ,
	.mobileapp-index-index .checkoutmethod_logos {
		width: 100%;
		display: inline-block;
		margin: 0;
		padding: 10px 0;
		background: #DADADA;
	}

	.onepagecheckout-index-index .checkoutmethod_logos .fl ,
	.mobileapp-index-index .checkoutmethod_logos .fl {
		float: left;
		float: none;
		display: inline-block;
		line-height: 16px;
		padding: 8px 10px ;
		vertical-align: middle;
	}

	.onepagecheckout-index-index .unit_img_return, .onepagecheckout-index-index .unit_img_buy ,
	.mobileapp-index-index .unit_img_return, .mobileapp-index-index .unit_img_buy {
		border-left: #aaa solid 1px!important;
		/*line-height: 20px;
		padding: 8px 10px ;*/
	}

	.onepagecheckout-index-index .order-products-table tbody td.first_td ,
	.mobileapp-index-index .order-products-table tbody td.first_td {
		min-height: inherit;
		/*margin: 0;*/
	}

	.onepagecheckout-index-index .order-products-table tbody td.first_td h3 ,
	.mobileapp-index-index .order-products-table tbody td.first_td h3 {
		margin: 2px 0 6px;
	}

	
}

@media only screen and (max-width: 640px) {

	.envelope {
	  width: 100%;
	}

	.login_with_text_onepagecheckout {
	  position: inherit;
	  right: 0;
	  width: 87%;
	  border: 1px solid #f0f0f0;
	  border-top: 1px solid #ccc;
	  margin: auto;
	  display: inline-block;
	}

	.onepagecheckout-index-index .login_or ,
	.mobileapp-index-index .login_or {
		left: 50%!important;
		top: 0;
	}

	.onepagecheckout-index-index #login-form input#pass, .onepagecheckout-index-index #login-form .data_area input ,
	.mobileapp-index-index #login-form input#pass, .mobileapp-index-index #login-form .data_area input {
		width: 310px;
	}

	.onepagecheckout-index-index .login_title,
	.mobileapp-index-index .login_title{
		text-align: center;
		padding: 0;
		padding-right: 25px;
	}

	.onepagecheckout-index-index .order-products-table tbody td .product-name ,
	.mobileapp-index-index .order-products-table tbody td .product-name {
		margin: 0;
	}

	.onepagecheckout-index-index .all_bank_logo ,
	.mobileapp-index-index .all_bank_logo {
		background: url('../images/checkout/checkoutfooter.png') no-repeat center;
		width: 100%;
		height: 28px;
		float: left;
		display: inline-block;
		padding-left: 10%;
		box-sizing: border-box;
		background-size: 80%;
	}

	.onepagecheckout-index-index .all_bank_logo ,
	.mobileapp-index-index .all_bank_logo {
		height: 35px;
	}

	.onepagecheckout-index-index  .checkout_parent .sp-methods dt.added label ,
	.mobileapp-index-index  .checkout_parent .sp-methods dt.added label {
		background-color: #d5e14d !important;
		color: #333;
	}

	.onepagecheckout-index-index .order-products-table tbody td.first_td, .onepagecheckout-index-index .order-products-table tbody td, .onepagecheckout-index-index .order-products-table tbody th ,
	.mobileapp-index-index .order-products-table tbody td.first_td, .mobileapp-index-index .order-products-table tbody td, .mobileapp-index-index .order-products-table tbody th {
		min-height: 42px;
	}


}

@media only screen and (max-width: 533px) {
	.onepagecheckout-index-index #login-form input#pass, .onepagecheckout-index-index #login-form .data_area input ,
	.mobileapp-index-index #login-form input#pass, .mobileapp-index-index #login-form .data_area input {
		width: 210px;
	}

	.onepagecheckout-index-index .checkout_parent .form_fields label ,
	.mobileapp-index-index .checkout_parent .form_fields label {
		font-size: 11px !important;
	}
}

@media only screen and (max-width: 480px) {
	.onepagecheckout-index-index .change_state ,
	.mobileapp-index-index .change_state {
		margin-top: -12px;
	}

	.onepagecheckout-index-index .login_or ,
	.mobileapp-index-index .login_or {
		top: -15px;
	}

	.onepagecheckout-index-index .checkout_parent #onepagecheckout_loginbox .buttons-set button.button ,
	.mobileapp-index-index .checkout_parent #onepagecheckout_loginbox .buttons-set button.button {
	  margin-bottom: 10px;
	  display: block;
	  clear: both;
	  margin-left: 81px;
	}

	.onepagecheckout-index-index .buttons-set.step1-pos.check_login_button ,
	.mobileapp-index-index .buttons-set.step1-pos.check_login_button {
		margin-left: 	0;
	}

	.onepagecheckout-index-index span#address-step-continue ,
	.mobileapp-index-index span#address-step-continue {
		margin-left: 142px;
	}

	.onepagecheckout-index-index .order-products-table tfoot td, .onepagecheckout-index-index .order-products-table tfoot th ,
	.mobileapp-index-index .order-products-table tfoot td, .mobileapp-index-index .order-products-table tfoot th {
		min-height: inherit;
	}

	.onepagecheckout-index-index .order-products-table tbody td.first_td ,
	.mobileapp-index-index .order-products-table tbody td.first_td {
		min-height: 40px;
		/*margin: 0;*/
	}

	.onepagecheckout-index-index .order-products-table tbody td.first_td h3 ,
	.mobileapp-index-index .order-products-table tbody td.first_td h3 {
		margin: 2px 5px 4px 0;
		height: 32px;
		overflow: hidden;
	}

	.onepagecheckout-index-index #ddpay_secureebs_standard .y-fix ,
	.mobileapp-index-index #ddpay_secureebs_standard .y-fix {
		margin-top: 0;
	}

	/*.onepagecheckout-index-index .order-products-table tbody td.first_td ,
	/*.mobileapp-index-index .order-products-table tbody td.first_td {
		padding: 10px 0 4px 3%!important;
	}*/
}

@media only screen and (max-width: 420px) {
	.onepagecheckout-index-index span#address-step-continue ,
	.mobileapp-index-index span#address-step-continue {
	  margin-left: 113px;
	}

	.onepagecheckout-index-index .checkout_parent #address-step .form_fields label ,
	.mobileapp-index-index .checkout_parent #address-step .form_fields label {
		text-align: left;
		  width: 67px;
	}


}

@media all and (max-width: 380px) {
	.input-box.passcheck {
	  margin: 4px 0 0;
	  width: 100%;
	}

	.onepagecheckout-index-index .checkout_parent #onepagecheckout_loginbox .form_fields label ,
	.mobileapp-index-index .checkout_parent #onepagecheckout_loginbox .form_fields label {
	  width: 80%;
	}

	.onepagecheckout-index-index .checkout_parent #onepagecheckout_loginbox .buttons-set button.button ,
	.mobileapp-index-index .checkout_parent #onepagecheckout_loginbox .buttons-set button.button {
		margin-left: 0;
	}

	.onepagecheckout-index-index .checkout_parent #address-step .form_fields label ,
	.mobileapp-index-index .checkout_parent #address-step .form_fields label {
		width: auto;
	}

	.onepagecheckout-index-index span#address-step-continue ,
	.mobileapp-index-index span#address-step-continue {
	  margin-left: 24px;
	}

	.onepagecheckout-index-index label[for="billing:gender"] + .data_area ,
	.mobileapp-index-index label[for="billing:gender"] + .data_area {
		width: 80% !important;
		padding-left: 20px;
	}
}