.cms-page-view.cms-faq h2 {
    margin-top: 62px;
}
.menu_icon,
.menu_icon1 {
    display: none;
}
.checkout-cart-index #shopping-cart-table {
    margin-bottom: 25px !important;
}
.youama-login-window .forgotpassword { display: none;}
.youama-login-window #forgotpass_loader { display: none;}
/*.harpreet-slider-block .slider-wrapper { width:900px;height:340px;}*/
.harpreet-slider-block { margin: auto;}
.footerheadings { font-weight: none !important;}
.promo_banner_wrap {margin-bottom: 15px; border-bottom: 1px solid #D9D9D9; padding-bottom: 15px;}
.pleftalign { text-align: center; !important;}
.pspancolor { color: #505050 !important;}
#scroll_top_sportxs { display: none;}
#show-overlay { display: none;}
@media only screen and (max-width: 1024px) {
    .dropdown-menu {
        margin-top: 0;
    }
    .after-product-added .close-after-add-popup {
        top: -15px;
        right: -7px;
    }
    .rawwishlist-index-index .buttons-set button.button {
        float: left;
    }
    .search-mob-menu.active {
        width: 35px;
        background: url(../images/sprite/sprite.png) -313px -382px no-repeat #fff;
        height: 55px;
        top: 0;
    }
    .menu_icon.active {
        background: url(../images/sprite/sprite.png) -5px -50px no-repeat #fff;
        height: 55px;
        top: 0;
        padding: 0 4px;
        left: 0;
    }
    .new_nav li ul li {
        border-top: 0;
        border-bottom: 1px solid #C3CA77;
        background: #FFFFFF;
    }
    .new_nav li ul li ul li ul li {
        border-top: 0;
        border-bottom: 1px solid #BABD99;
        background: #DEE1BA;
    }
    .new_nav.nav .cat_nav li a {
        color: #000!important;
    }
    .new_nav li ul.cat_nav {
        background: #fff;
    }
    li.level-top.parent:hover a span {
        color: #000!important;
    }
    .menu_toogle_arrow {
        border-top-color: #000;
    }
    .menu_toogle_arrow_up {
        border-top-color: transparent !important;
        border-bottom-color: #000;
    }
    .new_nav li ul li ul li {
        background: #EFF0E2;
        border-bottom: 1px solid #B9BB9C;
    }
    .search-mob-menu {
        width: 22px;
        display: inline-block;
        background: url(../images/sprite/sprite.png) -320px -395px no-repeat;
        float: left;
        position: absolute;
        top: 35px;
        height: 25px;
        left: 55px;
        cursor: pointer;
        z-index: 1000;
    }
    .configurable_avail_sizes {
        bottom: 49px;
    }
    .cart_link_wrapper a.header-wishlist-link span,
    .cart_link_wrapper a span {
        width: 10px;
        height: 10px;
        padding: 3px;
        background: #fff;
        position: absolute;
        top: -13px;
        right: 0px;
        border-radius: 10px;
        line-height: 11px;
        border: 1px solid #808080;
    }
    .cart_link_wrapper a span {
        top: -10px;
    }
    .cart_link_wrapper {
        position: relative;
        margin-right: 5px;
    }
    .cart_link_wrapper a {
        border: 0!important;
        position: relative!important;
        height: 25px;
    }
    .cart_link_wrapper a.header-wishlist-link {
        background: url(../images/sprite/sprite.png) -72px -364px no-repeat;
        background-size: 315px;
        margin-top: 3px;
        height: 25px;
        position: relative;
        margin-right: 5px;
    }
    .main-container {
        margin-top: 82px!important;
    }
    .form-search button.button span {
        background: url(../images/sprite/sprite.png) -303px -342px no-repeat #000!important;
    }
    #search_mini_form {
        width: 100%;
        padding: 8px;
        background: #D2D2D2;
        margin-top: 6px;
        box-sizing: border-box;
    }
    .form-search {
        background: #fff;
    }
    .new_nav li ul.cat_nav {
        width: 90%;
        border-radius: 0;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 84px;
        max-width: 360px;
    }
    .top-links-page,
    .main-content-page {
        position: relative;
        z-index: 1000;
    }
    .main-content-page {
        background: #D5E14D;
        min-height: 45px;
    }
    .menu_icon {
        z-index: 1000;
        cursor: pointer;
    }
    .search_wrap.loggedin p.welcome-msg {
        margin-right: 10px;
    }
    .search_wrap.loggedin p.welcome-msg span {
        width: 36px;
        display: block;
        position: relative;
        padding-right: 0px;
        background: url(../images/sprite/sprite.png) 5px -362px no-repeat;
        font-size: 0px;
        background-size: 315px;
    }
    .search_wrap.loggedin p.welcome-msg span img {
        padding-top: 4px;
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }
    .shippingreturns {
        width: 95%;
        margin: 0 auto;
        float: none;
    }
    .dropdown-menu {
        width: 40%;
        position: fixed;
        top: 80px!important;
        right: 0;
        left: inherit;
        height: 100%;
    }
    #search_mini_form {
        display: none;
    }
    .main-content-page {
        padding: 5px 0;
    }
    .head_right {
        margin-top: 0;
        height: 0;
    }
    .header-container {
        background: #D5E14D!important;
    }
    .nav-container {
        height: 0;
    }
    .category_menu_title,
    li.level0.nav-5.active.home_link_wrapper,
    .home_link_wrapper {
        display: none;
    }
    input#search {
        background: #fff;
    }
    .cart_link_wrapper a {
        border: 1px solid #D5E14D;
    }
    .logo_left img {
        min-height: inherit;
        max-width: inherit;
    }
    .logo {
        float: none;
        text-align: center;
    }
    .logo_left {
        float: none;
        z-index: 9;
        display: inline-block;
        width: 15%;
    }
    .left_section {
        text-align: center;
    }
    .desc_wrapper {
        padding-top: 47px;
    }
    .products-grid li.item {
        padding: 5px 0 10px;
    }
    .products-grid .product-name {
        height: 45px;
    }
    .shippingpolicy {
        width: 22%;
        float: left;
        margin-left: 2%;
    }
    .secure_shipping {
        width: 95%;
        padding: 0;
        margin: 0 auto;
        float: none;
    }
    .secure_wrap {
        width: 35%;
        margin-right: 0;
        margin-bottom: 0px;
    }
    .footer address {
        width: 95%;
        margin: 0 auto;
    }
    .description {
        padding: 0 15px;
    }
    .nivo-directionNav a {
        opacity: 1;
    }
    .main {
        padding: 0 10px;
    }
    .cms-home .main {
        padding: 0 0px;
    }
    .search-autocomplete {
        left: 20.2%!important;
        width: 33.5%!important;
    }
    .products-grid li.item:hover .md_quickview_trigger,
    .products-grid li.item .product-image:hover .md_quickview_trigger {
        display: none;
    }
    .form-search button.button {
        width: 6%!important;
    }
    .header-container .links li a.top-link-signin span,
    .header-container .links li a.top-link-login span,
    div.cart-text {
        display: none;
    }
    .header-container .links li a.top-link-signin,
    .header-container .links li a.top-link-login {
        height: 30px!important;
    }
    .new_nav.nav {
        display: inline-block;
        width: auto;
        height: auto;
        width: 90%;
        margin-left: 10px;
    }
    .menu_icon {
        position: absolute;
        top: 35px;
        left: 8px;
        display: block!important;
    }
    .menu_toogle_arrow {
        margin-top: 13px;
    }
    img.home_link {
        background: #D4DE6C;
        padding: 31% 9px;
    }
    .search_wrap {
        position: absolute;
        top: 17px;
        right: 0;
    }
    #search_mini_form {
        width: 100%;
    }
    .head_right {
        width: 100%;
    }
    .left_section {
        width: 100%;
        margin: 0;
    }
    li.level0.nav-5.active.home_link_wrapper a,
    li.level0.nav-5.home_link_wrapper a {
        padding: 0;
    }
    .home_link {
        margin-top: 0;
    }
    ul#nav {
        display: none;
    }
    .category_menu_wrap.activ {
        border-radius: 0;
        background: #0E061A!important;
    }
    .new_nav.nav li a {
        padding: 8px 10px;
    }
    li.category_menu_wrap {
        width: auto;
    }
    .category_menu_wrap {
        border: 0;
    }
    button.button.btn-cart.config-add-to-cart,
    button.button.btn-cart.simple-product-add-cart {
        width: 50%;
    }
    button.list-wishlist-add {
        width: 50%;
        border-right: 0;
    }
    button.list-quick-view {
        display: none;
    }
}
/* 900px */

@media only screen and (max-width: 900px) {
    .logo_left {
        width: 16%;
    }
    .search_links {
        position: absolute;
        top: 70px;
        right: 0;
        float: right;
    }
    .head_right {
        margin: auto;
    }
    #search_mini_form {
        width: 100%;
    }
    .links-left-top ul li a,
    .links-right-top ul li a {
        padding: 0 4px;
    }
    .top-links-main {
        padding: 0;
    }
    .links-left-top ul li a,
    .links-right-top ul li a {
        font-size: 12px;
        color: #000;
    }
    .col2-left-layout .col-main {
        width: 68%;
    }
    .search-autocomplete {
        left: 1.5%!important;
        width: 97%!important;
        top: 153px!important;
    }
    .form-search button.button span {
        background: url(../images/sprite/sprite.png) -310px -341px no-repeat;
        height: 34px!important;
        position: absolute;
        right: -3px;
        top: -1px;
    }
    .form-search {
        position: relative;
    }
    .order-products-table tfoot tr.first td {
        float: right!important;
        text-align: right!important;
    }
    .order-products-table tfoot tr td {
        text-align: left!important;
    }
    .checkout_parent {
        width: 99%!important;
    }
}
/* 800px */

@media only screen and (max-width: 800px) {
    .wishlist-index-index .inner {
        display: none;
    }
    .products-grid li.item {
        width: 49.5%;
    }
    .col2-left-layout .col-main {
        width: 65%;
    }
    .sortby_filter {
        display: none;
    }
    .checkout_help_no {
        width: 100%;
        text-align: center;
    }
    .pay_heading {
        display: none!important;
    }
    .all_bank_logo,
    .footer_wrapper {
        text-align: center!important;
        float: none!important;
    }
    .thankyou {
        float: left;
        max-width: 1000px;
        border-right: none;
        border-bottom: 1px dotted #d3cbb8;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .address {
        padding-left: 0;
    }
    .nivo-controlNav {
        padding: 0;
    }
    .nivo-controlNav a {
        width: 12px;
        height: 12px;
    }
}
/* 780px */

@media only screen and (max-width: 780px) {
    .search_wrap.loggedin {
        padding-right: 35%;
    }
}
/* 768px */

@media only screen and (max-width: 768px) {
    .youama-login-window,
    .youama-register-window {
        width: 80%;
    }
    .tHead_inner {
        display: none;
    }
    .tBody_inner .cart_desc_pro {
        width: 70%;
    }
    .tBody_inner div .product-image img,
    .cart .totals {
        width: 100%;
    }
    .tBody_inner .cart_img_pro {
        width: 20%;
    }
}
/* 720px */

@media only screen and (max-width: 720px) {
    .logo_left {
        width: 17%;
    }
    .pleftalign {
        text-align: justify!important;
    }
    .catalog-product-view .product-name {
        margin: 20px 0 0px 0;
        width: 100%;
    }
    .catalog-product-view .size_guide_wrap {
        left: inherit!important;
        right: 8px;
        top: -25px;
    }
    .header h1.logo {
        border-bottom: 1px solid #000!important;
    }
    .secure_shipping {
        border-top: 1px solid #444444;
        padding: 15px 0 0;
        width: 100%;
        text-align: center;
        min-height: 10px;
    }
    .shippingreturns {
        padding: 15px 0 0 0;
    }
    .secure_wrap,
    .shipping_wrap {
        margin: 0 auto;
        float: none;
        display: inline-block;
    }
    .follow_us_wrap {
        float: none;
        margin: 15px auto;
        width: 74%;
    }
    .footer address {
        width: 100%;
        border-top: 1px solid #444444;
        line-height: 30px;
        text-align: center;
    }
    span.managed_by {
        width: 100%;
        float: left;
        padding-bottom: 10px;
    }
    span.copy_symbol {
        float: none;
        width: 100%;
    }
    .footer {
        border-bottom: 5px solid #d5e14d;
    }
    .promo_banner_wrap {
        margin: 0 auto;
        width: 97%;
    }
    .promo_banner,
    .promo_banner.mid {
        width: 48%;
        margin: 0 1%;
    }
    .links-right-top {
        display: none;
    }
    .links-left-top ul li a,
    .links-right-top ul li a {
        font-size: 14px;
        color: #000;
    }
    .links-left-top {
        float: none;
        width: 100%;
        margin: 0 auto;
    }
    .top-links-main {
        margin: 0 auto;
        display: inline-block;
    }
    .search_wrap {
        padding-right: 30%;
    }
    .top-links-page {
        text-align: center;
    }
    .col2-left-layout .col-main {
        width: 100%;
    }
    .col-left {
        display: none;
    }
    .wishlist-index-index .col-left,
    .customer-account-index .col-left,
    .customer-account-edit .col-left,
    .customer-address-index .col-left,
    .customer-account-changepassword .col-left,
    .review-customer-index .col-left,
    .newsletter-manage-index .col-left {
        display: block;
        width: 99%;
        margin: 20px 0
    }
    .wishlist-index-index .nav-section .nav-section-item {
        font-size: 14px;
        border-bottom: 1px solid #ECECEC;
        color: #000;
    }
    .col2-left-layout .products-grid {
        margin-top: 50px;
    }
    .product-cart-div,
    .simpleProductBlock,
    .product-page-share-buttons {
        display: block;
    }
    .products-grid li.item:hover .sizes {
        display: none;
    }
    .products-grid li.item {
        border: 1px solid #d5e14d;
        width: 43%;
        margin: 15px 3%;
    }
    .products-grid li.item .product-image:hover .md_quickview_trigger,
    .products-grid li.item:hover .md_quickview_trigger {
        display: none;
    }
    .products-grid li.item.last,
    .products-grid li.item.first {
        width: 43%;
        margin: 15px 3%;
    }
    .products-grid .product-name {
        min-height: 50px;
    }
    .fiter_sort_layer {
        float: left;
        width: 100%;
        position: relative;
        top: 0px;
        left: 0;
        z-index: 9;
        background-color: #fff;
        border-bottom: 1px solid #aaaaaa;
        border-top: 1px solid #aaaaaa;
    }
    .lay_nav_res {
        padding: 30px 10px;
        width: 44%;
        text-align: center;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        float: left;
        border-right: 1px solid #b1b1b1;
        min-width: 128px;
        background: url(../images/sort-by.png) 70px 23px no-repeat;
    }
    .lay_sort_res {
        padding: 30px 10px;
        width: 45%;
        text-align: center;
        z-index: 998;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        float: right;
        min-width: 128px;
        background: url(../images/filters.png) 70px 23px no-repeat;
    }
    .category-products .toolbar {
        border: none;
    }
    .breadcrumbs {
        display: none;
    }
    .category-products .toolbar {
        display: none!important;
    }
    .block.block-layered-nav.amshopby-overflow-scroll-enabled.amshopby-collapse-enabled.amshopby-filters-top {
        width: 100%;
        float: left;
        margin-top: -15px;
    }
    .block-content.filter-pagecategory {
        position: absolute;
        width: auto;
        top: 100px;
        z-index: 9;
        background: #fff;
        padding-bottom: 5px;
        width: 100%!important;
    }
    .col1-layout .product-view .product-shop {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        display: inline-block;
        float: none;
    }
    .catalog-product-view .product-name {
        display: inline-block;
    }
    .accord_wrap {
        width: 90%;
        text-align: left;
        margin: 0 auto;
    }
    .product-view .product-img-box {
        display: none;
    }
    #product-slider {
        display: block;
        max-width: 700px;
        width: 100%;
        border-bottom: 4px solid #efece7;
    }
    .g-product-description {
        border-top: 5px solid #dfdfdf;
        border-bottom: 5px solid #dfdfdf;
        width: auto;
        padding: 20px 25px;
    }
    h1.g-product-title {
        padding: 0 0 10px 0;
    }
    .accord_wrap h1.g-product-title {
        font-size: 32px;
    }
    .each_feature {
        font-size: 18px;
    }
    .feature_title {
        width: 150px;
    }
    .product-view .product-name h1 {
        font-size: 22px;
    }
    .product-name {
        margin: 25px 0 15px 0;
    }
    .product-view .add-to-box .add-to-cart,
    .product-options-bottom .add-to-cart {
        display: inline-block;
        float: none;
        margin-right: 0;
    }
    .bx-wrapper .bx-viewport {
        border: none!important;
    }
    .product-view button.button.btn-cart {
        padding: 8px 65px!important;
    }
    .col1-layout .product-view .product-shop .product-name h1 {
        text-align: center;
    }
    .search-autocomplete {
        left: 0%!important;
        top: 105%!important;
        width: 100%!important;
    }
    .search_wrap.loggedin {
        padding-right: 38%;
    }
    ul.add-to-links li {
        display: inline-block;
        margin-left: 10px;
    }
    .product-page-write-review {
        float: none;
    }
    .at_PinItButton {
        display: inline-block;
    }
    .addthis_default_style .addthis_separator,
    .addthis_default_style .at300b,
    .addthis_default_style .at4-icon,
    .addthis_default_style .at300bo,
    .addthis_default_style .at300m,
    .addthis_default_style .at300bs {
        float: none!important;
    }
    div.addthis_toolbox.addthis_default_style {
        float: none!important;
        position: static !important;
        text-align: center!important;
        display: inline-block!important;
        margin: 0 auto!important;
        width: 100%!important;
    }
    .product-options dt {
        width: auto;
    }
    .product-options {
        max-width: 70%!important;
        margin-left: 0%!important;
        float: right;
    }
    .catalog-product-view .product-shop .price-box {
        overflow: hidden;
        float: left;
        width: auto;
        margin-top: 20px;
        display: inline-block;
        text-align: left;
        margin-left: 20px;
    }
    .product-options dt {
        margin: 10px 8px 0 0;
    }
    .catalog-product-view .old-price {
        float: none;
    }
    .at_PinItButton {
        display: inline-block!important;
    }
    iframe {
        float: none!important;
    }
    .wishlist-index-index .inner {
        display: none;
    }
    .wishlist-index-index .product-view button.button.btn-cart {
        padding: 4px 10px!important;
        width: 100%;
    }
    .wishlist-index-index .product-view button.button.btn-cart span span {
        font-size: 14px;
    }
    .wishlist-index-index tbody,
    .wishlist-index-index .data-table thead {
        display: inline-block;
        width: 100%;
    }
    .wishlist-index-index .buttons-set button.button {
        padding: 4px 6px;
        display: inherit;
    }
    .wishlist-index-index input.qty {
        display: block;
        margin-top: 10px;
    }
    .my-account .page-title {
        border-bottom: 1px solid #E6E6E6;
    }
    .fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened {
        width: 89%!important;
    }
}
/* 640px */

@media only screen and (max-width: 640px) {
    .logo_left {
        width: 20%;
    }
    .new_nav.nav {
        margin-left: 0;
    }
    .youama-window-box .form_fields {
        border-right: none;
    }
    .forgotpassword {
        width: 100%;
        border-right: none;
    }
    .facebook_twitter_google .clearer,
    .facebook_twitter_google_sign .clearer {
        display: inline-block;
        float: none;
    }
    .facebook_twitter_google span,
    .facebook_twitter_google_sign span {
        float: none;
        text-align: center;
    }
    .youama-window-box .login_or {
        top: 65px;
        left: 46%;
    }
    .youama-window-box .sign_or {
        top: 100px;
        left: 46%;
    }
    .youama-window-box .input-container,
    .youama-window-box .form_fields {
        padding-right: 0;
        margin-top: 25px;
    }
    #login-form .btn-wrapr {
        margin: -20px 0 0 0!important;
    }
    div.inchoo-socialconnect-facebook,
    div.inchoo-socialconnect-facebook-inner {
        display: inline-block;
        float: none;
    }
    .facebook_twitter_google .clearer,
    .facebook_twitter_google_sign .clearer {
        display: inline-block;
        float: none;
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
    }
    .header-container .links li.first {
        z-index: 9
    }
    .nav-container {
        position: relative;
    }
    .new_nav.nav {
        width: 100%;
    }
    .header-container {
        background: #d5e14d;
    }
    .form-search {
        background: #fff;
    }
    .header-container .links li a.top-link-login {
        display: none;
    }
    .new_nav.nav {
        display: block;
        position: absolute;
        top: 0px;
        width: 100%;
    }
    .category_menu_wrap {
        border: none;
    }
    li.level0.nav-5.active.home_link_wrapper {
        display: none;
    }
    .menu_toogle_arrow {
        display: block;
    }
    .new_nav,
    .activ,
    .category_menu_wrap.activ {
        background: none;
    }
    .nav-container {
        height: 0;
    }
    #nav {
        display: none;
    }
    a.top-link-signin span,
    div.cart-text {
        display: none;
    }
    .cart_link_wrapper a,
    .cart_link_wrapper a:hover {
        border: none;
    }
    .search_wrap {
        padding-right: 15%;
    }
    .header-container .links li a.top-link-signin {
        background-position: 0px -398px;
    }
    .header-container .links li a.top-link-signin {
        height: 30px;
    }
    .cart_link_wrapper a {
        background: url(../images/sprite/sprite.png) -36px -398px no-repeat;
        margin: 0px 0 0 0;
        height: 30px;
    }
    li.level0.nav-5.home_link_wrapper {
        display: none;
    }
    .search_wrap.loggedin {
        padding-left: 0;
        padding-right: 45px;
        background: none;
    }
    span.suffix {
        display: none;
    }
    p.welcome-msg {
        margin-top: 35px;
        margin-right: -33px;
        text-transform: capitalize;
    }
    ul.links {
        margin-top: -35px;
    }
    .onepagecheckout-index-index .order-products-table tbody td.first_td,.mobileapp-index-index .order-products-table tbody td.first_td,
    .onepagecheckout-index-index .order-products-table tbody td,.mobileapp-index-index .order-products-table tbody td,
    .onepagecheckout-index-index .order-products-table tbody th ,.mobileapp-index-index .order-products-table tbody th {
        min-height: 44px!important;
    }
}
@media only screen and (max-width: 680px) and (min-width: 640px) {
    .youama-login-window,
    .youama-register-window {
        width: 88%;
    }
}
/* 620px */

@media only screen and (max-width: 620px) {
    .logo_left {
        width: 21%;
    }
    .subcribe_wrap input[type=text] {
        width: 140px;
        font-size: 12px;
    }
    .subcribe_wrap button.button span span {
        padding: 0 8px;
    }
    .subcribe_wrap .form-subscribe-header {
        font-size: 12px;
    }
    .block .block-content {
        margin: 0 auto;
        text-align: center;
        display: inline-block;
    }
    .secure_wrap {
        width: 50%;
    }
    .catalog-category-view .products-grid li.item {
        width: 30.5%;
    }
    td.tablecell_2 {
        width: 40%;
        margin-left: 10%;
    }
}
/* 533px */

@media only screen and (max-width: 533px) {
    .logo_left {
        width: 26%;
        margin-left: -20px;
    }
    .links-left-top ul li a {
        font-size: 12px;
    }
    .search_wrap {
        padding-right: 20%;
    }
    .lay_nav_res {
        background: url(../images/sort-by.png) 50px 23px no-repeat;
    }
    .lay_sort_res {
        background: url(../images/filters.png) 50px 23px no-repeat;
    }
    div#narrow-by-list li {
        width: 33%;
    }
    .products-grid li.item {
        min-height: 300px;
    }
    .special-price {
        padding-left: 0px;
    }
    .special-price .price {
        font-size: 16px;
    }
    .checkout_parent .form_fields label {
        font-size: 10px!important;
    }
    .amconf-image {
        width: 24px;
    }
    .fancybox-wrap #shopping-cart-totals-table tbody tr td {
        text-align: left!important;
    }
    .cart_desc_pro .item-options dt {
        width: auto;
    }
    .tBody_inner {
        position: relative;
    }
    .tBody_inner .cart_rmv_pro .btn-remove2 {
        position: absolute;
        top: 5px;
        right: 0;
    }
    .cart button.button {
        margin: 0;
    }
    .cart button.button span,
    .cart button.button span span {
        padding: 3px 2px;
    }
    .cart .checkout-types {
        text-align: center;
        float: none;
    }
    .cart .a-right.cart_pro_btn {
        display: inline-block;
    }
    .cart button.button.btn-continue {
        margin-bottom: 15px;
    }
    input#search {
        width: 70%!important;
    }
    .dashboard .box-recent {
        overflow-x: scroll;
    }
    .order_title div.ordered-products {
        width: 90%;
        padding: 10px 0!important;
    }
    .order_title div {
        width: 90%;
    }
}
/* 480px */

@media only screen and (max-width: 480px) {
    .subcribe_wrap .form-subscribe-header {
        width: 100%;
    }
    .subcribe_wrap .block-subscribe {
        width: 100%;
    }
    .block .block-content {
        width: 90%;
    }
    .subcribe_wrap .input-box {
        width: 70%;
        float: none;
    }
    .subcribe_wrap input[type=text] {
        width: 100%;
        float: left;
    }
    .subcribe_wrap .actions {
        float: left;
    }
    .promo_banner_wrap {
        width: 100%;
    }
    .promo_banner,
    .promo_banner.mid {
        width: 100%;
        margin: 0 0%;
        max-width: 100%;
        min-height: 0;
    }
    li.free-shipping,
    li.cash-on-delivery {
        display: none;
    }
    .links-left-top ul li a {
        font-size: 14px;
    }
    .shippingpolicy {
        width: 48%;
        margin-bottom: 15px;
        margin-right: 2%;
        margin-left: 0%;
    }
    .secure_wrap {
        float: left;
    }
    .footer {
        text-align: center;
    }
    .secure_shipping {
        float: none;
        display: inline-block;
        text-align: center;
        width: 95%;
        margin: 0 auto;
    }
    .lay_nav_res {
        background: url(../images/sort-by.png) 40px 23px no-repeat;
    }
    .lay_sort_res {
        background: url(../images/filters.png) 40px 23px no-repeat;
    }
    .follow_us_wrap {
        width: 100%;
    }
    .col2-set .col-1,
    .col2-set .col-2 {
        width: 100%;
    }
    .product-view button.button.btn-cart {
        padding: 8px 48px!important;
    }
    .product-options {
        width: auto!important;
        max-width: 100%!important;
        float: right;
        display: inline-block;
        text-align: right;
    }
    .catalog-product-view .product-shop .price-box {
        width: auto;
    }
    .product-options-bottom {
        padding: 0;
    }
    .catalog-product-view .product-shop .price-box {
        margin-top: 23px;
    }
    .onepagecheckout-index-index .login_or ,.mobileapp-index-index .login_or {
        left: 50%!important;
        top: -15px;
    }
    .catalog-product-view .product-shop .price-box.configurable-product {
        width: 100%;
        text-align: center;
    }
    .catalog-product-view span.regular-price {
        display: inline-block;
        text-align: center;
    }
    .checkout_parent .form_fields label {
        font-size: 10px!important;
    }
    ul.add-to-links {
        margin-bottom: 20px;
    }
    .catalog-product-view .product-shop .price-box {
        margin-left: 10px;
    }
    .amconf-image {
        width: 22px;
        margin-right: 6px;
    }
    .myorder-tabs .tab {
        font-size: 14px;
    }
    .myorder-tabs .tab.selected {
        padding: 8px 8px 0;
    }
    .myorder-tabs .tab {
        padding: 4px 8px 2px;
        color: #000;
    }
    .buttons-set {
        display: inline-block;
    }
    .continue_button {
        float: none;
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .success_text {
        width: 100%;
    }
    .wishlist-index-index table#wishlist-table thead {
        display: none;
    }
    .wishlist-index-index tbody {
        border-top: 1px solid #DDD;
    }
    .wishlist-index-index .main {
        padding: 0;
    }
    .wishlist-index-index td.tablecell_2 {
        float: left;
        width: 100%;
        margin-left: 0;
    }
    .wishlist-index-index td.tablecell_1 {
        width: 100%;
        display: block;
        border-bottom: none!important;
    }
    .wishlist-index-index .my-account h3 {
        margin-bottom: 0;
    }
    .wishlist-index-index .product-name {
        margin: 0px 0 0px 0;
    }
    .wishlist-index-index .product-view button.button.btn-cart {
        padding: 4px 40px!important;
    }
    .single_ordered-product-info .product_details {
        float: left;
        text-align: left;
        padding: 0 1.5% 0 1.5%;
    }
    .single_ordered-product-info div {
        width: 32%;
        font-size: 14px;
    }
    .single_ordered-product-info div .product-image {
        text-align: left;
    }
    .product-options dt,
    .product-options dt label {
        width: 100%;
    }
    .product-options dd {
        margin: 5px 0;
        float: none;
        width: 100%;
        text-align: center;
    }
    .catalog-product-view .product-shop .product-options {
        margin-right: 0;
        width: 100%!important;
        display: inline-block;
        text-align: center;
    }
    .catalog-product-view .size_guide_wrap {
        float: none;
        position: static!important;
        left: 0!important;
        width: 100%;
        display: inline-block;
    }
    .product-options dt {
        margin: 0;
    }
    .catalog-product-view .product-shop .price-box {
        margin: 7px 0;
    }
}
/* 420px */

@media only screen and (max-width: 420px) {
    .lay_nav_res {
        background: url(../images/sort-by.png) 25px 23px no-repeat;
        width: 45%;
    }
    .lay_sort_res {
        background: url(../images/filters.png) 25px 23px no-repeat;
        width: 45%;
    }
    div#narrow-by-list li {
        width: 45%;
    }
    button.button.btn-cart.config-add-to-cart span span,
    button.button.btn-cart.config-buy-now span span {
        font-size: 12px;
        line-height: 21px;
    }
    .lay_nav_res {
        background: url(../images/sort-by.png) 0px 23px no-repeat;
        padding: 30px 0;
    }
    .lay_sort_res {
        background: url(../images/filters.png) 0px 23px no-repeat;
        padding: 30px 0;
    }
    .product-view button.button.btn-cart {
        padding: 8px 39px!important;
    }
    .myorder-tabs {
        padding: 0 0 0 5px;
    }
    .myorder-tabs .tab {
        font-size: 13px;
    }
    .myorder-tabs .tab {
        font-size: 12px;
        font-weight: 600;
    }
    .tBody_inner div {
        width: 15%;
    }
    .wishlist-index-index .cart-cell p a.link-edit {
        margin-left: 3px;
        padding-left: 6px;
        font-size: 11px;
    }
    .wishlist-index-index a.details {
        font-size: 11px!important;
    }
}
/* 380px */

@media only screen and (max-width: 380px) {
    .footer address {
        font-size: 10px;
    }
    .search_wrap {
        padding-right: 24%;
    }
    .products-grid li.item,
    .products-grid li.item.last,
    .products-grid li.item.first {
        width: 94%;
        padding: 5px 0 5px;
    }
    .products-grid .product-name {
        min-height: 0;
    }
    .product-view button.button.btn-cart {
        padding: 8px 31px!important;
    }
    .catalog-product-view .product-shop .price-box {
        width: 100%;
    }
    .product-options {
        width: 100%!important;
        text-align: left;
        float: left;
    }
    .product-options dd,
    .product-options dt {
        float: none;
    }
    .amconf-image {
        width: 24px;
    }
    .fancybox-inner .product-name {
        padding-right: 15px;
    }
}
/* 360px */

@media only screen and (max-width: 360px) {
    .product-view button.button.btn-cart {
        padding: 8px 22px!important;
    }
    .myorder-tabs #subText {
        display: none;
    }
    .form-list .input-box,
    .form-list li.wide .input-box {
        width: 100%;
    }
    .onepagecheckout-index-index #login-form .data_area input ,.mobileapp-index-index #login-form .data_area input {
        width: 100%!important;
    }
    .cart_link_wrapper a.header-wishlist-link {
        background: url(../images/sprite/sprite.png) -63px -323px no-repeat;
        margin-right: 9px;
        background-size: 280px;
    }
}