body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 18px;
    color: #666;
}
.sortby_filter li {
    margin: 0;
    border-top: 0
}
#fme_filters_list li {
    margin: 0!important;
    padding: 5px 0
}
#fme_layered_price button.button span {
    padding: 2px 15px;
    background: #333;
    border-radius: 3px
}
#fme_layered_price input.input-text,
textarea {
    padding: 3px 2% 3px 1%;
    width: 32%
}
.new_nav.nav .cat_nav li a:hover {
    color: #fff!important;
}
.product-view .product-img-box {
    float: left;
    width: 60%;
    margin-right: 3%
}
.product-view .product-img-box .product-image {
    width: 81%
}
.more-views {
    width: 15.5%!important
}
.mousetrap {
    width: 100%!important
}
.bx-wrapper .bx-controls-direction a {
    z-index: 99!important
}
.new_nav li ul li.blog_link_wrapper {
    display: none
}
li.level0.nav-5.active.home_link_wrapper {
    margin-left: 0
}
#nav {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333
}
.hdr_logo {
    width: 25%;
    float: left
}
.hdr_logo img {
    width: 95%
}
.quick-access {
    float: right
}

#search_mini_form {
    float: left;
    width: 50%;
}
#nav li div.shown-sub,
#nav li ul.shown-sub {
    left: 0;
    font-size: 12px;
    z-index: 999;
    background-color: #FFF;
    border: 1px solid #999
}
#nav li div.shown-sub li:hover,
#nav li ul.shown-sub li:hover {
    background-color: #333
}
#nav .shown-sub li a span {
    font-size: 11px;
    line-height: 1.5em
}
.left_section {
    width: 100%;
    display: inline-block;
}
.product-name-resp {
    display: none
}
.product-name-resp h1 {
    color: #000;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px
}
.search_wrap .loggedin:hover {
    cursor: pointer
}
.contact_div {
    display: none
}
@media all and (min-width: 1024px) {
    #menu,
    #product-slider,
    .center_sect,
    .lay_nav_res,
    .lay_sort_res {
        display: none
    }
    .hide_div {
        display: block
    }
    .sortby_filter {
        display: none!important
    }
}
@media all and (max-width: 1024px) and (min-width: 768px) {
    .shippingreturns {
        text-align: left
    }
    #product-slider {
        display: none
    }
    .sortby_filter {
        display: none!important
    }
    .header-container {
        display: block
    }
    #nav {
        display: block
    }
    .new_nav.nav {
        display: none;
    }
    .new_nav {
        background: 0 0
    }
    .new_nav.nav li a {
        color: #b2b2b2!important
    }
    .home_link_wrapper {
        display: none
    }
    .category_menu_wrap {
        border: none
    }
    .category_menu_wrap.activ {
        background: #333!important;
        border-radius: 0 10px 0 0
    }
    li.level0.last {
        border-radius: 0 0 10px 10px
    }
    .new_nav li a:hover,
    .new_nav li.active a,
    .new_nav li.over a {
        background: 0 0
    }
    /*.cart_link_wrapper a span {
        right: 38px;
        top: 2px;
        color: #b2b2b2
    }*/
    .new_nav.nav .cat_nav li a {
        color: #b2b2b2
    }
    .new_nav li ul.cat_nav {
        background: #fff;
        width: 50%;
        border-radius: 0 0 10px 10px
    }
    .new_nav li ul li {
        border-top: none;
        border-bottom: 1px solid #333
    }
    .head_right {
        padding: 0;
        margin-top: 16px
    }
    .head_level2 {
        margin-top: 4px
    }
    .center_sect .head_level1,
    .icon_links,
    .logo_center {
        display: none
    }
    #menu,
    .lay_nav_res,
    .lay_sort_res,
    .read_div {
        display: none
    }
    .head_level1 {
        padding: 0
    }
    .form-search {
        margin: 0
    }
}

/*@media all and (max-width: 768px) {
    .logo_left img {
        min-height: 70px;
    }
    .search_wrap {
        position: absolute;
        top: 3%;
        right: 15%;
    }
    .header-container .links li.last {
        display: none;
    }
    .new_nav.nav {
        position: absolute;
        top: 0;
    }
    .logo_left {
        margin: 0 auto;
        float: none;
    }
    .head_right {
        width: 100%;
    }
    #fme_filters_list dd {
        max-width: 85%
    }
    .toolbar .sorter {
        margin: 10px
    }
    .center_sect .head_level1,
    .icon_links,
    .logo_center {
        display: block
    }
    .size_img img {
        width: 100%
    }
    .product-name h1 {
        text-align: center!important
    }
    .onepagecheckout-index-index .main-container ,.mobileapp-index-index .main-container {
        margin: 165px 2.5% 86px
    }
    .fiter_sort_layer {
        float: left;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 999;
        background-color: #dedddd;
        box-shadow: 10px 10px 10px 10px;
        margin-left: -1%
    }
    .lay_nav_res {
        padding: 10px;
        width: 44%;
        text-align: center;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        margin-left: -5px;
        float: left;
        background: url(../images/custom/filter.png) 55px no-repeat;
        background-size: 8%;
        border-right: 1px solid #b1b1b1;
        min-width: 128px
    }
    .lay_sort_res {
        padding: 10px;
        width: 45%;
        text-align: center;
        z-index: 998;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        margin-right: -5px;
        float: right;
        background: url(../images/custom/sortby.png) 55px no-repeat #dedddd;
        background-size: 12%;
        right: -11px;
        min-width: 128px
    }
    .breadcrumbs,
    .form-add,
    .no-rating {
        display: none
    }
    .youama-window-box .form_fields {
        border: none
    }
    .nivo-nextNav,
    .nivo-prevNav {
        background-size: 50%!important;
        width: 10%;
        background-repeat: no-repeat;
        min-height: 52px
    }
    .catalog-category-view .header-container {
        float: left;
        z-index: 999;
        background-color: #fff;
        top: 0
    }
    .nivo-directionNav a {
        margin-top: -5%
    }
    .catalog-category-view .main-container {
        margin-top: 25%
    }
    .regular-price span.price {
        text-align: center
    }
    .product-collateral {
        margin: 1%
    }
    .product-shop .no-rating {
        width: 100%!important;
        text-align: center;
        margin: 0 auto;
        float: none!important
    }
    .hori_links a.help_link {
        display: none
    }
    .youama-login-window {
        left: 48%!important;
        width: 90%;
    }
    .price-box {
        width: 100%!important;
        margin: 0 auto 5%!important;
        max-width: 450px
    }
    .catalog-product-view .old-price {
        width: 40%
    }
    .catalog-product-view .special-price {
        width: 58%;
        clear: none
    }
    .shippingreturns {
        text-align: left
    }
    .youama-register-window {
        width: 100%;
        left: 48%!important
    }
    .md_quickview_trigger {
        display: none!important
    }
    .form-search button.button span {
        float: right
    }
    input#search {
        width: 74%;
        height: 27px
    }
    .form-search button.button {
        width: 16%;
        float: right;
        height: 35px
    }
    .log_links {
        padding: 10%
    }
    .category_menu_title span,
    .hori_links ul.links li.last {
        display: none
    }
    .cat_nav li .toogle_wrap {
        width: 15%;
        padding: 0 15px 9px
    }
    .menu_toogle_arrow {
        float: right
    }
    .category_menu_title {
        padding: 2% 8%;
        width: 100%;
        margin: 5px
    }
    img.menu_icon {
        width: 40%
    }
    img.menu_icon1 {
        width: 80%
    }
    .menu_icon,
    .menu_icon1 {
        max-width: 30px;
        margin-top: 3%
    }
    .hide_div,
    .new_blog {
        display: none
    }
    .read_div {
        color: #333;
        display: inline-block;
        cursor: pointer;
        font-size: 12px
    }
    .fme-filter dd {
        display: none
    }
    dt.fme_layered_dt {
        margin: 0 0 10px
    }
    .search_wrap.loggedin {
        float: left;
        margin: 12% 0 0 -18%
    }
    #menu {
        display: none;
    }
    .block-layered-nav {
        float: left;
        position: fixed;
        z-index: 999;
        display: none;
        background: #fff;
        width: 50%;
        bottom: 28px
    }
    .sortby_filter {
        float: right;
        position: fixed;
        z-index: 999;
        display: none;
        background: #fff;
        width: 254px;
        right: 0;
        bottom: 45px;
        font-size: .85em
    }
    .catalog-category-view .col-main {
        width: 100%
    }
    .cart_link_wrapper {
        background-color: transparent!important;
        background-size: 32%;
        margin-top: 1%
    }
    #nav {
        display: block;
    }
    .new_nav.nav {
        display: none;
    }
    .new_nav {
        background: 0 0
    }
    .new_nav.nav li a {
        color: #141414
    }
    .home_link_wrapper {
        display: none
    }
    .category_menu_wrap {
        border: none
    }
    .category_menu_wrap.activ,
    .new_nav li a:hover,
    .new_nav li.active a,
    .new_nav li.over a {
        background: 0 0
    }
    .cart_link_wrapper a span {
        right: 6.8%;
        top: 30%
    }
    .new_nav.nav .cat_nav li a {
        color: #b2b2b2
    }
    .new_nav li ul.cat_nav {
        background: #fff;
        margin-top: 6%;
        box-shadow: 1px 4px 10px #000;
        width: 70%
    }
    .new_nav li ul li {
        border-top: none;
        border-bottom: 1px solid #333
    }
    .header-container .links li {
        margin-right: 0
    }
    .left_section {
        display: block
    }
    .center_sect {
        display: block;
        width: 100%;
        float: left
    }
    .logo_center {
        width: 30%;
        margin: 0 auto;
        position: relative;
        z-index: 1039
    }
    .logo {
        float: none
    }
    .logo_head {
        width: auto;
        margin: 0 auto
    }
    .logo img {
        width: 100%
    }
    .icon_links {
        position: absolute;
        top: 0;
        width: 98%
    }
    .quick-access {
        width: 100%!important;
        background-color: #f7f7f7
    }
    #search_mini_form,
    .form-search {
        float: none!important;
        margin-left: 0;
    }
    .form-search {
        margin: 10px auto;
        border-radius: 5px;
        width: 80%;
        height: 35px;
        background-color: #fff
    }
    .search_links {
        margin: auto;
        width: 100%
    }
    .search_wrap {
        float: none
    }
    
    .hori_links {
        width: 19%;
        padding-left: 5px;
        position: absolute;
        top: 0;
        right: 86px;
        z-index: 999
    }
    .log_links {
        float: left;
        margin-left: 0;
        margin-top: 4px
    }
    .new_blog {
        float: right;
        margin: 0 5px;
        text-transform: uppercase;
        background: url(../images/blog_ico.png) left no-repeat;
        background-size: 21%;
        width: 27%
    }
    .new_blog a {
        text-decoration: none;
        color: #666;
        margin-left: 15px
    }
    .blog_link_wrapper {
        display: none
    }
    .header-container {
        border: none!important
    }
    .product-name-resp {
        display: none
    }
    .product-view .product-img-box {
        width: 100%;
        margin: 0 auto
    }
    .col1-layout .product-view .product-shop {
        width: 100%;
        float: left
    }
    .product-options {
        margin: 12% auto 0;
        width: 97%;
        min-width: 190px;
        position: absolute;
        z-index: 1
    }
    .product-options-bottom {
        text-align: left;
        border: none;
        position: absolute;
        width: 98%;
        margin-top: 3%
    }
    .product-options-bottom .add-to-cart {
        margin: 25% auto 0;
        text-align: center;
        float: none
    }
    .desc_accord {
        margin-top: 32%
    }
    .product-options dt {
        width: 35px
    }
    .product-options dd {
        float: left;
        padding-left: 7%;
        text-align: center
    }
    .size_guide_wrap a {
        top: 25%
    }
    .catalog-product-view .special-price-percent {
        float: right
    }
    .product-view button.button.btn-cart {
        padding: 10px 38%!important;
        border-radius: 5px;
        width: 100%
    }
    div.addthis_toolbox.addthis_default_style {
        float: right!important;
        margin: 10px auto 0;
        width: 18%!important;
        min-width: 90px;
        top: 48%;
        right: 0;
        position: absolute!important
    }
    .product-img-box {
        display: none
    }
    #product-slider {
        display: block;
        margin: 0 auto;
        width: 99%!important
    }
    .dropdown-menu {
        right: 5%;
        top: 115%
    }
    .sort-by select {
        list-style: none;
        padding: 6px 10px;
        text-transform: uppercase;
        font-weight: 700;
        background-color: #333;
        border-top: 1px solid #D9D9D9;
        border-bottom: 1px solid #D9D9D9;
        text-align: left;
        color: #000;
        margin-bottom: 2%
    }
    .sort-by option {
        margin-bottom: 2%
    }
    .sort-by {
        display: none
    }
    .sortby_filter a {
        text-decoration: none;
        color: #b2b2b2
    }
    
}*/
@media all (min-width: 768px) and (max-width: 834px) {
    .menu_icon,
    .menu_icon1 {
        margin-top: 4%
    }
}
@media all and (max-width: 640px) {
    .products-grid li.item {
        width: 49%
    }
}
@media all and (max-width: 640px) {
    .dropdown-menu {
        right: -70%;
        top: 115%
    }
    .youama-window-box .facebook_twitter_google_sign {
    	padding-left: 0%; 
    	min-height: 0px;
    }
    .youama-window-box .login_or, .youama-window-box .sign_or {
    	float: right;
    	right: 0;
    	left: 95%;
    	margin-left: 0px;
    }
    
    .facebook_twitter_google {
        max-width: 100%;
        margin: 0 auto
    }
    .youama-window-box .facebook_twitter_google {
    	min-height: 10px;
    }

    .facebook_twitter_google span {
        float: left;
        margin-top: 10px
    }
    .facebook_twitter_google .clearer {
        float: left;
    }
    
    .facebook_twitter_google_sign {
        width: 100%!important;
        float: left!important;
        margin: 0 auto;
        height: auto!important;
        max-width: 100%;
    }
    .facebook_twitter_google_sign span {
        float: left;
        margin-left: 10%;
        margin-top: 8px
    }
    /*.loggedin {
        margin: 8% 0 0 18%!important
    }*/
    /*.search_wrap.loggedin {
        background: url(../images/custom/account1.png) no-repeat;
        background-size: 100%;
        padding: 20%;
        background-position: center!important;
        width: 20%;
        text-indent: -1200px;
        display: inline-block
    }*/
    
    .hori_links {
        width: 9%;
        padding: 0;
        margin-top: 1%;
        right: 17%
    }
    .log_links {
        margin: 0;
        padding: 0
    }
    .facebook_twitter_google {
        float: left!important;
        padding: 0!important;
        width: 100%!important;
        text-align: center!important
    }
    div.inchoo-socialconnect-facebook {
        float: left;
        margin: 0 0 0 10px;
    }
    .youama-window-box .login_or {
    	top: 0;
    }
    .login_or {
        margin-top: 0!important
    }
    .youama-window-box .input-container {
        width: 100%;
        border: none
    }
    #login-form .btn-wrapr {
        margin: -20px 0 0 126px!important
    }
    .youama-login-window {
        width: 90%;
    }
    .lfloat {
        width: 70%;
        margin: 0 auto;
        overflow: hidden;
        float: none
    }
    .rfloat_cont {
        border: none;
        float: none;
        text-align: center;
        padding: 0;
        margin: 0
    }
    .rfloat_cont .lfloat {
        width: 100%
    }
    .heading-cart {
        text-align: center;
        width: 100%
    }
    .follow_us_wrap .ship_title {
        margin-right: 20px
    }
    
    li.category_menu_wrap {
        width: 10%;
        margin: .5%
    }
    
    
    span.product_count {
        display: none
    }
    .fme_layered_dt li {
        cursor: pointer
    }
    .icon_div {
        width: 50%;
        overflow: hidden;
        margin: 0 auto
    }
    .contact_div {
        display: block
    }
    
    .time_sect {
        width: 100%;
        float: left;
        margin-top: 10px
    }
    
    .call_icon,
    .mail_icon {
        width: 20%
    }
    .call_icon img,
    .mail_icon img {
        width: 100%
    }
    .call_icon span,
    .mail_icon span {
        display: none
    }
    .youama-window-box .form_fields {
        width: 100%
    }
}
@media all and (max-width: 580px) {
    
    .facebook_twitter_google {
        float: none!important;
        padding: 0!important;
        width: 100%!important;
        text-align: center!important
    }
    div.inchoo-socialconnect-facebook {
        float: left;
        margin: 0 0 0 10px;
    }
    .youama-window-box .input-container {
        width: 100%;
        border: none
    }
    #login-form .btn-wrapr {
        margin: -20px 0 0 126px!important
    }
}
@media all and (max-width: 480px) {
    .hori_links {
        right: 20%
    }
    .sortby_filter {
        width: 200px
    }
    #login-form .btn-wrapr {
        margin: -20px 0 0 5%!important
    }
    /*.header-container .links li a {
        padding: 18%
    }*/
    .hori_links {
        margin-top: -9.5%;
        margin-right: -3%;
        width: 10%
    }
    .youama-login-window {
        width: 82%;
        left: 72%!important
    }
    
    /*.cart_link_wrapper {
        margin: 4px 12px 12px;
        padding: 2% 0;
        background-size: 70%;
        width: 10%
    }*/
    .head_level1 {
        position: static;
        z-index: 997
    }
    .new_nav li ul.cat_nav {
        position: absolute;
        z-index: 999!important
    }
    
    .product-name-resp h1 {
        font-size: 1.5em
    }
}
@media all and (max-width: 380px) {
    
    .youama-window-box .t1 {
        width: 65%
    }
    .youama-login-window {
        left: 87%!important
    }
    .subcribe_wrap input[type=text] {
        width: 92%
    }
    .products-grid li.item {
        width: 98%
    }
    
    .copy_symbol,
    span.managed_by {
        float: left;
        width: 100%;
        text-align: center
    }
    .footer address {
        line-height: 30px
    }
    
    .youama-login-window {
        width: 80%
    }
    /*.cart_link_wrapper {
        background-size: 85%
    }*/
}
@media all and (max-width: 360px) {
    .promo_banner {
        width: 98%
    }
    
    .youama-login-window {
        left: 93%!important
    }
}
@media all and (min-width: 640px) and (max-width: 768px) {
    .youama-login-window,
    .youama-register-window {
        width: 88%
    }
    .product-options {
        max-width: 405px!important;
        margin-left: 5%!important
    }
    div.addthis_toolbox.addthis_default_style {
        top: 37%
    }
    
}
@media all and (min-width: 480px) and (max-width: 640px) {
    
    .youama-login-window {
        left: 315px!important;
        width: 90%;
    }
    .youama-register-window {
        width: 90%;
        left: 315px!important
    }
    .facebook_twitter_google_sign span {
        margin-left: 0%;
    }
    .product-view .product-name h1 {
        font-size: 2em
    }
    
    .product-options {
        max-width: 375px!important;
        margin-left: 3%!important
    }
    
    div.addthis_toolbox.addthis_default_style {
        top: 36%
    }
    .onepagecheckout-index-index .facebook_twitter_google .clearer ,.mobileapp-index-index .facebook_twitter_google .clearer {
        float: none;
        margin: 0 auto;
        display: inline-block
    }
    .onepagecheckout-index-index .login_or ,.mobileapp-index-index .login_or {
        margin-left: -17px!important;
        margin-top: -17px!important
    }
}
@media all and (max-width: 640px) and (orientation: landscape) {
    .block-layered-nav {
        position: absolute;
        top: 0
    }
}
@media all and (min-width: 380px) and (max-width: 480px) {
    
    .youama-login-window {
        left: 305px!important;
        width: 90%
    }
    .youama-register-window {
        width: 90%;
        left: 305px!important
    }
    .facebook_twitter_google_sign span {
        margin-left: 5%
    }
    .facebook_twitter_google_sign .clearer {
        float: left;
        width: 60%
    }
    
    #login-form .btn-wrapr {
        margin: -20px 0 0 25%!important
    }
    .youama-window-box .t1 {
        width: 65%
    }
    .product-view .product-name h1 {
        font-size: 1.75em
    }
    
    .size_guide_wrap a {
        right: 0!important
    }
    
    div.addthis_toolbox.addthis_default_style {
        top: 40%
    }
    .size_guide_wrap a {
        top: 7%
    }
    .onepagecheckout-index-index .login_or ,.mobileapp-index-index .login_or {
        left: 0!important
    }
    .onepagecheckout-index-index .login_title ,.mobileapp-index-index .login_title {
        padding-right: 30px;
        margin-top: 10px
    }
    .onepagecheckout-index-index .facebook_twitter_google .clearer ,.mobileapp-index-index .facebook_twitter_google .clearer {
        float: none;
        margin: 0 auto;
        display: inline-block
    }
}
@media all and (min-width: 320px) and (max-width: 380px) {
    .hori_links {
        right: 21%;
        top: -5%
    }
    .sortby_filter {
        width: 140px;
        bottom: 38px;
        font-size: .75em
    }
    .youama-login-window {
        left: 306px!important;
        min-width: 87%
    }
    #login-form .btn-wrapr {
        margin: -20px 0 0 5%!important
    }
    .youama-register-window {
        width: 87%;
        left: 305px!important
    }
    .facebook_twitter_google_sign span {
        margin-left: 0
    }
    .facebook_twitter_google_sign .clearer {
        float: left;
        width: 65%
    }
    .facebook_twitter_google_sign {
        width: 100%!important
    }
    .product-view .product-name h1 {
        font-size: 1.45em
    }
    
    .size_guide_wrap a {
        right: 0!important
    }
    
    div.addthis_toolbox.addthis_default_style {
        top: 40%
    }
    
    .onepagecheckout-index-index .login_or ,.mobileapp-index-index .login_or {
        left: 0!important
    }
    .onepagecheckout-index-index .login_title ,.mobileapp-index-index .login_title {
        padding-right: 30px;
        margin-top: 10px
    }
    .onepagecheckout-index-index .facebook_twitter_google .clearer ,.mobileapp-index-index .facebook_twitter_google .clearer {
        float: none;
        margin: 0 auto;
        display: inline-block
    }
}
@media only screen and (max-width: 768px) {
    
    
    .logo_left {
        margin: 0 auto;
        float: none;
        position: relative;
        z-index: 999;
    }
    .header-container .links li.first {
        position: relative;
        z-index: 9999;
    }
}