<?php
/**
* Brainvire Infotech Pvt. Ltd
 * @category   Brainvire
 * @package    Brainvire_Points
 * @version    1.5.1
 * @copyright  Copyright (c) 2010-2012 Brainvire Infotech Pvt. Ltd (http://www.brainvire.com)
 * @license    
 */
?>
<?php
?>
<?php $_order = $this->getOrder() ?>
<table cellspacing="0" cellpadding="0" border="0" width="100%" style="border:1px solid #bebcb7; background:#f8f7f5;">
    <thead>
        <tr>
            <th align="left" bgcolor="#d9e5ee" style="padding:3px 9px"><?php echo $this->__('Item') ?></th>
            <th align="left" bgcolor="#d9e5ee" style="padding:3px 9px"><?php echo $this->__('Sku') ?></th>
            <th align="center" bgcolor="#d9e5ee" style="padding:3px 9px"><?php echo $this->__('Qty') ?></th>
            <th align="right" bgcolor="#d9e5ee" style="padding:3px 9px"><?php echo $this->__('Subtotal') ?></th>
        </tr>
    </thead>

    <?php $i = 0;
    foreach ($_order->getAllItems() as $_item): ?>
            <?php if ($_item->getParentItem())
                continue; else
                $i++; ?>
        <tbody<?php echo $i % 2 ? ' bgcolor="#eeeded"' : '' ?>>
    <?php echo $this->getItemHtml($_item) ?>
        </tbody>
        <?php endforeach; ?>

    <tfoot>
<?php if ($_order->getGiftMessageId() && $_giftMessage = $this->helper('giftmessage/message')->getGiftMessage($_order->getGiftMessageId())): ?>
            <tr>
                <td colspan="4" align="left" style="padding:3px 9px">
                    <strong><?php echo $this->__('Gift Message for this Order') ?></strong>
                    <br /><?php echo $this->__('From:'); ?> <?php echo $this->htmlEscape($_giftMessage->getSender()) ?>
                    <br /><?php echo $this->__('To:'); ?> <?php echo $this->htmlEscape($_giftMessage->getRecipient()) ?>
                    <br /><?php echo $this->__('Message:'); ?><br /> <?php echo $this->htmlEscape($_giftMessage->getMessage()) ?>
                </td>
            </tr>
<?php endif; ?>
        <tr>
            <td colspan="3" align="right" style="padding:3px 9px"><?php echo $this->__('Subtotal') ?></td>
            <td align="right" style="padding:3px 9px"><?php echo $_order->formatPrice($_order->getSubtotal()) ?></td>
        </tr>
<?php if ($_order->getDiscountAmount() > 0): ?>
            <tr>
                <td colspan="3" align="right" style="padding:3px 9px"><?php echo $this->__('Discount ' . ($_order->getCouponCode() ? '(' . $_order->getCouponCode() . ')' : '')) ?></td>
                <td align="right" style="padding:3px 9px"><?php echo $_order->formatPrice(0.00 - $_order->getDiscountAmount()) ?></td>
            </tr>
<?php endif; ?>
<?php if ($_order->getShippingAmount() || $_order->getShippingDescription()): ?>
            <tr>
                <td colspan="3" align="right" style="padding:3px 9px"><?php echo $this->__('Shipping & Handling') ?></td>
                <td align="right" style="padding:3px 9px"><?php echo $_order->formatPrice($_order->getShippingAmount()) ?></td>
            </tr>
<?php endif; ?>
<?php if (($_order->getTaxAmount() > 0) || (Mage::helper('tax')->displayZeroTax())): ?>
            <tr>
                <td colspan="3" align="right" style="padding:3px 9px"><?php echo $this->__('Tax') ?></td>
                <td align="right" style="padding:3px 9px"><?php echo $_order->formatPrice($_order->getTaxAmount()) ?></td>
            </tr>
<?php endif; ?>
<?php if ($_order->getMoneyForPoints()): ?>
            <tr>
                <td colspan="3" align="right" style="padding:3px 9px"><?php echo Mage::helper('points/config')->getPointUnitName() ?></td>
                <td align="right" style="padding:3px 9px"><?php echo $_order->formatPrice($_order->getMoneyForPoints()) ?></td>
            </tr>
<?php endif; ?>
        <tr bgcolor="#DEE5E8">
            <td colspan="3" align="right" style="padding:3px 9px"><strong><big><?php echo $this->__('Grand Total') ?></big></strong></td>
            <td align="right" style="padding:6px 9px"><strong><big><?php echo $_order->formatPrice($_order->getGrandTotal()) ?></big></strong></td>
        </tr>
    </tfoot>

</table>
