<div id = "page">
    <div class="header-container">
        <div class="top-links-wrapper">
            <div class="top-links-page">
                <?php //echo $this->getLayout()->createBlock('cms/block')->setBlockId('toplinks_page')->toHtml() ?>
                <div class="top-links-main">
                    <div class="links-left-top">
                        <div id="top-slideshow">
                            <?php
                            $config = Mage::helper('styler/ticker')->getAllTickers();
                            foreach ($config as $row):?>
                                <?php if(!empty($row['tiker'])):?>
                                    <div class="slide">
                                        <?php echo $row['tiker'];?>
                                    </div>
                                <?php endif;?>
                            <?php endforeach;?>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content-page">
            <div class="left_section">
                <div class="top-main-menu-blk top-left-login">
                    <div class="search_links">
                        <?php if($this->helper('customer')->isLoggedIn()) { ?><a href="<?php echo Mage::getBaseUrl(); ?>help/" class="help_link">Help</a><?php } ?>
                        <div class="account_overlay"></div>
                        <?php echo $this->getChildHtml('login-toplinks') ?>
                        <?php echo $this->getChildHtml('topLinks') ?>                   
                    </div>
                </div>
            </div>
            <a class="mobile_menu_icon" href="#menu"></a>
            <div class="search-icon-mob"></div>
            <div class="logo_pan">
                <div class="logo_head">
                    <?php if ($this->getIsHomePage()):?>
                        <h1 class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a></h1>
                        <?php else:?>
                            <h1 class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a></h1>
                        <?php endif?>
                    </div>
                </div>
                <div class="top-main-menu-blk top-right-cart">
                    <div class="overlay-mob-menu"></div>

                    <div class="cart_link_wrapper"><?php echo $this->getChildHtml('top-cart-fpc'); ?>
                    <div class="after-product-added mini-cart-pan">
                        <h1>My Cart </h1>
                        <div class="cart-pan">
                            <img src="#" title="wefe">
                            <div class="rightarea"><p class="productname">&nbsp;</p><p class="addedtocartmsg">&nbsp;</p> <div class="close-after-add-popup">X</div></div>
                        </div>
                        <div class="view-cart-popup-from-header">View Cart</div>
                    </div>
                </div>
            </div>
            <div class="head-right">
                <div class="quick-access">
                    <?php echo $this->getChildHtml('topSearch') ?>
                </div>
            </div>
        </div>
    </div>
    <div class="navigationn_wrap">
        <div class="mini-header">
            <div class="custom-container">
                <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="small-logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
            </div>    
        </div>
        <div class="custom-container">
            <div class="top-main-menu-blk">
                <?php echo $this->getChildHtml('topMenu') ?>
            </div>
        </div>
    </div>
</div>
<div class="search-mob-menu"></div>
</div>
<nav id="menu" class="nav-hide-menu">
    <div class="menu_inner">
        <div><?php echo $this->getChildHtml('topMenu') ?></div>
        <div class="footer-links-mob"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_links')->toHtml(); ?></div>
    </div>
</nav>

<!-- store pickup html -->
<div id="checkout-pickup-popup"></div>
<div id="popup" class="modal-box"> 
</div>
<input type="hidden" id="simple_product_id" name="simple_product_id" value=""/>
<input type="hidden" id="attribute_code_data" name="attribute_code_data" value=""/>
<input type="hidden" id="attribute_value_data" name="attribute_value_data" value=""/>

<script type="text/javascript">
    var basejsonurl = '<?php echo $this->getSkinUrl("js/pincode_muster.json");?>'
    var baseurl = '<?php echo $this->getBaseUrl();?>'
</script>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".welcome-msg").click(function(){
            $(".dropdown-menu").toggle();
        });
        $('.close-after-add-popup').live("click", function(){
            $('.after-product-added').hide();
        });
        window.updateHeaderCartPopupAfterProductIsAdded = function(sku, type){
            $.ajax({
                type:"POST",
                url:"<?php echo $this->getUrl('rewrites/notifications/showcartaddednotification');?>",
                data:{ sku : sku , type : type},
                dataType:"JSON",
                success:function(data){
                    if(data['status'] == 'success'){
                        $('.after-product-added img').attr('src',data['thumbnail']);
                        $('.after-product-added .productname').html(data['name']);
                        $('.after-product-added .addedtocartmsg').html(data['msg']);
                        $('.after-product-added .view-cart-popup-from-header').text(data['link']);
                        if(data['link'] == 'View Cart'){
                            $('.after-product-added h1').html('My Cart');
                        }
                        else
                        {
                            $('.after-product-added h1').html('My Wishlist');
                        }
                        $('.after-product-added').show();
                    }
                    else{
                        alert('Somthing went wrong, please try again!');
                    }
                }
            });
        }
        $('.view-cart-popup-from-header').live("click",function(){
            $('.after-product-added').hide();
            if($(this).text() == 'View Cart'){
                window.location.assign("<?php echo Mage::getBaseUrl().'checkout/cart'?>");
            }
            else{
                <?php if($this->helper('customer')->isLoggedIn()): ?>
                window.location.assign("<?php echo $this->getUrl('wishlist');?>");   
                <?php else: ?>
                    window.location.assign("<?php echo $this->getUrl('rawwishlist');?>");   
                <?php endif; ?>
            }
        });
    });
</script>
