<div class="head_right">
    <div class="head_level1">
        <div class="quick-access">
            <?php echo $this->getChildHtml('topSearch') ?>
            <div class="search_links">
                <?php if($this->helper('customer')->isLoggedIn()) { ?><a href="<?php echo Mage::getBaseUrl(); ?>help/" class="help_link">Help</a><?php } ?>
                <div class="overlay_account"></div>
                <div class="search_wrap <?php if($this->helper('customer')->isLoggedIn()) echo 'loggedin'; ?>">
                    <p class="welcome-msg">
                        <span>
                            <?php if($this->helper('customer')->isLoggedIn()){
                                $name = Mage::getSingleton('customer/session')->getCustomer()->getFirstname();
                                $email = Mage::getSingleton('customer/session')->getCustomer()->getEmail();

                                if($name == "") $name = $email;

                                if(strlen($name) > 15){
                                $name = substr($name,0,15).'...';
                                }
                                echo $this->__('Hi %s !', $name); ?>
                                <img src="<?php echo $this->getSkinUrl("images/drop.gif"); ?>" style="padding-top:4px;">
                            <?php } ?>
                            <?php echo $this->getAdditionalHtml() ?>
                        </span>
                        </p>
                    <?php echo $this->getChildHtml('topLinks') ?>
                </div>
                <?php echo $this->getChildHtml('store_language') ?>
            </div>
        </div>
    </div>

    <div class="head_level2">
        <?php echo $this->getChildHtml('topContainer'); ?>
        <?php echo $this->getChildHtml('topMenu') ?>
    </div>
</div>
