<div class="search_wrap <?php if($this->helper('customer')->isLoggedIn()) echo 'loggedin'; ?>">
    <p class="welcome-msg">
        <span>
            <?php if($this->helper('customer')->isLoggedIn()){
                $name = Mage::getSingleton('customer/session')->getCustomer()->getFirstname();
                $email = Mage::getSingleton('customer/session')->getCustomer()->getEmail();

                if($name == "") $name = $email;

                if(strlen($name) > 15){
                $name = substr($name,0,15).'...';
                }
                echo $this->__('Hi %s !', $name); ?>
                <img src="<?php echo $this->getSkinUrl("images/drop.gif"); ?>" style="padding-top:4px;">
            <?php } ?>
            <?php //echo $this->getAdditionalHtml() ?>
        </span>
    </p>
