<?php 
  $wUrl = $this->getBaseUrl().'wishlist';
/*if($this->helper('customer')->isLoggedIn()){
        $wCount = $this->helper('wishlist')->getItemCount();
        $wUrl = $this->getBaseUrl().'wishlist';
    }
    else{
      $getCountOfRawW = Mage::getSingleton('core/session')->getRawwishlist();
      $wCount = count($getCountOfRawW);
      $wUrl = $this->getBaseUrl().'rawwishlist';
    }*/
?>


<?php
    $count = (int)Mage::getModel('checkout/cart')->getQuote()->getItemsQty();
    ?>
<a href="<?php echo $this->getBaseUrl().'checkout/cart'?>" title="My Cart" class="header-cart-link"><!-- Shopping  -->
  <span >
      <label id='headercartcount'><?php echo $count;?></label>
</span>
</a>
    <a href="<?php echo $wUrl;?>" title="My Wishlist" class="header-wishlist-link"><!-- Shopping  --><div class="cart-text">Wishlist</div></a>


