<?php

?>
<?php

?>
<?php $_productCollection=$this->getLoadedProductCollection();
	$_helper=$this->helper('catalog/output');
?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="category-products">
    <?php echo $this->getToolbarHtml() ?>
    <?php // List mode ?>
    <?php if($this->getMode()!='grid'): ?>
    <?php $_iterator=0; ?>
    <ol class="products-list" id="products-list">
    <?php foreach ($_productCollection as $_product): ?>
        <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
            <?php // Product Image ?>
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product,'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
            <?php // Product description ?>
            <div class="product-shop">
                <div class="f-fix">
                    <?php $_productNameStripped=$this->stripTags($_product->getName(),null,true); ?>
                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product,$_product->getName(),'name'); ?></a></h2>
                    <?php if($_product->getRatingSummary()): ?>
                    <?php echo $this->getReviewsSummaryHtml($_product) ?>
                    <?php endif; ?>
                    <?php echo $this->getPriceHtml($_product, true) ?>
                    <h6> <?php
                   
                     $rewardlogo = Mage::getStoreConfig('points/display_frontend/logo');
					 $enablerewardlogo = Mage::getStoreConfig('points/display_frontend/enable_logo');
					 $enablelist = Mage::getStoreConfig('points/display_frontend/enable_points_list');
					 if($enablelist):
                     $collection=Mage::getModel('points/rate')->getCollection()
                                 ->addFieldToFilter('direction',Brainvire_Points_Model_Rate::CURRENCY_TO_POINTS)
                                 ->addFieldToFilter('website_ids',array('like' =>'%'.Mage::app()->getWebsite()->getId().'%'))   
                                 ->addFieldToFilter('customer_group_ids',array('like' =>'%'.Mage::getSingleton('customer/session')->getCustomerGroupId().'%'));
                
                     if($collection->getData()) {
                         $rateinfo=Mage::getModel('points/rate')->load($collection->getFirstItem()->getId());
                         $amount=$rateinfo->exchange($_product->getPrice()); ?>
                         
                         <?php if($enablerewardlogo): ?>
                         <a target="_blank" href="<?php echo $this->getUrl('points/index/infopage/') ?>" style="float: left; margin-right: 5px;">
							<span><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'rewardpointlogo/'.$rewardlogo; ?>" alt="<?php echo $this->__('Reward Points') ?>" style="vertical-align: middle;"></span>
						 </a>
						 <?php endif; ?>                         
                         <?php echo $this->__("Earn $amount points.");
								}
                     ?>
                     <?php endif; ?>
                     
                     </h6>
                    <?php if($_product->isSaleable()): ?>
                        <p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                    <div class="desc std">
                        <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
                    </div>
                    <ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                        <?php endif; ?>
                    </ul>
                </div>
            </div>
        </li>
    <?php endforeach; ?>
    </ol>
    <script type="text/javascript">decorateList('products-list','none-recursive')</script>

    <?php else: ?>

    <?php // Grid Mode ?>

    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount=$this->getColumnCount(); ?>
    <?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid">
        <?php endif ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product,'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                <?php if($_product->getRatingSummary()): ?>
                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                <?php endif; ?>
                <?php echo $this->getPriceHtml($_product, true) ?>
                <h6> <?php
                   
                     $rewardlogo = Mage::getStoreConfig('points/display_frontend/logo');
					 $enablerewardlogo = Mage::getStoreConfig('points/display_frontend/enable_logo');
					 $enablelist = Mage::getStoreConfig('points/display_frontend/enable_points_list');
					 if($enablelist):
                     $collection=Mage::getModel('points/rate')->getCollection()
                                 ->addFieldToFilter('direction',Brainvire_Points_Model_Rate::CURRENCY_TO_POINTS)
                                 ->addFieldToFilter('website_ids',array('like' =>'%'.Mage::app()->getWebsite()->getId().'%'))   
                                 ->addFieldToFilter('customer_group_ids',array('like' =>'%'.Mage::getSingleton('customer/session')->getCustomerGroupId().'%'));
                
                     if($collection->getData()) {
                         $rateinfo=Mage::getModel('points/rate')->load($collection->getFirstItem()->getId());
                         $amount=$rateinfo->exchange($_product->getPrice()); ?>
                         
                         <?php if($enablerewardlogo): ?>
                         <a target="_blank" href="<?php echo $this->getUrl('points/index/infopage/') ?>" style="float: left; margin-right: 5px;">
							<span><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'rewardpointlogo/'.$rewardlogo; ?>" alt="<?php echo $this->__('Reward Points') ?>" style="vertical-align: middle;"></span>
						 </a>
						 <?php endif; ?>                         
                         <?php echo $this->__("Earn $amount points.");
								}
                     ?>
                     <?php endif; ?>
                     </h6>
                <div class="actions">
                    <?php if($_product->isSaleable()): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                    <ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                        <?php endif; ?>
                    </ul>
                </div>
            </li>
        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
        </ul>
        <?php endif ?>
        <?php endforeach ?>
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'),['odd','even','first','last'])</script>
    <?php endif; ?>

    <div class="toolbar-bottom">
        <?php echo $this->getToolbarHtml() ?>
    </div>
</div>
<?php endif; ?>
