<?php $_product = $this -> getProduct(); ?>
<?php 
 $isLoggedIn = Mage::getSingleton('customer/session')->isLoggedIn();
 $twtenable = Mage::getStoreConfig('points/facebook_reward/enable_twitter');
 if($twtenable):
 if($isLoggedIn):
 $customer   = Mage::getSingleton('customer/session')->getCustomer();

?>
<a href="https://twitter.com/intent/tweet?url=<?php echo $_product->getProductUrl(); ?>">
	<img  src="<?php echo $this->getSkinUrl('images/brainvire_points/twittershare.png') ?>" />
</a>

<script>	
window.twttr = (function (d,s,id) {
  var t, js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
  js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
  return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
}(document, "script", "twitter-wjs"));

twttr.ready(function (twttr) {
    twttr.events.bind('tweet', function (event) {
        reward_user(event);
    });
});
function reward_user(event) {
		
			jQuery.ajax({
				url: "<?php echo $this->getUrl('points/reward/twittershare'); ?>",
				type: "post",
				data: {type:'share',customerid:'<?php echo $customer->getId(); ?>'},
				success: function(data){},
				error:function(){}
			});   
		}
		
</script>
<?php endif; ?>
<?php endif; ?>
