<?php 
$store = Mage::app()->getStore();
$code  = $store->getCode();
$enable = Mage::getStoreConfig('filterproducts/bestseller/active',$code);
?>
<?php if($enable == 1) { ?>
<div class="block-bestseller-home">
    <div class="block-title">
        <strong><span><?php echo Mage::getStoreConfig('filterproducts/bestseller/title', $code) ?></span></strong>
    </div>
    <div class="block-content">
    <?php echo $this->getLayout()->createBlock("filterproducts/bestsellers_home_list")->setTemplate("eternalsoft/filterproducts/list.phtml")->toHtml(); ?>
    <script type="text/javascript">
        // <![CDATA[
            jQuery(document).ready(function(){
                var window_size = jQuery(window).width();
                var bxslider;
                if(window_size<992 && window_size >= 768){
                    bxslider=jQuery('.block-bestseller-home .products-grid').bxSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 2,  maxSlides: 2,  slideWidth: 225,  slideMargin: 20});
                } else if(window_size<768){
                    bxslider=jQuery('.block-bestseller-home .products-grid').bxSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 1,  maxSlides: 1});
                }else {
                    bxslider=jQuery('.block-bestseller-home .products-grid').bxSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 3,  maxSlides: 3,  slideWidth: 240,  slideMargin: 15});
                }
                
                jQuery(window).resize(function(e){
                    e.preventDefault();
                    var window_size = jQuery(window).width();
                    var time_out;
                    if(time_out) clearTimeout(time_out);
                    time_out = setTimeout(function(){
                        if(window_size<992 && window_size >= 768){
                            bxslider.reloadSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 2,  maxSlides: 2,  slideWidth: 225,  slideMargin: 20});
                        } else if(window_size<768){
                            bxslider.reloadSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 1,  maxSlides: 1});
                        }else {
                            bxslider.reloadSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 3,  maxSlides: 3,  slideWidth: 240,  slideMargin: 15});
                        }
                    }, 500);
                });
            });
        // ]]>
        </script>
    </div>
</div>
<?php
}
?>