<?php
    $storeId    = Mage::app()->getStore()->getId();
    $storeCode  = Mage::app()->getStore()->getCode();
?>
<div class="filter-products">
    <ul class="tabs">
        <li class="active"><a href="javascript:void(0);" rel="#fp_new"><?php echo Mage::getStoreConfig('filterproducts/new/title', $storeCode) ?></a></li>
        <li><a href="javascript:void(0);" rel="#fp_featured"><?php echo Mage::getStoreConfig('filterproducts/featured/title', $storeCode) ?></a></li>
        <li><a href="javascript:void(0);" rel="#fp_special"><?php echo Mage::getStoreConfig('filterproducts/special/title', $storeCode) ?></a></li>
    </ul>
    <div class="tab-contents">
        <div id="fp_new" class="tab active"><?php echo $this->getLayout()->createBlock("filterproducts/newproduct_home_list")->setTemplate("eternalsoft/filterproducts/list.phtml")->toHtml(); ?></div>
        <div id="fp_featured" class="tab"><?php echo $this->getLayout()->createBlock("filterproducts/featured_home_list")->setTemplate("eternalsoft/filterproducts/list.phtml")->toHtml(); ?></div>
        <div id="fp_special" class="tab"><?php echo $this->getLayout()->createBlock("filterproducts/special_home_list")->setTemplate("eternalsoft/filterproducts/list.phtml")->toHtml(); ?></div>
        <script type="text/javascript">
        // <![CDATA[
            jQuery(document).ready(function(){
                var window_size = jQuery(window).width();
                var bxslider1,bxslider2,bxslider3;
                if(window_size<992 && window_size >= 768){
                    bxslider1=jQuery('#fp_new .products-grid').bxSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 3,  maxSlides: 3,  slideWidth: 230,  slideMargin: 15});
                    bxslider2=jQuery('#fp_featured .products-grid').bxSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 3,  maxSlides: 3,  slideWidth: 230,  slideMargin: 15});
                    bxslider3=jQuery('#fp_special .products-grid').bxSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 3,  maxSlides: 3,  slideWidth: 230,  slideMargin: 15});
                } else if(window_size<768){
                    bxslider1=jQuery('#fp_new .products-grid').bxSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 1,  maxSlides: 1});
                    bxslider2=jQuery('#fp_featured .products-grid').bxSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 1,  maxSlides: 1});
                    bxslider3=jQuery('#fp_special .products-grid').bxSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 1,  maxSlides: 1});
                }else {
                    bxslider1=jQuery('#fp_new .products-grid').bxSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 4,  maxSlides: 4,  slideWidth: 270,  slideMargin: 20});
                    bxslider2=jQuery('#fp_featured .products-grid').bxSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 4,  maxSlides: 4,  slideWidth: 270,  slideMargin: 20});
                    bxslider3=jQuery('#fp_special .products-grid').bxSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 4,  maxSlides: 4,  slideWidth: 270,  slideMargin: 20});
                }
                var reloaded1, reloaded2, reloaded3;
                reloaded1 = true;
                jQuery('.filter-products ul.tabs li a').click(function(e){
                    jQuery(this).parent().parent().children('li').removeClass('active');
                    jQuery(this).parent().addClass('active');
                    var active_id = jQuery(this).attr('rel');
                    jQuery('.filter-products .tab-contents .tab.active').hide();
                    jQuery('.filter-products .tab-contents .tab.active').removeClass('active');
                    jQuery(active_id).show();
                    jQuery(active_id).addClass('active');
                    if(active_id == "#fp_featured" && !reloaded2){
                        if(window_size<992 && window_size >= 768){
                            bxslider2.reloadSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 3,  maxSlides: 3,  slideWidth: 230,  slideMargin: 15});
                        } else if(window_size<768){
                            bxslider2.reloadSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 1,  maxSlides: 1});
                        }else {
                            bxslider2.reloadSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 4,  maxSlides: 4,  slideWidth: 270,  slideMargin: 20});
                        }
                        reloaded2 = true;
                    } else if(active_id == "#fp_special" && !reloaded3){
                        if(window_size<992 && window_size >= 768){
                            bxslider3.reloadSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 3,  maxSlides: 3,  slideWidth: 230,  slideMargin: 15});
                        } else if(window_size<768){
                            bxslider3.reloadSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 1,  maxSlides: 1});
                        }else {
                            bxslider3.reloadSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 4,  maxSlides: 4,  slideWidth: 270,  slideMargin: 20});
                        }
                        reloaded3 = true;
                    }
                });
                setTimeout(function(){
                    jQuery('.filter-products .tab-contents .tab').hide();
                    jQuery('.filter-products .tab-contents .tab.active').show();
                }, 100);

                jQuery(window).resize(function(e){
                    e.preventDefault();
                    var window_size = jQuery(window).width();
                    var time_out;
                    if(time_out) clearTimeout(time_out);
                    time_out = setTimeout(function(){
                        jQuery('.filter-products .tab-contents .tab').show();
                        if(window_size<992 && window_size >= 768){
                            bxslider1.reloadSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 3,  maxSlides: 3,  slideWidth: 230,  slideMargin: 15});
                            bxslider2.reloadSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 3,  maxSlides: 3,  slideWidth: 230,  slideMargin: 15});
                            bxslider3.reloadSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 3,  maxSlides: 3,  slideWidth: 230,  slideMargin: 15});
                        } else if(window_size<768){
                            bxslider1.reloadSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 1,  maxSlides: 1});
                            bxslider2.reloadSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 1,  maxSlides: 1});
                            bxslider3.reloadSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 1,  maxSlides: 1});
                        }else {
                            bxslider1.reloadSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 4,  maxSlides: 4,  slideWidth: 270,  slideMargin: 20});
                            bxslider2.reloadSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 4,  maxSlides: 4,  slideWidth: 270,  slideMargin: 20});
                            bxslider3.reloadSlider({auto:false, autoStart:false, autoHover:false, mode:'horizontal', speed:1000, pager:false, minSlides: 4,  maxSlides: 4,  slideWidth: 270,  slideMargin: 20});
                        }
                    }, 500);
                    setTimeout(function(){
                        jQuery('.filter-products .tab-contents .tab').hide();
                        jQuery('.filter-products .tab-contents .tab.active').show();
                    }, 500);
                });
            });
        // ]]>
        </script>
            <script type="text/javascript">
    jQuery(document).ready(function(){
<?php
    if(Mage::getStoreConfig("vigoshop_settings/category_grid/hover_button", $storeCode)){    
?>
        jQuery('.category-products .product-image-area').mouseenter(function(){
            jQuery(this).children('.hover-area').fadeIn();
        }).mouseleave(function(){
            jQuery(this).children('.hover-area').fadeOut();
        });
<?php
    }
    if(Mage::getStoreConfig("vigoshop_settings/category/alternative_image", $storeCode)){
?>
        jQuery('.category-products .product-image-area').each(function(){
            var inarea = false;
            jQuery(this).click(function(e){
                if(jQuery(e.target).is('.cart-button-set a')){
                    return;
                }
                setLocation(jQuery(this).attr('product_url'));
            });
            jQuery(this).mouseenter(function(){
                if(!jQuery(this).parent().parent().parent().parent().parent().hasClass('block') && inarea == false){
                    var hover_img = jQuery(this).attr('hover_img');
                    var base_img = jQuery(this).attr('base_img');
                    var img = jQuery(this).children('a.product-image').children('img');
                    //jQuery(img).attr('src', hover_img);
                    /********************************/
                    var ele = jQuery(img).clone().appendTo(jQuery(img).parent()).css({position:"absolute","top":"0px","left":"0px","z-index":"2"}).attr("src",base_img);
                    jQuery(img).css("z-index",1);
                    jQuery(img).attr('src', hover_img);
                    jQuery(ele).fadeOut(400,function(){jQuery(ele).remove();});
                }
                inarea = true;
            }).mouseleave(function(){
                if(!jQuery(this).parent().parent().parent().parent().parent().hasClass('block') && inarea == true){
                    var hover_img = jQuery(this).attr('hover_img');
                    var base_img = jQuery(this).attr('base_img');
                    var img = jQuery(this).children('a.product-image').children('img');
                    //jQuery(img).attr('src', base_img);
                    /********************************/
                    var ele = jQuery(img).clone().appendTo(jQuery(img).parent()).css({position:"absolute","top":"0px","left":"0px","z-index":"2"}).attr("src",hover_img);
                    jQuery(img).css("z-index",1);
                    jQuery(img).attr('src', base_img);
                    jQuery(ele).fadeOut(400,function(){jQuery(ele).remove();});
                }
                inarea = false;
            });
        });
<?php
    }
?>
    });
    </script>
    </div>
</div>