<?php  
$store = Mage::app()->getStore();
$code  = $store->getCode();
$enable = Mage::getStoreConfig('filterproducts/special/active',$code);
?>
<?php if($enable == 1) { ?>
<div class="maintitle">
    <div class="titlemain"><?php echo Mage::getStoreConfig('filterproducts/special/title',$code); ?></div>
</div>
<?php echo $this->getLayout()->createBlock('filterproducts/special_home_list')->setTemplate('eternalsoft/filterproducts/list.phtml')->toHtml(); ?>
<?php }  ?>