<?php
/**
* Brainvire Infotech Pvt. Ltd
 * @category   Brainvire
 * @package    Brainvire_Points
 * @version    1.5.1
 * @copyright  Copyright (c) 2010-2012 Brainvire Infotech Pvt. Ltd (http://www.brainvire.com)
 * @license    
 */
?>
<?php
$pointsData = Mage::registry('brainvire_points_exp_data');
ksort($pointsData);

$pointUnitName = Mage::registry('brainvire_points_unit_name');
?>
<ul style="list-style: none;">
    <?php foreach ($pointsData as $daysCount => $pointsCount): ?>
        <li>
            <?php echo Mage::helper('points')->__('%s %s will expire after %s day(s)', $pointsCount, $pointUnitName, $daysCount); ?>
        </li>
    <?php endforeach; ?>
</ul>