.postWrapper {
    padding-bottom: 25px;
    clear: both;
}

.postWrapper a{
    color: #e3322d;
}

.postTitle {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #DDDDDD;
    margin-bottom: 18px;
    margin-top: 10px;
}

.postTitle h2 {
    font-size: 19px;
    font-weight: normal;
    margin: 0px;
    padding: 0 0 10px 0px;
    color: #222;
    text-transform: uppercase;
}

.postTitle h3 {
    font-size: 11px;
    margin: 0px;
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    font-weight: normal;
    color: #222;
}

.postContent {
    padding-bottom: 10px;
}

/*strong{
    color: #222;
    font-weight: normal;
}*/

.postBookmarks {
    padding-bottom: 10px;
}

.postBookmarks h4 {

    font-size: 12px;
    font-weight: bold;
}

 h4 {
    font-size: 12px;
    color: #222;
    font-weight: normal;
}

h4.legend{
    font-size: 19px;
    text-transform: uppercase;
    margin: 25px 0 12px 0;
    font-weight: normal;
    color: #222;
}

.commentWrapper {
    padding-bottom: 15px;
}

.commentContent {
    padding-bottom: 0px;
}

.commentDetails {
    margin-bottom: 5px;
    padding: 0px;
}

.commentDetails h4.username {
    display: inline;
}

.postError {
    font-size: 16px;
}

.tags {
    font-weight: bold;
    padding-bottom: 10px;
}

.tags UL {
    display: inline;
}

.tags UL LI {
    font-weight: normal;
    display: inline;
    padding-right: 6px;
}

.tags h4 {
    font-size: 12px;
    font-weight: bold;
}

.menu-tags, .menu-categories, .menu-recent {
    margin: 5px 9px;
}

.menu-tags h5, .menu-categories h5, .menu-recent h5 {
    font-size: 11px;
}

.block-blog .menu-tags UL LI {
    display: inline;
    padding: 2px;
    margin-left: 10px;
}

.block-blog .menu-categories UL LI {
    margin-left: 10px;
}

.block-blog .menu-recent UL LI {
    margin-left: 10px;
}

.block-blog .menu-recent UL LI a, .block-blog .menu-categories UL LI a, .block-blog .menu-tags UL LI a {
    font-size: 11px;
}

.tagcloud {
    /* text-align:center; */
}

.tag-count-1 {
    font-size: 1em !important;
}

.tag-count-2 {
    font-size: 1.2em !important;
}

.tag-count-3 {
    font-size: 1.4em !important;
}

.tag-count-4 {
    font-size: 1.6em !important;
}

.tag-count-5 {
    font-size: 1.8em !important;
}

.tag-count-6 {
    font-size: 2em !important;
}

.tag-count-7 {
    font-size: 2em !important;
}

.tag-count-8 {
    font-size: 2em !important;
}

.tag-count-9 {
    font-size: 2em !important;
}

.tag-count-10 {
    font-size: 2em !important;
}

.block-blog .head h4 {
    padding-left: 20px;
}

.block-blog .block-title strong {
    background-image: url(../images/icon_blog.png);
    background-repeat: no-repeat;
    padding-left: 21px;
    text-align: left;
}

.postWrapper .poster {
    display: inline;
}

.input-box.aw-blog-comment-area {
    width: 100%;
}

.widget-latest li {
    font-size: 12px;
    padding: 5px 10px;
}

.block-blog .menu-categories {
    margin: 0;
    padding: 5px 9px;
}

A.awblog_current_comment {
    text-decoration: none !important;
    font-weight: bold !important;
}



/*---------------- new css  -------------------------*/

.group-select .form-list .input-box{
    width: 100%;
}

.group-select .form-list label.required em{
    float: none;
    position: static;
    padding: 0 0 0 8px;
}

.group-select .form-list label{
    width: 15%;
}

.group-select .form-list input.input-text, .group-select .form-list textarea, .group-select .form-list li.wide textarea{
    width: 40% !important; 
}

.group-select .validation-advice{
    margin-left: 17%;
    width: 70%
}


button.comment_btn{
    margin: 10px 0 0 0;
}

button.comment_btn span {
    float: left;
    background: #e5322d !important;
    font-size: 12px; 
    text-transform: uppercase;
    padding: 6px 15px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    color: #fff;
}


button.comment_btn span span {
    background: none !important;
    padding: 0;
}

button.comment_btn span:hover
{
    background: #1e1e1e !important;
}



/*------------  responsive css  -----------------*/

@media all and (max-width:720px){ 

.group-select .form-list input.input-text, .group-select .form-list textarea, .group-select .form-list li.wide textarea{
    width: 55% !important; 
}

.group-select .validation-advice{
    margin-left: 18%;
}

}

@media all and (max-width:568px){ 


.group-select .form-list label{
    width: 30%;
}

.group-select .form-list input.input-text, .group-select .form-list textarea, .group-select .form-list li.wide textarea{
    width: 80% !important; 
}

.group-select .form-list textarea{
    height: auto !important;
}

.group-select .validation-advice{
    margin-left: 0%;
}

}

