<?php
/**
* Brainvire Infotech Pvt. Ltd
 * @category   Brainvire
 * @package    Brainvire_Points
 * @version    1.5.1
 * @copyright  Copyright (c) 2010-2012 Brainvire Infotech Pvt. Ltd (http://www.brainvire.com)
 * @license    
 */
?>
<?php
 $helperConfig = Mage::helper('points/config');
 $rewardlogo = Mage::getStoreConfig('points/display_frontend/logo');
 $enablerewardlogo = Mage::getStoreConfig('points/display_frontend/enable_logo');
 $enablecart = Mage::getStoreConfig('points/display_frontend/enable_points_cart');
?>
<?php if($enablecart): ?>
<div>
    <?php if ($this->getPoints() > 0): ?>
        <ul class="messages">
            <li class="points-notice-msg">
                <ul>
                    <li>
                    	 <?php if($enablerewardlogo): ?>
                         <a target="_blank" href="<?php echo $this->getUrl('points/index/infopage/') ?>" style="float: left; margin-right: 5px;">
							<span><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'rewardpointlogo/'.$rewardlogo; ?>" alt="<?php echo $this->__('Reward Points') ?>" style="vertical-align: middle;"></span>
						 </a>
						 <?php endif; ?>
                        <?php if ($this->getMoney()): ?>
                            <?php echo $this->__('You will earn %s %s (%s) for purchase of this', $this->getPoints(), $helperConfig->getPointUnitName(), Mage::app()->getStore()->convertPrice($this->getMoney(), true)) ?>
                        <?php else: ?>
                            <?php echo $this->__('You will earn %s %s (%s) for purchase of this', $this->getPoints(), $helperConfig->getPointUnitName()) ?>
                        <?php endif; ?>
                        
                    </li>
                    <?php if ($this->customerIsGuest()): ?>
                        <li>
                            <?php echo $this->__('Applies only to registered customers, may vary when logged in.') ?>
                        </li>
                    <?php endif; ?>
                </ul>
            </li>
        </ul>
    <?php endif; ?>
    <?php foreach ($this->getAppliedRules() as $rule): ?>
        <div>
            <?php foreach ($this->getStaticBlocks($rule) as $block): ?>
                <?php echo $block ?>
            <?php endforeach; ?>
        </div>
    <?php endforeach; ?>
</div>
<?php endif; ?>
