.aw-gc2-product-form-options .form-list .field {
    float: none;
}

.aw-gc2-product-form-options__amount .amount-custom {
    margin-top: 15px;
}

.aw-gc2-product-form-options__template-options {
    overflow: hidden;
}

.aw-gc2-product-form-options__template-option {
    border: 3px solid transparent;
    float: left;
    height: 75px;
    margin: 2px;
    overflow: hidden;
    text-align: center;
    width: 100px;
}

.aw-gc2-product-form-options__template-image {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    margin: auto;
}

.aw-gc2-product-form-options__template-option.selected,
.aw-gc2-product-form-options__template-option:hover {
    border-color: #62bcf7;
    text-decoration: none;
}

.aw-gc2-product-form-options__template-name, .aw-gc-product-form-options__template-name:hover {
    color: #8f8f8f;
}
.aw-gc2-product-form-options__template-name {
    background: #f0f0f0 none repeat scroll 0 0;
    display: block;
    line-height: 75px;
}

#aw-gc2-product-form-options .field {
    margin-bottom: 20px;
}

.aw-gc2-product-form-options__fromto {
    display: inline-block;
    padding-right: 25px;
    width: 48%;
}

.aw-gc2-product-form-options__email {
    margin-top: 15px;
}

.aw-gc-product-form-options__preview {
    text-align: right;
    margin-right: 10px;
}

#aw-giftcard2-info-block td strong {
    margin-left: 30px;
}

form#aw_giftcard2-form ul.form-list li div.input-box {
    float: right;
    padding-bottom: 10px;
    width: auto;
}

form#aw_giftcard2-form ul.form-list li div.input-box label {
    float: left;
    padding-right: 5px;
}

form#aw_giftcard2-form ul.form-list li div.input-box input {
    float: right;
}

form#aw_giftcard2-form ul.form-list li div.input-box label.required em {
    position: static;
}

.aw_giftcard2-btn-remove {
    float: left;
    margin-left: 15px;
    padding-top: 3px;
}
.aw_giftcard2-total-description {
    padding-top: 1px;
}

#aw-gc2-product-preview-popup_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #000000;
    opacity: 0.5;
}

#aw-gc2-product-preview-popup_progress {
    border: 1px #999999 solid;
    position: fixed;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    z-index: 10000;
    color: black;
    overflow:  auto;
    min-height: 50px;
    min-width: 240px;
    top: 50%;
    left: 50%;
    margin-left: -130px;
    margin-top: -25px;
    opacity: 1.0;
}

#aw-gc2-product-preview-popup_window {
    position: fixed;
    overflow: hidden;
    z-index: 99999;
    background: #ffffff;
    top: 0;
    left: 0;
    border: solid 1px;
    border-radius: 6px;
    padding: 10px;
    opacity: 1;
}

#aw-gc2-product-preview-popup_title {
    font-weight: bold;
    font-size: 14px;
}

#aw-gc2-product-preview-popup_close_btn {
    cursor: pointer;
    float: right;
}

#aw-gc2-product-preview-popup_content {
    overflow-y: scroll;
    height: 455px;
}

#aw-gc2-product-preview-popup_content .body-wrap {
    padding: 0px !important;
}