<?php $harpreet = $this->helper('harpreet_slider/config'); ?>
<?php $design = $harpreet->getDesign(); ?>
<?php $animation = $harpreet->getAnimation(); ?>
<?php $event = $harpreet->getEvent(); ?>
<div class="home-banner-wrap">
     <div class="banner-wrapper">
        <div  class="home-banner-mobile">
            <?php $_counter = 0 ?>
            <?php foreach ($harpreet->getSliders() as $_slider) :
                $firstLink = $_slider['image'];
            ?>
                <div class="slide">
                    <a href="<?php echo $_slider['link'] ?>">
                       <img class="lazybannerimage" src="<?php echo $firstLink;?>" data-src="<?php echo $_slider['image'] ?>" <?php if ($design['texten'] == 1) : ?>title="#harpreet-elem<?php echo $_counter ?>"<?php endif; ?> alt=""/>
                    </a>
                </div>
                <?php $_counter++ ?>
            <?php endforeach; ?>
        </div>
    </div>
    <?php $_counter = 0 ?>
</div>
<script type="text/javascript">
    jQuery(document).ready(function($){
        $(".home-banner-mobile").slick({
            autoplay: true,
            speed: 1000,
            dots: true
        });
    });
</script>


