<?php
    $store = Mage::app()->getStore();
    $code  = $store->getCode();
    $_enabled = Mage::getStoreConfig('quickcontact/general/enabled', $code);
    if($_enabled){
        $_title = Mage::getStoreConfig('quickcontact/general/title', $code);
?>
<div class="block block-quick-contact">
	<div class="block-title"><strong><span><?php echo $_title ?></span></strong></div>
	<div class="block-content">
		<form action="<?php echo $this->getUrl('quickcontact/index/post'); ?>" method="post" name="quickcontactForm" id="quickcontactForm">
            <ul class="form-list">
                <li class="wide">
                    <div class="input-box name-firstname">
                        <input name="name" id="qc_name" title="<?php echo Mage::helper('contacts')->__('Name') ?>" value="<?php if(Mage::helper('customer')->isLoggedIn()) echo Mage::getSingleton('customer/session', array('name'=>'frontend'))->getCustomer()->getName()?>" class="input-text required-entry" type="text" placeholder="<?php echo $this->__('Enter Your Name')?>*" />
                    </div>
                </li>
                <li class="wide">
                    <div class="input-box input-email">
                        <input name="email" id="qc_email" title="<?php echo Mage::helper('contacts')->__('Email') ?>" value="<?php if(Mage::helper('customer')->isLoggedIn()) echo Mage::getSingleton('customer/session', array('name'=>'frontend'))->getCustomer()->getEmail()?>" class="input-text required-entry validate-email" type="text" placeholder="<?php echo $this->__('Enter Your Email')?>*" />
                    </div>
                </li>
                <li class="wide">
                    <div class="input-box input-phone">
                        <input name="telephone" id="qc_telephone" title="<?php echo Mage::helper('contacts')->__('Telephone') ?>" value="" class="input-text" type="text"  placeholder="<?php echo $this->__('Enter Your Telephone')?>" />
                    </div>
                </li>
                <li class="wide">
                    <div class="input-box input-comment">
                        <textarea name="comment" id="qc_comment" title="<?php echo Mage::helper('contacts')->__('Comment') ?>" class="required-entry input-text" cols="5" rows="3" placeholder="<?php echo $this->__('Enter your message')?>*" ></textarea>
                    </div>
                </li>
                <li class="wide form-button">
                    <button type="button" title="<?php echo $this->__('Send Message') ?>" class="button" id="qc_post"><span><span><?php echo $this->__('Send Message') ?></span></span></button>
                </li>
            </ul>
		</form>
	</div>
</div>
<?php
    }
?>
<script type="text/javascript">
//<![CDATA[
    jQuery(document).ready(function(){
        jQuery('#qc_post').click(function(){
            var action = jQuery("#quickcontactForm").attr('action');
            jQuery(this)
                .before('<img src="<?php echo $this->getSkinUrl('images/ajax-loader.gif')?>" class="loader" style="padding-right:10px; margin-top: 10px; height: 20px;"/>');

            jQuery.ajax({
                type: "post",
                url: action,
                data: { name: jQuery('#qc_name').val(), email: jQuery('#qc_email').val(), telephone: jQuery('#qc_telephone').val(), comment: jQuery('#qc_comment').val() }
            }).done(function(data){
                jQuery('.response').remove();
                jQuery('#quickcontactForm').before('<div class="response" style="margin-bottom: 10px;">'+data+'</div>');
                jQuery('.response').slideDown();
                jQuery('#quickcontactForm img.loader').fadeOut(500,function(){jQuery(this).remove()});
            }).fail(function(jqXHR, textStatus){
                jQuery('.response').remove();
                jQuery('#quickcontactForm').before('<div class="response" style="margin-bottom: 10px;">'+textStatus+'</div>');
                jQuery('.response').slideDown();
                jQuery('#quickcontactForm img.loader').fadeOut(500,function(){jQuery(this).remove()});
            });

            return false;
        });
    });
//]]>
</script>
