<form method="post" action="<?php echo $this->getUrl('rmasystem/guest/loginpost/')?>" id="wk_rma_guest_login">
    <input type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" name="form_key"/>
    <h2><?php echo $this->__("Guest Login for RMA"); ?></h2>
    <div class="fieldset">
        <table class="form-list">
        	<tr>
                <td class="wide">
                    <label class="required"><em>*</em><?php echo $this->__("Order Id"); ?></label>
                	<div class="input-box">
                		<input type="text" name="order_id" class="input-text required-entry">
                	</div>
                </td>
                <td>&nbsp;</td>
                <td class="wide">
                	<label class="required"><em>*</em><?php echo $this->__("E-mail"); ?></label>
            		<div class="input-box">
                		<input type="text" name="email" class="input-text required-entry validate-email">
                	</div>
                </td>
            </tr>
        </table>
        <div class="buttons-set">
        	<p class="required">*<?php echo $this->__("Required Fields"); ?></p>
        	<button class="button" title="<?php echo $this->__('Submit Request'); ?>" type="submit">
            	<span><?php echo $this->__("Submit Request"); ?></span>
        	</button>
    	</div>
    </div>
</form>
<script type="text/javascript">
     new VarienForm("wk_rma_guest_login", true);
</script>