

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top" style="padding:20px 0 20px 0">
                    
                    <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <tr>

                            <td valign="top">
                                <a href="{{store url=''}}"><img src="{{skin url='images/logo_email.gif' _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                        </tr>
                        
                        <tr>
                            <td align="center" valign="top">
                                <table cellspacing="0" cellpadding="0" border="0" width="650">
                                    <tr>
                                        <td valign="top">
                                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; line-height: 20px;">
                                                Points balance has been updated
                                            </p>
                                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; line-height: 20px;">

                                                <strong>Comment for balance update:</strong> {{var comment}}
                                                <br>
                                                <strong>Balance Update:</strong> {{var pointsupdate}} {{var pointsname}}
                                                <br> 
                                                <strong>Balance Total:</strong> {{var pointstotal}} {{var pointsname}}

                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>      
                        <tr>
                            <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you again, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>

