<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Giftcard2
 * @version    2.2.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div class="entry-edit box-right">
    <div class="entry-edit-head">
        <h4 class="icon-head"><?php echo $this->__('Apply Gift Card Code') ?></h4>
    </div>
    <fieldset class="np">
        <div class="content">
            <p>
                <input type="text" class="input-text" id="giftcard_code" value="" name="giftcard_code" style="width:200px" />&nbsp;
                <?php echo $this->getButtonHtml($this->__('Apply'), "awGC2Apply($('giftcard_code').value)") ?>
            </p>
            <?php foreach($this->getAppliedGiftCards() as $giftCard): ?>
                <p>
                    <strong><?php echo $giftCard->getCode() ?></strong>
                    [<a href="#" onclick="awGC2Remove('<?php echo $giftCard->getCode() ?>'); return false;" title="<?php echo $this->__('Remove Gift Card Code') ?>">
                        <?php echo $this->__('Remove') ?>
                    </a>]
                </p>
            <?php endforeach; ?>
            <script type="text/javascript">
                if (typeof awGC2Apply == 'undefined') {
                    awGC2Apply = function(code) {
                        order.loadArea(
                            ['items', 'shipping_method', 'totals', 'billing_method'],
                            true,
                            {'<?php echo $this->getCodeIdentifierAddCard() ?>':code}
                        );
                    }
                }
                if (typeof awGC2Remove == 'undefined') {
                    awGC2Remove = function(code) {
                        order.loadArea(
                            ['items', 'shipping_method', 'totals', 'billing_method'],
                            true,
                            {'<?php echo $this->getCodeIdentifierRemoveCard() ?>':code}
                        );
                    }
                }
            </script>
        </div>
    </fieldset>
</div>