<?php
/**
* Brainvire Infotech Pvt. Ltd
 * @category   Brainvire
 * @package    Brainvire_Points
 * @version    1.5.1
 * @copyright  Copyright (c) 2010-2012 Brainvire Infotech Pvt. Ltd (http://www.brainvire.com)
 * @license    
 */
?>
<?php
?>

<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-customer-view"><?php echo Mage::helper('points')->__('Reward Point Balance') ?></h4></div>
    <fieldset>

        <?php
        $balanceLimit = $this->getBalanceLimit();
        $pointsConvertedIntoMoney = $this->getCurrentBalanceInCurrency();
        ?>

        <?php if ($balanceLimit): ?>
            <?php echo Mage::helper('points')->__('Points Balance Limit: <strong> %s </strong>', $balanceLimit); ?>
            <br/>
        <?php endif; ?>

        <?php echo Mage::helper('points')->__('Current Balance: <strong> %s %s </strong>', $this->getCurrentBalanceInPoints(), $pointsConvertedIntoMoney ? "($pointsConvertedIntoMoney)" : "" ) ?>

    </fieldset>
</div>