<?php 
$itemid = $this->getRequest()->getParam('itemid');
// $invoice_id = $this->getRequest()->getParam('invoice_id');
echo '<div id="formSuccess" style="display:none;">Invoice Id updated successfully.</div>';
echo '<div id="formError" style="display:none;">Error Occured! Please Try again.</div>';
echo '<div id="maindiv">';

// echo "The <b>Invoice ID</b> saved for Item ID (".$itemid.") is <b>".$invoice_id."</b>";

// echo '<br>';
// echo "If you wish to change the Invoice ID for Item ID (".$itemid.") then enter valid Invoice ID in below field";
echo "Please enter the Invoice ID for Item ID (".$itemid.") in the below field";
echo "<br>";
?>
<!-- <form id='updateInvoice'> -->
	<span>Invoice Id </span><span>*</span><br />
	<input class="required-entry" type="text" id='newinvoiceid' placeholder="Invoice Id here..." />
	<button id='submit'>Submit</button>
	<span id="formLoader" style="display:none;">&nbsp;</span>
<!-- </form> -->
</div>
<script type="text/javascript">
	//<![CDATA[
	function doAjax() {
	    var postUrl = '<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/order_items/addTheInvoiceId") ?>';
	    var newInvoiceId = jQuery('#newinvoiceid').val();
	    	new Ajax.Request(postUrl,{
	                parameters: {isAjax: 1, method: 'POST',orderItemsId:<?php echo $itemid ?> , updatedInvoiceId : newInvoiceId },
	            	onSuccess:function(transport){
	            		var response = JSON.parse(transport['responseText']);
	            		if(response.message == 'Success'){
	                    	Element.show('formSuccess');
	                    	Element.hide('maindiv');
	            		}else{
	                    	Element.hide('maindiv');
	            			Element.show('formError');
	            		}
	            	},
	            }
        	);
	}
    jQuery('#submit').click(function(){
    	doAjax();
    })
    //]]>
</script>