<?php

   $OrderItemsData = $this->getOrderItemsCollections();  // Order Items Object

   $store_id = $OrderItemsData->getStoreId();    // Get the Store Id from the Order Items (Field:- store_id)

   $website_id = $this->getWebsiteId($store_id); // Get the Website_id.

   $website_name = $this->getWebsiteName($website_id); // Get Website Name.

   $OrderItemsId = $OrderItemsData->getId(); // Get the Order Items Id.
   $allocated_state = $OrderItemsData->getItemStatus(); // Check if the Order is allocated or nonallocated.

   $sku = $OrderItemsData->getSku();
                     // Get the OrderItems Sku.
   $itemsQty = floor($OrderItemsData->getQtyOrdered()); // Get the Order Quantity.

   $aTop5Stores = $this->getTop5Stores($OrderItemsData); // Get the Top 5 stores list for the order item.

   $StoresListData = $this->getStoresList($OrderItemsData); // Get the stores List of allocated and Unallocated


?>
<div>
	<table>
		<tr><td><input type="hidden" id="website_id" name="website_id" value="<?php echo $website_id; ?>" /></td></tr>
		<tr><th>Products</th><th>Quantities</th><th>Stores Assigned</th></tr>
		<input type="hidden" name="ordersitemsid" id="ordersitemsid" value="<?php echo $OrderItemsId; ?>" />
		<input type="hidden" name="prod_sku" id="prod-sku" value="<?php echo $sku; ?>" />
		<tr><td><?php echo $OrderItemsData->getName(); ?></td><td><?php echo $itemsQty; ?></td>
		<td>
			<?php echo $website_name;?>

			<select id="stores_codes">
			<?php foreach($StoresListData as $key => $Stores) {
					$aStoresData = explode('|' , $Stores);
				?>
  						<option inventory-qty = "<?php echo $aStoresData[1] ?>" value="<?php echo $key; ?>"><?php echo $aStoresData[0]; ?></option>
  			<?php } ?>

			</select>
			<?php if(in_array($allocated_state , $this->unallocationstatus)){ ?>
			 <span id="inventqty" style="font-weight:bold"></span>
			<?php } ?>
		</td>
		<td>
			<?php if(in_array($allocated_state , $this->unallocationstatus)){ ?>
				<button name="allocate_butt" id="allocate_butt">Allocate</button>
			<?php }else{ ?>
			<button name="Unallocate_butt" id="Unallocate_butt">UnAllocate</button>

			<?php } ?>
		</td>
		</tr>
		<tr>
			<?php

				if(in_array($allocated_state , $this->unallocationstatus)){ ?>
					<tr><th>Top 5 Near by Stores </th></tr>
					<?php if(empty($aTop5Stores)){ ?>
							<tr><td>No Entries found</td></tr>
					<?php }else{ ?>
					<?php
				  foreach($aTop5Stores as $iStore_id => $aStore_data){
				  		foreach($aStore_data as $iStore_id => $sStore_data){
							$aStoreData = explode('|' , $sStore_data);
							$city_name = Mage::getModel('romcity/romcity')->load($aStoreData[0] ,'city_id')->getCityname();

							$state_name = Mage::getModel('directory/region')->load($aStoreData[1] ,'region_id')->getDefaultName();
					?>

					<tr><td><?php echo $aStoreData[2]." (". $city_name .",".$state_name.") "; ?></td><td><span style="font-weight:bold">Quantity:- <?php echo $aStoreData[3] ; ?></span></td><td><button store-data="<?php echo $iStore_id."|".$aStoreData[2]."|".$aStoreData[3]; ?>"  name="allocate_butt" id="allocate_butt_top5_<?php echo $iStore_id ?>">Allocate</button></td></tr>
				<?php
						}
					}
				}
			}

				?>
		</tr>
	</table>
</div>


<script type= "text/javascript">
	jQuery(document).ready(function(){
		jQuery("#stores_codes").change(function(){
	        var store_code = jQuery(this).val();
	        var store_inventqty = jQuery(this).find('option:selected').attr('inventory-qty');
	        jQuery('#inventqty').text("Quantity :- "+store_inventqty);
	    });

	jQuery("button[id^='allocate_butt_top5']").on('click',function(){
				var ordersitemsid = jQuery.trim(jQuery('#ordersitemsid').val());
				var store_data = jQuery(this).attr('store-data');
				var astore_data = store_data.split("|");
				var StoreName = astore_data[1];
				var Storeid = astore_data[0];
				var StoreQty = astore_data[2];

				if( (StoreName != "-") && (StoreName != "") && (Storeid != "") && (StoreQty != "0")){
			        var url = '<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/order_items/allocateOrdersStores")?>';
			        new Ajax.Request(url, {
				        parameters: {isAjax: 1, method: 'POST',orderItemsId:ordersitemsid , storecode : Storeid , /*website_id : website_id ,*/ async : false},
				        onSuccess: function(transport) {
				    		alert(transport['responseText']);
				    		location.reload();
				        }

			        });
		    	}else{
		    		alert('Please select appropriate value');
		    	}
		    });



	    jQuery("#allocate_butt").on('click',function(){
	        var store_code = jQuery.trim(jQuery('#stores_codes').val());
	        var ordersitemsid = jQuery.trim(jQuery('#ordersitemsid').val());
	        var store_qty = jQuery('#store_qty').val();
	        if( (store_code != "-") && (store_code != "") && (ordersitemsid != "") && (store_qty != "0")){
		        var url = '<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/order_items/allocateOrdersStores")?>';
		        new Ajax.Request(url, {
			        parameters: {isAjax: 1, method: 'POST',orderItemsId:ordersitemsid , storecode : store_code , /*website_id : website_id ,*/ async : false},
			        onSuccess: function(transport) {
			    		alert(transport['responseText']);
			    		location.reload();
			        }

		       });
	    	}else{
	    		alert('Please select appropriate value');
	    	}
	    });


	    jQuery("#Unallocate_butt").on('click',function(){
	        var store_code = jQuery('#stores_codes').val();
	        var ordersitemsid = jQuery('#ordersitemsid').val();
	        var website_id = jQuery('#website_id').val();
	        //alert(website_id);
	        var url = '<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/order_items/unallocateOrdersStores")?>';
	        new Ajax.Request(url, {
	        parameters: {isAjax: 1, method: 'POST',orderItemsId:ordersitemsid , storecode : store_code , async : false , website_id : website_id },
	        onSuccess: function(transport) {
	    		alert(transport['responseText']);
   						location.reload();
	        }
	       });
	    });
	});
</script>
