<script src="<?php echo Mage::getBaseUrl('js')."calendar/calendar-setup.js" ?>" type="text/javascript"></script> 
<link rel="stylesheet" type="text/css" href="<?php echo Mage::getBaseUrl('js') ?>calendar/calendar-win2k-1.css"  />
<?php 
	$result = $this->getoldpickupdate(); 
?>
<?php echo $this->getLayout()->createBlock('core/html_calendar')->setTemplate('page/js/calendar.phtml')->toHtml();?>
 
<label for="date_picker_id"><?php echo $this->__('Pickup Before Date') ?> </label>
<img style="" title="Select Date" id="date_select_trig" alt="" src="<?php echo $this->getSkinUrl("images/calendar.gif");?> "/>
<input type="hidden" name="item_id" id="item_id" value="<?php echo $result['itemid']; ?>"/>
<input type="text" name="pickup_at_store_date" id="pickup_at_store_date" value="<?php echo $result['date']; ?>"/>
<input type="button" id="pickup_change" value="Submit"/>

<script type="text/javascript">
// <![CDATA[
Calendar.setup({
inputField : 'pickup_at_store_date',
ifFormat : '%Y-%m-%e %H:%M:%S',
showsTime: true,
button : 'date_select_trig',
singleClick : true,
disableFunc: function(date) {
//disable previous day in datepicker
var now= new Date();
if(date.getFullYear()<now.getFullYear())
{
return true;
}
if(date.getFullYear()==now.getFullYear())
{
if(date.getMonth()<now.getMonth())
{
return true;
}
}
if(date.getMonth()==now.getMonth())
{
if(date.getDate()<now.getDate())
{
return true;
}
}
},
});
// ]]>

jQuery('#pickup_change').on('click', function(){
	var store_date = jQuery('#pickup_at_store_date').val();
	var item_id = jQuery('#item_id').val();

    var url = '<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/order_items/pickupdate")?>';
    // alert(url);
    new Ajax.Request(url, {
    parameters: {isAjax: 1, method: 'POST',item_id:item_id , store_date : store_date, async : false},
	    onSuccess: function(transport) {

	    }
	});

});

</script>