<?php


  $aStorefeedback = $this->storeFeedback();

 /* echo '<pre>';
  print_r($aStorefeedback);
  exit;*/

	if($aStorefeedback['action'] == 'accept'){
		$allocatedStatus = array('store_accepted');
		$currentOrderItemsStatus = Mage::getModel('sales/order_item')->load($aStorefeedback['orderitemid'])->getItemStatus();

		if(in_array($currentOrderItemsStatus , $allocatedStatus)){

			echo 'Order is already accepted by the store';
			exit;

		}
			$isAutoallocateActive = Mage::getStoreConfig('omniapis_section/custom_settings/allocations_of_orders');

			//if($isAutoallocateActive == '1'){

				$iLoginuserid = Mage::getSingleton('admin/session')->getUser()->getUserId();

		        $LoginUserRole = Mage::getModel('admin/user')->load($iLoginuserid)->getRole()->getRoleId();

		        $iRole_Collectionsid = Mage::getSingleton('amrolepermissions/rule')
		        ->getCollection()->addFieldToFilter('role_id' , array('eq' => $LoginUserRole));



		         foreach($iRole_Collectionsid as $Role)
		         {

		                $RoleCustomRole = $Role->getCustomRole();
		                if($RoleCustomRole == 'STORE_VIEW'){

		                	$StoreViewId = $Role->getScopeStoreviews();


		         		}

		         }

		         $storeid = Mage::getSingleton('core/store')->load($StoreViewId)->getGroupId();

		         $inventory_check = Mage::getModel('salesorderitemgrid/salesorderallocate')->getInventoryCheckforautoallocation($aStorefeedback['orderitemid'] , $storeid); //Inventory check if the Ordered quantity is less than the inventory
		         //var_dump($inventory_check);


				$bActiveStatus = Mage::getModel('salesorderitemgrid/salesorderallocate')->getStoresActiveStatusforautoallocation($StoreViewId);

				$AcceptedByStores = Mage::getModel('salesorderitemgrid/salesorderallocate')->
					getAcceptedCheckforOrder($aStorefeedback['orderitemid'] , $StoreViewId);

					if($AcceptedByStores){

						echo 'Already accepted by other stores for fullfilment';
						exit;
					}

				/*var_dump($bActiveStatus);
				exit;*/

				if($inventory_check && $bActiveStatus){ // If both inventory success and active then save.


				$aAutoallocationFeedback = Mage::getModel('salesorderitemgrid/salesorderallocate')->saveAutoallocateAcceptedOrder($aStorefeedback['orderitemid'] , $StoreViewId);
					echo $aAutoallocationFeedback['message'];
				}else{

					echo 'Inventory Issue or the Store is inactive';

				}

			// }else{

			// 	$inventory_check = Mage::getModel('salesorderitemgrid/salesorderallocate')->getInventoryCheck($aStorefeedback['orderitemid']); //Inventory check if the Ordered quantity is less than the inventory


			// 	$bActiveStatus = Mage::getModel('salesorderitemgrid/salesorderallocate')->getStoresActiveStatus($aStorefeedback['orderitemid']); // Check if the Store status is active or not.

			// 	if($inventory_check && $bActiveStatus){ // If both inventory success and active then save.
			// 		$aAcceptedFeedback = Mage::getModel('salesorderitemgrid/salesorderallocate')->saveAcceptedOrder($aStorefeedback['orderitemid']);
			// 	}else{

			// 		echo 'Inventory Issue or the Store is inactive';

			// 	}
			// 	echo $aAcceptedFeedback['message'];

			// }

	}elseif($aStorefeedback['action'] == 'reject'){

		?>
		<div id="rejectedreason-container">
			<input type="hidden" id="orderitemsid" name="orderitemsid" value="<?php echo $aStorefeedback['orderitemid'] ?>" />
			<!-- <textarea id="rejected_reason"></textarea> -->

			<select name="rejected_reason" id = "rejected_reason">
				<option value="">Please Select your option</option>
				<option value="Qty not available">Qty not available</option>
				<option value="Unit in bad Condition">Unit in bad Condition</option>
			</select>
			<button id="sub_reason">submit</button>
		</div>
		<?php


	}
?>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript">

		$('#sub_reason').on('click', function(){
			var rejected_reason = jQuery.trim(jQuery('#rejected_reason').val());
			var orderitemsid = jQuery('#orderitemsid').val();

			if(rejected_reason == ""){
				alert('Please select your reason');
				return false;
			}

	        var url = '<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/order_items/rejectedreason")?>';
	        //alert(url);
	        //console.log(url);
	        new Ajax.Request(url, {
	        parameters: {isAjax: 1, method: 'POST',orderItemsId:orderitemsid , reason : rejected_reason, async : false},
	        onSuccess: function(transport) {
	        	//alert('sss');
	        	var reasonresponse = JSON.parse(transport['responseText']);

	        		if(reasonresponse.result == '1'){

	        			var rejectedreason = reasonresponse.message;



	        		}else if(reasonresponse.result == '0'){
						var rejectedreason = reasonresponse.message;
	        		}

	        			jQuery('#rejectedreason-container').empty();
	        			jQuery('#rejectedreason-container').html(rejectedreason);
   						//location.reload();
	        }
	       });



		});

	</script
