<?php


  $aStoresList =  $this->getHubdetails();

  ?>

  <div id="hub-container">
  	<input type="hidden" name="orderitemid" id = "orderitemid" value="<?php echo $aStoresList['orderitemid'] ?>" />
  	<?php if($aStoresList['hubid'] != '0'){
  	?>
		  	<input type="hidden" name="hub_trans" id = "hub_trans_id" value="<?php echo $aStoresList['hubid'] ?>" />
				Hub Name:-<?php echo $aStoresList['hubname'] ?>
			  <button name="stock_trans" id="stock_trans_id" onclick="transfertohub();">Transfer to Hub</button>
	<?php }else{

			$CurrentStoreId = Mage::getModel('sales/order_item')->load($aStoresList['orderitemid'])->getStoreCode();

		?>

		<input type="hidden" name="hub_trans" id = "hub_trans_id" value="<?php echo $CurrentStoreId ?>" />
		<?php

			echo 'Current store is not assciated to any Hub . Please dispatch the order from the store';
			?>
			<button name="stock_trans" id="stock_trans_id" onclick="transfertohub();">Please Click to complete process</button>
		<?php
		}

		?>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript">

  	/*jQuery(document).ready(function(){

  			jQuery('#stock_trans_id').on('click' , function(){*/

  				function transfertohub(){
  					//alert('I am set');
  					//return false;

	  				var orderitemid = jQuery('#orderitemid').val();
	  				var hub_id = jQuery('#hub_trans_id').val();

			  		var url = '<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/order_items/transferhub")?>';
				        //alert(url);
				        //console.log(url);
				        new Ajax.Request(url, {
				        parameters: {isAjax: 1, method: 'POST',orderItemsId:orderitemid , hub_id : hub_id },
				        onSuccess: function(transport) {
				    		var response = JSON.parse(transport['responseText']);

		        		if(response.result == '1'){

		        			var transfermessage = response.message;



		        		}else if(response.result == '0'){
							var transfermessage = response.message;
		        		}

		        			jQuery('#hub-container').empty();
		        			jQuery('#hub-container').html(transfermessage);
				    		//console.log(transport['responseText']);
				        }
				       });
			    }
	/*		});
	});*/

</script>








