<?php
	$response 		= $this->getTrackingDetails();

//Bluedart
	if($response['partner'] == 'bluedart'){
	$scanDetails 	= $response['Scans']['ScanDetail'];	
	$scansByDate 	= array();
	foreach ($scanDetails as $data) {
		if(!empty($data['ScanDate'])) {
			$scansByDate[$data['ScanDate']][] = $data;
		}
		if(strtolower($data['Scan']) == 'shipment delivered')
			{
				$response['OrderDeliveredDate'] = date("Y-m-d",strtotime($data['ScanDate'])).'T'.date("h:i:s",strtotime($data['ScanTime']));
			}
	}
	
?>
<div class="tracked-status">
<?php if(strtolower($response['StatusType']) == 'dl'):?>
	<span class="delivered track-deliver">Delivered <label><?php echo date("M n, Y", strtotime($response['OrderDeliveredDate']))?></label></span>
<?php elseif($response['OrderShippedDate'] != ''): ?>
	<span class="shipped track-ship">Shipped <label><?php echo date("M j, Y",strtotime($response['OrderShippedDate']))?></label></span>
<?php else: ?>
	<span class="ordered track-order">Ordered <label><?php echo date("M n, Y", strtotime($response['OrderCreatedDate']))?></label></span>
<?php endif; ?>
</div>
<div class="tracker">
	
		<span class="ordered <?php if($response['OrderCreatedDate'] != ''):?> active <?php endif;?>"><div class="track-status">Ordered</div><label>(<?php echo $response['OrderCreatedDate'];?>)</label></span>
	
	
		<span class="shipped <?php if($response['OrderShippedDate'] != ''):?> active <?php endif;?><?php if(strtolower($response['StatusType']) == 'dl') { echo ' delieverd-state'; }?>"><div class="track-status">Shipped</div><label>(<?php echo $response['OrderShippedDate'];?>)</label></span>
	
	
		<span class="delivered <?php if(strtolower($response['StatusType']) == 'dl'):?> active <?php endif;?>"><div class="track-status">Delivered</div><label><?php if(strtolower($response['OrderDeliveredDate'])):?>(<?php echo date("M n, Y g:i:s A", strtotime($response['OrderDeliveredDate']))?>)<?php endif; ?></label></span>
	
</div>
<div class="tracker-lbl">
<span class="order-lbl">Ordered</span><span class="ship-lbl">Shipped</span><span class="deliver-lbl">Delivered</span>
</div>

<div class="ship-title">Shipment details</div>
<div class="shipment-details">

<?php
	foreach ($scansByDate as $date => $scans) {
		echo "<div class='group-by-date'><div class='scan-date'>$date</div>";
		foreach ($scans as $scan) { 
		?>
			<div class="shipment-info">
				<span class="time"><?php echo date("h:i a", strtotime($scan['ScanTime'])); ?></span>
				<span class="location"><?php echo $scan['Scan'],' at ',$scan['ScannedLocation']; ?></span>
			</div>
	<?php	
		}
		echo "</div>";
	}
	?>
</div>

<!--Aramex-->

<?php }else{ 
$scanDetails 	= $response['scans'];	
	$scansByDate 	= array();
	foreach ($scanDetails as $data) {
		if(!empty($data['UpdateDateTime'])) {
			$temp = array();
			$temp = explode("T", $data['UpdateDateTime']);
			$scansByDate[date("j-M-Y",strtotime($temp[0]))][] = $data;
			if(strtolower($data['UpdateDescription']) == 'delivered')
			{
				$response['OrderDeliveredDate'] = $data['UpdateDateTime'];
			}
		}
	}
?>
<div class="tracked-status">
<?php if(array_key_exists('OrderDeliveredDate',$response)):?>
	<?php if($response['OrderDeliveredDate'] != ''):?>
		<span class="delivered track-deliver">Delivered <label><?php echo date("M n, Y", strtotime($response['OrderDeliveredDate']))?></label></span>
	<?php elseif($response['OrderShippedDate'] != ''): ?>
		<span class="shipped track-ship">Shipped <label><?php echo date("M n, Y", strtotime($response['OrderShippedDate']))?></label></span>
	<?php else: ?>
		<span class="ordered track-order">Ordered <label><?php echo date("M n, Y", strtotime($response['OrderCreatedDate']))?></label></span>
	<?php endif; ?>
<?php endif; ?>
</div>

<div class="tracker">
	
		<span class="ordered <?php if($response['OrderCreatedDate'] != ''):?> active <?php endif; ?>"><div class="track-status">Ordered</div><label>(<?php echo $response['OrderCreatedDate'];?>)</label></span>

	
		<span class="shipped <?php if($response['OrderShippedDate'] != ''):?> active <?php endif; ?><?php if($response['OrderDeliveredDate'] != '') { echo ' delieverd-state'; }?>"><div class="track-status">Shipped</div><label>(<?php echo $response['OrderShippedDate'];?>)</label></span>
	
		<span class="delivered <?php if($response['OrderDeliveredDate']):?> active <?php endif; ?>"><div class="track-status">Delivered</div><label><?php if($response['OrderDeliveredDate']):?>(<?php echo date("M n, Y g:i:s a", strtotime($response['OrderDeliveredDate']))?>)<?php endif; ?></label></span>

</div>
<div class="tracker-lbl">
<span class="order-lbl">Ordered</span><span class="ship-lbl">Shipped</span><span class="deliver-lbl">Delivered</span>
</div>

<div class="ship-title">Shipment details</div>
<div class="shipment-details">

<?php
	foreach ($scansByDate as $date => $scans) {
		echo "<div class='group-by-date'><div class='scan-date'>$date</div>";
		foreach ($scans as $scan) { 
			$temp = array();
			$temp = explode("T", $scan['UpdateDateTime']);
		?>
			<div class="shipment-info">
				<span class="time"><?php echo date("h:i a", strtotime($temp[1])); ?></span>
				<span class="location"><?php echo $scan['UpdateDescription'],' at ',$scan['UpdateLocation']; ?></span>
			</div>
	<?php	
		}
		echo "</div>";
	}
	?>
</div>
<?php } //echo "<pre>"; print_r($response); ?>


