 div.fme-filter dd a {padding:0px 5px 0px 0px; display:block; float: left;} 

/*categories*/
div.fme-filter span.adj-nav-category-current {font-weight: bold; padding-left: 5px;} 
div.fme-filter a.adj-nav-pad2 {padding-left:5px}
div.fme-filter a.adj-nav-pad3 {padding-left:10px}

/*price ranges*/
div.fme-filter a.adj-nav-price {}
div.fme-filter a.adj-nav-price-selected {font-weight: bold}

/*attributes*/
div.fme-filter a.fme_layered_attribute { padding-left:25px; background:transparent url(../../images/FME/Check-Box.png) no-repeat scroll 0px 2px;}
div.fme-filter a.fme_layered_attribute_selected {padding-left:25px; /*border:dotted;*/ background-position: 0px -18px; font-weight: bold; overflow:hidden;}
div.fme-filter a.fme_layered_swatches {padding:0px 0px 5px 0px;}
div.fme-filter a.fme_layered_swatches_selected {opacity:0.5}

div.fme-filter a.fme_layered_disabled {color:gray; cursor:wait}
div.fme-filter input.fme_layered_disabled {background-color:gray; border:1px solid gray; cursor:wait}

div.fme-filter a.fme_layered_clear {float: right; cursor:pointer;position: absolute;
  right: 43px;
  top: 5px;
  z-index: 9;
  padding: 0;
  margin: 0!important;
  font-size: 12px!important;
  color: #000!important;} 

div.price_slider { position:relative; z-index:9; height:28px; margin:0 auto 5px auto; background:url(../../images/FME/grey_bar.jpg) no-repeat 50% 50%;}
div.price_slider div.handle { top:3px; width:14px; height:23px; background: transparent url(../../images/FME/slider_button.png) no-repeat; cursor:pointer; position: absolute; }

#adj-nav-container, div.adj-nav {position:relative}

.fme_loading_filters{
    width:100%;
    height:1000%;
    background-color:#D8D8D8;
    z-index:500;
    opacity: 0.4;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    position:absolute;
    top:0;
    left:0;
}

.fme_loading_filters img{
	left:48%;
	top:45%;
	display:block;
	position:fixed;
	z-index:900;
}

.layered-nav div.fme_layered_clear_all {
    margin:0;
    border:1px solid #b9ccdd;
    border-left:0;
    border-right:0;
    padding:3px 10px;
    color:#1f5070;
    font-weight:bold;
    font-size:1em;
    text-align:center;
} 

.fme-filter dt{
/*cursor:pointer;*/
position: relative;
  display: block;
  margin: 10px 0;
}
.fme-filter dt:first-child{
  margin: 0;
}
.fme-filter dt:last-child{
  margin: 10px 0 0 0;
}
.fme-filter dt.fme_layered_dt_selected{}

div.fme-filter dd li{overflow:hidden;}


.color { width:150px; clear:both; margin:6px 0 6px 0; }

.color .color_box { width:6px; height:6px; float:left; display:block; margin-right:4px; }

.color a { font-family:Arial; font-size:12px; color:#333; text-decoration:none; }

.color a:hover { color:#09F; text-decoration:none; }

.color span { font-family:Arial; font-size:11px; color:#999; }