<?php
/**
 * Iksula_Storemanager extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Iksula
 * @package        Iksula_Storemanager
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Store link widget template
 *
 * @category    Iksula
 * @package     Iksula_Storemanager
 * @author      Ultimate Module Creator
 */
?>
<?php $_store = $this->getCurrentStore();?>
<?php if ($_store) :?>
    <div class="store-widget-link">
        <a href="<?php echo $_store->getStoreUrl()?>"><?php echo $_store->getStoreTypeId()?></a>
    </div>
<?php endif;?>
