<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   design_default
 * @package    Mage_SecureEbs
 * @copyright  Copyright (c) 2008 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>

 <?php 

   $quoteObj = Mage::getModel('checkout/session')->getQuote();

   $grandTotal = $quoteObj->getGrandTotal();
   
   $minOrderAmt = Mage::getStoreConfig('payment/payuemi_standard/min_order_amt');

    if($grandTotal >= $minOrderAmt):
                    

 ?>
<script type="text/javascript">



jQuery('.validate-one-required-by-name').live('change', function(){ 

    jQuery(".show-hide").show();

})
   jQuery('#selectEmiBank').live('change', function(){ 
    //  alert('');
        var url = "<?php echo Mage::getUrl('payuemi/standard/getEmiOptions'); ?>";
        //jQuery("#availableEMIs").html();
        //validate_form($('onepagecheckout_orderform'))
        jQuery(".show-hide").hide();
        jQuery("#availableEMIs").html("");
       
          if(this.value)
            {
                    jQuery("#ajax_loader").show();
                    url= url+"emitype/"+this.value;
                    jQuery.ajax({
                        url: url,
                        type: "get",
                        dataType: "json",
                        success: function(data){
                            
                            jQuery("#availableEMIs").html(data);
                           // jQuery(".show-hide").show();
                            jQuery("#ajax_loader").hide();

                        },
                        error:function(){
                            alert("failure");
                            
                        }
                    });
            }
    });


jQuery(document).ready(function() {
    jQuery(".show-hide").hide();
});

 
</script>

<?php
if(Mage::getSingleton('customer/session')->isLoggedIn()){
    $valueSerialized = Mage::getSingleton('checkout/session')->getSavedCards();
}
$curryear = date('Y');
 
?>
<script type="text/javascript">
    Validation.creditCartTypes.JCB = [new RegExp('^(35[0-9]{14}|(2131|1800)[0-9]{11})$'), new RegExp('^([0-9]{3})?$'), true];
    Validation.creditCartTypes.DICL = [new RegExp('(^(30)[0-5]\d{11}$)|(^(36)\d{12}$)|(^(38[0-8])\d{11}$)'), new RegExp('^([0-9]{3})?$'), false];
    Validation.creditCartTypes.ENR = [new RegExp('(^(2014)|^(2149))\d{11}$'), new RegExp('^([0-9]{3})?$'), false];
</script>
<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">
        <li class="grayBG">
            <label class="card-type-head">Select any one: <span class="">*</span> </label>
                <select  id="selectEmiBank" class="selectEmiBank input-text required-entry" name="payment[emi_bank]">
                    <option value="">--Please Select Bank--</option>
                    <option value="CITI">CITI</option>
                    <option value="HDFC">HDFC</option>
                    <!-- <option value="AXIS">AXIS</option>
                    <option value="ICICI">ICICI</option>
                    <option value="CITIPM">CITIPM</option>
                    <option value="KOTAK">KOTAK</option> -->
               </select>

             <div style="margin-top:12px;" id="emiTable">
                <span id="ajax_loader" style="display:none">
                    <img class="v-middle" title="Submitting order information..." alt="Submitting order information..." src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif'); ?>">
                </span>

                <div id="availableEMIs" class="availableEMIs blk">     
                   
                </div>
            </div>
        </li>
        
       <!--  <li class="show-hide newBG paddingTop"  id="only_pay_images">
         <label class="card-type-head2">Choose card type:  <span class="">*</span> </label>
            <div class="input-box">
                <input type="radio" class="cctype_radio" id="payment_cc3" name="payment[cc_type]" value="VISA">
                <label for = "payment_cc3"  class="visa_image cc_logo_visa"></label>
                <input type="radio" class="cctype_radio" id="payment_cc_next3" name="payment[cc_type]" value="MAST">
                <label for="payment_cc_next3"  class="visa_image_next cc_logo_visa"></label> 
            </div>
        </li> -->
          <li class="show-hide newBG paddingTop" >

            <!-- <div class="input-box">
                <select name="payment[cc_type]" class="required-entry">
                <option value="">Choose card type</option>
                <option value="MAST">MasterCard</option>
                <option value="VISA">Visa Card</option>
                <option value="SMAE">SBI Maestro</option>
                <option value="MAES">Other Maestro</option>
                <option value="CITD">CITI Debit Cards</option>
                </select>
            </div> -->
            <!-- <input type="hidden" name="payment[cc_type]" id="payment_cc_type" class="payment_cc_type"/> -->
        </li>



    <div class="saved_cards_in_emi" style="padding: 0 0 0 20px;">
    <?php if($valueSerialized['status'] != 0 ) { ?><h2 class="show-hide">Use Existing Cards</h2><?php } ?>
    <div style="padding-bottom:10px;" id="old_cards" class="show-hide">
    <?php $card_number=0; foreach($valueSerialized['user_cards'] as $key=>$val)
    { $card_number++ ?>
        <label class="old_card_num <?php echo $card_number; ?>" for="old_cc_emi<?php echo $card_number; ?>">
            <span class="radio_span">
                <span class="radio_span_inner">&nbsp;</span>
            </span>
            <input type="radio" id="old_cc_emi<?php echo $card_number; ?>" name="old_cc" class="old_cc" card_token="<?php echo $val['card_token']; ?>" >  <?php echo str_repeat("X", (strlen($val['card_no']) - 4)) . substr($val['card_no'],-4,4); ?>
        </label>
    <?php } 
    ?>

    <label id="usenew_emi" style="display:none;" class="old_card_num" for="use_new_emi">
            <span class="radio_span">
                <span class="radio_span_inner">&nbsp;</span>
            </span>
            <input type="radio" id="use_new_emi" name="use_new"> 
            Use new credit card
    </label>    
    
    </div>

    <div id="oldcarduse_emi" style="display:none;">
    <div class="input-box">
                <label for="<?php echo $_code ?>_cc_cid"><?php echo $this->__('Card Verification Number') ?> <span class="required">*</span></label>
                <div class="v-fix">
                    <input type="password" title="<?php echo $this->__('Card Verification Number') ?>" class="input-text required-entry validate-number validate-cc-cvn ccinput cvv_emi" id="cvv" name="cvv" value="" />
                    <div class="cvvimg"></div>
                </div>
            </div>
        <div class="buttons-set" id="review-buttons-container">
            <button type="submit" title="<?php echo $this->__('Place Order Now') ?>" class="button btn-checkout happy_button f-right" onclick="checkout.save(); return false;"><?php echo $this->__('Place Order') ?></button>
            <span id="review-please-wait" style="display:none;float:right;">
                <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Submitting order information...') ?>" title="<?php echo $this->__('Submitting order information...') ?>" class="v-middle" /> <?php echo $this->__('Submitting order information...') ?>
            </span>
        </div>

    </div>
</div>
    <div style="clear:both;"></div>
    <div id="new_card_emi" class="show-hide">

        <li class="newBG">
            <div class="input-box">
                <label for="<?php echo $_code ?>_cc_owner"><?php echo $this->__('Name on Card') ?> <span class="required">*</span></label><br/>
                <input type="text" title="<?php echo $this->__('Name on Card') ?>" class="input-text required-entry validate-alpha-space checkout_card_name" id="<?php echo $_code ?>_cc_owner" name="payment[cc_owner]" value="<?php echo $this->htmlEscape($this->getInfoData('cc_owner')) ?>"/>
            </div>
        </li>
        <li class="newBG">
            <div class="input-box">
                <label for="<?php echo $_code ?>_cc_number"><?php echo $this->__('Card Number') ?> <span class="required">*</span></label><br/>
                <input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number_enc]" title="<?php echo $this->__('Credit Card Number') ?>" class="detectCard  numericfield checkout_card_number input-text required-entry validate-number validate-cc-number" value="" maxlength="16"/>
                 
            </div>

        </li>
       <li class="flleft newBG">
            <div class="input-box">
                <label for="<?php echo $_code ?>_expiration"><?php echo $this->__('Expiration Date') ?> <span class="required">*</span></label><br />
                <div class="m-fix">
                    <select name="payment[cc_exp_month]" id="<?php echo $_code ?>_expiration" class="required-entry">
                    <option value="">Month</option>
                    <option value="01">Jan</option>
                    <option value="02">Feb</option>
                    <option value="03">Mar</option>
                    <option value="04">Apr</option>
                    <option value="05">May</option>
                    <option value="06">Jun</option>
                    <option value="07">Jul</option>
                    <option value="08">Aug</option>
                    <option value="09">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                    </select>
                </div>
                <div class="y-fix" style="padding-left:5px;">
                    <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
                    <select name="payment[cc_exp_year]" id="<?php echo $_code ?>_expiration_yr" class="required-entry">
                        <option value="">Year</option>
                        <?php for($i = $curryear; $i <= ($curryear + 50);$i++){
                            echo '<option value="' . $i . '">' . $i . '</option>';
                        }?>
                    </select>
                </div>
            </div>
        </li>
        <li class="flleft newBG" >
            <div class="input-box">
                <label for="<?php echo $_code ?>_cc_cid"><?php echo $this->__('Card Verification Number') ?> <span class="required">*</span></label><br />
                <div class="v-fix">
                    <input type="password" title="<?php echo $this->__('Card Verification Number') ?>" class="numericfieldCvv checkout_card_cvv input-text required-entry validate-number validate-cc-cvn ccinput cvv_number" id="<?php echo $_code ?>_cc_cid" name="payment[cc_last4]" style="width:3em;" value="" maxlength="4" />
                    <div class="cvvimg"></div>
                </div>
            </div>
        </li>
        <?php if(Mage::getSingleton('customer/session')->isLoggedIn()){?>
        <li class="futureTransection newBG">
            <input type="checkbox" title="<?php echo $this->__('Save') ?>" class="" id="cc_save_emi" name="payment[cc_save]" /> Save card for future transactions
        </li>
        <?php }?>
        <li class="newBG">
             <div class="buttons-set" id="review-buttons-container">
                <button type="submit" title="<?php echo $this->__('Place Order Now') ?>" class="checkout_success_button button btn-checkout happy_button" onclick="checkout.save(); return false;"><?php echo $this->__('Place Order Now') ?></button>
                   <span class="checkout_success_loader" style="display:none;float:right;">
                        <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Submitting order information...') ?>" title="<?php echo $this->__('Submitting order information...') ?>" class="v-middle" /> <?php echo $this->__('Submitting order information...') ?>
                </span>
             </div>

        </li>
    </div>
    </ul>
</fieldset>


<?php
    else:

?>
<p class="emi-message">

Your order is not eligible for the EMI payment option because the total amount payable is lower than <?php echo Mage::helper('core')->currency($minOrderAmt,true,false);  ?>/-. Eligibility is solely at the credit card issuing bank's discretion.
</p>
<?php
    endif;

?>

<?php
Mage::getSingleton('checkout/session')->setCcChecked('false');
Mage::getSingleton('checkout/session')->setCardtoken('');
Mage::getSingleton('checkout/session')->setCvvnew('');

?>

<script type="text/javascript">

jQuery(document).ready(function($){

var token = "";
$( ".old_cc" ).click(function() {
    $("#new_card_emi").hide();
    $("#usenew_emi").show();
    $("#oldcarduse_emi").show();
    $("#use_new_emi").attr('checked', false);
    token = $(this).attr("card_token");
    $( ".old_card_num" ).removeClass("active");
    $(this).closest(".old_card_num").addClass("active");
});

$( ".cvv_emi" ).focusout(function(){
    var card_token = token;
    var cvv = $(this).val();
    var url = "<?php echo $this->getUrl('payuemi/standard/payuold'); ?>";
    $.ajax({
        type: 'POST',    
        url:url,
        data:'card_token='+ card_token+'&cvv='+ cvv,
        success: function(msg){

        }
    });
});

$( "#use_new_emi" ).click(function() {
    $( ".old_card_num" ).removeClass("active");
    $("#usenew_emi").hide();
    $("#new_card_emi").show();
    $("#oldcarduse_emi").hide();
    $(".old_cc").attr('checked', false);
    $(this).addClass(".active");
});

$( "#cc_save_emi" ).click(function() {
    if ($('#cc_save_emi').is(':checked')) {
        var checked = "true";
    }
    else 
    {
        var checked = "false";  
    }
    var url = "<?php echo $this->getUrl('payuemi/standard/payu'); ?>";
    $.ajax({
        type: 'POST',    
        url:url,
        data:'checked='+ checked,
        success: function(msg){

        }
    });
});

});

</script>