#amgiftcard-form,
.cart .giftcard {
    width: 100%;
}

#amgiftcard-form .field-wrapper,
.cart .giftcard .field-wrapper {
    display: inline-block;
}
#amgiftcard-form .validation-advice,
.cart .giftcard .validation-advice {
    display: inline;
}
#amgiftcard-form .input-text,
.cart .giftcard .input-text {
    width: 254px;
}

.btn-remove-amgiftcard {
    display: inline;
}

.calendar {
    z-index: 10000;
}

#amgiftcard_amount_custom_block .v-fix {
    float: none;
}