.amgiftcard-image {
    width: 96px;
    /*height: 96px;*/
    /*float: left;*/
    padding: 3px;
    margin: 3px;
}

.amgiftcard-image:hover {
    width: 98px;
    /*height: 98px;*/
    /*float: left;*/
    padding: 2px;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
}

.amgiftcard-image.selected {
    /*width: 104px;
    height: 104px;*/
    border: 2px solid #000000;
}
.form-list .input-box {
    width: 283px;
}
.input-box img {
    display: inline;
}