<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   design_default
 * @package    Mage_SecureEbs
 * @copyright  Copyright (c) 2008 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php
	$valueSerialized = array();
    if(Mage::getSingleton('customer/session')->isLoggedIn()){
        $valueSerialized = Mage::getSingleton('checkout/session')->getSavedCards();
    }
    $curryear = date('Y');
?>
<script type="text/javascript">
Validation.creditCartTypes.JCB = [new RegExp('^(35[0-9]{14}|(2131|1800)[0-9]{11})$'), new RegExp('^([0-9]{3})?$'), true];
Validation.creditCartTypes.DICL = [new RegExp('(^(30)[0-5]\d{11}$)|(^(36)\d{12}$)|(^(38[0-8])\d{11}$)'), new RegExp('^([0-9]{3})?$'), false];
Validation.creditCartTypes.ENR = [new RegExp('(^(2014)|^(2149))\d{11}$'), new RegExp('^([0-9]{3})?$'), false];
</script>
<!-- <div class="topimagescc"><div> -->
<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">
    <?php if(array_key_exists('status',$valueSerialized)) { ?>
        <?php if($valueSerialized['status'] != 0 ) { ?><h2>Use Existing Cards</h2><?php } ?>
    <?php } ?>
	<div id="old_cards">
    <?php if(array_key_exists('user_cards',$valueSerialized)) { ?>
	<?php $card_number=0; foreach($valueSerialized['user_cards'] as $key=>$val)
	{ $card_number++ ?>
	    <label class="old_card_num <?php echo $card_number; ?>" for="old_cc<?php echo $card_number; ?>">
            <span class="radio_span">
                <span class="radio_span_inner">&nbsp;</span>
            </span>
            <input type="radio" id="old_cc<?php echo $card_number; ?>" name="old_cc" class="old_cc" card_token="<?php echo $val['card_token']; ?>" >  <?php echo str_repeat("X", (strlen($val['card_no']) - 4)) . substr($val['card_no'],-4,4); ?>
        </label>
	<?php } 
	?>
<?php } ?>
    <label id="usenew" style="display:none;" class="old_card_num" for="use_new">
            <span class="radio_span">
                <span class="radio_span_inner">&nbsp;</span>
            </span>
            <input type="radio" id="use_new" name="use_new"> 
            Use new credit card
    </label>	
	
	</div>

	<div id="oldcarduse" style="display:none;">
	<div class="input-box">
                <label for="<?php echo $_code ?>_cc_cid"><?php echo $this->__('cvv') ?> <span class="required">*</span></label>
                <div class="v-fix">
                    <input type="password" title="<?php echo $this->__('cvv') ?>" class="input-text required-entry validate-number validate-cc-cvn ccinput" id="cvv" name="cvv" value="" placeholder="cvv" />
                    <div class="cvvimg"></div>
                </div>
            </div>
<div class="buttons-set" id="review-buttons-container">
            <button type="submit" title="<?php echo $this->__('Place Order Now') ?>" class="button btn-checkout happy_button f-right" onclick="checkout.save(); return false;"><?php echo $this->__('Place Order') ?></button>
            <span id="review-please-wait" style="display:none;float:right;">
                <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Submitting order information...') ?>" title="<?php echo $this->__('Submitting order information...') ?>" class="v-middle" /> <?php echo $this->__('Submitting order information...') ?>
            </span>
        </div>

	</div>

	<div style="clear:both;"></div>
	<div id="new_card">
        
         
        <li>
            <div class="input-box">
                <label for="<?php echo $_code ?>_cc_owner"><?php echo $this->__('name on card') ?> <span class="required">*</span></label>
                <input type="text" title="<?php echo $this->__('Name on Card') ?>" class="input-text required-entry validate-alpha-space checkout_card_name" id="<?php echo $_code ?>_cc_owner" name="payment[cc_owner]" value="<?php echo $this->htmlEscape($this->getInfoData('cc_owner')) ?>"/>
            </div>
        </li>
        <li>
            <div class="input-box">
                <label for="<?php echo $_code ?>_cc_number"><?php echo $this->__('card Number') ?> <span class="required">*</span></label>
                <input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number_enc]" title="<?php echo $this->__('Credit Card Number') ?>" class="detectCard numericfield checkout_card_number input-text required-entry validate-number validate-cc-number" value="" maxlength="16"/>
            </div>
        </li>
        <!-- <li>
            <label for="<?php echo $_code ?>_cc_type" class="required"><em>*</em><?php echo $this->__('Credit Card Type') ?></label>
            <div class="input-box">
                <select id="<?php echo $_code ?>_cc_type" name="payment[cc_type]" class="required-entry validate-cc-type-select">
                    <option value=""><?php echo $this->__('--Please Select--')?></option>
                <?php $_ccType = $this->getInfoData('cc_type') ?>
                <?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                    <option value="<?php echo $_typeCode ?>"<?php if($_typeCode==$_ccType): ?> selected="selected"<?php endif ?>><?php echo $_typeName ?></option>
                <?php endforeach ?>
                </select>
            </div>
        </li> -->
        <li class="flleft">
            <div class="input-box">
                <label for="<?php echo $_code ?>_expiration"><?php echo $this->__('Expiration Date') ?> <span class="required">*</span></label>
                <div class="m-fix">
                    <select name="payment[cc_exp_month]" id="<?php echo $_code ?>_expiration" class="required-entry">
                    <option value="">Month</option>
                    <option value="01">Jan</option>
                    <option value="02">Feb</option>
                    <option value="03">Mar</option>
                    <option value="04">Apr</option>
                    <option value="05">May</option>
                    <option value="06">Jun</option>
                    <option value="07">Jul</option>
                    <option value="08">Aug</option>
                    <option value="09">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                    </select>
                </div>
                <div class="y-fix" style="padding-left:5px;">
                    <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
                    <select name="payment[cc_exp_year]" id="<?php echo $_code ?>_expiration_yr" class="required-entry">
                        <option value="">Year</option>
                        <?php for($i = $curryear; $i <= ($curryear + 50);$i++){
                            echo '<option value="' . $i . '">' . $i . '</option>';
                        } ?>
                    </select>
                </div>
            </div>
        </li>
        <li class="flleft">
            <div class="input-box">
                <label for="<?php echo $_code ?>_cc_cid"><?php echo $this->__('cvv') ?> <span class="required">*</span></label>
                <div class="v-fix">
                    <input type="password" title="<?php echo $this->__('Card Verification Number') ?>" class="vv checkout_card_cvv cvv4 input-text required-entry validate-number validate-cc-cvn ccinput" id="<?php echo $_code ?>_cc_cid" name="payment[cc_last4]" value="" maxlength="4" placeholder="cvv" />
                    <div class="cvvimg"></div>
                </div>
            </div>
        </li>
        <?php /* if(Mage::getSingleton('customer/session')->isLoggedIn()){?>
	<li class="futureTransection">
	    <input type="checkbox" title="<?php echo $this->__('Save') ?>" class="" id="cc_save" name="payment[cc_save]" /> Save card for future transactions
	</li>
    <?php } */?>
        <li>
         <div class="buttons-set" id="review-buttons-container">
            <button type="submit" title="<?php echo $this->__('Place Order Now') ?>" class="checkout_success_button button btn-checkout happy_button" onclick="checkout.save(); return false;"><?php echo $this->__('Place Order') ?></button>
            <span class="checkout_success_loader" style="display:none;float:right;">
                <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Submitting order information...') ?>" title="<?php echo $this->__('Submitting order information...') ?>" class="v-middle" /> <?php echo $this->__('Submitting order information...') ?>
            </span>
        </div>

    </li>
    </div>
    </ul>
</fieldset>

<?php

Mage::getSingleton('checkout/session')->setCcCheckedEmi('false');
Mage::getSingleton('checkout/session')->setCardtokenEmi('');
Mage::getSingleton('checkout/session')->setCvvnewEmi('');

?>


<script type="text/javascript">


var token = "";
jQuery( ".old_cc" ).click(function() {
    jQuery("#new_card").hide();
    jQuery("#usenew").show();
    jQuery("#oldcarduse").show();
    jQuery("#use_new").attr('checked', false);
    token = jQuery(this).attr("card_token");
    jQuery( ".old_card_num" ).removeClass("active");
    jQuery(this).closest(".old_card_num").addClass("active");
//alert(token);
});


jQuery( "#cvv" ).focusout(function(){

var card_token = token;
var cvv = jQuery(this).val();

//alert(cvv);

var url = "<?php echo $this->getUrl('secureebs/standard/payuold'); ?>";

jQuery.ajax({
type: 'POST',    
url:url,
data:'card_token='+ card_token+'&cvv='+ cvv,
success: function(msg){
    	
	//alert(msg);

      }
 });

});




jQuery( "#use_new" ).click(function() {
    jQuery( ".old_card_num" ).removeClass("active");
    jQuery("#usenew").hide();
    jQuery("#new_card").show();
    jQuery("#oldcarduse").hide();
    jQuery(".old_cc").attr('checked', false);
    jQuery(this).addClass(".active");
});








jQuery( "#cc_save" ).click(function() {

if (jQuery('#cc_save').is(':checked')) {
	var checked = "true";
}
else 
{
var checked = "false";	
}

var url = "<?php echo $this->getUrl('secureebs/standard/payu'); ?>";

jQuery.ajax({
type: 'POST',    
url:url,
data:'checked='+ checked,
success: function(msg){
    	
	//alert(msg);

      }
 });


});


jQuery('.checkout_card_number').on('focusout',function(){
    var num = jQuery('.checkout_card_number').val();
    var abc = GetCardType(num);
});

function GetCardType(number)
{
    // visa
    var re = new RegExp("^4");
    if (number.match(re) != null)
        return "Visa";

    // Mastercard
    re = new RegExp("^5[1-5]");
    if (number.match(re) != null)
        return "Mastercard";

    // AMEX
    re = new RegExp("^3[47]");
    if (number.match(re) != null)
        return "AMEX";

    // Discover
    re = new RegExp("^(6011|622(12[6-9]|1[3-9][0-9]|[2-8][0-9]{2}|9[0-1][0-9]|92[0-5]|64[4-9])|65)");
    if (number.match(re) != null)
        return "Discover";

    // Diners
    re = new RegExp("^36");
    if (number.match(re) != null)
        return "Diners";

    // Diners - Carte Blanche
    re = new RegExp("^30[0-5]");
    if (number.match(re) != null)
        return "Diners - Carte Blanche";

    // JCB
    re = new RegExp("^35(2[89]|[3-8][0-9])");
    if (number.match(re) != null)
        return "JCB";

    // Visa Electron
    re = new RegExp("^(4026|417500|4508|4844|491(3|7))");
    if (number.match(re) != null)
        return "Visa Electron";

    return "";
}
</script>


