<?php 
/**
 * Iksula_Storemanager extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Iksula
 * @package        Iksula_Storemanager
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Store list template
 *
 * @category    Iksula
 * @package     Iksula_Storemanager
 * @author      Ultimate Module Creator
 */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_stores = $this->getStores(); ?>
<div class="page-title store-title">
    <?php if (Mage::helper('iksula_storemanager/store')->isRssEnabled()) : ?>
        <a href="<?php echo Mage::helper('iksula_storemanager/store')->getRssUrl();?>" class="link-rss"><?php echo Mage::helper('iksula_storemanager')->__('Subscribe to RSS Feed')?></a>
    <?php endif;?>
    <h1><?php echo Mage::helper('iksula_storemanager')->__('Store') ?></h1>
</div>
<?php if ($_stores->getSize() > 0) :?>
    <?php echo $this->getPagerHtml(); ?>
    <div class="store-list-container">
    <?php foreach ($_stores as $_store) : ?>
        <div class="store-list-item">
            <a href="<?php echo $_store->getStoreUrl()?>">
                <?php echo $_store->getStoreTypeId();?>
            </a><br />
        </div>
    <?php endforeach;?>
    </div>
    <?php echo $this->getPagerHtml(); ?>
<?php else : ?>
    <?php echo Mage::helper('iksula_storemanager')->__('There are no store at this moment');?>
<?php endif;?>
