<?php
/**
 * Iksula_Storemanager extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Iksula
 * @package        Iksula_Storemanager
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Store view template
 *
 * @category    Iksula
 * @package     Iksula_Storemanager
 * @author      Ultimate Module Creator
 */
?>
<?php $_store = $this->getCurrentStore();?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title store-title">
    <h1><?php echo $_store->getStoreTypeId(); ?></h1>
</div>
<div class="store-view">
    <div class="store-store_type_id">
        <?php echo Mage::helper('iksula_storemanager')->__('store type');?>:<?php echo $_store->getStoreTypeId();?>

    </div>

</div>
