<?php //barry code;?>
<?php 
$_order = Mage::getModel('sales/order')->load($this->getRequest()->getParam('order_id'));
?>
<?php $shipping 	= $_order->getShippingAddress(); ?>

<?php
	//calculating total weight of current order
	$state = "";
	if(($shipping->getData('region_id')) && ($shipping->getCountry() == 'US')){
		$region = Mage::getModel('directory/region')->load($shipping->getData('region_id'));
		$state = $region->getName();
	}
	else{
		$state = $shipping->getData('region');
	}

	$billing_state = "";
	if($shipping->getData('region_id')){
		$region = Mage::getModel('directory/region')->load($shipping->getData('region_id'));
		$billing_state = $region->getName();
	}
	else{
		$billing_state = $shipping->getData('region');
	}
	$totalWeight 	= 0;
	$itemscount 	= 0;
	$itemsv = $_order->getAllVisibleItems();
	foreach($itemsv as $itemvv){
		if($itemvv->getQtyOrdered() > $itemvv->getQtyShipped()){
			$itemscount += $itemvv->getQtyOrdered() - $itemvv->getQtyShipped();
		}else if($itemvv->getQtyOrdered() == $itemvv->getQtyShipped()){
			$itemscount += $itemvv->getQtyShipped();
		}
		if($itemvv->getWeight() != 0){
			$weight =  $itemvv->getWeight()*$itemvv->getQtyOrdered();
		} else {
			$weight =  0.5*$itemvv->getQtyOrdered();
		}
		$totalWeight 	+= $weight;
	}
?>	

<script type="text/javascript">
//<![CDATA[
optionalZipCountries = <?php echo $this->helper('directory')->getCountriesWithOptionalZip(true) ?>;
var origin_country_map = zipValidateMaker('origin_country','origin_zipcode','origin_city',optionalZipCountries,'required-entry');
var destination_country_map = zipValidateMaker('destination_country','destination_zipcode','destination_city',optionalZipCountries,'required-entry');
<?php $isSecure = Mage::app()->getStore()->isCurrentlySecure();?>
var  new_system_base_url = "<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB,$isSecure);?>";


jQuery(function(){
	jQuery("#aramex_rate_calculate").click(function(){
		jQuery('.arm_country').trigger('change');
	});
	origin_country_map.checkoptions();
	destination_country_map.checkoptions();
	var origin_city_map =  new Ajax.Autocompleter("origin_city", "origin_city_autocomplete", new_system_base_url+"apilocationvalidator/index/searchautocities", {
		  paramName: "value", 
		  minChars: 3,
		  parameters: "&country_code="+jQuery("#origin_country").val(),
		  callback: function(element, entry) {
			 /* hook added to hide  load-mask */
			setTimeout(function(){
				 toggleSelectsUnderBlock($('loading-mask'), true);
				 Element.hide('loading-mask');
				},15000);
				return entry;
			}
	});	
	var destination_city_map =  new Ajax.Autocompleter("destination_city", "destination_city_autocomplete", new_system_base_url+"apilocationvalidator/index/searchautocities", {
		  paramName: "value", 
		  minChars: 3,
		  parameters: "&country_code="+jQuery("#destination_country").val(),
		  callback: function(element, entry) {
			 /* hook added to hide  load-mask */
			setTimeout(function(){
				 toggleSelectsUnderBlock($('loading-mask'), true);
				 Element.hide('loading-mask');
				},15000);
				return entry;
			}
	});
	
	
	jQuery('.arm_country').change(function(){
		var country_fld_id = jQuery(this).attr('id');
		var country_param = "&country_code="+jQuery(this).val();
		if(country_fld_id =='origin_country'){
			origin_country_map.checkoptions();
			origin_city_map.options.parameters= country_param;
			origin_city_map.options.defaultParams = country_param;			
		}
		if(country_fld_id =='destination_country'){
			destination_country_map.checkoptions();
			destination_city_map.options.parameters= country_param;
			destination_city_map.options.defaultParams = country_param;
		}
	});
});

//]]>
</script>		
			<div class="back-over"></div>
			<div class="cal-rate-part">
				<div class="cal-form">
				<form method="post" action="<?php echo Mage::helper("adminhtml")->getUrl('aramexshipment/rate/post'); ?>" id="calc-rate-form">
						<FIELDSET>
						<legend style="font-weight:bold; padding:0 5px;">Calculate Rates</legend>
						<div class="fields mar-10">
						<h3>Shipment Origin</h3>
						<div class="clearfix mar-10">
						<div class="field fl width-270">
							<label>Country <span class="red">*</span></label>
							<?php  $_countries = Mage::getResourceModel('directory/country_collection')->loadByStore()->toOptionArray();
                                                        $storeId = $_order->getStore()->getId();
                                                        ?>
                                                        <input type="hidden" value="<?php echo $storeId; ?>" name="store_id" />
								<select name="origin_country" class="arm_country" id="origin_country">
								<?php if(count($_countries)>0):?>
									<?php foreach($_countries as $_country): ?>
										<option value="<?php echo $_country['value'] ?>" <?php if(Mage::getStoreConfig('aramexsettings/shipperdetail/country', $storeId)){ echo (Mage::getStoreConfig('aramexsettings/shipperdetail/country', $storeId) == $_country['value']) ? 'selected="selected"' : ''; }?>>
											<?php echo $_country['label'] ?>
										</option>
									<?php endforeach; ?>
								<?php endif;?>
							</select>
						</div>
						<div class="field fl">
                                                     
							<label>City <span class="red no-display">*</span></label>
							<input type="text" name="origin_city" autocomplete="off" id="origin_city" value="<?php echo Mage::getStoreConfig('aramexsettings/shipperdetail/city', $storeId); ?>" />
							<div id="origin_city_autocomplete" class="am_autocomplete"></div>
						</div>
						</div>
						<div class="clearfix mar-10">
						<div class="field fl width-270">
							<label>Zip code <span class="red no-display">*</span></label>
							<input type="text" name="origin_zipcode" id="origin_zipcode" value="<?php echo Mage::getStoreConfig('aramexsettings/shipperdetail/postalcode', $storeId); ?>" />
						</div>
						<div class="field fl">
							<label>State / Province</label>
							<input type="text" name="origin_state" id="origin_state" value="<?php echo Mage::getStoreConfig('aramexsettings/shipperdetail/state', $storeId); ?>"/>
						</div>
						</div>
						</div>
						<div class="fields mar-10">
						<h3>Shipment Destination</h3>
						<div class="clearfix mar-10">
							<div class="field fl width-270">
								<label>Country <span class="red">*</span></label>							
									<select name="destination_country" class="arm_country" id="destination_country" >
									<?php if(count($_countries)>0):?>
										<?php foreach($_countries as $_country): ?>
											<option value="<?php echo $_country['value'] ?>"  <?php if($shipping){ echo ($shipping->getCountry() == $_country['value']) ? 'selected="selected"' : ''; }?>>
												<?php echo $_country['label'] ?>
											</option>
										<?php endforeach; ?>
									<?php endif;?>
								</select>
							</div>
							<div class="field fl">
								<label>City <span class="red no-display">*</span></label>
								<input type="text" name="destination_city" autocomplete="off" id="destination_city" value="<?php echo ($shipping) ? $shipping->getData('city') : ''; ?>" />
								<div id="destination_city_autocomplete" class="am_autocomplete"></div>
							</div>
						</div>
						<div class="clearfix mar-10">
							<div class="field fl width-270">
								<label>Zip code <span class="red no-display">*</span></label>
								<input type="text" name="destination_zipcode" id="destination_zipcode" value="<?php echo ($shipping) ? $shipping->getData('postcode') : ''; ?>" />
							</div>
							<div class="field fl">
								<label>State / Province</label>
								<input type="text" name="destination_state" id="destination_state" value="<?php echo ($shipping) ? $state : ''; ?>" />
							</div>						
						</div>						
						</div>
						<div class="fields mar-10">
						
						<div class="clearfix mar-10">
							<div class="field fl width-270">
								<label>Payment Type <span class="no-display">*</span></label>	
								<select name="payment_type">
									<option value="P">Prepaid</option>
									<option value="C">Collect</option>
									<option value="3">Third Party</option>
								</select>
							</div>
							<div class="field fl">
								<label>Product Type <span class="red">*</span></label>							
									<select name="product_group" id="calc-product-group">
									<option <?php if($shipping) {echo ($shipping->getCountry() == Mage::getStoreConfig('aramexsettings/shipperdetail/country',$storeId)) ? 'selected="selected"' : '';} ?> value="DOM">Domestic</option>
						<option <?php if($shipping) {echo ($shipping->getCountry() != Mage::getStoreConfig('aramexsettings/shipperdetail/country', $storeId)) ? 'selected="selected"' : '';} ?> value="EXP">International Express</option>							
									</select>
							</div>
						</div>
						<div class="clearfix mar-10">
							<div class="field fl width-270">							
							<label>Service Type <span class="no-display">*</span></label>							
						  <select name="service_type" class="fl" id="service_type">
						  <?php
								$allowed_domestic_methods =   explode(',', Mage::getStoreConfig('aramexsettings/config/allowed_domestic_methods', $storeId));
								$allowed_international_methods =  explode(',', Mage::getStoreConfig('aramexsettings/config/allowed_international_methods', $storeId));
								$domestic_methods = Mage::getModel('aramex/carrier_aramex_source_domesticmethods')->toOptionArray();
								$international_methods = Mage::getModel('aramex/carrier_aramex_source_internationalmethods')->toOptionArray();	
								
								
								$shipperdetail_country = Mage::getStoreConfig('aramexsettings/shipperdetail/country', $storeId);
								$shipping_country = is_object($shipping)?$shipping->getCountry():'';
								
								
						  ?>
						  
						  <?php if(count($allowed_domestic_methods)>0){ 
							         $i=1;
									 foreach($domestic_methods as $key=>$val){
									   if(in_array($val['value'],$allowed_domestic_methods)){
									   
									   /* style="<?php if($shipping_country != $shipperdetail_country) { echo 'display: none'; } ?>"*/
									   
									   ?>
									    <option <?php echo ($i == 1 and $shipping_country == $shipperdetail_country) ? 'selected="selected"' : ''; ?> value="<?php echo $val['value'];?>" id="calc_<?php echo $val['value'];?>" class="local DOM">
										<?php echo $val['label']; ?></option>									   
						 <?php  
								$i++;
							   }
						       }
							   } ?>							   
							 <?php if(count($allowed_international_methods)>0){ 
							         $i=1;
									 foreach($international_methods as $key=>$val){
									   if(in_array($val['value'],$allowed_international_methods)){
									   
									   /*  style="<?php if($shipping_country == $shipperdetail_country) { echo 'display: none'; } ?>" */
									   
									   ?>
									    <option <?php echo ($i == 1 and $shipping_country != $shipperdetail_country) ? 'selected="selected"' : ''; ?> value="<?php echo $val['value'];?>" id="calc_<?php echo $val['value'];?>" class="non-local EXP">
										<?php echo $val['label']; ?></option>									   
						 <?php  
								$i++;
							   }
						       }
							   } ?>   
							   
						  
						   
						   <?php /*
						   <option <?php if($shipping) {echo ($shipping->getCountry() == Mage::getStoreConfig('aramexsettings/shipperdetail/country')) ? 'selected="selected"' : '';} ?> value="ONP" class="local" style="<?php if($shipping->getCountry() != Mage::getStoreConfig('aramexsettings/shipperdetail/country')){ echo 'display: none'; } ?>">Overnight Parcel</option>
							<option value="OND" class="local" style="<?php if($shipping->getCountry() != Mage::getStoreConfig('aramexsettings/shipperdetail/country')){ echo 'display: none'; } ?>">Overnight Document</option>
							<option value="CDA" class="local" style="<?php if($shipping->getCountry() != Mage::getStoreConfig('aramexsettings/shipperdetail/country')){ echo 'display: none'; } ?>">Cash on Delivery</option>
							<option <?php if($shipping) {echo ($shipping->getCountry() != Mage::getStoreConfig('aramexsettings/shipperdetail/country')) ? 'selected="selected"' : '';} ?> value="PDX" class="non-local" style="<?php if($shipping->getCountry() == Mage::getStoreConfig('aramexsettings/shipperdetail/country')){ echo 'display: none'; } ?>" >Priority Document Express</option>
							<option value="PPX" class="non-local" style="<?php if($shipping->getCountry() == Mage::getStoreConfig('aramexsettings/shipperdetail/country')){ echo 'display: none'; } ?>" >Priority Parcel Express</option>
							<option value="PLX" class="non-local" style="<?php if($shipping->getCountry() == Mage::getStoreConfig('aramexsettings/shipperdetail/country')){ echo 'display: none'; } ?>" >Priority Letter Express</option>
							<option value="DDX" class="non-local" style="<?php if($shipping->getCountry() == Mage::getStoreConfig('aramexsettings/shipperdetail/country')){ echo 'display: none'; } ?>" >Deferred Document Express</option>
							<option value="DPX" class="non-local" style="<?php if($shipping->getCountry() == Mage::getStoreConfig('aramexsettings/shipperdetail/country')){ echo 'display: none'; } ?>" >Deferred Parcel Express</option>
							<option value="GDX" class="non-local" style="<?php if($shipping->getCountry() == Mage::getStoreConfig('aramexsettings/shipperdetail/country')){ echo 'display: none'; } ?>" >Ground Document Express</option>
							<option value="GPX" class="non-local" style="<?php if($shipping->getCountry() == Mage::getStoreConfig('aramexsettings/shipperdetail/country')){ echo 'display: none'; } ?>" >Ground Parcel Express</option>*/?>					
							</select>
							</div>
							<div class="field fl">
								<label>Weight <span class="red">*</span></label>
								<div>
									<input type="text" name="text_weight" class="fl mar-right-10 width-60" value="<?php echo number_format($totalWeight, 2); ?>" />
									<select name="weight_unit" class="fl width-60">
									<option value="KG">KG</option>
									<option value="LB">LB</option>								
									</select>
								</div>
							</div>
						</div>
						<div class="clearfix mar-10">
							<div class="field fl width-270">
								<label style="width:270px;">Number of Pieces: <span class="red ">*</span></label>							
								<input type="text" value="<?php echo $itemscount;?>" name="total_count" class="fl" />
							</div>
							<div class="field fl width-270">
								<label style="width:270px;">Preferred Currency Code: </label>							
								<input type="text" value="<?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?>" name="currency_code" class="fl" />
							</div>
						</div>
						<div class="cal-button-part">
							<button name="aramex_calc_rate_submit" type="button" id="aramex_calc_rate_submit" onclick="calcRateForm.submit();">Calculate</button>
							<button type="button" onclick="myObj.close()">Close</button>
							<span class="mar-lf-10 red">* are required fields</span>
							
							<input type="hidden" value="<?php echo $_order->getIncrementId();?>" name="reference" />
							
						</div>
						<div class="rate-result mar-10">
							<h3>Result</h3>
							<div class="result mar-10"></div>	
						</div>
						</div>
						</FIELDSET>
					
					<script type="text/javascript">
//<![CDATA[
					var calcRateForm = new Validation('calc-rate-form');  
			calcRateForm.submit=function(){
				if (this.validate()) {
						myObj.calcRate();
				}
			}             		
			jQuery("#service_type").chained("#calc-product-group");
			<?php $_url=Mage::helper("adminhtml")->getUrl('aramexshipment/shipment/printLabel/order_id/'.$this->getRequest()->getParam('order_id'));?>
			myObj.printLabelUrl='<?php echo $_url;?>';
				
			  //]]>
			</script>
				</form>
				
				</div>
			</div>
			<?php //barry code end;?>