<div class="header-container">
	<div class="header">
		<div class="top-links-page">
			<div class="top-links-main">
				<div class="links-left-top">
					<ul>
						<li class="cash-on-delivery"><a href="#">Cash On Delivery</a></li>
					</ul>
				</div>
				<div class="links-right-top">
					<ul>
						<li class="free-shipping"><a href="#">Free Shipping Above Rs 1000</a></li>
					</ul>
				</div>
			</div>
		</div>
       
        <div class="main-content-page">
        	<div class="left_section">
        		<div class="logo_pan">
                	<div class="logo_head">
        				<h1 class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getBaseUrl(); ?>"  title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a></h1>
        			</div>
        		</div>
        	</div>
    	</div>

        <?php //echo $this->getLayout()->createBlock('cms/block')->setBlockId('customcheckout')->toHtml() ?>
</div>
</div>