<?php $phoneNo = Mage::getStoreConfig(
	'smsapp/sms_routesm/support_num',
	Mage::app()->getStore()
);?>
<div class="checkout_footer">
	<div class="footer-container">
		<div class="footer">
			<div class="secure_shipping">
				<div class="secure_wrap">
					<div class="ship_title">payment methods</div>
					<div class="shipDiv"><span class="card1">&nbsp;</span> <span class="mastercard">&nbsp;</span> <span class="visacard">&nbsp;</span> <span class="debitcard">&nbsp;</span> <span class="verisigncard">&nbsp;</span></div>
				</div>
				<div class="shipping_wrap">
					<div class="ship_title">SHIPPING PARTNERS</div>
					<div class="shipPartner"><span class="aramex">&nbsp;</span> <span class="bluedart">&nbsp;</span></div>
				</div>
				<div class="globuson_wrap">
					<div class="ship_title">Linking Charms on the go</div>
					<div class="shipPartner"><span class="appstore">&nbsp;</span><span class="googleplay">&nbsp;</span></div>
				</div>
				<div class="follow_us_wrap">
					<div class="ship_title">connect with us</div>
					<a class="facebook-icon" href="https://www.facebook.com/" target="_blank">&nbsp;</a>
					<a class="twitter-icon" href="https://twitter.com/" target="_blank">&nbsp;</a> 
					<a class="instagram-icon" href="http://instagram.com/" target="_blank">&nbsp;</a> 
					<a class="pintrest-icon" href="http://www.pinterest.com/" target="_blank">&nbsp;</a> 
					<a class="linkedin-icon" href="https://www.linkedin.com/company/" target="_blank">&nbsp;</a> 
					<a class="gplus-icon" href="https://plus.google.com/" target="_blank">&nbsp;</a> 
					<a class="telegram-icon" href="https://www.telegram.me/" target="_blank">&nbsp;</a> 
					<a class="youtube-icon" href="http://www.youtube.com/" target="_blank">&nbsp;</a></div>
				</div>
			</div>
		</div>
	</div>
	<span class="copy_symbol">
		<a href="<?php echo $this->getUrl('terms-conditions');?>" class="tcpp">Terms And Conditions</a> <span class="vl-line">|</span> 
		<a href="<?php echo $this->getUrl('privacy-policy');?>" class="tcpp">Privacy Policy</a> <span class="vl-line">|</span>
		<?php echo $this->getCopyright() ?>
	</span>