<?php
$customer       = Mage::getSingleton('customer/session')->getCustomer();
$profileid      = $customer->getResource()->getAttribute('profile_id')->getFrontend()->getValue($customer);
$profilestatus  = $customer->getResource()->getAttribute('profile_status')->getFrontend()->getValue($customer);
$suggestion = false;
if(empty($profileid)){
    $suggestion = true;
    $profileidArr = explode("@", $customer->getEmail());
    $profileid = $profileidArr[0];
}
?>
<div class="page-title">
    <h1><?php echo $this->__('Profile Setting') ?></h1>
</div>
<div class="custom-message">
</div>
<form action="<?php echo $this->getUrl('customer/account/saveprofile') ?>" method="post" id="form-validate" autocomplete="off">
    <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
    <div class="fieldset" >
        <ul class="form-list">
            <li>
                <label for="current_password" class="required"><em>*</em><?php echo $this->__('Profile Name') ?></label>
                 <?php if($suggestion){?>
                <div class="input-box">
                    <!-- This is a dummy hidden field to trick firefox from auto filling the password -->
                    <input type="text" title="<?php echo $this->__('Profile Name') ?>" class="input-text required-entry" name="profile_name" id="profile_name" value="<?php echo $profileid;?>"/>
                </div>
                 <?php }else{?>
                 <label class="user-name"><?php echo $profileid; ?></label>
                    <?php }?>
            </li>
            <li class="fields">
                <div class="field">
                    <label for="password" class="required"><em>*</em><?php echo $this->__('Make your wishlist public?
') ?></label>
                   
                    <div class="input-box">
                        <input type="radio" title="<?php echo $this->__('No') ?>" class="input-radio validate-one-required-by-name" name="profile_status" id="profile_no" value="no" checked="checked"/><span>No</span>
                        <input type="radio" title="<?php echo $this->__('Yes') ?>" class="input-radio validate-one-required-by-name" name="profile_status" id="profile_yes" value="yes"/><span>Yes</span>
                    </div>
                   
                </div>
                <div class="field">
                   <label for="password" class="required"><em>*</em><?php echo $this->__('Your Public Wishlist') ?></label>
                   <div>
                        <a href="<?php echo $this->getUrl('wishlistnew/index/index').'p/'.$profileid;?>" target="_blank" id="wishlist_link" name="wishlist_link" >
                            <?php echo $this->getUrl('wishlistnew/index/index/').'p/'.$profileid;?>
                        </a>
                   </div>
                </div>
                <div class="field">
                   <label for="password" class="required"><em>*</em><?php echo $this->__('Your Public Profile') ?></label>
                   <div>
                       <!--  <a href="<?php //echo $this->getUrl('wishlistnew/index/publicprofile/').'p/'.$profileid;?>" target="_blank" id="profile_link" name="profile_link" >
                            <?php //echo $this->getUrl('wishlistnew/index/publicprofile/').'p/'.$profileid;?>
                        </a> -->
                        <a href="<?php echo $this->getUrl('review/customer/');?>" target="_blank" id="profile_link" name="profile_link" >
                            <?php echo $this->getUrl('wishlistnew/index/publicprofile/').'p/'.$profileid;?>
                        </a>
                   </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="buttons-set">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
        <button type="submit" id="saveprofile" name="saveprofile" title="<?php echo $this->__('Save') ?>" class="button"><span><span><?php echo $this->__('Save') ?></span></span></button>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
  
//]]>

var profile_status = ''; 
jQuery("document").ready(function($){
    profile_status = '<?php echo $profilestatus?>';
    if(profile_status != ''){
        if(profile_status == 'No'){
            $('#profile_no').attr('checked','checked');
        }
        if(profile_status == 'Yes'){
             $('#profile_yes').attr('checked','checked');
        }
    }
    jQuery("#saveprofile").click(function(e){
        e.preventDefault();
        var profilename = jQuery("#profile_name").val();
        var profilestatus = jQuery("input[name='profile_status']:checked").val() 
         if (dataForm.validator.validate()) {
            jQuery.ajax({
                url:jQuery("#form-validate").attr('action'),
                type:'POST',
                data:{profile_name:profilename,profile_status:profilestatus},
                success:function(data){

                     var html = '<ul class="messages"><li class="'+data.status+'-msg"><ul><li>' + data.message + '</li></ul></li></ul>';
                     jQuery('.custom-message').html(html).show();
                     if(data.status = "success"){
                        jQuery("#wishlist_link").html(data.publicwishlist);     
                        jQuery("#profile_link").html(data.publicprofile);     
                     }
                     
                },
                error:function(err){

                }
            });
            
         }else{
            e.preventDefault();
         }
    });
});
</script>
