<?php
$_item = $this->getItem();
$isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
//$canApplyMsrp = Mage::helper('catalog')->canApplyMsrp($_item->getProduct(), Mage_Catalog_Model_Product_Attribute_Source_Msrp_Type::TYPE_BEFORE_ORDER_CONFIRM);
?>
<li class="item">
    <?php if ($this->hasProductUrl()): ?>
        <a href="<?php echo $this->getProductUrl()?>" title="<?php echo $this->htmlEscape($this->getProductName()) ?>" class="product-image"><img src="<?php if(Mage::getStoreConfig("vigoshop_settings/category/aspect_ratio",$code)):?><?php echo $this->helper('catalog/image')->init($_item->getProduct(), 'small_image')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(65);?><?php else: ?><?php echo $this->helper('catalog/image')->init($_item->getProduct(), 'small_image')->resize(65,65*Mage::getStoreConfig("vigoshop_settings/category/ratio_height",$code)/Mage::getStoreConfig("vigoshop_settings/category/ratio_width",$code)); ?><?php endif; ?>" alt="<?php echo $this->htmlEscape($this->getProductName()) ?>" /></a>
    <?php else: ?>
        <span class="product-image"><img src="<?php if(Mage::getStoreConfig("vigoshop_settings/category/aspect_ratio",$code)):?><?php echo $this->helper('catalog/image')->init($_item->getProduct(), 'small_image')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(65);?><?php else: ?><?php echo $this->helper('catalog/image')->init($_item->getProduct(), 'small_image')->resize(65,65*Mage::getStoreConfig("vigoshop_settings/category/ratio_height",$code)/Mage::getStoreConfig("vigoshop_settings/category/ratio_width",$code)); ?><?php endif; ?>" alt="<?php echo $this->htmlEscape($this->getProductName()) ?>" /></span>
    <?php endif; ?>
    <div class="product-details">
        <p class="product-name">
            <?php if ($this->hasProductUrl()): ?>
                <a href="<?php echo $this->getProductUrl() ?>">
            <?php endif; ?>
                <?php echo $this->htmlEscape($this->getProductName()) ?>
            <?php if ($this->hasProductUrl()): ?>
                </a>
            <?php endif; ?>
        </p>
        <?php if ($_options = $this->getOptionList()):?>
        <div class="item-options">
            <?php foreach ($_options as $_option) : ?>
            <?php $_formatedOptionValue = $this->getFormatedOptionValue($_option) ?>
            <div><?php echo $this->htmlEscape($_option['label']) ?>:&nbsp;<b><?php echo $_formatedOptionValue['value'] ?></b>
                <?php if (isset($_formatedOptionValue['full_view'])): ?>
                <div class="truncated_full_value">
                    <div class="item-options">
                        <div><?php echo $this->htmlEscape($_option['label']) ?>:&nbsp;<b><?php echo $_formatedOptionValue['full_view'] ?></b></div>
                    </div>
                </div>
                <?php endif; ?>
            </div>
            <?php endforeach; ?>
        </div>
        <?php endif;?>
        <p class="qty-price">
            <?php echo $this->getQty();?> x 
             <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?>
                <?php else: ?>
                    <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()) ?>
                <?php endif; ?>
                <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                    <?php echo $this->__("(Excl. Tax)"); ?>
                <?php endif; ?>
             <?php endif; ?>
             <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                <?php $_incl = $this->helper('checkout')->getPriceInclTax($_item); ?>
                <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                    <?php echo "&nbsp;&nbsp;"; ?>
                <?php endif; ?>
                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedAmount()); ?>
                <?php else: ?>
                    <?php echo $this->helper('checkout')->formatPrice($_incl-$_item->getWeeeTaxDisposition()) ?>
                <?php endif; ?>
                <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                    <?php echo $this->__("(Incl. Tax)"); ?>
                <?php endif; ?>
              <?php endif; ?>
        </p>
        <?php if(Mage::getStoreConfig('ajaxcart/addtocart/enableothers')): ?>
            <?php 
                $params = $this->getRequest()->getParams();
                if($params['isAjax'] == 1){
                    $refererUrl = Mage::registry('referrer_url');
                    if (empty($refererUrl)) {
                        $refererUrl = Mage::getBaseUrl();
                    }
                    $deleteUrl = $this->getUrl('checkout/cart/delete',array('id'=>$_item->getId(),Mage_Core_Controller_Front_Action::PARAM_NAME_URL_ENCODED => $this->helper('core/url')->getEncodedUrl($refererUrl)));
                }else{
                    
                    $deleteUrl = $this->getUrl('checkout/cart/delete',array('id'=>$_item->getId(),Mage_Core_Controller_Front_Action::PARAM_NAME_URL_ENCODED => $this->helper('core/url')->getEncodedUrl($refererUrl)));
                }     
            ?>
            <a href="javascript:deleteAction('<?php echo $deleteUrl ?>','<?php echo $_item->getId()?>','<?php echo $this->__('Are you sure you would like to remove this item from the shopping cart?') ?>')" title="<?php echo $this->__('Remove This Item') ?>" class="btn-remove btn-remove2 top-btn-remove"><?php echo $this->__('Remove This Item') ?>
            </a>
        <?php else: ?>
            <a href="<?php echo $this->getDeleteUrl() ?>" title="<?php echo $this->__('Remove This Item') ?>" onclick="return confirm('<?php echo $this->__('Are you sure you would like to remove this item from the shopping cart?') ?>');" class="btn-remove btn-remove2 top-btn-remove"><?php echo $this->__('Remove This Item') ?>
            </a>
        <?php endif; ?>
    </div>
    <div class="clearer"></div>
</li>