#aramex_shipment_creation legend {
    display: block;
    font-weight: bold;
    margin-left: 4px;
    padding-left: 5px;
    padding-right: 5px;
	}

	.aramex_shipment_creation_fieldset {
    float: left;
    margin-bottom: 10px;
    margin-left: 4px;
    margin-right: 2px;
    min-height: 250px;
    width: 310px;
	}

	#aramex_shipment_creation {
		width: 700px;
		font-family: verdana;
		font-size: 12px;
		margin: 0 auto;
		z-index: 401;
		display: none;
		opacity: 1;
		background: #fff;
		padding: 15px;
		margin-top: 10px;
	}

	#aramex_shipment_creation_header {
		margin-bottom: 20px;
	}

	#aramex_shipment_creation_logo {
		float: right;
	}

	#aramex_shipment_creation_title {
		float: left;
		margin-left: 15px;
		margin-top: 15px;
	}

	.aramex_clearer {
		clear: both;
	}

	.aramex_shipment_creation_part {
		padding: 5px;
		margin-bottom: 10px;
	}

	#aramex_shipment label {
    display: block;
    float: left;
    font-size: 11px;
    padding: 2px;
    width: 90px;
	}

	#aramex_shipment_creation input, select{
		padding: 2px;
		display: block;
		width: 190px;
	}

	#aramex_shipment .text_short {
    clear: both;
    margin-bottom: 5px;
    min-height: 28px;
    width: 300px;
	}

	#shipment_infromation .text_short {
		min-height: 35px;
	}

	#aramex_shipment_creation .little_description {
		font-size: 9px;
		color: #555;
		float: right;
		padding-right: 20px;
		margin-bottom: 5px;
		margin-top: 3px;
	}

	#general_details {
		 margin-bottom: -10px;
	}

	.aramex_shipment_creation_fieldset_big {
		margin-bottom: 10px;
	}

	#aramex_shipment_creation_general_info {
		background: #FFFFCC;
	}

	#shipment_infromation, #shipment_infromation2 {
		float: left;
	}

	#general_details .text_short, #general_details textarea {
		width: 300px;
		float: left;
		color: #000;
	}

	#aramex_overlay {
		z-index: 400;
		position: absolute;
		width: 100%;
		height: 100%;
		display: none;
		top: 0;
		left: 0;
	}

	#aramex_items_table {
		text-align: left;
		border-collapse: collapse;
	}

	#aramex_items_table th {
		text-align: left;
		background: #ccc;
	}

	#aramex_items_table td, #aramex_items_table th {
    border: 0 none;
    padding: 1px 15px 3px 3px;
	};

	#aramex_items_table .aramex_item_qty
	{
		width: 20px;
	}

	#aramex_items_table .aramex_item_name
	{
		width: 180px;
	}

	#aramex_items_table .aramex_item_options
	{
		width: 20px;
	}

	#aramex_items_table .aramex_item_tobe_shipped {
		padding-top: 3px;
		padding-bottom: 3px;
	}

	#aramex_shipment label.error {
		display: inline-block;
		float: none;
		margin-left: 17px;
		padding-left: 58px;
		width: 200px;
	}

	#aramex_shipment a.error span,
	#aramex_shipment .required,
	#aramex_shipment .validation-advice {
		color: #000000 !important;
		font-weight: normal !important;
	}

	#aramex_shipment .error {
		color: red !important;
	}

	#shipper_details textarea, #receiver_details textarea, #shipment_infromation textarea {
		width: 190px;
	}

	#aramex_shipment_creation .aramex_input_items_qty {
		width: 25px;
	}

	legend {
	    display: block !important;
	    height: 0;
	    line-height: 0;
	    margin: 0;
	    overflow: visible;
	    visibility: visible;
	    padding: 0;
	    width: auto;
	}
#aramex_shipment_creation fieldset, .cal-form fieldset{border: 1px solid #D6D6D6; margin-bottom: 15px;
    padding: 10px 15px;}
.back-over{position:fixed; left:0; top:0;background:#000; opacity:0.7; z-index:420; display:none; width:100%; height:100%;}
.cal-rate-part, .schedule-pickup-part{ position:absolute; display:none; z-index:500; background:#fff; height:400px; width:700px; left:calc( 50% - 350px); top:calc(50% - 200px);overflow:auto;}
.cal-form fieldset, .pickup-form fieldset{ background: none repeat scroll 0 0 #FAFAFA; border: 1px solid #D6D6D6;margin-bottom: 15px;padding: 10px 15px;}
.cal-form, .pickup-form {padding:15px; }
.fl{ float:left;}
.fr{ float:right;}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.cal-form legend, .pickup-form  legand{ font-size:16px;}
.mar-10{ margin:10px 0;}
.mar-5{ margin:5px 0;}
.mar-30{ margin:30px 0;}
.fields{ }
.fields h3{ font-size:14px; }
.field label span, .red{ color:red; }
.field input,.field select{ width:250px; height:25px;  }
.field label{ width:100px; display:block; }
.width-60{ width:60px !important; }
.width-150{ width:150px !important;}
.width-270{ width:270px;}
.width-full{ width:519px !important}
.mar-right-10{ margin-right:10px;}
.mar-lf-10{ margin-left:10px;}
.rate-result, .pickup-result{ display:none; padding:0 10px; border:1px solid #ccc; }
.result .error, .pickup-res .error{ color:red; }
.result .amount{ font-weight:bold; font-size:14px; }
.calendar{ z-index:10000; left:30% !important;}
em.required{color: #d40707 !important;}
.am_autocomplete{ background: #f5f5f5; padding: 5px 10px; max-height: 114px;
    overflow-y: scroll;}
.am_autocomplete li{ cursor: pointer;}
#loading-mask{  z-index: 5000;}