<?php
/**
* Brainvire Infotech Pvt. Ltd
 * @category   Brainvire
 * @package    Brainvire_Points
 * @version    1.5.1
 * @copyright  Copyright (c) 2010-2012 Brainvire Infotech Pvt. Ltd (http://www.brainvire.com)
 * @license    
 */
?>
<div class="content-header">
    <h3 class="icon-head"><?php echo $this->getHeaderText() ?></h3>
    <p class="content-buttons form-buttons">
        <?php echo $this->getBackButtonHtml(); ?>
        <?php echo $this->getSaveButtonHtml(); ?>
    </p>
</div>
<div>
    <?php echo $this->getForm() ?>
</div>
<div>
    <?php echo $this->getCustomersGrid() ?>
</div>
<script type="text/javascript">
    //<![CDATA[

    var selectedCustomers = new Hash();
    $('selected_customers').value = selectedCustomers.toQueryString();

    Event.observe(window, 'load', function() {
    
        customerGridJsObject.rowClickCallback = transactionCustomerRowClick;
        customerGridJsObject.checkboxCheckCallback = registerTransactionCustomer;

        if (typeof(customerGrid_massactionJsObject)!='undefined') {

           
            customerGrid_massactionJsObject._selectAll = customerGrid_massactionJsObject.selectAll;
            customerGrid_massactionJsObject.selectAll = function() {               
                customerGrid_massactionJsObject._selectAll()
                $('selected_customers').value = customerGrid_massactionJsObject.getCheckedValues();
                return false;
            }

           
            customerGrid_massactionJsObject._unselectAll = customerGrid_massactionJsObject.unselectAll;
            customerGrid_massactionJsObject.unselectAll = function() {
                customerGrid_massactionJsObject._unselectAll()
                $('selected_customers').value = customerGrid_massactionJsObject.getCheckedValues();
                return false;
            }

            
            customerGrid_massactionJsObject._selectVisible = customerGrid_massactionJsObject.selectVisible;
            customerGrid_massactionJsObject.selectVisible = function() {
                customerGrid_massactionJsObject._selectVisible()
                $('selected_customers').value = customerGrid_massactionJsObject.getCheckedValues();
                return false;
            }

            
            customerGrid_massactionJsObject._unselectVisible = customerGrid_massactionJsObject.unselectVisible;
            customerGrid_massactionJsObject.unselectVisible = function() {
                customerGrid_massactionJsObject._unselectVisible()
                $('selected_customers').value = customerGrid_massactionJsObject.getCheckedValues();
                return false;
            }

        }
    });

    function registerTransactionCustomer(grid, element, checked){
        if(checked){
            selectedCustomers.set(element.value, true);
            customerGrid_massactionJsObject.setCheckbox(element);
        } else{
            selectedCustomers.unset(element.value);
            customerGrid_massactionJsObject.setCheckbox(element);
        }
        $('selected_customers').value = customerGrid_massactionJsObject.checkedString;
        
        grid.reloadParams = {'selected_customers[]':selectedCustomers.keys()};
    }
    function transactionCustomerRowClick(grid, event){
        var trElement = Event.findElement(event, 'tr');
        var isInput   = Event.element(event).tagName == 'INPUT';
        if(trElement){
            var checkbox = Element.getElementsBySelector(trElement, 'input');
            if(checkbox[0]){
                var checked = isInput ? checkbox[0].checked : !checkbox[0].checked;
                customerGridJsObject.setCheckboxChecked(checkbox[0], checked);
            }
        }
    }
   
    var transactionAddForm = new varienForm('transaction_add_form');

    //]]>
</script>
