<?php
$helper = $this->helper('sociallikebox');
$fb_result = $helper->getFBFans();
if ($fb_result) : ?>
<?php 
    $fb_profile = $fb_result['profile'];
    $fb_fans = $fb_result['fans'];
    $fb_limit = $fb_result['limit'];
?>
<div class="block block-facebook-like">
    <div class="block-title"><strong><span><?php echo $this->__('Facebook') ?></span><a target="_blank" href="<?php echo $fb_profile['link'] ?>" class="btn-like f-right" title="<?php echo $fb_profile['name'] ?>"><?php echo $this->__('Like!') ?></a></strong></div>
    <div class="block-content">
        <p><?php echo $fb_profile['likes'] ?> <?php echo $this->__('people like') ?> <a target="_blank" href="<?php echo $fb_profile['link'] ?>" title="<?php echo $fb_profile['name'] ?>"><?php echo $fb_profile['name'] ?></a></p>
        <div class="clearfix fb-persons">
            <?php
                if(Mage::app()->getFrontController()->getRequest()->isSecure())
                    $http = 'https';
                else
                    $http = 'http';
            ?>
            <?php $i = 0; foreach ($fb_fans as $fb_person): ?>
            <div class="fb-person">
            <?php 
                $json_data = file_get_contents($http.'://graph.facebook.com/'.$fb_person.'?fields=link,name');
                $result = json_decode($json_data);
                if ($result) {
                    $fb_person_link = $result->link;
                    $fb_person_name = $result->name;
                }
                $json_data = file_get_contents($http.'://graph.facebook.com/'.$fb_person.'/picture?redirect=false&width=60&height=60');
                $result = json_decode($json_data);
                
                if ($result && $result->data) {
                    $fb_person_image = $result->data->url;
                }
            ?>
                <a href="<?php echo $fb_person_link ?>" title="<?php echo $fb_person_name ?>"><img src="<?php echo $fb_person_image ?>" alt="<?php echo $fb_person_name ?>"/><?php echo $fb_person_name ?></a>
            </div>
            <?php if (++$i >= $fb_limit) break; endforeach ?>
        </div>
    </div>
</div>
<?php endif; ?>