<?php
$store = Mage::app()->getStore();
$code  = $store->getCode();
    $_enabled = Mage::getStoreConfig('sociallikebox/twitter/enabled', $code);
    $_widgetid = Mage::getStoreConfig('sociallikebox/twitter/widgetkey', $code);
    $_screen_name = Mage::getStoreConfig('sociallikebox/twitter/screen_name', $code);
    $_showcounts = Mage::getStoreConfig('sociallikebox/twitter/show_counts', $code);
    if($_enabled && $_widgetid){
?>
<script type="text/javascript">
function handleTweets(tweets){
    var x = tweets.length;
    var n = 0;
    var element = document.getElementById('feed_container');
    var html = '<ul>';
    while(n < x) {
      html += '<li>' + tweets[n] + '</li>';
      n++;
    }
    html += '</ul>';
    element.innerHTML = html;
}
function dateFormater(date) {
    return date.toDateString();
}
jQuery(document).ready(function(){
    var widgetid = '<?php echo $_widgetid ?>';
    var showcounts = <?php echo $_showcounts ?>;
    twitterFetcher.fetch(widgetid, 'feed_container', showcounts, true, true, true, dateFormater, true);
});
</script>
<a href="http://twitter.com/follow?user=<?php echo $_screen_name;?>" class="button btn-twitter-follow f-right"><?php echo $this->__('Follow') ?></a>
<div class="clear"></div>
<div id="feed_container"></div>
<?php
    }  
?>