<?php 
$result = $this->getStorelist();
?>
<?php if($result) { ?>
<h1 class="g-product-title pick-title">pick up in store</h1>
<?php } ?>
<?php if($result) { ?><div class="pickupbox">
<?php foreach ($result as $value) { ?>
<div class="pickaddbox">

	<div class="product_sku"><?php echo $value['product_sku']; ?> <span class="view-btn">View Pickup details</span></div>
	<div class="product_details">
		<span class="store_name"><?php echo $value['store_name']; ?>, </span>
		<span class="store_address"><?php echo $value['store_address']; ?>, </span>
		<span class="store_pincode"><?php echo $value['store_pincode']; ?></span>
		<span class="store_cityname"><?php echo $value['store_city']; ?>, </span>
		<span class="store_zone"><?php echo $value['store_zone']; ?>, </span>
		<span class="store_region"><?php echo $value['store_region']; ?></span>
	</div>

	<!-- <div class="product_sku"><?php echo $value['product_sku']; ?></div>
	<span class="store_name"><?php echo $value['store_name']; ?>, </span>
	<span class="store_address"><?php echo $value['store_address']; ?>, </span>
	<span class="store_pincode"><?php echo $value['store_pincode']; ?></span>
	<span class="store_cityname"><?php echo $value['store_city']; ?> </span> -->
	<!-- <span class="store_zone"><?php //echo $value['store_zone']; ?>, </span>
	<span class="store_region"><?php //echo $value['store_region']; ?></span> -->

</div>
<?php } ?>
</div><?php } ?>
