<?php 
$result = $this->getStorePopupdata();
$product_sku = $result['product_sku'];
$product_type = $result['product_type'];
$page_type = $result['page_type'];
$item_id = $result['item_id'];
$pincode_url = Mage::getUrl('iksula_storemanager/store/pincodewisestore');
$city_url = Mage::getUrl('iksula_storemanager/store/citywisestore');
?>

<header>
<!-- <a href="#" class="js-modal-close close">×</a> -->
<h3>Store Availability</h3>
</header>
<div class="modal-body store-popup">
<p>To get that unmatched look, find an LinkingCharms outlet closet to you now! </p>
<div class="city-box">
    <label>Your City</label>
    <?php 
        $results = Mage::helper('iksula_storemanager')->getStoreAllCities();
    ?>
    <select name='store[city]' id='store_city' class="validate-select" onchange="myStore('<?php echo $product_sku; ?>','<?php echo $product_type; ?>','<?php echo $city_url; ?>','<?php echo $page_type; ?>','<?php echo $item_id; ?>')">
        <option>Please select City</option>
        <?php
            foreach($results as $key =>  $region) {
                ?>
                <option value="<?php print_r(implode(",", $region)); ?>" ><?php echo $key ?></option>
                <?php
            }
        ?>
    </select>
</div>
<div class="pin-box">
    <label>Your Pincode</label>
    <input type="text" id="store_pincode" name="store_pincode"  onKeypress="numbervalidate(this)" value="" class="required-entry" maxlength="6"/>
    <button class="btn-click" onclick="pinStore('<?php echo $product_sku; ?>','<?php echo $product_type; ?>','<?php echo $pincode_url; ?>','<?php echo $page_type; ?>','<?php echo $item_id; ?>')">Enter Pincode</button>
</div>

<div id="store_result">
</div>  
</div>
<div class="close-div">
<?php if($page_type != 'product_page') { ?>
    <!-- Close button Should be here -->
    <a href="#" class="checkout-modal-close"></a>
<?php }else{ ?>
<a href="#" class="js-modal-close"></a>
<!-- <input type="button" value="Close Button" class="js-modal-close"/> -->
<?php } ?>
</div>
<script type="text/javascript">
    function numbervalidate($this) {
        jQuery($this).val(jQuery($this).val().replace(/[^\d].+/, ""));
    }
</script>
