<?php 
$result = $this->getStoredata(); 
?>
<!-- <div class="store_code"><?php //echo $result['store_code']; ?></div> -->

<div class="product_sku"><?php echo $result['product_sku']; ?></div>
<div class="store_name"><?php echo $result['name']; ?></div>
<div class="store_address"><?php echo $result['store_address']; ?></div>
<div class="store_pincode"><?php echo $result['store_pincode']; ?></div>
<div class="store_cityname"><?php echo $result['cityname']; ?></div>
<div class="store_zone"><?php echo $result['store_zone']; ?></div>
<div class="store_region"><?php echo $result['region']; ?></div>
