<?php 
if(Mage::app()->getFrontController()->getRequest()->isSecure()){
   $mapsUrl = 'https://maps.google.com/maps/api/js?sensor=false';
}
else{
   $mapsUrl = 'http://maps.google.com/maps/api/js?sensor=false';
}

$result = $this->getFeedback();
$productSku = $this->getProductSku();
$producttype = $this->getProductType();
$pagetype = $this->getPageType();
$itemid = $this->getItemId();
if($result) {
?>

<form id="StoreListingForm" method="post">
    <div class="store_result_data">
    <?php
        foreach($result as $region) {
                $region['product_sku'] = $productSku;
                $region['product_type'] = $producttype;
                if($producttype == 'configurable') {
                    $region['product_sku'] = $this->getConfigurableProductSku();
                }else {
                    $region['product_sku'] = $productSku;
                }
            ?>
            <input type="hidden" name="store_product_type" id="store_product_type" value="<?php echo $producttype; ?>" />
            <input type="hidden" name="store_product_sku" id="store_product_sku" value="<?php echo $region['product_sku']; ?>" />

            <div class="store_data">
                <div class="store_name">
                    <span class="radio_label">
                        <span class="radio_active">
                        </span>
                    </span>
                    <input type="radio" name="radio[]" value='<?php echo json_encode($region->getData()); ?>' class="data_radio"> <?php //echo $region->getData('name'); ?></div>
                
                <div class="store_full_address">
                <span class="store_address"><?php echo $region->getData('store_address'); ?>,</span>
                <span class="store_zone"><?php echo $region->getData('store_zone'); ?>,</span>
                <span class="store_pincode"><?php echo $region->getData('store_pincode'); ?>,</span>
                <span class="store_city"><?php echo $region->getData('cityname'); ?>,</span>
                <span class="store_region"><?php echo $region->getData('region'); ?></span>
                <?php if($region->getData('distance') != ''){ ?>
                    <span class="store_distance"><?php echo $region->getData('distance').' kms'; ?></span>
                <?php } ?>
                
                 <a class="setOnMap" rel="<?php echo $region->getData('store_latitude').",".$region->getData('store_longitude'); ?>" address="<?php echo $region->getData('store_address').",".$region->getData('cityname').",".$region->getData('region'); ?>">Map</a>
                </div>
            </div>
           
            <?php
        }
        $buttonTitle =  'submit/add to cart';
    ?>
    </div>
    <div id="map" class="floatr mapcover"></div>
    <?php if($pagetype == 'product_page') { ?>
        <input type="button" id="select_store" name="submit" value="Submit" class="btn-submit" />
    <?php }else if($pagetype == 'custom_page'){ ?>
        <input type="button" id="quick_select" name="submit" value="Submit" class="btn-submit" />
    <?php }else{ ?>
        <input type="hidden" id="item_id" name="item_id" value="<?php echo $itemid; ?>">
        <input type="button" value="Change Store" id="change_store">
    <?php } ?>


</form>
<!-- <div id="map_new_tab">
</div> -->
    

<?php } ?>


<style>
/*#map{
    height: 350px;
    width: 570px;
    margin: 0px auto;
}
*/
/*
.store_result_data {
    height: 232px;
}*/

</style>

<script type="text/javascript" src="<?php echo $this->getSkinUrl("js/gmap3/gmap3.js");?>"></script>
<script src="<?php echo $mapsUrl;?>" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function($){
	// $('#StoreListingForm').submit(function() {
    jQuery('#select_store').live('click',function(){
		// event.preventDefault();
        
        var store_data = $('input[name=radio[]]:checked', '#StoreListingForm').val();
        
        if(store_data) {	
        var attribute_code = jQuery('#attribute_code_used').val();
        var attribute_value = jQuery('#attribute_code_value').val();
        var qty = jQuery('#qty').val();
        
        jQuery.ajax({
            url : '<?php echo $this->getUrl("iksula_storemanager/store/selectedstore");?>',
            type : 'post',
            data : { 'store_data':store_data,'attribute_code':attribute_code,'attribute_value':attribute_value,'qty':qty},
            success : function(data) {
                var result = jQuery.parseJSON(data);
                
                jQuery(".js-modal-close, .modal-overlay").trigger("click");
                jQuery('#checkout_method_field').val('pickable');
                jQuery('#store_id_field').val(result.group_id);
                jQuery('#store_name_field').val(result.name);
                jQuery('#store_code_field').val(result.store_code);
                jQuery('#store_address_field').val(result.store_address);
                jQuery('#store_pincode_field').val(result.store_pincode);
                jQuery('#store_cityname_field').val(result.cityname);
                jQuery('#store_zone_field').val(result.store_zone);
                jQuery('#store_region_field').val(result.region);
                jQuery('#product_sku_field').val(result.product_sku);
                jQuery( ".js-modal-close" ).trigger( "click" );
                productAddToCartForm.submit(this);
            }
        });

    } else {
            alert("No Store Selected");
            return false;

        }
    }); 

    
    jQuery('#quick_select').live('click',function(){
        var store_data = $('input[name=radio[]]:checked', '#StoreListingForm').val();
        
        if(store_data) {    
        var attribute_value = jQuery('#attribute_value_data').val();
        var store_product_type = jQuery('#store_product_type').val();
        var store_product_sku = jQuery('#store_product_sku').val();

        jQuery.ajax({
            url : '<?php echo $this->getUrl("ajax/index/addToCartFromCatalog");?>',
            type : 'post',
            data : { 'store_data':store_data,'attribute_id':attribute_value,'checkoutmethod':'pickable','type':store_product_type,'product_id':store_product_sku},
            success : function(response) {
                jQuery('#attribute_code_data').val('');
                jQuery('#attribute_value_data').val('');
                //updateHeaderCartPopupAfterProductIsAdded(thissku, 'cart');
                var result = $.parseJSON(response);
                // console.log(result);
                var itemText = '';
                if( result['count'] <= 1) {
                    itemText = " <span class='suffix'> item</span>";
                } else {
                     itemText = " <span class='suffix'> items</span>";
                }
               
                jQuery('.cart_link_wrapper #headercartcount').html(result['count']);
                if( result['status'] == 'SUCCESS' ) {
                    updateHeaderCartPopupAfterProductIsAdded(store_product_sku, 'cart');
                    // $(".add-to-cart-message").text("Product added to cart successfuly");
                    $('.messages-custom li span').html(result['message']);
                    $('.messages-custom').show();
                    $('html, body').animate({
                        scrollTop: $('.header-cart-link').offset().top - 50
                    }, 500);
                    $(".add-to-cart-loader-new").hide();
                } else {
                    $('.messages-custom li span').html(result['message']);
                    $('.messages-custom').show();
                    $('html, body').animate({
                        scrollTop: $('.header-cart-link').offset().top - 50
                    }, 500);
                    $(".add-to-cart-loader-new").hide();
                }
                // var cartCount = jQuery('.cart_link_wrapper').find('span').html();
                var cartCount = result['count'];
                if( $(".select-config-buy-now").length >= 1 && cartCount > 0 ) {
                    window.location.href = $(".config-buy-now-checkout").attr("href");
                }
                jQuery(".checkout-modal-close").trigger("click");
            }
        });

    } else {
            alert("No Store Selected");
            return false;
        }
    }); 

    
    jQuery('#change_store').live('click',function(){
        var item_id = jQuery('#item_id').val();
        var store_data = $('input[name=radio[]]:checked', '#StoreListingForm').val();
        
        jQuery.ajax({
            url : '<?php echo $this->getUrl("iksula_storemanager/store/changestore");?>',
            type : 'post',
            data : { 'store_data':store_data,'item_id':item_id},
            success : function(data) {
                result = jQuery.parseJSON(data);
                jQuery('.pick-box .store_name').text(result.store_name);
                jQuery('.pick-box .store_address').text(result.store_address);
                jQuery('.pick-box .store_city').text(result.store_city);
                jQuery('.pick-box .store_pincode').text(result.store_pincode);
                jQuery(".checkout-modal-close").trigger("click");
            }
        });
    });     

    $('.setOnMap').live('click',function(){
        var coordinates = $(this).attr('rel');
        coordinatesArray = coordinates.split(',')
        lat = coordinatesArray[0];
        lon = coordinatesArray[1];
        
        var clear = {name:"marker"};
        $("#map").gmap3({clear:clear});
        var address = $(this).attr('address');
        
        $('#map').gmap3({
            map:{
            options: {
                center:[lat, lon],
                zoom:15,
            }
            },
            marker: {
                latLng: [lat, lon]
            },
            infowindow:{
                options:{
                    content: address
                },
            }
        });

        // window.setTimeout( show_map, 1000 );
    });     

    // function show_map(){
    //         // $("#map").css({'position':'inherit';'transform':'none'});
    //         var w = window.open();
    //         var html = $("#map").html();
    //         $(w.document.body).html(html);
    //         // $("#map").css({'display':'none'});
    // }

});
</script>