<?php $rawWishlist = Mage::getSingleton('core/session')->getRawwishlist();
?>
<?php if(count($rawWishlist) > 0){ ?>
    <div class="my-accountone">
        <div class="my-wishlist">
            <div class="page-title title-buttons">
                <h1>My Wishlist</h1>
            </div>

            <form id="wishlist-view-form" action="<?php echo $this->getBaseUrl();?>rawwishlist/index/update/wishlist_id/4/" method="post">
                <fieldset>
                    <input name="form_key" type="hidden" value="qprWDnUYGUOGiBPN">
                    <table class="data-table" id="wishlist-table">
                        <thead>
                            <tr class="first last">
                                <th></th>
                                <th>Product Details and Comment</th>
                                <th>Add to Cart</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
    	                	<?php
    	                	$productModel = Mage::getModel('catalog/product');
    	                	foreach($rawWishlist as $rawWItem){
    	                		$rawProduct = Mage::getModel('catalog/product')->load(Mage::getModel('catalog/product')->getIdBySku($rawWItem['sku']));
    	                		?>
    	                        <tr id="item_1" class="first odd parenttr">
    	                            <td>
    	                                <a class="product-image" href="<?php echo $rawProduct->getProductUrl()?>" title="<?php echo $rawProduct->getName()?>">
    	                                    <img src="<?php echo $rawProduct->getThumbnailUrl()?>" width="113" height="113" alt="<?php echo $rawProduct->getName()?>">
    	                                </a>
    	                            </td>
    	                            <td>
    	                                <h3 class="product-name"><a href="<?php echo $rawProduct->getProductUrl()?>" title="Ladies Stylised Top"><?php echo $rawProduct->getName()?></a></h3>
    	                                <div class="description std">
    	                                    <div class="inner"><?php echo $rawProduct->getShortDescription()?></div>
    	                                </div>
    	                            </td>
    	                            <td>
    	                                <div class="cart-cell">



    	                                    <div class="price-box">
    	                                        <span class="regular-price" id="product-price-10311">
    	                                            <span class="price"><?php echo 'Rs.'.number_format($rawProduct->getFinalPrice());?></span> </span>

    	                                    </div>


    	                                    <div class="add-to-cart-alt product-view">
    	                                        <!-- <input type="text" class="input-text qty validate-not-negative-number" name="qty[1]" value="<?php //echo $rawWItem['qty'];?>"> -->
                                                <?php if($rawProduct->isSaleable()){ ?>
    	                                        <button type="button" title="Add to Cart" typeid="<?php echo $rawProduct->getTypeId();?>" class="button btn-cart add-to-cart-from-guest-wishlist"><span><span>Add to Cart</span></span>
                                                <!-- <button type="button" title="Add to Cart" onclick="setLocation('<?php echo $this->getUrl('rawwishlist/index/addtocart').'?sku='.$rawProduct->getSku();?>')" class="button btn-cart"><span><span>Add to Cart</span></span> -->
    	                                        </button>
                                                <?php } ?>
                                                <!-- ________________  -->
                                                <?php
                                                    $optionLabel= array();
                                                    $sizeAttribute = Mage::getModel('catalog/product')->getResource()->getAttribute("size");
                                                    if($rawProduct->isConfigurable()):
                                                        $productAttributeOptions = $rawProduct->getTypeInstance(true)->getConfigurableAttributesAsArray($rawProduct);
                                                        $attributeOptions = array();

                                                        $availableSizes = array();
                                                        $allSimpleProducts = $rawProduct->getTypeInstance(true)->getUsedProducts(null, $rawProduct);
                                                        foreach ($allSimpleProducts as $simpleProductData) {
                                                            $productInfo = $simpleProductData->getData();
                                                            if( $productInfo['is_salable'] == 1) {
                                                                $availableSizes[] = $productInfo['size'];
                                                            }
                                                        }
                                                        ?>
                                                        <div class="availablesizes" style="display:none;margin-top: 5px;">
                                                            <div><b>Please Select Size: </b></div>
                                                            <?php if( !empty($availableSizes) && count($availableSizes) ) {
                                                           foreach ($availableSizes as $sizeAttributeCode) { ?>
                                                                <span ajaxurl="<?php echo $this->getUrl('rawwishlist/index/addtocart').'?sku='.$rawProduct->getSku().'&size='.$sizeAttributeCode.'&type=c&qty='.$rawWItem['qty'];?>" code="<?php echo $sizeAttributeCode?>" class="select-simples"><?php
                                                                echo $sizeAttribute->getSource()->getOptionText($sizeAttributeCode);
                                                                ?></span>
                                                            <?php   } ?>
                                                        </div>
                                                <?php } endif;?>
                                                <!-- ________________  -->


    	                                    </div>
    	                                </div>
    	                            </td>
    	                            <td class="last"><a href="<?php echo $this->getUrl('rawwishlist/index/remove').'?sku='.$rawProduct->getSku();?>"  title="Remove Item" class="btn-remove btn-remove2">Remove item</a>
    	                            </td>
    	                        </tr>
    	                    <?php } ?>
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        decorateTable('wishlist-table')
                    </script>
                    <div class="buttons-set buttons-set2 clear-rawwishlist">
                        <button type="button" class="button" onclick="setLocation('<?php echo $this->getUrl('rawwishlist/index/clearall');?>')"><span class="addmargin"><span>Clear Wishlist</span></span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
<?php } else { ?>
    <!-- empty wishlist -->
    <div class="my-wishlist">
        <div class="page-title title-buttons">
                        <h1>My Wishlist</h1>
        </div>
        <p class="wishlist-empty">You have no items in your wishlist.</p>
    </div>
    <!-- empty wishlist -->
<?php } ?>
<script type="text/javascript">
    jQuery(document).ready(function($){
        $('.add-to-cart-from-guest-wishlist').click(function(e){
            var typeId = $(this).attr('typeid');
            if(typeId = 'configurable'){
                e.preventDefault();
                $(this).next('.availablesizes').show();
            }
        });
        $(function() {
            setTimeout(function() {
                $(".col-main ul.messages").remove();
            }, 10000);
        });
        $('.select-simples').click(function(){
            var ajaxUrl = $(this).attr('ajaxurl');
            var parentToRemove = $(this).closest('.parenttr');
	        $('.youama-ajaxlogin-loader').show();
            $.ajax({
                type:"GET",
                url:ajaxUrl,
                dataType:"JSON",
                success:function(data){
                    $('.youama-ajaxlogin-loader').hide();
                    // alert(data['msg']);
                    if(data['status'] == 'success'){
                        parentToRemove.remove();
                        $('#headercartcount').text(data['ccount']);
                        $('#headerwishlistcount').text(parseInt($('#headerwishlistcount').text()) - 1);
                        $('#triggerHeaderCart').trigger('click');
                        if(parseInt(data['wcount']) == 0){
                            $('.my-account').html('<div class="my-wishlist"> <div class="page-title title-buttons"> <h1>My Wishlist</h1> </div> <p class="wishlist-empty">You have no items in your wishlist.</p> </div>');
                        }
                        var successMsg = '<ul class="messages"><li class="success-msg"><ul><li><span>'+ data['msg'] +'</span></li></ul></li></ul>'
                        $('.my-account').prepend(successMsg);
                        $(function() {
                            setTimeout(function() {
                                $(".col-main ul.messages").remove();
                            }, 3000);
                        });
                    }
                    else{
                        if(data['msg'] == 'Unable to add product to cart, please try again') {
                            alert('Unable to add product to cart, already present in Cart');
                        } else {
                            alert('The requested quantity is not available');
                        }
                    }
                }
            });

        });
    });

</script>
<style type="text/css">
    .availablesizes  span { cursor: pointer; border: 1px solid #eee; padding: 2px; margin-right: 5px; }
    .availablesizes  span:hover {  background: #000; color: #fff;}
    /*.clear-rawwishlist .addmargin { margin-top: 5px;}*/
    .clear-rawwishlist {padding-top: 0 !important; padding-bottom: 15px !important;}
    .clear-rawwishlist .addmargin {padding-bottom: 5px !important;}
</style>
<script type="text/javascript">
    jQuery(document).ready(function($){
        $( ".nav-section-cat-list li a:contains('My Wishlist')" ).css( "cursor", "default" );
        $(".nav-section-cat-list li a").on("click",function(e){
            e.preventDefault();
            if ($(this).text().indexOf("My Wishlist") >= 0){
                return false;
            }
            else{
                $(".top-link-login").trigger('click');
            }
        });
    });
</script>
