<div class="my-account">
    <div class="my-wishlist">
        <div class="page-title title-buttons">
            <h1>My Wishlist</h1>
        </div>

        <form id="wishlist-view-form" action="<?php echo $this->getBaseUrl();?>rawwishlist/index/update/wishlist_id/4/" method="post">
            <fieldset>
                <input name="form_key" type="hidden" value="qprWDnUYGUOGiBPN">
                <table class="data-table" id="wishlist-table">
                    <thead>
                        <tr class="first last">
                            <th></th>
                            <th>Product Details and Comment</th>
                            <th>Add to Cart</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="item_1" class="first odd">
                            <td>
                                <a class="product-image" href="ladies-stylised-top-10755" title="Ladies Stylised Top">
                                    <img src="media/catalog/product/cache/1/small_image/113x113/9df78eab33525d08d6e5fb8d27136e95/s/1/s15cwt058y-ivory-2.jpg" width="113" height="113" alt="Ladies Stylised Top">
                                </a>
                            </td>
                            <td>
                                <h3 class="product-name"><a href="ladies-stylised-top-10755" title="Ladies Stylised Top">Ladies Stylised Top</a></h3>
                                <div class="description std">
                                    <div class="inner">Weave magic by donning this fabulous ivory colored ladies</div>
                                </div>
                                <textarea name="description[1]" rows="3" cols="5" onfocus="focusComment(this)" onblur="focusComment(this)" title="Comment">Please, enter your comments...</textarea>
                            </td>
                            <td>
                                <div class="cart-cell">



                                    <div class="price-box">
                                        <span class="regular-price" id="product-price-10311">
                                            <span class="price">Rs.1,099</span> </span>

                                    </div>


                                    <div class="add-to-cart-alt product-view">
                                        <input type="text" class="input-text qty validate-not-negative-number" name="qty[1]" value="1">
                                        <button type="button" title="Add to Cart" onclick="addWItemToCart(1);" class="button btn-cart"><span><span>Add to Cart</span></span>
                                        </button>
                                    </div>

                                    <p><a class="link-edit" href="wishlist/index/configure/id/1/">Edit</a></p>
                                </div>
                            </td>
                            <td class="last"><a href="wishlist/index/remove/item/1/" onclick="return confirmRemoveWishlistItem();" title="Remove Item" class="btn-remove btn-remove2">Remove item</a>
                            </td>
                        </tr>
                        <tr id="item_2" class="last even">
                            <td>
                                <a class="product-image" href="ladies-stylised-top-10743" title="Ladies Stylised Top">
                                    <img src="media/catalog/product/cache/1/small_image/113x113/9df78eab33525d08d6e5fb8d27136e95/s/1/s15zcwt003-offwhite-2.jpg" width="113" height="113" alt="Ladies Stylised Top">
                                </a>
                            </td>
                            <td>
                                <h3 class="product-name"><a href="ladies-stylised-top-10743" title="Ladies Stylised Top">Ladies Stylised Top</a></h3>
                                <div class="description std">
                                    <div class="inner"></div>
                                </div>
                                <textarea name="description[2]" rows="3" cols="5" onfocus="focusComment(this)" onblur="focusComment(this)" title="Comment">Please, enter your comments...</textarea>
                            </td>
                            <td>
                                <div class="cart-cell">



                                    <div class="price-box">
                                        <span class="regular-price" id="product-price-9997">
                                            <span class="price">Rs.899</span> </span>

                                    </div>


                                    <div class="add-to-cart-alt product-view">
                                        <input type="text" class="input-text qty validate-not-negative-number" name="qty[2]" value="1">
                                        <button type="button" title="Add to Cart" class="button btn-cart add-to-cart-from-guest-wishlist"><span><span>Add to Cart</span></span>
                                        </button>
                                    </div>

                                    <p><a class="link-edit" href="wishlist/index/configure/id/2/">Edit</a></p>
                                </div>
                            </td>
                            <td class="last"><a href="wishlist/index/remove/item/2/" onclick="return confirmRemoveWishlistItem();" title="Remove Item" class="btn-remove btn-remove2">Remove item</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <script type="text/javascript">
                    //<![CDATA[
                    decorateTable('wishlist-table');


                    function focusComment(obj) {
                        if (obj.value == 'Please, enter your comments...') {
                            obj.value = '';
                        } else if (obj.value == '') {
                            obj.value = 'Please, enter your comments...';
                        }
                    }

                    function addWItemToCart(itemId) {
                        var url = 'wishlist/index/cart/item/%item%/uenc/aHR0cDovL2dsb2J1c3N0b3Jlcy5pa3N1bGFiZXRhLmNvbS9yYXd3aXNobGlzdA,,/form_key/qprWDnUYGUOGiBPN/';
                        url = url.gsub('%item%', itemId);
                        var form = $('wishlist-view-form');
                        if (form) {
                            var input = form['qty[' + itemId + ']'];
                            if (input) {
                                var separator = (url.indexOf('?') >= 0) ? '&' : '?';
                                url += separator + input.name + '=' + encodeURIComponent(input.value);
                            }
                        }
                        setLocation(url);
                    }

                    function confirmRemoveWishlistItem() {
                            return confirm('Are you sure you want to remove this product from your wishlist?');
                        }
                        //]]>
                </script>
                <script type="text/javascript">
                    decorateTable('wishlist-table')
                </script>
                <div class="buttons-set buttons-set2">

                    <button type="submit" name="save_and_share" title="Share Wishlist" class="button btn-share"><span><span>Share Wishlist</span></span>
                    </button>

                    <button type="button" title="Add All to Cart" onclick="addAllWItemsToCart()" class="button btn-add"><span><span>Add All to Cart</span></span>
                    </button>

                    <button type="submit" name="do" title="Update Wishlist" class="button btn-update"><span><span>Update Wishlist</span></span>
                    </button>
                </div>
            </fieldset>
        </form>

        <form id="wishlist-allcart-form" action="rawwishlist/index/allcart/" method="post">
            <input name="form_key" type="hidden" value="qprWDnUYGUOGiBPN">
            <div class="no-display">
                <input type="hidden" name="wishlist_id" id="wishlist_id" value="4">
                <input type="hidden" name="qty" id="qty" value="">
            </div>
        </form>
    </div>
    <div class="buttons-set">
        <p class="back-link"><a href="customer/account/"><small>« </small>Back</a></p>
    </div>
</div>
<script type="text/javascript">

    jQuery(document).ready(function($){

    });
</script>
