<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Giftcard2
 * @version    2.2.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
$element = $this->getElement();
$_htmlId = $this->getElement()->getHtmlId();
?>
<tr>
    <td class="label">
        <?php echo $this->__($element->getLabel()) ?>
    </td>
    <td colspan="10" class="grid aw-giftcard2-amounts">
        <table cellspacing="0" class="data border" id="<?php echo $_htmlId; ?>_table">
            <colgroup>
                <col width="135" />
                <col />
                <col width="1" />
            </colgroup>
            <thead>
                <tr class="headings">
                    <th><?php echo $this->__('Web Site'); ?></th>
                    <th>
                        <?php echo $this->__('Amount') ?>
                        <span class="required">*</span>
                    </th>
                    <th class="last"><?php echo $this->__('Action') ?></th>
                </tr>
            </thead>
            <tbody id="<?php echo $this->getRowsContainerId(); ?>"></tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="a-right"><?php echo $this->getAddButtonHtml() ?></td>
                </tr>
            </tfoot>
        </table>
    </td>
</tr>
<script type="text/javascript">
    //<![CDATA[
    <?php
        $options = array(
            'amountsTableSelector' => $this->_amountsTableId,
            'amountsRowTemplate' => $this->_getRowTemplate(),
            'rowsContainerSelector' => $this->getRowsContainerId(),
            'defaultWebsiteId' => $this->getDefaultWebsite(),
            'values' => $this->_getAmountsValues(),
        );
        //$amountsTableId = $this->_amountsTableId;
    ?>

    var awGCAmounts = {
        options: <?php echo Zend_Json::encode($options); ?>,
        itemsCount: 0,
        init: function() {
            this.template = new Template(this.options.amountsRowTemplate);
            var me = this;
            this.options.values.each(function(el) {
                me.addAmount(el.website_id, el.price);
            });
        },
        addAmount: function () {
            var data = {
                website_id: this.options.defaultWebsiteId,
                price: '',
                readOnly: false,
                index: this.itemsCount++
            };
            if (arguments.length > 0) {
                data.website_id = arguments[0];
                data.price = arguments[1];
            }
            $(this.options.rowsContainerSelector).insert(this.template.evaluate({data: data}));
            if (data.website_id) {
                $('aw_gc2_amount_row_' + data.index + '_website').value = data.website_id;
            }
        },
        deleteAmount: function (selector) {
            var tr = $(selector).up('tr');
            if (tr) {
                tr.remove();
            }
        },
    }
    Event.observe(document, "dom:loaded", function() {
        awGCAmounts.init();
    });
    //]]>
</script>