<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Giftcard2
 * @version    2.2.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
$element = $this->getElement();
$_htmlId = $this->getElement()->getHtmlId();
?>
<tr>
    <td class="label">
        <?php echo $this->__($element->getLabel()) ?>
    </td>
    <td colspan="10" class="grid aw-giftcard2-templates">
        <table cellspacing="0" class="data border" id="<?php echo $_htmlId; ?>_table">
            <colgroup>
                <col width="135" />
                <col />
                <col />
                <col width="1" />
            </colgroup>
            <thead>
                <tr class="headings">
                    <th><?php echo $this->__('Store View'); ?></th>
                    <th><?php echo $this->__('Email Template') ?></th>
                    <th><?php echo $this->__('Image') ?></th>
                    <th class="last"><?php echo $this->__('Action') ?></th>
                </tr>
            </thead>
            <tbody id="<?php echo $this->getRowsContainerId(); ?>"></tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="a-right"><?php echo $this->getAddButtonHtml() ?></td>
                </tr>
            </tfoot>
        </table>
    </td>
</tr>
<script type="text/javascript">
    //<![CDATA[
    <?php
        $options = array(
            'templatesRowTemplate'      => $this->_getRowTemplate(),
            'rowsContainerSelector'     => $this->getRowsContainerId(),
            'defaultWebsiteId'          => $this->getDefaultWebsite(),
            'values'                    => $this->_getTemplatesValues(),
        );
        $optionsImageUploader = array(
            'uploadUrl'                     => $this->_getImageUploadUrl(),
            'secureFormKey'                 => $this->getFormKey(),
            'imagePlaceholderClass'         => '.place-holder',
            'imageDragoverClass'            => 'aw_gc2_image__dragover',
            'loadingClass'                  => 'loading',
            'imageTemplate'                 => $this->_getImageTemplate(),
            'dontSupportFileTypeMessage'    => $this->__('We don\'t recognize or support this file extension type.'),
            'errorMessage'                  => $this->__('An error occurred while loading a file'),
        );
    ?>

    var awGCTemplates = {
        options: <?php echo Zend_Json::encode($options); ?>,
        imageUploaderOptions: <?php echo Zend_Json::encode($optionsImageUploader); ?>,
        itemsCount: 0,

        init: function() {
            this.template = new Template(this.options.templatesRowTemplate);
            var me = this;

            this.options.values.each(function(el) {
                me.addTemplate(el.store_id, el.template, el.image,  el.image_url);
            });
        },

        addTemplate: function () {
            var data = {
                index: this.itemsCount++
            };

            if (arguments.length > 0) {
                data.store_id = arguments[0];
                data.template = arguments[1];
                data.image = arguments[2];
                data.image_url = arguments[3];
            }

            $(this.options.rowsContainerSelector).insert(this.template.evaluate({data: data}));
            if (data.store_id) {
                this.getElement(data.index, 'store').value = data.store_id;
            }
            if (data.template) {
                this.getElement(data.index, 'template').value = data.template;
            }
            if (data.image) {
                this.getElement(data.index, 'image').value = data.image;
            }
            this.imageUploaderOptions.imageContainer = this.getElement(data.index, 'image_container');
            this.imageUploaderOptions.imageValue = this.getElement(data.index, 'image');
            this.imageUploaderOptions.imageLoaded = data.image_url ? data.image_url : false;
            new AWGC2ImageUploader(this.imageUploaderOptions);
        },

        deleteTemplate: function (selector) {
            var tr = $(selector).up('tr');
            if (tr) {
                tr.remove();
            }
        },

        getElement: function(index, type) {
            return $('aw_gc2_template_row_' + index + '_' + type);
        },
    }

    Event.observe(document, "dom:loaded", function() {
        awGCTemplates.init();
    });
    //]]>
</script>