<?php echo $this->getChildHtml('items_before'); ?>
<div id="checkout-review-table-wrapper">
<h1>review your order </h1>
    <table class="order-products-table" id="checkout-review-table">
        <col />
        <col width="1" />
        <col width="1" />

        <?php
        $colspan	= 1; 
        if ($this->helper('tax')->displayCartBothPrices()):
        	$colspan	= 2; 
        ?>
        <col width="1" />
        <?php endif; ?>        
        <thead>
            <tr>
                <?php /*
                <th class="first_thead_th"><?php echo $this->__('Product Name') ?></th>
                <th class="a-center"><?php echo $this->__('Qty') ?></th>
                <th class="a-right" colspan="<?php echo $colspan ?>"><?php echo $this->__('Subtotal') ?></th>
                <th class="last_th"><?php echo $this->__('') ?></th> */ ?>
            </tr>
        </thead>
        <tbody>
            <div class="review-pan">
        <?php foreach($this->getItems() as $_item): ?>
            <?php echo $this->getItemHtml($_item)?>
        <?php endforeach ?>
    </div>
        </tbody>
        <?php echo $this->getChildHtml('totals'); ?>
    </table>
</div>
<script type="text/javascript">
//<![CDATA[
    /*decorateTable('checkout-review-table');
    truncateOptions();*/
//]]>

jQuery(document).ready(function($){  
    $("#checkout-review-table-wrapper .review-pan").mCustomScrollbar();
   
});
</script>
