<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Giftcard2
 * @version    2.2.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div class="product-options">
    <?php if ($this->canRenderOptions()): ?>
        <?php $_product = $this->getProduct();?>
        <h4><?php echo $this->__('Gift Card Options') ?></h4>
        <div class="aw-gc2-product-form-options" id="aw-gc2-product-form-options">
            <div class="aw-gc2-product-form-options__card-value">
                <label for="aw_gc2_amount" class="required">
                    <em>*</em>
                    <?php echo $this->__('Card value') ?> (<?php echo $this->getDisplayCurrencySymbol() ?>)
                </label>
                <?php if ($this->isFixedAmount()): ?>
                    <?php $_amount = $this->getAmountOptions(); $_amount = array_shift($_amount); ?>
                    <div class="price-box">
                        <span class="regular-price">
                            <span class="price" id="product-price-<?php echo $_product->getId() ?><?php echo $this->getIdSuffix() ?>">
                                <?php echo Mage::helper('core')->currency($_amount, true, false); ?>
                            </span>
                        </span>
                    </div>
                    <input type="hidden" name="aw_gc2_amount" value="<?php echo $this->getFixedAmount() ?>"
                           price="<?php echo $this->getFixedAmount() ?>"
                    />
                <?php else: ?>
                    <?php if (!$this->isCustomAmountOnly()): ?>
                        <div class="aw-gc2-product-form-options__amount">
                            <div class="amount-options input-box">
                                <select name="aw_gc2_amount" id="aw_gc2_amount" class="required-entry aw-gc2-amount-entry">
                                    <option value="">
                                        <?php echo $this->__('Choose an Amount...') ?>
                                    </option>
                                    <?php foreach ($this->getAmountOptions() as $value): ?>
                                        <option value="<?php echo $value; ?>" price="<?php echo $value; ?>"
                                                <?php if ($value == $this->getAmount()): ?>selected<?php endif?>
                                        >
                                            <?php echo Mage::helper('core')->currency($value, true, false); ?>
                                        </option>
                                    <?php endforeach; ?>
                                    <?php if ($this->isAllowOpenAmount()): ?>
                                        <option value="custom" <?php if ($this->getAmount() == 'custom'): ?>selected<?php endif?>>
                                            <?php echo $this->__('Other Amount...') ?>
                                        </option>
                                    <?php endif; ?>
                                </select>
                            </div>
                        </div>
                    <?php else: ?>
                        <input type="hidden" name="aw_gc2_amount" value="custom"/>
                    <?php endif; ?>
                    <div class="aw-gc2-product-form-options__amount">
                        <?php if ($this->isAllowOpenAmount()): ?>
                            <div class="amount-custom input-box" <?php if ($this->getAmount() != 'custom' && !$this->isCustomAmountOnly()): ?>style="display:none;"<?php endif; ?>>
                                <input type="text" name="aw_gc2_custom_amount" id="aw_gc2_custom_amount"
                                       value="<?php echo $this->getCustomAmount() ?>"
                                       price="<?php echo $this->getCustomAmount() ?>"
                                       class="validate-number input-text aw-gc2-amount-entry aw-gc2-min-amount aw-gc2-max-amount <?php if ($this->getAmount() == 'custom' || $this->isCustomAmountOnly()): ?> required-entry<?php endif; ?>"
                                       placeholder="(<?php echo Mage::helper('core')->currency($this->getOpenAmountMin(), true, false) ?>-<?php echo Mage::helper('core')->currency($this->getOpenAmountMax(), true, false) ?>)"
                                />
                            </div>
                            <script type="text/javascript">
                                //<![CDATA[
                                if ($('aw_gc2_amount') !== null) {
                                    Event.observe($('aw_gc2_amount'), 'change', function (){
                                        if ($('aw_gc2_amount').value == 'custom') {
                                            $$('#aw-gc2-product-form-options .amount-custom').first().show();
                                            $('aw_gc2_custom_amount').addClassName('required-entry');
                                        } else {
                                            $$('#aw-gc2-product-form-options .amount-custom').first().hide();
                                            $('aw_gc2_custom_amount').removeClassName('required-entry');
                                        }
                                    });
                                }
                                Event.observe($('aw_gc2_custom_amount'), 'change', function (){
                                    var value = $('aw_gc2_custom_amount').value;
                                    $('aw_gc2_custom_amount').setAttribute('price', value);
                                });
                                var openAmounts = {
                                    min:<?php echo $this->getOpenAmountMin() ?>,
                                    max:<?php echo $this->getOpenAmountMax() ?>,
                                }
                                Validation.add('aw-gc2-min-amount', '<?php echo $this->__('Entered amount is too low') ?>', function(v) {
                                    var amountValue = parseFloat(v);
                                    return Validation.get('IsEmpty').test(v) || amountValue >= openAmounts.min;
                                });
                                Validation.add('aw-gc2-max-amount', '<?php echo $this->__('Entered amount is too high') ?>', function(v) {
                                    var amountValue = parseFloat(v);
                                    return Validation.get('IsEmpty').test(v) || amountValue <= openAmounts.max;
                                });
                                //]]>
                            </script>
                        <?php endif; ?>
                    </div>
                <?php endif; ?>
            </div>

            <?php if ($this->isAllowDesignSelect()): ?>
                    <div class="field required aw-gc2-product-form-options__email-template">
                        <label for="aw_gc2_template" class="required">
                            <em>*</em>
                            <?php echo $this->__('Email Template') ?>
                        </label>
                        <div class="control aw-gc2-product-form-options__template-options">
                            <select id="aw_gc2_template" name="aw_gc2_template" class="required-entry">
                                    <option value="">
                                        <?php echo $this->__('Select a template...') ?>
                                    </option>
                                <?php foreach ($this->getTemplateOptions() as $value): ?>
                                    <option value="<?php echo $value['template']; ?>"
                                            <?php if ($value['template'] == $this->getEmailTemplate()): ?>selected<?php endif?>
                                    >
                                        <?php echo $value['template_name']; ?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
            <?php endif; ?>

            <?php if ($this->isSingleDesign()): ?>
                <input type="hidden" id="aw_gc2_template" name="aw_gc2_template" value="<?php echo $this->getTemplateValue(); ?>">
            <?php endif; ?>

                <div class="form-list email fromto">
                    <div class="field required aw-gc2-product-form-options__fromto">
                        <label class="label fromto required" for="aw_gc2_recipient_name">
                            <em>*</em>
                            <span><?php echo $this->__('To') ?></span>
                        </label>

                        <div class="input-box fromto-name">
                            <input type="text" name="aw_gc2_recipient_name" placeholder="<?php echo $this->__('Recipient Name') ?>"
                                   class="required-entry input-text" value="<?php echo $this->getRecipientName() ?>"
                            />
                        </div>

                        <?php if ($this->allowedEmail()): ?>
                            <div class="input-box aw-gc2-product-form-options__email">
                                <input type="text" name="aw_gc2_recipient_email" placeholder="<?php echo $this->__('Recipient Email') ?>"
                                       class="required-entry input-text validate-email" value="<?php echo $this->getRecipientEmail() ?>"
                                />
                            </div>
                        <?php endif; ?>
                    </div>

                    <div class="field required aw-gc2-product-form-options__fromto">
                        <label class="required" for="aw_gc2_recipient_name">
                            <em>*</em>
                            <span><?php echo $this->__('From') ?></span>
                        </label>

                        <div class="input-box fromto-name">
                            <input type="text" name="aw_gc2_sender_name" placeholder="<?php echo $this->__('Sender Name') ?>"
                                   class="required-entry input-text" value="<?php echo $this->getSenderName() ?>"
                            />
                        </div>

                        <?php if ($this->allowedEmail()): ?>
                            <div class="input-box aw-gc2-product-form-options__email">
                                <input type="text" name="aw_gc2_sender_email" placeholder="<?php echo $this->__('Sender Email') ?>"
                                       class="required-entry input-text validate-email" value="<?php echo $this->getSenderEmail() ?>"
                                />
                            </div>
                        <?php endif; ?>
                    </div>
                </div>

                <?php if ($this->isAllowMessage()): ?>
                    <div class="form-list email body aw-gc2-product-form-options__email-content">
                        <div class="field aw-gc2-product-form-options__headline">
                            <label class="label" for="aw_gc2_headline">
                                <span><?php echo $this->__('Headline') ?></span>
                            </label>
                            <div class="input-box headline">
                                <input type="text" name="aw_gc2_headline"
                                       placeholder="<?php echo $this->__('Enter your headline here (optional)') ?>"
                                       class="input-text" value="<?php echo $this->getHeadline() ?>"
                                />
                            </div>
                        </div>

                        <div class="field aw-gc2-product-form-options__message">
                            <label class="label" for="aw_gc2_message">
                                <span><?php echo $this->__('Message') ?></span>
                            </label>
                            <div class="input-box message">
                            <textarea name="aw_gc2_message"
                                      placeholder="<?php echo $this->__('Enter your gift card message here (optional)') ?>"
                                      class="input-text" cols="50" rows="5"><?php echo $this->getMessage() ?></textarea>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
        </div>
    <?php endif; ?>
</div>