<?php if (!Mage::getSingleton('customer/session')->isLoggedIn()){?>
<div id="onepagecheckout_loginbox" class=''>
	<!-- <div class='close_la' onclick='close_login();'></div> -->
    <!-- <div class="page-title">
        <span><?php //echo $this->__('Login to your Account') ?></span>
    </div> -->
<?php
$login_url	= $this->getUrl('*/*/login', array('_secure'=>(!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS']==='on')));
$http_mode	= (!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS']==='on');
if($http_mode)
	$login_url	= str_replace('http:', 'https:', $login_url);  
?>
    <form method="post" id="login-form" action="<?php echo $login_url ?>" autocomplete="on">
        <div class="boxcontent form_fields">
			<div class='full fulldetaillabel'>
				
				<div class="data_area">
					<label>
						<?php echo $this->__('Email') ?>
					</label>
					<input type="text" name="login[username]" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" id="email" class="input-text required-entry validate-email" title="<?php echo $this->__('Email Address') ?>" />
				</div>
				<div class="email_error" style="display:none;">This emailid already exists. Please enter password.</div>
			</div>
			<div class='full'>
				<div class="input-box passcheck">
					<input type="radio" name="has_account" class="" id="haspass" checked="checked" title="<?php echo $this->__('has_account') ?>" />
					<label for="haspass">
					<?php echo $this->__('Continue without password'); ?>
					<div class="small_text">(Don't have an account yet)</div>
					</label>
				</div>
			</div>
			<div class='full clr'>
				<div class="input-box passcheck check_pass">
					<input type="radio" name="has_account" class="" id="haspass1" title="<?php echo $this->__('has_account1') ?>" />
					<label for="haspass1">
					<?php echo $this->__('I have a LinkingCharms Stores account and password'); ?>
					<div class="small_text">(Sign in to your account to get benefits.)</div>
					</label>
				</div>
			</div>
			<div class='full showformlog displaynone password_frm' style="display:none;">
				<label>
					<?php echo $this->__('Password') ?>
				</label>
				<sup>*</sup>
				<div class="input-box">
					<input type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="<?php echo $this->__('Password') ?>" />
				</div>
			</div>
        </div>
        <div class="buttons-set showformlog displaynone" style="display:none;">

        	
            <div class="input-box">
                <input type="checkbox" name="login[rememberme]" class="checkbox left" id="rememberme" title="<?php echo $this->__('Remember me') ?>"checked="checked"/>
            </div>
            <span for="pass" class="required remember_me for_font_line"><?php echo $this->__('Remember me') ?></span>
        	<a href="javascript:void(0);" class="onepagecheckout_forgotlink" onclick='open_forgot();'><?php echo $this->__('Forgot Your Password?') ?></a>
            <button type="submit" class="continue button happy_button step_login_button" title="<?php echo $this->__('Login') ?>" name="send" id="send2">Login</button>
            <span class="please-wait" id="login-please-wait" style="display:none;">
                <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt=""/>
            </span>
            
        </div>
    </form>
    <div class="buttons-set step1-pos check_login_button">
    	<button class="continue button happy_button step_login_button not_login_continue" id="login-step-continue" title="<?php echo $this->__('Continue') ?>" onClick="validate_form($('login-form'))">continue</button>
    </div>
    <script type="text/javascript">
    //<![CDATA[
        var loginForm = new VarienForm('login-form', true);
    //]]>
   
		        
    </script>
</div>
<?php }?>