<script type="text/javascript">
var baseurl = "<?php echo Mage::getUrl('',array('_secure'=>true))?>";
var basejsonurl = baseurl + "pincode_muster.json";

/*var all_customer_data = {};
jQuery.ajax({
    url: 'index/getAllCustomers/',
    type:'post',
    dataType: 'json',
    success: function(cust_data){
        all_customer_data = cust_data;
    }
});*/

</script>

<script type="text/javascript">

    jQuery('.numericfield').live('input', function (event) {
            this.value = this.value.replace(/[^0-9]/g, '');
                if(this.value==0 || this.value==1 || this.value==2 || this.value==7 || this.value==8 || this.value==9)
                    this.value="";
        });

    jQuery('.numericfieldCvv').live('input', function (event) {
            this.value = this.value.replace(/[^0-9]/g, '');
        });

   /* jQuery(document).ready(function (){
        jQuery('#email_address').on('focus', function () {
			jQuery('#email_address').val(jQuery('#email').val());
        });
    });*/

</script>

<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/incom_checkout.js'); ?>"></script>
<?php
/*This id for user tacking on checkout*/
/*$session                = Mage::getSingleton('checkout/session');
$quote_id               = $session->getQuoteId();
$trackCheckoutHelper    = Mage::helper('trackcheckout/data');
$trackCheckoutHelper->getQuoteDetails($quote_id);
*/
$checkoutHelper         = Mage::helper('onepagecheckout/data');
//Get all saved cards from helper
$checkoutStep = 0;
if(Mage::getSingleton('customer/session')->isLoggedIn()){
    $savedCards = $checkoutHelper->getSavedCards();
    Mage::getSingleton('checkout/session')->setSavedCards($savedCards);
    $checkoutStep = 1;
}

$trackCheckoutHelper = Mage::helper('onepagecheckout/Track');
$trackCheckoutHelper->getTrackDetailsStepOne($checkoutStep);
$logged   = $this->isCustomerLoggedIn();
$has_addr = $this->customerHasAddresses();
?>
<div class="complete_checkout">

<div class="checkout_parent">
    <span class= "steps mobile-step"></span>
    <div class="checkout_progress">

            <div class="step_bubble<?php if(Mage::getSingleton('customer/session')->isLoggedIn()): echo ' not_clickable'; endif; ?>" id="login-step"><div class="step_bubble_comn stepone">confirm order</div>
                <!-- <div class="step_1 change_state <?php // if(!Mage::getSingleton('customer/session')->isLoggedIn()): echo ' active'; endif; ?>"></div> -->
            </div>
            <div class="step_bubble<?php if(Mage::getSingleton('customer/session')->isLoggedIn()): echo ' active'; else: echo ' not_clickable'; endif; ?>" id="address-step"><div class="step_bubble_comn steptwo">Shipping Address</div>
            <!-- <div class="step_2 change_state <?php // if(Mage::getSingleton('customer/session')->isLoggedIn()): echo ' active'; endif; ?>"></div> -->
        </div>
            <div class="step_bubble not_clickable" id="payment-step"><div class="step_bubble_comn stepthree">select payment method</div>
            <!-- <div class="step_3 change_state"></div> -->
        </div>
    </div>

    <div class="checkout-leftpan">
   <!--  <span>steps 2 of 3</span>
    <span>steps 3 of 3</span>
 -->
        <?php if (!Mage::getSingleton('customer/session')->isLoggedIn()): ?>
        <div class="step step1" id="login-step">

            <div class="envelope" id="returning_user">
                <div class="form_fields input-container return_login">
                        <?php
                        echo $this->getChildHtml('customer.login');
                        echo $this->getChildHtml('customer.forgot');
                        ?>
                        <input type="hidden" value="<?php echo Mage::getSingleton('core/session')->getEmailCheckout(true);?>" id="email_Checkout" />
                </div>
            </div>

            <div class="login_with_text_onepagecheckout">
                <div class="login_title">Login with: </div>
                <div class="login_or">OR</div>
                <div class="facebook_twitter_google">
                    <?php echo $this->getChildHtml('inchoo_socialconnect_facebook_login_button1') ?>
                    <?php //echo $this->getChildHtml('inchoo_socialconnect_twitter_login_button1') ?>
                    <?php echo $this->getChildHtml('inchoo_socialconnect_google_login_button1') ?>
                </div>
            </div>
        </div>
        <?php endif; ?>

    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

    <?php
    $seq_http	= (!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS']==='on');
    ?>
        <script type="text/javascript">
        	var http_type	= '<?php if($seq_http){echo 'https';}else{echo 'http';}?>';
        </script>
        <script type="text/javascript" src="<?php echo $this->getSkinUrl('js/onepagecheckout.pack.js') ?>"></script>

        <script type="text/javascript">countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?></script>
    </div>
<form action="javascript:void(0)" method="POST" id="onepagecheckout_orderform" autocomplete="on">
<div class="col3-set onepagecheckout_datafields">
    <div class="col-1 step" id="address-step">
        <?php echo $this->getChildHtml('billing.address') ?>
        <?php //echo $this->getChildHtml('shipping.address') ?>
        <div class="address_step_continue<?php if($logged && $has_addr) echo ' logged_in'; ?> ">
            <div class="data_area">
                <span class="second_checkout_step_button continue button happy_button step_shipping_save <?php if(!$logged) {echo 'checkout_not_login';} else{echo 'checkout_loggedin';}?>" id="address-step-continue" onClick="validate_form($('onepagecheckout_orderform'))">SAVE & CONTINUE</span>
            </div>
        </div>
    </div>

    <div class="col-2 step" id="payment-step">
        <?php echo $this->getChildHtml('payment.method') ?>
        <?php if (Mage::getStoreConfig('onepagecheckout/general/comment')) : ?>
		<div class="op_block_title">
	    	<?php echo $this->helper('sales')->__('Comment') ?>
	    </div>
        <div class="form_fields">
            <div class="full">
                <div class="data_area" id='comment-block'>
                    <textarea name="order-comment" id="order-comment"><?php echo trim(Mage::getSingleton('customer/session')->getOrderCustomerComment()) ?></textarea>
                </div>
            </div>
        </div>
        <?php endif; ?>

        <div class="buttons-set review-buttons-container-hide" id="review-buttons-container">
                <button type="submit" title="<?php echo $this->__('Place Order Now') ?>" class="button btn-checkout happy_button f-right" onclick="checkout.save(); return false;"><?php echo $this->__('Place Order Now') ?></button>
                <span id="review-please-wait loader_span">
                    <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Submitting order information...') ?>" title="<?php echo $this->__('Submitting order information...') ?>" class="v-middle" /> <?php echo $this->__('Submitting order information...') ?>
                </span>
        </div>
    </div>
    <input type='submit' id='opc_submit_form' style='visibility:hidden;'/>
    <div class="col-3 order_summary">
            <?php echo $this->getChildHtml('review') ?>
    </div>

</div>
</form>
</div>



</div>

<script type="text/javascript">
//<![CDATA[
    var checkout = new OPC('onepagecheckout_orderform', {
    	save    : '<?php echo $this->getUrl('onepagecheckout/index/saveOrder', array('_secure'=>$seq_http)) ?>',
    	update  : '<?php echo $this->getUrl('onepagecheckout/index/updateCheckout', array('_secure'=>$seq_http)) ?>',
        success : '<?php echo $this->getUrl('onepagecheckout/index/success', array('_secure'=>$seq_http)) ?>',
        failure : '<?php echo $this->getUrl('checkout/cart') ?>'
    }, "<?php echo $this->__('Please agree to all the terms and conditions.') ?>");

    document.observe("dom:loaded", function() {
        var win_triggers	= Array();
   		$$('.checkout-agreements .agree a').each(function(item){
   			var obj	= {
   				el: $$('.' + item.className),
   		   		event: 'click',
				window: $(item.className + '-window')
			};
   			win_triggers.push(obj);
        });
		opc_window	= new OPC.Window({triggers: win_triggers});
    });
//]]>
</script>

<script type="text/javascript">



    jQuery('#email').live('keypress', function (event) {
         var keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode == '13'){

                if(jQuery("#haspass").is(":checked"))
                {
                    jQuery("#login-step-continue").trigger("click");
                    return false;
                    event.preventDefault();

                }

            }
    });
//<![CDATA[
 function validate_form(form_to_validate) {
    var validator = new Validation(form_to_validate,true);
    validation_status[index] = 0;
    if(validator.validate()) {
        validation_status[index] = 1;
    }
    return false;
}
//]]!>
var get_current_step = '';
if(jQuery('.step_bubble.active').length > 0) {
    get_current_step = jQuery('.step_bubble.active').attr('id');
} else {
    get_current_step = 'login-step';
}

if(get_current_step == 'login-step'){
    jQuery('.steps').html('steps <b> 1 of 3</b>');
}
else if(get_current_step == 'address-step'){
    jQuery('.steps').html('steps <b> 2 of 3</b>');
}

</script>


