<?php
	$latestReviewSku = '';
	$starCount = array();
	$percentCount = array();
	$starCount[0] = 0;
	for ($i=1;$i<=5;$i++) {
		$starCount[$i] = 0;
	}
	$reviewCount = $this->count();
	$m = 0;
	foreach ($this->getCollection() as $_review){
		if($m == 0){
			$latestReviewSku		= $_review->getSku();
		}
		$rateLarge 	  	 		= round(($_review->getSum() / $_review->getCount()) / 20) * 20;
		$currRate  	  	 		= $rateLarge/20;
		$starCount[$currRate] 	= $starCount[$currRate] + 1;
		$m++;
	}
	for($i=1;$i<=5;$i++){
		$percentCount[$i] = ($starCount[$i] / 5) * 100;
	}
$customer = Mage::getSingleton('customer/session')->getCustomer();
$fullname = $customer->getFirstname();
?>
<div class="newreview_left">
	<div class="review_customer">
    	<h3>Rating by <?php echo $fullname . ' (' . $reviewCount .')';?></h3>
	</div>
	<div class="rating_dist">Rating distribution</div>
		<ul class="ul_rating">
			<?php for($j= 5;$j>=1;$j--){ ?>
				<li>
					<span><?php echo $j .' star';?></span>
					<div class="rating_bars">
						<div class="progress_bars" style="width:<?php echo $percentCount[$j].'px';?>;"></div>
					</div>
					<span><?php echo $starCount[$j];?></span>
				</li>
			<?php } ?>
		</ul>
	<!-- <div class="recent_prod">
		<div class="recently_rated">Recently rated</div>
	</div> -->
</div>