<div class="page-title title-buttons">
  <h1>Airpay Response</h1>
  <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
</div>
<p><a href="<?php echo Mage::getUrl('checkout/cart'); ?>">Go to Cart</a></p>
