<?php
/**
* Brainvire Infotech Pvt. Ltd
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * 
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * brainvire does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * brainvire does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   Brainvire
 * @package    Brainvire_Points
 * @version    1.5.1
 * @copyright  Copyright (c) 2010-2012 Brainvire Infotech Pvt. Ltd (http://www.brainvire.com)
 * @license    
 */
?>
<?php
?>


<?php if ($this->isEnabled()): ?>
    <div  id="brainvire_points-notification-box" >

        <h4><?php echo $this->__('Email Notification Settings') ?></h4>

        <form action="<?php echo $this->getAction() ?>" method="post" id="form-validate">
            <div>
                <?php echo $this->getBlockHtml('formkey') ?>
                <input  type="checkbox" id="brainvire_points-subscription" class="checkbox" name="is_subscribed" value="1" title="<?php echo $this->__('Subscribe to balance update') ?>"<?php if ($this->getIsSubscribed()): ?> checked="checked"<?php endif; ?>  />
                <label for="brainvire_points-subscription">
                    <?php echo $this->__('Subscribe to balance update') ?>
                </label>
                <br />
                <input  type="checkbox" id="brainvire_points-subscription_exp" class="checkbox" name="is_subscribed_exp" value="1" title="<?php echo $this->__('Subscribe to points expiration notification') ?>"<?php if ($this->getIsSubscribedToExpireNotification()): ?> checked="checked"<?php endif; ?>  />
                <label for="brainvire_points-subscription_exp">
                    <?php echo $this->__('Subscribe to points expiration notification') ?>
                </label>
            </div>

            <div id="brainvire_points-button-to-subscribe">
                <button type="submit" title="<?php echo $this->__('Save Subscription Settings') ?>" class="button">
                    <span>
                        <span>
                            <?php echo $this->__('Save Subscription Settings') ?>
                        </span>
                    </span>
                </button>
            </div>

        </form>

    </div>
<?php endif; ?>