<?php /**
 * Brainvire Infotech Pvt. Ltd
 * @category   Brainvire
 * @package    Brainvire_Points
 * @version    1.5.1
 * @copyright  Copyright (c) 2010-2012 Brainvire Infotech Pvt. Ltd (http://www.brainvire.com)
 * @license
 */
?>
<?php ?>

<?php
$highLimit = $this->getBalanceLimitationHigh();
$lowLimit = $this->getBalanceLimitationLow();
$rewardpoint = $this->getPointUnitName();
$expiration = $this->getExpiration();
$infoPage = $this->getInfoPageUrl();
$pointsFromRatePointsToCurrency = $this->getPointsFromRatePointsToCurrency();
$pointsFromRateCurrencyToPoints = $this->getPointsFromRateCurrencyToPoints();
$pointsConvertedIntoMoney = $this->getPointsConvertedIntoMoney()
?>
<div id="brainvire_points-summary-box">
    <dl class="box-content">
        <?php if ($pointsFromRatePointsToCurrency || $pointsFromRateCurrencyToPoints): ?>
            <?php if ($pointsFromRatePointsToCurrency): ?>
                <dd>                	
                	<div style="margin-top:5px;">You have <b>
                		<span class="mw_rewardpoints"><?php echo $this->getCurrentPointsBalance(); ?> <?php echo $this->__('points') ?></span>
                		</b> <?php echo $this->__('available') ?> <br>
                		 <?php echo $this->__('Current exchange rates:'); ?>
                		(<b><span class="mw_rewardpoints"><?php echo $pointsFromRatePointsToCurrency; ?> <?php echo $this->__('points') ?></span></b> = <b><span class="price"><?php echo $this->getCurrencyFromRatePointsToCurrency(); ?></span></b>)</div>
            <?php endif; ?>
            <?php echo $this->__("Your current balance is <b> %s </b>",$pointsConvertedIntoMoney); ?>
            <?php if ($pointsFromRateCurrencyToPoints): ?>
                <dd><?php echo $this->__("Each <strong> %s </strong> spent will earn <strong> %s </strong> %s.",$this->getCurrencyFromRateCurrencyToPoints(),$pointsFromRateCurrencyToPoints,$rewardpoint); ?></dd>
            <?php endif; ?>
        <?php endif; ?>
        <?php if ($highLimit || $lowLimit): ?>
            <dt><?php echo $this->__('Balance limitation:'); ?></dt>
            <?php if ($highLimit): ?>
                <dd><?php echo $this->__("Balance is limited at %s  %s.",$highLimit,$rewardpoint); ?></dd>
            <?php endif; ?>
            <?php if ($lowLimit): ?>
                <dd><?php echo $this->__("Reach  %s  %s to start spending them.",$lowLimit,$rewardpoint); ?></dd>
            <?php endif; ?>
        <?php endif; ?>

        <?php if ($expiration): ?>
            <dt class="expiration"><?php echo $this->__('Each earned %s record expires in <span> %s </span> days',$rewardpoint,$expiration); ?></dt>
            <dd><?php echo $this->__('Refer to %s transaction  history to see if a specific record expires and when.',$rewardpoint); ?></dd>
        <?php endif; ?>
    </dl>
</div>