<?php $_code=$this->getMethodCode() ?>
    <fieldset class="form-list">
      <ul id="payment_form_<?php echo $_code ?>">
          <li class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" >
              Selecting Cash Payment as payment method indicate that you have agreed to pay the amount in cash at the Store or at your Doorstep.
               <?php 

                   // echo $this->getLayout()->createBlock('captcha/captcha')
                   //     ->setFormId('onepagecheckout_payment')
                   //     ->setPaymentMethod($this->getMethodCode())
                   //     ->setImgWidht(230)
                   //     ->setImgHeight(50)
                   //     ->toHtml();
              ?>

              <div id="cashcaptchaError">&nbsp</div>
              <div id="review-buttons-container" class="buttons-set">
                  <button style="display:none" onclick="checkout.save(); return false;" id ="cashpayment_checkout_save" class="checkout_success_button cashpaymentcheckout_success_button button btn-checkout happy_button" title="Place Order Now" type="submit">Place Order</button>
                  <!-- <button id='cashpaumentcheckCaptcha' class="button btn-checkout happy_button" title="Place Order" type="submit">Place Order</button> -->
              </div>



             
            </li>
             <li>
              <div class="<?php echo $this->getMethodCode() ?>-instructions-content cod-content">
                  <?php echo nl2br($this->getInstructions()) ?>
              </div>
              <div class="otp-content">
                <ul class="messages" style="display:none;">
                </ul>
                 <input type="hidden" value="<?php //echo Mage::getUrl("otp/index/sendOtpToCustomer",array('_secure'=>true));
                 if (Mage::app()->getStore()->isFrontUrlSecure() && Mage::app()->getRequest()->isSecure()) { echo Mage::getUrl("otp/index/sendOtpToCustomer",array('_secure'=>true)); } else { echo Mage::getUrl("otp/index/sendOtpToCustomer"); }
                 ?>" id="sendotpurl" name="sendotpurl" />
                  <input type="hidden" value="<?php //echo Mage::getUrl("otp/index/confirmotp",array('_secure'=>true));
                  if (Mage::app()->getStore()->isFrontUrlSecure() && Mage::app()->getRequest()->isSecure()) { echo Mage::getUrl("otp/index/confirmotp",array('_secure'=>true)); } else {echo Mage::getUrl("otp/index/confirmotp"); }
                  ?>" id="verifymobileurl" name="verifymobileurl" />
                  <input type="hidden" value="<?php echo $this->getCustomerMobileNumber();?>" id="otp_mobile" name="otp_mobile" />
                <label id="otp-link" name="otp-link"> 
                  <a href="javascript:void(0);" id="otp_click_here">Click here </a> to send OTP on <?php //echo $this->getCustomerMobileNumber();?><span class="display_otp_mobile"></span>
                </label>
                <div class="otp-verify-wrapper" >
                  <input type="password" name="confirm-otp" id="confirm-otp" maxlength="6" class="required-entry validate-digits" >
                  <input type="button" name="otp_submit" id="otp_submit" value="Verify" />
                </div>
              </div>
              <div class="otp-success" style="display:none;">
                <div><span>OTP varified successfully.</span></div>
              </div>
               <div class="buttons-set" id="review-buttons-container">
                <button type="submit" id='cashpaymentcheckCaptcha' title="<?php echo $this->__('Place Order Now') ?>" class="checkout_success_button cashpaymentcheckout_success_button button btn-checkout happy_button"><?php echo $this->__('Place Order Now') ?></button>
               <span class="cashpayment_checkout_success_loader" style="display:none;float:right;">
                    <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Submitting order information...') ?>" title="<?php echo $this->__('Submitting order information...') ?>" class="v-middle" /> <?php echo $this->__('Submitting order information...') ?>
                </span>
              </div>
      </li>        
        </ul>
    </fieldset>

    

   <script type="text/javascript">
   jQuery(document).ready(function()
   {
      jQuery('#cashpaymentcheckCaptcha').live('click',function(){
        // var values=jQuery("#onepagecheckout_orderform").serialize();
        // jQuery('.cashpayment_checkout_success_loader').show();
        // jQuery.ajax({
        //     url: "<?php echo Mage::getUrl('onepagecheckout/index/checkCaptcha',array('_secure'=>true))?>",
        //     type: "post",
        //     data: values,
        //     success: function(data){
        //          var result = JSON.parse(data);
        //          if(result.error == 1)
        //          {
        //             jQuery('.cashpayment_checkout_success_loader').hide();
        //             jQuery('#cashcaptchaError').html('<span class="error">' + result.message + '</span>');
        //             // if(result.message == 'Incorrect CAPTCHA.'){
        //               jQuery('#payment_form_cashpayment #captcha-reload').trigger('click');
        //             // }
        //             jQuery('.messages').html('');
        //          }
        //          else
        //          {
        //             jQuery('#cashcaptchaError').html('');
        //          }
                    if(isverified){
                    jQuery('#cashpayment_checkout_save').trigger('click');
                      // jQuery('#payatstore_checkout_save').trigger('click');
                    }else{
                      jQuery(".messages").html('<li class="error-msg"><ul><li>'+'Something went wrong with OTP. Please try again'+'</li></ul></li>').fadeIn().delay(5000).fadeOut();
                    }
        //     },
        //     error:function(){     
        //     }
        // });
      })
   })
   </script>