<?php

	$productCollection = Mage::getSingleton("Mage_Reports_Block_Product_Viewed")->getItemsCollection();

	$upperLimit = 10;
// echo "<pre>";print_r($productCollection->getData());exit;
	$itemPerRow = $this->getItemsPerRow();
	$c = 0;
	if($itemPerRow== '' || $itemPerRow == 'NULL'){
		$itemPerRow = 3;
	}
	$_ColWidth = (158*$itemPerRow);

	if( count($productCollection) ) { ?>
		<h1><?php echo "Recently Viewed";?></h1>
		<div class="recently_viewed_slider recently_viewed_slider-updated">
		  <?php
		  	$upperLimitCounter = 0;
			foreach ($productCollection as $product) {

				$inStock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($product->getId())->getIsInStock();
				$imageHeight = $this->getImageHeight();
				$imageHeight = !empty($imageHeight) ? $imageHeight : "220";
				$imageWidth = $this->getImageWidth();
				$imageWidth = !empty($imageWidth) ? $imageWidth : "220";
				if($upperLimitCounter < $upperLimit) {
					if( $inStock == 1 ) { ?>
						<?php $_product = Mage::getModel('catalog/product')->load($product->getId());
						$status = $_product->getStatus();
						// echo "<pre>";print_r($_product);exit;
						if( $status == 1 ) {
							// if($upperLimitCounter < $upperLimit) {
								$c++;
								$upperLimitCounter++;
						?>
							<div class="products-grid <?php echo $c; ?>" style="width:<?php echo $_ColWidth; ?>px;margin:0;">
								<!-- <div style="float:left;width:95%;padding:12px 10px;">		 -->
									<div class="slide">
										<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_product->getName() ?>" class="product-image">
										<img src="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize($imageHeight); ?>" width="<?php echo $imageWidth?>" height="<?php echo $imageHeight?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
										</a>
										<h2 class="product-name"><a href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo $product->getName() ?>" ><?php echo $_product->getName(); ?></a></h2>

										<div class="price-box">
											<span id="product-price-<?php echo $_product->getId(); ?>" class="regular-price">
											<span class="price"><?php echo Mage::helper('core')->currency($_product->getFinalPrice()); ?></span>
											</span>
										</div>
									</div>
								<!-- </div> -->
							</div>
						<?php
						}
					}
				} else {
					break;
				}
			}  ?>
		</div>
		<script>
		jQuery(document).ready(function($){
		  $('.recently_viewed_slider-updated').bxSlider({
		    minSlides: 5,
            maxSlides: 5,
            moveSlides : 1,
            slideWidth : 200,
            slideMargin: 10,
            infiniteLoop: false,
            pager: false
		  });
		});
		</script>
<?php
	}
?>
<style type="text/css">.bx-wrapper { min-width: 100% !important;}</style>
