<form method="POST" enctype="multipart/form-data" action="<?php echo Mage::getUrl('*/*/orderimport', array()); ?>" id="form_delivery">
    <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
    <div class="entry-edit">
            
	    <div class="entry-edit-head"> 
		    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Upload the CSV for Order Import'); ?></h4> 
	    </div>
	    
		<fieldset id="my-fieldset">
            <table cellspacing="0" class="form-list">
               
                <tr>
                        <td class="label"><label for="import_file">Select File to Import <span class="required">*</span></label></td>
                        <td width="30">&nbsp;</td>
                        <td class="value">
                            <input type="file" id="import_file" name="import_order" value="" title="Select the CSV File to Import" type="file" class=" required-entry"/>
                        </td>
                </tr>

                <tr>
                        <td class="label"><label for="import_file">&nbsp;<span>&nbsp;</span></label></td>
                        <td width="30">&nbsp;</td>
                        <td class="value">
                            <input id="button1" name="button1" value="SUBMIT"  type="SUBMIT" />
                        </td>
                </tr>
            </table>
        </fieldset>
        </div>
</form>


<form method="POST" enctype="multipart/form-data" action="<?php echo Mage::helper("adminhtml")->getUrl('*/*/customerImport', array()); ?>" id="customer_form">
    <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
    <div class="entry-edit">
            
        <div class="entry-edit-head"> 
            <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Upload the CSV for Customer Import'); ?></h4> 
        </div>
        
        <fieldset id="my-fieldset">
            <table cellspacing="0" class="form-list">
               
                <tr>
                        <td class="label"><label for="import_customer_file">Select File to Import <span class="required">*</span></label></td>
                        <td width="30">&nbsp;</td>
                        <td class="value">
                            <input type="file" id="import_customer_file" name="import_customer" value="" title="Select the CSV File to Import Customers" type="file" class=" required-entry"/>
                        </td>
                </tr>

                <tr>
                        <td class="label"><label for="import_customer_file">&nbsp;<span>&nbsp;</span></label></td>
                        <td width="30">&nbsp;</td>
                        <td class="value">
                            <input id="button2" name="button2" value="SUBMIT"  type="SUBMIT" />
                        </td>
                </tr>
            </table>
        </fieldset>
        </div>
</form>