body{background-color:#fff;}

.close {
	display: block !important;
	color:red;
}

#configurator{
	border-top:solid medium #442D30;
	position:relative;
	margin:0;
	padding:0;
}

.vertical-spacer{
	clear:both; display:block; padding-top:50px; 
}
#stores-content {background-color: #FFFFFF; border: 2px solid #d6d6d6; width:auto; margin-top:20px;}
#stores-content * {color: #000000 !important;}
#store_locations {padding: 20px; background: transparent;}
div.store_location {
	position: relative;
	float:left;
	width:200px;
	margin-top: 20px;
}
#stores-content .storeLocatorTitle{padding:5px 10px; background-color:#d6d6d6; font-size:20px; text-transform:uppercase;}
#stores-content .sotreLocationContent{padding:10px;}

#stores-content p, #stores-content label, #stores-content form {height:20px!important}