<script type="text/javascript">

jQuery(window).bind('beforeunload',function(){
    clearAll();
});
  function clearAll(){
    jQuery.ajax({
        url: '?clearall=true',
        success: function(data){
            var params = jQuery(data).find('#fme_layered_params');
            var div = jQuery(data).find(".category-products");
            jQuery('#fme_layered_params').replaceWith(params);   
            jQuery('.category-products').replaceWith(div); 
            jQuery('.fme_layered_attribute').removeClass('fme_layered_attribute_selected');
            
        }
  });
}
</script>
<?php
/*
 * Adding javascript include
 */
if ('front' != Mage::app()->getRequest()->getControllerName()) {
    ?>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl(); ?>js/FME/fme_layered_nav.js"></script> 
    <?php
}
?>

<?php if ($this->canShowBlock()): $state = $this->getStateInfo() ?>
    <div class="block block-layered-nav">
         
        <div class="block-content">
            <?php echo $this->getStateHtml() ?>
            <?php if ($this->canShowOptions()): ?>
                <?php
                //echo "<pre>";
                //print_r($state);
                ?>
                <div class="fme-filter">
                    <input type="hidden" id="fme_layered_url" value="<?php echo $this->htmlEscape($state[0]) ?>"/>
                    <input type="hidden" id="fme_layered_params" value="<?php echo $this->htmlEscape($state[1]) ?>"/> 
                    <input type="hidden" id="fme_layered_ajax" value="<?php echo $this->htmlEscape($state[2]) ?>"/> 
                    <dl id="fme_filters_list">
                        <?php //if ($state[1] AND $this->bNeedClearAll()): ?>
                            <!-- <div class="actions fme_layered_clear_all"><a class="fme_layered_clearall" href="<?php //echo $this->htmlEscape($this->getClearAllUrl()) ?>"><?php //echo $this->__('Clear All') ?></a></div> -->            
                        <?php //endif ?>

                        <?php $_filters = $this->getFilters() ?>
                        <?php foreach ($_filters as $_filter): ?>
                            <?php if ($_filter->getItemsCount() && $_filter->getName() != "Category"): ?>
                                <div class="filter_dropdown">
                                    <div class="fme_layered_dt dd-label filter_downarrow fme_layered_dt_selected">
                                    <?php //if ($clearUrl = $_filter->getClearUrl()): ?>
                                        <!-- <a id="<?php //echo $_filter->getVar() ?>-clear" <?php //if (!$this->getIsRemoveLinks()): ?>href="<?php //echo $this->htmlEscape($clearUrl) ?>" <?php //endif; ?> class="btn-remove fme_layered_clear" title="<?php //echo $this->__('Remove This Item') ?>"><?php //echo $this->__('Remove This Item') ?></a> -->
                                    <?php //endif

                                        if($_filter->getName()=="Category"){
                                            echo $this->__("Type");                                         
                                        }
                                        else{
                                            echo $this->__($_filter->getName());
                                        }
                                    ?>
                                        <span class="toggle_arrow">&nbsp;</span>
                                    </div>
                                    <ul <?php echo $this->getHeightStyle() ?> id="fme_layered_<?php echo $_filter->getVar() ?>" class="filter_ul" style="display:none"><?php echo $_filter->getHtml() ?></ul>
                                    
                                  </div>

                            <?php endif; ?>
                        <?php endforeach; ?>
                    </dl>
                    <div class="overlay3"> </div>
                    <script type="text/javascript">
                        decorateDataList('narrow-by-list');
                        fme_layered_init();
                    </script>
                </div>
            <?php endif; ?>
        </div>
        <div class="fme_loading_filters" style="display:none"></div>
    </div>
<?php endif; ?>
<style>
.overlay3{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%;
    z-index: 1;
    display: none;
}
#fme_filters_list{
    position: relative;
    z-index: 2
}
</style>
<script type="text/javascript">
  jQuery(document).ready(function($){
$(".fme_layered_dt").click(function(){
var status_display = $(this).next().css("display");
if(status_display == "block"){
$(".overlay3").hide();
$(this).next().hide();
}else{
$("ul.filter_ul").hide();
$(".fme_layered_dt").addClass("fme_layered_dt_selected");
$(this).next().show();
$(".overlay3").show();
$(this).removeClass("fme_layered_dt_selected");
}
});
$(".overlay3").click(function(){
$("ul.filter_ul").hide();
$(".overlay3").hide();
$(".fme_layered_dt").addClass("fme_layered_dt_selected")
});
});
    
</script>
 








