<?php 
$items        = $this->getFiltersArray();
$displayStyle = $this->getColumnsNum(); 
?>

<?php if ($displayStyle <=1): // one column ?>
	<?php $i = 1; $more = 0;?>
    <?php foreach ($items as $_item): ?>
    <?php if($i <= 4): ?>
    		<li><?php echo $_item?></li>
    	<?php endif;?>
    	<?php if($i == 5): ?>
    		<li><?php echo $_item?></li>
    		<?php $more = 1;?>
    	<?php endif;?>
    	<?php if($i > 5): ?>
    		<li class="more_values" style="display:none;"><?php echo $_item?></li>	
    	<?php endif;?>
    	
        <!-- <li class="filter_values"><?php //echo $_item?></li> -->
        <?php $i++; ?>
    <?php endforeach ?>
    <?php if($more == 1):?>
    	<div class="more">more[+]</div>	
    	<div class="less" style="display:none;">less[-]</div>	
    <?php endif;?>
<?php endif ?>


<script type="text/javascript">
	// Hide show elements of navigation
	jQuery(document).ready(function($){
		
		$('.more').click(function(){
			var parent = $(this).parent().attr('id');
			$('#' + parent + ' .more_values').show('slow');
			$('#' + parent + ' .more').hide();
			$('#' + parent + ' .less').show();
		});
		$('.less').click(function(){
			var parent = $(this).parent().attr('id');
			$('#' + parent + ' .more_values').hide('slow');
			$('#' + parent + ' .more').show();
			$('#' + parent + ' .less').hide();
		});
	});
</script>