<?php $cpBlock = $this->getLayout()->getBlockSingleton('Mage_Catalog_Block_Product_List_Toolbar');?>

<!-- <ol>
<?php //foreach ($this->getItems() as $_item): ?>
    <li>
        <a id="<?php //echo $_item->getFilter()->getRequestVar() . '-' . $_item->getValueString()?>" href="<?php //echo $this->htmlEscape($_item->getUrl()) ?>" class="fme_layered_price <?php //if ($this->isSelected($_item)) echo 'adj-nav-price-selected';?>" ><?php //echo $_item->getLabel() ?></a> (<?php //echo $_item->getCount() ?>)
    </li>
<?php //endforeach ?>
</ol> -->
<?php

$currentUrl = Mage::helper('core/url')->getCurrentUrl();
if (strpos($currentUrl,'?') === false) {
    $currentUrl = $currentUrl."?";
}
$currentUrl =str_replace("&dir=asc&order=price", "", $currentUrl);
$currentUrl =str_replace("&dir=desc&order=price", "", $currentUrl);
$currentUrl =str_replace("&dir=asc", "", $currentUrl);
$currentUrl =str_replace("&dir=desc", "", $currentUrl);
?>
<ol>
    <li>
        <a id="low_to_high" onclick="ajax(jQuery(this).attr('id'))" data-value="<?php echo $currentUrl.'&dir=asc&order=price' ?>" class="filter_price">Low to High</a>
    </li>
    <li>
        <a id="high_to_low" onclick="ajax(jQuery(this).attr('id'))" data-value="<?php echo $currentUrl.'&dir=desc&order=price' ?>" class="filter_price">High to Low</a>
    </li>
</ol>
<script type="text/javascript">

    function ajax(id){
        var url = jQuery("#"+id).data('value');
        
        jQuery.ajax({
            url: url,
            type: "POST",
            beforeSend: function(){
                jQuery('.fme_loading_filters').css("display",'block');
            },        
            success: function(data){

            var div = jQuery(data).find(".category-products");
            var params = jQuery(data).find('#fme_layered_params');
            var price_div = jQuery(data).find('#fme_layered_price')
            
            jQuery('.category-products').replaceWith(div);
            jQuery('#fme_layered_params').replaceWith(params);
            jQuery('#fme_layered_price').replaceWith(price_div);
            jQuery('.fme_loading_filters').css('display','none');
            jQuery('.filter_downarrow').addClass('fme_layered_dt_selected');
            jQuery('.filter_price').removeClass('selected');
            jQuery("#"+id).addClass('selected');
            jQuery('#fme_layered_price').css('display','none');
            
            
          }
      });
    }
</script>
<style>
    .filter_price:hover,.filter_price.selected{ color :red; cursor: pointer;}
</style>