
	<?php //echo $this->getLayout()->createBlock('page/html')->setTemplate('md/quickview/page/lablequickview.phtml')->toHtml(); ?>


<?php foreach ($this->getItems() as $_item):?>
    <li>
        <?php if ($_item->getIsCurrent()): ?>
        <!-- <span class="adj-nav-category-current"><?php echo $_item->getLabel() ?></span> -->
        <?php  else: ?>
		<?php if (Mage::getStoreConfig('layerednav/layerednav/reload_categories')) {
                $url = $_item->getUri();
                if(!$url){
                     $url = $_item->getUrl();
                }
        ?>
                    <a id="cat-<?php echo $_item->getCategoryId()?>" href="<?php echo $this->htmlEscape($url) ?>" class="adj-nav-pad<?php echo $_item->getLevel()?>"><?php echo $_item->getLabel() ?></a>
                <?php } else { ?>
                        <a id="cat-<?php echo $_item->getCategoryId()?>" href="<?php echo $this->htmlEscape($url) ?>" class="fme_layered_category adj-nav-pad<?php echo $_item->getLevel()?>"><?php echo $_item->getLabel() ?></a>
                <?php } ?>
        <?php endif ?>
    </li>
<?php endforeach ?>
