<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/jquery.sticky.js');?>"></script>
<?php
/*
 * Adding javascript include
 */
if ('front' != Mage::app()->getRequest()->getControllerName()) {
    ?>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl(); ?>js/FME/fme_layered_nav.js"></script>
    <?php
}
?>

<?php if ($this->canShowBlock()): $state = $this->getStateInfo() ?>
    <div class="block block-layered-nav">
        <div class="block-content">
            <?php echo $this->getStateHtml() ?>
            <?php if ($this->canShowOptions()): ?>
                <?php
                //echo "<pre>";
                //print_r($state);
                ?>
                <div class="fme-filter org-filter">
                    <input type="hidden" id="fme_layered_url" value="<?php echo $this->htmlEscape($state[0]) ?>"/>
                    <input type="hidden" id="fme_layered_params" value="<?php echo $this->htmlEscape($state[1]) ?>"/>
                    <input type="hidden" id="fme_layered_ajax" value="<?php echo $this->htmlEscape($state[2]) ?>"/>
                    <dl id="fme_filters_list">
                        <?php if ($state[1] AND $this->bNeedClearAll()): ?>
                            <div class="actions fme_layered_clear_all"><a class="fme_layered_clearall" href="<?php echo $this->htmlEscape($this->getClearAllUrl()) ?>"><?php echo $this->__('Clear All') ?></a></div>
                        <?php endif ?>

                        <?php $_filters = $this->getFilters() ?>
                        <?php foreach ($_filters as $_filter): ?>
                            <?php if ($_filter->getItemsCount()): ?>
                                <dt class="fme_layered_dt ">
                                <?php if ($clearUrl = $_filter->getClearUrl()): ?>
                                    <a id="<?php echo $_filter->getVar() ?>-clear" <?php if (!$this->getIsRemoveLinks()): ?>href="<?php echo $this->htmlEscape($clearUrl) ?>" <?php endif; ?> class="btn-remove fme_layered_clear" title="<?php echo $this->__('Clear') ?>"><?php echo $this->__('Clear') ?></a>
                                <?php endif ?>
                                <?php echo '<li class="category_name">' . $this->__($_filter->getName()) . '</li>';?>
                                </dt>
                                <dd <?php echo $this->getHeightStyle() ?> id="fme_layered_<?php echo $_filter->getVar() ?>">

                                    <?php
                                        if($_filter->getName() == 'Price'){
                                            echo $_filter->getHtml(); ?>
                                            <li class="priceRange" min="1" max="500"><a href="#" class="fme_layered_attribute_price">From 0 To 500</a></li>
                                            <li class="priceRange" min="500" max="1000"><a href="#" class="fme_layered_attribute_price">From 500 To 1000</a></li>
                                            <li class="priceRange" min="1000" max="1500"><a href="#" class="fme_layered_attribute_price">From 1000 To 1500</a></li>
                                            <li class="priceRange" min="1500" max="2000"><a href="#" class="fme_layered_attribute_price">From 1500 To 2000</a></li>
                                            <li class="priceRange" min="2000" max="2500"><a href="#" class="fme_layered_attribute_price">From 2000 To 2500</a></li>
                                            <li class="priceRange" min="2500" max="100000"><a href="#" class="fme_layered_attribute_price">2500 and Above</a></li>
                                            <script type="text/javascript">
                                            jQuery(document).ready(function($){
                                                var selectedMin = $('#fme_layered_price input[name="From"]').val();
                                                if(selectedMin != '' && selectedMin != 'From'){

                                                    $('.priceRange[min="' + selectedMin +'"]').children().addClass('fme_layered_attribute_selected');
                                                }
                                                $('#fme_layered_price ol').hide();
                                                $('.priceRange a').click(function(e){
                                                    e.preventDefault();
                                                    if($(this).hasClass('fme_layered_attribute_selected')){
                                                        $('.priceRange a').removeClass('fme_layered_attribute_selected');
                                                        removefilter();
                                                    }
                                                    else{
                                                        $('.priceRange a').removeClass('fme_layered_attribute_selected');
                                                        $(this).addClass('fme_layered_attribute_selected');
                                                        var min = $(this).parent().attr('min');
                                                        var max = $(this).parent().attr('max');
                                                        $('#fme_layered_price input[name="From"]').val(min);
                                                        $('#fme_layered_price input[name="To"]').val(max);
                                                        $('#price_button_go---price').trigger('click');
                                                    }
                                                });
                                            });
                                                function removefilter()
                                                {
                                                    var link = document.getElementById('price-clear');
                                                    link.click();
                                                }
                                            </script>
                                            <?php ?>
                                        <?php }
                                        else{
                                            echo $_filter->getHtml();
                                        }
                                     ?>

                                </dd>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </dl>
                    <script type="text/javascript">
                        decorateDataList('narrow-by-list');
                        fme_layered_init();
                    </script>
                </div>

            <?php endif; ?>
        </div>
        <div class="fme_loading_filters" style="display:none"></div>
    </div>

<?php endif; ?>


<script type="text/javascript">
    // fme_layered_init();
    // jQuery(document).ready(function($){
    //     $(window).ready(function($){
    //         $(".fme-filter").sticky({ topSpacing: 20,bottomSpacing : 150 });
    //     });
    //     $( window ).resize(function() {
    //         $(".fme-filter").sticky('update');
    //     });
    //     <?php if(Mage::helper('backdrop')->getIsProduction()): ?>
    //         /*code to track fileters in GA*/
    //         $('#fme_filters_list a').on('click',function(){
    //             var selectedFilterType = $(this).closest('dd').prev().children('li').text();
    //             if(selectedFilterType == ""){
    //                 return false;
    //             }
    //             if (selectedFilterType == 'Color'){
    //                 var selectedFilterValue = $(this).text().replace(/\s/g, '');;
    //             }
    //             else{
    //                 var selectedFilterValue = $(this).text();
    //             }
    //             var trackFilters = selectedFilterType + ' : ' + selectedFilterValue;
    //             ga('send', 'event', { eventCategory: trackFilters, eventAction: 'Click', eventLabel: 'Track Page as to from which page the filters were utilized'});
    //         });
    //         /*code to track fileters in GA*/
    //     <?php endif; ?>
    // });




</script>

<style type="text/css">
    div.fme-filter a.fme_layered_attribute_price {
        padding-left: 25px;
        background: transparent url(<?php echo $this->getBaseUrl();?>/skin/frontend/statusquo/default/images/FME/Check-Box.png) no-repeat scroll 0px 2px;
    }
    .is-sticky .fme-filter { width: 19% !important;}
    dl#fme_filters_list dt.fme_layered_dt li { font-size: 13px !important; padding: 3px 15px !important;}
    #fme_filters_list li {padding: 4px 0 !important; font-size: 12px !important; }
</style>
