<?php if ($this->canShowBlock()): $state = $this->getStateInfo() ?>
    <div class="block-layered-top">
        <div class="block-content">
            <?php //echo $this->getStateHtml() ?>
            <?php if ($this->canShowOptions()): ?>
                <div class="fme-filter org-filter">
                    <input type="hidden" id="fme_layered_url" value="<?php echo $this->htmlEscape($state[0]) ?>"/>
                    <input type="hidden" id="fme_layered_params" value="<?php echo $this->htmlEscape($state[1])."&blockposition=top";?>"/>
                    <input type="hidden" id="fme_layered_ajax" value="<?php echo $this->htmlEscape($state[2]) ?>"/>
                    <input type="hidden" id="fme_layered_position" name="fme_layered_position" value="top"/>
                    <dl id="fme_filters_list">
                        <?php if ($state[1] AND $this->bNeedClearAll()): ?>
                            <div class="actions fme_layered_clear_all"><a class="fme_layered_clearall" href="<?php echo $this->htmlEscape($this->getClearAllUrl()) ?>"><?php echo $this->__('Clear All') ?></a></div>
                        <?php endif ?>

                        <?php $_filters = $this->getFilters() ?>
                        <?php foreach ($_filters as $_filter): ?>

                            <?php if(strtolower($this->__($_filter->getName())) != 'size'){ continue;}?>
                            <?php if ($_filter->getItemsCount()): ?>
                                <dt class="fme_layered_dt ">
                                <?php if ($clearUrl = $_filter->getClearUrl()): ?>
                                    <a id="<?php echo $_filter->getVar() ?>-clear" <?php if (!$this->getIsRemoveLinks()): ?>href="<?php echo $this->htmlEscape($clearUrl) ?>" <?php endif; ?> class="btn-remove fme_layered_clear" title="<?php echo $this->__('Clear') ?>"><?php echo $this->__('Clear') ?></a>
                                <?php endif ?>
                                <?php echo '<li class="category_name">' . $this->__($_filter->getName()) . '</li>';?>
                                </dt>
                                <dd <?php echo $this->getHeightStyle() ?> id="fme_layered_<?php echo $_filter->getVar() ?>">

                                    <?php
                                        if($_filter->getName() == 'Price'){
                                            echo $_filter->getHtml(); ?>
                                            <li class="priceRange" min="1" max="500"><a href="#" class="fme_layered_attribute_price">From 0 To 500</a></li>
                                            <li class="priceRange" min="500" max="1000"><a href="#" class="fme_layered_attribute_price">From 500 To 1000</a></li>
                                            <li class="priceRange" min="1000" max="1500"><a href="#" class="fme_layered_attribute_price">From 1000 To 1500</a></li>
                                            <li class="priceRange" min="1500" max="2000"><a href="#" class="fme_layered_attribute_price">From 1500 To 2000</a></li>
                                            <li class="priceRange" min="2000" max="2500"><a href="#" class="fme_layered_attribute_price">From 2000 To 2500</a></li>
                                            <li class="priceRange" min="2500" max="100000"><a href="#" class="fme_layered_attribute_price">2500 and Above</a></li>
                                            <?php ?>
                                        <?php }
                                        else{
                                            echo $_filter->getHtml();
                                        }
                                     ?>

                                </dd>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </dl>
                </div>

            <?php endif; ?>
        </div>
        <div class="fme_loading_filters" style="display:none"></div>
    </div>

<?php endif; ?>
