td.aw-giftcard2-amounts, td.aw-giftcard2-templates {
    padding: 5px;
}
td.aw-giftcard2-amounts .data {
    width: 465px;
}
td.aw-giftcard2-templates .data {
    width: 565px;
}

#aw_gc2_email_templates_table .images {
    width: 150px;
}

#aw_gc2_email_templates_table .image {
    text-align: center;
    vertical-align: middle;
}

#aw_gc2_email_templates_table .place-holder {
    background: #d9edf7 none repeat scroll 0 0;
    border: 1px dashed #4998b0;
    border-radius: 5px;
    padding: 1px 25px;
    color: #31708f;
}

#aw_gc2_email_templates_table .loading {
    opacity: .5;
    pointer-events: none;
}

.aw_gc2_image__dragover {
    border-color: #1B6081 !important;
    border-width: 2px !important;
    padding: 0 24px 0 24px !important;
}

#aw_gc2_email_templates_table input[type="file"] {
    display: none;
}

#aw-giftcard2-templates_container .col-delete{
    text-align: center;
    vertical-align: middle;
}

#aw_gc2_giftcard_info {
    float: left;
}

#aw_gc2_order_info, #aw_gc2_sender_details {
    float: right;
}

#aw_gc2_giftcard_info, #aw_gc2_order_info, #aw_gc2_sender_details {
    width: 48.5%;
}

#aw_gc2_recipient_details {
    clear: both;
}

.aw-gc2-product-form-options__card-value {
    height: 3em;
}

.aw-gc2-product-form-options__email-template label {
    display: block;
    clear: both;
}

.aw-gc2-product-form-options .aw-gc2-product-form-options__email-template,
.aw-gc2-product-form-options .aw-gc2-product-form-options__fromto,
.aw-gc2-product-form-options .aw-gc2-product-form-options__email-content {
    margin-top: 5px;
}

.aw-gc2-product-form-options__card-value label {
    display: block;
}

.aw-gc2-product-form-options__amount {
    float: left;
    margin-right: 5px;
}

.aw-gc2-product-form-options .fromto {
    display: block;
    clear: both;
}

.aw-gc2-product-form-options__fromto .fromto-name {
    margin-bottom: 5px;
}

.aw-gc2-product-form-options__headline input {
    width: 60%;
}

