
<div class="quickview-main cart-modal-main">
    <?php //echo $this->getChildHtml('head') ?>
    <?php echo $this->getChildHtml('content') ?>
</div>
<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery('form').submit(function (e) {
			e.preventDefault();
			data = jQuery('#updatecart').serialize();
      		var url = jQuery(this).attr('action');
      		var total = 0;
			jQuery.fancybox.showLoading();
			jQuery.ajax({
				url: url,
				method: "POST",
				dataType: 'json',
				data: data,
				success: function(response) {
					 	if(response.cartitems==""){

							jQuery('.cart').empty().html(response.noitemsblock);
						}
						else{
								jQuery('.cartitems').empty().html(response.cartitems);
						 		jQuery('.checkout-types').empty().html(response.orderlink);
									jQuery('#shopping-cart-totals-table').empty().replaceWith(response.carttotals);
									if(jQuery('.block-cart').length>0){
					                    jQuery('.block-cart').replaceWith(response.sidebar);
					                }
					                if(jQuery('.header .links').length>0){
					                    jQuery('.header .links').replaceWith(response.toplink);
					                    jQuery('body').find('a.top-link-cart').attr('onclick', 'return false;');
					                }
					                jQuery('.input-text.qty').each(function (index, element) {
							        total = total + parseFloat(jQuery(element).val());
							    });
							   	//alert(total);
							    jQuery('.op_block_title_cart').html(total);
							    jQuery('.fill-cart').html(total);
							    jQuery('#headercartcount').html(total);
							    /*mihir*/
								// if(totalErrors == 0 && $( ".overlay-cart .btn-proceed-checkout" ).length == 0){
								// 	alert('testing going on');
								// }
								var totalErrors = jQuery('.cart_desc_pro .item-msg').length;
							    var buttonPlaceorder = jQuery(".overlay-cart .btn-proceed-checkout" ).length;
							    if(totalErrors == 0 && buttonPlaceorder == 0){
							    	jQuery('#updatecart').trigger('submit');
							    }
							    /*mihir*/
						}


					jQuery.fancybox.hideLoading();
				}
			})
      	})
	})
</script>


