<?php
/**
* Brainvire Infotech Pvt. Ltd
 * @category   Brainvire
 * @package    Brainvire_Points
 * @version    1.5.1
 * @copyright  Copyright (c) 2010-2012 Brainvire Infotech Pvt. Ltd (http://www.brainvire.com)
 * @license    
 */
?>

<?php if ($this->getCustomerUrl()): ?>
    <td class="label"><?php echo $this->getElement()->getLabel(); ?></td>
    <td class="value">
        <a id="<?php echo $this->getHtmlId(); ?>" href="<?php echo $this->getCustomerUrl() ?>" >
            <?php echo $this->getElement()->getValue(); ?>
        </a>
    </td>
<?php else: ?>
    <tr>
        <td class="label"><?php echo $this->getElement()->getLabel(); ?></td>
        <td class="value">
            <a id="<?php echo $this->getHtmlId(); ?>" href="<?php echo $this->getCustomerEmail() ?>" >
                <?php echo $this->getElement()->getValue(); ?>
            </a>
        </td>
    </tr>
<?php endif; ?>

