<?php if (!Mage::getSingleton('customer/session')->isLoggedIn()){?>
<div id="onepagecheckout_loginbox" class=''>
    <!-- <div class='close_la' onclick='close_login();'></div> -->
    <!-- <div class="page-title">
        <span><?php //echo $this->__('Login to your Account') ?></span>
    </div> -->
<?php
$login_url  = $this->getUrl('*/*/login', array('_secure'=>(!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS']==='on')));
$http_mode  = (!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS']==='on');
if($http_mode)
    $login_url  = str_replace('http:', 'https:', $login_url);  
?>
    <form method="post" id="login-form" action="<?php echo $login_url ?>" autocomplete="on">
        <div class="boxcontent form_fields">
            <div class='full fulldetaillabel'>
                <label>
                    <?php echo $this->__('Email Address') ?>
                </label>
                <sup>*</sup>
                <div class="data_area">
                    <input type="text" name="login[username]" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" id="email" class="input-text required-entry validate-email" title="<?php echo $this->__('Email Address') ?>" />
                </div>
            </div>
            <div class='full'>
                <label>
                    <?php echo $this->__('Password') ?>
                </label>
                <sup>*</sup>
                <div class="input-box">
                    <input type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="<?php echo $this->__('Password') ?>" />
                </div>
                <?php echo $this->getChildHtml('form.additional.info'); ?>
                <?php echo $this->getChildHtml('persistent.remember.me'); ?>
            </div>
        </div>
        <div class="buttons-set">
            <button type="submit" class="button happy_button step_login_button" title="<?php echo $this->__('Login') ?>" name="send" id="send2">Login</button>
            <span class="please-wait" id="login-please-wait" style="display:none;">
                <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt=""/>
            </span>
            <a href="javascript:void(0);" class="onepagecheckout_forgotlink" onclick='open_forgot();'><?php echo $this->__('Forgot Your Password?') ?></a>
        </div>
        <div class="buttons-set">
            <button type="button" title="<?php echo $this->__('Create an Account') ?>" class="button" onclick="window.location='<?php echo Mage::helper('persistent')->getCreateAccountUrl($this->getCreateAccountUrl()) ?>';"><span><span><?php echo $this->__('Create an Account') ?></span></span></button>
        </div>
    </form>
        <div class="facebook_twitter_google">
           <?php echo $this->getChildHtml('inchoo_socialconnect_facebook_login_button') ?>
            <?php //echo $this->getChildHtml('inchoo_socialconnect_twitter_login_button'); ?>
            <?php echo $this->getChildHtml('inchoo_socialconnect_google_login_button'); ?>
        </div>
    <script type="text/javascript">
    //<![CDATA[
        var loginForm = new VarienForm('login-form', true);
    //]]>
    </script>
</div>
<?php }?>