<?php 
$mage_ver = Mage::helper('onepagecheckout')->getMagentoVersion();
$logged		= $this->isCustomerLoggedIn();
$has_addr	= $this->customerHasAddresses();
$cart = Mage::getModel('checkout/cart')->getQuote();
foreach ($cart->getAllItems() as $item) {
	if($item->getProductType() != 'configurable') {
		$checkoutMethod[] = $item->getCheckoutMethod();
	}
}
// print_r($checkoutMethod);
if(in_array('deliverable', $checkoutMethod)){
	$order_chkmethod = 'deliverable';
}else{
	$order_chkmethod = 'pickable';
}
// print_r($order_chkmethod);
$storepincode = Mage::getStoreConfig('iksula_storemanager/store/storepincode');
$storecity = Mage::getStoreConfig('iksula_storemanager/store/storecity');
$storestate = Mage::getStoreConfig('iksula_storemanager/store/storestate');
$storeaddress = Mage::getStoreConfig('iksula_storemanager/store/storeaddress');

?>
<div class="onepagecheckout_block">
    <!-- <div class="op_block_title">
		<?php	//echo $this->__('Name & Address');	?>
    </div> -->

    <?php 
$customer = Mage::getSingleton('customer/session')->getCustomer();

		echo "<span class='checkout_login_titles'>Choose an address</span>";

    $fullNameExists = 0; 
if (Mage::getSingleton('customer/session')->isLoggedIn()){
    
    $fname = $customer->getFirstname();
    $lname = $customer->getLastname();
    if(is_null($fname) && is_null($lname)) {
    	$fullNameExists = 1; 
    }
	$customerAddressId = Mage::getSingleton('customer/session')->getCustomer()->getDefaultBilling();
	if($customerAddressId !=''){
		echo '<div class="customer_checkout_address customer_checkout_newaddress">New Address</div>';
	}
}
?>
<div class="addresses_wrap">
<?php 
foreach ($customer->getAddresses() as $address) {
	//$customerAddress = $address->toArray();
	$street = $address->getStreet();
	//echo '<pre>';print_r($address->getStreet());exit;
	echo '<div class="customer_checkout_address cust_add_check" id="billingaddress-'.$address->getEntityId().'" style="background-color:#f9f9f9;width: 200px;">';
	echo '<span class="custname">'.$address->getFirstname().' '.$address->getLastname().'</span>';
	echo '<div>'.$street[0].'</div>';
		if($street[1]){
	echo '<div>'.$street[1].'</div>';
		}
	echo '<div>'.$address->getCity().'</div>';
	echo '<div>'.$address->getRegion().'</div>';
	echo '<div>'.$address->getPostCode().'</div>';
	echo '<div>'.$address->getTelephone().'</div>';
	//echo '<div>'.$address->getEntityId().'</div>';
	echo '</div>';
}
	
?>
</div>
    <div class="form_fields">
    <?php if ($has_addr){ ?>
        <div class="full custaddressdrop">
            <label for="billing_cutomer_address">
            	<?php //echo $this->__('Select a billing address from your address book or enter a new address.') ?>
            </label>
            <div class="data_area">
                <?php echo $this->getCustomerBillAddr() ?>
            </div>
        </div>
    <?php } ?>
	    <div id="bill_form"<?php if ($has_addr) {echo ' style="display:none;" ';} ?>>
			<input type="hidden" name="billing[address_id]" id="billing:address_id" value="<?php echo $this->getBillAddress()->getId() ?>" />
			<?php
			$zip_r	= Mage::getStoreConfig('onepagecheckout/address_form/zip');
			if ($zip_r !== 'hidden') : 
			?>
				<div class="two_fields zip_top" <?php if ($order_chkmethod == 'pickable') {echo ' style="visibility:hidden;height:0px;margin:0px;" ';} ?>>                
				<?php if ($zip_r !== 'hidden') : ?>
					<div class="short">
						<label for="billing:postcode"<?php if($zip_r === 'required'){echo ' class="required" ';}?>>
							<?php echo $this->__('Pin Code') ?>
						</label>
						<?php if($zip_r === 'required'){echo ' <sup>*</sup>';}?>
						<div class="data_area">
							<input type="text" title="<?php echo $this->__('Zip Code') ?>" maxlength="6" name="billing[postcode]" id="billing:postcode" value="<?php if ($order_chkmethod == 'pickable') { echo $storepincode; } else{ echo $this->htmlEscape($this->getBillAddress()->getPostcode()); } ?>" class="checkout_postcode t1 validate-zip-international<?php if($zip_r === 'required'){echo ' required-entry ';}?>" />
						</div>
					</div>
				<?php endif; ?>
				</div>
			<?php endif ?>
			<div class="two_fields">
				<?php echo $this->getLayout()->createBlock('onepagecheckout/widget_name')->setObject($this->getBillAddress())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
			</div>
			<div class='clr'></div>
			<?php if (!$logged)  : ?>
				<div class="full" style="visibility:hidden;height:0px;margin:0px;">
					<label for="billing:email" class="required">
						<?php echo $this->__('Email Address') ?>
					</label>
					<sup>*</sup>
					<div class="data_area">
						<input type="text" id ="checkout_billing_email" name="billing[email]" value="<?php echo $this->htmlEscape($this->getBillAddress()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="not_logged_email t1 validate-email required-entry" />
					</div>
				</div>
			<?php endif;
			 
			$cr = Mage::getStoreConfig('onepagecheckout/address_form/company');
			if ($cr !== 'hidden') : ?>
				<div class="full">
					<label for="billing:company" <?php if ( $cr  === 'required' ){ echo 'class="required"'; }?> >
						<?php echo $this->__('Company') ?>
					</label>
					<?php if ($cr  === 'required'){echo "<sup>*</sup'>";}?>
					<div class="data_area">
						<input type="text" id="billing:company" name="billing[company]" value="<?php echo $this->htmlEscape($this->getBillAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="t1<?php if($cr === 'required'){ echo ' required-entry';} ?>" />
					</div>
				</div>
			<?php endif; 
			
			$ar	= Mage::getStoreConfig('onepagecheckout/address_form/address');
			if ($ar !== 'hidden') : 
			?>
				<div class="full" <?php if ($order_chkmethod == 'pickable') {echo ' style="visibility:hidden;height:0px;margin:0px;" ';} ?>>
					<label for="billing:street1"<?php if($ar === 'required'){echo ' class="required" ';}?> >
						<?php echo $this->__('Address') ?>
					</label>
					<?php if($ar === 'required'){echo '<sup>*</sup>';}?>
					<div class="data_area">
						<textarea title="<?php echo $this->__('Street Address') ?>" name="billing[street][]" id="billing:street1" value="<?php if ($order_chkmethod == 'pickable') { echo $storeaddress; } else{ echo $this->htmlEscape($this->getBillAddress()->getStreet(1)); } ?>" class="t1<?php if($ar === 'required'){echo ' required-entry';}?>">
							<?php if ($order_chkmethod == 'pickable') { echo $storeaddress; } else{ echo $this->htmlEscape($this->getBillAddress()->getStreet(1)); } ?>
						</textarea>
					</div>
				</div>
				<?php 
				$csl	= $this->helper('customer/address')->getStreetLines();
				for ($i = 2; $i <= $csl; $i++){ 
				?>
				<label for="billing:street1">
						<?php echo $this->__('Landmark') ?>
				</label>
				<div class="full">
					<div class="data_area">
						<input type="text" name="billing[street][]" id="billing:street<?php echo $i?>" title="<?php echo $this->__('Street Address %s', $i) ?>" value="<?php if ($order_chkmethod == 'pickable') { echo $storeaddress; } else{ echo $this->htmlEscape($this->getBillAddress()->getStreet($i)); } ?>" class="t1" />
					</div>
				</div>
				<?php 
				}
				
			endif;
			
			if($mage_ver == '1.7.0.0' || $mage_ver == '1.7.0.2' || $mage_ver == '1.8.0.0' || $mage_ver == '1.12.0.2'):
				if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
	                <div class="full">
	                    <label for="billing:vat_id"><?php echo $this->__('VAT Number') ?></label>
	                    <div class="data_area">
	                        <input type="text" id="billing:vat_id" name="billing[vat_id]" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()) ?>" title="<?php echo $this->__('VAT Number') ?>" class="t1 <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
	                    </div>
	                </div>
				<?php endif;
			endif;

			?>
			<?php
			$zip_r	= Mage::getStoreConfig('onepagecheckout/address_form/zip');
			$phone_r= Mage::getStoreConfig('onepagecheckout/address_form/phone');
			if ($zip_r !== 'hidden' || $phone_r !== 'hidden') : 
			?>
				<div class="two_fields">                
				<?php //if ($zip_r !== 'hidden') : ?>
					<!-- <div class="short">
						<label for="billing:postcode"<?php //if($zip_r === 'required'){echo ' class="required" ';}?>>
							<?php //echo $this->__('Pin Code') ?>
						</label>
						<?php //if($zip_r === 'required'){echo ' <sup>*</sup>';}?>
						<div class="data_area">
							<input type="text" title="<?php //echo $this->__('Zip Code') ?>" name="billing[postcode]" id="billing:postcode" value="<?php //echo $this->htmlEscape($this->getBillAddress()->getPostcode()) ?>" class="checkout_postcode t1 validate-zip-international<?php //if($zip_r === 'required'){echo ' required-entry ';}?>" />
						</div>
					</div> -->
				<?php //endif; ?>
				<?php
					$currentCustomer = Mage::getSingleton('customer/session')->getCustomer();

					if($currentCustomer)
					{
						if(!$this->htmlEscape($this->getBillAddress()->getTelephone())){
							$contactNo = $currentCustomer->getMobile();
						}
						else{
							$contactNo = $this->htmlEscape($this->getBillAddress()->getTelephone());
						}
						
					}
				?>
				<?php if ($phone_r !== 'hidden') : ?>
					<div class="short">
						<label for="billing:telephone"<?php if($phone_r === 'required') { echo ' class="required" ';}?>>
							<?php echo $this->__('Mobile') ?>
						</label>
						<?php if($phone_r === 'required') { echo ' <sup>*</sup> ';}?>
						<div class="data_area">
							<input type="text" name="billing[telephone]" maxlength="10" value="<?php echo $contactNo ?>" title="<?php echo $this->__('Telephone') ?>" class="validate-indianMobile t1<?php if($phone_r === 'required') { echo ' required-entry ';}?>" id="billing:telephone" />
						</div>
					</div>
				<?php endif; ?>
				</div>
				<div class='clr'></div>
			<?php endif ?>
			<?php
			$fax_r	= Mage::getStoreConfig('onepagecheckout/address_form/fax');
			if ($fax_r !== 'hidden') : 
			?>
			<div lang="two_fields">
				<div class="short landline_short">
					<label for="billing:fax"<?php if($fax_r === 'required') {echo ' class="required" ';}?>>
						<?php echo $this->__('Landline') ?>
					</label>
					<?php if($fax_r === 'required') {echo ' <sup>*</sup> ';}?>
					<div class="data_area landline">
						<input type="text" name="billing[fax]" value="<?php echo $this->htmlEscape($this->getBillAddress()->getFax()) ?>" title="<?php echo $this->__('Fax') ?>" class="t1<?php if($fax_r === 'required') {echo ' required-entry ';}?>" id="billing:fax" />
					</div>
				</div>
			</div>
			<div class='clr'></div>
			<?php 
			endif;?> 

	        <?php
			$city_r = Mage::getStoreConfig('onepagecheckout/address_form/city');
			$state_r= Mage::getStoreConfig('onepagecheckout/address_form/state');
			$cart = Mage::getModel('checkout/cart')->getQuote();
	        foreach ($cart->getAllItems() as $item) {
	            $checkoutMethod[] = $item->getCheckoutMethod();
	        }

			?>
			<div class="two_fields"<?php if(($city_r === 'hidden' && $state_r === 'hidden')){echo ' style="display:none"';}?> <?php if ($order_chkmethod == 'pickable') {echo ' style="visibility:hidden;height:0px;margin:0px;" ';} ?>>
			<?php if ($city_r !== 'hidden') : ?>
				<?php if(in_array('deliverable', $checkoutMethod)) : ?>
				<div class="short" <?php if ($order_chkmethod == 'pickable') {echo ' style="visibility:hidden;height:0px;margin:0px;" ';} ?>>
					<label for="billing:city"<?php if ($city_r === 'required'){ echo ' class="required" ';}?>>
						<?php echo $this->__('City') ?>
					</label>
					<?php if ($city_r === 'required'){ echo ' <sup>*</sup> ';}?>
					<div class="data_area">
						<input type="text" title="<?php echo $this->__('City') ?>" name="billing[city]" value="<?php if ($order_chkmethod == 'pickable') { echo $storecity; } else{ echo $this->htmlEscape($this->getBillAddress()->getCity()); } ?>" class="checkout_city t1<?php if ($city_r === 'required'){ echo ' required-entry ';}?>" id="billing:city" readonly/>
					</div>
				</div>
				<?php else : ?>
				<div class="short">
					<label for="billing:city"<?php if ($city_r === 'required'){ echo ' class="required" ';}?>>
						<?php echo $this->__('City') ?>
					</label>
					<?php if ($city_r === 'required'){ echo ' <sup>*</sup> ';}?>
					<div class="data_area">
						<input type="text" title="<?php echo $this->__('City') ?>" name="billing[city]" value="<?php if ($order_chkmethod == 'pickable') { echo $storecity; } else{ echo $this->htmlEscape($this->getBillAddress()->getCity()); } ?>" class="checkout_city t1<?php if ($city_r === 'required'){ echo ' required-entry ';}?>" id="billing:city"/>
					</div>
				</div>
				<?php endif; ?>
			<?php endif; ?>
				<div class="short"<?php if($state_r === 'hidden'){ echo ' style="display:none" ';}?> style="visibility:hidden;height:0px;margin:0px;">
					<label for="billing:region_id"<?php if($state_r === 'required'){ echo ' class="required" ';}?>>
						<?php echo $this->__('State / Province') ?>
					</label>
					<?php if($state_r === 'required'){ echo ' <sup>*</sup> ';}?>
					<div class="data_area">
						<select id="billing:region_id" name="billing[region_id]" title="<?php echo $this->__('State / Province') ?>" class="checkout_state validate-select<?php if($state_r === 'required') { echo ' required-entry';}?>" style="display:none;" disabled>
							<option value=""><?php echo $this->__('Select One') ?></option>
						</select>
						<script type="text/javascript">
						//<![CDATA[
							$('billing:region_id').setAttribute('defaultValue',  "<?php echo $this->getBillAddress()->getRegionId() ?>");
						//]]>
						</script>
						<input type="text" id="billing:region" name="billing[region]" value="<?php if ($order_chkmethod == 'pickable') { echo $storestate; } else { echo $this->htmlEscape($this->getBillAddress()->getRegion()) ?>"  title="<?php echo $this->__('State / Province'); } ?>" class="t1<?php if($state_r === 'required'){ echo ' required-entry';}?>" style="display:none;" />
					</div>
				</div>
			</div>
			<div class='clr'></div>  

	        <?php
	        $country_r = Mage::getStoreConfig('onepagecheckout/address_form/country');  
	        ?>        
			<div class="full"<?php if($country_r === 'hidden'){ echo ' style="display:none" ';}?>>
				<label for="billing:country_id"<?php if($country_r === 'required') { echo ' class="required" ';}?>>
	        		<?php echo $this->__('Country') ?>
	        	</label>
	        	<?php if($country_r === 'required') { echo ' <sup>*</sup> ';}?> 
				<div class="data_area">
					<?php echo $this->getBillingCountriesSelectBox() ?>
				</div>
			</div>
	
			
	 		<?php
			if($mage_ver == '1.11.2.0' || $mage_ver == '1.12.0.2'):
			
                $addressAttributes = $this->getChild('customer_form_billing_address_user_defined_attributes');
                if ($addressAttributes):
                    $addressAttributes->setEntity($this->getAddress())->setEntityType('customer_address');
                    $addressAttributes->setFieldIdFormat('billing:%1$s')->setFieldNameFormat('billing[%1$s]');
                    echo $addressAttributes->setExcludeFileAttributes(true)->setShowContainer(false)->toHtml();
                endif;
			
			endif;
			
			//if (!$logged) :
			
				$dob	= $this->getLayout()->createBlock('onepagecheckout/widget_dob');
				$gender	= $this->getLayout()->createBlock('onepagecheckout/widget_gender');
				$taxvat = $this->getLayout()->createBlock('onepagecheckout/widget_taxvat');

				if ($dob->isEnabled() || $gender->isEnabled()){ ?>
					<div class="two_fields">
						<?php if ($dob->isEnabled()):	?>
						<div class="short">
							<?php 
								echo $dob->setDate($this->getQuote()->getCustomerDob())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml(); 
							?>
						</div>
						<?php endif; ?>
						<?php if ($gender->isEnabled()):	?>
						<div class="short">
							<?php 
								echo $gender->setGender($this->getQuote()->getCustomerGender())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml();
							?>
						</div>
						<?php endif ?>
					</div>
					<div class='clr'></div>
				<?php 
				} 

				if ($taxvat->isEnabled()){	?>
					<div class='full'>
						<?php 
							echo $taxvat->setTaxvat($this->getQuote()->getCustomerTaxvat())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml(); 
						?>
					</div>
				<?php 
				}
				
				if($mage_ver == '1.11.2.0' || $mage_ver == '1.12.0.2'):
				
	                $customerAttributes = $this->getChild('customer_form_customer_user_defined_attributes');
	                if ($customerAttributes):
	                    $customerAttributes->setEntityModelClass('customer/customer')->setFieldIdFormat('billing:%1$s');
	                    $customerAttributes->setFieldNameFormat('billing[%1$s]')->setShowContainer(false);
	                    echo $customerAttributes->setExcludeFileAttributes(true)->toHtml();
	                endif;

				endif;
				
				$agc = Mage::helper('onepagecheckout')->isGuestCheckoutAllowed();
				if ($agc) 
				{
				?>
				<!-- <ul>
					<li class="options">
						<input type="checkbox" name="billing[register_account]" value="1" title="<?php //echo $this->__('Create an account for later use') ?>" id="billing:register_account" onclick="if(window.billing) billing.setCreateAccount(this.checked);"<?php //if ($this->getBillAddress()->getRegisterAccount()):?> checked="checked"<?php //endif;?> class="checkbox" />
						<label for="billing:register_account">
							<?php //echo $this->__('Create an account for later use') ?>
						</label>
					</li>
				</ul> -->
				<?php
				} 
				else
				{ 				
				?>
					<input type="hidden" name="billing[register_account]" value="1"/>
				<?php 
				} 
				?>
				<div class="two_fields" id="register-customer-password" <?php if ($agc) { echo ' style="display: none;" '; } ?>>
					<div class="short">
						<label for="billing:customer_password" class="required">
							<?php echo $this->__('Password') ?>
						</label>
						<sup>*</sup>
						<div class="data_area">
							<input type="password" name="billing[customer_password]" id="billing:customer_password" title="<?php echo $this->__('Password') ?>" class="t1 required-entry validate-password" />
						</div>
					</div>
					<div class="short">
						<label for="billing:confirm_password" class="required">
							<?php echo $this->__('Confirm Password') ?>
						</label>
						<sup>*</sup>
						<div class="data_area">
							<input type="password" name="billing[confirm_password]" title="<?php echo $this->__('Confirm Password') ?>" id="billing:confirm_password" class="t1 required-entry validate-cpassword" />
						</div>
					</div>
					<div class='clr'></div>
				</div>
				<div class='clr'></div>
			<?php 
			//endif; 
			?>
			<ul>
			<?php 
			if ($logged && $has_addr){
				$display_style = "";
				if($order_chkmethod == 'pickable'){
					$display_style = 'no-display';
				}
			?>	
				<li class="options <?php echo $display_style; ?>">
					<input type="checkbox" class="checkbox" name="billing[save_in_address_book]" id="billing:save_in_address_book" value="<?php if ($order_chkmethod == 'pickable') { echo 0; } else {echo 1;} ?>" title="<?php echo $this->__('Save in address book') ?>" <?php if ($this->getBillAddress()->getSaveInAddressBook()){ echo ' checked="checked" ';}?> />
					<label>
						<?php echo $this->__('Save in address book'); ?>
					</label>
				</li>
			<?php 
			}
			else
			{
			?>
				<li class="no-display">
					<input type="hidden" value="<?php if ($order_chkmethod == 'pickable') { echo 0; } else {echo 1;} ?>" name="billing[save_in_address_book]" />
				</li>
			<?php 
			} 
			?>
			</ul>
	    </div>
    
    <?php if($mage_ver == '1.7.0.0' || $mage_ver == '1.7.0.2' || $mage_ver == '1.8.0.0' || $mage_ver == '1.12.0.2'):?>
    <?php /* Extensions placeholder */ ?>
    <?php echo $this->getChildHtml('checkout.onepage.billing.extra')?>
    <?php endif;?>
    <?php 
    if (Mage::helper('onepagecheckout')->isShippingAddressAllowed() && $this->canShip()){ 
    ?>
    	<input type="hidden" name="billing[use_for_shipping]" id="billing:use_for_shipping" value="1" />
    <?php 
    }else{ 
    ?>
    	<input type="hidden" name="billing[use_for_shipping]" value="1" />
    <?php 
    } 
    ?>
	</div>
	<!-- <div class="address_step_continue<?php //if($logged && $has_addr) echo ' logged_in'; ?> ">
		<div class="data_area">
			<button class="continue button happy_button step_shipping_save <?php //if(!$logged) echo 'checkout_not_login';?>" id="address-step-continue" onClick="validate_form($('onepagecheckout_orderform'))">SAVE & CONTINUE</button>
		</div>
	</div> -->

</div>

<script type="text/javascript">
//<![CDATA[
	var billing = new BillingAddress();
	RegionUpdater.prototype.setMarkDisplay = function(){};
	ZipUpdater.prototype._setPostcodeOptional = function(){};
<?php if($mage_ver == '1.7.0.0' || $mage_ver == '1.7.0.2' || $mage_ver == '1.8.0.0' || $mage_ver == '1.12.0.2'):?>
	var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'billing:postcode');
<?php else:?>
	var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', countryRegions, undefined, 'billing:postcode');
<?php endif;?>	
//]]>

var name_exists = '<?php echo $fullNameExists;?>';
// This is to save the name of users who do not have name.
	jQuery('.checkout_loggedin').live('click',function(){
		if(name_exists == '1'){
			fname = jQuery('#billing\\:firstname').val();
			lname = jQuery('#billing\\:lastname').val();
			jQuery.ajax({
			url: baseurl + 'onepagecheckout/index/setCustomerNameCheckout/',
			type:'post',
			data:{fname:fname,lname:lname},
			success: function(guest_data){}
			});
		}
	});



jQuery(document).ready( function() {
    jQuery('.customer_checkout_address').css({'cursor':'pointer','border':'2px solid #e6e6e6','margin-top':'20px','padding':'10px'});
    
    jQuery('div[id^="billingaddress-"]').click( function() {
    	 jQuery('#bill_form').hide();
         jQuery('.customer_checkout_address').css({'border':'2px solid #e6e6e6'});
    	 jQuery('#'+this.id).css('background-color','#f9f9f9');
    	 jQuery('#'+this.id).css('background-color','#fff');
    	 jQuery('#'+this.id).css({'cursor':'pointer','border':'2px solid rgb(228, 132, 128)','margin-top':'20px','padding':'10px','width':'200px'});
         var address_id =this.id;
         var address_array = address_id.split('-');
    	/*checkout.update({
            'payment-method': 1,
            'review': 1
        });*/
        jQuery('select#billing_customer_address').val(address_array[1]);
    }); 

    jQuery('.customer_checkout_newaddress').live('click',function(){
    	var add_link = jQuery(this).text();
    	
    	
    	jQuery('select#billing_customer_address').val('');
    	jQuery('.customer_checkout_address').css({'border':'2px solid #e6e6e6'});
    	jQuery('#bill_form').show();
    	jQuery('.addresses_wrap').hide();
    	if(add_link == "New Address") {
    		jQuery(this).text("Select From Saved Address(s)");
    		jQuery(".checkout_login_titles").text("Enter a shipping address");
    	}else if(add_link == "Select From Saved Address(s)") {
    		jQuery(this).text("New Address")  ; 
    		jQuery(".checkout_login_titles").text("Choose an address")  ; 
    		jQuery('#bill_form').hide();
    		jQuery('.addresses_wrap').show();	
    	}   	
    });

    jQuery('#address-step-continue').live('click',function(){
    	var telephone = jQuery("[name='billing[telephone]']").val();
    	jQuery("#otp_mobile").val(telephone);
    	jQuery(".display_otp_mobile").text(telephone);
    });   

   //jQuery('.custedit').fancybox();
});
</script>
