<div id="coupon-discount">
    <div class="discount">
        <div class="op_block_title"><?php echo $this->__(' Enter coupon code ') ?><!-- <span class="checkout_discount_click">(click here)</span> --></div>
        
        <div class="discount-form">
            <label for="coupon_code"><?php echo $this->__('') ?></label>
            <input type="hidden" name="process_coupon" id="process_coupon" value="0" />
            <input type="hidden" name="coupon[remove]" id="coupon-remove" value="0" />
            <div class="input-box">
                <input class="input-text" id="coupon-code" name="coupon[code]" value="<?php echo $this->htmlEscape($this->getCouponCode()) ?>" />
            </div>
            <div class="buttons-set">

                <?php if(strlen($this->getCouponCode())): ?>
                    <button type="button" title="<?php echo $this->__('Cancel Coupon') ?>" class="button left"  value="<?php echo $this->__('Cancel Coupon') ?>" id="coupon-cancel"><span><span><?php echo $this->__('Cancel') ?></span></span></button>
                <?php endif;?>
                <?php if(!strlen($this->getCouponCode())): ?>
                    <button type="button" title="<?php echo $this->__('Apply ') ?>" class="button left" value="<?php echo $this->__('Apply Coupon') ?>" id="coupon-apply"><span><span><?php echo $this->__('Apply') ?></span></span></button>
                <?php endif;?>
            </div>
        </div>
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    </div>
</div>

  <script type="text/javascript">
    //<![CDATA[
    // jQuery(".discount .discount-form").hide();
    $('coupon-apply') && $('coupon-apply').observe('click', function(e) {
        if($('coupon-code').value.length == 0){
            alert('Please enter a valid coupon code!');
        }
   	 	$('process_coupon').value = "1";
        if (!$('coupon-code').value.length) {
            $('coupon-code').addClassName('validation-failed');
            return;
        }
        $('coupon-remove').value = "0";
        checkout.update({
            'process_coupon': 1,
            'review': 1
        });

    });
    $('coupon-cancel') && $('coupon-cancel').observe('click', function(e) {

        $('coupon-remove').value = "1";
        $('process_coupon').value = "1";
        checkout.update({
            'process_coupon': 1,
            'review': 1
        });

    });


    jQuery('.discount .op_block_title').click(function(){
        jQuery("#coupon-discount .messages").hide();
        jQuery('.discount-form').stop(true, true).slideToggle();
    });

    // $(".discount .op_block_title").live('click',function(){
    //     $(".discount .discount-form").stop(true,true).slideToggle('slow');
    // })



 /*
    $('coupon-code').observe('change', function(e) {
        if (!$(this).value.length) {
            $('coupon-remove').value = "1";
        } else {
            $('coupon-remove').value = "0";
        }
        checkout.update({
            'process_coupon': 1,
            'review': 1
        });
    });
   */
    //]]>
    </script>
