<?php if(!Mage::getSingleton('checkout/session')->getQuote()->getHasError()):?>
	<?php if ($this->isOnepageCheckoutAllowed()):?>
	<button type="button" title="<?php echo $this->__('proceed to secure checkout') ?>" class="button btn-proceed-checkout btn-checkout<?php if (!$this->checkEnable()){ echo 'no-checkout'; }?>"<?php if (!$this->checkEnable()){ echo ' disabled="disabled" ';} ?> onclick="window.location='<?php echo $this->getOnepageCheckoutUrl() ?>';"><span class="cl-effect-5"><span class="placeorder" data-hover="Place Order"><?php echo $this->__('proceed to secure checkout') ?></span></span></button>
	<?php endif?>
<?php endif?>