
<div id="checkout-review" class="onepagecheckout_block">
    <span class= "steps desk-step"></span>
    <input type='hidden' id='opc_s_data' value='<?php echo Mage::helper('onepagecheckout')->getSUrl();?>'/>
    <!--a title="My Cart" href="<?php //echo Mage::getUrl('checkout/cart'); ?>" onclick="return false;"-->
    
    <a class="edit_cart" title="My Cart" href="<?php if(Mage::getSingleton('customer/session')->getMobileapp() == "mobile") { echo "#"; } else { echo Mage::getUrl('checkout/cart'); } ?>">
            <!-- <div id="op_block_title_cart" class="op_block_title review_title"></div> -->
            <div class="editcart"><?php if(Mage::getSingleton('customer/session')->getMobileapp() == "mobile") { echo "Cart"; } else { echo "Edit Cart"; } ?></div></a> 
            <div style="clear:both;"></div>
    <!-- <div class="checkout_loader" style="display:none">
    <img src="<?php //echo $this->getSkinUrl('images/checkout/loading_icon.gif') ?>" alt="<?php //echo $this->__('Submitting order information...') ?>" title="<?php //echo $this->__('Submitting order information...') ?>" class="v-middle" />
    </div> -->
    <div id="checkout-review-load">
        <?php echo $this->getChildHtml('info') ?>
    </div>
    <div id="checkout-review-submit">    
        <?php echo $this->getChildHtml('agreements') ?>
        <!-- <div class="buttons-set" id="review-buttons-container">
        <button type="submit" title="<?php //echo $this->__('Place Order Now') ?>" class="button btn-checkout" onclick="checkout.save(); return false;"><?php //echo $this->__('Place Order Now') ?></button>
            <span id="review-please-wait" style="display:none;float:right;">
                <img src="<?php //echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php //echo $this->__('Submitting order information...') ?>" title="<?php //echo $this->__('Submitting order information...') ?>" class="v-middle" /> <?php //echo $this->__('Submitting order information...') ?>
            </span>
        </div> -->
    </div> 
</div>

<div id="checkout-coupon-discount-load" class="checkout_discount_block">
    <?php echo $this->getChildHtml('coupon') ?>
</div>

<!--<div class="shipping address">
     <div class="ship_html"></div>
</div>-->

<script type="text/javascript">

    jQuery(document).ready(function($){

        // if($('.checkout_progress').find('active_step'))
        // {
        //     $('.step_img').addClass('active')
        // }
        var total = 0;
        jQuery('.upperqty').each(function (index, element) {
            total = total + parseFloat(jQuery(element).html());
        });
            //alert(total);
            jQuery('.review_title').html(total);

    /*$('.upperarrow_div').live('click',function(){
        product_id = this.id;
        qty = $('.upperqty').html();
        update = "inc";
        ajax_update_cart(product_id, update);
        var cart_qty = jQuery('.review_title').html();
        jQuery('.review_title').html(parseInt(cart_qty)+1)
    }); 

    $('.lowerarrow_div').live('click',function(){
        
        product_id = this.id;
        prod_qty = parseInt($('#upperqty_' + product_id).html());
        if(prod_qty >1){
            qty = $('.upperqty').html();
            update = "dec";
            ajax_update_cart(product_id, update);
            var cart_qty = jQuery('.review_title').html();
            jQuery('.review_title').html(parseInt(cart_qty)-1)
        }
    });

    function ajax_update_cart(product_id, update){
       $('#checkout-review-load').css('visibility','hidden');
       $('.checkout_loader').show().css({"height":$('#checkout-review').height()+'px',"position": "absolute", "width": "300px","height":"328px", "margin": "0px auto", "background-color": "rgb(0, 0, 0)", "opacity": "0.5"});
        //$('#checkout-review').hide();
        var form_key = "<?php echo Mage::getSingleton('core/session')->getFormKey();?>";
        //var total = 0;
        $.ajax({
            url: baseurl + 'onepagecheckout/ajax/cartupdate',
            type:'post',
            data:{productid:product_id,update:update},
            success: function(del_html){
                 //$('#checkout-review').show();
                 //alert(del_html)

                 $('#checkout-review-load').css('visibility','visible');
                $('.checkout_loader').hide();

                 checkout.update({
                    'review': 1,
                });

                //all_customer_data = jQuery.parseJSON(all_customer_data);
            },
            error: function(del_html){
                 $('#checkout-review-load').css('visibility','visible');
               $('.checkout_loader').hide();
            }
        });

    } */  
    });
    
</script>
