<?php 
$mage_ver = Mage::helper('onepagecheckout')->getMagentoVersion();
$logged		= $this->isCustomerLoggedIn();
$has_addr	= $this->customerHasAddresses();
?>
<div class="shipping address">
    <!-- <div class="op_block_title">
		<?php	//echo $this->__('Name & Address');	?>
    </div> -->

    <?php 
//$customer = Mage::getSingleton('customer/session')->getCustomer();
$address  = Mage::getSingleton('checkout/session')->getQuote()->getBillingAddress();
//foreach ($customer->getAddresses() as $address) {
	echo '<div class="customer_checkout_address cust_add_check" id="billingaddress-'.$address->getEntityId().'" style="background-color:#f9f9f9;width: 200px;">';
	echo '<span class="custname">'.$address->getFirstname().' '.$address->getLastname().'</span>';
	echo '<div>'.$address->getStreet[0].'</div>';
		if($address->getStreet[1]){
	echo '<div>'.$address->getStreet[1].'</div>';
		}
	echo '<div>'.$address->getCity().'</div>';
	echo '<div>'.$address->getRegion().'</div>';
	echo '<div>'.$address->getPostCode().'</div>';
	echo '<div>'.$address->getTelephone().'</div>';
	//echo '<div>'.$address->getEntityId().'</div>';
	echo '</div>';
//}
	
?>
  </div>

  <script type="text/javascript">
  	jQuery(document).ready( function($) {
  		$('.step_shipping_save').click(function(){
  			/*checkout.update({
  				'show.billing.address': 1,
  				'billing.address': 1,
  				'shipping.address': 1,
	            'payment-method': 1,
	            'review': 1
	        });*/

	        $.ajax({
				url: 'http://incom1.iksulabeta.com/index.php/onepagecheckout/index/testing/',
				success: function(data1){
				  console.log(data1);
				}
			});
  		});
  	});
  </script>