<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Giftcard2
 * @version    2.2.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($this->hasGiftcards()): ?>
    <?php foreach ($this->getGiftcards() as $code): ?>
        <strong class="gift-card-info__code"
                style="font-size: 16px;
                       font-family: Arial, 'Helvetica', Helvetica, sans-serif;
                       line-height: 1.5em;
                       color: #4176d9;
                       margin: 0;
                       padding: 0;"
        ><?php echo $code ?></strong><br />
    <?php endforeach; ?>
<?php endif; ?>