<?php
/**
* Brainvire Infotech Pvt. Ltd
 * @category   Brainvire
 * @package    Brainvire_Points
 * @version    1.5.1
 * @copyright  Copyright (c) 2010-2012 Brainvire Infotech Pvt. Ltd (http://www.brainvire.com)
 * @license    
 */
?>
<?php
?>
<tr>
    <td class="label"><?php echo $this->getElement()->getLabel(); ?></td>
    <?php if ($this->getDirection() == Brainvire_Points_Model_Rate::POINTS_TO_CURRENCY): ?>
        <td class="value">
            <input id="rate-points" type="text" class="input-text required-entry validate-greater-than-zero" style="width:90px" name="points" value="<?php echo $this->getRate()->getPoints(); ?>"/>
            <label for="rate-points"><?php echo Mage::helper('points/config')->getPointUnitName() ?><span class="required">*</span> >> </label>
            <input id="rate-money" type="text" class="input-text required-entry validate-greater-than-zero" style="width:90px" name="money" value="<?php echo $this->getRate()->getMoney(); ?>"/>
            <label for="rate-money"><?php echo Mage::helper('points')->getStoreCurrencySymbol(Mage::app()->getStore()) ?><span class="required">*</span></label>
        </td>
    <?php else: ?>
        <td class="value">
            <input id="rate-money" type="text" class="input-text required-entry validate-greater-than-zero" style="width:90px" name="money" value="<?php echo $this->getRate()->getMoney(); ?>"/>
            <label for="rate-money"><?php echo Mage::helper('points')->getStoreCurrencySymbol(Mage::app()->getStore()) ?><span class="required">*</span> >> </label>
            <input id="rate-points" type="text" class="input-text required-entry validate-greater-than-zero" style="width:90px" name="points" value="<?php echo $this->getRate()->getPoints(); ?>"/>
            <label for="rate-points"><?php echo Mage::helper('points/config')->getPointUnitName() ?><span class="required">*</span></label>
        </td>
    <?php endif; ?>
</tr>
