.checkout-onepage-index .autocomplete{ background: #f5f5f5; padding: 5px 10px; max-height: 114px;
    overflow-y: scroll;}
.checkout-onepage-index .autocomplete li{ cursor: pointer;}
.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;}






