/**
 * WhatsApp Sharing Button
 * https://github.com/kriskbx/whatsapp-sharing/
 *
 * Copyright (c) 2014 by Kris Siepert, John Brüggemann, Daniel Stopp
 * http://kris.cool - http://keksbox.com - http://odiumediae.de
 * Licensed under the MIT license.
 */


body,html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.wa_btn {
	background-image: url('button.svg');
	border: 0px solid rgba(0, 0, 0, 0.1);
    display: inline-block !important;
    position: relative;
    font-family: Arial,sans-serif;
    letter-spacing: .4px;
    cursor: pointer;
    font-weight: 400;
    text-transform: none;
    color: #fff;
    border-radius: 2px;
    background-color: #5cbe4a;
    background-repeat: no-repeat;
    line-height: 1.2;
	text-decoration: none;
	text-align: left;
}

.wa_btn_s {
    font-size: 12px;
    background-size: 16px;
    background-position: 5px 2px;
    padding: 3px 6px 3px 25px;
}

.wa_btn_m {
    font-size: 16px;
    background-size: 20px;
    background-position: 4px 2px;
    padding: 4px 6px 4px 30px;
}

.wa_btn_l {
    /*font-size: 16px;
    background-size: 20px;
    background-position: 5px 5px;
    padding: 8px 6px 8px 30px;*/
    float: right;
    width: 100%;
    height: 21px;
    text-decoration: none;
    margin-top: 4px;
    background: url(../../images/wts-social.jpg) right center no-repeat;
}
.wa_btn_l:hover {
    background: url(../../images/wts-socialh.jpg) right center no-repeat;
}
