<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="contacts-area col-md-8 col-sm-8 col-xs-12">
<form action="<?php echo $this->getFormAction(); ?>" id="contactForm" method="post">
    <div class="block block-contactform">
        <div class="block-title">
            <strong><span><?php echo Mage::helper('contacts')->__('Leave a Comment') ?></span></strong>
        </div>
        <div class="block-content">
            <ul class="form-list col-md-6 col-sm-12 col-xs-12 first">
                <li class="fields">
                    <div class="field">
                        <div class="input-box name-firstname">
                            <input name="name" id="name" title="<?php echo Mage::helper('contacts')->__('Name') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" placeholder="<?php echo $this->__('Enter Your Name')?>*" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="input-box input-email">
                            <input name="email" id="email" title="<?php echo Mage::helper('contacts')->__('Email') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" placeholder="<?php echo $this->__('Enter Your Email')?>*" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="input-box input-phone">
                            <input name="telephone" id="telephone" title="<?php echo Mage::helper('contacts')->__('Telephone') ?>" value="" class="input-text" type="text"  placeholder="<?php echo $this->__('Enter Your Telephone')?>" />
                        </div>
                    </div>
                </li>
                <li class="wide required for-desktop">
                    <p class="required"><?php echo Mage::helper('contacts')->__('Your email address will not be published. Required 
fields are marked ') ?><em>*</em></p>
                </li>
            </ul>
            <ul class="form-list col-md-6 col-sm-12 col-xs-12">
                <li class="wide">
                    <div class="input-box input-comment">
                        <textarea name="comment" id="comment" title="<?php echo Mage::helper('contacts')->__('Comment') ?>" class="required-entry input-text" cols="5" rows="3" placeholder="<?php echo $this->__('Enter your message')?>*" ></textarea>
                    </div>
                </li>
                <?php echo $this->getChildHtml('form.additional.info'); ?>
                <li class="wide required for-mobile">
                    <p class="required"><?php echo Mage::helper('contacts')->__('Your email address will not be published. Required 
fields are marked ') ?><em>*</em></p>
                </li>
                <li class="wide form-button">
                    <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
                    <button type="submit" title="<?php echo Mage::helper('contacts')->__('Post Comment') ?>" class="button"><span><span><?php echo Mage::helper('contacts')->__('Post Comment') ?></span></span></button>
                </li>
            </ul>
        </div>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
//]]>
</script>
</div>