<?php /**
 * Brainvire Infotech Pvt. Ltd
 * @category   Brainvire
 * @package    Brainvire_Points
 * @version    1.5.1
 * @copyright  Copyright (c) 2010-2012 Brainvire Infotech Pvt. Ltd (http://www.brainvire.com)
 * @license
 */
?>
<?php 
$helperConfig=Mage::helper('points/config');
$rewardlogo=Mage::getStoreConfig('points/display_frontend/logo');
$enablerewardlogo=Mage::getStoreConfig('points/display_frontend/enable_logo');
$enablecart=Mage::getStoreConfig('points/display_frontend/enable_points_cart');
?>
<?php if($enablecart): ?>
<?php if ($this->getPoints() > 0): ?>
<div id="rewardpoints_box">
		<div style="width:262px;background: none repeat scroll 0 0 #FAFAEC;" class="discount discount-codes box">
			<h2 style="background-image:none; padding: 0px 0px 5px 0px;">
			<?php if($enablerewardlogo):
			?>
			<a target="_blank" href="<?php echo $this->getUrl('points/index/infopage/') ?>" style="float: left; margin-right: 5px;"> <span><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'rewardpointlogo/'.$rewardlogo; ?>" alt="<?php echo $this->__('Reward Points') ?>" style="vertical-align: middle;"></span> </a>
			<?php endif; ?><?php echo Mage::getStoreConfig('points/general/point_unit_name'); ?>
			</h2>
			<div class="discount-form">
				<ul id="mw_reward_accordion">
					<li class="mw_reward_section">
						<div>
							<span style="color: #0A263C;line-height: 1.5;" id="reward-points-rules-title">
								 <?php if ($this->getMoney()): ?>
		                            <?php echo $this->__('You will be awarded <b> %s %s </b>', $this->getPoints(), $helperConfig->getPointUnitName(), Mage::app()->getStore()->convertPrice($this->getMoney(), true)) ?>
		                        <?php else: ?>
		                            <?php echo $this->__('You will be awarded <b> %s %s </b>', $this->getPoints(), $helperConfig->getPointUnitName()) ?>
		                        <?php endif; ?>
							</span>
						</div>
					</li>
				</ul>
				<?php echo $this->getLayout()->createBlock('points/customer_reward_summarycart')->toHtml(); ?>
				<div style="clear:both;"></div>
			</div>
		</div>
</div>
<?php endif; ?>
<?php endif; ?>