<?php if (!Mage::helper('core/cookie')->isUserNotAllowSaveCookie()): ?>
<?php $accountId = Mage::getStoreConfig(Mage_GoogleAnalytics_Helper_Data::XML_PATH_ACCOUNT) ?>
<!-- BEGIN GOOGLE ANALYTICS CODEs -->
<script type="text/javascript">
//<![CDATA[
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
<?php echo $this->_getPageTrackingCode($accountId) ?>
<?php echo $this->_getOrdersTrackingCode() ?>
//]]>
</script>
<?php endif; ?>

<!-- Global site tag (gtag.js) - Google Ads: 785375343 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-785375343"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-785375343');
</script>

<?php $actionPath = Mage::app()->getFrontController()->getAction()->getFullActionName(); ?>
<?php if($actionPath == 'checkout_onepage_success'): ?>
<!-- Event snippet for Sales conversion page -->
<script>
  gtag('event', 'conversion', {
      'send_to': 'AW-785375343/RZCyCPTprIoBEO_Av_YC',
      'transaction_id': ''
  });
</script>
<?php endif;?>

<script src="https://cdn.pushassist.com/account/assets/psa-charms.js" async="async"></script>


