<?php 
    $Banks = Mage::getStoreConfig('netbank/net_banking/bank_select',Mage::app()->getStore());
    $topBanks = explode(',', $Banks);
    $allBanksArr = array(
        'AXIB' => 'AXIS Bank NetBanking',
        'BOIB' => 'Bank of India',
        'BOMB' => 'Bank of Maharashtra',
        'CBIB' => 'Central Bank of India',
        'CRPB' => 'Corporation Bank',
        'DCBB' => 'Development Credit Bank',
        'FEDB' => 'Federal Bank',
        'HDFB' => 'HDFC Bank',
        'ICIB' => 'ICICI Netbanking',
        'IDBB' => 'Industrial Development Bank of India',
        'INDB' => 'Indian Bank',
        'INIB' => 'IndusInd Bank',
        'INOB' => 'Indian Overseas Bank',
        'JAKB' => 'Jammu and Kashmir Bank',
        'KRKB' => 'Karnataka Bank',
        'KRVB' => 'Karur Vysya',
        'SBBJB' => 'State Bank of Bikaner and Jaipur',
        'SBHB' => 'State Bank of Hyderabad',
        'SBIB' => 'State Bank of India',
        'SBMB' => 'State Bank of Mysore',
        'SBTB' => 'State Bank of Travancore',
        'SOIB' => 'South Indian Bank',
        'UBIB' => 'Union Bank of India',
        'UNIB' => 'United Bank Of India',
        'VJYB' => 'Vijaya Bank',
        'YESB' => 'Yes Bank',
        'CUBB' => 'CityUnion',
        'CABB' => 'Canara Bank', 
        'SBPB' => 'State Bank of Patiala',
        'CITNB' => 'Citi Bank NetBanking',
        'DSHB' => 'Deutsche Bank Netbanking',
        '162B' => 'Kotak Bank Netbanking',
    );
?>

<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">
        <li class="payu-payment-option-box">
            <div class="input-box display-none payment-data-box" id="p_method_payucheckout_nb_data">

		<?php
		     //display active bank images	
		     foreach($topBanks as $bankKey => $bankVal){

				if (array_key_exists($bankVal, $allBanksArr)) { 
				$path = $this->getSkinUrl('images/checkout/netbank/'.$bankVal.'.jpg');
			?>
			<label class="bank_img" id="<?php echo $bankVal; ?>" for="sel_<?php echo $bankVal; ?>">
            <span class="radio_span"><span class="radio_span_inner">&nbsp;</span></span>
			   <input type="radio" id="sel_<?php echo $bankVal; ?>" style="margin-top:14px; margin-right:5px;" name="bank_img">
	                   <img src="<?php echo $path; ?>" id="<?php echo $bankVal; ?>">
		  	</label>
           
		    <?php
			}
		     }
	        ?>
	
		
                <select class="payu-payment-dropdowns required-entry" id="payu_net_banking_cards" size="1" name="payment[cc_type]">
                        <option value="">Choose Bank</option>
                    <?php 
                        // Get the list of all priority banks
                        foreach($topBanks as $bankKey => $bankVal){
                            if (array_key_exists($bankVal, $allBanksArr)) {
                                echo '<option value="' . $bankVal . '">' . $allBanksArr[$bankVal] . '</option>';
                            }
                        }
                        echo '<option value="">------------------</option>';
                        // Get the list of remaining banks
                        foreach($allBanksArr as $allKey => $allVal){
                            if(!in_array($allKey, $topBanks)){
                                echo '<option value="' . $allKey . '">' . $allVal . '</option>';
                            }
                        }
                    ?>
                </select>
            </div>
        </li>
             <li>


         <div class="buttons-set" id="review-buttons-container">
            <button type="submit" title="<?php echo $this->__('Place Order Now') ?>" class="checkout_success_button button btn-checkout happy_button" onclick="checkout.save(); return false;"><?php echo $this->__('Place Order') ?></button>
           <span class="checkout_success_loader" style="display:none;float:right;">
                <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Submitting order information...') ?>" title="<?php echo $this->__('Submitting order information...') ?>" class="v-middle" /> <?php echo $this->__('Submitting order information...') ?>
            </span>
        </div>
    </li>
    </ul>
</fieldset>

<script type="text/javascript">

jQuery('.bank_img').click(function() {

var bankcode = jQuery(this).attr('id');

jQuery('#payu_net_banking_cards').val(bankcode);

// jQuery('#sel_'+bankcode).attr('checked','checked');
jQuery('.bank_img').removeClass("active");
jQuery(this).addClass("active");


});
jQuery('select.payu-payment-dropdowns').change(function(){
    
    jQuery('.bank_img').removeClass("active");

});

</script>


