<?php
$store = Mage::app()->getStore();
$code  = $store->getCode();
    $_enable = Mage::getStoreConfig('stores/general/eternalsoft_store_enabled', $code);
    if($_enable){
        $_email1 = Mage::getStoreConfig('stores/details/eternalsoft_store_email', $code);
        $_email2 = Mage::getStoreConfig('stores/details/additional_email', $code);
        $_phone1 = Mage::getStoreConfig('stores/details/eternalsoft_store_phone', $code);
        $_phone2 = Mage::getStoreConfig('stores/details/additional_phone', $code);
        $_mobile1 = Mage::getStoreConfig('stores/details/eternalsoft_store_mobile', $code);
        $_mobile2 = Mage::getStoreConfig('stores/details/additional_mobile', $code);
        $_skype1 = Mage::getStoreConfig('stores/details/eternalsoft_store_skype', $code);
        $_skype2 = Mage::getStoreConfig('stores/details/additional_skype', $code);
?>
<div class="block block-contactdetails col-md-4 col-sm-4 col-xs-12">
    <div class="block-title">
        <strong><span><?php echo $this->__('Contact Details') ?></span></strong>
    </div>
    <div class="block-content">
    <?php if($_phone1 || $_phone2): ?>
        <div class="row phone">
            <div class="row-header">
                <?php echo $this->__('Phone:') ?>
            </div>
            <div class="row-info">
                <?php if($_phone1): ?>
                <p><?php echo $_phone1 ?></p>
                <?php endif; ?>
                <?php if($_phone2): ?>
                <p><?php echo $_phone2 ?></p>
                <?php endif; ?>
            </div>
            <div class="clear"></div>
        </div>
    <?php endif; ?>
    <?php if($_mobile1 || $_mobile2): ?>
        <div class="row mobile">
            <div class="row-header">
                <?php echo $this->__('Mobile:') ?>
            </div>
            <div class="row-info">
                <?php if($_mobile1): ?>
                <p><?php echo $_mobile1 ?></p>
                <?php endif; ?>
                <?php if($_mobile2): ?>
                <p><?php echo $_mobile2 ?></p>
                <?php endif; ?>
            </div>
            <div class="clear"></div>
        </div>
    <?php endif; ?>
    <?php if($_email1 || $_email2): ?>
        <div class="row email">
            <div class="row-header">
                <?php echo $this->__('E-mail:') ?>
            </div>
            <div class="row-info">
                <?php if($_email1): ?>
                <p><?php echo $_email1 ?></p>
                <?php endif; ?>
                <?php if($_email2): ?>
                <p><?php echo $_email2 ?></p>
                <?php endif; ?>
            </div>
            <div class="clear"></div>
        </div>
    <?php endif; ?>
    <?php if($_skype1 || $_skype2): ?>
        <div class="row skype">
            <div class="row-header">
                <?php echo $this->__('Skype:') ?>
            </div>
            <div class="row-info">
                <?php if($_skype1): ?>
                <p><?php echo $_skype1 ?></p>
                <?php endif; ?>
                <?php if($_skype2): ?>
                <p><?php echo $_skype2 ?></p>
                <?php endif; ?>
            </div>
            <div class="clear"></div>
        </div>
    <?php endif; ?>
    </div>
</div>
<?php
    }
?>