<?php
/**
* Brainvire Infotech Pvt. Ltd
 * @category   Brainvire
 * @package    Brainvire_Points
 * @version    1.5.1
 * @copyright  Copyright (c) 2010-2012 Brainvire Infotech Pvt. Ltd (http://www.brainvire.com)
 * @license    
 */
?>
<?php if ($this->getSource()->getBaseMoneyForPoints()): ?>
    <tr>
        <td class="label">
            <?php echo Mage::helper('points')->__('%s', Mage::helper('points/config')->getPointUnitName()) ?>
        </td>
        <td>
            <?php echo $this->displayPrices($this->getSource()->getBaseMoneyForPoints(), $this->getSource()->getMoneyForPoints()); ?>
        </td>
    </tr>
<?php endif; ?>