<?php
/**
* Brainvire Infotech Pvt. Ltd
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * 
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * brainvire does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * brainvire does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   Brainvire
 * @package    Brainvire_Points
 * @version    1.5.1
 * @copyright  Copyright (c) 2010-2012 Brainvire Infotech Pvt. Ltd (http://www.brainvire.com)
 * @license    
 */
?>
<?php
?>

<div class="brainvire_points-coupon-box">

    <h4><?php echo $this->__('Coupon Activation') ?></h4>

    <form action="<?php echo $this->getAction() ?>" method="post" id="form-validate">
        <div>
            <label for="brainvire_points-coupon">
                <?php echo $this->__('Enter coupon code here:') ?>
            </label>
            <input  type="text" id="brainvire_points-coupon" name="coupon_code" value=""/>
            <button type="submit" title="<?php echo $this->__('Activate Coupon') ?>" class="button">
                <span>
                    <span>
                        <?php echo $this->__('Activate Coupon') ?>
                    </span>
                </span>
            </button>
        </div>
    </form>

</div>

