<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_GiftCard
 */
?>
<?php /* @var $this Amasty_GiftCard_Block_Catalog_Product_View_Type_GiftCard */?>
<?php /* @var $_helper Amasty_GiftCard_Helper_Data */?>
<?php /* @var $_helperCore Mage_Core_Helper_Data */?>
<?php $_helper = Mage::helper('amgiftcard');?>
<?php $_helperCore = Mage::helper('core');?>
<?php $_currencyShortName = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getShortName();?>
<?php $_product = $this->getProduct(); ?>

<script>
	Element.prototype.triggerEvent = function(eventName)
	{
		if (document.createEvent)
		{
			var evt = document.createEvent('HTMLEvents');
			evt.initEvent(eventName, true, true);

			return this.dispatchEvent(evt);
		}

		if (this.fireEvent)
			return this.fireEvent('on' + eventName);
	}
</script>
<div class="am-giftcard-form">

	<?php if ($this->displayProductStockStatus()): ?>
		<?php if ($_product->isAvailable()): ?>
			<p class="availability in-stock"><?php echo $this->helper('catalog')->__('Availability:') ?> <span><?php echo $this->helper('catalog')->__('In stock') ?></span></p>
		<?php else: ?>
			<p class="availability out-of-stock"><?php echo $this->helper('catalog')->__('Availability:') ?> <span><?php echo $this->helper('catalog')->__('Out of stock') ?></span></p>
		<?php endif; ?>
	<?php endif; ?>

	<?php echo $this->getChildHtml('product_type_data_extra') ?>


<?php if ($_product->isSaleable() && $this->isConfigured($_product)): ?>
	<?php if($this->isMultiAmount()): ?>
		<script>
			function changeAmount(event)
			{
				var value = event.element().value;
				if(value == "custom" || value == "") {
					return;
				}
				var productPriceElem = $('min-product-price-<?php echo $_product->getId(); ?>');
				var productPriceElemClone = $('min-product-price-<?php echo $_product->getId(); ?>_clone');
				var percentPrice = <?php echo $this->getPricePercent();?>;
				var value = parseFloat(parseAmount(value)) * percentPrice / 100;
				if(productPriceElem) {
					productPriceElem.innerHTML = optionsPrice.formatPrice(value);
				}

				if(productPriceElemClone) {
					productPriceElemClone.innerHTML = optionsPrice.formatPrice(value);
				}


			}

			function parseAmount(value) {
				value = value.replace('\'', '').replace(' ', '').replace(/,/g, '.');
				countDots = (value.split('.').length - 1);
				for(var i= 1; i<countDots; i++) {
					value.replace('.', '');
				}

				return parseFloat(value);
			}
		</script>

		<div class="fieldset">
			<ul class="form-list">
				<li>
					<label class="required" for="amgiftcard_amount"><?php echo $_helper->__('Card Value in %s', $_currencyShortName); ?></label>

					<?php if($this->isPredefinedAmount()): ?>
						<div class="input-box">
							<select id="am_giftcard_amount" name="am_giftcard_amount" class="required-entry">
								<option value=""><?php echo $_helper->__('Choose an Amount...'); ?></option>
								<?php foreach($this->getListAmounts() as $_amount):?>
									<option value="<?php echo $_amount;?>"<?php if($this->getDefaultValue('am_giftcard_amount') == $_amount) echo " selected";?>><?php echo $_helperCore->currency($_amount, true, false);?></option>
								<?php endforeach; ?>
								<?php if($_product->getAmAllowOpenAmount()): ?>
									<option value="custom"><?php echo $_helper->__('Custom Amount'); ?></option>
								<?php endif; ?>
							</select>
						</div>
						<script>
							$('am_giftcard_amount').observe('change', changeAmount);
							document.observe("dom:loaded", function(){
								$('am_giftcard_amount').triggerEvent('change');
							});
						</script>

						<?php if($_product->getAmAllowOpenAmount()): ?>
							<script>
								$('am_giftcard_amount').observe('change', function(event){
									var elem = event.element();
									if(elem.value == "custom") {
										$('amgiftcard_amount_custom_block').show();
									} else {
										$('amgiftcard_amount_custom_block').hide();
									}
								});
							</script>
						<?php endif; ?>
					<?php endif; ?>

					<?php if($_product->getAmAllowOpenAmount()): ?>
						<div class="input-box" id="amgiftcard_amount_custom_block" style="display: <?php if($this->isPredefinedAmount()): ?>none<?php endif;?>">
							<span class="v-fix">
								<input id="am_giftcard_amount_custom" name="am_giftcard_amount_custom" class="validate-number required-entry input-text amgiftcard-min-amount amgiftcard-max-amount" value="<?php echo $this->getDefaultValue('am_giftcard_amount_custom');?>" type="text">
							</span>
							<?php if($_product->getAmOpenAmountMin() || $_product->getAmOpenAmountMax()): ?>
								<p class="notice">
									<?php $_min = $_helperCore->currency($_product->getAmOpenAmountMin(), true, false); ?>
									<?php $_max = $_helperCore->currency($_product->getAmOpenAmountMax(), true, false); ?>
									<?php if($_product->getAmOpenAmountMin()): ?>
										<span><?php echo $_helper->__('Minimum: %s', $_min); ?></span>
									<?php endif; ?>

									<?php if($_product->getAmOpenAmountMax()): ?>
										<span><?php echo $_helper->__('Maximum: %s', $_max); ?></span>
									<?php endif; ?>
								</p>

								<script type="text/javascript">
									minAllowedAmount = <?php echo $_helperCore->currency($_product->getAmOpenAmountMin(), false, false) ?>;
									maxAllowedAmount = <?php echo $_helperCore->currency($_product->getAmOpenAmountMax(), false, false) ?>;
									Validation.add(
										'amgiftcard-min-amount',
										'<?php echo Mage::helper('amgiftcard')->__('Entered amount is too low'); ?>',
										function(v) {
											return (parseAmount(v) >= minAllowedAmount);
										}
									);
									Validation.add(
										'amgiftcard-max-amount',
										'<?php echo Mage::helper('amgiftcard')->__('Entered amount is too high'); ?>',
										function(v) {
											if (maxAllowedAmount == 0) {
												return true;
											}
											return (parseAmount(v) <= maxAllowedAmount);
										}
									);

									$('am_giftcard_amount_custom').observe('change', changeAmount);
									$('am_giftcard_amount_custom').triggerEvent('change');
								</script>
							<?php endif; ?>
						</div>
					<?php endif; ?>
				</li>
			</ul>
		</div>


	<?php endif; ?>

	<div class="fieldset">
		<ul class="form-list">

			<?php if($_product->getAmGiftcardType() == Amasty_GiftCard_Model_GiftCard::TYPE_COMBINED): ?>
				<li class="fields">
					<div class="field">
						<label for="am_giftcard_type" class="required"><em>*</em><?php echo $_helper->__('Choose card type'); ?></label>
						<div class="input-box">
							<select id="am_giftcard_type" name="am_giftcard_type" class="required-entry">
								<option value=""><?php echo $_helper->__('-- Please Select --'); ?></option>
								<?php foreach($this->getListCardTypes() as $_cardType):?>
									<option value="<?php echo $_cardType['value'];?>"<?php if($this->getDefaultValue('am_giftcard_type') == $_cardType['value']) echo " selected";?>><?php echo $_cardType['label'];?></option>
								<?php endforeach; ?>
							</select>
							<p class="note am-giftcard-delivery-info" style="display: none">
								<?php echo $_helper->__('Please be aware that printed gift card will be sent to the shipping address you specify during checkout.'); ?>
							</p>
						</div>
						<script>
							var listShowHideElementsWithType = null;
							$('am_giftcard_type').observe('change', function(event){
								listShowHideElementsWithType = listShowHideElementsWithType || $$('.am-giftcard-delivery-info');
								var elem = event.element();
								if(elem.value == "<?php echo Amasty_GiftCard_Model_GiftCard::TYPE_COMBINED?>" || elem.value == "<?php echo Amasty_GiftCard_Model_GiftCard::TYPE_PRINTED?>") {
									for(var i=0; i<listShowHideElementsWithType.length; i++) {
										listShowHideElementsWithType[i].show();
									}
								} else {
									for(var i=0; i<listShowHideElementsWithType.length; i++) {
										listShowHideElementsWithType[i].hide();
									}
								}
							});

							document.observe("dom:loaded", function(){
								$('am_giftcard_type').triggerEvent('change');
							});
							//$('am_giftcard_type').triggerEvent('change');
						</script>
					</div>
				</li>
			<?php endif; ?>

			<?php if($_images = $this->getImages()):?>
				<li class="fields"<?php if(count($_images) == 1) echo ' style="display:none"';?>>
					<div class="field">
						<label for="am_giftcard_image" class="required"><em>*</em><?php echo $_helper->__('Choose card Image'); ?></label>
						<div class="input-box">
							<input type="hidden" id="am_giftcard_image" name="am_giftcard_image" class="required-entry " value="<?php echo $this->getDefaultValue('am_giftcard_image');?>"/>
							<?php foreach($_images as $_image): ?>
								<img class="amgiftcard-image" data-id="<?php echo $_image->getId()?>" src="<?php echo $_image->getThumbUrl()?>" data-img-full-src="<?php echo $_image->getImageUrl();?>"/>
							<?php endforeach; ?>
						</div>
					</div>
				</li>
				<script>
					var images = $$('.amgiftcard-image');
					var image_id_field = $('am_giftcard_image');
					var fullImage = $$('gallery-image visible');
					if(!fullImage[0]) {
						fullImage = $$('img[src="<?php echo $this->helper('catalog/image')->init($_product, 'image'); ?>"]');
					}

					if(!fullImage[0]) {
						fullImage[0] = $('image-main');
					}
					//
					if(!fullImage[0]) {
						fullImage[0] = $('amasty_zoom');
					}
					if(!fullImage[0]) {
						fullImage = $$('img[src="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize(265); ?>"]');
					}

					if(!fullImage[0]) {
						fullImage = $$('.ampromo-item-image');
					}

					for(var i=0; i<images.length; i++)
					{
						$(images[i]).observe('click', function(event){
							amRemoveClassNames();
							var elem = event.element();
							Element.addClassName(elem, 'selected');
							image_id_field.value = elem.getAttribute('data-id');
							var fullImageVisible = $$('gallery-image visible');
							if(fullImageVisible[0]) {
								fullImageVisible[0].src = elem.getAttribute('src');
							}
							if(fullImage[0]) {
								fullImage[0].src = elem.getAttribute('src');
							}

						});

						if(images[i].getAttribute('data-id') == image_id_field.value) {
							images[i].triggerEvent('click');
						}

					}
					if(images.length == 1) {
						images[0].triggerEvent('click');
					}

					function amRemoveClassNames()
					{
						image_id_field.value = '';
						for(var i=0; i<images.length; i++)
						{
							Element.removeClassName(images[i], 'selected');

						}
					}
				</script>
			<?php endif; ?>


			<li class="fields">
				<div class="field">
					<label for="am_giftcard_sender_name" class="required"><em>*</em><?php echo $_helper->__('Sender Name'); ?></label>
					<div class="input-box">
						<input type="text" id="am_giftcard_sender_name" name="am_giftcard_sender_name" class="required-entry input-text" value="<?php echo $this->getCustomerName(); ?>" />
					</div>
				</div>
				<div class="field">
					<label for="am_giftcard_sender_email" class="required"><em>*</em><?php echo $_helper->__('Sender Email'); ?></label>
					<div class="input-box">
						<input type="text" id="am_giftcard_sender_email" name="am_giftcard_sender_email" class="validate-email required-entry input-text" value="<?php echo $this->getCustomerEmail(); ?>"/>
					</div>
				</div>
			</li>
			<?php if($_product->getAmGiftcardType() != Amasty_GiftCard_Model_GiftCard::TYPE_PRINTED): ?>
				<li class="fields" id="am_giftcard_recipient_data">
					<div class="field">
						<label for="am_giftcard_recipient_name" class="required"><em>*</em><?php echo $_helper->__('Recipient Name'); ?></label>
						<div class="input-box">
							<input type="text" id="am_giftcard_recipient_name" name="am_giftcard_recipient_name" class="required-entry input-text" value="<?php echo $this->getDefaultValue('am_giftcard_recipient_name');?>" />
						</div>
					</div>
					<div class="field">
						<label for="am_giftcard_recipient_email" class="required"><em>*</em><?php echo $_helper->__('Recipient Email'); ?></label>
						<div class="input-box">
							<input type="text" id="am_giftcard_recipient_email" name="am_giftcard_recipient_email" class="validate-email required-entry input-text" value="<?php echo $this->getDefaultValue('am_giftcard_recipient_email');?>" />
						</div>
					</div>
				</li>
				<?php if($_product->getAmGiftcardType() == Amasty_GiftCard_Model_GiftCard::TYPE_COMBINED): ?>
					<script>
						$('am_giftcard_type').observe('change', function(event){
							var elem = event.element();
							$('am_giftcard_recipient_data').show();
							if(elem.value == "<?php echo Amasty_GiftCard_Model_GiftCard::TYPE_PRINTED?>") {
								$('am_giftcard_recipient_data').hide();
							}
						});
						//$('am_giftcard_type').triggerEvent('change');
					</script>
				<?php endif; ?>
			<?php endif; ?>

			<?php if($this->hasDisplayDeliveryDateChooser()): ?>
				<li class="fields">
					<div class="field">
					<label for="am_giftcard_date_delivery" class="required"><em>*</em><?php echo $_helper->__('Date of certificate delivery'); ?></label>
					<div class="input-box">

						<input name="am_giftcard_date_delivery" id="am_giftcard_date_delivery" value="<?php echo $this->getDefaultValue('am_giftcard_date_delivery');?>" class="required-entry product-custom-option datetime-picker input-text validate-date" type="text">
						<!-- <img src="<?php //echo $this->getSkinUrl('images/calendar.gif');?>" alt="Select Date" class="v-middle" title="Select Date" id="am_giftcard_date_delivery_trig"> -->

						<p class="note am-giftcard-delivery-info" style="display:none;">
							<?php echo $_helper->__('Please be aware that delivery date of printed certificates may be different due to post.'); ?>
						</p>
						<script>
						jQuery( function() {
							jQuery( "#am_giftcard_date_delivery" ).datepicker({
								minDate: 0,
								changeMonth: true,
								changeYear: true
							});
						} );
						</script>
						<script type="text/javascript">
							//<![CDATA[
							var calendarSetupObject = {
								inputField  : "am_giftcard_date_delivery",
								ifFormat    : "%m/%e/%Y",
								showsTime   : false,
								button      : "am_giftcard_date_delivery_trig",
								align       : "Bl",
								singleClick : true,
								disableFunc: function(date) {
									var now= new Date();
									if(date.getFullYear()<now.getFullYear())
									{
										return true;
									}
									if(date.getFullYear()==now.getFullYear())
									{
										if(date.getMonth()<now.getMonth())
										{
											return true;
										}
									}
									if(date.getMonth()==now.getMonth())
									{
										if(date.getDate()<now.getDate())
										{
											return true;
										}
									}
								}
							}
							// Calendar.setup(calendarSetupObject);
							//]]>
						</script>
					</div>
					</div>
					<div class="field">
						<?php
						$listTimezones = $this->getListTimezones();
						if(count($listTimezones) != 1):
							?>
						<!-- <li> -->
							<label for="am_giftcard_date_delivery_timezone" class="required"><em>*</em><?php echo $_helper->__('Select timezone'); ?></label>
							<div class="input-box">
								<select class="required-entry" name="am_giftcard_date_delivery_timezone" id="am_giftcard_date_delivery_timezone">
									<option value=""></option>
									<?php foreach($this->getListTimezones() as $_timezone=>$_timezoneName): ?>
									<option value="<?php echo $_timezone;?>"<?php if($this->getDefaultValue('am_giftcard_date_delivery_timezone') == $_timezone) echo " selected";?>><?php echo $_timezoneName;?></option>
								<?php endforeach;?>
							</select>

						</div>
					<!-- </li> -->
					<?php endif; ?>
					</div>
					<?php endif; ?>
				</li>
			<?php if($this->isMessageAvailable($_product)): ?>
				<li>
					<label for="am_giftcard_message"><?php echo $_helper->__('Message'); ?></label>
					<div class="input-box">
						<textarea name="am_giftcard_message" id="am_giftcard_message" class="input-text" cols="10" rows="3"><?php echo $this->getDefaultValue('am_giftcard_message');?></textarea>
					</div>
				</li>
			<?php endif; ?>
		</ul>
	</div>

<?php endif;?>
</div>
