<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
	$store = Mage::app()->getStore();
	$code  = $store->getCode();
?>
<?php
	$ratio_width = 800;
	$ratio_height = 800;
	if(Mage::getStoreConfig("vigoshop_settings/product_view/ratio_width", $code)){
	    $ratio_width = Mage::getStoreConfig("vigoshop_settings/product_view/ratio_width", $code);
	}
	if(Mage::getStoreConfig("vigoshop_settings/product_view/ratio_height", $code)){
	    $ratio_height = Mage::getStoreConfig("vigoshop_settings/product_view/ratio_height", $code);
	}
    $ratio = $ratio_height / $ratio_width;
?>
<?php if (count($this->getGalleryImages()) > 0): ?>
<ul id="etalage">
<?php foreach ($this->getGalleryImages() as $_image): ?>
    <li>
        <img class="etalage_thumb_image" src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $_image->getFile())->resize(1000, 1000*$ratio); ?>">
        <img class="etalage_source_image" src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $_image->getFile())->resize(100, 100*$ratio)?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>">
    </li>
<?php endforeach; ?>
</ul>
<?php else: ?>
<ul id="etalage">
    <li>
        <img class="etalage_thumb_image" src="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize(1000, 1000*$ratio); ?>">
        <img class="etalage_source_image" src="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize(100, 100*$ratio)?>" alt="<?php echo $this->htmlEscape($this->getImageLabel()) ?>">
    </li>
</ul>
<?php endif; ?>
<div class="etalage-control">
    <a href="javascript:void(0)" class="etalage-prev">Previous</a>
    <a href="javascript:void(0)" class="etalage-next">Next</a>
</div>
<script type="text/javascript">
    jQuery(document).ready(function(){
        var width = jQuery('.product-view .product-img-box').width() * 0.72;
        var src_img_width = 80;
        var src_img_height = 100;
        var ratio_width = <?php echo $ratio_width; ?>;
        var ratio_height = <?php echo $ratio_height; ?>;
        
        src_img_width = 100 * ratio_width / ratio_height;
        var height = width * ratio_height / ratio_width;

        jQuery('#etalage').etalage({
            thumb_image_width: width,
            thumb_image_height: height,
            source_image_width: src_img_width,
            source_image_height: src_img_height,
            zoom_area_width: width,
            zoom_area_height: height,
            zoom_enable: false,
            smallthumb_hide_single: false,
            smallthumbs_position: 'left',
            show_icon: false,
            autoplay: false
        });
        jQuery(".product-img-box .etalage li.etalage_thumb").zoom();
        jQuery('.product-view .product-img-box .etalage-control a').css('left',((jQuery('.etalage_small_thumbs').width()-25)/2)+"px");
        if(jQuery('.etalage_small_thumbs').width() == 0)
            jQuery('.product-view .product-img-box .etalage-control a').css('left',((jQuery('.etalage_small_thumbs img').first().width()-25)/2)+"px");
        jQuery(window).resize(function(e){
            var width = jQuery('.product-view .product-img-box').width() * 0.72;
            var height = width * ratio_height / ratio_width;
            zoom_enabled = false;
            if(jQuery(window).width()<480)
                zoom_enabled = false;
            jQuery('#etalage').etalage({
                thumb_image_width: width,
                thumb_image_height: height,
                source_image_width: src_img_width,
                source_image_height: src_img_height,
                zoom_area_width: width,
                zoom_area_height: height,
                zoom_enable: zoom_enabled,
                smallthumb_hide_single: false,
                smallthumbs_position: 'left',
                show_icon: true,
                autoplay: false
            });
            jQuery('.product-view .product-img-box .etalage-control a').css('left',((jQuery('.etalage_small_thumbs').width()-25)/2)+"px");
        });
        jQuery('.etalage-prev').on('click', function(){
            etalage_previous();
        });

        jQuery('.etalage-next').on('click', function(){
            etalage_next();
        });
    });
</script>
<div class="clear"></div>