<div class="block block-reviews">
    <div class="block-title">
        <strong><span><?php echo $this->__('Reviews') ?></span></strong>
    </div>
    <div class="block-content">
        <?php $_items = $this->getReviewsCollection()->getItems();?>
        <div class="box-collateral box-reviews" id="customer-reviews">
            <div class="review-counts"><?php echo count($_items).' '.$this->__('Review(s) for').' <span>"'.$this->getProduct()->getName().'"</span>'; ?></div>
            <?php
                $_avg_percent = 0;
				if (count($_items)){
                    foreach($_items as $review){
                        $_votes = $review->getRatingVotes(); 
                        $_percent = 0;
                        if (count($_votes)){
                            foreach ($_votes as $_vote){
                                $_percent += $_vote->getPercent();
                            }
                            $_percent = $_percent / count($_votes);
                        }
                        $_avg_percent += $_percent;
                    }
                    $_avg_percent = $_avg_percent / count($_items);
                }
            ?>
            <div class="rating-box">
                <div class="rating" style="width:<?php echo $_avg_percent ?>%"></div>
            </div>
            <div class="clear"></div>
            <?php if (count($_items)):?>
                <div class="review-list">
                <?php foreach ($_items as $_review):?>
                    <div class="review-item">
                        <div class="review-content">
                            <a href="<?php echo $this->getReviewUrl($_review->getId()) ?>"><?php echo $this->htmlEscape($_review->getTitle()) ?></a>
                            <div><?php echo nl2br($this->htmlEscape($_review->getDetail())) ?></div>
                        </div>
                        <?php 
                            $_votes = $_review->getRatingVotes(); 
                            $_percent = 0;
                            if (count($_votes)){
                                foreach ($_votes as $_vote){
                                    $_percent += $_vote->getPercent();
                                }
                                $_percent = $_percent / count($_votes);
                            }
                        ?>
                        <div class="review-customer">
                            <div class="avatar-image">
                                <img src="<?php echo $this->getSkinUrl('images/avatar.jpg'); ?>"/>
                            </div>
                            <span><?php echo $this->htmlEscape($_review->getNickname()) ?></span>
                            <div class="rating-box">
                                <div class="rating" style="width:<?php echo $_percent ?>%;"></div>
                            </div>
                            <small class="date"><?php echo Mage::getModel('core/date')->date('M j, Y' , strtotime($_review->getCreatedAt())) ?></small>
                        </div>
                    </div>
                <?php endforeach; ?>
                </div>
            <?php endif;?>
            <button type="button" title="<?php echo $this->__('Write Review') ?>" class="button btn-write" onclick="window.location.href='<?php echo Mage::getUrl('review/product/list', array('id'=> $this->getProductId())); ?>#review-form'"><span><span><?php echo $this->__('Add Review') ?></span></span></button>
        </div>
    </div>
</div>