<?php 
    $Banks = Mage::getStoreConfig('netbank/net_banking/bank_select',Mage::app()->getStore());
    $topBanks = explode(',', $Banks);
    $allBanksArr = array(
        'AXIB' => 'AXIS Bank NetBanking',
        'BOIB' => 'Bank of India',
        'BOMB' => 'Bank of Maharashtra',
        'CBIB' => 'Cebtral Bank of India',
        'CRPB' => 'Corporation Bank',
        'DCBB' => 'Development Credit Bank',
        'FEDB' => 'Federal Bank',
        'HDFB' => 'HDFC Bank',
        'ICIB' => 'ICICI Netbanking',
        'IDBB' => 'Industrial Development Bank of India',
        'INDB' => 'Indian Bank',
        'INIB' => 'IndusInd Bank',
        'INOB' => 'Indian Overseas Bank',
        'JAKB' => 'Jammu and Kashmir Bank',
        'KRKB' => 'Karnataka Bank',
        'KRVB' => 'Karur Vysya',
        'SBBJB' => 'State Bank of Bikaner and Jaipur',
        'SBHB' => 'State Bank of Hyderabad',
        'SBIB' => 'State Bank of India',
        'SBMB' => 'State Bank of Mysore',
        'SBTB' => 'State Bank of Travancore',
        'SOIB' => 'South Indian Bank',
        'UBIB' => 'Union Bank of India',
        'UNIB' => 'United Bank Of India',
        'VJYB' => 'Vijaya Bank',
        'YESB' => 'Yes Bank',
        'CUBB' => 'CityUnion',
        'CABB' => 'Canara Bank', 
        'SBPB' => 'State Bank of Patiala',
        'CITNB' => 'Citi Bank NetBanking',
        'DSHB' => 'Deutsche Bank Netbanking',
        '162B' => 'Kotak Bank Netbanking',
    );
?>

<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">
        <li class="payu-payment-option-box">
            <div class="input-box display-none payment-data-box" id="p_method_payucheckout_nb_data">
                
                <select class="payu-payment-dropdowns required-entry" id="payu_net_banking_cards" size="1" name="payment[cc_type]">
                        <option value="">Choose Bank</option>
                    <?php 
                        // Get the list of all priority banks
                        foreach($topBanks as $bankKey => $bankVal){
                            if (array_key_exists($bankVal, $allBanksArr)) {
                                echo '<option value="' . $bankVal . '">' . $allBanksArr[$bankVal] . '</option>';
                            }
                        }
                        echo '<option value="">------------------</option>';
                        // Get the list of remaining banks
                        foreach($allBanksArr as $allKey => $allVal){
                            if(!in_array($allKey, $topBanks)){
                                echo '<option value="' . $allKey . '">' . $allVal . '</option>';
                            }
                        }
                    ?>
                </select>
            </div>
        </li>
    </ul>
</fieldset>