<?php
$store = Mage::app()->getStore();
$code  = $store->getCode();
$footer = Mage::getStoreConfig('vigoshop_settings/footer',$code);
?>
<div class="footer-container">
    <div class="footer">
        <div class="container">
            <?php
                if($footer['footer_top_enabled']){
            ?>
            <div class="row footer-top">
            <?php
                if($footer['footer_top_column_1']){
            ?>
                <div class="">
                <?php 
                    $area = 'footer_top_column_1';
                    $type = $footer[$area];
                    if($type=='most_favorite'){
                        echo $this->getChildHtml('bestseller');
                    }
                    if($type=='quick_contact'){
                        echo $this->getChildHtml('quickcontact');
                    }
                    if($type=='facebook'){
                        echo $this->getChildHtml('facebook_fans');
                    }
                    if($type=='custom'){
                        echo $this->getLayout()->createBlock('cms/block')->setBlockId($footer[$area.'_custom'])->toHtml();
                    }
                ?>
                </div>
            <?php
                }
                if($footer['footer_top_column_2']){
            ?>
                <div class="">
                <?php 
                    $area = 'footer_top_column_2';
                    $type = $footer[$area];
                    if($type=='most_favorite'){
                        echo $this->getChildHtml('bestseller');
                    }
                    if($type=='quick_contact'){
                        echo $this->getChildHtml('quickcontact');
                    }
                    if($type=='facebook'){
                        echo $this->getChildHtml('facebook_fans');
                    }
                    if($type=='custom'){
                        echo $this->getLayout()->createBlock('cms/block')->setBlockId($footer[$area.'_custom'])->toHtml();
                    }
                ?>
                </div>
            <?php
                }
                if($footer['footer_top_column_3']){
            ?>
                <div class="">
                <?php 
                    $area = 'footer_top_column_3';
                    $type = $footer[$area];
                    if($type=='most_favorite'){
                        echo $this->getChildHtml('bestseller');
                    }
                    if($type=='quick_contact'){
                        echo $this->getChildHtml('quickcontact');
                    }
                    if($type=='facebook'){
                        echo $this->getChildHtml('facebook_fans');
                    }
                    if($type=='custom'){
                        echo $this->getLayout()->createBlock('cms/block')->setBlockId($footer[$area.'_custom'])->toHtml();
                    }
                ?>
                </div>
            <?php
                }
            ?>
            </div>
            <script type="text/javascript">
            //<![CDATA[
                if(jQuery(".footer-top").children('div').length > 0){
                    jQuery(".footer-top").children('div').addClass('col-sm-'+(12/jQuery(".footer-top").children('div').length));
                }
            //]]
            </script>
            <?php
                }
                if($footer['footer_top_enabled'] && $footer['footer_middle_enabled']){
            ?>
            <div class="split"></div>
            <?php
                }
                if($footer['footer_middle_enabled']){
            ?>
            <div class="row footer-middle">
            <?php
                if($footer['footer_middle_column_1']){
            ?>
                <div class="">
                <?php 
                    $area = 'footer_middle_column_1';
                    $type = $footer[$area];
                    if($type=='custom'){
                        echo $this->getLayout()->createBlock('cms/block')->setBlockId($footer[$area.'_custom'])->toHtml();
                    }
                ?>
                </div>
            <?php
                }
                if($footer['footer_middle_column_2']){
            ?>
                <div class="">
                <?php 
                    $area = 'footer_middle_column_2';
                    $type = $footer[$area];
                    if($type=='custom'){
                        echo $this->getLayout()->createBlock('cms/block')->setBlockId($footer[$area.'_custom'])->toHtml();
                    }
                ?>
                </div>
            <?php
                }
                if($footer['footer_middle_column_3']){
            ?>
                <div class="">
                <?php 
                    $area = 'footer_middle_column_3';
                    $type = $footer[$area];
                    if($type=='custom'){
                        echo $this->getLayout()->createBlock('cms/block')->setBlockId($footer[$area.'_custom'])->toHtml();
                    }
                ?>
                </div>
            <?php
                }
                if($footer['footer_middle_column_4']){
            ?>
                <div class="">
                <?php 
                    $area = 'footer_middle_column_4';
                    $type = $footer[$area];
                    if($type=='custom'){
                        echo $this->getLayout()->createBlock('cms/block')->setBlockId($footer[$area.'_custom'])->toHtml();
                    }
                ?>
                </div>
            <?php
                }
            ?>
            </div>
            <script type="text/javascript">
            //<![CDATA[
                if(jQuery(".footer-middle").children('div').length > 0){
                    jQuery(".footer-middle").children('div').addClass('col-sm-'+(12/jQuery(".footer-middle").children('div').length));
                }
            //]]
            </script>
            <?php
                }
            ?>
            <div class="split scroll-top"><a href="javascript:void(0)"></a></div>
            <?php
                if($footer['footer_bottom_enabled']){
            ?>
            <div class="row footer-bottom">
                <div class="col-sm-12">
                    <?php echo $this->getChildHtml('socialIcons'); ?>
                    <address><?php echo $footer['copyrights'] ?></address>
<!--                    <div class="footer-store-switcher">
                    <?php echo $this->getChildHtml('store_switcher'); ?>
                    </div>-->
                </div>
            </div>
            <?php
                }
            ?>
        </div>
    </div>
</div>
<?php
    echo $this->getChildHtml('ajaxSlider');
?>
<script type="text/javascript">
//<![CDATA[
    jQuery('.footer .scroll-top a').click(function(){
        jQuery('html, body').animate({scrollTop: 0}, 600, "easeOutCubic");
        return false;
    });
//]]
</script>