<?php
$store = Mage::app()->getStore();
$code  = $store->getCode();
$enable_custom = Mage::getStoreConfig('vigoshop_settings/menu/show_custom_menu',$code);
$custom_block_id = Mage::getStoreConfig('vigoshop_settings/menu/block_id',$code);
$sticky_menu = Mage::getStoreConfig('vigoshop_settings/menu/sticky_menu',$code);
?>

<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span><?php echo $this->__('Menu') ?></span>
            </button>
            <div class="for-mobile">
            <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('catalogsearch/form.mini.mobile.phtml')->toHtml(); ?>
            </div>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collaspe" role="navigation">
            <?php
                if($sticky_menu){
            ?>
            <a href="<?php echo $this->getUrl('') ?>" title="<?php echo Mage::getStoreConfig('design/header/logo_alt', $code); ?>" class="logo sticky-logo"><strong><?php echo $this->getLogoAlt() ?></strong><img src="<?php echo $this->getSkinUrl(Mage::getStoreConfig('design/header/logo_src', $code)); ?>" alt="<?php echo Mage::getStoreConfig('design/header/logo_alt', $code); ?>" /></a>
            <?php
                }
            ?>
            <?php
                $storeId    = Mage::app()->getStore()->getId();
                //Get category model
                $_category = Mage::getModel('catalog/category')->setStoreId($storeId);
                $_cat = $_category->load(Mage::app()->getStore()->getRootCategoryId());
            ?>

            <?php
            function hasMenuChildren($_cat){
                $storeId    = Mage::app()->getStore()->getId();
                $return_val = false;
                if($_cat->hasChildren()){
                    $_children = $_cat->getChildren();
                    $children_ids = explode(",", $_children);
                    foreach ($children_ids as $child_id){
                        $_child = Mage::getModel('catalog/category')->setStoreId($storeId)->load($child_id);
                        if($_child->getIncludeInMenu()){
                            $return_val = true;
                        }
                    }
                }
                return $return_val;
            }
            function cmpCatPosition($a, $b) {
                if ($a->position == $b->position)
                    return 0;
                return ($a->position > $b->position) ? 1 : -1;
            }
            function showChildrenCategories($_category, $level, $level_limit, $columns, $custom_html=''){
                $storeId = Mage::app()->getStore()->getId();
                $html = '';
                if($level == 0){
                    $html .= '<ul id="nav_custom" class="nav navbar-nav">';
                } else {
                    $html .= '<ul class="level'.$level.'">';
                }
                $_children = $_category->getChildren();
                $children_ids = explode(",", $_children);
                $i = 0;
                $categoryChildren = array();   
                if ($children_ids) {
                    foreach ($children_ids as $categoryId){
                        $category = Mage::getModel('catalog/category')->load($categoryId);
                        $categoryChildren[] = $category;
                    }
                }

                usort($categoryChildren, 'cmpCatPosition');
                foreach ($categoryChildren as $_child){
                    if($_child->getIncludeInMenu()){
                        $html .= '<li class="level'.$level;
                        if($i == 0){
                            $html .= ' first';
                        }
                        if( hasMenuChildren($_child) && $level < $level_limit ){
                            $html .= ' parent';
                        }
                        $html .='" thumb_image="';
                        if( $_child->getThumbnail() ){
                            $html .= Mage::getBaseUrl('media').'catalog/category/'.$_child->getThumbnail();
                        } else {
                            $html .= 'no-image';
                        }
                        $html .= '">';
                        $url = $_child->getUrl();
                        if(Mage::app()->getFrontController()->getRequest()->isSecure())
                            $url = str_replace('http://', 'https://', $url ); 
                        $html .= '<a href ="'.$url.'"><span>';
                        $html .= $_child->getName();
                        $html .= '</span></a>';
                        if( hasMenuChildren($_child) && $level < $level_limit ){
                            $html .= '<span class="plus"></span>';
                            $html .= showChildrenCategories($_child, $level+1, $level_limit, $columns);
                        }
                        $html .= '</li>';
                        $i++;
                    }
                }
                if($level == 0){
                    $html .= $custom_html;
                }
                if($level == 1){
                    if( $_category->getThumbnail() ){
                        $html .= '<li class="level1 thumbnail-image-area" style="position: relative;"><img src="'.Mage::getBaseUrl('media').'catalog/category/'.$_category->getThumbnail().'"/></li>';
                    } else {
                        $html .= '<li class="level1 thumbnail-image-area" style="position: relative;"><img src="'.Mage::getDesign()->getSkinUrl('images/np_thumb2.gif').'" style="display: none;" /></li>';
                    }
                    
                }
                $html .= '</ul>';
                return $html;
            }
            $custom_html = '';
            if ($enable_custom) {
                $custom_html = $this->getLayout()->createBlock('cms/block')->setBlockId($custom_block_id)->toHtml();
                if(substr($custom_html, 0,4)=="<ul>"){
                    $custom_html = substr($custom_html, 4);
                }
                if(substr($custom_html, -5)=="</ul>"){
                    $custom_html = substr($custom_html, 0, -5);
                }
            }
			$show_columns = 4;
            echo showChildrenCategories($_cat, 0, 3, $show_columns, $custom_html);
            ?>
            <div class="for-desktop">
            <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('catalogsearch/form.mini.phtml')->toHtml(); ?>
            </div>
        </nav>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
    jQuery(document).ready(function(){
<?php
    if($sticky_menu){
?>
        var scrolled = false;
        jQuery(window).scroll(function(){
            if(200<jQuery(window).scrollTop() && !scrolled){
                jQuery('.navbar').addClass('sticky-menu').css('top','-50px').animate({top:'0px'}, 500);
                scrolled = true;
            }
            if(200>jQuery(window).scrollTop() && scrolled){
                jQuery('.navbar').removeClass('sticky-menu');
                scrolled = false;
            }
        })
<?php
    }
?>
        jQuery("#nav_custom li.level0").mouseover(function(){
            if(jQuery(window).width() >= 768){
                jQuery(this).children('ul.level1').fadeIn();
            }
            return false;
        }).mouseleave(function(){
            if(jQuery(window).width() >= 768){
                jQuery(this).children('ul.level1').fadeOut();
            }
            return false;
        });
        jQuery("#nav_custom li span.plus").click(function(e){
            e.stopPropagation();
            if(jQuery(this).hasClass('expanded')){
                jQuery(this).removeClass('expanded');
                jQuery(this).parent().removeClass('expanded');
                jQuery(this).parent().children('ul').slideUp();
            } else {
                jQuery(this).parent().parent().children('li.expanded').children('ul').slideUp();
                jQuery(this).parent().parent().children('li.expanded').children('span.expanded').removeClass('expanded');
                jQuery(this).parent().parent().children('li.expanded').removeClass('expanded');
                jQuery(this).addClass('expanded');
                jQuery(this).parent().addClass('expanded');
                jQuery(this).parent().children('ul').slideDown();
            }
        });
        /*
        var flg = false;
        jQuery("#nav_custom a").mouseover(function(){
            var thumb_image = jQuery(this).parent().attr("thumb_image");
            if(thumb_image != "no-image")
                jQuery("#nav_custom li.thumbnail-image-area img").attr("src",thumb_image);
        });
        */
    });
//]]>
</script>