<footer>
	<div class="main_container">
		<div class="left_links">
			<a href="<?php echo $this->getBaseUrl().'terms-conditions'?>">Terms And Conditions</a>
			<a href="<?php echo $this->getBaseUrl().'privacy-policy'?>">Privacy Policy</a>
			<span>&copy;2018 LINKING CHARMS</span>
		</div>

		<div class="devloperd_by">
			
		</div>
	</div>
</footer>