<header>
<div class="logo"><a href="<?php echo $this->getBaseUrl()?>"><img src="<?php echo $this->getSkinUrl('images/custom/logo_2.jpg')?>" /></a></div>
<?php if(!$this->helper('customer')->isLoggedIn()){ ?>
<div class="customer-account-login">
    <a class="login" href="<?php echo $this->getBaseUrl();?>/customer/account/login/" title="Log In" onclick="return false;">
        <span>Log In</span>
    </a>
    <a class="signup" href="<?php echo $this->getBaseUrl();?>/customer/account/create/" title="Sign Up" onclick="return false;">
        <span>Sign Up</span>
    </a>
</div>
 <?php } ?>
<?php if($this->helper('customer')->isLoggedIn()){ ?>
<div class="logged-in-user">
    <p class="welcome-msg account_links">
        <span>
            <?php $name = Mage::getSingleton('customer/session')->getCustomer()->getFirstname();
            $email = Mage::getSingleton('customer/session')->getCustomer()->getEmail();

            if($name == "") $name = $email;

            if(strlen($name) > 15){
            $name = substr($name,0,15).'...';
            }
            echo $this->__('Hi %s !', $name); ?>
            <img src="<?php echo $this->getSkinUrl("images/drop.gif"); ?>" style="padding-top:4px;" class="login_dropdown_icon">
        </span>
    </p>
    <ul class="dropdown_links">
        <li><a href="<?php echo Mage::getUrl('customer/account');?>">My Account</a></li>
        <li><a href="<?php echo Mage::getUrl('sales/order/history');?>">My Order</a></li>
        <li><a href="<?php echo Mage::getUrl('customer/account/edit');?>">Personal Info</a></li>
        <li><a href="<?php echo Mage::getUrl('customer/address/new/');?>">Address</a></li>
        <li><a href="<?php echo Mage::getUrl('customer/account/logout');?>">Logout</a></li>
    </ul>
</div>
 <?php } ?>
 </header>

 <div class="banner">
     <img src="<?php echo $this->getSkinUrl('images/custom/banner_img.jpg')?>" class="desktop_banner" />
     <img src="<?php echo $this->getSkinUrl('images/custom/banner_img_mobile.jpg')?>" class="mobile_banner" />

    <div class="valid_till">*September 30th</div>
     <div class="offer_div">
        <img src="<?php echo $this->getSkinUrl('images/custom/offer_img_1.png')?>" />
        <div class="mobile_offer">
            <a href="<?php echo $this->getBaseUrl()?>" class="new_button">Shop Now</a>
            <img src="<?php echo $this->getSkinUrl('images/custom/offer_img_2.png')?>" />
            <span>LinkingCharms</span>
        </div>
     </div>
 </div>
 <script type="text/javascript">

    jQuery(document).ready(function($) {
        $(".account_links").click(function(){
            $(".dropdown_links").toggle();
        });/*
        if( $(".logged-in-user .welcome-msg").is(":visible") ) {
            $(".customer-account-login").hide();
        } else {
            $(".customer-account-login").show();
        }*/
    });
 </script>

