
<div class="landing_page">
	<div class="heading">
		<span>Top categories</span>
	</div>

	<div class="best_seller_block">
		<div class="category">
			<a href="<?php echo $this->getBaseUrl().'mens-collection/shirts'?>">
				<div class="img_div"><img src="<?php echo $this->getSkinUrl('images/custom/imgblock_1.jpg')?>" /></div>
				<div class="cat_name">Men's Shirt</div>
			</a>
		</div>
		<div class="category">
			<a href="<?php echo $this->getBaseUrl().'mens-collection/t-shirts'?>">
				<div class="img_div"><img src="<?php echo $this->getSkinUrl('images/custom/imgblock_2.jpg')?>" /></div>
				<div class="cat_name">Mens T-shirts</div>
			</a>
		</div>
		<div class="category">
			<a href="<?php echo $this->getBaseUrl().'womens-collection/women-tops'?>">
				<div class="img_div"><img src="<?php echo $this->getSkinUrl('images/custom/imgblock_3.jpg')?>" /></div>
				<div class="cat_name">Womens Tops</div>
			</a>
		</div>
		<div class="category">
			<a href="<?php echo $this->getBaseUrl().'womens-collection/indian-ethnic-wear/kurtis'?>">
				<div class="img_div"><img src="<?php echo $this->getSkinUrl('images/custom/imgblock_4.jpg')?>" /></div>
				<div class="cat_name">Womens Kurtis</div>
			</a>
		</div>
	</div>

	<div class="visitsotre">
		<a href="<?php echo $this->getBaseUrl()?>" class="new_button">Visit Store</a>
	</div>
</div>

