<?php
/**
* Brainvire Infotech Pvt. Ltd
 * @category   Brainvire
 * @package    Brainvire_Points
 * @version    1.5.1
 * @copyright  Copyright (c) 2010-2012 Brainvire Infotech Pvt. Ltd (http://www.brainvire.com)
 * @license    
 */
?>

<?php $_invoice = $this->getInvoice() ?>
<?php $_order = $this->getOrder() ?>
<?php if ($_invoice && $_order): ?>
    <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border:1px solid #bebcb7; background:#f8f7f5;">
        <thead>
            <tr>
                <th align="left" bgcolor="#d9e5ee" style="padding:3px 9px"><?php echo $this->__('Item') ?></th>
                <th align="left" bgcolor="#d9e5ee" style="padding:3px 9px"><?php echo $this->__('Sku') ?></th>
                <th align="center" bgcolor="#d9e5ee" style="padding:3px 9px"><?php echo $this->__('Qty') ?></th>
                <th align="right" bgcolor="#d9e5ee" style="padding:3px 9px"><?php echo $this->__('Subtotal') ?></th>
            </tr>
        </thead>

        <?php $i = 0;
        foreach ($_invoice->getAllItems() as $_item): ?>
                <?php if ($_item->getOrderItem()->getParentItem())
                    continue; else
                    $i++; ?>
            <tbody<?php echo $i % 2 ? ' bgcolor="#eeeded"' : '' ?>>
        <?php echo $this->getItemHtml($_item) ?>
            </tbody>
    <?php endforeach; ?>

        <tfoot>
            <tr>
                <td colspan="3" align="right" style="padding:3px 9px"><?php echo $this->__('Subtotal') ?></td>
                <td align="right" style="padding:3px 9px"><?php echo $_order->formatPrice($_invoice->getSubtotal()) ?></td>
            </tr>
    <?php if ($_invoice->getDiscountAmount() > 0): ?>
                <tr>
                    <td colspan="3" align="right" style="padding:3px 9px"><?php echo $this->__('Discount%s', $_order->getCouponCode() ? ' (' . $_order->getCouponCode() . ')' : '') ?></td>
                    <td align="right" style="padding:3px 9px"><?php echo $_order->formatPrice(0.00 - $_invoice->getDiscountAmount()) ?></td>
                </tr>
    <?php endif; ?>
    <?php if ($_invoice->getShippingAmount()): ?>
                <tr>
                    <td colspan="3" align="right" style="padding:3px 9px"><?php echo $this->__('Shipping & Handling') ?></td>
                    <td align="right" style="padding:3px 9px"><?php echo $_order->formatPrice($_invoice->getShippingAmount()) ?></td>
                </tr>
    <?php endif; ?>
    <?php if (($_invoice->getTaxAmount() > 0) || (Mage::helper('tax')->displayZeroTax())): ?>
                <tr>
                    <td colspan="3" align="right" style="padding:3px 9px"><?php echo $this->__('Tax') ?></td>
                    <td align="right" style="padding:3px 9px"><?php echo $_order->formatPrice($_invoice->getTaxAmount()) ?></td>
                </tr>
    <?php endif; ?>
    <?php if ($_order->getMoneyForPoints()): ?>
                <tr>
                    <td colspan="3" align="right" style="padding:3px 9px"><?php echo Mage::helper('points/config')->getPointUnitName() ?></td>
                    <td align="right" style="padding:3px 9px"><?php echo $_order->formatPrice($_order->getMoneyForPoints()) ?></td>
                </tr>
    <?php endif; ?>
            <tr bgcolor="#DEE5E8">
                <td colspan="3" align="right" style="padding:3px 9px"><strong><big><?php echo $this->__('Grand Total') ?></big></strong></td>
                <td align="right" style="padding:6px 9px"><strong><big><?php echo $_order->formatPrice($_invoice->getGrandTotal()) ?></big></strong></td>
            </tr>
        </tfoot>
    </table>
<?php endif; ?>