
<?php $_helper = $this->helper('catalog/output'); ?><?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<?php $productModel = Mage::getModel('catalog/product'); ?>
<?php $_wishlistSubmitUrl = $this->helper('wishlist')->getAddUrl($_product); ?>
<?php $_isActive = Mage::getStoreConfig('outofstocksubscription/mail/active', $_storeId); ?>
    <?php if(!$_product->isSaleable() && $_isActive): ?>
        <?php $_url = $this->getUrl('outofstocksubscription') ?>
    <?php else: ?>
        <?php $_url = $this->getAddToCartUrl($_product); ?>
    <?php endif; ?>

<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<ul class="messages messages-custom" style="display:none;"><li class="success-msg"><ul><li><span>&nbsp;</span></li></ul></li></ul>
<div id="result-error" class="error-msg" style="display:none;"></div>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view <?php echo 'product-type-'.$_product->getTypeId();?>">
    <div class="product-essential">
    <form action="<?php echo $_url ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <div class="product-name-resp">
            <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
        </div>
        <div class="product-img-box">
            <?php echo $this->getChildHtml('media'); ?>
            <div class="wishlist_pdp">
            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                <?php if ($this->helper('customer')->isLoggedIn()): ?>
                    <li><a href="<?php echo $_wishlistSubmitUrl ?>" onclick="productAddToCartForm.submitLight(this, this.href); return false;" class="link-wishlist"><?php echo '<span class="plus_ico">&nbsp;</span>'.$this->__('Add to Wishlist') ?></a></li>
                <?php else : ?>
                    <li><a href="<?php echo $this->getUrl('rawwishlist/index/add').'?sku='.$_product->getSku();?>" class="link-wishlist"><?php echo '<span class="plus_ico">&nbsp;</span>'.$this->__('Add to Wishlist') ?></a></li>
                <?php endif; ?>
            <?php endif; ?>
            </div>

        </div>

        <div id="product-slider">
            <?php
            //$image_path=Mage::helper('catalog/image')->init($_product, 'thumbnail')->resize(135);
            //echo "<img src=".$image_path.">";
            $_images = Mage::getModel('catalog/product')->load($_product->getId())->getMobileMediaGalleryImages();
            ?>
            <div class="product-slk-slider">
            <?php
            if($_images->getSize() && $_product->getTypeId()!='amgiftcard')
            {
            $i=0; 
            foreach($_images as $_image){ $i++;?>
                <div><img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $_image->getFile())->resize(583, 486); ?>" alt="<?=$this->htmlEscape($_image->getLabel());?>" title="<?=$this->htmlEscape($_image->getLabel());?>" /></div>

               <?php }?>
            <?php }
            else { ?>
             <div>
                <?php
                $_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(583,486).'" alt="'.$this->escapeHtml($this->getImageLabel()).'" title="'.$this->escapeHtml($this->getImageLabel()).'" />';
                echo $this->helper('catalog/output')->productAttribute($_product, $_img, 'image');
                ?>
            </div>
               
            <?php }?>

            </div>
        </div>

        <div class="product-shop">
            <div class="product-name">
                <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                <h2 class="product_code"><!-- Product code : --> (<?php echo 'STYLE # ' . $_product->getSku(); ?>)</h2>
                <div class="product_description">
                    <?php 
                        echo $_helper->productAttribute($_product, nl2br($_product->getDescription()), 'description')
                    ?>
                </div>
                
                <?php //if($_product->getProductFinish()): ?>
                
                <!-- <div class="each_feature"> -->
                   <!--  <span class="feature_title">Metal<span>:</span></span>
                    <span class="feature_value">
                    <?php
                        // $attr = $productModel->getResource()->getAttribute("product_finish");
                        // $label = $_product->getProductFinish();
                        // if ($attr->usesSource()) { 
                        //     echo $attr->getSource()->getOptionText($label); 
                        // }
                    ?>
                    </span> -->
                <!-- </div> -->
                <?php //endif;?>

            </div>
            <?php //echo $this->getReviewsSummaryHtml($_product, false, true)?>
            <?php //echo $this->getLayout()->createBlock('sharingtool/share')->setBlockId('addthis_sharetool')->toHtml(); ?>
            <?php echo $this->getChildHtml('alert_urls') ?>
            <?php echo $this->getChildHtml('product_type_data') ?>
            <?php echo $this->getChildHtml('extrahint') ?>
            <?php if($_product->getTypeId()!='amgiftcard'): ?>
                <?php echo $this->getChildHtml('prices') ?>
                <?php echo $this->getTierPriceHtml() ?>
            <?php endif; ?>

            <?php if (!$this->hasOptions()):?>
                <div class="add-to-box">
                    <?php if($_product->isSaleable()): ?>
                        <?php echo $this->getChildHtml('addtocart') ?>
                        <?php if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                
                        <?php endif; ?>
                    <?php endif; ?>
                    <?php echo $this->getChildHtml('addto') ?>
                </div>
                <?php echo $this->getChildHtml('extra_buttons') ?>
            <?php endif; ?>

            <!-- <div class="product-page-write-review">Write Review</div> -->
            <?php if(!$_product->isSaleable() && $_isActive): ?>

                    <div id="product-options-subscribe">
                        <table width="100%">
                            <tr>
                                <td colspan="2" style="padding-bottom:5px;">
                                    <h2><?php echo $this->__('Out of Stock') ?></h2>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:5px;"><?php echo $this->__('Email') ?></td>
                                <td>
                                    <input type="text" id="subscription_email" name="subscription_email" value="" style="width:200px;" class="input-text required-entry validate-email" />
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td class="notify-pr">
                                    (<?php echo $this->__("Notify me when this product is back in stock") ?>)
                                </td>
                            </tr>
                            <tr>
                                <td style="">&nbsp;</td>
                                <td>
                                    <button onclick="productAddToCartForm.submit();" id="subscribe-button" class="button btn-notify-pr" type="button"><span><span><?php echo $this->__('notify') ?></span></span></button>
                                </td>
                            </tr>
                        </table>
                        <div style="display:none;" class="fancybox-loading" id="ajax_loader"><div></div></div>
                    </div>

            <?php endif; ?>

            <?php echo $this->getChildHtml('other');?>

            <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
            <?php endif;?>
            <?php
            ?>
           

        <?php //endif;?>
        <div class="clearer"></div>

        <?php if ($_product->isSaleable() && $this->hasOptions()):?>
            <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
        <?php endif;?>
        </div>



        <div class="clearer"></div>

        <?php //if ($_product->isSaleable() && $this->hasOptions()):?>
            <?php //echo $this->getChildChildHtml('container2', '', true, true) ?>
        <?php //endif;?>
    </form>

    <!-- Start html structure for pick up from store functionality -->
   <!--  <div id="popup" class="modal-box"> 
    </div> -->

    <?php $buttonTitle = $this->__('Add to Cart'); ?>
    
    <!-- End html structure for pick up from store functionality -->
    <?php 

        // pick up from store functionality
        if($_product->getData('type_id') == 'configurable') {    
            $confAttributes = $_product->getTypeInstance(true)->getConfigurableAttributesAsArray($_product);
            $attr_used = array();
            foreach ($confAttributes as $key => $value) {
                $attr_used[] = $value['attribute_code'];
            }
        }
    ?>
    <!-- hidden form field for pick up from store functionality -->
    <input type="hidden" id="attribute_code_used" name="attribute_code_used" value="<?php print_r(implode(",", $attr_used)); ?>"/>
    <input type="hidden" id="attribute_code_value" name="attribute_code_value" value=""/>
    <!-- <input type="hidden" id="simple_product_id" name="simple_product_id" value=""/> -->

    <script type="text/javascript">
    //<![CDATA[

        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            // custom tweak added for restricting adding same product in cart
            product_type = '<?php echo $_product->getTypeId() ?>';
            if(product_type == 'configurable') {
                //simpleToconfigurable();
                jQuery('#product_sku_field').val(jQuery('#simple_product_id').val());
            } else {
                thissku = '<?php echo $_product->getSku() ?>';
                jQuery('#product_sku_field').val(thissku);
            }
            // if(jQuery('.catalog-product-view .product-view .quantity #qty').val()>50){
            //         alert('Maximum Quantity Allowed is 50');
            //         return false;
            // }
        if (this.validator.validate()) {

            var form = this.form;
            var oldUrl = form.action;
            if (url) {
                form.action = url;
            }
            var e = null;
            // Start of our new ajax code
            if (!url) {
                url = jQuery('#product_addtocart_form').attr('action');
            }
            url = url.replace("checkout/cart","ajax/index"); // New Code
            var data = jQuery('#product_addtocart_form').serialize();
            thissku = '<?php echo $_product->getSku() ?>';
            data += '&isAjax=1';
            jQuery('#ajax_loader').show();
            try {
                jQuery.ajax( {
                    url : url,
                    dataType : 'json',
                    type : 'post',
                    data : data,
                    success : function(data) {
                        jQuery("#result-error").css("display", "none");
                        jQuery('#ajax_loader').hide();
                        //console.log();
                        jQuery('html, body').animate({
                            scrollTop: jQuery("#page").offset().top
                        }, 2000);
                        if(!data.message)
                        {
                            jQuery('#product-options-subscribe').html('<p>'+ data +'</p>');

                        }
                        else
                        {
                            //alert(data.status + ": " + data.message);
                            if(jQuery('.block-cart')){
                                jQuery('.block-cart').replaceWith(data.sidebar);
                            }
                            if(jQuery('.header .links')){
                                jQuery('.header .links').replaceWith(data.toplink);
                                jQuery('body').find('a.top-link-cart').attr('onclick', 'return false;');

                                if(data.status.toLowerCase() != "error"){
                                    if( jQuery(".product_page_buy_now.selected").length == 1 ) {
                                        window.location.href = "<?php echo $this->getUrl('onepagecheckout',array('_secure'=>true)); ?>";
                                    } else {
                                        jQuery('#headercartcount').html(data['count']);
                                        //jQuery('a[href$="/checkout/cart/"]').eq(0).trigger('click');
                                        updateHeaderCartPopupAfterProductIsAdded(thissku, 'cart');
                                        jQuery('.messages-custom li span').html(data.message);
                                        jQuery('.messages-custom').show();
                                    }
                                }
                                else{

                                    jQuery("#result-error").css("display", "block");
                                    jQuery("#result-error").html(data.message);
                                }
                            }
                        }

                        // storepickup();
                        // clearValue();
                    }
                });
            } catch (e) {
            }
            // End of our new ajax code
            this.form.action = oldUrl;
            if (e) {
                throw e;
            }
        }
    }.bind(productAddToCartForm);
    productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
    //]]>

    </script>
    <?php /* ?>
    <div class="md-more-info" ><a href="<?php echo $_product->getProductUrl();?>"><span><?php echo $this->__('VIEW FULL PRODUCT DETAILS') ?></span></a></div>
    </div>
    <?php */ ?>

    <div class="product-collateral">

        <?php //echo $this->getChildHtml('upsell_products') ?>
        <!-- recently viewed product slider -->
        <?php //echo $this->getChildHtml('catalog.product.related') ?>
        <?php echo $this->getLayout()->createBlock('catalog/product_list_related')->setTemplate('catalog/product/list/related.phtml')->toHtml();?>
        <?php echo $this->getChildHtml('recently_viewed_products') ?>
        <?php echo $this->getChildHtml('product_additional_data') ?>

        <?php //echo $this->getLayout()->createBlock('catalog/product_list_related')->setTemplate('catalog/product/list/related.phtml')->toHtml(); ?>
        <?php echo $this->getChildHtml('review_form') ?>
        <?php echo $this->getChildHtml('product_view_list') ?>

    </div>
</div>
</div>

<style type="text/css">
.product-view .product-img-box .product-image { height: 570px; } /*already in css*/
.product-view .product-img-box .more-views ul { margin-left: 0;} /*already in css*/
.more-views { width: 93px; } /*already in css*/
.product-view button.button.btn-cart { padding: 4px 20px; } /*already in css*/
.link-wishlist {padding: 6px 23px 5px 12px; } /*already in css 9px more width then design*/

#review_anchor { display: none; }
</style>
<script type="text/javascript">

    // End Javscript for pick up for store 
</script>
<script type="text/javascript">
        jQuery(document).ready(function($){
            $('.product-slk-slider').slick({
              infinite: true,
              slidesToShow: 1,
              slidesToScroll: 1
            });

            // $('.catalog-product-view .product-view .quantity #qty').keyup(function(){
            //     console.log($(this).val());
            //     if($(this).val()>50){
            //         alert('Maximum Quantity Allowed is 50');
            //         return false;
            //     }
            // });
        });
</script>
<?php 
if($_product->getTypeId()=='amgiftcard'):?>
<script type="text/javascript">
 jQuery(document).ready(function($){
    var am_giftcard_type = "<?php echo $_product->getData('am_giftcard_type');?>";
    if(am_giftcard_type==1){
        $('.block-check-delivery').hide();    
    }

    $('#am_giftcard_type').on('change', function() {
        $('.block-check-delivery').show();  
        if(this.value==1){
            $('.block-check-delivery').hide();    
        }
   });


 });
</script>
<?php endif;?>