
	<h1>Assigned Status to the stores</h1>
<?php

	$aAssignedLinksCounts = $this->getAssignedCounts();
	//print_r($aAssignedLinksCounts);

	foreach($aAssignedLinksCounts as $key => $StatusData){

		$url = Mage::helper("adminhtml")->getUrl("adminhtml/order_items/index/assigned_filter/".$StatusData['status_id']);
		echo '<a href="'.$url.'">'.ucfirst($StatusData['status_name']).'('.$StatusData['counts'].')</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp';

	}
?>


