<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Giftcard2
 * @version    2.2.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div class="discount aw_giftcard2">
    <form id="aw_giftcard2-form" action="<?php echo $this->getFormUrl();?>" method="post" class="form">
        <p class="form__field">
            <label for="giftcard_code" class="form__label"><?php echo $this->__('Gift card code') ?></label>
            <input type="text" class="form__textfield textfield required-entry" id="giftcard_code" name="giftcard_code" value="">
        </p>
        <p class="form__field">
            <button type="submit" class="button"><?php echo $this->__('Apply Gift Card Code') ?></button>
        </p>
    </form>
    <script type="text/javascript">
        awMobile3.instance.gc2 = new awMobile3.cart('aw_giftcard2-form');
        awMobile3.instance.gc2.observersGiftcard = function() {
            var body = $$('body')[0];

            body.on('submit', '#aw_giftcard2-form', function(event, element) {
                event.preventDefault();
                if (!awMobile3.instance.gc2.validator.validate()) {
                    return false;
                }
                $$('.cart__container')[0].scrollTop = 0;
                awMobile3.panel.prototype.close('discount');
                awMobile3.instance.gc2.requestUpdate($('aw_giftcard2-form').action, $('aw_giftcard2-form').serialize(true));
            });
        }
        awMobile3.instance.gc2.observersGiftcard();
    </script>
</div>