<div class="home-banner-wrap">
 <div class="banner-wrapper">
    <div  class="home-banner">
        <?php $_counter = 0 ?>
        <?php foreach ($this->getSliders() as $_slider) :
            $firstLink = $_slider['banner_image'];
            ?>
            <div class="slide">
                <a href="<?php echo $_slider['banner_link'] ?>">
                   <img class="lazybannerimage" src="<?php echo $firstLink;?>" data-src="<?php echo $_slider['banner_image'] ?>" <?php if ($design['banner_title'] == 1) : ?>title="#harpreet-elem<?php echo $_counter ?>"<?php endif; ?> alt=""/>
               </a>
           </div>
           <?php $_counter++ ?>
       <?php endforeach; ?>
   </div>
</div>
</div>


