<div class="promo-content_wrapper">
	<?php echo $this->getChildHtml('desktop_after_banner_slider');?>
</div>
<?php 
$_helper = Mage::helper('catalog/output');
$productListBlock = $this->getLayout()->createBlock('catalog/product_list');
$_productCollection = Mage::helper('styler/data')->getHomeProducts();
?>
<?php 
$_collection = $_productCollection['category_products'];
if($_collection->getSize()>3):?>
	<div class="product-slider">
		<div class="custom-container">
			<div class="slider-inner">
				<div class="js-product-slider">
					<?php foreach ($_collection as $_product) { ?>
						<div class="item">
							<div class="product-wrap">
								<div class="product-details">
									<?php 
									$config = Mage::getModel('catalog/product_type_configurable')->getParentIdsByChild($_product->getId());

									$existing_url = Mage::getBaseUrl().Mage::getResourceSingleton('catalog/product')->getAttributeRawValue($config[0], 'url_key', Mage::app()->getStore());

									$color_id = Mage::getResourceSingleton('catalog/product')->getAttributeRawValue($_product->getId(), 'color', Mage::app()->getStore());
									$size_id = Mage::getResourceSingleton('catalog/product')->getAttributeRawValue($_product->getId(), 'size', Mage::app()->getStore());
									$product_url = $existing_url.".html?attr=".$color_id."/".$size_id;
									if(empty($config)){ 
										$product_link = $_product->getProductUrl();
									} else
									{ 
										$product_link = $product_url;
									}

									?>
									<a href="<?php echo $product_link;?>" class="image">
										<img src="<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->resize(300,270); ?>"  alt="" />
									</a>
									<div class="desc-details">
										<h2 class="product-name">
											<a href="<?php echo $product_link;?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?>						
										</a>
									</h2>
									<div class="price-box configurable-product">
										<?php echo $productListBlock->getPriceHtml($_product, true) ?>
									</div>
								</div>
								<div class="action-wrap">
									<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $productListBlock->getAddToCartUrl($_product) ?>')">
										<?php echo $this->__('Add to Cart') ?>
									</button>
									<a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
								</div>
							</div>
						</div>
					</div>
				<?php } ?>	
			</div>			
			<div class="slider-title">
				<?php echo $_productCollection['category_name'];?>
			</div>
		</div>
	</div>
</div>
<?php endif;?>
<div class="promo-content_wrapper">
	<?php echo $this->getChildHtml('desk_home');?>
</div>
