<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_GiftCard
 */
?>
<?php
if(Mage::helper('amgiftcard')->isEnableGiftFormInCart()):
?>
<form id="amgiftcard-form" action="<?php echo $this->getFormActionUrl() ?>" method="post">
	<div class="discount">
		<div id="amgiftcard_info"></div>
		<span id="span_message_please_wait" class="please-wait" style="display:none;">
			<img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="" class="v-middle" /> <?php echo $this->__('Please wait, loading...') ?>
		</span>
		<!-- <h2><?php //echo $this->__('Gift Cards') ?></h2> -->
		<div class="discount-form">
			<label for="am_giftcard_code"><?php echo $this->__('Gift Cards') ?></label>
			<div class="input-box">
				<input class="input-text" type="text" id="am_giftcard_code" name="am_giftcard_code" value="" />
			</div>
			<div class="buttons-set">
				<button type="button" title="<?php echo $this->__('Add Gift Card') ?>" class="button" onclick="amgiftcardForm.submit()" value="<?php echo $this->__('Add Gift Card') ?>"><span><span><?php echo $this->__('Add Gift Card') ?></span></span></button>
				
				<button type="button" onclick="amCheckGiftCard();" title="<?php echo $this->__('Check Gift Card status') ?>" class="button cancel-coupon" value="<?php echo $this->__('Check Gift Card status') ?>"><span><span><?php echo $this->__('Check Gift Card status') ?></span></span>
				</button>
			</div>

		</div>
	</div>
</form>

<script type="text/javascript">
	//<![CDATA[
	var amgiftcardForm = new VarienForm('amgiftcard-form');
	function amCheckGiftCard()
	{
		if (amgiftcardForm.validator && !amgiftcardForm.validator.validate()) {
			return false;
		}
		$('am_giftcard_code').value = $('am_giftcard_code').value.trim();
		new Ajax.Updater(
			'amgiftcard_info',
			'<?php echo $this->getCheckCardAjaxUrl() ?>',
			{
				onCreate: function() {
					$('span_message_please_wait').show();
				},
				onComplete: function() {
					$('span_message_please_wait').hide();
				},
				parameters : {
					code : $('am_giftcard_code').value
				}
			}
		);
	}
	//]]>
</script>

<?php endif;?>
