<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Giftcard2
 * @version    2.2.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div id="aw-gc2-product-preview-popup_window" style="display: none;">
    <div id="aw-gc2-product-preview-popup_header">
        <span id="aw-gc2-product-preview-popup_title"><?php echo $this->__('Gift Card Preview') ?></span>
        <img id="aw-gc2-product-preview-popup_close_btn" onclick="AWGC2Preview.hidePopup();return false;"
             src="<?php echo $this->getSkinUrl('aw_giftcard2/images/close_label.gif'); ?>">
    </div>
    <div id="aw-gc2-product-preview-popup_content">
    </div>
</div>
<div id="aw-gc2-product-preview-popup_progress" style="display: none;">
    <img src="<?php echo $this->getSkinUrl('aw_giftcard2/images/al.gif'); ?>" alt=""/>
    <p><?php echo $this->__('Please wait...') ?></p>
</div>
<div id="aw-gc2-product-preview-popup_overlay" style="display: none;">
</div>