<?php $_code=$this->getMethodCode() ?>
    <fieldset class="form-list">
      <ul id="payment_form_<?php echo $_code ?>">
          <li class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" >
            <div>
              <label><?php echo $this->__('Select Date') ?>*</label>
              <span>
                <input class="required-entry" type="date" title="<?php echo $this->__('Select Date') ?>" name="payment[trail_date]" value="<?php echo $this->htmlEscape($this->getInfoData('trail_date')) ?>" />
              </span>
            </div>
            <div>
              <label><?php echo $this->__('Select Time') ?>*</label>
              <span>
                <select class="required-entry" title="<?php echo $this->__('Select Time Slots') ?>" name="payment[trail_time]" value="<?php echo $this->htmlEscape($this->getInfoData('trail_time')) ?>" >
                    <option value="" selected disabled>Select Time Slots</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 Noon</option>
                    <option value="1">1 PM</option>
                    <option value="2">2 PM</option>
                    <option value="3">3 PM</option>
                    <option value="4">4 PM</option>
                    <option value="5">5 PM</option>
                    <option value="6">6 PM</option>
                    <option value="7">7 PM</option>
                    <option value="8">8 PM</option>
                    <option value="9">9 PM</option>
                </select>
              </span>
            </div>
               <?php 

                   echo $this->getLayout()->createBlock('captcha/captcha')
                       ->setFormId('onepagecheckout_payment')
                       ->setPaymentMethod($this->getMethodCode())
                       ->setImgWidht(230)
                       ->setImgHeight(50)
                       ->toHtml();
              ?>

              <div id="trailcaptchaError">&nbsp</div>
              <div id="review-buttons-container" class="buttons-set">
                  <button style="display:none" onclick="checkout.save(); return false;" id ="trail_checkout_save" class="checkout_success_button button btn-checkout happy_button" title="Place Order Now" type="submit">Place Order</button>
                  <!-- <button id='trailcheckCaptcha' class="button btn-checkout happy_button" title="Place Order" type="submit">Place Order</button> -->
              </div>



              <div class="buttons-set" id="review-buttons-container">
                <button type="submit" id='trailcheckCaptcha' title="<?php echo $this->__('Place Order Now') ?>" class="checkout_success_button button btn-checkout happy_button"><?php echo $this->__('Place Order Now') ?></button>
               <span class="trail_checkout_success_loader" style="display:none;float:right;">
                    <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Submitting order information...') ?>" title="<?php echo $this->__('Submitting order information...') ?>" class="v-middle" /> <?php echo $this->__('Submitting order information...') ?>
                </span>
              </div>
            </li>
        </ul>
    </fieldset>

    

   <script type="text/javascript">
   jQuery(document).ready(function()
   {
      jQuery('#trailcheckCaptcha').live('click',function(){
        jQuery('.trail_checkout_success_loader').show();
        var values=jQuery("#onepagecheckout_orderform").serialize();
        jQuery.ajax({
            url: "<?php echo Mage::getUrl('onepagecheckout/index/checkCaptcha',array('_secure'=>true))?>",
            type: "post",
            data: values,
            success: function(data){
                 var result = JSON.parse(data);
                 if(result.error == 1)
                 {
                    jQuery('.trail_checkout_success_loader').hide();
                    jQuery('#trailcaptchaError').html('<span class="error">' + result.message + '</span>');
                    // if(result.message == 'Incorrect CAPTCHA.'){
                      jQuery('#payment_form_trailatstore #captcha-reload').trigger('click');
                    // }
                    jQuery('.messages').html('');
                 }
                 else
                 {
                    jQuery('#trailcaptchaError').html('');
                    jQuery('#trail_checkout_save').trigger('click');
                 }
            },
            error:function(){     
            }
        });
      })
   })
   </script>