
<div class="block block-list block-check-delivery">
	<div class="block-title">
		<!-- <?php // $blockLabel = Mage::getStoreConfig('checkdelivery/general/block_title'); ?>
		<strong><span><?php // echo $this->__($blockLabel) ?></span></strong> -->

		Delivery 
	</div>
	<div class="block-content" >		

		<div class="input-wrap">
			<input name="zipcode" size="17" type="text" id="zipcode" maxlength="10" class="input-text" placeholder="<?php echo $this->__('ENTER DELIVERY PINCODE'); ?>"/>
			<button type="button" name="zip-check" title="Check" class="button" id="zip-check" ><span><?php echo $this->__('Check'); ?></span></button>
		</div>
		<div id='loading-image' style='display:none'>
			<img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif');?>'/>
		</div>
		<div id="delivery-message message"></div>
		<?php $defaultHtml = Mage::getStoreConfig('checkdelivery/general/default_html'); ?>
		<div id="delivery-html message"><?php echo $defaultHtml ?></div>
		
	</div>
</div>

<script>
	Event.observe('zip-check', 'click', function(event){
		
		$('loading-image').show();
		new Ajax.Request("<?php echo $this->getUrl('checkdelivery/index/index') ?>", {
			method: "get",
			parameters: {zipcode : $('zipcode').value },
			onSuccess: function(transport) {
				$('loading-image').hide();
				var json = transport.responseText.evalJSON();
				$('delivery-message').update(json.message);				 
				$('delivery-message').setStyle({ color: json.color});
				$('delivery-html').update(json.html);	
			}
		});
	});
</script>