		<script src="<?php echo Mage::getBaseUrl('js')."calendar/calendar.js";?>" type="text/javascript"></script>
        <script src="<?php echo Mage::getBaseUrl('js')."calendar/calendar-setup.js";?>" type="text/javascript"></script>
        <link href="<?php echo Mage::getBaseUrl('js')."calendar/calendar-win2k-1.css";?>" type="text/css" rel="stylesheet"/>
		<div id="wk_rma_new_request">
			<a href="<?php echo $this->getUrl("rmasystem/guest/new/"); ?>">
<?php 			echo $this->__("Request New RMA"); 																		?>
			</a>
		</div>
		<div class="page-title">
			<h1><?php echo $this->__("RMA History"); ?>
                <a href="<?php echo $this->getUrl('rmasystem/guest/logout'); ?>" class="wk_rma_logout_btn"><?php echo $this->__("logout"); ?></a>
            </h1>
		</div>
		<div class="wk_rma_bg">
            <div class="wk_rma_loader"></div>
        </div>
<?php 		echo $this->getPagerHtml(); 																				?>
			<table class="data-table" id="rma-table">
			    <thead class="wk_rma_sorter">
			        <tr>
			           	<th class="wk_rma_sortable">
			           		<span class="wk_rma_table_title"><?php echo $this->__("Id"); ?></span>
			           		<span data-attr="id" class=""></span>
		           		</th>
			            <th class="wk_rma_sortable">
			            	<span class="wk_rma_table_title"><?php echo $this->__("Order Id"); ?></span>
			            	<span data-attr="order_id" class=""></span>
		            	</th>
			            <th class="wk_rma_sortable">
			            	<span class="wk_rma_table_title"><?php echo $this->__("Status"); ?></span>
			            	<span data-attr="status" class=""></span>
		            	</th>
			            <th class="wk_rma_sortable">
			            	<span class="wk_rma_table_title"><?php echo $this->__("Date"); ?></span>
			            	<span data-attr="created_at" class=""></span>
		            	</th>
			            <th class="a-right">
			            	<span class="wk_rma_table_title"><?php echo $this->__("Action"); ?></span>
		            	</th>
			        </tr>
			    </thead>
			    <thead class="wk_rma_filter">
	                <tr>
<?php               	$filter_data = Mage::getSingleton("core/session")->getGuestRmaFilterData();                    ?>
	                    <th><input type="text" value="<?php echo $filter_data["rma_id"]; ?>" id="wk_rma_filter_rma_id" class="filter_input"/></th>
	                    <th><input type="text" value="<?php echo $filter_data["order_id"]; ?>" id="wk_rma_filter_order_id" class="filter_input"/></th>
	                    <th>
	                    	<select class="filter_input" id="wk_rma_filter_status">
		                    	<option value="">Select Status</option>
		                    	<option value="1" <?php if($filter_data["status"] == 1)echo "selected"; ?>><?php echo $this->__("Pending"); ?></option>
		                    	<option value="2" <?php if($filter_data["status"] == 2)echo "selected"; ?>><?php echo $this->__("Processing"); ?></option>
		                    	<option value="3" <?php if($filter_data["status"] == 3)echo "selected"; ?>><?php echo $this->__("Declined"); ?></option>
                                <option value="4" <?php if($filter_data["status"] == 4)echo "selected"; ?>><?php echo $this->__("Solved"); ?></option>
		                    	<option value="5" <?php if($filter_data["status"] == 5)echo "selected"; ?>><?php echo $this->__("Cancelled"); ?></option>
	                    	</select>
                    	</th>
	                    <th><input type="text" value="<?php echo $filter_data["date"]; ?>" id="wk_rma_filter_date" class="filter_input"/></th>
	                    <th></th>
	                </tr>
	            </thead>
			    <tbody>
<?php 				$collection = $this->getCollection();
					$totalcount = count($collection);
					if($totalcount > 0){
						foreach ($collection as $row) 	{																?>
					    	<tr>
					            <td><?php echo $row->getId(); ?></td>
					            <td><?php echo $row->getIncrementId(); ?></td>
					            <td>
<?php 								if($row->getStatus() == "1")
		            					echo "<strong class='wk_rma_status_pending'>".$this->__('Pending')."</strong>";
	            					if($row->getStatus() == "2")
		            					echo "<strong class='wk_rma_status_processing'>".$this->__('Processing')."</strong>";
		            				if($row->getStatus() == "3")
		            					echo "<strong class='wk_rma_status_decline'>".$this->__('Declined')."</strong>";
		            				if($row->getStatus() == "4")
		            					echo "<strong class='wk_rma_status_solve'>".$this->__('Solved')."</strong>";
	            					if($row->getStatus() == "5")
		            					echo "<strong class='wk_rma_status_cancel'>".$this->__('Cancelled')."</strong>";?>
					            </td>
					            <td>
                                    <?php echo date("Y-m-d g:i:s a", Mage::getModel('core/date')->timestamp($row->getCreatedAt()));?>
								</td>
					            <td class="a-center last">
					                <span class="nobr">
				                		<a href="<?php echo $this->getUrl('rmasystem/guest/view/',array('id'=>$row->getId())); ?>"><?php echo $this->__("View"); ?></a>
<?php 								if(!in_array($row->getStatus(),array(4,5)))	{										?>
										<span class="wk_separator">|</span>
										<a onclick="return confirm('<?php echo $this->__("Are You sure"); ?> ?');" class="link-reorder" href="<?php echo $this->getUrl('rmasystem/guest/cancel/',array('id'=>$row->getId())); ?>"><?php echo $this->__("Cancel"); ?></a>
<?php  								}																					?>
									</span>
					            </td>
					        </tr>
<?php 					}
					}
					else 	{ 																							?>
						<tr class="first last">
				            <td colspan="5" class="a-center"><?php echo $this->__("You havn't filled any RMA yet"); ?>.</td>
					    </tr>
<?php				}																									?>
			    </tbody>
			</table>
<?php 		echo $this->getPagerHtml(); 																				?>
<script type="text/javascript">
	decorateTable("rma-table");
	enUS = {"m":{"wide":["January","February","March","April","May","June","July","August","September","October","November","December"],"abbr":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]}};
    Calendar._DN = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
    Calendar._SDN = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"];
    Calendar._FD = 1;
    Calendar._MN = ["January","February","March","April","May","June","July","August","September","October","November","December"];
    Calendar._SMN = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
    Calendar._am = "AM";
    Calendar._pm = "PM";
    Calendar._TT = {};
    Calendar._TT["INFO"] = "About the calendar";
    Calendar._TT["ABOUT"] =
    "DHTML Date/Time Selector :: Magelime \n" +
    "(c) dynarch.com 2002-2005 / Author: Mihai Bazon\n" +
    "For latest version visit: http://www.dynarch.com/projects/calendar/\n" +
    "Distributed under GNU LGPL. See http://gnu.org/licenses/lgpl.html for details." +
    "\n\n" +
    "Date selection:\n" +
    "- Use the \xab, \xbb buttons to select year\n" +
    "- Use the " + String.fromCharCode(0x2039) + ", " + String.fromCharCode(0x203a) + " buttons to select month\n" +
    "- Hold mouse button on any of the above buttons for faster selection.";
    Calendar._TT["ABOUT_TIME"] = "\n\n" +
    "Time selection:\n" +
    "- Click on any of the time parts to increase it\n" +
    "- or Shift-click to decrease it\n" +
    "- or click and drag for faster selection.";
    Calendar._TT["PREV_YEAR"] = "Prev. year (hold for menu)";
    Calendar._TT["PREV_MONTH"] = "Prev. month (hold for menu)";
    Calendar._TT["GO_TODAY"] = "Go Today";
    Calendar._TT["NEXT_MONTH"] = "Next month (hold for menu)";
    Calendar._TT["NEXT_YEAR"] = "Next year (hold for menu)";
    Calendar._TT["SEL_DATE"] = "Select date";
    Calendar._TT["DRAG_TO_MOVE"] = "Drag to move";
    Calendar._TT["PART_TODAY"] = ' (' + "Today" + ')';
    Calendar._TT["DAY_FIRST"] = "Display %s first";
    Calendar._TT["WEEKEND"] = "0,6";
    Calendar._TT["CLOSE"] = "Close";
    Calendar._TT["TODAY"] = "Today";
    Calendar._TT["TIME_PART"] = "(Shift-)Click or drag to change value";
    Calendar._TT["DEF_DATE_FORMAT"] = "%b %e, %Y";
    Calendar._TT["TT_DATE_FORMAT"] = "%B %e, %Y";
    Calendar._TT["WK"] = "Week";
    Calendar._TT["TIME"] = "Time:";

	jQuery(document).ready(function(){
		Calendar.setup({
            inputField: "wk_rma_filter_date",
            ifFormat: "%Y-%m-%e",
            button: "date_select_trig",
            align: "Br",
            singleClick : true
        });
<?php   $sorting_data = Mage::getSingleton("core/session")->getGuestRmaSortingData();   ?>
        sort_attr = "<?php echo $sorting_data['attr']; ?>";
        direction = "<?php echo $sorting_data['direction']?>";
        if(sort_attr == "" || direction == ""){
            jQuery("#rma-table .wk_rma_sorter th").eq(0).addClass("wk_rma_selected");
            jQuery("#rma-table .wk_rma_sorter th").eq(0).find("span").eq(1).addClass("wk_rma_asc");
        }
        else{
            jQuery("#rma-table .wk_rma_sorter th").each(function(){
                this_span = jQuery(this).find("span").eq(1);
                if(this_span.attr("data-attr") == sort_attr){
                    if(direction == "ASC")
                        this_span.addClass("wk_rma_asc");
                    else
                        this_span.addClass("wk_rma_desc");
                    jQuery(this).addClass("wk_rma_selected");
                }
            });
        }
	});

	jQuery("#rma-table .wk_rma_sortable").on("click",function(){
        jQuery(".wk_rma_bg").show();
        this_th = jQuery(this);
        jQuery("#rma-table .wk_rma_sorter th").removeClass("wk_rma_selected");
        this_th.addClass("wk_rma_selected");
        sort_span = this_th.find("span").eq(1);
        sort_class = sort_span.attr("class");
        console.log(sort_class);
        if(sort_class == "wk_rma_asc")
            sort_span.attr("class","wk_rma_desc");
        else
        if(sort_class == "wk_rma_desc")
            sort_span.attr("class","wk_rma_asc");
        else
        if(sort_class == ""){
            jQuery("#rma-table .wk_rma_sorter th").each(function(){
                jQuery(this).find("span").eq(1).attr("class","");
            });
            sort_span.attr("class","wk_rma_asc");
        }
        direction = "DESC";
        attr = sort_span.attr("data-attr");
        if(sort_span.attr("class") == "wk_rma_asc")
            direction = "ASC";
        jQuery.ajax({
            url: "<?php echo $this->getUrl('rmasystem/guest/setrmasortingSession/'); ?>",
            type: "POST",
            data: {
                attr        :   attr,
                direction   :   direction
            },
            success: function() {window.location.href = "";}
        });
    });

	jQuery(".filter_input").on("keyup",function(e){
            var code = e.keyCode || e.which;
            if(code == 13) {
                jQuery.ajax({
                    url: "<?php echo $this->getUrl('rmasystem/guest/setrmafilterSession/'); ?>",
                    type: "POST",
                    data: {
                        rma_id    :   jQuery("#wk_rma_filter_rma_id").val(),
                        order_id  :   jQuery("#wk_rma_filter_order_id").val(),
                        status    :   jQuery("#wk_rma_filter_status").val(),
                        date 	  :   jQuery("#wk_rma_filter_date").val()
                    },
                    success: function() {window.location.href = "";}
                });
            }
        });
</script>