 <script src="<?php echo Mage::getBaseUrl('js')."calendar/calendar.js";?>" type="text/javascript"></script>
        <script src="<?php echo Mage::getBaseUrl('js')."calendar/calendar-setup.js";?>" type="text/javascript"></script>
        <link href="<?php echo Mage::getBaseUrl('js')."calendar/calendar-win2k-1.css";?>" type="text/css" rel="stylesheet"/>
        <div class="page-title">
            <h1 class="new_rma_head"><?php echo $this->__("Start New Return Request (RMA)"); ?></h1>
        </div>
        <div class="wk_rma_bg">
            <div class="wk_rma_loader"></div>
        </div>
        <h4 class="wk_rma_label"><?php echo $this->__("Select Order"); ?> </h4>
<?php   echo $this->getPagerHtml();   ?>
        <table class="data-table" id="wk_rma_orders">
            <thead class="wk_rma_sorter">
                <tr>
                    <th class="wk_rma_sortable">
                        <span class="wk_rma_table_title"><?php echo $this->__("Order Id"); ?></span>
                        <span data-attr="increment_id" class=""></span>
                    </th>
                    <th class="wk_rma_sortable">
                        <span class="wk_rma_table_title"><?php echo $this->__("Price"); ?></span>
                        <span data-attr="grand_total" class=""></span>
                    </th>
                    <th class="wk_rma_sortable">
                        <span class="wk_rma_table_title"><?php echo $this->__("Date From"); ?></span>
                        <span data-attr="created_at" class=""></span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <thead class="wk_rma_filter">
                <tr>
            <?php    $filter_data = Mage::getSingleton("customer/session")->getFilterData();    ?>
                    <th>
                        <input type="text" value="<?php echo $filter_data["order_id"]; ?>" id="wk_rma_filter_order_id" class="filter_input"/>
                    </th>
                    <th>
                        <input type="text" value="<?php echo $filter_data["price"]; ?>" id="wk_rma_filter_price" class="filter_input"/>
                    </th>
                    <th>
                        <input type="text" value="<?php echo $filter_data["date"]; ?>" id="wk_rma_filter_date" class="filter_input"/>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
<?php $collection = $this->getCollection();
                if($collection->getSize() == 0) {   ?>
                    <tr>
                        <td colspan="4" class="a-center"><?php echo $this->__("No order Placed yet"); ?></td>
                    </tr>
<?php           }
                else{
                        $order_details = array();

                        $i=0;  $inc=array();   $j=0;  $status=array();  $new=array();
                        foreach ($collection as $value) {
                            $order_id=$value->getOrderId();
                            $order_details[$i]['order_id']=$order_id;
                            $order_collection = Mage::getModel("sales/order")->getCollection()->addFieldToFilter('entity_id',$order_id);
                            foreach ($order_collection as $order) {
                                $visible_item=$order->getAllVisibleItems();
                                foreach($visible_item as $it){
                                        $qty_order=$it->getQtyOrdered();
                                        $qty_ship=$it->getQtyShipped();
                                        if($qty_order==$qty_ship){
                                            
                                            $increment= Mage::getModel("sales/order")->load($it->getOrderId());
                                            $inc[$i]['status']=$increment->getStatus();
                                            $inc[$i]['id']=$increment->getEntityId();

                                                $order_details[$i]['entity_id']=$it->getOrderId();
                                                $order_details[$i]['increment_id']=$increment->getIncrementId();
                                                $order_details[$i]['date']=$it->getCreatedAt();
                                                $order_details[$i]['grand_total']=$it->getRowTotalInclTax();
                                                $order_details[$i]['customer_id']=$increment->getCustomerId();
                                        }
                                    }
                                    $i++;
                            }
                        }
                       $order_details= array_unique($order_details, SORT_REGULAR);
                       $allowed_status = Mage::getStoreConfig("rmasystem/rmasystem/allowed-order-status");
                       if($allowed_status=="complete"){
                            foreach($order_details as $order) {
                                echo "<tr id='wk_select_order'><td>".$order['increment_id']."</td>";
                                echo "<td>".Mage::helper("core")->currency($order['grand_total'],true,false)."</td>";
                                echo "<td>".date("Y-m-d g:i:s a", Mage::getModel('core/date')->timestamp($order['date']))."</td>";
                                echo "<td><input data-ord_id='".$order['entity_id']."' data-inc_id='".$order['increment_id']."' value='".$order['entity_id']."' type='radio' name='order_selection' class='wk_rma_order_selection'/></td></tr>";
                             }
                    }else{
                        foreach($collection as $order) {
                            $countItem=count($order->getAllVisibleItems());
                            $countDownloadable=0;
                            $countVirtual=0;
                            $status=array();
                            $vir_status=array();
                            foreach ($order->getAllVisibleItems() as $value) { 
                                if($value->getProductType()=='downloadable'){
                                    $countDownloadable++;
                                    $status[]=$order->getStatus();
                                }else if($value->getProductType()=='virtual'){
                                    $countVirtual++;
                                    $vir_status[]=$order->getStatus();
                                }
                            }
                            $status=array_unique($status);
                            $vir_status=array_unique($vir_status);
                            if(($countItem!==$countDownloadable || (count($status)==1 && ($status[0]=='pending' || $status[0]=='processing'))) && ($countItem!==$countVirtual || (count($vir_status)==1 && ($vir_status[0]=='pending' || $vir_status[0]=='processing')) )) {
                                echo "<tr id='wk_select_item'><td>".$order->getIncrementId()."</td>";
                                echo "<td>".Mage::helper("core")->currency($order->getGrandTotal(),true,false)."</td>";
                                echo "<td>".date("Y-m-d g:i:s a", Mage::getModel('core/date')->timestamp($order->getCreatedAt()))."</td>";
                                echo "<td><input data-ord_id='".$order->getEntityId()."' data-inc_id='".$order->getIncrementId()."' value='".$order->getEntityId()."' type='radio' name='order_selection' class='wk_rma_order_selection'/></td></tr>";
                            }
                        } 
                    }
                }  
                ?> 
            </tbody>
        </table>
<?php   echo $this->getPagerHtml(); ?>
        <form method="post" action="<?php echo $this->getUrl('rmasystem/index/saverma/'); ?>" enctype="multipart/form-data" id="save_rma_form">
            <input type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" name="form_key"/>
            <div class="fieldset">
                <ul class="form-list">
                    <li class="wide">
                        <label class="required"><?php echo $this->__("Items Ordered"); ?>:</label>
                        <div class="input-box">
                            <table name="items" class="data-table" id="wk_rma_order_details">
                                <thead>
                                    <tr>
                                        <th title="Product Name"><?php echo $this->__("Name"); ?></th>
                                        <th title="Product SKU"><?php echo $this->__("SKU"); ?></th>
                                        <th><input type="checkbox" onchange="all_selected(this)"/></th>
                                        <th title="Product Quantity Ordered"><?php echo $this->__("Qty Ordered"); ?></th>
                                        <th class="a-right" title="Product Quantity Returning"><?php echo $this->__("Qty Returning"); ?></th>
                                        <th class="a-right" title="Reason"><?php echo $this->__("Reason"); ?></th>
                                        <th class="a-right" title="Product Price"><?php echo $this->__("Price"); ?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="7" class="a-center"><?php echo $this->__("No order selected"); ?></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li class="wide">
                        <label><?php echo $this->__("Related Images"); ?>:</label>
                        <div class="input-box">
                            <label for="related_images" id="wk_rma_label_image">
                                <span id="wk_rma_upload_icon"></span>
                                <span id="wk_rma_upload_text"><?php echo $this->__("Upload Images"); ?></span>
                            </label>
                            <input multiple="" onchange="half_upload(this)" id="related_images" name="related_images[]" type="file" accept="image/*" tabindex="1"/>
                        </div>
                        <div class="wk_rma_image_container"></div>
                    </li>
                    <li class="wide">
                        <label class="required"><?php echo $this->__("Package Condition"); ?>:</label>
                        <div class="input-box">
                            <select class="required-entry select" title="<?php echo $this->__('Select Package Condition'); ?>" name="package_condition">
                                <option value=""><?php echo $this->__("Select Package Condition"); ?></option>
                                <option value="0"><?php echo $this->__("Open"); ?></option>
                                <option value="1"><?php echo $this->__("Sealed"); ?></option>
                            </select>
                        </div>
                    </li>
                    <li class="wide">
                        <label class="required"><?php echo $this->__("We only process returns, no exchanges"); ?>:</label>
                        <div class="input-box">
                            <select class="required-entry select" title="<?php echo $this->__('Select Resolution Type'); ?>" name="resolution_type">
          
                                <option value="0"><?php echo $this->__("Return"); ?></option>
                          </select>
                        </div>
                    </li>
                    <li class="wide">
                        <label class="required"><?php echo $this->__("Message Related to Return"); ?>:</label>
                        <div class="input-box">
                            <textarea name="additional_info" id="wk_rma_additional_info" class="required-entry"></textarea>
                        </div>
                    </li>
                    <li class="wide">
                        <label><?php echo $this->__("Was Order Successfully Delivered?"); ?>:</label>
                        <div class="input-box">
                            <select title="<?php echo $this->__('Was Order Successfully Delivered?'); ?>" name="customer_delivery_status" id="wk_rma_delivery_status">
                                <option value="0"><?php echo $this->__("No"); ?></option>
                                <option value="1"><?php echo $this->__("Yes"); ?></option>
                            </select>
                        </div>
                    </li>
                    <li class="wide" id="wk_rma_depends_del_status">
                        <label class="required"><?php echo $this->__("Enter Consignment Number"); ?>:</label>
                        <div class="input-box">
                            <input id="wk_rma_consignment_no" type="text" name="customer_consignment_no"/>
                        </div>
                    </li>
                    <li class="wide">
                        <label class="required"><?php echo $this->__("Return Policy"); ?>:</label>
                        <div id="wk_rma_agreement_cntnt" style="height:auto;">
<?php                       echo Mage::getStoreConfig("rmasystem/rmasystem/policy");                                  ?>
                        </div>
                        <input id="wk_i_agree" type="checkbox" class="wk_rma_checkall required-entry"/>
                        <label for="wk_i_agree" class="wk_rma_checkall"><?php echo $this->__("I Agree"); ?></label>
                    </li>
                </ul>
            </div>
            <a href="<?php echo $this->getUrl('rmasystem/')?>">&laquo;<?php echo $this->__("back"); ?></a>
            <div class="buttons-set">
                <p class="required">* <?php echo $this->__("Required Fields"); ?></p>
                <button id="wk_rma_button_submit" class="button" title="<?php echo $this->__('Submit Request'); ?>" type="submit">
                    <span><?php echo $this->__("Submit Request"); ?></span>
                </button>
            </div>
        </form>
        <script type="text/javascript">
            decorateTable("wk_rma_orders");
            var save_rma_form = new VarienForm("save_rma_form", true);

            enUS = {"m":{"wide":["January","February","March","April","May","June","July","August","September","October","November","December"],"abbr":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]}};
            Calendar._DN = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
            Calendar._SDN = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"];
            Calendar._FD = 1;
            Calendar._MN = ["January","February","March","April","May","June","July","August","September","October","November","December"];
            Calendar._SMN = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
            Calendar._am = "AM";
            Calendar._pm = "PM";
            Calendar._TT = {};
            Calendar._TT["INFO"] = "About the calendar";
            Calendar._TT["ABOUT"] =
            "DHTML Date/Time Selector :: Magelime \n" +
            "(c) dynarch.com 2002-2005 / Author: Mihai Bazon\n" +
            "For latest version visit: http://www.dynarch.com/projects/calendar/\n" +
            "Distributed under GNU LGPL. See http://gnu.org/licenses/lgpl.html for details." +
            "\n\n" +
            "Date selection:\n" +
            "- Use the \xab, \xbb buttons to select year\n" +
            "- Use the " + String.fromCharCode(0x2039) + ", " + String.fromCharCode(0x203a) + " buttons to select month\n" +
            "- Hold mouse button on any of the above buttons for faster selection.";
            Calendar._TT["ABOUT_TIME"] = "\n\n" +
            "Time selection:\n" +
            "- Click on any of the time parts to increase it\n" +
            "- or Shift-click to decrease it\n" +
            "- or click and drag for faster selection.";
            Calendar._TT["PREV_YEAR"] = "Prev. year (hold for menu)";
            Calendar._TT["PREV_MONTH"] = "Prev. month (hold for menu)";
            Calendar._TT["GO_TODAY"] = "Go Today";
            Calendar._TT["NEXT_MONTH"] = "Next month (hold for menu)";
            Calendar._TT["NEXT_YEAR"] = "Next year (hold for menu)";
            Calendar._TT["SEL_DATE"] = "Select date";
            Calendar._TT["DRAG_TO_MOVE"] = "Drag to move";
            Calendar._TT["PART_TODAY"] = ' (' + "Today" + ')';
            Calendar._TT["DAY_FIRST"] = "Display %s first";
            Calendar._TT["WEEKEND"] = "0,6";
            Calendar._TT["CLOSE"] = "Close";
            Calendar._TT["TODAY"] = "Today";
            Calendar._TT["TIME_PART"] = "(Shift-)Click or drag to change value";
            Calendar._TT["DEF_DATE_FORMAT"] = "%b %e, %Y";
            Calendar._TT["TT_DATE_FORMAT"] = "%B %e, %Y";
            Calendar._TT["WK"] = "Week";
            Calendar._TT["TIME"] = "Time:";
            jQuery(document).ready(function(){
                Calendar.setup({
                    inputField: "wk_rma_filter_date",
                    ifFormat: "%Y-%m-%e",
                    button: "date_select_trig",
                    align: "Br",
                    singleClick : true
                });
<?php           $sorting_data = Mage::getSingleton("customer/session")->getSortingData();                             ?>
                sort_attr = "<?php echo $sorting_data['attr']; ?>";
                direction = "<?php echo $sorting_data['direction']?>";
                if(sort_attr == "" || direction == ""){
                    jQuery("#wk_rma_orders .wk_rma_sorter th").eq(0).addClass("wk_rma_selected");
                    jQuery("#wk_rma_orders .wk_rma_sorter th").eq(0).find("span").eq(1).addClass("wk_rma_asc");
                }
                else{
                    jQuery("#wk_rma_orders .wk_rma_sorter th").each(function(){
                        this_span = jQuery(this).find("span").eq(1);
                        if(this_span.attr("data-attr") == sort_attr){
                            if(direction == "ASC")
                                this_span.addClass("wk_rma_asc");
                            else
                                this_span.addClass("wk_rma_desc");
                            jQuery(this).addClass("wk_rma_selected");
                        }
                    });
                }
            });

            jQuery('#wk_rma_orders #wk_select_order').on('click',function(){
                var radio_check=jQuery(this).children('td').last().children().prop('checked', true);
                checkOrder(radio_check);
            });

            jQuery('#wk_rma_orders #wk_select_item').on('click',function(){
                var radio_check=jQuery(this).children('td').last().children().prop('checked', true);
                checkItem(radio_check);
            });

            jQuery("#wk_rma_orders .wk_rma_sortable").on("click",function(){
                jQuery(".wk_rma_bg").show();
                this_th = jQuery(this);
                jQuery("#wk_rma_orders .wk_rma_sorter th").removeClass("wk_rma_selected");
                this_th.addClass("wk_rma_selected");
                sort_span = jQuery(this).find("span").eq(1);
                sort_class = sort_span.attr("class");
                if(sort_class == "wk_rma_asc")
                    sort_span.attr("class","wk_rma_desc");
                else
                if(sort_class == "wk_rma_desc")
                    sort_span.attr("class","wk_rma_asc");
                else
                if(sort_class == ""){
                    jQuery("#wk_rma_orders .wk_rma_sorter th").each(function(){
                        jQuery(this).find("span").eq(1).attr("class","");
                    });
                    sort_span.attr("class","wk_rma_asc");
                }
                direction = "DESC";
                attr = sort_span.attr("data-attr");
                if(sort_span.attr("class") == "wk_rma_asc")
                    direction = "ASC";
                jQuery.ajax({
                    url: "<?php echo $this->getUrl('rmasystem/index/setsortingSession/'); ?>",
                    type: "POST",
                    data: {
                        attr        :   attr,
                        direction   :   direction
                    },
                    success: function() {window.location.href = "";}
                });
            });

            jQuery(".filter_input").on("keyup",function(e){
                var code = e.keyCode || e.which;
                if(code == 13) {
                    jQuery.ajax({
                        url: "<?php echo $this->getUrl('rmasystem/index/setfilterSession/'); ?>",
                        type: "POST",
                        data: {
                            order_id    :   jQuery("#wk_rma_filter_order_id").val(),
                            price       :   jQuery("#wk_rma_filter_price").val(),
                            date        :   jQuery("#wk_rma_filter_date").val()
                        },
                        success: function() {window.location.href = "";}
                    });
                }
            });

<?php       $reason_html = "><option value=''>Select Reason</option>";
            $reason_coll = Mage::getModel("rmasystem/reason")->getCollection()->addFieldToFilter("status",1);
            foreach($reason_coll as $reason)
                $reason_html .= "<option value='".$reason->getId()."'>".$reason->getReason()."</option>";
            $reason_html .= "</select>";                                                                              ?>
            function checkOrder(check_radio){
               jQuery(".wk_rma_bg").show();
                jQuery('#rma_product_exchange').parent().parent('li').siblings('.wk_li').remove();
                 jQuery('#rma_product_exchange option[value=""]').prop('selected', true);
                increment_id = jQuery(check_radio).attr("data-inc_id");
                ord_id = jQuery(check_radio).attr("data-ord_id");

                jQuery.ajax({
                    url     : "<?php echo $this->getUrl('rmasystem/index/getorderDetails'); ?>",
                    type    : "POST",
                    dataType: "json",
                    data    : { order_id:ord_id, },
                    success:function(content) {

                        if(content.length == 0)
                            jQuery("#wk_rma_order_details").find("tbody").html("<tr><td colspan='7'><?php echo $this->__('No order selected'); ?></td></tr>");
                        else{
                            var row = "<input type='hidden' name='order_id' value='"+ord_id+"'/><input type='hidden' name='increment_id' value='"+increment_id+"'/>";
                            for(var i=0 ; i<content.length ; i++){
                                row +=  "<tr>"+
                                            "<td><a href='"+content[i].url+"' target='_blank'>"+content[i].name+"</a></td>"+
                                            "<td>"+content[i].sku+"</td>"+
                                            "<td class='wk_rma_check'>"+
                                                "<input value='"+content[i].itemid+"' data-value='"+content[i].product_id+"' type='checkbox' class='wk_rma_pro_check' name='item_checked["+content[i].itemid+"]'/>"+
                                            "</td>"+
                                            "<td>"+content[i].qty+"</td>"+
                                            "<td class='a-right'>"+
                                                "<input type='number' name='return_item["+content[i].itemid+"]' class='return_item validate-number' max='"+content[i].qty+"' min='1'/>"+
                                            "</td>"+
                                            "<td class='a-right'><select class='item_reason' name='item_reason["+content[i].itemid+"]'<?php echo $reason_html; ?></td>"+
                                            "<td class='item_price'>"+content[i].price+"</td>"+
                                        "</tr>";
                            }
                            jQuery("#wk_rma_order_details").find("tbody").html(row);
                        }
                        decorateTable("wk_rma_order_details");
                        jQuery(".wk_rma_bg").hide();
                    }
                });
            }
            
            function checkItem(check_radio){
               jQuery(".wk_rma_bg").show();
                jQuery('#rma_product_exchange').parent().parent('li').siblings('.wk_li').remove();
                 jQuery('#rma_product_exchange option[value=""]').prop('selected', true);
                increment_id = jQuery(check_radio).attr("data-inc_id");
                ord_id = jQuery(check_radio).attr("data-ord_id");

                jQuery.ajax({
                    url     : "<?php echo $this->getUrl('rmasystem/index/getitemDetails'); ?>",
                    type    : "POST",
                    dataType: "json",
                    data    : { order_id:ord_id, },
                    success:function(content) {

                        if(content.length == 0)
                            jQuery("#wk_rma_order_details").find("tbody").html("<tr><td colspan='7'><?php echo $this->__('No order selected'); ?></td></tr>");
                        else{
                            var row = "<input type='hidden' name='order_id' value='"+ord_id+"'/><input type='hidden' name='increment_id' value='"+increment_id+"'/>";
                            for(var i=0 ; i<content.length ; i++){
                                row +=  "<tr>"+
                                            "<td><a href='"+content[i].url+"' target='_blank'>"+content[i].name+"</a></td>"+
                                            "<td>"+content[i].sku+"</td>"+
                                            "<td class='wk_rma_check'>"+
                                                "<input value='"+content[i].itemid+"' data-value='"+content[i].product_id+"' type='checkbox' class='wk_rma_pro_check' name='item_checked["+content[i].itemid+"]'/>"+
                                            "</td>"+
                                            "<td>"+content[i].qty+"</td>"+
                                            "<td class='a-right'>"+
                                                "<input type='number' name='return_item["+content[i].itemid+"]' class='return_item validate-number' max='"+content[i].qty+"' min='1'/>"+
                                            "</td>"+
                                            "<td class='a-right'><select class='item_reason' name='item_reason["+content[i].itemid+"]'<?php echo $reason_html; ?></td>"+
                                            "<td class='item_price'>"+content[i].price+"</td>"+
                                        "</tr>";
                            }
                            jQuery("#wk_rma_order_details").find("tbody").html(row);
                        }
                        decorateTable("wk_rma_order_details");
                        jQuery(".wk_rma_bg").hide();
                    }
                });
            }

            function all_selected(this_this){
                if(jQuery(this_this).is(":checked") == true)
                    jQuery("#wk_rma_order_details").find(".wk_rma_pro_check").prop("checked",true);
                else
                    jQuery("#wk_rma_order_details").find(".wk_rma_pro_check").prop("checked",false);
            }

            function half_upload(this_input){
                jQuery(".wk_rma_image_container").html("");
                for(var i=0; i<this_input.files.length; i++){
                    if(this_input.files && this_input.files[i]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            jQuery(".wk_rma_image_container").append("<span class='wk_rma_image_cover'><img class='wk_rma_image' src='"+e.target.result+"'/></span>");
                        }
                        reader.readAsDataURL(this_input.files[i]);
                    }
                }
            }

            jQuery("#wk_rma_button_submit").click(function(){
                error = false;item_checked = false;row = 1;error_msg = [];
                jQuery("#wk_rma_order_details").parent().find(".validation-failed").removeClass("validation-failed");
                jQuery("#wk_rma_order_details").parent().find(".validation-advice").remove();
                jQuery("#wk_rma_order_details").find(".wk_rma_pro_check").each(function(){
                    if(jQuery(this).is(":checked"))
                        item_checked = true;
                });
                jQuery("#wk_rma_order_details tbody tr").each(function(){
                    if(jQuery(this).find(".wk_rma_pro_check").is(":checked")){
                        current_error_msg = "";
                        return_qty_input = jQuery(this).find(".return_item");
                        if(return_qty_input.val() > return_qty_input.attr("max") || return_qty_input.val() < 1){
                            error = true;
                            current_error_msg += "<?php echo $this->__('Invalid quantity'); ?>";
                        }
                        if(jQuery(this).find(".item_reason").val() == "") {
                            error = true;
                            if(current_error_msg != "")
                                current_error_msg += "<?php echo $this->__(' & '); ?>";
                            current_error_msg += "<?php echo $this->__('Invalid reason'); ?>";
                        }
                        if(current_error_msg != ""){
                            current_error_msg += "<?php echo $this->__(' in row'); ?>"+" "+row;
                            error_msg.push(current_error_msg);
                        }
                    }
                    row++;
                });
                if(item_checked == false){
                    jQuery("#wk_rma_order_details").addClass("validation-failed").after("<div style='display:none;' class='validation-advice'><?php echo $this->__('Please select item (s)'); ?>.</div>");
                    jQuery(".validation-advice").fadeIn(1000);
                    error = true;
                }
                if(error_msg.length > 0){
                    error = true;
                    jQuery("#wk_rma_order_details").addClass("validation-failed");
                    for(var i=error_msg.length-1; i>=0; i--)
                        jQuery("#wk_rma_order_details").after("<div style='display:none;' class='validation-advice'>"+error_msg[i]+"</div>");
                    jQuery(".validation-advice").fadeIn(1000);
                }
                if(save_rma_form.validator.validate() != true || error == true)
                    return false;
            });

            jQuery("#wk_rma_delivery_status").on("change",function(){
                if(jQuery(this).val() == 1){
                    jQuery("#wk_rma_consignment_no").removeAttr("disabled").attr("class","required-entry");
                    jQuery("#wk_rma_depends_del_status").show();
                }
                else{
                    jQuery("#wk_rma_consignment_no").attr("disabled","disabled").attr("class","");
                    jQuery("#wk_rma_depends_del_status").hide();
                }
            });
        </script>
		<style>
		#wk_rma_agreement_cntnt a{
			color:blue !important;
			text-decoration:underline !important;
		}
		</style>