<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   design_default
 * @package    Mage_SecureEbs
 * @copyright  Copyright (c) 2008 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php 
 $curryear = date('Y');
?>
<script type="text/javascript">
Validation.creditCartTypes.JCB = [new RegExp('^(35[0-9]{14}|(2131|1800)[0-9]{11})$'), new RegExp('^([0-9]{3})?$'), true];
Validation.creditCartTypes.DICL = [new RegExp('(^(30)[0-5]\d{11}$)|(^(36)\d{12}$)|(^(38[0-8])\d{11}$)'), new RegExp('^([0-9]{3})?$'), false];
Validation.creditCartTypes.ENR = [new RegExp('(^(2014)|^(2149))\d{11}$'), new RegExp('^([0-9]{3})?$'), false];
</script>
<!-- <div class="topimagescc"><div> -->
<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">
        <li>
            <div class="input-box">
                <input type="radio" class="cctype_radio" id="payment_cc" name="payment[cc_type]" value="CC">
                <div class="visa_image cc_logo_visa"></div> 
               <input type="radio" class="cctype_radio validate-one-required" id="payment_amex" name="payment[cc_type]" value="AMEX">
                <div class="amex_image cc_logo_visa"></div> 
          <!--       <select style="display:none" name="payment[cc_type]" class="cc_payment_option required-entry">
                <option value="">Choose card type</option>
                <option value="CC">VISA/MasterCard</option>
                <option value="AMEX">Amex Cards</option>
                </select> -->
            </div>
        </li>
        <script type="text/javascript">
        // jQuery(document).ready(function(){
        //     jQuery('.cctype_radio').click(function(){
        //         jQuery('#'+this.id).attr('checked',true);
        //         // jQuery('select.cc_payment_option').selectmenu('refresh')
        //         jQuery('select.cc_payment_option option:selected').removeAttr('selected');
        //         // jQuery('select.cc_payment_option option[value=""]').attr('selected',true);
        //         var selected_payment_option = jQuery('input[name="payment[cc_type]"]:checked').val();
        //         console.log(selected_payment_option);
        //         jQuery('select.cc_payment_option option[value="'+selected_payment_option+'"]').attr('selected',true);
        //     });
        //     // console.log();
        // });
        </script>
        <li>
            <div class="input-box">
                <label for="<?php echo $_code ?>_cc_owner"><?php echo $this->__('Name on Card') ?></label><br/>
                <input type="text" title="<?php echo $this->__('Name on Card') ?>" class="input-text required-entry validate-alpha" id="<?php echo $_code ?>_cc_owner" name="payment[cc_owner]" value="<?php echo $this->htmlEscape($this->getInfoData('cc_owner')) ?>"/>
            </div>
        </li>
        <li>
            <div class="input-box">
                <label for="<?php echo $_code ?>_cc_number"><?php echo $this->__('Credit Card Number') ?> <span class="required">*</span></label><br/>
                <input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number_enc]" title="<?php echo $this->__('Credit Card Number') ?>" class="input-text required-entry validate-number validate-cc-number" value="" />
            </div>
        </li>
        <li>
            <div class="input-box">
                <label for="<?php echo $_code ?>_expiration"><?php echo $this->__('Expiration Date') ?> <span class="required">*</span></label><br />
                <div class="m-fix">
                    <select name="payment[cc_exp_month]" id="<?php echo $_code ?>_expiration" class="required-entry">
                    <option value="">Month</option>
                    <option value="01">Jan</option>
                    <option value="02">Feb</option>
                    <option value="03">Mar</option>
                    <option value="04">Apr</option>
                    <option value="05">May</option>
                    <option value="06">Jun</option>
                    <option value="07">Jul</option>
                    <option value="08">Aug</option>
                    <option value="09">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                    </select>
                </div>
                <div class="y-fix" style="padding-left:5px;">
                    <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
                    <select name="payment[cc_exp_year]" id="<?php echo $_code ?>_expiration_yr" class="required-entry">
                        <option value="">Year</option>
                        <?php for($i = $curryear; $i <= ($curryear + 50);$i++){
                            echo '<option value="' . $i . '">' . $i . '</option>';
                        }?>
                    </select>
                </div>
            </div>
        </li>
        <li>
            <div class="input-box">
                <label for="<?php echo $_code ?>_cc_cid"><?php echo $this->__('Card Verification Number') ?> <span class="required">*</span></label><br />
                <div class="v-fix">
                    <input type="text" title="<?php echo $this->__('Card Verification Number') ?>" class="input-text required-entry validate-number validate-cc-cvn ccinput" id="<?php echo $_code ?>_cc_cid" name="payment[cc_last4]" style="width:3em;" value="" />
                    <div class="cvvimg"></div>
                </div>
            </div>
        </li>
    </ul>
</fieldset>