<?php
/**
* Brainvire Infotech Pvt. Ltd
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * 
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * brainvire does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * brainvire does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   Brainvire
 * @package    Brainvire_Points
 * @version    1.5.1
 * @copyright  Copyright (c) 2010-2012 Brainvire Infotech Pvt. Ltd (http://www.brainvire.com)
 * @license    
 */
?>
<?php
?>
<div class="my-account">
	<div class="page-title">
		<h1><?php echo $this->getTitle() ?></h1>
	</div>
	<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
	<?php echo $this->getChildHtml('') ?>

	<div class="buttons-set">
		<p class="back-link">
			<a href="<?php echo $this->getBackUrl() ?>">
				<small>&laquo; </small>  <?php echo $this->__('Back') ?>
			</a>
		</p>
	</div>

</div>

