<?php
/**
 * Shopping cart template
 *
 * @see Mage_Checkout_Block_Cart
 */
?>
<div class="cart">
    <div class="page-title title-buttons">
        <h1><?php echo $this->__('Shopping Cart') ?></h1>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php echo $this->getChildHtml('form_before') ?>
    <form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post">
        <?php echo $this->getBlockHtml('formkey'); ?>
        <fieldset>
            <table id="shopping-cart-table" class="data-table cart-table">

            <?php $mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1); ?>
                <thead>
                    <tr>
                        <th rowspan="<?php echo $mergedCells; ?>" colspan="2"><span class="nobr"><?php echo $this->__('Product Name') ?></span></th>
                        <?php if ($this->helper('wishlist')->isAllowInCart()) : ?>
                        <th rowspan="<?php echo $mergedCells; ?>"><span class="nobr"><?php echo $this->__('Wishlist') ?></span></th>
                        <?php endif ?>
                        <th colspan="<?php echo $mergedCells; ?>"><span class="nobr"><?php echo $this->__('Unit Price') ?></span></th>
                        <th rowspan="<?php echo $mergedCells; ?>"><span class="nobr"><?php echo $this->__('Quantity') ?></span></th>
                        <th colspan="<?php echo $mergedCells; ?>"><span class="nobr"><?php echo $this->__('Subtotal') ?></span></th>
                        <th rowspan="<?php echo $mergedCells; ?>" class="last"><img src="<?php echo $this->getSkinUrl('images/icon_remove_15x15.png'); ?>"/></th>
                    </tr>
                    <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                    <tr>
                        <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                        <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                        <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                        <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                    </tr>
                    <?php endif; ?>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="50" class="a-right">
                            <button type="submit" name="update_cart_action" value="update_qty" title="<?php echo $this->__('Update Shopping Cart'); ?>" class="button btn-update"><span><span><?php echo $this->__('Update Shopping Cart'); ?></span></span></button>
                            <button type="submit" name="update_cart_action" value="empty_cart" title="<?php echo $this->__('Clear Shopping Cart'); ?>" class="button btn-empty" id="empty_cart_button"><span><span><?php echo $this->__('Clear Shopping Cart'); ?></span></span></button>
                            <!--[if lt IE 8]>
                            <input type="hidden" id="update_cart_action_container" />
                            <script type="text/javascript">
                            //<![CDATA[
                                Event.observe(window, 'load', function()
                                {
                                    // Internet Explorer (lt 8) does not support value attribute in button elements
                                    $emptyCartButton = $('empty_cart_button');
                                    $cartActionContainer = $('update_cart_action_container');
                                    if ($emptyCartButton && $cartActionContainer) {
                                        Event.observe($emptyCartButton, 'click', function()
                                        {
                                            $emptyCartButton.setAttribute('name', 'update_cart_action_temp');
                                            $cartActionContainer.setAttribute('name', 'update_cart_action');
                                            $cartActionContainer.setValue('empty_cart');
                                        });
                                    }

                                });
                            //]]>
                            </script>
                            <![endif]-->
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                <?php foreach($this->getItems() as $_item): ?>
                    <?php echo $this->getItemHtml($_item) ?>
                <?php endforeach ?>
                </tbody>
            </table>
            <script type="text/javascript">decorateTable('shopping-cart-table')</script>
        </fieldset>
    </form>
    <div class="cart-collaterals">
        <div class="cart-extra col-md-8 col-xs-12">
            <ul class="cart-extra-tab">
            <?php if (!$this->getIsVirtual()):?>
                <li class="tax-tab expanded"><span><?php echo $this->__('Estimate shipping & taxes') ?></span></li>
            <?php endif; ?>    
                <li class="coupon-tab"><span><?php echo $this->__('Discount code') ?></span></li>
            </ul>
            <div class="akordeon">
                <?php if (!$this->getIsVirtual()):?>
                <div class="item-tax akordeon-item">
                    <div class="akordeon-item-head">
                        <div class="akordeon-item-head-container">
                            <div class="akordeon-heading">
                                <?php echo $this->__('Estimate shipping & taxes') ?>
                            </div>
                        </div>
                    </div>
                    <div class="akordeon-item-body">
                        <div class="akordeon-item-content">
                            <?php echo $this->getChildHtml('shipping'); ?>
                        </div>
                    </div>
                </div>
                <?php endif; ?>
                <div class="item-coupon akordeon-item">
                    <div class="akordeon-item-head">
                        <div class="akordeon-item-head-container">
                            <div class="akordeon-heading">
                                <?php echo $this->__('Discount code') ?>
                            </div>
                        </div>
                    </div>
                    <div class="akordeon-item-body">
                        <div class="akordeon-item-content">
                            <?php echo $this->getChildHtml('coupon') ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery('.cart-extra .akordeon').akordeon({ buttons: false, toggle: false });
                jQuery('.cart-extra-tab li').click(function(){
                    if(jQuery(this).hasClass('tax-tab')){
                        jQuery('.item-tax .akordeon-item-head-container').click();
                    }
                    if(jQuery(this).hasClass('coupon-tab')){
                        jQuery('.item-coupon .akordeon-item-head-container').click();
                    }
                    jQuery(this).parent().children('.expanded').removeClass('expanded');
                    jQuery(this).addClass('expanded');
                });
            });
        </script>
        <div class="totals col-md-4 col-xs-12">
            <?php echo $this->getChildHtml('totals'); ?>
        </div>
    </div>
    <?php if(!$this->hasError()): ?>
    <ul class="checkout-types">
    <?php
        $i = 0;
    ?>
    <?php if($this->getContinueShoppingUrl()): ?>
        <?php
            $i = 1;
        ?>
        <li class="first">
            <button type="button" title="<?php echo $this->__('Continue Shopping') ?>" class="button btn-continue" onclick="setLocation('<?php echo $this->getContinueShoppingUrl() ?>')"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
        </li>
    <?php endif; ?>
    <?php foreach ($this->getMethods('methods') as $method): ?>
        <?php if ($methodHtml = $this->getMethodHtml($method)): ?>
        <li class="<?php echo ($i==0)?'first':''; ?>"><?php echo $methodHtml; ?></li>
        <?php
            $i++;
        ?>
        <?php endif; ?>
    <?php endforeach; ?>
    </ul>
    <?php endif; ?>
</div>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery(".qty_inc").click(function(){
            jQuery(this).parent().parent().children("input.qty").val((+jQuery(this).parent().parent().children("input.qty").val() + 1) || 0);
        });
    });
</script>