@media only screen and (max-width:61.25em) {
	.tabContent.browse .scrollingContent .item{min-width:134px; width:46%}
}
@media only screen and (max-width:54.25em) {
	#stylerOptions .tabHeader{position:absolute; top:0; right:0; z-index:3; border-left:1px solid #cdcdcd; border-top:0; border-bottom:0; display:block; background:#F5F5F5 none; width:48%;}
	#stylerOptions  .tabHeader .title{border-bottom:1px solid #cdcdcd; display:block;}
	#stylerOptions  .tabHeader h1{width:50%;}
	#stylerOptions .productFilter, .itemList .flexibleTableHead{border-top:0;}
	
	/** Browse **/
	#stylerOptions .mainStylerContent .tabContent.browse .tabHeader{display:none; max-height:518px; height:518px; top:37px;}
	#stylerOptions .mainStylerContent.display .tabContent.browse .tabHeader{display:block;}
	#stylerOptions  .browse .tabHeader .actionItems{display:inline-block;}
	#stylerOptions .browse .scrollingContent{height:519px}
	#personaStyler .sbHolder{width:45%; vertical-align:top;}
	#personaStyler .sbHolder, #personaStyler .sbOptions{border:0;}
	#personaStyler .sbSelector, #personaStyler .sbToggle{display:none;}
	#personaStyler .sbOptions{display:block!important; position:static; width:100%;}
	#personaStyler .sbOptions li{padding:0;}
	#personaStyler .sbOptions li a{border-top:1px solid #fff; border-bottom:1px solid #cdcdcd; border-right:1px solid #cdcdcd; background-color:#e5e5e5; color:#666;}
	#personaStyler .sbOptions li a:hover{background-color:#fff;}
	#personaStyler .sbOptions li .sbSelected{background-color:transparent; border-right:0;}
	#personaStyler .sbOptions li:hover .sbSelected{background-color:#e5e5e5}
	
	#filterItems {display: block;}
	
	
	/** Item List **/
	#stylerOptions .itemList .tabHeader{width:100%;}
	#stylerOptions .itemList .scrollingContent {position:absolute; z-index:2; right:0; top:45px; width:100%; border-left:1px solid #cdcdcd;}
	/*product filter*/
	#stylerOptions .productFilter{display:inline-block; zoom:1; *display:inline; width:48%; vertical-align:top; padding:2%; border:0;}
	.productFilter .field, .productFilter .field.btnContent{display:block; width:95%; padding:3% 0}
	.productFilter .field.btnContent .btnAction{width:100%;}
	.productFilter .field label{font-size:1em; padding:5px 0;}
}
@media only screen and (max-width:47.5em) {
	.mainContent .fixedContainer{max-width:100%; padding:0;}
	/*General*/
	body{background:#fff none;}
	#footer{display:none;}
	
	#personaStyler{/*height:auto;*/ border:0;}
	#stylerCanvas, #stylerOptions{float:none; width:100%; height:auto;}
	#stylerCanvas{margin-top:0}
	#builderCanvas{margin:0 auto;}
	
	.stylerTitle, .tabContent.browse .toolMenu .price{display:none;}
	
	.headerInfo{top:0; width:100%; height:35px; white-space:none; background:#eee none}
	.headerInfo .total{width:auto;}
	#stylerOptions .tabHeader{position:fixed; border:0; width:100%; height:auto; z-index:10000}
	#stylerOptions .mobileFullScreen{position:fixed; top:0; left:0; width:100%; height:100%; background-color:#efefef; z-index:1;}
	#stylerOptions #stylerTabMenu, .tabContent{border-left:0;}
	#stylerOptions .tabContent{z-index:100000; top:0; width:100%;}
	
	#filterItems {display: block;}
	
	/** top button menu **/
	#personaStyler #stylerTabMenu .icon{border-top:1px solid #cdcdcd; width:22.11%; border-right:1px solid #cdcdcd;}
	#personaStyler #stylerTabMenu .icon.expandCollapse{display:inline-block; background-color:#eee; border-bottom:0; border-right:0; width:11.55%; background-position:65% -395px;}
	#personaStyler #stylerTabMenu .icon.expandCollapse:hover{background-color:#f5f5f5;}
	#personaStyler #stylerTabMenu .icon.expandCollapse.collapse{background-position:65% -352px;}
	
	/** Browse **/
	.mainStylerContent{position:fixed; bottom:0; left:0; width:100%;}
	#stylerOptions .mainStylerContent .tabContent.browse .tabHeader{top:0; height:100%; max-height:100%;}
	.mainStylerContent.display {z-index:10000;}
	#stylerOptions .browse .tabHeader{height:100%; top:0; max-height:100%;}
	#stylerOptions .browse .scrollingContent{overflow-y:hidden; overflow-x:auto; white-space:nowrap; height:155px}
	#stylerOptions .browse .scrollingContent.display{display:none;}
	
	/*items*/
	.tabContent.browse .scrollingContent .item{width:150px; height:130px; margin:0.5% 0 0 1%}
	.tabContent.browse .toolMenu{border:0; border-left:1px solid #e4e4e4; height:130px; width:30px;}
	.tabContent.browse .toolMenu li{display:block;}
	#personaStyler .toolMenu .icon{border-left:0; height:64px}
	#personaStyler .toolMenu .info {background-position:50% -558px; /*border-bottom:1px solid #cdcdcd*/}
	#personaStyler .toolMenu .info:hover {background-position:50% -647px}
	#personaStyler .toolMenu .fav {background-position:50% -751px}
	#personaStyler .toolMenu .fav:hover, #personaStyler .toolMenu .fav.active {background-position:50% -846px}
	#itemBrowseContainer .product_type_chain{width:300px;}
	#itemBrowseContainer .product_type_chain  img{width:114px; vertical-align:top;}
	#itemBrowseContainer .product_type_chain  .itemBasicInfo{width:146px; white-space:normal; vertical-align:top; padding-top:10px;}
	
	
	/** Item List **/
	#stylerOptions .itemList .scrollingContent{width:100%; height:auto; border:0; top:0; z-index:2; overflow-y:hidden;}
	.itemList .flexibleTableHead{padding-right:0;}
}
@media only screen and (max-width:28.45em) {
	/** top button menu **/
	#personaStyler #stylerTabMenu .icon, #personaStyler #stylerTabMenu .icon.expandCollapse{width:20%;}
	#stylerTabMenu li span{display:none;}
	#stylerTabMenu .browse{background-position:50% 10px;}	
	#stylerTabMenu .browse:hover{background-position:50% -22px;}
	#stylerTabMenu .itemList{background-position:50% -54px;}
	#stylerTabMenu .itemList:hover{background-position:50% -86px;}
	#stylerTabMenu .clear{background-position:50% -118px;}
	#stylerTabMenu .clear:hover{background-position:50% -150px;}
	#stylerTabMenu  .help{background-position:50% -182px;}
	#stylerTabMenu  .help:hover{background-position:50% -214px;}
	
	/*fancybox popup*//*
	#fancybox-wrap{padding:0;}
	#fancybox-content{width:100%; position:fixed; top:0; left:0; height:100%; z-index:1;}
	.fancybox-bg{display:none;}*/
}