body{
    text-align:center;
    font:normal 0.8em Arial;
    margin:0;
}
.styler-index-index #fancybox-loading div{
    width:100px;
    height:100px;
}
.mainContent {
    background:#fff none;
    position:static;
}
.mainContent .fixedContainer{
    padding:40px 0;
    width:100%;
    position:static;
}
#personaStyler select, #personaStyler input, .itemQtyField{
    font-size:1em;
    border:1px solid #ccc;
    padding:4px;
    line-height:1.4em;
}
#personaStyler .field label{
    float:none;
}
/** General **/
#personaStyler{
    border:1px solid #cdcdcd;
    color:#666666;
    margin:0 auto;
    height:555px;
    text-align:left;
    position:relative;
    max-width:100%;
    background-color:#fff;
}
#personaStyler a{
    text-decoration:none;
}
#personaStyler h1{
    font-weight:normal;
    margin:0;
    line-height:1.4em;
    text-transform:none;
    padding:0;
    color:#666666;
}
#stylerTabMenu li, #stylerTabMenu span, .productFilter .field, .productFilter .filter, .tabContent.browse .scrollingContent .item, .tabContent.browse .toolMenu li, .itemList .itemDetails div, .itemList .itemDetails img, .cell, #personaStyler h1, .tabHeader .tabList, .tabHeader h1 .icon, .tabHeader .actionItems, .tabHeader .actionItems .btn, .tabContent.browse .toolMenu, #itemBrowseContainer .product_type_chain .itemBasicInfo, #itemBrowseContainer .item img, #personaStyler .sbHolder{
    display:inline-block;
    zoom:1;
    *display:inline;
}
#stylerOptions {
    height:555px;
}
#stylerCanvas, #stylerOptions{
    vertical-align:top;
    overflow:none;
}
#stylerCanvas{
    width:51.9%;
    height: 520px;
    text-align:center;
    float:left;
    margin-top:35px;
}
#builderCanvas {
    width:493px;
    height:520px;
    position: relative;
}
#canvas {
   width: 100%;
   height: 520px;
   background-repeat: no-repeat;
   background-position:center;
}
#builderCanvas #indicator{
    display:none;
    background-color:#000;
    opacity:0.6;
    filter:alpha(opacity=60);
    width:16px;
    height: 16px;
    position: absolute;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
}
.headerInfo{
    border-bottom:1px solid #cdcdcd;
    position:absolute;
    left:0;
    top:0;
    z-index:1;
    width:52.1%;
    background-color:#fff;
}
.stylerTitle, #build-overlay h1{
    color:#333;
    width:auto;
    font-family:'mainCustomText',Helvetica,Arial,san-serif;
}
.stylerTitle{
    margin:auto;
    font-size:3em;
    text-transform:none;
    padding:0 0 15px;
    max-width:950px
}
.headerInfo .total{
    width:50%;
    font-size:1.1em;
    float:left;
    padding:7px 0 0 2%;
    text-align:left;
}
.headerInfo .total .price{
    font-size:1.4em;
}
.headerInfo .btnAdd{
    float:right;
    width:40%;
}
#stylerOptions{
    width:48%;
    float:right;
}
#stylerOptions #stylerTabMenu, .tabContent{
    border-left:1px solid #cdcdcd;
}
#personaStyler .icon, #stylerOptions .actionItems .btn, #personaStyler .sbToggle{
    background:transparent url('../images/personaStyler/icons-styler.png') no-repeat;
    padding:0;
    margin:0;
}
/*tab headers*/
#stylerOptions .tabHeader h1{
    font-size:1.4em;
    vertical-align:middle;
    white-space:nowrap;
    padding-top:10px;
    height:35px;
}
#personaStyler #stylerOptions .tabHeader h1 .icon{
    width:40px;
    height:25px;
    vertical-align:middle;
}
#stylerOptions .tabHeader .actionItems{
   width:48%;
   height:45px;
   text-align:right;
   vertical-align:middle;
}
#stylerOptions .tabHeader .actionItems .btn{
    width:45px;
    height:45px;
    cursor:pointer;
    border:0;
    border-left:1px solid #cdcdcd;
}
#stylerOptions .tabHeader .actionItems .btn.save{
    background-position:50% -257px;
}
#stylerOptions .tabHeader .actionItems .btn.save:hover{
    background-position:50% -305px;
}
#stylerOptions .tabHeader .actionItems .btn.cancel{
    background-position:50% -952px;
}
#stylerOptions .tabHeader .actionItems .btn.cancel:hover{
    background-position:50% -1013px;
}
.headerInfo, #stylerOptions .tabHeader, #stylerOptions .tabHeader .title, #stylerTabMenu{
    background:#e9e8e9 url('../images/personaStyler/gradient-gray.gif') repeat-x;
}
#stylerOptions .productFilter, .itemList .flexibleTableHead{
    border:1px solid #cdcdcd;
    border-left:0;
    border-right:0;
    background-color:#f5f5f5;
}
#stylerTabMenu, .tabList ul, .tabContent.browse .toolMenu{
    list-style-type:none;
    margin:0;
    padding:0;
}
#filterItems {
    display: none;
}
#filterItems.itemSearch {
    display: block;
}
/*scroll content*/
#stylerOptions .scrollingContent{
    overflow-y:scroll;
    background-color:#eee;
}
/* top button menu */
#stylerTabMenu{
    white-space:nowrap
}
#personaStyler #stylerTabMenu .icon{
    border-bottom:1px solid #cdcdcd;
}
#stylerTabMenu li{
    cursor:pointer;
    height:35px;
    min-width:35px;
    width:24.8%;
    vertical-align:top;
    line-height:35px;
    border-right:1px solid #cdcdcd;
}
#personaStyler #stylerTabMenu .icon button, #personaStyler #stylerTabMenu .icon a{
    display:block;
    width:100%;
    height:35px;
    border:0;
    background:none;
    cursor:pointer;
    padding:0;
    margin:0;
}
#stylerTabMenu .clear button, #stylerTabMenu .help span{
    background:transparent none;
    color:#666;
    text-align:left;
}
#stylerTabMenu .help{
    border-right:0;
}
#stylerTabMenu span{
    padding:0 15px 0 35px;
    display:block;
}
#personaStyler .btnAdd{
    height:35px;
    line-height:35px;
}
#personaStyler .btnAdd, #personaStyler .btnAction, #build-overlay .btnAction, .btnPersonaStylerAdd{
   -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
   -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ef6536), color-stop(1, #d14600) );
   background:-moz-linear-gradient( center top, #ef6536 5%, #d14600 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef6536', endColorstr='#d14600');
   background-color:#ef6536;
   border:1px solid #d14600;
   color:#ffffff;
   text-decoration:none;
   text-align:center;
   text-transform:uppercase;
   cursor:pointer;
   padding:3px;
   line-height:1.4em;
}
#personaStyler .btnAdd:hover, #personaStyler .btnAction:hover, #build-overlay .btnAction:hover, .btnPersonaStylerAdd:hover{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d14600), color-stop(1, #ef6536) );
    background:-moz-linear-gradient( center top, #d14600 5%, #ef6536 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d14600', endColorstr='#ef6536');
    background-color:#d14600;
}
#stylerTabMenu li span:hover, #stylerTabMenu button:hover span{
    color:#f60
}
#personaStyler .btnAdd:active, #personaStyler .btnAction:active, #build-overlay .btnAction:active, .btnPersonaStylerAdd:active{
    position:relative;
    top:1px;
}
#personaStyler .headerInfo .btnAdd{
    padding:0;
    -webkit-appearance: none;
    -webkit-border-radius:0px;
}
#stylerTabMenu .browse{
    background-position:5px 10px;
}
#stylerTabMenu .browse:hover{
    background-position:5px -22px;
}
#stylerTabMenu .itemList{
    background-position:5px -54px;
}
#stylerTabMenu .itemList:hover{
    background-position:5px -86px;
}
#stylerTabMenu .clear{
    background-position:5px -118px;
}
#stylerTabMenu .clear:hover{
    background-position:5px -150px;
}
#stylerTabMenu .help{
    background-position:5px -182px;
}
#stylerTabMenu .help:hover{
    background-position:5px -214px;
}
#personaStyler #stylerTabMenu .icon.expandCollapse{
    display:none;
}
#stylerCanvas {
    overflow: hidden;
}
/** Browse **/
#stylerOptions .browse .tabHeader{
    height:82px;
}
#personaStyler .browse .tabHeader h1 .icon{
    background-position:50% -448px
}
#stylerOptions .browse .tabHeader .actionItems{
    display:none
}
#stylerOptions .productFilter{
    height:35px
}
.productFilter .filter{
    vertical-align:middle;
    width:100%;
}
#searchFilter.filter{
    width:82%;
}
.productFilter .field{
    border:0;
    vertical-align:bottom;
    width:30%;
    padding:1%;
    margin:0;
}
#personaStyler .productFilter .field select{
    width:100%;
    padding:3px;
}
.productFilter .field.btnContent{
    width:14%;
    vertical-align:middle;
}
.productFilter .field.btnContent .btnAction{
    display:none;
    padding:5% 3%
}
.productFilter .field label{
    display:block;
    text-transform:uppercase;
    font-size:0.85em;
    color:#000;
    padding:0;
    text-align:left;
}
#searchFilter input{
    margin-left:2%;
    width:95%;
    background-color:#fff;
    border:1px solid #aaa;
    color:#666;
}
#personaStyler .sbHolder{
    font-size:1.4em;
    vertical-align:middle;
    width:45%;
}
#stylerOptions select, #personaStyler .sbHolder, #personaStyler .sbOptions{
    padding:0;
    background-color:#F5F5F5;
    color:#666666;
    border:1px solid #cdcdcd;
}
#personaStyler .sbSelector{
    width:85%;
    white-space:nowrap;
}
#personaStyler .sbHolder .sbSelector:link, #personaStyler .sbHolder .sbSelector:visited, #personaStyler .sbHolder .sbSelector:hover{
    color:#666
}
#personaStyler .sbToggle{
    background-position:100% -397px;
}
#personaStyler .sbOptions{
    width:100%;
}
#personaStyler .sbOptions a{
    color:#666;
    border:0;
}
#personaStyler .sbOptions li:hover{
    background-color:#fff;
}
/*items*/
.tabContent.browse .scrollingContent{
    text-align:center;
    height:437px;
}
.tabContent.browse .scrollingContent .item{
    width:134px;
    margin:1% 0 1% 1%;
    border:1px solid #cdcdcd;
    background-color:#fff;
}
.tabContent.browse .scrollingContent .item:hover{
    border:1px solid #666;
}
.tabContent.browse .scrollingContent .item img{
    margin:0 auto;
    cursor:move;
    width:114px;
    height:127px;
}
.tabContent.browse .toolMenu{
    border:0;
    border-top:1px solid #e4e4e4;
    width:100%;
    text-align:right;
}
#personaStyler .toolMenu li{
    vertical-align:middle;
}
#personaStyler .toolMenu .icon{
    height:36px;
    width:21%;
    min-width:30px;
    border-left:1px solid #cdcdcd;
    cursor:pointer;
}
#personaStyler .toolMenu .icon:hover{
    background-color:#f5f5f5
}
#personaStyler .toolMenu .price{
    text-align:left;
    width:45%;
    height:auto;
    font-size:1em;
    color:#666;
    font-weight:normal;
}
#personaStyler .toolMenu .info {
    background-position:50% -573px
}
#personaStyler .toolMenu .info:hover {
    background-position:50% -662px
}
#personaStyler .toolMenu .fav {
    background-position:50% -761px
}
#personaStyler .toolMenu .fav:hover, #personaStyler .toolMenu .fav.active {
    background-position:50% -856px
}
#itemBrowseContainer .item.product_type_charm .itemBasicInfo{
    display:none;
}
#itemBrowseContainer .product_type_chain {
    width:98%;
    margin:1% 0;
}
#itemBrowseContainer .product_type_chain img, #itemBrowseContainer .product_type_chain .itemBasicInfo{
    vertical-align:middle;
}
#itemBrowseContainer .product_type_chain img{
    width:30%;
    cursor:default;
}
#itemBrowseContainer .product_type_chain .itemBasicInfo{
    width:65%;
}
#itemBrowseContainer .product_type_chain .itemBasicInfo span{
    display:block;
    margin:0 auto;
}
#itemBrowseContainer .product_type_chain .styleName{
    font-weight:bold;
    padding-bottom:10px;
}
#personaStyler #fancybox-frame{
    overflow:auto;
}
#fancybox-content{
    min-height:410px;
}
/** Item List **/
.tabContent.itemList {
    display:none;
    position:absolute;
    top:36px;
    right:0;
    z-index:50;
    width:47%;
}
.tabContent.itemList.display{
    display:block;
}
#stylerOptions .itemList .tabHeader .title{
    display:block;
}
#stylerOptions .itemList .tabHeader h1{
    width:50%;
}
#personaStyler .itemList .tabHeader h1 .icon{
    background-position:50% -500px;
}
#stylerOptions .itemList .scrollingContent{
    height:474px;
}
.itemList .flexibleTableHead{
    padding-right:16px;
    line-height:1.4em
}
.itemList .flexibleTableRow{
    border-top:1px solid #ddd;
    background-color:#fff;
}
.itemList .cell{
    padding:5px 1%;
    float:none;
}
.itemList .itemDetails{
    width:95%
}
.itemList .itemDetails div, .itemList .itemDetails img, .itemList .cell{
    vertical-align:middle;
}
.itemDetails .itemName{
    font-weight:bold;
}
.itemDetails .prodImg{
    width:38%;
    text-align:center;
}
.itemDetails .prodImg span{
    display: none;
}
.itemDetails .prodDesc{
    width:58%
}
.itemDetails .prodDesc .price{
    display:block;
}
.itemDetails .prodDesc .qty{
    width: 50px;
}
.itemDetails .itemStyle{
    font-size:0.9em;
    text-transform:uppercase;
}
/*Instructions*/
#build-overlay {
    display: none;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 10000;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}



#build-overlay-text   .topdivarea{
    background: #57b6bf;
    padding: 15px 0px;
}
#build-overlay h1 {
    font-size: 26px;
    line-height: 1.2em;
    font-weight: bold;
}

.headdesctop {

    margin: 15px 0px 5px 0px;
}

.headdesctop >h2 {
    color: #5cc6d0;
    font-size: 19px;
}
.getstartbutt {
    width: 100%;
    float: left;
    background: #d7d03d;
    padding: 10px 0px;
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.close-btn{
    border: none;
    background: none;
    color: #fff;
    font-size: 35px;
    position: absolute;
    top: -2px;
    right: 12px;
    font-style: normal;
    font-weight: normal;
    z-index: 99;
    width: auto;
    min-width: inherit;
    margin: 0;
}

.getstartbutt a{
    background: #d7d03d !important;
    margin: 0 !important;
    padding: 0 !important;
    color: #000;
    font-size: 27px;
    font-family: 'Chisel Condensed';
    font-weight: bold;
    font-style: normal;
    color: #000 !important;
    font-size: 27px !important;
}

.headdesctop >p {
    font-size: 18px;
    margin:0 
}


#build-overlay-text {
    background:rgba(35, 4, 4, 0.75);
    cursor:pointer;
    text-align:center;
    width:auto;
    max-width:800px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    height:auto;
    font-size:1.2em;
    padding:40px;
    position: absolute;
    top: 60px;
    left: 50%;
    margin: 0 !important;
    margin-left: -400px !important;
    color: #fff;
}
#build-overlay h1{
    font-size:2.5em;
    line-height:1.2em
}
#build-overlay-text span{
    display:inline-block;
    zoom:1;
    *display:inline;
    vertical-align:top;
    width:45%;
    min-width:310px;
    margin:2% 1%;
}
#build-overlay .btnAction{
    padding:2%;
    display:block;
    margin:2% auto;
    width:auto;
}
#build-overlay-text p {
    margin:10px 0;
}
/*IE6*/
.IE6 {
    display: none;
    width: 500px;
    margin: 0 auto;
    line-height: 17px;
}
.IE6 p {
    margin: 7px 0;
}
#sampleBrowseItem, #sampleListItem {
   display: none;
}
.img-not-loaded img {
   background-image: 'url(/images/ajax-loader.gif)';
   background-position: '50% 50%';
   background-repeat: 'no-repeat';
}

#itemListContainer .itemDetails img.charmImg{width: 100px;}