/*tab style*/
.tab {cursor: pointer;}
.tabs .tab{padding:8px 0; background-color:#f3f1ef; display:block; float:left; margin-right:5px; text-align:center; color:#9b7f74; font-weight:bold; font-size:14px; border:0}
.tabs .tab.selected{background-color:#9b7f74; color:#fff}
.tabs .tabBox{height:inherit; width:98%; background-color:#9B7F74; padding:10px 5px 5px; color:#fff;}
.tabs .scroller{background-color:#fff; margin-top:5px}
.tabs{width:100%;}
.tabs .tab{width:180px;}

/*charm items used in builder*/
div#selectItems .info {position: relative; top:65px}

/*scroller*/
.scrollLeft {float:left; padding-right:5px;}
.scrollRight {float:right; padding-left:5px;}
.scrollButton {
	opacity:0.6;
	filter:alpha(opacity=60);
	position:relative;
/*	top:30px;*/
	width: 20px;
	display: block;
        cursor: pointer;
}
.scrollButton:hover{opacity:1; filter:alpha(opacity=100);}
.noScroll, .noScroll:hover{
cursor:default !important;
opacity:0 !important;
filter:alpha(opacity=0);
}
#selectItems {white-space: nowrap;}
#itemScroll {overflow: hidden; max-width:850px !important; width:87% !important; white-space: nowrap;}
.scrolling{white-space:nowrap; position: relative;}
body>.item>.info {display: none;}
.info{white-space: normal}

.charmWrap {
	position: relative;
	display:inline-block;
        width: auto;
	zoom: 1;
	padding:10px 15px;
}

.browseItem.scroller{height: 290px; max-width:950px; width:98%; white-space: nowrap; position: relative;}
.browseItem.scroller #itemScroll{height:330px}
.browseItem.scroller #itemScroll .productWrap {width:110px;  height:230px; border: 1px solid #E5E5E5; background-color:#fff; position:relative; display: inline-block; zoom:1; padding: 0 5px; margin: 10px 0 10px 20px; text-align:center;}
/*#browseItems {margin:0; padding:0; height: 290px; white-space: nowrap; position: relative;}*/
#browseItems .productWrap, #browseItems .productWrap .info, #ibox_wrapper{ background-color:#fff;}
.prodDetailTabs .browseItem.scroller{max-width:950px !important; width:98% !important;}
.productWrap .product {height: 150px; white-space: normal;}
.productWrap .product img {height: 120px; margin: 8px auto 0px; display: block;}
.productWrap .product .description{display:block; height:30px; width:100%!important}
.productWrap .product .add{font-size:11px; font-weight:bold; background-color:#eee; width:105px; display:block; padding:3px 2px; margin-top:5px}
.productWrap .product .add:hover{background-color:#f2e1d6}
#browseItems .productWrap .info { width: 170px; height: 295px; border: 1px solid #E5E5E5; top: 0px; left:-10px; margin: -10px; position: absolute; padding: 8px; text-align:center}
#browseItems .productWrap .info img{height:140px; margin:0 auto 10px}
#browseItems .productWrap .info .add{display:block; float:none; padding:0 0 5px}
#browseItems .productWrap .info .description{display:block; height:40px}
#browseItems .productWrap .info input.boldButton{float:none; margin:10px auto 0;}
.required{color:#c63; font-weight:bold}
.originalPrice {color:#999 !important; text-decoration: line-through; font-size:11px}
.salePrice{color:#d30 !important; font-weight:bold;}
.discountPrice {color:#c63; font-weight:bold; display: block; float: right; clear: both; width: 90px;}
.numeric {text-align: right !important;}

#browseItems .productWrap .info {display: none;}
#browseItems .productWrap.quickView .info {display: block;}
#browseItems .productWrap.quickView {z-index: 3;}
#browseItems .productWrap {z-index: 2;}

.relatedProducts{max-width:950px !important; width:95% !important;}

@media only screen and (max-width: 480px) {
    .prodDetailTabs{display:none;}
    .tabs .tab {width:120px;}
    .tabs .tabBox {width: 95%;}
    .numeric {width: 50px;}

}