<div class="social-links-wrap">
    <div class="custom-container">
        <div class="links-right-top">
            <div class="insta-link">
                check our <a href="https://www.instagram.com/linkingcharms">instagram</a> post
            </div>
            <ul>
                <li><a href="https://www.instagram.com/linkingcharms" target="_blank"><img class="img-responsive" src="<?php echo $this->getSkinUrl('images/custom/insta2.png'); ?>"
                            alt="" /></a></li>
                <li><a href="https://www.facebook.com/linkingcharm" target="_blank"><img class="img-responsive" src="<?php echo $this->getSkinUrl('images/custom/feb2.png'); ?>"
                            alt="" /></a></li>
                <li><a href="https://twitter.com/LinkingCharms" target="_blank"><img class="img-responsive" src="<?php echo $this->getSkinUrl('images/custom/twitt2.png'); ?>"
                            alt="" /></a></li>
                <li><a href="https://www.youtube.com/channel/UCyVhNOae3VH4bD2Wm9wsOJQ" target="_blank"><img class="img-responsive"
                            src="<?php echo $this->getSkinUrl('images/custom/yt.png'); ?>" alt="" /></a></li>
            </ul>
        </div>
    </div>
</div>
<?php 
    $category = Mage::registry('current_category');
    $homePage = Mage::getBlockSingleton('page/html_header')->getIsHomePage();
    if(($category) || ($homePage)):
?>
<div class="page-content-custom">
    <div class="custom-container">
        <?php if($category):?>
        <div class="category-content">
            <?php echo $category->description;?>
        </div>
        <?php endif;?>
        <?php if($homePage):?>
        <div class="home-content">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home_static_content')->toHtml(); ?>
        </div>
        <?php endif;?>
    </div>
</div>
<?php endif;?>
<?php 
    $testimonialCollection = Mage::getModel('testimonial/testimonial')->getCollection();
    $testimonialCollection->addFieldToFilter('status',1)->load();
    if($testimonialCollection->getSize()>0):
?>
<div class="testimonial-wrap">
    <div class="custom-container">
        <div class="heading">
            WE LOVE TO MAKE OUR CLIENTS HAPPY
        </div>
        <div class="testimonial-slider">
            <?php foreach($testimonialCollection as $testimonial):?>
            <div class="slide">
                <div class="desc">
                    “
                    <?php echo $testimonial->getTestimonial();?>”
                </div>
                <div class="user-name">
                    <?php echo $testimonial->getName();?>
                </div>
            </div>
            <?php endforeach;?>
        </div>
    </div>
</div>
<?php endif;?>