@font-face {
	font-family: "Quant";
	src: url("https://dev1.zales.com/_ui/responsive/theme-zales/fonts/quant/QuantReg-webfont.eot?#iefix") format("embedded-opentype"), url("https://dev1.zales.com/fonts/quant/QuantReg-webfont.woff2") format("woff2"), url("https://dev1.zales.com/_ui/responsive/theme-zales/fonts/quant/QuantReg-webfont.woff") format("woff"), url("https://dev1.zales.com/_ui/responsive/theme-zales/fonts/quant/QuantReg-webfont.ttf") format("truetype"), url("https://dev1.zales.com/_ui/responsive/theme-zales/fonts/quant/QuantReg-webfont.svg#svgFontName") format("svg");
}
body{font-family:'Roboto', Arial, Helvetica, sans-serif;}
#configurator{border:0!important; padding:0!important; font-size:1.2em; z-index: 1;}
#configurator h1{line-height:1em; font-weight:normal;}
#configurator .breadcrumb{color:#000!important}
#configurator .breadcrumb a{color:blue; text-decoration:underline; padding-left:10px}

#personaStyler{font-size:80%; max-width:100%;}
#personaStyler .icon, #stylerOptions .actionItems .btn, #personaStyler .sbToggle{background-image:url('../images/retailers/zales/icons-styler.png');}

/*top button menu*/
.headerInfo, #stylerOptions .tabHeader, #stylerOptions .tabHeader .title, #stylerTabMenu{background:none #f2f2f2;}
#personaStyler .btnAdd{height:36px;}
#personaStyler .btnAdd, #personaStyler .btnAction, #build-overlay .btnAction, .btnPersonaStylerAdd, #fancybox-content button{
	background:none #4F90C5; border:1px solid #4F90C5; box-shadow:none; text-transform:uppercase; color:#fff;
}
#personaStyler .btnAdd:hover, #personaStyler .btnAction:hover, #build-overlay .btnAction:hover, .btnPersonaStylerAdd:hover, #fancybox-content button:hover{background:none #3B6A91; border-color:#3B6A91;}
#stylerTabMenu li {text-transform:uppercase;}
#stylerTabMenu li span, #stylerTabMenu button{font-size:1em;}
#stylerTabMenu li span:hover, #stylerTabMenu button:hover span, #fancybox-content h1{color:#4F90C5;}
#stylerTabMenu li:hover{background-color:#fff;}
.productFilter .field{padding:0.5%;}

/*builder*/
#builderCanvas{margin:0 auto;}

/*instructions*/
/*
#build-overlay-text{background:transparent url('/images/retailers/zales/builder-instructions.png') top right no-repeat; padding:10px 10px 0 289px; margin-top:180px; font-size:11px; border:0; height:259px; width:611px; text-align:left;}
#build-overlay-text h3{font-size:18px; text-transform: uppercase; font-weight:normal; margin:0}
#build-overlay-text p {margin: 10px 0; display:block}
*/
#build-overlay-text h1{font-size:1.8em; margin-top:0;}
#build-overlay-text span{text-align:left; display:block; width:96%;}

/*product info popup*/
#fancybox-overlay {z-index: 40000;}
#fancybox-wrap {z-index: 40001;}
#fancybox-content{min-height:auto;}
#fancybox-content h1, #fancybox-content h2{font-family:'Quant',Georgia, serif; font-weight:normal;}
#fancybox-content button{padding:0 20px; line-height:2em; margin-top:10px;}
#addToCartError h1{font-size:1.6em;}
.prodInfo{width:215px; float:right; text-align:left; padding-right:10px}
.prodInfo h2{margin-bottom:0;}
.prodInfo h3{text-transform:uppercase; font-weight:normal; margin:0; font-size:12px}
.prodInfo div{font-size:12px}
.prodInfo .price{font-size:14px; font-weight:bold}
.prodInfo form, .prodDesc form{border:1px solid #ccc; border-left:0; border-right:0; display:block; padding:10px 0; margin-top:10px;}
.prodInfo .itemQtyField{width:60px;}
div.imageContainer{padding-right:10px; float:left;}
.imageContainer .prodImageContainer{width:260px}
.prodThumbs{margin:10px auto; display:inline; white-space:nowrap}
.prodThumbs .altProdImage{cursor:pointer; float:left}
.altProdImage{border: 1px solid #fff; padding: 1px; margin: 2px; width: 85px; position: relative;}
.prodThumbs .altProdImage img{width:100%;}
.altProdImage.selected{border: 1px solid #442d30;}

.tabContent.browse .scrollingContent .item:hover{border-color:#4F90C5;}

#ajax-loader{background-image: url('../images/ajax-loader-blackBG.gif'); }
.copyright{text-align:center; font-size:11px;}
a#showselected, a#showselected:visited { color: #D6D6D6 !important;}
a#showselected:hover { color: #999999 !important;}
span.currency {display: none !important;}

#headerWrapper, #footerWrapper {
	z-index: 4000;
	max-width: 1400px;
	margin: 0 auto;
}