<?php
/**
 * form.phtml
 * @author     Payubiz
 * @copyright  2011-2017 PayU India
 * @license    http://www.opensource.org/licenses/lgpl-license.php LGPL
 * @link       http://www.payu.in
 * @category   PayUbiz
 * @package    PayUbiz
 */
?>
<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">
        <li>
            <?php echo $this->__('You will be redirected to the PayUbiz website when you place an order.') ?>
        </li>
    </ul>
</fieldset>
