<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Giftcard2
 * @version    2.2.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div class="discount aw_giftcard2">
    <h2><?php echo $this->__('Gift Cards') ?></h2>
    <form id="aw_giftcard2-form" action="<?php echo $this->getFormUrl();?>" method="post">
        <fieldset>
            <label for="giftcard_code"><?php echo $this->__('Enter your gift card code') ?></label>
            <div class="input-box">
                <input class="required-entry input-text" id="giftcard_code" name="giftcard_code" value="" />
            </div>
            <div class="buttons-set">
                <button class="button" onclick="AwGiftcardForm.submit()" type="button" value="<?php echo $this->__('Apply Gift Card Code') ?>">
                    <span><span><?php echo $this->__('Apply Gift Card Code') ?></span></span>
                </button>
            </div>
        </fieldset>
    </form>
    <script type="text/javascript">
        var AwGiftcardForm = new VarienForm('aw_giftcard2-form');
    </script>
</div>