
.slider-wrapper{
    position:relative;
}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	line-height:1.2;	
	z-index:8;
	padding: 10px 15px;
	overflow: hidden;
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:50%;
    margin-top:-26px;
	z-index:9;
	cursor:pointer;
    opacity:0;
    -moz-opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -ms-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}
#slider:hover .nivo-directionNav a{
    opacity:1;
    -moz-opacity:1;
    filter:alpha(opacity=10);
}
.nivo-prevNav {
	left:10px;
    background-image:url('../../../images/harpreet/slider/slider-left.png');
    height:52px;
    width:32px;
    text-indent:-9999px;
}
.nivo-nextNav {
	right:10px;
    background-image:url('../../../images/harpreet/slider/slider.png');
    height:52px;
    width:32px;
    text-indent:-9999px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 10px 0;
    position:absolute;
    z-index:9;
}
.nivo-controlNav a {
	cursor:pointer;
    display:inline-block;
	width:12px;
	height:12px;
	text-indent:-9999px;
	border:2px solid #fff;
	margin: 0 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.nivo-controlNav a.active {
	font-weight:bold;
}