<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">
        <li>
            <div class="buttons-set" id="review-buttons-container">
                <button type="submit" title="<?php echo $this->__('Place Order Now') ?>" class="checkout_success_button button btn-checkout happy_button" onclick="checkout.save(); return false;"><?php echo $this->__('Place Order Now') ?></button>
               <span class="checkout_success_loader" style="display:none;float:right;">
                    <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Submitting order information...') ?>" title="<?php echo $this->__('Submitting order information...') ?>" class="v-middle" /> <?php echo $this->__('Submitting order information...') ?>
                </span>
            </div>

        </li>
    </ul>
</fieldset>