<?php
/**
* Brainvire Infotech Pvt. Ltd
 * @category   Brainvire
 * @package    Brainvire_Points
 * @version    1.5.1
 * @copyright  Copyright (c) 2010-2012 Brainvire Infotech Pvt. Ltd (http://www.brainvire.com)
 * @license    
 */
?>
<?php
?>
<?php if (Mage::helper('points/config')->getInfoPageId()): ?>
    <a href="<?php echo $this->getUrl('points/index/infopage') ?>" title="<?php echo $this->__('What is it?') ?>">
        <img src="<?php echo $this->getSkinUrl('images/brainvire_points/question.png') ?>" />
    </a>
<?php endif; ?>
