<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Giftcard2
 * @version    2.2.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if (count($this->getGiftCards()) > 0): ?>
    <?php foreach($this->getGiftCards() as $card):?>
        <tr class="cart-summary__row">
            <td colspan="<?php echo $this->getColspan(); ?>" style="<?php echo $this->getTotal()->getStyle() ?>" class="cart-summary__name">
                <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?><strong><?php endif; ?>
                <div class="aw_giftcard2-total-description"><?php echo $this->__('Gift Card (%s)', $card->getCode()); ?></div>
                <?php $_title = $this->__('Remove'); ?>
                <a href="<?php echo $this->getRemoveUrl($card->getCode()); ?>" title="<?php echo $_title; ?>"
                    class="aw_giftcard2-btn-remove">
                    <svg class="cart-item__delete-icon svg-icon">
                        <use xlink:href="#icon-delete">
                    </svg>
                </a>
                <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?></strong><?php endif; ?>
            </td>
            <td style="<?php echo $this->getTotal()->getStyle() ?>" class="cart-summary__price">
                <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?><strong><?php endif; ?>
                -<?php echo $this->helper('checkout')->formatPrice($card->getGiftcardAmount()) ?>
                <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?></strong><?php endif; ?>
            </td>
        </tr>
    <?php endforeach;?>
<?php endif;?>