<?php 

$checkout = Mage::getSingleton('checkout/session')->getQuote();
$billAddress = $checkout->getBillingAddress();
$customer_email=$billAddress->getData('email');
// echo $customer_email=Mage::getSingleton('checkout/session')->getCustEmail();
// Mage::getSingleton('checkout/session')->unsetCustEmail();
// echo $customer_add=$billAddress->getData('street');
$base_url=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);
// exit;

// Mage::getSingleton('core/session', array('name' => 'frontend'));

// $sessionCustomer = Mage::getSingleton("customer/session");

// if($sessionCustomer->isLoggedIn()) {
//   echo "Logged";
// } else {
//    echo "Not Logged";
// }
    // echo $base_url= Mage::getBaseUrl();
$sesion_url=$base_url."onepagecheckout/index/getcustomeremail";
if (!$methods = $this->getMethods()) : ?>
<p><?php echo $this->helper('checkout')->__('Sorry, no quotes are available for this order at this time.') ?></p>
<?php else : ?>
<dl class="sp-methods">
    <div class="payment_method_tab"><span class="ttitle">Select payment method</span> <span class="menu_toogle_arrow">&nbsp;</span> </div>
    <div class="payment_tabs">
        <?php foreach ($this->getMethods() as $_method): $_code = $_method->getCode() ?>
        <dt class="paymethod <?php if($this->getSelectedMethodCode() == $_method->getCode()){ echo 'added';}?>" id="paydt_<?php echo $_method->getCode();?>">
        <?php if( sizeof($this->getMethods()) > 1 ): ?>
            <input data-url="<?php  echo Mage::getUrl('onepagecheckout/index/savepayment',array('_secure'=>true))  ?>" id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" title="<?php echo $this->htmlEscape($_method->getTitle()) ?>" onclick="payment.switchMethod('<?php echo $_code ?>')"<?php if($this->getSelectedMethodCode()==$_code): ?> checked="checked"<?php endif; ?> class="radio" />
        <?php else: ?>
            <span class="no-display"><input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" checked="checked" class="radio" /></span>
        <?php endif; ?>
            <label for="p_method_<?php echo $_code ?>"><?php echo '<span class="payment_methods">'.$this->htmlEscape($_method->getTitle()).'</span>'; ?> <?php echo $this->getMethodLabelAfterHtml($_method) ?></label>
            <span class="d_arrow">&nbsp;</span>
        </dt>
        <?php endforeach; ?>

    </div>
    
    <div class="payment_tabs_area">
        <?php foreach ($this->getMethods() as $_method): $_code = $_method->getCode() ?>
            <?php $html = $this->getPaymentMethodFormHtml($_method); ?>
            <?php //if ($html = $this->getPaymentMethodFormHtml($_method)): ?>
            <dd class="<?php if($this->getSelectedMethodCode() == $_method->getCode()){ echo 'dd_added';}?>" id="ddpay_<?php echo $_method->getCode();?>">
                <?php echo $html; ?>
                <?php if($_method->getCode() == 'cashondelivery'){
                    // Add additional block of data if paymethod is cod.
                    echo '<div class="checkout_cod_html">
                    <h2 class="payment_cod_heading" style="padding: 0px; margin: 0px;">Pay using Cash On Delivery</h2>
                    <div class="cod_text">All COD orders subject to verification</div>
                    <div>';?>

                         <div class="buttons-set" id="review-buttons-container">
                            <button type="submit" title="<?php echo $this->__('Place Order Now') ?>" class="checkout_success_button button btn-checkout happy_button" onclick="checkout.save(); return false;"><?php echo $this->__('Place Order Now') ?></button>
                            <span class="checkout_success_loader" style="display:none;float:right;">
                                <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Submitting order information...') ?>" title="<?php echo $this->__('Submitting order information...') ?>" class="v-middle" /> <?php echo $this->__('Submitting order information...') ?>
                            </span>
                        </div>
                <?php }?>

            </dd>
            <?php //endif; ?>
        <?php endforeach; ?>
    </div>
</dl>
<script type="text/javascript">
 

//<![CDATA[
<?php echo $this->getChildChildHtml('scripts'); ?>
payment.init();
 
//]]>
//jQuery('.ship_html').html(shipping_html);

    jQuery(document).ready(function($){
        $(".not_login_continue").live('click',function(){
        // alert($("#email").val());
        var email=$("#email").val();
                $.ajax({
                  type: "POST",
                  url: "<?php echo $sesion_url;?>",
                  data: { s: email },
                  
                  success: function(response) {
                  console.log(response);
                  // if(response!='Resgistered')
                  // {
                    
                  //   $(".form-response").html("<p class='copy-code'>USE COUPON CODE AND GET <b>RS 100/-</b>OFF</p><p class='success-response'>"+response+"</p>");
                  // }
                  // else
                  // {
                  //   $(".form-response").html("<p class='copy-code'>THE USER HAS ALREADY REGISTERED</p>");
                  // }

            }
                   
            });
        })


        

        window.paymethod = function(){
        var window_width = $(window).width();
          if(window_width<=720){
              $(".payment_method_tab").live('click',function(){
              // alert('click');
              $('.payment_tabs').slideDown();
            });

            $('.payment_tabs label').live('click',function(){
              $('.payment_tabs').slideUp();
            });
          }

            else{
                
            }
          }

          paymethod();

          $(window).resize(function(){
              paymethod();
                  // gridlayout();
          });

    })

</script>
<?php endif; ?>