        <link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/styles-noroute.css');?>" media="all">
        <div class="error-area">
            <div class="error-content">
                <h2><?php echo $this->__("We're Sorry...")?></h2>
                <h3><?php echo $this->__("This page cannot be found.")?></h3>
                <p><?php echo $this->__("Maybe you want to perform a search?")?></p>
                <?php
                $catalogSearchHelper =  $this->helper('catalogsearch');
                ?>
                <form id="error_search_form" action="<?php echo $catalogSearchHelper->getResultUrl() ?>" method="get">
                    <div class="form-search">
                        <label for="error_search"><?php echo $this->__('Search:') ?></label>
                        <input id="error_search" type="text" name="<?php echo $catalogSearchHelper->getQueryParamName() ?>" value="<?php echo $catalogSearchHelper->getEscapedQueryText() ?>" class="input-text" maxlength="<?php echo $catalogSearchHelper->getMaxQueryLength();?>" />
                        <button type="submit" title="<?php echo $this->__('Search') ?>" class="button"></button>
                        <div id="error_search_autocomplete" class="search-autocomplete"></div>
                        <script type="text/javascript">
                        //<![CDATA[
                            var searchForm = new Varien.searchForm('error_search_form', 'error_search', '<?php echo $this->__('Search...') ?>');
                            searchForm.initAutocomplete('<?php echo $catalogSearchHelper->getSuggestUrl() ?>', 'error_search_autocomplete');
                        //]]>
                        </script>
                    </div>
                </form>
            </div>
            <div class="error-img">
                <img src="<?php echo $this->getSkinUrl('images/404_bg.png'); ?>"/>
            </div>
        </div>