<?php

/**
 * @see KP_Otp_Block_Form_Cashondelivery
 */
?>
<?php if ($this->getOtpIsEnable()): ?>
  
    <ul class="form-list otp" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">
        <li>
            <div class="<?php echo $this->getMethodCode() ?>-instructions-content cod-content">
                <?php echo nl2br($this->getInstructions()) ?>
            </div>
            <div class="otp-content">
              <ul class="messages" style="display:none;">
              </ul>
               <input type="hidden" value="<?php //echo Mage::getUrl("otp/index/sendOtpToCustomer",array('_secure'=>true));
               if (Mage::app()->getStore()->isFrontUrlSecure() && Mage::app()->getRequest()->isSecure()) { echo Mage::getUrl("otp/index/sendOtpToCustomer",array('_secure'=>true)); } else { echo Mage::getUrl("otp/index/sendOtpToCustomer"); }
               ?>" id="sendotpurl" name="sendotpurl" />
                <input type="hidden" value="<?php //echo Mage::getUrl("otp/index/confirmotp");
                if (Mage::app()->getStore()->isFrontUrlSecure() && Mage::app()->getRequest()->isSecure()) {echo Mage::getUrl("otp/index/confirmotp",array('_secure'=>true)); } else { echo Mage::getUrl("otp/index/confirmotp"); }
                ?>" id="verifymobileurl" name="verifymobileurl" />
                <input type="hidden" value="<?php echo $this->getCustomerMobileNumber();?>" id="otp_mobile" name="otp_mobile" />
              <label id="otp-link" name="otp-link"> 
                <a href="javascript:void(0);" id="otp_click_here">Click here </a> to send OTP on <?php //echo $this->getCustomerMobileNumber();?><span class="display_otp_mobile"></span>
              </label>
              <div class="otp-verify-wrapper" style="display:none;">
                <input type="password" name="confirm-otp" id="confirm-otp" maxlength="6" class="required-entry validate-digits" >
                <input type="button" name="otp_submit" id="otp_submit" value="Verify" />
              </div>
            </div>
            <div class="otp-success" style="display:none;">
              <div><span>OTP varified successfully.</span></div>
            </div>

        </li>
    </ul>
<?php endif; ?>
