<?php 
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Rma
 */ 
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_requests = $this->getRequests(); ?>
<div class="page-title">
    <h1><?php echo $this->__('My RMA') ?></h1>
</div>
<?php echo $this->getPagerHtml(); ?>
<?php if($_requests->getSize()): ?>
<table class="data-table" id="my-requests-table">
    <col width="1" />
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <thead>
        <tr>
            <th><?php echo $this->__('ID') ?></th>
            <th><?php echo $this->__('Order #') ?></th>
            <th><?php echo $this->__('Date') ?></th>
            <th><span class="nobr"><?php echo $this->__('Order Status') ?></span></th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($_requests as $_request): ?>
        <tr>
            <td><?php echo $_request->getId() ?></td>
            <td><?php echo $_request->getIncrementId() ?></td>
            <td><span class="nobr"><?php echo $this->formatDate($_request->getCreated()) ?></span></td>
            
            <td><em><?php echo $_request->getStatusLabel() ?></em></td>
            <td class="a-center">
                <span class="nobr">
                <span class="nobr">
                    <a href="<?php echo $this->getViewUrl($_request) ?>"><?php echo $this->__('View') ?></a> |
                    <a onclick="if (!confirm('<?php print $this->__("Delete")?>?')) return false;" href="<?php echo $this->getDeleteUrl($_request) ?>"><?php echo $this->__('Delete') ?></a>
                </span>
            </td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('my-requests-table');</script>
<?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('You have placed no requests.'); ?></p>
<?php endif ?>
