<?php $_filters = $this->getActiveFilters() ?>
<?php $_removeTxt = Mage::helper('catalog')->__('Remove This Item') ?>
<?php if (!empty($_filters)): ?>
    <ol class="currently">
        <?php foreach ($_filters as $_filter):?>
            <li>
                <span class="label"><?php echo Mage::helper('catalog')->__($_filter->getName()) ?> : </span>
                <?php if ($_filter->hasData('children')): ?>
                    <?php foreach ($_filter->getData('children') as $child): ?>
                        <span class="multiselect-child">
                            <a href="<?php echo $child['url'] ?>" class="btn-remove-inline"> X </a>
                            <?php echo $child['label']  ?>
                        </span>
                    <?php endforeach ?>
                <?php else: ?>
                    <span class="multiselect-child">
                        <a href="<?php echo $_filter->getRemoveUrl() ?>" class="btn-remove-inline" title="<?php echo $_removeTxt ?>">X</a>
                        <?php echo $_filter->getLabel() ?>
                    </span>
                <?php endif ?>
            </li>
        <?php endforeach; ?>
    </ol>
    <?php if (Mage::helper('amshopby')->isVersionLessThan(1, 7)): ?>
        <div class="actions"><a href="<?php echo Mage::helper('amshopby/url')->getFullUrl(array(), 1) ?>"><?php echo Mage::helper('catalog')->__('Clear All') ?></a></div>
    <?php endif; ?>
<?php endif; ?>
<script type="text/javascript">
   
</script>
