<?php if($this->canShowBlock()): ?>
    <div class="block block-layered-nav">
        <div class="block-content filter-pagecategory">
           
            <?php if($this->canShowOptions()): ?>
                <div id="narrow-by-list" class="amshopby-narrow-by-list filter-in-top">
                    <div class="filter-name-wrap">
                     <div class="filter-name-inner">
                        <span class="head-label">Shop By</span>
                        <?php foreach ($this->getFilters() as $_filter): ?>
                            <?php if($_filter->getItemsCount()): ?>
                                    <?php if ($_filter->getAttributeCode() == 'price') : ?>
                                        <?php $_filter->addData(array('amprice-position' => 'top')); ?>
                                    <?php endif; ?>
                                    <div class="filtername-top" filter="<?php echo strtolower(str_replace("", "-", $this->__($_filter->getName()))); ?>"><?php echo $this->__($_filter->getName()) ?></div>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </div>
                    </div>
                    <div class="filter-values-wrap">
                        <div class="filter-inner">
                        <?php foreach ($this->getFilters() as $_filter): ?>
                            <?php if($_filter->getItemsCount()): ?>
                                    <?php if ($_filter->getAttributeCode() == 'price') : ?>
                                        <?php $_filter->addData(array('amprice-position' => 'top')); ?>
                                    <?php endif; ?>
                                    <div class="top-filter-options <?php echo 'show-'.strtolower(str_replace("", "-", $this->__($_filter->getName()))); ?>" style="background:none"><?php echo $_filter->getHtml() ?></div>
                            <?php endif; ?>
                        <?php endforeach; ?>
                        </div>
                    </div>
                        <?php // move selected filters below the options ?>
                        <?php echo $this->getStateHtml() ?>
                </div>
                <script type="text/javascript">decorateDataList('narrow-by-list')</script>
            <?php endif; ?>
        </div>
    </div>
<?php else: ?>
    <div style="display:none" class="<?php echo $this->getBlockId()?>"></div>
<?php endif; ?>
