<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">
        <li
        style="font-size:14px;">
            You will be redirected to Payu Money website when you place an order.
        </li>
    </ul>
</fieldset>
