<label for="<?php echo $this->getFieldId('month')?>"<?php if ($this->isRequired()) echo ' class="required"' ?>>
	<?php echo $this->__('Date of Birth') ?>
</label>
<?php if ($this->isRequired()) echo '<sup>*</sup>' ?>
<div class="data_area customer-dob">

    <select id="day" name="day">
    <?php for($i=1;$i<=31;$i++) { ?>
        <option value="<?php str_pad($i,2,'0',STR_PAD_LEFT); ?>" <?php if($this->getDay() == str_pad($i,2,'0',STR_PAD_LEFT)) echo 'selected="selected"'; ?>>
        <?php echo $i ?></option>
    <?php } ?>
    </select>


    <select id="month" name="month">
        <option value="01" <?php if($this->getMonth() == "01") echo 'selected="selected"'; ?>>Jan</option>
        <option value="02" <?php if($this->getMonth() == "02") echo 'selected="selected"'; ?>>Feb</option>
        <option value="03" <?php if($this->getMonth() == "03") echo 'selected="selected"'; ?>>Mar</option>
        <option value="04" <?php if($this->getMonth() == "04") echo 'selected="selected"'; ?>>Apr</option>
        <option value="05" <?php if($this->getMonth() == "05") echo 'selected="selected"'; ?>>May</option>
        <option value="06" <?php if($this->getMonth() == "06") echo 'selected="selected"'; ?>>June</option>
        <option value="07" <?php if($this->getMonth() == "07") echo 'selected="selected"'; ?>>July</option>
        <option value="08" <?php if($this->getMonth() == "08") echo 'selected="selected"'; ?>>Aug</option>
        <option value="09" <?php if($this->getMonth() == "09") echo 'selected="selected"'; ?>>Sep</option>
        <option value="10" <?php if($this->getMonth() == "10") echo 'selected="selected"'; ?>>Oct</option>
        <option value="11" <?php if($this->getMonth() == "11") echo 'selected="selected"'; ?>>Nov</option>
        <option value="12" <?php if($this->getMonth() == "12") echo 'selected="selected"'; ?>>Dec</option>
    </select>


    <select id="year" name="year">
    <?php $cutoff = 1910;
          $now = date('Y');
        for($y=$now; $y>=$cutoff; $cutoff++) { ?>
        <option value="<?php echo $cutoff; ?>" <?php if($this->getYear() == $cutoff) echo 'selected="selected"'; ?>><?php echo $cutoff ?></option>
    <?php } ?>
    </select>


<?php
    // $this->setDateInput('d',
    //     '<div class="dob-day">
    //          <input type="text" id="' . $this->getFieldId('day') . '" name="' . $this->getFieldName('day') . '" value="' . $this->getDay() . '" title="' . $this->__('Day') . '" class="t1 validate-custom" ' . $this->getFieldParams() . ' />
    //          <label for="' . $this->getFieldId('day') . '">' . $this->__('DD') . '</label>
    //      </div>'
    // );

    // $this->setDateInput('m',
    //     '<div class="dob-month">
    //          <input type="text" id="' . $this->getFieldId('month') . '" name="' . $this->getFieldName('month') . '" value="' . $this->getMonth()  . '" title="' . $this->__('Month')  . '" class="t1 validate-custom" ' . $this->getFieldParams()  . ' />
    //          <label for="' . $this->getFieldId('month') . '">' . $this->__('MM')  . '</label>
    //      </div>'
    // );

    // $this->setDateInput('y',
    //     '<div class="dob-year">
    //          <input type="text" id="' . $this->getFieldId('year') . '" name="' . $this->getFieldName('year') . '" value="' . $this->getYear()  . '" title="' . $this->__('Year')  . '" class="t1 validate-custom" ' . $this->getFieldParams()  . ' />
    //          <label for="' . $this->getFieldId('year') . '">' . $this->__('YYYY')  . '</label>
    //      </div>'
    // );

    // echo $this->getSortedDateInputs() 
?>
    <div class="dob-full" style="display:none;">
        <input type="hidden" id="<?php echo $this->getFieldId('dob')?>" name="<?php echo $this->getFieldName('dob')?>" />
    </div>

    <div class="validation-advice" style="display:none;"></div>
</div>
<script type="text/javascript">
//<![CDATA[
    var customer_dob = new Varien.DOB('.customer-dob', <?php echo $this->isRequired() ? 'true' : 'false' ?>, '<?php echo $this->getDateFormat() ?>');
//]]>
</script>
