<label for="<?php echo $this->getFieldId('gender')?>"<?php if ($this->isRequired()) echo ' class="required"' ?>>
	<?php echo $this->__('Gender') ?>
</label>
<?php if ($this->isRequired()) echo '<sup>*</sup>' ?>
<div class="data_area">
	<?php $value = $this->getGender();?>
    <!--<select id="<?php echo $this->getFieldId('gender')?>" name="<?php echo $this->getFieldName('gender')?>" title="<?php echo $this->__('Gender') ?>"<?php if ($this->isRequired()):?> class="validate-select"<?php endif; ?> <?php echo $this->getFieldParams() ?>>
        <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute('gender')->getSource()->getAllOptions();?>
        <?php $value = $this->getGender();?>
        <?php foreach ($options as $option):?>
            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $value) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
        <?php endforeach;?>
    </select>-->

    <div style="float:left; margin-right:10px;"><input type="radio" style="float:left; margin-top:8px;" id="<?php echo $this->getFieldName('gender')?>_male" name="<?php echo $this->getFieldName('gender')?>" value="123" <?php if($value == '123') echo 'checked="checked"' ?>><label style="width:35px;" for="<?php echo $this->getFieldName('gender')?>_male">Male</label></div>
    <div style="float:left;"><input type="radio" style="float:left; margin-top:8px;" id="<?php echo $this->getFieldName('gender')?>_female" name="<?php echo $this->getFieldName('gender')?>" value="124" <?php if($value == '124') echo 'checked="checked"' ?>><label style="width:50px;" for="<?php echo $this->getFieldName('gender')?>_female">Female</label></div>


</div>
