<?php $images = $this->getImages();
	$counter = 1;
?>
<div class="instagram-title"><span>#LC on instagram</span></div>
	<div class="instagram-thumb">
	<div class="insta-images">
		<?php foreach($images as $image):
			if($counter == 100){
				echo '</ul><ul class="insta-images">';
			}
			$counter++;
		?>
			<div>
				<a href="<?php echo $image['a_link'] ?>" target="_blank">
				<img src="<?php echo $image['image'];?>" title="LC" alt="LC"/>
			</a>
			</div>
		<?php endforeach;?>
	</div>
</div>

 <script type="text/javascript">
    jQuery(document).ready(function($){
      $('.insta-images').slick({
		  slidesToShow: 7,
		  slidesToScroll: 1,
		  autoplay: true,
		  autoplaySpeed: 2000,
		  responsive: [
		  	{
		      breakpoint: 1151,
		      settings: {
		        slidesToShow: 6,
		        slidesToScroll: 1,
		        infinite: true,
		        dots: true
		      }
		    },
		    {
		      breakpoint: 1025,
		      settings: {
		        slidesToShow: 6,
		        slidesToScroll: 1,
		        infinite: true,
		        dots: true
		      }
		    },
		    {
		      breakpoint: 921,
		      settings: {
		        slidesToShow: 5,
		        slidesToScroll: 1
		      }
		    },
		    {
		      breakpoint: 821,
		      settings: {
		        slidesToShow: 4,
		        slidesToScroll: 1
		      }
		    },
		    {
		      breakpoint: 737,
		      settings: {
		        slidesToShow: 4,
		        slidesToScroll: 1
		      }
		    },
		    {
		      breakpoint: 621,
		      settings: {
		        slidesToShow: 3,
		        slidesToScroll: 1
		      }
		    },
		    {
		      breakpoint: 534,
		      settings: {
		        slidesToShow: 2,
		        slidesToScroll: 1
		      }
		    }
		    // You can unslick at a given breakpoint now by adding:
		    // settings: "unslick"
		    // instead of a settings object
		  ]
		});
    });
</script>