<?php
    $flag = Mage::getStoreConfig('instagram_section/instagram_group/instagram_flag');
    $isSecure = Mage::app()->getStore()->isCurrentlySecure();
    if($isSecure)
        $url = $this->getUrl('instagram/index/getinstatags', array('_secure'=>true));
    else
        $url = $this->getUrl('instagram/index/getinstatags', array('_secure'=>false));
?>
<?php if($flag == 1): ?>
    <div class="instagram-container">&nbsp;</div>

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $.ajax({
                type:'POST',
                url:"<?php echo $url;?>",
                data: { _f : 'lc'} ,
                dataType: 'json',
                beforeSend:function(){
                    // jQuery(".loading").show();
                },
                success:function(response){
                    if (response != '') {
                        $('.instagram-container').html(response);
                    }
                }
            });
        });
    </script>
<?php endif;?>

