<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   design_default
 * @package    Mage_SecureEbs
 * @copyright  Copyright (c) 2008 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php 
 $curryear = date('Y');
?>
<script type="text/javascript">
Validation.creditCartTypes.JCB = [new RegExp('^(35[0-9]{14}|(2131|1800)[0-9]{11})$'), new RegExp('^([0-9]{3})?$'), true];
Validation.creditCartTypes.DICL = [new RegExp('(^(30)[0-5]\d{11}$)|(^(36)\d{12}$)|(^(38[0-8])\d{11}$)'), new RegExp('^([0-9]{3})?$'), false];
Validation.creditCartTypes.ENR = [new RegExp('(^(2014)|^(2149))\d{11}$'), new RegExp('^([0-9]{3})?$'), false];
</script>
<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">
       <!--  <li  id="only_pay_images">
         <label class="card-type-head2">Choose card type:  <span class="">*</span> </label>
            <div class="input-box">
                <input type="radio" class="cctype_radio" id="payment_cc2" name="payment[cc_type]" value="VISA">
                <label for = "payment_cc2"  class="visa_image cc_logo_visa"></label>
                <input type="radio" class="cctype_radio" id="payment_cc_next2" name="payment[cc_type]" value="MAST">
                <label for="payment_cc_next2"  class="visa_image_next cc_logo_visa"></label> 
            </div>

            <li> -->


           <!-- <li>
            <div class="input-box">
                <select name="payment[cc_type]" class="required-entry">
                <option value="">Choose card type</option>
                <option value="MAST">MasterCard</option>
                <option value="VISA">Visa Card</option>
                <option value="SMAE">SBI Maestro</option>
                <option value="MAES">Other Maestro</option>
                <option value="CITD">CITI Debit Cards</option>
                </select>
            </div>
        </li> -->
        <li>
            <div class="input-box">
                <label for="<?php echo $_code ?>_cc_owner"><?php echo $this->__('Name on Card') ?> <span class="required">*</span></label><br/>
                <input type="text" title="<?php echo $this->__('Name on Card') ?>" class="input-text required-entry validate-alpha-space checkout_card_name" id="<?php echo $_code ?>_cc_owner" name="payment[cc_owner]" value="<?php echo $this->htmlEscape($this->getInfoData('cc_owner')) ?>"/>
            </div>
        </li>
        <li>
            <div class="input-box">
                <label for="<?php echo $_code ?>_cc_number"><?php echo $this->__('Card Number') ?> <span class="required">*</span></label><br/>
                <input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number_enc]" title="<?php echo $this->__('Credit Card Number') ?>" class="detectCard  numericfield checkout_card_number input-text validate-cc-number required-entry checkout_card_num maximum-length-16" value="" maxlength="16" />
            </div>
        </li>
       <li class="flleft expirydate">
            <div class="input-box">
                <label for="<?php echo $_code ?>_expiration"><?php echo $this->__('Expiration Date') ?> <span class="required">*</span></label><br />
                <div class="m-fix">
                    <select name="payment[cc_exp_month]" id="<?php echo $_code ?>_expiration" class="required-entry">
                    <option value="">Month</option>
                    <option value="01">Jan</option>
                    <option value="02">Feb</option>
                    <option value="03">Mar</option>
                    <option value="04">Apr</option>
                    <option value="05">May</option>
                    <option value="06">Jun</option>
                    <option value="07">Jul</option>
                    <option value="08">Aug</option>
                    <option value="09">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                    </select>
                </div>
                <div class="y-fix" style="padding-left:5px;">
                    <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
                    <select name="payment[cc_exp_year]" id="<?php echo $_code ?>_expiration_yr" class="required-entry">
                        <option value="">Year</option>
                        <?php for($i = $curryear; $i <= ($curryear + 50);$i++){
                            echo '<option value="' . $i . '">' . $i . '</option>';
                        }?>
                    </select>
                </div>
            </div>
        </li>
        <li class="flleft">
            <div class="input-box">
                <label for="<?php echo $_code ?>_cc_cid"><?php echo $this->__('cvv') ?> <span class="required">*</span></label><br />
                <div class="v-fix">
                    <input type="password" title="<?php echo $this->__('cvv') ?>" class="numericfieldCvv checkout_card_cvv cvv3 input-text required-entry validate-number validate-cc-cvn ccinput" id="<?php echo $_code ?>_cc_cid" name="payment[cc_last4]" value="" maxlength="4" placeholder="cvv" />
                    <div class="cvvimg"></div>
                </div>
            </div>
        </li>
        <li>
         <div class="buttons-set" id="review-buttons-container">
            <button type="submit" title="<?php echo $this->__('Place Order Now') ?>" class="checkout_success_button button btn-checkout happy_button" onclick="checkout.save(); return false;"><?php echo $this->__('Place Order') ?></button>
           <span class="checkout_success_loader" style="display:none;float:right;">
                <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Submitting order information...') ?>" title="<?php echo $this->__('Submitting order information...') ?>" class="v-middle" /> <?php echo $this->__('Submitting order information...') ?>
            </span>
        </div>

    </li>
    </ul>
</fieldset>

