<li class="mini-cart <?php if(!Mage::helper('wishlist')->isAllow()):?>first<?php endif; ?> last">
    <?php
        $store = Mage::app()->getStore();
        $code  = $store->getCode();
        $display_subtotal_price = Mage::getStoreConfig("tax/cart_display/subtotal", $code);
    ?>
    <?php $_cartQty = $this->getSummaryCount(); ?>
    <?php $_items = $this->getRecentItems() ?>
    <?php
        $_subtotal_exc_tax = 0;
        $_subtotal_inc_tax = 0;
    ?>
    <?php foreach($_items as $_item): ?>
    <?php

        if ($display_subtotal_price==1 || $display_subtotal_price==3){
            if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount())
                $_subtotal_exc_tax+=($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition())*$_item->getQty();
            else
                $_subtotal_exc_tax+=($_item->getCalculationPrice())*$_item->getQty();
        }
        if ($display_subtotal_price==2 || $display_subtotal_price==3){
            $_incl = $this->helper('checkout')->getPriceInclTax($_item);
            if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount())
                $_subtotal_inc_tax += ($_incl+$_item->getWeeeTaxAppliedAmount())*$_item->getQty();
            else
                $_subtotal_inc_tax += ($_incl-$_item->getWeeeTaxDisposition())*$_item->getQty();
        }
    ?>
    <?php endforeach; ?>
    <?php if ($display_subtotal_price==1 || $display_subtotal_price==3): ?>
        <?php $_subtotal = Mage::app()->getStore()->formatPrice($_subtotal_exc_tax);?>
    <?php elseif ($display_subtotal_price==2): ?>
        <?php $_subtotal = Mage::app()->getStore()->formatPrice($_subtotal_inc_tax);?>
    <?php endif; ?>
    <?php if ($_cartQty > 0): ?>
        <?php $_myCart = $this->__('My Bag: %s item(s)', $_cartQty) ?>
    <?php else: ?>
        <?php $_myCart = $this->__('My Bag: 0 item(s)') ?>
    <?php endif ?>
    <a href="javascript:void(0)" class="mybag-link"><?php echo $_myCart ?></a>
        <div id="topCartContent" class="block-content">
            <div class="inner-wrapper"><?php /*extra div to smooth slideUp and slideDown*/ ?>
                <?php $_items = $this->getRecentItems() ?>
                <?php if(count($_items)): ?>
                    <p class="block-subtitle">
                        <?php echo $this->__('Recently added item(s)') ?>
                    </p>
                    <ol id="mini-cart" class="mini-products-list">
                        <?php foreach($_items as $_item): ?>
                            <?php echo $this->getItemHtml($_item) ?>
                        <?php endforeach; ?>
                    </ol>
                    <script type="text/javascript">decorateList('mini-cart', 'none-recursive')</script>
                    <div class="totals col-xs-7">
                        <span class="label"><?php echo $this->__('Total')?>: </span>
                        <span class="price-total"><?php echo $_subtotal ?></span>
                    </div>
                    <div class="actions col-xs-5">
                        <button class="button" type="button" onclick="setLocation('<?php echo $this->getUrl('checkout/cart'); ?>')"><span><span><?php echo $this->__('Cart') ?></span></span></button>
                <?php if($_cartQty && $this->isPossibleOnepageCheckout()): ?>
                        <button class="button" type="button" onclick="setLocation('<?php echo $this->getCheckoutUrl() ?>')"><span><span><?php echo $this->__('Checkout') ?></span></span></button>
                <?php endif ?>
                    </div>
                <?php else: ?>
                    <p class="block-subtitle">
                            <?php echo $this->__('Recently added item(s)') ?>
                    </p>
                    <p class="cart-empty">
                        <?php echo $this->__('You have no items in your shopping cart.') ?>
                    </p>
                <?php endif ?>
            </div>
        </div>
</li>