<?php 
$reviewCollection = $this->getCollection();
/*foreach ($reviewCollection as $reviewColl) {
  echo '<pre>';
  print_r($wishlistColl->getData());
}*/
$customer = $this->getCurrentCustomer();
if(empty($reviewCollection) || empty($customer)){
?>
<p> User's Profile is not public </p>
<?php }else{?>


<?php $url = Mage::getBaseUrl() . "review/customer/";
Mage::app()->getFrontController()->getResponse()->setRedirect($url);
?>
 <?php }?>