<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=308076219342831&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<?php

$wishlistcollection = $this->getCollection();
$customer = $this->getCurrentCustomer();
if(empty($wishlistcollection) || empty($customer)){
?>
<p> User's wishlist is not public</p>
<?php }else{?>
<?php $profileid = $customer->getResource()->getAttribute('profile_id')->getFrontend()->getValue($customer);?>
<div class="fk-wishl-hdr line">
    <div class="size1of2">
        <h1 class="wishlist_customer">
           <?=$customer->getFirstname().' '.$customer->getLastname()?>'s Wishlist                                            
            <span id="wl-itm-cnt" class="itm-cnt">(<?=count($wishlistcollection);?> Item)</span>
        </h1>
        <div class="share_wishlist">
          <div class="share_item_div">Share this wishlist with friends</div>
           <div class="shr-but">
            <div class="fb_like_share_button">
              <div class="fb-like" data-href="<?php echo $this->getUrl('wishlistnew/index/index').'p/'.$profileid;?>" data-width="100px" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
              </div>
            </div>
            </div>
        </div>    
    </div>
    <div class="wishlist-item" >
    	<div class="list-unit">
          <?php $i = 1; ?> 
          <?php foreach ($wishlistcollection as $wishlist) {
    				$_product    = Mage::getModel('catalog/product')->load($wishlist->getProductId());
            $product_url = $_product->getProductUrl();
    			?>	
		    <div class="product-row <?php if($i == '1'){echo 'wishlist_first';}?>">
          <div class="product-image-wrapper">
            <div class="wishlist_product_image">
                <a href="<?php echo $product_url;?>" class="product-image-link ">
                    <img src="<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->resize(100, 100); ?>" alt="<?php echo $_product->getName();?>" />
                </a>  
            </div>
          </div>
          <div class="wishlist_product_name">
            <div class="product-title-wrapper">
                <a href="<?php echo $product_url;?>" class="product-title"><?php echo $_product->getName();?></a>
                <div class="wishlist_shortdesc"><?php echo $_product->getShortDescription();?></div>
            </div>
          </div>
            <div class="product-price-wrapper">
              <div class="product-price">
                     <?php echo 'RS' . $_product->getPrice();?>
              </div>                    	
						  <div class="wishlist_product_status">    
            		<?php $stock = $_product->getStockItem();
								  if ($stock->getIsInStock()) {
                ?>
								  <span>In Stock.</span>
  							<?php
  								} else { 
                ?>
								  <span>Out Of Stock.</span>
                <?php	}
                ?>
              </div>
          	</div>
              <div class="add-to-cart">
                <a href="<?php echo $product_url;?>">View Details</a>
              </div>
            
        </div>
           	<?php 
            $i++;
           }?>
      </div>
    </div>
</div>
 <?php }?>

 