<?php
    $_helper = Mage::helper('wishlist');
?>
<li class="mini-wishlist first">
    <a href="javascript:void(0)" class="wishlist-link" title="<?php echo $this->__('Wishlist'); ?>"><?php echo $this->__('My Wishlist (%d)', $_helper->getItemCount()); ?></a>
        <div id="topWishlistContent" class="block-content">
            <div class="inner-wrapper"><?php /*extra div to smooth slideUp and slideDown*/ ?>
                <?php if ($this->hasWishlistItems()): ?>
                    <p class="block-subtitle">
                        <?php echo $this->__('Recently added item(s)') ?>
                    </p>
                    <ol id="mini-wishlist" class="mini-products-list">
                        <?php foreach($this->getWishlistItems() as $_item): ?>
                            <?php $product = $_item->getProduct(); ?>
                            <li class="item">
                                <a href="<?php echo $this->getProductUrl($_item) ?>" title="<?php echo $this->escapeHtml($product->getName()) ?>" class="product-image"><img src="<?php if(Mage::getStoreConfig("vigoshop_settings/category/aspect_ratio",$code)):?><?php echo $this->helper('catalog/image')->init($product, 'small_image')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(80);?><?php else: ?><?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(80,80*Mage::getStoreConfig("vigoshop_settings/category/ratio_height",$code)/Mage::getStoreConfig("vigoshop_settings/category/ratio_width",$code)); ?><?php endif; ?>" alt="<?php echo $this->escapeHtml($product->getName()) ?>" /></a>
                                <div class="product-details">
                                    <p class="product-name">
                                        <a href="<?php echo $this->getProductUrl($_item) ?>">
                                            <?php echo $this->htmlEscape($_item->getProductName()) ?>
                                        </a>
                                    </p>
                                    <p class="qty-price">
                                        <?php echo $this->getPriceHtml($product); ?>
                                    </p>
                                    <a href="<?php echo $_helper->getRemoveUrl($_item) ?>" title="<?php echo $this->__('Remove This Item') ?>" onclick="return confirm('<?php echo $this->__('Are you sure you would like to remove this item from the wishlist?') ?>');" class="btn-remove btn-remove2 top-btn-remove">
                                        <?php echo $this->__('Remove This Item') ?>
                                    </a>
                                </div>
                                <div class="clearer"></div>
                            </li>
                        <?php endforeach; ?>
                    </ol>
                    <script type="text/javascript">decorateList('mini-wishlist', 'none-recursive')</script>
                <?php else: ?>
                    <p class="block-subtitle">
                            <?php echo $this->__('Recently added item(s)') ?>
                    </p>
                    <p class="cart-empty">
                        <?php echo $this->__('You have no items in your wishlist.') ?>
                    </p>
                <?php endif; ?>
            </div>
        </div>
</li>