<div class="content-header">
	<table cellspacing="0">
		<tbody><tr>
			<td style="width:50%;">
				<h3 class="icon-head head-sales-order">Product Purchase</h3>
			</td>
			<td class="form-buttons"></td>
		</tr>
	</tbody>
</table>
</div>
<div class="box-left">
	<div class="entry-edit" >
		<div class="entry-edit-head">
			<h4 class="icon-head head-account" ><?php echo $this->__('Import Purchase csv'); ?></h4>
		</div>        
		<fieldset>
			<div class="entry-edit" style="margin: 22px 0px 0px 10px;">
				<form method="POST" enctype="multipart/form-data" action="<?php echo $this->getUrl('purchase/adminhtml_purchasebackend/storecsv') ?>">
					<input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
					<table cellspacing="0" class="form-list">
						<tr>
							<th width="200" align="center">
								<?php echo $this->__('Purchase Product File Upload'); ?>
							</th>
							<th>
								<input type="file" name="purchase_csv" id="purchase_csv">
							</th>
						</tr>
						<tr>      
							<td colspan="2">
								<br/><br/>
							</td>
						</tr>
						<tr>
							<th width="200" align="center"></th>
							<td colspan="2">
								<button  title="Submit Comment" type="button" class="scalable save" onclick="this.form.submit()">
									<span>Upload Product Sheet</span>
								</button>        
							</td>
						</tr>
					</table>
				</form>

			</div>

		</fieldset>

	</div>
</div>