<div class="content-header">
	<table cellspacing="0">
		<tbody><tr>
			<td style="width:50%;">
				<h3 class="icon-head head-sales-order">Report Section</h3>
			</td>
			<td class="form-buttons"></td>
		</tr>
	</tbody>
</table>
</div>
<div class="box-left">
	<div class="entry-edit" >
		<div class="entry-edit-head">
			<h4 class="icon-head head-account" ><?php echo $this->__('Reports'); ?></h4>
		</div>        
		<fieldset>
			<div class="entry-edit" style="margin: 22px 0px 0px 10px;">
				<form method="POST" name="report_form" id="report_form"  enctype="multipart/form-data" action="<?php echo $this->getUrl('purchase/adminhtml_report/process') ?>">
					<input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
					<table cellspacing="0" class="form-list">
						<tbody>
							<tr>
							<td class="label"><label for="report_type">Report Type</label></td>
							<td class="value">
								<select id="report_type" name="report_type" title="Report Type" class=" select">
									<option value="gp_report">GP Report</option>
									<option value="purchase_sales_report">Purchase Sales Report</option>
								</select>            
							</td>
						</tr>
						<tr>
							<td class="label"><label for="report_from">From <span class="required">*</span></label></td>
							<td class="value">
								<input type="text" class"required-entry" name="report_from" id="report_from" value="" />
     
							</td>
						</tr>
						<tr>
							<td class="label"><label for="report_to">To <span class="required">*</span></label></td>
							<td class="value">
								<input type="text" class"required-entry" name="report_to" id="report_to" value="" />   
							</td>
						</tr>
						<tr>      
							<td colspan="2">
							<script type="text/javascript">// <![CDATA[
							Calendar.setup({
								inputField : 'report_from',
								ifFormat : '%m/%e/%y',
								button : 'report_from_trig',
								align : 'Bl',
								singleClick : true
							});

							Calendar.setup({
								inputField : 'report_to',
								ifFormat : '%m/%e/%y',
								button : 'report_to_trig',
								align : 'Bl',
								singleClick : true
							});
							// ]]>

							jQuery(document).ready(function($){
								$('#report_form_btn').click(function(){
									if($('#report_from').val()=='' || $('#report_to').val() == ''){
										alert('Please select dates to generate report');
										return false;
									}
									jQuery('#report_form').submit();
									// onclick="this.form.submit()"
								});
							});
							</script>
							
							<br/>
							<br/>
							</td>
						</tr>
						<tr>
							<th width="200" align="center"></th>
							<td colspan="2">
								<button  title="Export Report" type="submit" id="report_form_btn" class="scalable save">
									<span>Export Report</span>
								</button>        
							</td>
						</tr>
						</tbody>
						
					</table>
				</form>

			</div>

		</fieldset>

	</div>
</div>