<script type="text/javascript">
	var websiteBaseUrl = "<?php echo Mage::getBaseUrl();?>";
	$j = jQuery.noConflict();
	var persona_builder_buttons = {
		clear_chain: {
			_class: 'btn leftAlign',
			_text: 'Start Again',
			onClick: function() {
				$j('#canvas').html('');
				$j('#mobile_sidebar').html('');
				$j('.charm-sel').html('0');
				$j('#chainTotal').html('0');
				if($j('.chain_info .action').is(':checked')) {
					$j('#chainTotal').html($j('.chain_info .item_price').val());
				}
				edited();
				$j('#profile_submit').attr('disabled','disabled');
			}
		}
	};
</script>
<script type="text/javascript">

	$j(function(){
		$j(".jqzoom").jqzoom({
			position:'right',
			zoomWidth: 380,
			zoomHeight: 280,
			title:false,
			yOffset: -20,
			xOffset: 0});
	});

</script>

<div id="wrapper">
<!-- 	<div class="add_to_cart_message">
		<ul class="messages messages-custom" id="styler_message_list"></ul>
		<ul id="result-error" class="" style="display:none;"></ul>
	</div> -->
	<script type="text/javascript">
		var defaultCurrencyChar = 'Rs.';
	</script>

	<h1 class="stylerTitle">CHOOSE YOUR ACCESSORY, THEN DRAG AND DROP YOUR CHARMS!</h1>

	<div id="personaStyler">
		<div id="stylerCanvas">
			<div class="headerInfo">
				<div class="total"><span>Total: <b><span class="price">Rs.0</span></b></span>
				</div>
				<input id="show_selected_to_cart" type="button" value="Add to Cart" class="btnAdd" />
				<!-- <input id="add_selected_to_cart" type="button" value="Add to Cart" class="btnAdd" /> -->
			</div>
			<div id="builderCanvas">
				<div id="indicator"></div>
				<div id="canvas">
				</div>
			</div>
			
		</div>
		<div id="mobile_sidebar"></div>
		<div id="stylerOptions">

			<div class="mainStylerContent">
				<ul id="stylerTabMenu">
					<li class="icon tabMenu browse">
						<span>Filter</span>
					</li><li class="icon tabMenu itemList">
					<span>Item List</span>
				</li><li class="icon clear" title="Clear chain">
				<button id="clear_chain"><span>Clear</span></button>
			</li><li class="icon help">
			<button id="show-build-overlay"><span>Help</span></button>
		</li><li class="icon expandCollapse">
	</li>
</ul>

<div class="tabContent browse">
	<div class="tabHeader">
		<form id="filterForm">
			<span class="title">
				<h1><span class="icon"></span>Filter by</h1>
				<span class="actionItems">
					<input type="button" id="" class="btn cancel" value="" title="Cancel" />
				</span>
			</span>
			
			<?php
			$attribute = Mage::getModel('eav/config')->getAttribute( Mage_Catalog_Model_Product::ENTITY ,'product_type');
			$options = $attribute->getSource()->getAllOptions();


	        foreach($options as $option):
	          if(!empty($option['label'])):
	          	$stylerOptions[$option['value']] = Mage::helper('styler/data')->getProductTheme($option['value']);
	          	$stylerOptions1[$option['value']] = Mage::helper('styler/data')->getProductFinish($option['value']);
	          	$stylerOptions2[$option['value']] = Mage::helper('styler/data')->getProductColors($option['value']);
	          endif;
	        endforeach;
	        $stylerOptions = json_encode($stylerOptions);
	        $stylerOptions1 = json_encode($stylerOptions1);
	        $stylerOptions2 = json_encode($stylerOptions2);
	        $stylerOptions3 = json_encode($stylerOptions3);
			?>

			<script type="text/javascript">
				var type_by_browse_by = <?php echo $stylerOptions; ?>;
				var type_by_theme = <?php echo $stylerOptions1;?>;
				var type_by_color = <?php echo $stylerOptions2;?>;
				// var type_by_theme = "<?php echo json_encode($stylerOptions);?>";
			</script>

			<select class="itemFilter topCatSelect" id="filterBrowse" name="filter[browse_by]">
				<?php foreach($options as $option): ?>
					<?php if(!empty($option['label'])): ?>
						<option label="<?php echo $option['label'] ?>" value="<?php echo $option['value'] ?>">
							<?php echo $option['label'] ?>
						</option>
					<?php endif;?>
				<?php endforeach;?>
			</select>

			<div class="productFilter">
				<div id="categoryFilter" class="filter">
					<div class="field">
						<label class="removeFilter" style="display: none;">Remove Filter x</label>
						<?php
						$theme_attr = Mage::getModel('eav/config')->getAttribute( Mage_Catalog_Model_Product::ENTITY ,'product_theme');
						$theme_options = $theme_attr->getSource()->getAllOptions();
						?>
						<select class="itemFilter" name="filter[type]" id="filterType">
							<option value="">Theme</option>
							<?php foreach($theme_options as $theme_option): ?>
								<?php if(!empty($theme_option['label'])): ?>
									<option label="<?php echo $theme_option['label'] ?>" value="<?php echo $theme_option['value'] ?>">
										<?php echo $theme_option['label'] ?>
									</option>
								<?php endif;?>
							<?php endforeach;?>
						</select>
					</div>
					<div class="field">
						<label class="removeFilter" style="display: none;">Remove Filter x</label>
						<?php
						$finish_attr = Mage::getModel('eav/config')->getAttribute( Mage_Catalog_Model_Product::ENTITY ,'product_finish');
						$finish_options = $finish_attr->getSource()->getAllOptions();
						?>
						<select class="itemFilter" name="filter[finish]" id="filterFinish">
							<option value="">Finish</option>
							<?php foreach($finish_options as $finish_option): ?>
								<?php if(!empty($finish_option['label'])): ?>
									<option label="<?php echo $finish_option['label'] ?>" value="<?php echo $finish_option['value'] ?>">
										<?php echo $finish_option['label'] ?>
									</option>
								<?php endif;?>
							<?php endforeach;?>
						</select>
					</div>
					<div class="field">
						<label class="removeFilter" style="display: none;">Remove Filter x</label>
						<?php
						$colour_attr = Mage::getModel('eav/config')->getAttribute( Mage_Catalog_Model_Product::ENTITY ,'color');
						$colour_options = $colour_attr->getSource()->getAllOptions();
						?>
						<select class="itemFilter" name="filter[colour]" id="filterColor">
							<option value="">Colors</option>
							<?php foreach($colour_options as $colour_option): ?>
								<?php if(!empty($colour_option['label'])): ?>
									<option label="<?php echo $colour_option['label'] ?>" value="<?php echo $colour_option['value'] ?>">
										<?php echo $colour_option['label'] ?>
									</option>
								<?php endif;?>
							<?php endforeach;?>
						</select>
					</div>
					<div class="field">
						<label class="removeFilter" style="display: none;">Remove Filter x</label>
						<select class="itemFilter" name="filter[price]" id="filterPrice">
							<option value="">Prices</option>
							<option label="Low to High" value="asc">Low to High</option>
							<option label="High to Low" value="desc">High to Low</option>
							<!-- <option label="Up to Rs.500" value="0-500">Up to Rs.500</option> -->
							<!-- <option label="Rs.500 - Rs.1000" value="501-1000">Rs.501 - Rs.1000</option> -->
							<!-- <option label="Rs.1001 - Rs.5000" value="1001-5000">Rs.1001 - Rs.5000</option> -->
							<!-- <option label="Rs.5001 and above" value="5001-">Rs.5001 and above</option> -->

						</select>
					</div>
				</div>
				<div id="searchFilter" class="filter" style="display:none">
					<input type="text" class="itemFilter" name="filter[search]" id="filterSearch" value="" placeholder="Enter your search term here" />
				</div>
				<div class="field btnContent">
					<input type="button" value="filter" class="btnAction" id="filterItems" />
				</div>
			</div>
		</form>
	</div>
	<div id="itemBrowseContainer" class="scrollingContent expandCollapseContent">
		<div class="item" id="sampleBrowseItem">
			<img class="charmImg" src="#" alt="" />
			<div class="itemBasicInfo">
				<span class="styleName"></span>
				<span class="styleNumberLabel">STYLE # </span>
				<span class="styleNumber"></span>
				<span class="price"></span>
				<span class="icon info">
					<a href="#"></a>
				</span>
				<br />
				<input type="button" class="add_item btnAction" value="CHOOSE THIS"/>
			</div>
			<ul class="toolMenu">
				<li class="price"></li>
				<li class="icon info">
					<a href="#"></a>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>
<div class="tabContent itemList">
	<div class="tabHeader">
		<span class="title">
			<h1><span class="icon"></span>Item List</h1><span class="actionItems">
			<input type="button" id="" class="btn cancel" value="" title="Close" />
		</span>
	</span>
</div>
<div class="scrollingContent expandCollapseContent" id="itemListContainer">
	<div class="flexibleTableRow itemListItem" id="sampleListItem">
		<div class="cell itemDetails">
			<div class="cell prodImg">
				<img class="charmImg" src="#" alt="" />
				<span><b>QTY:</b> <span class="quantity"></span></span>
			</div>
			<div class="cell prodDesc">
				<span class="itemName styleName"></span><br />
				<span class="itemStyle"><b>Style #</b> <span class="styleNumber"></span></span><br />
				<span class="price"></span>
				<input type="text" class="qty" value="1"/>
				<input type="hidden" class="system_id" value=""/>
				<!-- <input type="button" class="add_item_to_cart btnAction" value="Add to Cart"/> -->
			</div>
		</div>
	</div>
</div>
<div class="mobileFullScreen"></div>
</div>
</div>
</div>
<div class="popupflexibleTableRow popupitemListItem" id="popupItemList">
	<div class="cell itemDetails">
		<div class="cell prodImg">
			<img class="charmImg" src="#" alt="" style="width:60px,height:60px"/>
		</div>
		<div class="cell prodDesc">
			<span class="itemName styleName"></span>
			
			<span class="itemStyle"><span class="styleNumber"></span></span>
			<input type="hidden" name="product[]" class="productId" value="">
			<div class="qty_wrap">
				<span class="qtylabel"></span>
				<input type="hidden" name="qty[]" class="productQty" value="">
			</div>
			<div class="itemSizes"></div>
			<div class="priceSection">
				<div class="price"></div>
			</div>
		</div>
	</div>
</div>
<div id="styler_product_list" class="" style="">
	<!-- Modal content -->
	<div class="modal-content content_wrap">
		<span class="close">X</span>
		
		<form name="styler_products" class="styler_products" id="styler_products"  action="" method="post">
			<div class="pre_header">
				<h2><?php echo $this->__('Your Cart');?></h2>
			</div>
			<div class="add_to_cart_message ">
				<ul class="messages messages-custom" id="styler_message_list" style="display:none;"></ul>
				<ul id="result-error" class="" style="display:none;"></ul>
			</div>
		<div id="data_styler">

		</div>
		<div class="act_wrap">
			<button type="submit" id="add_to_cart_styler" class="button">Add to Cart</button>
			<button type="button" id="move_to_checkout_styler" class="button">Move to Checkout</button>
			<!-- <input type="submit" id="add_to_cart_styler" value="Checkout"> -->
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">
    //< ![CDATA[
        var stylerProducts = new VarienForm('styler_products');

    //]]>
</script>
<script type="text/javascript">
	var retailer = {
		"retailer_id": "1",
		"retailer": baseurl,
		"folder_name": "magento",
		"currency": "INR"
	}
	var cartUrl = "<?php echo Mage::helper('checkout/cart')->getCartUrl();?>"; 
	var prepareStylerPop = function(items){
		// console.log(items);
		$j('#move_to_checkout_styler').hide();
		$j('#add_to_cart_styler').show();
		if ($j.fancybox.hasOwnProperty("showActivity")) {
			$j.fancybox.showActivity(); // v1
		} else {
			$j.fancybox.showLoading(); // v2
		}
		var itemclone = '';
		var productCounter = 0;
		jQuery('#data_styler').html('');
		var chainClassName = "styler_chain_"+items.chain.product_id;
		itemclone = jQuery('#popupItemList').clone().addClass(chainClassName);
		itemclone.find(".styleName").text(items.chain.style);
		itemclone.find('img').attr('src',items.chain.filename);
		itemclone.find(".styleNumber").text(items.chain.sku);
		itemclone.find('.price').text(defaultCurrencyChar + parseFloat(items.chain.price).toFixed(2));
		itemclone.find('.qtylabel').text('Qty: ');
		itemclone.find(".productId").attr('name', 'product['+productCounter+'][product_id]').val(items.chain.product_id);
		itemclone.find(".productQty").attr('name', 'product['+productCounter+'][qty]').prop('type','text').val(1);

		var sizeHtml = '';
		if(items.chain.sizes){
			jQuery.each(items.chain.sizes, function( index, value ) {
				sizeHtml += '<input type="radio" class="size_product_ids validate-one-required-by-name" name="product['+productCounter+'][size]" value="'+index+'"><span class="itemSize">'+value+'</span>';			
			});
		}	

		itemclone.find('.itemSizes').html(sizeHtml); 
		console.log(itemclone);
		jQuery('#data_styler').append(itemclone); 

		if(items.charms){
			var chainClassName;
			var productQtyValue;
			for (var i = 0; i <items.charms.length; i++) {
				
				charmClassName = '';
				charmClassName = "styler_charm_"+items.charms[i].product_id;
				if(jQuery('.'+charmClassName).length > 0) {				
					productQtyValue = parseInt(jQuery('.'+charmClassName+' .productQty').val())+1;
					itemclone.find(".productQty").attr('name', 'product['+productCounter+'][qty]').prop('type','text').val(productQtyValue);

				}else{
					productCounter++;
					itemclone = jQuery('#popupItemList').clone().addClass(charmClassName);
					itemclone.find(".styleName").text(items.charms[i].style);
					itemclone.find('img').attr('src',items.charms[i].filename);
					itemclone.find(".styleNumber").text(items.charms[i].sku);
					// itemclone.find(".price").text(items.charms[i].price);
					itemclone.find('.qtylabel').text('Qty: ');
					itemclone.find('.price').text(defaultCurrencyChar + parseFloat(items.charms[i].price).toFixed(2));
					itemclone.find(".productId").attr('name', 'product['+productCounter+'][product_id]').val(items.charms[i].product_id);
					itemclone.find(".productQty").attr('name', 'product['+productCounter+'][qty]').prop('type','text').val(1);
				}
				jQuery('#data_styler').append(itemclone); 
			}
		}

		if($j.fancybox.hasOwnProperty("hideActivity")) {
			$j.fancybox.hideActivity(); // v1
		} 
		else 
		{
			$j.fancybox.hideLoading(); // v2
		}
		jQuery('#data_styler').addClass('active');
		jQuery('#styler_product_list').css('display','block');
	}	
	var addToCartStyler = function (items) {

		jQuery('#styler_message_list').css('display','none').html('');
		jQuery('#result-error').css('display','none').html('');

		if (stylerProducts.validator.validate()) {
        	if ($j.fancybox.hasOwnProperty("showActivity")) {
				$j.fancybox.showActivity(); // v1
			} else {
				$j.fancybox.showLoading(); // v2
			}

        	addSingleProductStyler(items);
        	$j('#add_to_cart_data').hide();
        	$j('#move_to_checkout_styler').show();
        	if($j.fancybox.hasOwnProperty("hideActivity")) {
				$j.fancybox.hideActivity(); // v1
			} 
			else{
				$j.fancybox.hideLoading(); // v2
			}        	

			setTimeout(function() { 
				$j("#styler_message_list").fadeOut(); 
				$j("#result-error").fadeOut();
				$j('#styler_product_list #data_styler.active').css('top','95px');
			}, 10000);


			// jQuery('#add_to_cart_styler').attr("disabled", true).attr("readonly", "readonly");

        }else{
        	return false;
        }
		
	}
	var addToCart = function (items) {

		jQuery('#styler_message_list').html('');
		jQuery('#result-error').html('');
		if ($j.fancybox.hasOwnProperty("showActivity")) {
			$j.fancybox.showActivity(); // v1
		} else {
			$j.fancybox.showLoading(); // v2
		}
		var items_to_add = [];
		console.log(items);
		jQuery.each(items, function(main_key, main_value) {
			console.log(main_key);
			if(main_key=='charms' || main_key=='chain')
			{
				if(jQuery.type(main_value)=='object')
				{
					jQuery.each(main_value, function( key, value ) {
						if(jQuery.type(value)=='object'){
							jQuery.each( value, function( key1, value1 ) {
								if(key1=='product_id'){
									items_to_add.push(value1);
								}	
							});
						}else{
							if(key=='product_id'){
								items_to_add.push(value);
							}	
						}         		
					});
				}
				else
				{
					jQuery.each( main_value, function( key, value ) {
						if(jQuery.type(value)=='object'){
							jQuery.each( value, function( key1, value1 ) {
								if(key1=='product_id'){
									items_to_add.push(value1);
								}	
							});
						}else{
							if(key=='product_id'){
								items_to_add.push(value);
							}	
						}         		
					});
				}
			}

			if(main_key=='product_id'){
				for (i = 1; i <= items.quantity; i++) { 
					items_to_add.push(main_value);
				}
			}
         	// return false;

         });

		if(items_to_add.length>0){
			var totalItemCount =  items_to_add.length;
			var add_to_cart_data = [];
			
			jQuery.each(items_to_add, function( index, value ) {

				var ajaxResponse = addSingleProduct(value);
				console.log(ajaxResponse);

				add_to_cart_data.push(ajaxResponse);

				console.log(index+":::"+totalItemCount);
				if(index==(totalItemCount-1)){
					// console.log(add_to_cart_data);

					// setTimeout(function () {		
		 				// window.location.href = "<?php echo Mage::getUrl('checkout/cart')?>";
		 			// }, 1000);
		 		}
		 	});

		 	// $j.fancybox({
		 	// 	'type': 'inline',
		 	// 	'href': '#styler_message_list'
		 	// }).click();

			// if($j.fancybox.hasOwnProperty("hideActivity")) {
			// 	$j.fancybox.hideActivity(); // v1
			// } 
			// else 
			// {
			// 	$j.fancybox.hideLoading(); // v2
			// }	

		}         

		document.getElementById('add_selected_to_cart').value = 'ADDED!';

		setTimeout(function () {
			document.getElementById('add_selected_to_cart').value = 'ADD TO CART';
		}, 1000);
	};
	document.getElementById('add_selected_to_cart').value = 'ADD TO CART';

	function addSingleProduct(product_id) { 

		if ($j.fancybox.hasOwnProperty("showActivity")) {
			$j.fancybox.showActivity(); // v1
		} else {
			$j.fancybox.showLoading(); // v2
		}

		var responseData ="";    	
		jQuery.ajax({
			method: "post",
			dataType: 'json',
			url: baseurl+'styler/index/ajax_add_to_cart',
			data: { data: product_id}
		})
		.done(function(data) {
			console.log(data.count);
			if(data.status=='SUCCESS'){
				responseData = "<li class='success-msg'><span>"+data.message+"</span></li>";
				jQuery('#styler_message_list').append(responseData).css('display','block');
				jQuery('#headercartcount').html(data.count);
			}else if(data.status=='ERROR'){
				responseData = "<li class='error-msg'><span>"+data.message+"</span></li>";
				jQuery('#headercartcount').html(data.count);
				jQuery('#result-error').append(responseData).css('display','block');
				jQuery('#result-error').show();
			}else{
				responseData = "<li class='error-msg'><span>"+data.message+"</span></li>";
				jQuery('#headercartcount').html(data.count);
				jQuery('#result-error').append(responseData).css('display','block');
				jQuery('#result-error').show();
			}

			// console.log(responseData);
			// jQuery('#styler_message_list').append(responseData);
			// $j.fancybox.resize();
			// console.log(data.message);
			//return responseData;				
		});

		if($j.fancybox.hasOwnProperty("hideActivity")) {
			$j.fancybox.hideActivity(); // v1
		} 
		else 
		{
			$j.fancybox.hideLoading(); // v2
		}
		return responseData;
	}

	function addSingleProductStyler(data) { 
		// console.log(data);
		
		var responseData ="";    	
		jQuery.ajax({
			method: "post",
			dataType: "json",
			url: baseurl+'styler/index/ajax_styler',
			data: data
		})
		.done(function(response) {
			console.log(response);
			var add_to_cart_message_height;
			jQuery.each(response, function(key,data) {
				console.log(data);
				add_to_cart_message_height = 0;
				if(data.status=='SUCCESS'){
					responseData = "<li class='success-msg'><span>"+data.message+"</span></li>";
					jQuery('#styler_message_list').append(responseData).css('display','block');
					jQuery('#headercartcount').html(data.count);
					add_to_cart_message_height = $j('.add_to_cart_message').height()+95;
        			console.log(add_to_cart_message_height);
        			$j('#styler_product_list #data_styler.active').css('top',add_to_cart_message_height+'px');

				}else if(data.status=='ERROR'){
					responseData = "<li class='error-msg'><span>"+data.message+"</span></li>";
					jQuery('#headercartcount').html(data.count);
					jQuery('#result-error').append(responseData).css('display','block');
					add_to_cart_message_height = $j('.add_to_cart_message').height()+95;
        			console.log(add_to_cart_message_height);
        			$j('#styler_product_list #data_styler.active').css('top',add_to_cart_message_height+'px');

				}else{
					responseData = "<li class='error-msg'><span>"+data.message+"</span></li>";
					jQuery('#headercartcount').html(data.count);
					jQuery('#result-error').append(responseData).css('display','block');
					add_to_cart_message_height = $j('.add_to_cart_message').height()+95;
        			console.log(add_to_cart_message_height);
        			$j('#styler_product_list #data_styler.active').css('top',add_to_cart_message_height+'px');

				}
			});
			
			//return responseData;				
		});

		
		return responseData;
	}
</script>

<div id="build-overlay">
	<div id="build-overlay-text">
		<span class="close-btn">x</span>
		<div class="topdivarea">
			<h1>MAKE YOUR OWN LINKING CHARM ACCESSORY </h1>
		</div>

		<div class="headdesctop">
			<h2>STEP 01</h2>
			<p>SELECT YOUR JEWELLERY FROM THE "FILTER BY" DROP-DOWN MENU.</p>
		</div>

		<div class="headdesctop">
			<h2>STEP 02</h2>
			<p>CLICK AND DRAG YOUR FAVOURITE CHARMS ONTO THE JEWELLERY.</p>
		</div>

		<div class="headdesctop">
			<h2>STEP 03</h2>
			<p>SELECT DIFFERENT BRACELETS AND BANGLES BY SELECTING JEWELLERY UNDER THE FILTER BY DROWPDOWN
				AND CLICK THE “CHOOSE THIS” BUTTON TO STYLE A NEW ITEM.</p>
			</div>

			<div class="headdesctop">
				<h2>STEP 04</h2>
				<p>VIEW ALL THE ITEMS YOU CURRENTLY HAVE IN YOUR DESIGN USING THE "ITEM LIST" TAB.</p>
			</div>

			<div class="headdesctop">
				<h2>STEP 05</h2>
				<p>WHEN FINISHED, CLICK THE “ADD TO CART” BUTTON TO REVIEW YOUR SELECTIONS AND CHECKOUT.</p>
			</div>

			<div class="getstartbutt"><a href="javascript:void(0);" class="btnAction hide-build-overlay">GET STARTED</a></div>

		</div>
	</div>							
	<br class="clear" />
	<div class="clear">
	</div>
</div>

<br class="clear" />
<!-- END wrapper -->
<script type="text/javascript">
	$j('.info a, .chain a').live('mouseover focus', function() {
		if(!$j(this).data('init')) {
			$j(this).data('init', true);
			$j(this).fancybox();
		}
	});
</script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	console.log(jQuery('#filterBrowse').val());
	var selection_type = jQuery('#filterBrowse').val();
});
</script>
<style type="text/css">
	#styler_message_list li{
		font-size: 20px;
		font-weight: bold;
	}
	@media (max-width:600px){`
		#personaStyler #stylerCanvas .headerInfo{width: 100% !important;}
		#personaStyler .itemDetails .prodImg .charmImg{width: 100%;}
		.itemDetails .prodDesc {
			width: 60%;
		}
		#personaStyler #stylerTabMenu .icon.browse{display: inline-block;}
		.productFilter .field{width: 100% !important;}
		#stylerOptions .tabHeader .actionItems{width: 47%;}
		#itemBrowseContainer .product_type_chain .itemBasicInfo{width: 68% !important;}
		.styler-index-index .footer-container{display: none;}
	}


</style>