<?php

$collection=Mage::getModel('storelocator/storelocator')->getCollection();
foreach($collection as $item){
	$latlng[]=$item['landmark'];
}
$allStoreCity = $this->getAllCity()->getData();
$allStoreCity = array_unique($allStoreCity, SORT_REGULAR);
?>
<h1 class="storelocator-heading">Store Locator</h1>
<div class="floatl info storelocator-info">
	To get that unmatched look, find an Linking Charms outlet closest to you now!</br>
	Our store locator will help you find Linking Charms stores all over the country and provide details about each one.
</div>
<div class="main-content-div">
	<div class="floatl storeselect">
		<div class="select-store">
			<span class="select_city"><strong><?php echo $this->__('Select your City:')?></strong></span>
			<div class="select_box">
				<select class="store-selector" id="city" style="float:none;">
					<option selected="selected"><?php echo $this->__('--Select City--')?></option>
					<?php foreach($allStoreCity as $city):
					if($city['city']!=""):?>
					<option value="<?php echo $city['city']; ?>" ><?php echo $city['city']; ?></option>
					<?php endif;
					endforeach;?>
				</select>
			</div>
		</div>
		<div id="store" class="gmap3">
			<!-- <div class="close_locator">Close</div> -->
		</div>
	</div>

	<div id="map" class="floatr"></div>
</div>
<?php
if(Mage::app()->getFrontController()->getRequest()->isSecure()){
	$baseUrlSSl = $this->getUrl('',array('_secure'=> true));
}
else{
	$baseUrlSSl = $this->getUrl();
}
?>
<?php
if(Mage::app()->getFrontController()->getRequest()->isSecure()){
	$mapsUrl = 'https://maps.google.com/maps/api/js?sensor=false';
}
else{
	$mapsUrl = 'http://maps.google.com/maps/api/js?sensor=false';
}
?>
<style type="text/css">
#map{
	height: 750px;
	width: 100%;
	margin: 0px auto;
}
.store-tags {text-align: center;
	margin-top: 15px;}
	.storeselect { text-align: center;
		margin: 15px 0;}
		.storelocator-info { text-align: center;}
		.storelocator-heading { text-align: center;font-size: 31px;
			color: #d5e14d;
			text-shadow: 2px 1px 3px #000; }
			.main-content-div { margin-bottom: 15px;}
			</style>
			<script type="text/javascript" src="<?php echo $this->getSkinUrl("js/gmap3/gmap3.js");?>"></script>
			<script src="<?php echo $mapsUrl;?>" type="text/javascript"></script>
			<script type="text/javascript" >
	jQuery(function($){  // or $(document).ready(function(){
		<?php if(!empty($latlng)) {?>
			
			$("#map").gmap3({
				map:{
					options:{
						center:[24.475150,78.969727],
						zoom:5
					}
				},
				marker:{
					values:[
					<?php
					foreach($latlng as $location){
						echo '{latLng:['.$location.']},';
					}
					?>
					],
					options:{
						icon: new google.maps.MarkerImage("<?php echo $this->getSkinUrl('images/beachflag.png') ?>"),
					}
				}
			});

			var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
			var marker1 = new google.maps.Marker({
				icon: iconBase + 'schools_maps.png'
			});


			<?php } ?>

			$('.setOnMap').live('click',function(){
				var coordinates = $(this).attr('rel');
				coordinatesArray = coordinates.split(',')
				lat = coordinatesArray[0];
				lon = coordinatesArray[1];
				var clear = {name:"marker"};
				$("#map").gmap3({clear:clear});
				var address = $(this).attr('address');
				
				$('#map').gmap3({
					map:{
						options: {
							center:[lat, lon],
							zoom:15,
						}
					},
					marker: {
						latLng: [lat, lon],
						options:{
							icon: new google.maps.MarkerImage("<?php echo $this->getSkinUrl('images/beachflag.png') ?>"),
						}
					},
					infowindow:{
						options:{
							content: address
						},
					}
				});
			});
			window.getCityZoomedInMapAfterSelectingNewCity = function(){
				var mapJson = [];
				$.each($('strong .setOnMap'), function( index, value ) {
					mapJson.push($(this).attr('rel'));
				});
				var mainCityLat = mapJson[0].split(',')[0];
				var mainCityLon = mapJson[0].split(',')[1];
		// console.log(mainCityLat + " - " + mainCityLon);
		$("#map").gmap3({
			map:{
				options:{
					center:[mainCityLat,mainCityLon],
					zoom:9
				}
			}
		});

	};
});
</script>

<script type="text/javascript">
jQuery.noConflict();
jQuery('#city').change(function($) {

	//initialize();
	var param = jQuery('#city :selected').val();
	var reloadimage = '<?php echo $this->getSkinUrl("images/loading-gif.gif")?>';
	var url = '<?php echo $baseUrlSSl;?>'+'storelocator/index/store/search/'+param;
	var datastring = "search="+param;
	jQuery('#store').html('');
	jQuery('#store').append('<img id="store-reload" style="margin-right: 15px;cursor:pointer;" src="'+reloadimage+'"/>');
	try {
		jQuery.ajax({
			url : url,
			type : "POST",
			data : datastring,
			success : function(data) {
				if(data){
					var respData = jQuery(data).find(".store-outer").html();
					jQuery('#store-reload').remove();
					jQuery('#store').html(respData);
					getCityZoomedInMapAfterSelectingNewCity();
				}
			}
		});
	}catch(e){
	}
});

jQuery(document).ready(function($) {
	

});

</script>
