<?php $store= $_SESSION['store'];?>
<div class="store-outer">
<?php 
	foreach($store as $storeAddress):
		$coordinates = '';
		$allStoreByCity = $this->getStoreByCity($storeAddress); 
		$allStoreByCity = $allStoreByCity->getData();
		foreach($allStoreByCity as $storeAdd): 
		$storeName=trim($storeAdd['name']).' ';
		$storeAddress=trim($storeAdd['address']).' ';
		$storeArea=trim($storeAdd['area']).' ';
		$storeCity=trim($storeAdd['city']);
		
		$coordinates = $storeAdd['landmark'];
?>
		<div class="store-inner">
			<?php //if(isset($storeAdd['area'])):?>
		<!-- 		<span><strong><?php echo $storeAdd['area'];?></strong></span><br /> -->
			<?php// endif;?>
			<?php //if(isset($storeAdd['name'])):?>		
				<!-- <span><?php echo $storeAdd['name'];?></span><br /> -->
			<?php //endif;?>
			<?php if(isset($storeAdd['address'])):?>
				<span><?php echo $storeAdd['address'];?></span><br />
			<?php endif;?>
			<?php /*if(isset($storeAdd['landmark'])):?>
				<span><?php echo $storeAdd['landmark'];?></span><br />
			<?php endif;?>
			<?php if(isset($storeAdd['area'])):?>
				<span><?php echo $storeAdd['area'];?></span><br />
			<?php endif;?>
			<span><?php echo $storeAdd['city'];?>-<?php echo $storeAdd['zip'];*/?><!--/span><br /-->
			<!-- <span><?php// echo $this->__('Phone: ').$storeAdd['phone'];?></span><br />
			<span><?php //echo $this->__('Mobile: ').$storeAdd['mobile'];?></span><br /> -->
			<span><?php echo $this->__('Email: ').$storeAdd['email'];?></span><br />
            <!-- onclick="googlemap('<?php //echo $address;?>')" -->
            <?php if($coordinates != ''){ ?>
				<strong><span style="font-size:14px;"><?php echo $this->__('Click ')?><label style="color:blue;cursor:pointer;font-size:14px" ><a class="setOnMap" rel="<?php echo $coordinates;?>" address="<?php echo $storeAdd['address']; ?>"><?php echo $this->__('here')?></a></label><?php echo $this->__(' to locate store on map')?></span></strong>
			<?php }?>
		</div>	
		
	
<?php
endforeach;
endforeach;
?>

</div>
		