  <?php $_product = $this->getProduct(); ?>
 <?php 
 $isLoggedIn = Mage::getSingleton('customer/session')->isLoggedIn();
 $fbenable = Mage::getStoreConfig('points/facebook_reward/enable_fb');
 if($fbenable):
 if($isLoggedIn):
 $fbappid = Mage::getStoreConfig('points/facebook_reward/fb_app_id');
 $customer   = Mage::getSingleton('customer/session')->getCustomer();
  ?>
<script src="<?php echo $this->getJsUrl('brainvire_all/facebook.js'); ?>"></script>
<a href="javascript:void(0)" onclick="shareonfacebook()"><img  src="<?php echo $this->getSkinUrl('images/brainvire_points/facebookshare.png') ?>" /></a>  
<script type="text/javascript">
			function shareonfacebook(){
				FB.init({
					appId      : '<?php echo $fbappid; ?>',
					xfbml      : true,
					version    : 'v2.2'
				});
				var product_name   = 	'<?php echo $_product->getName() ?>';
				var description	   =	'<?php echo $_product->getDescription() ?>';
				var share_image	   =	'<?php echo Mage::helper('catalog/image')->init($_product, 'image')->resize(200); ?>';
				var share_url	   =	'<?php echo $_product->getProductUrl(); ?>';
				var share_capt     =    '<?php echo $_product->getDescription() ?>';
				FB.ui({
					method: 'feed',
					name: product_name,
					link: share_url,
					picture: share_image,
					caption: share_capt,
					description: description
				}, function(response){
					reward_facebook(response);
				});
			}
			function reward_facebook(response){
			if (response === null) {
						console.log('was not shared');
					} 
					else {
						jQuery.ajax({
							url: "<?php echo $this->getUrl('points/reward/facebookshare'); ?>",
							type: "post",
							data: {type:'share',customerid:'<?php echo $customer->getId(); ?>'},
							success: function(data){},
							error:function(){}   
						}); 
					}
				}
		</script>
<?php endif; ?>
<?php endif; ?>