
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}



@mixin triangle($direction, $size, $color){
	
	border: $size solid transparent;
	width: 0;
	height: 0;

	@if $direction == "up" {
		border-bottom: $size solid $color;
	} @else if $direction == 'down' {
		border-top: $size solid $color;
	} @else if $direction == 'left' {
		border-right: $size solid $color;
	} @else if $direction == 'right' {
		border-left: $size solid $color;
	} 
}

@mixin transition($property, $duration, $anim_mode){
	-webkit-transition: $property $duration $anim_mode;
	   -moz-transition: $property $duration $anim_mode;
		-ms-transition: $property $duration $anim_mode;
	     -o-transition: $property $duration $anim_mode;
	        transition: $property $duration $anim_mode;
}


@mixin media_query($condition, $resolution) {
	@media all and ($condition: $resolution) {
		@content;
	}
}
