/* Global and reqiured variables defined in _var.scss partial file */

$black : #000;
$white : #fff;
$primecolor: #5cc6d0;
$seccolor: #363636;
$linkcolor: #777777;
$grayColor:#b8b8b8;
$lightgray: #bfbfbf;
$textgray: #1e1e1e;
$btnhover: #cccccc;
$purple: #7165ad;

$prime-font: 'ChiselCondensedNormal';
$prime-font-Bold: 'ChiselCondensedBold';





.box-sizing{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.custom_icon {
	font-family: 'icomoon'!important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.btn-black{
	background-color: $primecolor !important;
	border-radius: 4px;
    padding: 7px 18px 10px !important;
    color: $white !important;
    text-transform: lowercase;
    font-size: 1.3em;
    &:hover{
    	background-color: $primecolor !important;
    }
}

.txt-box{
	width: 250px;
	border-radius:4px;
    border: 1px solid #bebebe;
    font-size:20px;
    float: left;
    padding: 5px 15px 7px !Important;
}

.globus-radius{
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    
}

.transition_effect{
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

