@import 'var';
@import 'mixin';

body{
	font-family: $prime-font;
	font-size: 16px;

	button.button span, address, input, select, textarea, button, h1, h2, h3, h4, h5{
		font-family: $prime-font !important;
	}

	a{
		color: $primecolor; 
	}


	*{
		box-sizing: border-box;
		font-family: $prime-font;
	}

	.breadcrumbs{
		border: 0;
		margin: 15px auto !important;
		max-width: 1200px;
		padding: 0 10px;
		box-sizing: border-box;
		li{
			color: $black;
			font-size: 17px;

			a{
				color: $primecolor !important;
				font-size: 17px;
			}
		}
	}

	
	.wrapper .page .main-container .main .col-main{
		max-width: 1200px;
		padding: 0 10px;
		box-sizing: border-box;
		margin: 0 auto;
		float: none;
	}
}

.cms-index-index{
	background: #ddf7f9;
	.header-container{
		background: $white;
	}
	.page{
		background: transparent;
	}
}
.wrapper{
	.page{
		max-width: 100%;
		width: 100%;
	}
}



.block-layered-nav.fixed-filter{
	position: fixed;
	top: 40px;
	left: 0;
	width: 100%;
	z-index: 11;
}

.navigationn_wrap.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.home-banner-wrap{
	margin-bottom: 20px;
}

.custom-container, .cms-index-noroute .col-main{
	max-width: 1200px;
	padding: 0 10px;
	box-sizing: border-box;
	margin: 0 auto;
	float: none;
}

.page {
	.header-container{
		width: 100%; 
		max-width: 100%;

		.top-links-page{
			max-width: 1200px; 
			padding: 5px 10px;
			box-sizing: border-box;
			margin: 0 auto;
			background: #4c4c4c;
			border: 0;

			.top-links-main {
				.links-left-top{
					color: $white;
				}

				.links-right-top{
					span{
						color: $white;
					}

					li{
						display: inline-block;
					}
				}
			}
		}

		.top-links-wrapper{
			background: #4c4c4c;
		}

		.main-content-page {
			.left_section{
				margin: 10px auto 15px;
				max-width: 1200px;
				padding: 0 10px;
				box-sizing: border-box;
				position: relative;
				min-height: 78px;

				.logo_pan{
					margin-top: 5px;
					max-width: 248px;
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);

					img{
						width: 100%;
					}
				}

				.head-left, .head-right{
					line-height: inherit;
				}

				.head-right{
					width: auto;
					margin-top:18px;
					clear: both;

					.quick-access {
						.form-search {
							height: 31px;
							box-shadow: none;
							border: 2px solid $primecolor;
							border-radius: 6px;
							input#search{
								width: 200px;
								font-size: 20px;
								height: 26px;
								line-height: 26px;
								float: left;
							}

							button.button{
								height: 28px;
								background: transparent;
								border-radius: 0;

								&:before{
									font-size: 16px;
									color:red;
									padding-right: 10px;
								}
							}
						}
					}
				}
			}
		}
	}

	.top-main-menu-blk{
		max-width: inherit;
		text-align: center;
		margin: 0 auto;
		float: left;
		width: auto;
		float: right;

		.cart_link_wrapper{
			position: static;

			.header-wishlist-link{
				display: inline-block;
				font-size: 16px;
				background: url(../images/custom/wishlist.png) center center no-repeat;
				width: 40px;
				height: 34px;
				margin-right: 5px;

				.cart-text{
					display: none;
				}
			}

			.header-cart-link {
				display: inline-block;
				background: $primecolor;
				color: $white;
				vertical-align: top;
				border-radius: 6px;
				padding: 5px 13px;
				span{

					&:before{
						margin-right:5px;
						border-radius: 0;
						font-size: 1.3em;
						padding: 0;
						height: auto;
						background: transparent;
					}

					label{
						position: static;
						color: $white;
						vertical-align: top;
						font-size:18px;
					}
				}
			}
		}


	}

	.top-left-login{
		float: left;

		.search_links{
			.help_link{
				display: none;
			}

			ul.dropdown-menu {
				display: none;
				position: absolute;
				width: 100%;
				background: #fff;
				border: 1px solid #ccc;
				padding: 7px;
				width: 150px;
				z-index: 1;
				top: 28px;
				border-radius: 7px;

				&:before{
					content: "";
					position: absolute;
					top: -16px;
					left: 50%;
					border: 8px solid transparent;
					border-bottom: 8px solid #ccc;
					display: inline-block;
					transform: translate(-50%);
				}

				li{
					padding: 4px  0;
					border-bottom: 1px solid #d6d6d6;

					&.last{
						border: 0;
					}

					a{
						display: block;
						color: #000;


					}
				}
			}
		}

		.top-link-login{
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: -0.3px;
		}
	}

	.navigationn_wrap{
		background: #f2f1f1;
		display: inline-block;
		float: left;
		width: 100%;
		text-align: left;

		.top-main-menu-blk{
			float: none;

			.nav-container{
				text-align: left;

				ul#nav {
					>li{
						min-width: 255px;
						text-align: center;

						a{
							width: 100%;
						}

						&:hover{
							&:before{
								content: "";
								position: absolute;
								bottom: 0;
								left: 0;
								width: 100%;
								height: 3px;
								background: $primecolor;
							}
						}
					}
					li{
						float: left;
						position: relative;
						padding: 9px 0px;

						&:hover{
							>a{
								color: $primecolor !important;

								>span{
									color: $primecolor!important;
								}
							}
						}

						&.level0{
							&.parent{
								&:hover {
									> a{
										&:after{
											display:none;
										}
									}
								}
							}
						}


						a{
							font-size: 18px;
							color: #6d6e71;
							line-height: inherit;
							padding: 0px 68px 3px 68px;
							border-right:  1px solid #c4c4c4;


							span{
								color: #6d6e71;
								line-height: inherit;
								text-transform: uppercase;
							}

							&:hover{
								a{
									color: $primecolor !important;

									span{
										color: $primecolor!important;
									}
								}

							}
						}

						&.first{
							a{
								border-left:  1px solid #c4c4c4;
							}
						}
					}

					.menu_img_wrap{
						top: 100%;
						padding: 12px 22px;

						.submenu_wrap{
							width: 100% !important;

							span{
								font-size: 16px;
								text-transform: uppercase;
							}
							li{
								padding: 6px 5px;
								text-align: left;
								a{
									border: 0;
								}
							}
						}

						&:before{
							display:none;
						}
					}
				}
			}
		}

		#nav{
			border: 0;
			font-size: 18px;
			color: #6d6e71;

			.level0{
				>a{
					text-transform: uppercase;
				}
			}

			a{
				color:#6d6e71;
			}

			.store-link{
				display: none;
			}
		}
	}
}




.testimonial-wrap{
	background: #4c4c4c;
	padding: 15px 0 20px 0;
	color: $white;
	text-align: center;

	.custom-container{
		background: url(../images/custom/chat.png) top right no-repeat;
	}

	.heading{
		margin-top: 5px;
		color: $primecolor;
		font-size: 20px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	.slick-slider{
		margin-bottom: 38px;
	}

	.desc, .user-name{
		font-size: 18px;
		text-transform: lowercase;
	}

	.user-name{
		color: $primecolor;
		margin-top: 5px;
	}

	.slick-arrow{
		position: absolute;
		bottom: -45px;
		top: inherit;

		&:before{
			color:$primecolor;
			font-size: 18px;
		}
	}

	.slick-prev{
		background: transparent;
		left: 50%;
		margin-left: -25px;
	}
	.slick-next{
		background: transparent;
		right: 50%;
		margin-right: -25px;
	}
}




.footer-container {
	.footer {
		.shippingreturns {
			margin: 0;
			color: $white;
			padding: 10px 0px;
			float: left;
			background: #7b7c7f;

			.shippingpolicy {
				border-right: 3px #6ec6ce solid;
				padding: 0px 6% 0% 6%;
				height: 90px;
				box-sizing: border-box;
				margin: 0;
				width: 25%;

				&:last-child{
					padding:0 4.5%;
					border: 0;
				}

				.footerheadings{
					color: $white;
					font-weight: normal;
					font-size: 18px;
					text-transform: uppercase;
				}
				ul {
					li {
						margin: 0;
						margin-bottom: 2px;
						a{
							color: $white;
							font-size: 18px;

							&:hover{
								color:$primecolor;
							}
						}
					}
				}

				.call{
					background: url(../images/custom/telphone.png) left center no-repeat;
					padding-left: 46px;
					text-transform: uppercase;
				}
			}
		}

		.copy-right-wrap{
			width: 100%;
			background: #4c4c4c;
			padding: 20px 0px;
			float: left;
		}

		.custom-container{
			
			.copy_symbol{
				border: 0;
				color: $white;
				font-size: 17px;
				color: $white;
			}
		}
	}
}


.home-banner-wrap{
	.slick-prev {
		left: 0;
		z-index: 1;
	}
	.slick-next {
		right: 0;
	}

	.slick-arrow{
		background: rgba(92, 198, 208, 0.8);
		width: 33px;
		height: 33px;
		line-height: 33px;

		&:before{
			color:$white;
			line-height: 33px;
			font-size: 18px;
		}
	}
}

.promo-banner-wrapper{
	.custom-container{
		padding: 0 50px;
		overflow: hidden;
	}
	.promo-image{
		width: 33.33%;
		box-sizing: border-box;
		float: left;
		padding: 0 10px 25px 10px ;

		a{
			display: block;
		}
	}
}

#scroll_top_sportxs:before{
	background: $primecolor;
	border-radius: 8px;
}

.cms-index-index .wrapper .page .main-container .main .col-main{
	max-width: inherit !important;
	float: none;
	width: 100%;
	padding:0;
}

.catalog-category-view, .catalogsearch-result-index{
	.col-left.sidebar, #undefined-sticky-wrapper{
		display: none;
	}	

	.amshopby-page-container{
		.category-image{
			display: none;
		}
	}

	.wrapper {
		.page {
			.main-container {
				.main {
					.col-main{
						padding:0; 
						max-width: inherit !important;
						float: none;
						width: 100%;
						.block-layered-nav {
							
							background: #f9f9f9;		
						}

						.filter-pagecategory{
							padding: 0!important;
							border:0!important;

							ol{
								li{
									padding: 0px;
									display: block;
									margin: 0;
									overflow: hidden;
								}
							}
						}

						.head-label{
							display: inline-block;
							color: #464646;
							font-size: 20px;
							float: left;
							vertical-align: middle;
							margin-top: 2px;
							text-transform: uppercase;
						}

						.filtername-top{
							margin: 0 10px 2px;
							text-transform: uppercase;
							color: #59595a;
							font-size: 18px;
							border-radius: 4px 4px;
							border: 1px #bfbfbf solid !important;
							width: 110px;
							float: left;
							position: relative;
							padding: 4px 36px 5px 0 !important;

							&:before{
								font-family: 'FontAwesome';
								content: "\f078";
								position: absolute;
								color: #a9aaac;
								padding: 6px 5px 1px 0px;
								font-size: 15px;
								top: 0;
								right: 0;
							}

							&:after{
								content: "";
								position: absolute;
								top: 0;
								right: 26px;
								height: 30px;
								width: 1px;
								background: #a9aaac;
							}

							&.top-selected{
								font-weight: normal;
							}


						}

						
						
						.amshopby-page-container, .filter-inner, .filter-name-inner{
							width: 100%;
							max-width: 1200px;
							padding: 0 10px;
							box-sizing: border-box;
							margin: 0 auto;
							float: none;
						}

						.filter-name-wrap{
							overflow: hidden;
							padding: 30px 0px;
							background: #f1f1f3;
						}

						.filter-values-wrap{
							background: #f9f9f9;
							clear: both;
							display: none;
							border-bottom: 1px #d6d6db solid;

							&.active{
								display: block;
							}

							.filter-inner{
								padding: 10px 0;
							}
						}

						.currently{
							margin: 15px auto;
							max-width: 1200px;
							padding: 0 10px;
							box-sizing: border-box;

							li{
								background: transparent;

								.multiselect-child{
									color: #333333;
									font-size: 16px;
									border-radius: 4px;
									border: 1px #bfbfbf solid;
									text-align: center;
									background: #f1f1f3 !important;
									padding: 5px 25px 5px 10px;
									cursor: pointer;
									width: auto;
									margin: 8px 5px;
									height: auto;

									a{
										font-size: 15px;
										top: 6px;
										right: 3px;
									}
								}
							}

							.label{
								font-weight: normal;
								color: #000;
								font-size: 22px;
							}
						}

						.top-filter-options {
							a{
								color: #333333;
								font-size: 16px;
								border-radius: 4px;
								border: 1px #bfbfbf solid;
								text-align: center;
								background: #f1f1f3 !important;
								padding: 5px 10px;
								cursor: pointer;
								width: auto;
								margin: 8px 5px;
								height: auto;

								&.amshopby-attr-selected{
									background: $primecolor;
									border-color: $primecolor;
								}
							}
						}

						div.amshopby-column{
							width: auto;
						}

						.bfd-quickview{
							display: none;
						}
					}
				}
			}
		}
	}

	.sorter{
		margin-bottom: 15px;
		
		.sort-by {
			label{
				display: none;
			}
		}
		a{
			text-transform: uppercase;
			color: #6d6e71;
			font-size: 18px;
			padding: 0 8px;

			&.selected{
				color: $primecolor;
				text-decoration: underline;
			}
		}

		a + a{
			border-left: 1px solid #ccc;
		}
	}
}


.category-products {
	.products-grid {
		.item{

			width: 24% !important;
			margin: 0 0.5% 20px !important;
			padding: 15px !important;
			border: 1px #e7e8e9 solid;
			float: left !important;

			&:hover{
				box-shadow:0px 1px 5px #9e9a9a;
			}
		}

		.link-wishlist{
			position: absolute;
			top: 15px;
			right: 15px;
			font-size: 0;
			background: url(../images/custom/wishlist-gray.png) center center no-repeat;
			width: 40px;
			height: 34px;
		}

		.simpleProductBlock{
			overflow: visible;
			border:0;

			.btn-cart.simple-product-add-cart{
				background: transparent !important;
				padding: 4px 0 !important;
				min-height: inherit;

				span{
					span{
						font-size: 0 !important; 
					}
				}
				i{
					color: #cacaca;
				}
			}
		}

		.btn-cart {
			position: absolute;
			top: 15px;
			left: 15px;

			span.icon-category_cart{
				padding: 0 !important;
				width: 30px !important;
				height: 30px !important;
				line-height: 26px !important;
				&:before{
					content:"+";
					color: #cacaca;
					font-size: 32px;
					font-weight: bold;
				}
			}

			&.config-add-to-cart{
				background: transparent !important;

				.icon-category_cart{
					&:before{
						color:$primecolor !important;
					}
				}
			}
		}

		.product-cart-div{
			position: static !important;
		}

		a.product-image{
			margin: 0 !important;
			border: 0 !important
		}

		.desc_wrapper{
			position: static !important;
			text-align: center; 
			.product-name{
				text-transform: uppercase !important;
				color: #6d6e71;
				font-size: 19px !important;
				font-weight: normal !important;
				margin: 25px 0px 5px 0px;

			}

			.price-box{
				color: 000 !important;
				font-family: $prime-font !important;
				.special-price, .regular-price{
					margin: 0 5px !important;
					.price{
						font-size: 22px !important;
						font-weight: normal !important;
					}

					.currency_symbol{
						font-size: 19px;
					}
				}
				

				.old-price{
					margin: 0 5px !important;
					color: #929292!important;

					.currency_symbol{
						font-size: 14px;
					}

					.price{
						font-weight: normal !important;
						font-size: 18px !important;
						text-decoration: line-through;

						&:before{
							display:none !important;
						}
					}
				}

				.special-price-percent{
					display: inline-block;
					margin: 0 0 0 5px !important;

					.price-saving-percentage{
						display: inline-block;
						letter-spacing: 0;
					}
				}
			}
		}
	}
}

.catalog-product-view .wrapper .page .main-container .main .col-main{
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 10px;
	box-sizing: border-box;
}



.youama-login-window label, .youama-register-window label{
	font-size: 20px;
}

.youama-window-box .form_fields{
	padding-right: 0;
}

.account_pages{
	.nav-section-cat-list ul li{
		font-size: 24px;
		padding: 5px 10px 10px 10px;
		margin-bottom: 5px;

		&.current{
			background: #5cc6d0;
			color: $white;

			strong{
				color: $white;
			}
		}
	}
	.page-title h1{
		font-size: 30px;
	}
	.box-title h3{
		font-size: 25px;
		letter-spacing: 0;
		font-weight: normal;
	}
	.box-title a, .edit_address{
		font-size: 23px;
	}
	.username_area, .email_area, .change_pw, .box-content p, .box-content address{
		font-size: 20px;
	}
	.box-content h4{
		font-size: 24px;
		font-weight: normal;
	}
	span.brc{
		font-size: 23px;
		padding:0 2px;
		font-family: $prime-font !important;
		color: $primecolor;
	}
	.fk-lcat-main-header{
		font-size: 32px;
		font-family: $prime-font !important;
	}

	p{
		font-family: $prime-font !important;
		font-size: 20px;
	}
	.fieldset .legend{
		font-size: 25px;
	}

	input.input-text, textarea{
		font-size: 20px;
	}

	

	.wrapper .page .main-container button.button{
		border-radius: 4px;
		padding: 3px 14px 7px 14px;
		font-size: 25px;

		span{
			font-size: 25px;
		}
	}

	.product-name{
		font-size: 20px;
	}

	.form-list input.input-text{
		border-radius: 4px;
		padding: 5px 9px 9px 9px;
	}

	.wrapper .page .main-container .main .col-main .welcome-msg p{
		font-family: $prime-font !important;
		font-size: 20px;
	}

	.back-link{
		padding:3px 14px 7px 14px;
		border-radius: 4px;
		background: $primecolor;
		font-family: $prime-font !important;

		span, a{
			font-size: 25px;
			letter-spacing: 0;
			font-family: $prime-font !important;
		}

		a{
			&:hover{
				color:$white!important;
			}
		}
	}

	.wrapper .page .main-container .main .col-left{
		padding-left: 0;
	}

	.wrapper .page .main-container .main .col-main{
		border-color: $primecolor;
		padding-right: 0;
		margin-bottom: 30px;
	}

	.main{
		max-width: 1200px;
		padding: 0 10px;
		box-sizing: border-box;
	}
}

.rawwishlist-index-index .configurable-product span.price-label, .wishlist-index-index .configurable-product span.price-label, .rawwishlist-index-index .configurable-product span.price, .wishlist-index-index .configurable-product span.price{
	font-size: 18px;
	font-weight: normal;
}

.messages .success-msg ul li{
	font-size: 20px;
	font-weight: normal;
}
.messages .success-msg{
	background-color: #8fe8f1;
	border-radius: 4px;
	border-radius: 4px;
}
.rawwishlist-index-index .configurable-product span.price-saving-percentage, .wishlist-index-index .configurable-product span.price-saving-percentage{
	font-size: 16px;
}

.rawwishlist-index-index .wrapper .page .main-container .add-to-cart-alt button.button span, .wishlist-index-index .wrapper .page .main-container .add-to-cart-alt button.button span{
	font-size: 20px;
}

.after-product-added{
	right: 0;
	border-radius: 4px;

	.view-cart-popup-from-header{
		background: $primecolor;
		font-size: 20px;
		border-radius: 4px;
	}

	.cart-pan{
		width: 100%;
	}

	.rightarea{
		margin: 0;
	}
}

.checkout-onepage-index{
	.form-list label{
		margin-bottom: 5px;
	}
	.main-container .main{
		margin-bottom: 20px;
	}

	.page-title h1, .page-title h2{
		font-size: 32px;
		margin: 12px 0;
	}
}

.whtsaap-share{
	display: none;
}

.g-product-description{
	clear: both;
	margin-top: 15px !important;
	display: inline-block;
	font-size: 20px !important; 

	h1.g-product-title{
		font-size: 25px;
		color: #000 !important;
		padding-bottom: 10px;
	}
}

.col-main{
	.form-list label{
		font-size: 20px !important; 
		font-family: $prime-font !important;
		letter-spacing: 0 !important;
		font-weight: normal !important;
	}

	button.button{
		border-radius: 4px !important;
		height: auto !important;
		line-height: inherit !important;
		color: $white !important;
		padding: 3px 14px 7px 14px !important;
		font-size: 25px !important;
		font-family: $prime-font !important;
		background: $primecolor !important;

		span{
			font-size: 25px!important;
			background: transparent !important;
			height: auto !important;
			line-height: inherit !important;
			font-family: $prime-font !important;
		}
	}
	input.input-text, select{
		border-radius: 4px !important;
		padding: 5px 9px 9px 9px !important;
		font-family: $prime-font !important;
		font-size: 20px;
	}
}

.cash-on-delivery .quote {display: none;}

.account_pages .col-main{
	margin-bottom: 20px;
}

.account_pages .wrapper input.input-text, select{
	border-radius: 4px !important;
	padding: 5px 9px 9px 9px !important;
	font-family: $prime-font !important;
	font-size: 20px;
}


input#confirm-otp{
	width: 20%;
	margin: 0;
	border-radius: 4px !important;
	padding: 5px 9px 9px 9px !important;
	font-family: $prime-font !important;
	font-size: 20px;
}



input#otp_submit{
	margin-left: 6px;
	border-radius: 4px !important;
	height: auto !important;
	line-height: inherit !important;
	color: $white !important;
	padding: 3px 14px 7px 14px !important;
	font-size: 25px !important;
	font-family: $prime-font !important;
	background: $primecolor !important;
}



#otp-link{
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.account_pages .wrapper .page .main-container{
	margin-top: 20px;
}
.checkout-cart-index, .checkout-onepage-index{
	.main-container{
		width: 100%;
		margin: 0 auto;
		max-width: 1200px;
		padding: 0 10px;
		box-sizing: border-box;
		float: none;
		display: block;

		.mycart-outer{
			border-top: 0;
			margin-bottom: 30px;
		}



		#checkout-progress-wrapper{
			.block .block-title strong{
				font-size: 20px;
			}
			.block .block-title{
				padding-left: 7px 10px 11px 10px;
			}
			dt{
				padding:5px;
			}
		}
	}

	.cart {
		#shopping-cart-table {
			.tBody {
				.tBody_inner{
					*{
						font-size: 20px;
					}
				}
			}
		}
	}





	.col-main{
		button.button{
			border-radius: 4px !important;
			height: auto !important;
			line-height: inherit !important;
			color: $white !important;
			padding: 3px 14px 7px 14px !important;
			font-size: 25px !important;
			font-family: $prime-font !important;
			background: $primecolor !important;

			span{
				font-size: 25px!important;
				background: transparent !important;
				height: auto !important;
				line-height: inherit !important;
				font-family: $prime-font !important;
			}
		}

		.cont_btn a{
			border-radius: 4px !important;
			height: auto !important;
			line-height: inherit !important;
			color: $white !important;
			padding: 3px 14px 7px 14px !important;
			font-size: 25px !important;
			font-family: $prime-font !important;
			background: $primecolor !important;
		}
	}

	#cart-continue{
		margin-right: 15px !important
	}
	.opc .step-title .number{
		line-height: inherit;
	}
	.opc .step{
		padding:20px; 
	}
	.opc  .step-title h2{
		font-size: 25px;
	}
	.opc  .step-title {
		cursor: default;
		padding: 6px 9px 9px 9px;
		font-size: 25px;
	}

	.opc .active .step-title{
		background-color: #5cc6d0;
		color: $white;
	}

	.wrapper .page .main-container .block .block-content{
		font-size: 18px;

	}

	.back-link{
		a{
			font-size: 20px;
			color: $black;
		}
	}
}
.validation-advice{
	font-size: 12px;
}

.block-progress dd.complete, .block-progress dt.complete{
	background: #fff;
}


.youama-login-window .facebook_twitter_google .login_or, .youama-login-window .facebook_twitter_google .sign_or, .youama-login-window .facebook_twitter_google_sign .login_or, .youama-login-window .facebook_twitter_google_sign .sign_or, .youama-register-window .facebook_twitter_google .login_or, .youama-register-window .facebook_twitter_google .sign_or, .youama-register-window .facebook_twitter_google_sign .login_or, .youama-register-window .facebook_twitter_google_sign .sign_or{
	font-size: 18px;
	border: 4px solid #fff;
	line-height: 23px;
	margin-left: -17px;
}










/*product page */

.catalog-product-view{

	.product-options {
		padding: 0;
		margin: 0;
		border: 0px solid #ddd;
		background-color: #FFFFFF;
		dl, .size_guide_wrap {
			display: inline-block;
		}
		.size_guide_wrap {
			vertical-align: top;
			padding-top: 13px;
			a {
				padding-left: 30px;
				background: url(../images/size-guide-bg.png) no-repeat;
				margin-left: 10px;
			}
		}
	}
	dd { 
		height: 55px;
		margin: 0 0 10px;
		img {
			background: #929292;
			padding: 8px 15px;
			margin-right: 5px;
			&:first-child {
				border-radius: 18px 0 0 0;
			}
			&:last-child {
				border-radius: 0 0 18px 0;
			}
		}
		#size-options-select {
			span {
				background: #929292;
				color: #fff;
				font-size: 18px;
				font-weight: 400;
				padding: 8px 20px;
				display: inline-block;
				cursor: pointer;
				&:first-child {
					border-radius: 18px 0 0 0;
				}
				&:last-child {
					border-radius: 0 0 18px 0;
				}
				&:hover, &.active {
					background: #7165ad;
				}
			}
		}
	}
	
	.product-options-bottom {
		padding: 0;
		border: 0px solid #ddd;
		border-top: 0; 
		.g-product-description {
			width: 100%;
			padding: 0;
			border-top: 0;
			border-bottom: 0;
			text-align: left;
			margin: 0;
		}
		h1.g-product-title {
			font-size: 18px;
			color: #1e1e1e;
			padding: 22px 0 12px;
			font-weight: 600;
		}
		.accord_wrap {
			text-transform: lowercase;
			.feature_title {
				width: 80px;
				display: inline-block;
				margin: 3px 20px 2px 0;
				span {
					float: right;
				}
			}
		}
		ul.add-to-links {
			display: inline-block;
			li.product-page-write-review {
				font-size: 18px;
				color: #1e1e1e;
				padding: 22px 0 12px;
				font-weight: 600;
				cursor: pointer;
				text-transform: lowercase;
				span.review-img {
					display: none;
				}
			}
			.wishlist-sec {
				display: none;
			}
		}
		div.addthis_toolbox.addthis_default_style {
			display: inline-block;
			margin-left: 30px;
			float: none;
			width: auto !important;
			margin-top: 0 !important;
		}
		.add-to-cart {
			input#qty {
				padding: 0 10px;
				height: 40px;
				text-align: center;
				box-sizing: border-box;
				width: 50px!important;
			}
			label {
				margin-right: 10px;
				line-height: 40px;
				font-size: 1.2em;
				text-transform: lowercase;
			}
		}
		.whtsaap-share{
			display: none;
			&:before{
				content: "\e625";
				font-size: 1.3em;
				color: #aaa;
				left: 2px;
				position: relative;
				top: 3px;
			}
		}
	}
	.product-name {
		h1 {
			text-transform: lowercase;
			font-weight: normal;
			font-size: 1.7em;
		}
		.product_code {
			color: #363636;
			font-size: 14px;
			margin: 10px 0 0;
			font-weight: 600;
		}
	}
	.price-box {
		.regular-price{
			font-weight: 400;
			font-size: 24px;
			margin: 20px 0;
			display: inline-block;
		}
		.regular-price, .old-price, .special-price {
			.price {
				font-weight: 400;
				font-size: 24px;
				margin: 20px 0;
				display: inline-block;
			}
		}
		.special-price {
			margin-left: 20px;
			.special-price-percent {
				color: #dd4231;
				font-size: 18px;
			}
		}
		.old-price, .special-price {
			.price-label {
				display: none;
			}
		}
		.old-price {
			.price {
				position: relative;
				&:before {
					content: "";
					display: inline-block;
					position: absolute;
					border-top: 2px solid #DD4231;
					top: 50%;
					left: 0;
					width: 100%;
				}
			}
		}
		p {
			display: inline-block;
		}
	}
	#product-options-subscribe {
		table {
			tr {
				td {
					&.notify-pr {
						font-size: 0.8em;
						color: #444444;
					}
					button {
						&.btn-notify-pr {
							margin-top: 10px;
							span {
								border-radius: 18px 0;
							}
						}
					}
					input.input-text, textarea {
						padding: 7px 10px;
						margin-bottom: 5px;
						width: 50%!important;
					}
					h2 {
						color: #DD4231;
						font-size: 1.5em;
						margin-bottom: 20px;
					}
				}
			}
		}
	}
	.product-img-box {
		float: left;
		width: 50%;
		margin-right: 1%;
		position: relative;
		.product-image {
			border: 1px solid #fff;
			width: 83%;
			float: right;
			margin: 0;
			padding: 0;
			height: 720px;
			-webkit-box-shadow: 1px 1px 4px 1px rgba(230,230,230,1);
			-moz-box-shadow: 1px 1px 4px 1px rgba(230,230,230,1);
			box-shadow: 1px 1px 4px 1px rgba(230,230,230,1);
			img {
				width: 100%;
				height: auto;
				left: 0!important;
			}
		}
		.zoom, .zoom-notice {
			display: none;
		}
		.more-views {
			width: 15%;
			float: left;
			h2 {
				display: none;
			}
			li {
				float: left;
				padding: 1px;
				background-color: #fff;
				margin: 0 0 8px;
				width: 100%;
				height: auto;
				box-sizing: border-box;
				a {
					width: 100%;
					height: auto;
					img {
						width: 100%;
						height: auto;
						-webkit-box-shadow: 1px 1px 4px 1px #e6e6e6;
						-moz-box-shadow: 1px 1px 4px 1px #e6e6e6;
						box-shadow: 1px 1px 4px 1px #e6e6e6;
					}
				}
			}
		}
		.wishlist_pdp {
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: 9;
			li {
				list-style: none;

				box-sizing: border-box;
				background: #c8c8c8;
				.link-wishlist {
					padding: 12px 15px;
					text-transform: lowercase;
					color: #fff;
					font-size: 1.286em;
					font-weight: normal;
					vertical-align: top;
					display: inline-block;
					-webkit-transition: all 0.3s linear;
					-moz-transition: all 0.3s linear;
					-ms-transition: all 0.3s linear;
					-o-transition: all 0.3s linear;
					transition: all 0.3s linear;
					span {
						display: none;
					}
					&:before {
						content: "\e904";
						display: inline-block;
						font-size: 1em;
						color: #fff;
						font-family: "icomoon" !important;
						line-height: 1.286em;
						margin-right: 5px;
						top: 2px;
						position: relative;
						-webkit-transition: all 0.3s linear;
						-moz-transition: all 0.3s linear;
						-ms-transition: all 0.3s linear;
						-o-transition: all 0.3s linear;
						transition: all 0.3s linear;				    
					}
					&:hover {
						&:before {
							color: #dd4231;
						}
					}
				}
			}
		}
	}
	.product-name-resp {
		display: none;
	}

	.block-related {
		h1 {
			font-size: 18px;
			margin: 50px 0 35px;
			text-align: center;
			font-weight: 600;
			text-transform: lowercase;
			position: relative;
			&:before, &:after {
				content: "";
				display: inline-block;
				position: absolute;
				left: 0;
				top: 50%;
				width: 42%;
				border-top: 2px solid #d7d7d7;
			}
			&:after {
				right: 0;
				left: inherit;
			}
		}
		a {
			display: inline-block!important;
			width: 85%;
		}
	}
	.review-overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: #000;
		z-index: 91;
		opacity: 0.6;
		display: none;
	}
	#review_anchor {
		position: fixed;
		left: 50%;
		top: 20px;
		background: #fff;
		width: 100%;
		max-width: 786px;
		box-sizing: border-box;
		margin-left: -393px;
		border-radius: 18px 0 18px 0;
		text-transform: lowercase;
		z-index: 92;
		.review-form-main {
			padding: 20px 65px;
			position: relative;
			.close-btn-review {
				position: absolute;
				right: -16px;
				top: -12px;
				background: #1e1e1e;
				border-radius: 50%;
				width: 40px;
				height: 40px;
				text-align: center;
				color: #dd4231;
				font-size: 20px;
				line-height: 37px;
				cursor: pointer;
			}
			h2 {
				font-size: 1.670em;
				margin-bottom: 15px;
				color: #1e1e1e;
				font-weight: 400;
			}
			h4 {
				font-size: 1.286em;
				margin-bottom: 15px;
				em{
					color: #eb340a;
					font-style: normal;
				}
			}
			.validation-advice{
				font-size: 11px;
			}
			.data-table {
				tbody {
					th {
						text-align: left;
					}
				}
				td {
					width: 16.8%;
				}
			}
			caption, td, th {
				text-align: center;
				font-weight: 400;
				font-size: 1em;
			}
			.buttons-set {
				padding: 0;
				border: 0;
				margin: 25px 0 0;
				button.button {
					float: left;

				}
			}
		}
		.form-list {
			.input-box {
				width: 51%;
				border: 1px solid #c3c3c3;
				border-radius: 18px 0 18px 0;
				text-align: center;
				padding: 2px 0;
				box-sizing: border-box;
				position: relative;
				&.review-box {
					width: 100%;
				}
				.validation-advice{
					position: absolute;
					top: 38px;
					font-size: 11px;
				}
			}
			li {
				margin: 0 0 20px;
			}
			input {
				border: 0;
				padding: 0;
				&.input-text {
					width: 95%;
					display: inline-block;
					text-align: left;
					line-height: 34px;
					border: 0;
					padding: 0;
				}
				&.validation-failed{
					border: 0 !Important;
					background: #fff !Important;    					
				}
			}
			textarea {
				width: 95%;
				height: 8em;
				padding: 10px 0;
				border: 0;
			}
			label {
				font-size: 1.286em;
				margin-bottom: 10px;
				font-weight: 400;
			}
		}
		.data-table {
			th, td {
				border: 0;
			}
			tr {
				&.even {
					background-color: #fff;
				}
			}
			thead {
				background-color: #fff;
			}
		}
	}
	.review-box {
		width: 68%;
		border-top: 1px dashed #B5B5B5;
		padding-top: 10px;
		margin-top: 10px;
		span {
			font-size: 1.286em;
			&.review-date {
				font-size: 1em;
				color: #a1a1a1;
			}
		}
		dt {
			line-height: 22px;
			a {
				font-size: 1.286em;
				margin: 15px 0 5px;
				display: block;
			}
		}
		&:first-child {
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}
	}
	#customer-reviews {
		h2 {
			font-size: 2em;
			margin-bottom: 40px;
		}
	}

	.link-wishlist{
		display: none !important;
	}

	.plus_ico{
		display: none !important;
	}

}

.cart .discount-form{
	margin-bottom: 30px;
}

.col1-layout .product-view #review_anchor .form-list .input-box{
	border-radius: 4px !important;
}

.col1-layout .product-view #review_anchor .form-list input.input-text{
	line-height: 21px !important;
}


#payment_form_secureebs_standard{
	.m-fix, v-fix{
		width: 49%;
		float: left;

		select{
			width: 100%;
		}

		label{
			display: block;
			width: 100%;
		}
	}
}

.checkout-onepage-success{

	.page-title h1{
		font-size: 25px;
		margin-top: 30px;
	}
	.order-conf{
		margin-top: 30px;
		font-size: 21px;

		.thankyou{
			h3{
				font-size: 25px;
			}
		}
	}

	.sub-title{
		font-size: 22px;
	}

	.buttons-set {
		margin-bottom: 30px;
		display: inline-block;
		border: 0;
		margin-top: 30px;
	}

	.col-main{
		font-size: 20px;
		text-align: center;
	}

	col-right.sidebar{
		display: none !important;
	}

	.buttons-set{
		margin-bottom: 30px;
	}

	td{
		padding:5px 10px;
	}

	.product_details{
		table{
			width: 60%;
		}
	}
}


.account_pages .wrapper .page .main-container .main .col-main #my-orders-table th{
	font-size: 20px;
	font-family: $prime-font !important;
}
.account_pages .wrapper .page .main-container .main .col-main #my-orders-table td {
	padding: 5px;
	border: 1px solid #2A2A2A;
	font-size: 18px;
}

.category-products ul.products-grid li.item .product-cart-div .configurable_avail_sizes{
	left: 0;
	background: rgba(230, 230, 230, 0.6);
	margin: 0;
	right: 0;
	left: 0;
	top: 53px;
	padding: 10px;

	.email-for-notify-me{
		font-size: 18px;
	}

	.notify-me-trigger{
		font-size: 18px;
	}
}

.category-products ul.products-grid li.item .product-cart-div .configurable_avail_sizes span{
	font-weight: normal;
	font-size: 16px;
}

.cart #shopping-cart-table .tBody{
	overflow: auto;
	max-height: 560px;
}


.category-products .products-grid .simpleProductBlock .btn-cart.simple-product-add-cart i:before{
	content:"+";
	color: #cacaca;
	font-size: 32px;
	font-weight: bold;
}

.youama-login-window .facebook_twitter_google, .youama-login-window .facebook_twitter_google_sign, .youama-register-window .facebook_twitter_google, .youama-register-window .facebook_twitter_google_sign{
	width: 50%;
}


body.checkout-onepage-index .wrapper .page .main-container .main .col-right{
	width: 30%;
	margin-top: 64px;
}
body.checkout-onepage-index .wrapper .page .main-container .main .col-main{
	width: 68%;
	float: left;
	padding:0;
}


.mm-menu .mm-listview>li .mm-arrow:after, .mm-menu .mm-listview>li .mm-next:after {
	border-color: rgb(255, 255, 255);
}

.mm-listview > li:not(.mm-divider):after {
	left: 0;
	color: #6b6a6a;
}

#mm-blocker {
	background: rgba(3, 2, 1, 0.3);
}
.customer-address-index .main-container button.button span {
	font-size: 22px !important;
}

.account_pages .form-list select{
	border-radius: 4px  !important;
}

.addresses-list, .account_pages .change_add a{
	font-size: 18px;
}

.cms-page-view .std a{
	color: $primecolor !important
}

.col1-layout {
	.product-view {
		#product_addtocart_form{
			width: 100%;
			float: left;
		}

		.whtsaap-share {
			color: $primecolor !important;
		}

		.block-related {
			h1{
				margin: 20px 0;
				text-align: left;
				position: relative;
				margin: 20px 0;
				font-family: $prime-font;
				text-align: left;
				font-size: 24px;
				text-transform: uppercase;
				font-weight: normal;

				&:after,&:before{
					display:none;
				}
			}
		}

		#product_addtocart_form{
			float: left;
			width: 100%;
			position: relative;
			border: 2px $primecolor solid;
			overflow: hidden;
			border-top: 5px $primecolor solid;

			&:before{
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 50%;
				width: 2px;
				background: $primecolor;
			}
		}

		.product-collateral{
			margin-top:20px;
			float: left;
			width: 100%;
		}

		.product-essential{
			float: left;
			width: 100%;
			position: relative;
			overflow: hidden;			
		}

		.product-shop {
			padding: 15px 15px 15px 0;

			.product_description{
				margin: 8px 0;
			}

			.quantity{
				span{
					cursor: pointer;
					font-size: 21px;
					font-weight: bold;
					padding: 5px 8px;
				}
			}



			.add-to-cart{
				float: left;
			}

			.quantity{
				float: right;
			}

			label{
				font-size: 22px;
			}

			

			input#qty{
				text-align: center;
				width: 60px !important;
				background: #e2e2e3;
				padding: 28px 0px;
				border-radius: 4px !important;
			}


			.add-to-links{
				clear: both;
				margin: 20px 0;

				.link-wishlist{
					display: block !important;
					padding-left: 30px;
					color: $primecolor !important;
					background: url(../images/custom/wishlist-gray.png) left center no-repeat;
				}
			}


			.btn-cart{
				>span{
					background: url(../images/custom/cartbig.jpg) left center no-repeat !important;
					background-size: 32px !important;
					padding-left: 37px;
					padding-right: 10px;
				}
				span{
					font-size: 28px !important;
				}
			}


			.block-check-delivery{
				margin: 0;
				padding: 0;
				.block-title{
					border: 0;
					display: inline-block;
					padding: 0;
				}
				.block-content{
					display: inline-block;
					vertical-align: middle;

					.message{
						font-size: 16px;

					}

					.input-wrap{

						border-bottom: 1px solid #ccc;
					}

					input{
						padding: 5px 10px !important;
						border:0 !important;
						font-size: 17px !important;
						width: 180px;
					}

					button{
						background: transparent !important;
						color: $primecolor !important;
						padding-left: 4px !important;

						span{
							padding: 0 !important;
							color: $primecolor !important;
						}
					}

					br{
						display: none;
					}
				}
			}

			.price-box {
				.special-price {
					margin-left: 12px;
					.special-price-percent{
						color: $primecolor !important;
						margin-left: 5px;
					}
				}
			}

			.special-price, .regular-price{
				color: $primecolor !important;
				.price{
					font-size: 28px !important;
					color: $primecolor;
				}

				.currency_symbol{
					color: $primecolor !important
				}
			}

			.each_feature{
				margin: 20px 0;
			}

			*{
				font-size: 18px;
				text-transform: uppercase;
				color: #6d6e71;
				font-weight: normal;
			}
			.product-name {
				.product_code{
					font-size: 18px;
					text-transform: uppercase;
					color: #6d6e71;
					font-weight: normal;
					margin:0;
					padding: 0;
				}
				h1{
					color: #6d6e71;
					font-size: 35px;
					font-family: 'Chisel Condensed';
					font-weight: normal;
					text-transform: uppercase;
					font-style: normal;
					margin: 0px 0px 20px 0px;
				}
			}
		}

		.product-img-box{
			border-right: 0;
			padding: 20px;
			.product-image{
				width: 100%;
				height: auto;
				overflow: hidden;
				box-shadow: none;
				border:0;

				img{
					position: static;
				}
			}

			.more-views {
				width: 40%;
				position: absolute;
				bottom: 15px;
				left: 30px;
				z-index: 10;

				li{
					margin-bottom: 0;
					padding: 5px;
					a{
						img{
							box-shadow: none;
							border-radius: 5px;
							border:2px solid $primecolor;
						}
					}
				}
			}
		}

		.slick-prev, .slick-next{
			background: $primecolor;
			color: $white;
			border-radius: 2px;
		}

		.slick-prev:before, .slick-next:before{
			font-size: 16px;
			opacity: 1;
			color: $white;
		}
	}

	.slick-slider{
		margin-bottom: 0;
	}
}

.recently_viewed_slider2 {
	.related-items {
		.productName{
			height: auto;
		}
	}
}

.col1-layout .product-view .product-shop .product-options dd #size-options-select span:hover, .col1-layout .product-view .product-shop .product-options dd #size-options-select span.active{
	background: $primecolor;
	color: $white;
	border:1px solid $primecolor;
}

.col1-layout .product-view .product-shop .product-options dd #size-options-select span{
	background: $white;
	border-radius: 4px !important;
	color: #ccc;
	font-size: 17px;
	padding: 5px 10px;
	border:1px solid #ccc;
}

.col1-layout .product-view .product-shop .product-options .size_guide_wrap {
	vertical-align: top;
	padding-top: 4px;
}

.product-collateral{
	clear: both;
}
.col1-layout .product-view .product-shop .product-options-bottom div.addthis_toolbox.addthis_default_style{
	margin-left: 0;
}

.recently_viewed_slider2 .related-items .productName{
	font-size: 20px;
	font-weight: normal !important;
}

@media only screen and (max-width: 1200px) {

	.testimonial-wrap {
		.custom-container{
			background-position: 98.5% top;
		}
	}
}
@media only screen and (max-width: 1024px) {
	.footer-container .footer .shippingreturns .shippingpolicy{
		padding: 0px 2% 0% 2%;
	}
	.footer-container .footer .shippingreturns .shippingpolicy:last-child {
		padding: 0 2%;
	}
	.account_pages .main .breadcrumbs{
		padding: 0;
	}
	.mm-menu {
		background: #4c4c4c;
	}
	.promo-banner-wrapper .custom-container{
		padding: 0 10px;
	}
	#nav{
		li {
			border: 0;

			&.mm-opened {
				div.submenu_wrap{
					background:#6b6a6a !important; 

					li{
						border-bottom: 1px solid #8c8a8a;
						a{
							color: $white !important;
							font-size: 20px;

							&:hover{
								color:$primecolor;
							}
						}

						&:hover{
							background: #7f7d7d;
						}
					}
				}
			}
			>div{
				border-top: 1px solid #8c8a8a;
			}

			&:hover{
				background:#6b6a6a;
				a{
					color:$primecolor;
				}
			}
			a{
				float: none;
				color: $white;
				font-size: 22px;

				&:hover{
					color:$primecolor;
				}
			}

			a.mm-next, a.mm-prev{
				height: 36px;
			}
		}
	}
	.page {
		.header-container{
			margin-bottom: 0;
			padding-bottom: 0;
			border: 0;

			.top-links-page {
				.top-links-main {
					.links-left-top{
						display: block;
						float: left;
					}
				}
			}

			.main-content-page {
				float: left;
				.left_section {
					padding-top: 15px;
					min-height: 61px;

					.head-right{
						width: 100%;
						margin-top: 0; 
						clear: both;
						padding: 14px;
						top: 76px;
						border: 0;
						border-top: 1px solid #ccc;
						border-bottom: 1px solid #ccc;

						.quick-access {
							.form-search {
								height: 30px;
								button.button{
									position: absolute;
									right: 0;
								}

								input#search{
									width: 100%;
								}
							}
						}
					}

					.logo_pan {
						margin-top: 0;
						.logo_head {
							.logo img{
								max-width: 220px;
							}
						}
					}
					a.mobile_menu_icon, .search-icon-mob{
						float: left;
						position: static;
						width: auto;
						border-radius: 4px;
						margin-right: 8px;

						&:before{
							background:$primecolor;
							border-radius: 4px;
							color: $white;
							font-size: 22px;
							padding: 0 15px; 
						}
					}
				}
			}
		}

		.top-left-login{
			float: right;
			margin-left: 8px;

			.search_links {
				ul.dropdown-menu{
					right: 0;
					width: 200px;
					top: 45px;

					&:before{
						left: inherit;
						right: 12px;
					}
				}
			}
		}
		.top-main-menu-blk {
			.cart_link_wrapper {
				.header-cart-link {
					span{
						&:before{
							position:static;
							height: auto;
							line-height: inherit;
						}
					}
				}

				.header-cart-link{
					padding: 6px 13px;
				}
			}
		}
	}

	.search_wrap.loggedin{
		position: relative;
		.welcome-msg{
			cursor: pointer;
			background: $primecolor;
			border-radius: 4px;
			span{
				font-size: 0;
				display: none;
			}

			&:before{
				content: "\e911";
				display: inline-block;
				font-family: "icomoon" !important;
				color: #fff;
				font-size: 24px;
				z-index: 0;
				padding: 0 15px;
				height: 36px;
				line-height: 36px;

			}
		}


	}

	body .breadcrumbs{
		margin: 10px auto;
	}
	.catalog-category-view .wrapper .page .main-container .main .col-main .filter-name-wrap, .catalogsearch-result-index .wrapper .page .main-container .main .col-main .filter-name-wrap{
		padding: 15px 0;
	}

	.category-products .products-grid .item{
		padding: 10px !important
	}
	.category-products .products-grid .desc_wrapper .product-name{
		margin-top: 10px;
	}
	.category-products .products-grid .item {
		width: 32.33% !important;
	}

	.page .top-left-login .top-link-login{
		cursor: pointer;
		background: #5cc6d0;
		border-radius: 4px; 
		display: block;
		&:before{
			content: "\e911";
			display: inline-block;
			font-family: "icomoon" !important;
			color: #fff;
			font-size: 24px;
			z-index: 0;
			padding: 0 15px;
			height: 36px;
			line-height: 36px;
		}

		span{
			display: none;
		}
	}

}

@media only screen and (max-width: 920px) {
	.block-layered-nav.fixed-filter{
		top: 0px;
	}
}

@media only screen and (max-width: 800px) {
	.col1-layout .product-view #product_addtocart_form:before{
		display: none;
	}
	.col1-layout {
		.product-view {
			.product-essential{

				&:before{
					display:none;
				}
			}

			.product-shop{
				border-top: 2px solid $primecolor;
				padding: 15px;

				.quantity{
					float: left;
					margin-left: 20px;
				}
			}
		}

	}
}

@media only screen and (max-width: 768px) {
	.account_pages .wrapper .page .main-container .main .col-left .gd-col {
		width: 96%;
		border-radius: 4px;
		padding: 0px 5px 6px 5px;
		margin: 0 auto;
		float: none;
		display: block;
	}

	.order-table-wrapper{
		overflow: auto;
		clear: both;
		margin: 10px 0;
	}

	.account_pages .wrapper .page .main-container .main .col-main #my-orders-table td{
		font-size: 16px;
	}


	.sales-order-history.account_pages .wrapper .page .main-container .main .col-main #my-orders-table td{
		padding: 5px !important;
	}
	html body.account_pages .wrapper .page .main-container .main .extra_curve {
		border-radius: 4px !important;
	}

	html body.account_pages .wrapper .page .main-container .main .nav-section {

		border-radius: 4px !important;
		margin: 0 auto;
		width: 96%;
	}
	.account_pages .fk-lcat-main-header{
		font-size: 27px;
	}

	.account_pages .wrapper .page .main-container .main .col-main{
		top: 0;
		margin-top: 50px;
	}
}

@media only screen and (max-width: 736px) {
	.page .top-main-menu-blk .cart_link_wrapper .header-cart-link {
		float: none;
	}

	.recently_viewed_slider2 .related-items .productName{
		font-size: 18px;
		font-weight: normal !important;
	}

	.page .header-container .top-links-page .top-links-main{
		font-size: 13px;
	}
	.mm-menu .mm-listview > li.store-link{
		display: none !important;
	}
	.page .header-container .top-links-page{
		display: block;
	}
	.catalog-category-view .wrapper .page .main-container .main .col-main .filter-values-wrap .filter-inner, .catalogsearch-result-index .wrapper .page .main-container .main .col-main .filter-values-wrap .filter-inner {
		padding: 5px;
	}
	.catalog-category-view .wrapper .page .main-container .main .col-main .filtername-top, .catalogsearch-result-index .wrapper .page .main-container .main .col-main .filtername-top{
		font-size: 16px;
	}
	.catalog-category-view .wrapper .page .main-container .main .col-main .filtername-top:after, .catalogsearch-result-index .wrapper .page .main-container .main .col-main .filtername-top:after{
		height: 28px;
	}
	.catalog-category-view .wrapper .page .main-container .main .col-main .head-label, .catalogsearch-result-index .wrapper .page .main-container .main .col-main .head-label{
		font-size: 17px;
		line-height: 24px;
	}
	.catalog-category-view .wrapper .page .main-container .main .col-main .currently .label, .catalogsearch-result-index .wrapper .page .main-container .main .col-main .currently .label{
		font-size: 17px;
		text-transform: uppercase;
	}
	.catalog-category-view .wrapper .page .main-container .main .col-main .currently, .catalogsearch-result-index .wrapper .page .main-container .main .col-main .currently{
		margin: 5px auto;
	}
	.catalog-category-view .sorter a, .catalogsearch-result-index .sorter a {
		text-transform: uppercase;
		color: #6d6e71;
		font-size: 16px;
		padding: 0 7px;
		line-height: 14px !important;
		display: inline-block;
	}

	.mobile_filter_icon{
		display: none !important;
	}

	.promo-banner-wrapper .promo-image{
		padding:0 6px 15px;
	}

	.slick-slider{
		margin-bottom: 20px;
	}

	.page .header-container .main-content-page .left_section .logo_pan{
		padding:0; 
	}

	.search_wrap.loggedin .welcome-msg:before{
		font-size: 16px;
		padding: 0 12px;
		height: 32px;
		line-height: 32px;
	}
	.footer-container .footer .copy-right-wrap {
		width: 100%;
		background: #353232;
		padding: 12px 0px;
	}
	.page .top-main-menu-blk .cart_link_wrapper .header-cart-link {
		padding: 4px 13px;
		height: 32px;
		line-height: 24px;
	}

	.page .header-container .main-content-page .left_section{
		min-height: 50px;
		padding-top: 11px;
	}
	.page .header-container .main-content-page .left_section .logo_pan .logo_head .logo img {
		max-width: 180px;
	}
	.page .header-container .main-content-page .left_section a.mobile_menu_icon:before, .page .header-container .main-content-page .left_section .search-icon-mob:before{
		line-height: 32px;
		height: 32px;
		font-size: 13px;
	}
	.page .top-main-menu-blk .cart_link_wrapper .header-wishlist-link{
		margin-right: 0;
		height: 32px;
	}
	.page .header-container .main-content-page .left_section a.mobile_menu_icon, .page .header-container .main-content-page .left_section .search-icon-mob{
		height: 32px;
		line-height: 32px;
	}
	.page .header-container .main-content-page .left_section a.mobile_menu_icon:before, .page .header-container .main-content-page .left_section .search-icon-mob:before{
		font-size: 16px;
		padding: 0 12px;
		line-height: 32px;
	}
	.page .top-main-menu-blk .cart_link_wrapper .header-cart-link span:before{
		font-size: 16px;
	}
	.page .top-left-login .search_links ul.dropdown-menu:before {
		right: 4px;
	}
	.page .top-main-menu-blk .cart_link_wrapper .header-cart-link {
		padding: 4px 13px;
	}

	.mm-menu{
		.custom-container{
			padding:0;
		}
	}

	#menu .footer-links-mob h4.footerheadings.arrow-down{
		&:before{
			display:none;
		}

		&::after{
			content: '';
			border: 2px solid transparent;
			display: block;
			width: 8px;
			height: 8px;
			border-right-color: $white;
			border-bottom-color: $white;
			margin: auto;
			border-top: none;
			border-left: none;
			position: absolute;
			top: 0;
			bottom: 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
	ul.policy.mm-listview:before{
		border:0;
	}

	ul.policy.mm-listview{
		background: #6b6a6a;

		li{
			border-bottom: 1px solid #8c8a8a;
			&:hover{
				background: #7f7d7d;
			}
			>a{
				padding: 8px 10px 8px 15px;
				font-size: 20px;
				color: $white;

			}
		}
	}


	#menu .footer-links-mob h4.footerheadings{
		padding: 8px 10px;
		border-bottom: 1px solid #6b6a6a;
		font-size: 22px;
		color: #fff;
		font-weight: normal;
		font-family: $prime-font !important;

		&:before{
			display:none;
		}
		&:after{
			content: '';
			border: 2px solid transparent;
			display: block;
			width: 8px;
			height: 8px;
			border-right-color: $white;
			border-bottom-color: $white;
			margin: auto;
			border-top: none;
			border-left: none;
			position: absolute;
			top: 0;
			bottom: 0;
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	}

	.page .header-container .main-content-page .left_section .head-right{
		top: 65px;
	}
	.page .top-main-menu-blk .cart_link_wrapper .header-wishlist-link{
		display: none; 
	}
	.page .top-main-menu-blk .cart_link_wrapper{
		height: auto;
	}
	.cart #shopping-cart-table .tFoot .tFootinner .cart_pro_btn button.button {
		float: none;
		margin: 0 5px 10px !important;
	}
	.cart #shopping-cart-table .tFoot .tFootinner .cart_pro_btn{
		text-align: center;
	}
	.cart #shopping-cart-table .tFoot .tFootinner .cart_pro_btn .checkout-types{
		float: none;
	}

	.catalog-product-view .block-related h1:before, .catalog-product-view .block-related h1:after{
		display: none;
	}

	.page .top-left-login .top-link-login:before{
		height: 32px;
		line-height: 32px;
		font-size: 16px;
	}

	body.checkout-onepage-index .wrapper .page .main-container .main .col-right {
		width: 100%;
		margin-top: 34px;
	}
	body.checkout-onepage-index .wrapper .page .main-container .main .col-main {
		width: 100%;
	}
}

@media only screen and (max-width: 640px) {
	.category-products .products-grid .item {
		width: 48% !important;
		margin:0 1% 20px !important; 
	}
	.category-products .products-grid .desc_wrapper .product-name{
		font-size: 16px !important;
	}
	.category-products .products-grid .desc_wrapper .price-box .old-price .price{
		font-size: 16px !important;
	}
	.category-products .products-grid .desc_wrapper .price-box .special-price .price{
		font-size: 18px !important;
	}
	.category-products ul.products-grid li.item .desc_wrapper .price-box .old-price .price-saving-percentage, .category-products ul.products-grid li.item .desc_wrapper .price-box .special-price .price-saving-percentage{
		font-size: 15px;
		letter-spacing: 0;
	}
	.customer-account-index #my-orders-table td:before{
		width: 75px;
	}

	.account_pages .wrapper .page .main-container .main .col-main #my-orders-table td a{
		font-weight: bold;
	}
	.customer-account-index #my-orders-table td{
		padding-left: 95px !important;
	}

	.category-products .products-grid .link-wishlist{
		right: 10px;
		top: 10px;
	}

	.category-products .products-grid .btn-cart{
		left: 10px;
		top: 10px;
	}

	.col-main button.button span {
		font-size: 20px !important;
	}
	.category-products .products-grid .btn-cart span.icon-category_cart:before{
		font-size: 26px;
	}
	.category-products .products-grid .link-wishlist{
		background-size: 20px;
	}

	.customer-account-index #my-orders-table td{
		font-size: 16px;
	}
	.customer-account-index #my-orders-table td:before{
		color: $black;
		font-weight: bold;
	}
}

@media only screen and (max-width: 533px) {
	.page .header-container .main-content-page .left_section a.mobile_menu_icon:before, .page .header-container .main-content-page .left_section .search-icon-mob:before {
		font-size: 11px;
		padding: 0 12px;
		line-height: 26px;
		height: 26px;
	}

	.col1-layout .product-view .product-shop{
		padding: 10px;
	}
	.col1-layout .product-view .product-shop .product-name h1{
		font-size: 27px;
		margin: 0px 0px 12px 0px;
	}
	.page .top-left-login .top-link-login:before {

		font-size: 13px;
		z-index: 0;
		padding: 0 12px;
		height: 26px;
		line-height: 26px;
	}
	.page .header-container .main-content-page .left_section {
		min-height: 36px;
		padding-top: 6px;
		margin-top: 6px;
		margin-bottom: 8px;
	}

	.page .header-container .main-content-page .left_section .logo_pan .logo_head{
		display: block;
		float: left;
	}

	.page .header-container .main-content-page .left_section a.mobile_menu_icon, .page .header-container .main-content-page .left_section .search-icon-mob{
		height: 26px;
		line-height: 26px;
	}
	.page .top-main-menu-blk .cart_link_wrapper .header-cart-link{
		height: 26px;
		line-height: 26px;
		padding: 0 10px !important;
	}
	.search_wrap.loggedin .welcome-msg:before {
		font-size: 11px;
		padding: 0 12px;
		height: 26px;
		line-height: 26px;
	}
	.page .header-container .main-content-page .left_section .head-right {
		top: 44px;
		padding: 10px 10px 7px 10px;
	}
	.page .top-left-login .search_links ul.dropdown-menu:before {
		right: 1px;
	}
	.testimonial-wrap .custom-container {
		background-position: 98.5% top;
		background-size: 36px;
	}
	.page .top-left-login .search_links ul.dropdown-menu {

		top: 34px;
		z-index: 111;
	}
	.page .top-main-menu-blk .cart_link_wrapper .header-cart-link span:before {
		font-size: 11px;
		margin-right: 0;
	}
	.page .header-container .main-content-page .left_section .logo_pan .logo_head .logo img {
		max-width: 125px;
	}
	.page .header-container .main-content-page .left_section a.mobile_menu_icon, .page .header-container .main-content-page .left_section .search-icon-mob{
		margin-right: 4px;
	}
	.page .top-left-login{
		margin-left: 4px;
	}
}


@media only screen and (max-width: 500px) {
	.col1-layout .product-view .product-shop .quantity{
		margin-left: 0;
		clear: both;
		margin-top: 15px;
	}
}

@media only screen and (max-width: 360px) {
	.page .header-container .top-links-page .top-links-main {
		font-size: 12px;
	}
	.col1-layout .product-view .product-shop *{
		font-size: 16px;
	}

	.col1-layout .product-view .product-shop .special-price .price, .col1-layout .product-view .product-shop .regular-price .price{
		font-size: 22px !important
	}

	.col1-layout .product-view .product-shop .price-box {
		margin: 15px 0;
	}

	.col1-layout .product-view .product-shop .price-box .regular-price .price, .col1-layout .product-view .product-shop .price-box .old-price .price, .col1-layout .product-view .product-shop .price-box .special-price .price{
		margin-top: 0;
		margin-bottom: 0;
	}

	.page .header-container .top-links-page .top-links-main .links-right-top span{
		display: none;
	}

	.page .header-container .top-links-page .top-links-main .links-right-top img{
		width: 15px;
	}
	.promo-banner-wrapper .promo-image {
		padding: 0 2px 7px;
	}
	.testimonial-wrap .custom-container{
		background: transparent;
	}
	.catalog-category-view .wrapper .page .main-container .main .col-main .filtername-top, .catalogsearch-result-index .wrapper .page .main-container .main .col-main .filtername-top{
		margin: 0 5px 2px;
	}
	.catalog-category-view .wrapper .page .main-container .main .col-main .filtername-top:before, .catalogsearch-result-index .wrapper .page .main-container .main .col-main .filtername-top:before {

		padding: 5px 5px 1px 0px;
		font-size: 13px;
		top: 0;
		right: 0;
	}

	.catalog-category-view .wrapper .page .main-container .main .col-main .filtername-top, .catalogsearch-result-index .wrapper .page .main-container .main .col-main .filtername-top{
		width: 95px;
		float: left;
		position: relative;
		padding: 2px 30px 4px 0 !important;
	}
	.catalog-category-view .wrapper .page .main-container .main .col-main .filtername-top:after, .catalogsearch-result-index .wrapper .page .main-container .main .col-main .filtername-top:after {
		height: 24px;
	}

	.promo-banner-wrapper .promo-image{
		width: 100%;
	}

	.category-products .products-grid .item{
		width: 98% !important;
		margin: 0 1% 15px !important;

	}
}