@import 'var';
@import 'mixin';
body {
	font-size: 14px;
}
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Header */
a {
    text-decoration: none;
}
ul {
	&.new_nav.nav {
	    display: none;
	}
}

.nav-hide-menu {
	display: none;
}

.catalog-product-view {
	.main-container {
		.main {
		    margin: 30px auto 0;
		}
	}
}
.main-container.col1-layout {
    display: inline-block;
    width: 100%;
}
.header {
    padding: 0;
    border: 0;
}
.secure_shipping.mobile {
	display: none;
}
.page {
	background: #fff;
	width: 1200px;
	padding: 0;
	.header-container{
	 	width: 100%;
	 	max-width: 1200px;
	 	.top-links-page{
	 		background-color: $white;
	 		border-bottom: 1px solid $white;
	 		padding: 10px 0;
	 		height: auto;
	 		.top-links-main{
	 			overflow: auto;
	 			.links-left-top {
				    float: left;
				    text-decoration: none;
					font-size: 1em;
					color: #444444;
					font-weight: 600;
					padding: 0px;
					text-transform: uppercase;
					letter-spacing: 2px;
				}
				.links-right-top {
				    float: right;
				    text-decoration: none;
					font-size: 1em;
					color: #444444;
					font-weight: 600;
					padding: 0px;
					text-transform: uppercase;
					letter-spacing: 2px;
				}
	 		}
	 		.links-left-top, .links-right-top{
	 			ul{
	 				li{
	 					border-right: 0px solid #969696;
	 					a{
	 						padding: 0px;
	 						text-transform: uppercase;
	 						letter-spacing: 2px;
	 					}
	 				}
	 			}
	 		}
	 	}
	 	.main-content-page{
	 		padding: 0;
	 		display: inline-block;
    		width: 100%;
	 		.left_section{
	 			text-align: center;
	 			margin-bottom: 25px;
	 			.search-icon-mob {
	 				display: none;
	 			}
	 			.head-left, .head-right{
	 				float: left;
	 				width: 33%;
	 				line-height: 97px;
	 				.locator-link{
	 					text-align: left;
	 					a{
	 						text-transform: lowercase;
	 						font-size: 20px;
	 						display: inline-block;
	 						margin: 10px 0 0 0;
	 						&:before{
	 							content: "\e914";
	 							display: inline-block;
	 						    font-family: 'icomoon'!important;
	 						    color: $primecolor;
	 						    position: relative;
	 						    top: 3px;
	 					    	right: 3px;
	 					    	font-size: 1.1em;
	 						}
	 					}
	 				}
	 				.quick-access{
	 					display: inline-block;
	 					.form-search{
	 						border: 1px solid $lightgray;
	 						-webkit-border-top-left-radius: 20px;
	 						-moz-border-radius-topleft: 20px;
	 						border-top-left-radius: 20px;
	 						border-bottom-right-radius: 20px;
	 						-webkit-border-bottom-right-radius: 20px;
	 						-moz-border-radius-bottomright: 20px;
	 						padding: 0;
	 					    line-height: 0;
	 					    height: 40px;
	 					    text-align: left;
	 					    padding: 0px;
	 					    -webkit-box-shadow: 0px 1px 2px 0px rgba(191,191,191,0.74);
							-moz-box-shadow: 0px 1px 2px 0px rgba(191,191,191,0.74);
							box-shadow: 0px 1px 2px 0px rgba(191,191,191,0.74);
							position: relative;
	 						input#search{
	 							margin: 0!important;
	 							border: 0;
	 							line-height: 40px;
	 							height: 40px;
	 							padding: 0 15px;
	 							width: 250px;
	 							box-sizing: border-box;
	 							background: transparent;
	 							font-weight: 400;
							    color: #5f5f5f;
							    font-size: 1.228em;
							    text-transform: lowercase;
	 						}
	 						button.button{
	 							background-color: $lightgray;
	 							height: 40px;
	 							border-bottom-right-radius: 18px;
	 							-webkit-border-bottom-right-radius: 18px;
	 							-moz-border-radius-bottomright: 18px;
	 							span{
	 								display: none;
	 							}
	 							&:before{
	 								content: "\e913";
	 								display: inline-block;
	 							    font-family: 'icomoon'!important;
	 							    color: $primecolor;
	 							    position: relative;
	 							    top: 0px;
	     							right: 0px;
	 						    	font-size: 2em;
	 						    	padding: 0 15px 0 10px;
	 						    	color: $white;
	 							}
	 						}
	 						#search_autocomplete {
								width: 100%!important;
								height: 300px;
								position: absolute;
							    left: 0!important;
							    top: 100%!important;
							    z-index: 91;
							    background: #fff;
							    border: 2px solid #E2E2E2;
							    padding: 10px;
							    box-sizing: border-box;
							    overflow-y: scroll;
							    ul {
							    	display: block;
							    	width: 100%;
							    	li {
							    		width: 100%;
							    		display: block;
							    		border-bottom: 1px solid #000;
							    		padding: 5px 0;
							    		border-bottom: 1px solid #E2E2E2;
    									padding: 16px 5px;
    									box-sizing: border-box;
    									text-transform: lowercase;
    									cursor: pointer;
    									a{
    										.image-cell{
											    float: left;
    											margin: 0 0px 0 0;
    										}
    										.pl-10 {
											    float: left;
											    display: inline-block;
											    width: 80%;
											    span.autosuggest_prod_name {
												    display: block;
												    width: 100%;
												    margin: 0 0 10px 0;
												    line-height: 20px;
												}
												span.autosugges_price {
												    display: block;
												    margin: 10px 0 0 0;
												    text-transform: capitalize;
												}
											}
    									}
    									span.amount {
										    display: none;
										}
										&:last-child {
											border-bottom: 0;
										}
							    	}
							    }
							}
	 					}
	 				}
	 			}
	 			.logo_pan{
	 				float: none;
	 				display: inline-block;
	 				text-align: center;
	 				.logo_head{
	 					display: inline-block;
	 					.logo{
	 						strong {
								display: none;
							}
	 					}
	 				}
	 			}
	 			.head-right{
	 				float: right;
	 				text-align: right;
	 			}
	 		}
	 		
	 	}
	}
	.top-main-menu-blk{
	 	background-color: $white;
	 	position: relative;
	 	width: 100%;
	 	max-width: 1200px;
	 	text-align: center;
	    margin: 0 auto;
	    float: left;
    	width: 100%;
	 	.cart_link_wrapper{
	 		position: absolute;
	 		right: 10px;
	 		height: 36px;
	 		.after-product-added {
			    display: none;
			}
	 		.header-wishlist-link{
	 			display: none;
	 		}
	 		.header-cart-link{
	 			.cart-text{
	 				font-size: 0px;
	 			}
	 			span{
	 				position: relative;
	 				display: inline-block;
	 				&:before{
	 					content: "\e90a";
	 					display: inline-block;
	 				    font-family: 'icomoon'!important;
	 				    color: $white;
	 			    	font-size: 1.9em;
	 			    	background-color: $primecolor;
	 			    	z-index: 0;
	 			    	padding: 5px 15px 4px;
	 			    	-webkit-border-top-left-radius: 18px;
	 					-moz-border-radius-topleft: 18px;
	 					border-top-left-radius: 18px;
	 					margin-right: 0px;
	 					height: 27px;
	 				}
	 				label{
	 					position: absolute;
	 					z-index: 10;
	 					color: $primecolor;
	 					left: 17px;
	 					top: 12px;
	 					width: 24px;
	 					cursor: pointer;
	 				}		
	 			}
	 		}
	 		.search_links{
	 			width: 40px;
	 			display: inline-block;
	 			vertical-align: top;
	 			.search_wrap{
	 				padding-right: 0;
	 				vertical-align: top;
	 				ul.links{
	 					li{
	 						a{
	 							display: inline-block;
	 							&:before{
	 								content: "\e911";
	 								display: inline-block;
	 							    font-family: 'icomoon'!important;
	 							    color: $white;
	 						    	font-size: 1.7em;
	 						    	background-color: $primecolor;
	 						    	z-index: 0;
	 						    	padding: 0 15px;
	 						    	height: 36px;
	 						    	line-height: 36px;
	 					    	    border-bottom-right-radius: 18px;
	 							    -webkit-border-bottom-right-radius: 18px;
	 							    -moz-border-radius-bottomright: 18px;
	 							}
	 							span{
	 								font-size: 0px;
	 								display: none;
	 							}
	 						}
	 					}
	 				}
	 				&.loggedin {
	 					p.welcome-msg {
	 						height: 36px;
	 						cursor: pointer;
	 						span {
	 							font-size: 0;
	 							vertical-align: top;
	 							img {
	 								display: none;
	 							}
	 						}
	 						&:before {
 								content: "\e911";
							    display: inline-block;
							    font-family: "icomoon" !important;
							    color: #fff;
							    font-size: 1.9em;
							    background-color: #dd4231;
							    z-index: 0;
							    padding: 0 10px;
							    border-bottom-right-radius: 18px;
							    -webkit-border-bottom-right-radius: 18px;
							    -moz-border-radius-bottomright: 18px;
							    height: 36px;
    							line-height: 36px;
 							}
	 					}
	 					ul {
	 						&.dropdown-menu {
							    display: none;
							    position: absolute;
							    right: 0;
							    background: #EFEFEF;
							    top: 30px;
							    width: 200px;
							    border: 2px solid #BFBFBF;
							    z-index: 99;
							    li {
							    	border-bottom: 1px solid #BFBFBF;
							    	a {
							    		display: block;
    									padding: 7px 0;
    									color: #7E7E7E;
							    	}
							    }
							}
	 					}
	 				}
	 			}
	 			a.help_link {
				    display: none;
				}
	 		}
	 	}
	 	.nav-container{
	 		float: left;
	 		width: 100%;
	 		text-align: center;
	 		ul#nav{
	 			border: 0;
	 			padding: 0;
	 			margin: 0;
	 			position: relative;

	 			div{
	 				position: static;
	 			}
	 			
	 			li{
	 				
	 			    text-align: center;
	 			    float: none;
	 			    position: static;
	 			    display: inline-block;
	 			    &.store-link{
	 					display: none;
	 				}
	 			    a{
	 			    	font-weight: 400;
	 			    	padding: 0 20px;
	 			    	line-height: 40px;
	 			    	span{
	 			    		color: $black;
	 			    		text-transform: lowercase;
	     					font-size: 18px;
	 			    	}
	 			    }
	 			    &.level-top {
	 			    	&:hover {
	 			    		background-color: transparent;
	 			    		a {
	 			    			span {
    								color: #DD4231;
	 			    			}
	 			    		}
	 			    	}
	 			    }
	 			    ul {
	 			    	top: 22px;
	 			    	z-index: 91;
	 			    	text-align: left;
	 			    	li {
	 			    		padding: 5px 0;
	 			    		width: 33%;
	 			    		display: inline-block;
    						text-align: left;
    						border: 0;
	 			    		a {
	 			    			line-height: 2em;
	 			    			span {
	 			    				font-size: 1.2em;
    								color: #2A2A2A !important;
	 			    			}
	 			    		}
	 			    	}
	 			    }
	 			    &.level0.parent {
	 			    	&:hover {
	 			    		ul {
	 			    			left: 0;
	 			    			li {
	 			    				ul {
	 			    					/* display: none; */
	 			    				}
	 			    				&:hover {
	 			    					ul {
	 			    						top: 0;
	 			    						left: 100%;
	 			    						display: block;
	 			    					}
	 			    				}
	 			    			}
	 			    		}

	 			    		>a{
	 			    			&:after{
									content: "";
								    border: transparent;
								    border-top: 23px solid #FFFFFF;
								    border-left: 23px solid transparent;
								    border-right: 23px solid transparent;
								    position: absolute;
								    top: 100%;
								    left: 50%;
								    z-index: 9999;
								    margin-left: -23px;
	 			    			}
	 			    		}
	 			    	}

	 			    	>a{
	 			    		position: relative;
	 			    	}

	 			    	&:hover{
	 			    		.menu_img_wrap{
	 			    			display: block;
	 			    		}
	 			    	}
	 			    }
	 			}

	 			.street_img{
	 				margin-top: 8px;
	 			}

	 			.menu_img_wrap{
	 				position: absolute;
	 				top: 92%;
    				left: 0;
	 				display: none;
	 				width: 100%;
	 				background: #F1F1F1;
	 				//display: block!important;
	 				z-index: 999;
				    padding: 30px 8%;
				    box-sizing: border-box;
	 				>.submenu_wrap{
	 					width: 73%;
	 					float: left;

	 					li{
	 						padding: 0;
	 					}

	 					li.level2{
	 						padding-left: 0px;
	 						box-sizing: border-box;

	 						.menu_img_wrap{
	 							margin-top: 0;
	 						}

	 						a{
	 							color: #373737;
	 							display: inline-block;
	 						}
	 					}



 						
	 					li.level1{
	 						li.level2{
	 							padding-left: 15px;
	 						}
	 					}


	 					a{
	 						padding: 0;
	 					}

	 					li{
							&.bold-category{
								>a{
									span{
										color: $primecolor!important;
										text-transform: uppercase;
										letter-spacing: 0.03em;
									}
								}

								li.level3{
			 						padding-left: 15px;
			 						box-sizing: border-box;

			 						.menu_img_wrap{
			 							margin-top: 0;
			 						}

			 						a{
			 							span{
			 								/* font-size: 1.12em; */
			 							}
			 						}
			 					}


		 						>.menu_img_wrap{
		 							margin-top: 14px;
		 						}

		 						li.level2{
		 							padding-left: 0;
		 						}

							}
						}

						.submenu_wrap{
							width: 100%;
						}
	 				}
	 				&:before {
					    content: "";
					    width: 100%;
					    display: block;
					    border: 2px solid #fff;
					    position: absolute;
					    top: 0;
					    left: 0;
					}
	 				.subcategory_wrap{
	 					width: 25%;
	 					float: left;
	 					img {
	 						/* max-width: 200px; */
	 						width: 100%;
	 					}
	 					&.sub_img {
	 						text-align: right;
	 						float: right;
	 					}
	 				}
	 				ul{
	 					li{
	 						float: left;
	 						width: 33%;
		 					position: relative;
		 					ul{
		 						width: 100%;
		 						float: left;
		 					}
	 						.menu_img_wrap{
	 							float: left;
	 							width: 100%;
	 							position: static;
	 							padding: 0;
	 							margin-top: 5px;
	 							&:before {
	 								display: none;
	 							}

	 							li{
	 								width: 100%;
	 								a {
	 									/* span {
	 										color: #777777 !important;
    										padding-left: 10px;
    										box-sizing: border-box;
	 									} */
	 								}
	 							}
	 						}
	 					}
	 				}
	 			}
	 		}
	 	}
	}
}
.harpreet-slider-block {
	float: left;
	width: 100%;
	margin: 0px auto;
}
#nav div, #nav ul {
	border: 0;
    // background: #f1f1f1;
}
/* Product Page */

.col1-layout {
	.product-view {
		#product-slider {
			display: none;
		}
		.product-shop {
			float: right;
    		width: 47%;
    		.product-options {
    			padding: 0;
			    margin: 0;
			    border: 0px solid #ddd;
			    background-color: #FFFFFF;
			    dl, .size_guide_wrap {
			    	display: inline-block;
			    }
			    .size_guide_wrap {
			    	vertical-align: top;
			    	padding-top: 13px;
			    	a {
			    		padding-left: 30px;
			    		background: url(../images/size-guide-bg.png) no-repeat;
			    		margin-left: 10px;
			    	}
			    }
			    dd {
			    	height: 55px;
			    	margin: 0 0 10px;
			    	img {
			    		background: #929292;
					    padding: 8px 15px;
					    margin-right: 5px;
					    &:first-child {
					    	border-radius: 18px 0 0 0;
					    }
					    &:last-child {
					    	border-radius: 0 0 18px 0;
					    }
			    	}
			    	#size-options-select {
			    		span {
							background: #929292;
							color: #fff;
							font-size: 18px;
							font-weight: 400;
							padding: 8px 20px;
							display: inline-block;
							cursor: pointer;
							&:first-child {
								border-radius: 18px 0 0 0;
							}
							&:last-child {
								border-radius: 0 0 18px 0;
							}
							&:hover, &.active {
								background: #7165ad;
							}
			    		}
			    	}
			    	.validation-advice {
			    		min-height: inherit;
			    		margin: 5px 0 0;
					    /*font-size: 14px!important;
					    line-height: 18px!important;
					     width: auto!important;
					    height: auto!important;
					    margin-top: 10px!important;
					    padding-left: 16px!important; */
			    	}
			    }
			    p.required {
			    	padding: 0;
			    }
    		}
    		.product-options-bottom {
			    padding: 0;
			    border: 0px solid #ddd;
			    border-top: 0;
			    .g-product-description {
			    	width: 100%;
				    padding: 0;
				    border-top: 0;
				    border-bottom: 0;
				    text-align: left;
				    margin: 0;
			    }
			    h1.g-product-title {
				    font-size: 18px;
				    color: #1e1e1e;
				    padding: 22px 0 12px;
				    font-weight: 600;
				}
				.accord_wrap {
					text-transform: lowercase;
					.feature_title {
					    width: 80px;
					    display: inline-block;
					    margin: 3px 20px 2px 0;
					    span {
					    	float: right;
					    }
					}
				}
				ul.add-to-links {
					display: inline-block;
					li.product-page-write-review {
					    font-size: 18px;
					    color: #1e1e1e;
					    padding: 22px 0 12px;
					    font-weight: 600;
					    cursor: pointer;
					    text-transform: lowercase;
					    span.review-img {
						    display: none;
						}
					}
					.wishlist-sec {
						display: none;
					}
				}
				div.addthis_toolbox.addthis_default_style {
					display: inline-block;
    				margin-left: 30px;
    				float: none;
    				width: auto !important;
    				margin-top: 0 !important;
				}
				.add-to-cart {
					input#qty {
						padding: 0 10px;
					    height: 40px;
					    text-align: center;
					    box-sizing: border-box;
					    width: 50px!important;
					}
					label {
						margin-right: 10px;
					    line-height: 40px;
					    font-size: 1.2em;
					    text-transform: lowercase;
					}
				}
				.whtsaap-share{
		    		display: none;
		    		&:before{
		    			content: "\e625";
					    font-size: 1.3em;
					    color: #aaa;
					    left: 2px;
					    position: relative;
					    top: 3px;
		    		}
		    	}
			}
			.product-name {
				h1 {
					text-transform: lowercase;
					font-weight: normal;
					font-size: 1.7em;
				}
				.product_code {
				    color: #363636;
				    font-size: 14px;
				    margin: 10px 0 0;
				    font-weight: 600;
				}
			}
			.price-box {
				.regular-price{
					font-weight: 400;
				    font-size: 24px;
				    margin: 20px 0;
				    display: inline-block;
				}
				.regular-price, .old-price, .special-price {
					.price {
						font-weight: 400;
					    font-size: 24px;
					    margin: 20px 0;
					    display: inline-block;
					}
				}
				.special-price {
					margin-left: 20px;
					.special-price-percent {
					    color: #dd4231;
					    font-size: 18px;
					}
				}
				.old-price, .special-price {
					.price-label {
						display: none;
					}
				}
				.old-price {
					.price {
						position: relative;
						&:before {
							content: "";
						    display: inline-block;
						    position: absolute;
						    border-top: 2px solid #DD4231;
						    top: 50%;
						    left: 0;
						    width: 100%;
						}
					}
				}
				p {
					display: inline-block;
				}
			}
			#product-options-subscribe {
				table {
					tr {
						td {
							&.notify-pr {
								font-size: 0.8em;
    							color: #444444;
							}
							button {
								&.btn-notify-pr {
									margin-top: 10px;
									span {
									    border-radius: 18px 0;
									}
								}
							}
							input.input-text, textarea {
							    padding: 7px 10px;
							    margin-bottom: 5px;
							    width: 50%!important;
							}
							h2 {
							    color: #DD4231;
							    font-size: 1.5em;
							    margin-bottom: 20px;
							}
						}
					}
				}
			}
		}
		.product-img-box {
			float: left;
		    width: 50%;
		    margin-right: 1%;
		    position: relative;
		    .product-image {
		    	border: 1px solid #fff;
			    width: 83%;
			    float: right;
			    margin: 0;
			    padding: 0;
			    height: 720px;
			    -webkit-box-shadow: 1px 1px 4px 1px rgba(230,230,230,1);
				-moz-box-shadow: 1px 1px 4px 1px rgba(230,230,230,1);
				box-shadow: 1px 1px 4px 1px rgba(230,230,230,1);
			    img {
			    	width: 100%;
				    height: auto;
				    left: 0!important;
			    }
		    }
		    .zoom, .zoom-notice {
		    	display: none;
		    }
		    .more-views {
		    	width: 15%;
    			float: left;
		    	h2 {
		    		display: none;
		    	}
		    	li {
		    		float: left;
				    padding: 1px;
				    background-color: #fff;
				    margin: 0 0 8px;
				    width: 100%;
				    height: auto;
				    box-sizing: border-box;
				    a {
				    	width: 100%;
    					height: auto;
    					img {
    						width: 100%;
    						height: auto;
						    -webkit-box-shadow: 1px 1px 4px 1px #e6e6e6;
						    -moz-box-shadow: 1px 1px 4px 1px #e6e6e6;
						    box-shadow: 1px 1px 4px 1px #e6e6e6;
    					}
				    }
		    	}
		    }
		    .wishlist_pdp {
		    	position: absolute;
			    right: 0;
			    bottom: 0;
			    z-index: 9;
			    li {
			    	list-style: none;
			    	
			    	box-sizing: border-box;
					background: #c8c8c8;
			    	.link-wishlist {
					    padding: 12px 15px;
					    text-transform: lowercase;
					    color: #fff;
					    font-size: 1.286em;
					    font-weight: normal;
					    vertical-align: top;
					    display: inline-block;
					    -webkit-transition: all 0.3s linear;
					    -moz-transition: all 0.3s linear;
					    -ms-transition: all 0.3s linear;
					    -o-transition: all 0.3s linear;
					    transition: all 0.3s linear;
					    span {
					    	display: none;
					    }
					    &:before {
					    	content: "\e904";
					    	display: inline-block;
					    	font-size: 1em;
					    	color: #fff;
					    	font-family: "icomoon" !important;
						    line-height: 1.286em;
						    margin-right: 5px;
					        top: 2px;
    						position: relative;
						    -webkit-transition: all 0.3s linear;
						    -moz-transition: all 0.3s linear;
						    -ms-transition: all 0.3s linear;
						    -o-transition: all 0.3s linear;
						    transition: all 0.3s linear;				    
					    }
					    &:hover {
					    	&:before {
					    		color: #dd4231;
					    	}
					    }
					}
			    }
		    }
		}
		.product-name-resp {
		    display: none;
		}
		button.button.btn-cart {
			padding: 0;
    		margin: 0 0 0 5px;
    		&.product-page-buy-now {
    			background: none !important;
    			margin-left: 0;
    			span {
    				span {
    					color: $white!important;
    					background: transparent;
    				}
    			}
    		}
    		span {
    			border-radius: 0 0 18px 0;
    		}
		}
		button.button {
			span {
			    height: 40px;
			    line-height: 40px;
			    background: #929292;
			    padding: 0 25px;
			    text-align: center;
		    	color: #fff;
		    	font-size: 18px;
			    text-transform: lowercase;
			    font-weight: 400;
			    &.product_page_buy_now {
			    	border-radius: 18px 0 0 0;
			    }
			    span {
			    	padding: 0;
			    	background: transparent !important;
			    }
			}
			&:hover {
				span {
					background: #7165ad;
					&:hover {
						background: #7165ad;
					}
					span{
						background: transparent;
					}
				}
			}
		}
		.block-related {
			h1 {
				font-size: 18px;
			    margin: 50px 0 35px;
			    text-align: center;
			    font-weight: 600;
			    text-transform: lowercase;
			    position: relative;
			    &:before, &:after {
			    	content: "";
				    display: inline-block;
				    position: absolute;
				    left: 0;
				    top: 50%;
				    width: 42%;
				    border-top: 2px solid #d7d7d7;
			    }
			    &:after {
			    	right: 0;
			    	left: inherit;
			    }
			}
			a {
				display: inline-block!important;
				width: 85%;
			}
		}
		.review-overlay {
		    position: fixed;
		    width: 100%;
		    height: 100%;
		    left: 0;
		    top: 0;
		    background: #000;
		    z-index: 91;
		    opacity: 0.6;
		    display: none;
		}
		#review_anchor {
			position: absolute;
		    left: 50%;
		    top: 40%;
		    background: #fff;
		    width: 100%;
		    max-width: 786px;
		    box-sizing: border-box;
		    margin-left: -393px;
		    border-radius: 18px 0 18px 0;
		    text-transform: lowercase;
		    z-index: 92;
		    .review-form-main {
		    	padding: 20px 65px;
		    	position: relative;
		    	.close-btn-review {
				    position: absolute;
				    right: -16px;
				    top: -12px;
				    background: #1e1e1e;
				    border-radius: 50%;
				    width: 40px;
				    height: 40px;
				    text-align: center;
				    color: #dd4231;
				    font-size: 20px;
				    line-height: 37px;
				    cursor: pointer;
				}
				h2 {
					font-size: 1.670em;
				    margin-bottom: 15px;
				    color: #1e1e1e;
				    font-weight: 400;
				}
				h4 {
				    font-size: 1.286em;
				    margin-bottom: 15px;
				    em{
				    	color: #eb340a;
				    	font-style: normal;
				    }
				}
				.validation-advice{
					font-size: 11px;
				}
				.data-table {
					tbody {
						th {
							text-align: left;
						}
					}
					td {
						width: 16.8%;
					}
				}
				caption, td, th {
					text-align: center;
    				font-weight: 400;
    				font-size: 1em;
				}
				.buttons-set {
				    padding: 0;
				    border: 0;
				    margin: 25px 0 0;
				    button.button {
				    	float: left;
				    	span {
							background: #1e1e1e;
							padding: 0 20px;
							font-size: 1.12em;
							border-radius: 18px 0;
							font-weight: normal;
				    	}
				    	&:hover {
				    		span {
				    			background: #7165ad;
				    			span{
				    				background: transparent;
				    			}
				    		}
				    	}
				    }
				}
		    }
			.form-list {
				.input-box {
					width: 51%;
				    border: 1px solid #c3c3c3;
				    border-radius: 18px 0 18px 0;
				    text-align: center;
				    padding: 2px 0;
				    box-sizing: border-box;
				    position: relative;
				    &.review-box {
				    	width: 100%;
				    }
				    .validation-advice{
				    	position: absolute;
    					top: 38px;
    					font-size: 11px;
				    }
				}
				li {
					margin: 0 0 20px;
				}
				input {
				    border: 0;
				    padding: 0;
					&.input-text {
						width: 95%;
					    display: inline-block;
					    text-align: left;
					    line-height: 34px;
					    border: 0;
					    padding: 0;
					}
					&.validation-failed{
						border: 0 !Important;
    					background: #fff !Important;    					
					}
				}
				textarea {
				    width: 95%;
				    height: 8em;
				    padding: 10px 0;
				    border: 0;
				}
				label {
					font-size: 1.286em;
				    margin-bottom: 10px;
				    font-weight: 400;
				}
			}
			.data-table {
				th, td {
					border: 0;
				}
				tr {
					&.even {
						background-color: #fff;
					}
				}
				thead {
					background-color: #fff;
				}
			}
		}
		.review-box {
			width: 68%;
			border-top: 1px dashed #B5B5B5;
		    padding-top: 10px;
		    margin-top: 10px;
			span {
				font-size: 1.286em;
				&.review-date {
					font-size: 1em;
					color: #a1a1a1;
				}
			}
			dt {
				line-height: 22px;
				a {
					font-size: 1.286em;
					margin: 15px 0 5px;
					display: block;
				}
			}
			&:first-child {
		    	border-top: 0;
			    padding-top: 0;
			    margin-top: 0;
		    }
		}
		#customer-reviews {
			h2 {
				font-size: 2em;
				margin-bottom: 40px;
			}
		}
	}
}
.rating-box {
	width: 120px;
	height: 18px;
	.rating {
		height: 18px;
	}
}
.recently_viewed_slider2 {
	.slick-prev, .slick-next {
		width: 30px;
    	height: 45px;
    	background: none;
    	top: 40%;
    	z-index: 9;
    	&:before {
    		font-size: 30px;
		    opacity: 1;
		    color: #929292;
    	}
	}
	.slick-prev {
		left: 0;
	}
	.slick-next {
		right: 0;
	}
	.related-items {
		.productName {
			margin-top: 0px;
		    min-height: inherit;
		    text-overflow: ellipsis;
		    height: 16px;
		    overflow: hidden;
		    white-space: nowrap;
		    font-weight: 600;
		    font-size: 1.154em;
		    color: #1e1e1e;
		    border-top: 1px solid #dfdfdf;
    		padding: 4px 8px 0;
		}
		.productPrice {
			font-weight: 500;
		    margin-top: 6px;
		    font-size: 1.154em;
		    color: #1e1e1e;
		}
	}
}

.slick-initialized {
	.slick-slide {
		text-align: center;
		img {
			width: 100%;
		}
	}
}

.customer-account-logoutsuccess, .checkout-onepage-failure, .cms-no-route {
	.col-main {
		margin-top: 20px;
		text-align: center;
		border-top: 1px solid #E0E0E0!important;
    	padding-top: 20px;    	
		.page-title {
		    border-bottom: 0;
		    padding: 0;
		    margin: 0;
		    text-align: center;
		    h1 {
		    	font-size: 1.6em;
			    margin-bottom: 20px;
			    color: #2A2A2A;
			    text-transform: lowercase;
		    }
		}
	}
}
.cms-no-route {
	.col-main {
		text-align: center;
		font-size: 1.1em;
	    text-transform: lowercase;
    	span {
    		font-family: 'montserratregular'!important;
			font-size: 1.1em!important;
	    	line-height: 2em;
    	}
	}
}

/* Cart Page */


.cart {
	margin-top: 30px;
	#shopping-cart-table {
		.tHead {
			width: 100%;
			font-size: 1.286em;
		    font-weight: 600;
		    color: #363636;
		    border-bottom: 1px solid #d7d7d7;
		    padding-bottom: 12px;
			.tHead_inner {
				div {
					width: 19%;
					display: inline-block;
					text-align: center;
				}
			}
		}
		.tBody {
			width: 100%;
			max-height: 280px;
			overflow: hidden;
			.tBody_inner {
				padding: 20px 0;
				div {
					width: 19%;
					display: inline-block;
					text-align: center;
					vertical-align: top;
					input.qty{
						width: auto !important;
						padding: 4px 0 4px 8px;
					}
					&.cart_price_pro {
						display: none;
					}
					&.cart_img_pro {
						span {
							display: block;
							text-transform: lowercase;
							padding-top: 12px;
							a {
								display: inline-block;
								vertical-align: top;
								line-height: 1em;
								&.btn-remove2 {
								    display: inline-block;
								    width: auto;
								    height: auto;
								    font-size: inherit;
								    line-height: 1em;
								    background: none;
								    text-indent: 0;
								    border-right: 1px solid #363636;
									padding-right: 4px;
								}
							}
						}
					}
					&.cart_desc_pro {
						text-transform: lowercase;
					}
				}
			}
			.mCSB_scrollTools {
				height: 80%;
    			margin-top: 2%;
    			.mCSB_dragger{
    				.mCSB_dragger_bar {
						background-color: #bfbfbf;
					}
	    		}
	    		.mCSB_draggerRail {
					background-color: #e5e5e4;
					width: 4px;
					// height: 80%;
				}
			}

			.mCSB_scrollTools .mCSB_draggerContainer {
				// top: 40px;
			}
			.mCSB_inside > .mCSB_container {
			    margin-right: 0;
			}
		}
		.tFoot {
			width: 100%;
			border-top: 1px solid #d7d7d7;
			padding-top: 30px;
			.tFootinner {
				.totals-n-coupon {
					margin-bottom: 20px;
					width: 100%;
					float: left;
					padding: 0 90px;
    				box-sizing: border-box;
					.pr-coupon-code {
						width: 60%;
					    display: inline-block;
					    text-align: left;
					    vertical-align: top;
					    label {
						    text-transform: lowercase;
						    font-size: 1.286em;
						    margin-right: 15%;
						    vertical-align: top;
						    line-height: 36px;
						}
					    .input-box {
						    display: inline-block;
						    vertical-align: top;
						    input {
						    	border: 0;
						    	line-height: 35px;
							    padding: 0 0 0 8px;
							    box-sizing: border-box;
							    text-transform: uppercase;
    							color: #929292;
    							border: 1px solid #EFEFEF;
						    }
						}
						.buttons-set {
						    margin: 0;
						    padding: 0;
						    border: 0;
						    display: inline-block;
						    button.button {
						    	background: #1e1e1e;
						    	padding: 0 20px;
						    	box-sizing: border-box;
						    	span {
						    		background: none;
						    		height: 36px;
						    		line-height: 36px;
						    		text-transform: lowercase;
						    		font-size: 1.1em;
						    		padding: 0;
						    		span {
						    			padding: 0;
						    		}
						    	}
						    	&:hover {
							    	background: #7165ad;
							    }
						    }
						}
					}
					.totals {
						display: inline-block;
						float: right;
						width: 25%;
						font-size: 1.286em;
						#shopping-cart-totals-table {
							td {
								border: 0;
							}
						}
					}
				}
				.cart_pro_btn {
					width: 100%;
				    button.button {
				    	background: #1e1e1e;
				    	padding: 0 20px;
				    	box-sizing: border-box;
				    	border-radius: 18px 0;
				    	float: left;
				    	span {
				    		background: none;
				    		height: 40px;
				    		line-height: 40px;
				    		text-transform: lowercase;
				    		font-size: 1.1em;
				    		padding: 0;
				    		span {
				    			padding: 0;
				    		}
					    }
					    &:hover {
					    	background: #7165ad;
					    }
					}
					.checkout-types {
					    float: right;
					    text-align: right;
					    display: inline-block;
					    button.button {
					    	background: #dd4231;
					    	&:hover {
						    	background: #7165ad;
						    }
					    }
					}
				}
			}
		}
	}
	.discount {
	    margin-top: 15px;
	    border-top: 1px solid #E6E6E6;
	    padding-top: 10px;
	    text-align: right;
	    label {
		    text-transform: lowercase;
		    font-size: 1.286em;
		    margin-right: 10px;
		    vertical-align: top;
		    line-height: 36px;
		}
		.input-box {
		    display: inline-block;
		    vertical-align: top;
		    input {
			    border: 0;
			    line-height: 35px;
			    padding: 0 0 0 8px;
			    box-sizing: border-box;
			    text-transform: uppercase;
			    color: #929292;
			    border: 1px solid #EFEFEF;
			    height: 37px;
			}
			.validation-advice{
				text-align: left;
			}
		}
		.buttons-set {
		    margin: 0;
		    padding: 0;
		    border: 0;
		    display: inline-block;
		    button.button {
			    background: #1e1e1e;
			    padding: 0 20px;
			    box-sizing: border-box;
			    span {
				    background: none;
				    height: 36px;
				    line-height: 36px;
				    text-transform: lowercase;
				    font-size: 1.1em;
				    padding: 0;
				    span {
					    padding: 0;
					}
				}
				&:hover {
				    background: #7165ad;
				}
			}
		}
	}
}

.mycart-outer {
    margin-top: 20px;
    text-align: center;
    font-size: 1.4em;
    text-transform: lowercase;
    font-weight: 400;
    border-top: 1px solid #D9D9D9;
    padding-top: 20px;
    .cont_btn {
    	a {
    		background: #1e1e1e;
		    color: #fff;
		    font-size: 0.9em;
		    letter-spacing: 0.1em;
		    font-weight: normal;
		    padding: 10px 20px;
		    box-sizing: border-box;
		    margin-top: 20px;
		    display: inline-block;
		    border-radius: 18px 0;
		    &:hover {
		    	background: #7165ad;
		    	color: #fff!important;
		    }
    	}
    }
}

/* CMS pages */

.cms-page-view {
	.col-main {
		color: #2a2a2a!important;
		span, li, ul, h1, h2, h3, h4, h5, strong, p {
			color: #2a2a2a!important;
		}
		h5 {
			font-size: 1em!important;
			margin: 10px 0;
		}
		caption, td, th {
			padding: 5px;
			box-sizing: border-box;
		}
		.page-title {
		    border-bottom: 0;
		    padding: 0;
		    margin: 0;
		    text-align: center;
		    margin-bottom: 50px;
		    text-transform: lowercase;
		    h1 {
			    font-size: 1.714em;
			    color: #2a2a2a;
			    font-weight: 600;
			}
		}
		ul {
			padding: 0;
			margin: 0;
			li {
			    list-style: none;
			    margin-bottom: 30px;
			    &:before {
			    	content: "";
			    	display: inline-block;
			    	width: 14px;
			    	height: 14px;
				    background: #dd4231;
				    border-radius: 50% 0 50% 50%;
				    vertical-align: top;
				    margin-right: 15px;
			    }
			}
		}
	}
	.std {
		a {
			color: #DD4231!important;
		}
	}
}
.inactive_element {
	&:hover {
		color: #DD4231!important;
	}
}

/* Contact us page */

.contactsform-index-index {
	.col-main {
		.fieldset {
			border: 0;
		    background: #fefefe;
		    padding: 20px;
		    margin: 20px 0;
		    border: 1px dashed #DDDDDD;
		    box-sizing: border-box;
			.legend {
				display: none;
			}
			.form-list {
				li {
				    margin: 0 0 10px;
				}
				label {
				    color: #2A2A2A;
				    font-weight: 400;
				    margin-bottom: 6px;
				    font-size: 1.15em;
				}
				input.input-text, select, textarea {
				    width: 100%;
				    border-radius: 18px 0;
				    height: 34px;
				    line-height: 34px;
				    padding: 0 10px;
				    box-sizing: border-box;
				}
				textarea {
					height: 5em;
				}
			}
			.buttons-set {
			    margin: 0;
			    padding: 0;
			    border: 0;
			    button.button {
			    	float: left;
				    background: #000;
				    border-radius: 18px 0;
				    height: 36px;
				    line-height: 36px;
				    padding: 0 20px;
				    box-sizing: border-box;
				    span {
				    	height: auto;
					    background: none;
					    padding: 0;
					    font-size: 1.1em;
					    span {
					    	padding: 0;
					    }
				    }
				    &:hover {
				    	background: #7165ad;
				    }
			    }
			}
			p.required {
				text-align: left;
			}
		}
		.contact_address {
		    .address-box {
			    display: inline-block;
			    float: left;
			    width: 49%;
			    padding: 20px;
			    box-sizing: border-box;
			    border: 1px dashed #DDDDDD;
			    vertical-align: top;
			}
			&.f-right {
				float: right;
			}
		}
	}
}

.fancybox-wrap.fancybox-opened {
    width: 70% ! important;
    left: 15%!important;
    .fancybox-inner {
    	width: 100%!important;
    	.cart {
    		#shopping-cart-table {
    			.tFoot {
    				.tFootinner {
    					.totals-n-coupon {
    						padding: 0;
    						.totals {
    							width: 250px;
    						}
    					}
    				}
    			}
    		}
    	}
    }
}

.txt-box, .youama-login-window input[type=text], 
.youama-login-window input[type=password], 
.youama-register-window input[type=text], 
.youama-register-window input[type=password] {
	box-sizing: border-box;
	width: 90%;
}

/* Success Page */

.onepagecheckout-index-success {
	.col-main {
		font-size: 1em;
		color: #2A2A2A!important;
		border-top: 1px solid #E4E4E4!important;
    	margin-top: 20px;
    	text-align: left;
		.order-conf {
			text-align: left;
		    margin-top: 20px;
		    h3 {
			    font-size: 1.8em;
			    margin-bottom: 15px;
			    color: #7165ad;
			}
			span.success_cash {
			    font-weight: 600;
			    display: block;
			    margin: 10px 0;
			    font-size: 1.2em;
			    color: #000;
			}
			.second_block {
			    margin-top: 20px;
			    h2.summary_text {
				    color: #000;
				    text-transform: lowercase;
				    margin: 0 0 10px;
				    border-top: 1px dashed #8278B7;
				    border-bottom: 1px dashed #8278B7;
				    display: inline-block;
				    padding: 10px 20px;
				    box-sizing: border-box;
				    width: 100%;
				}
				.order_id_div {
				    color: #DD4231;
				    font-size: 1.1em;
				    margin: 5px 0;
				}
			}
			table {
			    display: table;
			    width: 100%;
			    margin-bottom: 20px;
			    td {
				    border: 1px dashed #E2E2E2;
				    padding: 10px;
				    box-sizing: border-box;
				    text-transform: lowercase;
				}

			}
			.success_charges {
				table {
					display: inline-block;
					width: 30%;
					td {
						text-transform: capitalize;
					}
				}
			}
		}
		.buttons-set {
		    clear: both;
		    margin: 0;
		    padding: 0;
		    border: 0;
		    text-align: center;
    		margin-top: 20px;
		    button.button {
		    	float: left;
			    background: #000;
			    border-radius: 18px 0;
			    height: 36px;
			    line-height: 36px;
			    padding: 0 20px;
			    box-sizing: border-box;
			    span {
			    	height: auto;
				    background: none;
				    padding: 0;
				    font-size: 1.1em;
				    span {
				    	padding: 0;
				    }
			    }
			    &:hover {
			    	background: #7165ad;
			    }
		    }
		}
	}
}

.youama-window-box .validation-advice {
    margin-left: 0;
}

/* Forgot password page */

.customer-account-forgotpassword, .customer-account-login, .customer-account-changeforgotten {
	.col-main {
		border-top: 1px solid #E0E0E0!important;
    	padding-top: 20px!important;
		.page-title {
		    border-bottom: 0;
		    padding: 0;
		    margin: 0 0 20px;
		    h1 {
		    	font-size: 1.5em;
    			color: #2A2A2A;
		    }
		}
		.fieldset {
		    border: 0;
		    background: #FFFFFF;
		    padding: 0;
		    margin: 0!important;
		    .legend {
		    	display: none;
		    }
		    p {
			    margin: 0 0 10px;
			}
		}
		.form-list {
			label {
				color: #2A2A2A;
			    font-weight: 400;
			    font-size: 1.2em;
			    margin: 0 0 5px;
			}
			input.input-text {
			    width: 100%;
			    padding: 7px;
			    box-sizing: border-box;
			    margin-bottom: 10px;
			}				
		}
		.buttons-set {
		    clear: both;
		    margin: 0;
		    padding: 0;
		    border: 0;
		    button.button {
		    	float: left;
			    background: #2A2A2A;
			    height: 36px;
			    line-height: 36px;
			    border-radius: 18px 0;
			    padding: 0 20px;
			    box-sizing: border-box;
			    font-size: 1.2em;
			    margin-top: 20px;
			    span {
			    	height: auto;
				    background: none;
				    padding: 0;
				    span {
				    	padding: 0;
				    }
			    }
			    &:hover {
			    	background: #7165ad;
			    }
			}
			.back-link {
			    float: none;
			    display: block;
			}
		}
		p.required {
			text-align: left;
		}
		.col2-set {
			.col-1, .col-2 {
				width: 48%;
				h2 {
				    margin: 0 0 10px;
				}
				p {
					margin: 0 0 5px;
				}
			}
			.col-2 {
				&.registered-users {
					border-left: 2px solid #E2E2E2;
    				padding-left: 20px;
				}
			}
			.login-socially .clearer {
			    margin-right: 0;
			}
			.buttons-set {
				a.f-left {
					width: 100%;
				}
				button.button {
					margin: 10px 0;
				}
			}
		}
	}
}

.catalogsearch-result-index, .elastic-search-result {
	.wrapper {
		.page {
			.main-container {
				.main {
					.col-main {
						width: 100%;
					}
				}
			}
		}
	}
	.page-title {
		height: auto;
    	margin: 0;
		h1 {
			font-size: 1.4em;
			margin: 5px 0;
		}
	}
	.mobile_filter_icon, .mobile-filter-close {
		display: none!important;
	}
}

@media only screen and (max-width: 568px) {

}

@media only screen and (max-width: 375px) {

}

@media only screen and (max-width: 1100px) {
	.page {
		.top-main-menu-blk {
			.nav-container {
				ul#nav {
					li {
						a {
							padding: 0 18px;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.page {
		.header-container {
			border-bottom: 1px solid #EFEFEF;
    		padding-bottom: 10px;
    		margin-bottom: 10px;
			.main-content-page {
				.left_section {
					margin-bottom: 0px;
					margin-top: 0px;
					float: left;
    				width: 100%;
					.logo_pan {
						.logo_head {
							.logo {
								img {
								    max-width: 160px;
								}
							}
						}
					}
					.head-left, .head-right {
						line-height: 48px;
						width: auto;
						margin-left: 10%;
						float: left;
						text-align: left;
					}
					.head-right {
						width: 100%;
						margin-left: 0;
						display: none;
						position: absolute;
					    left: 0;
					    background: #FFFFFF;
					    top: 81px;
					    border-top: 2px solid #E4E1E1;
					    border-bottom: 2px solid #E4E1E1;
					    line-height: 40px;
					    z-index: 99;
						.quick-access {
							width: 100%;
							.form-search {
								border: 0;
								height: 30px;
								box-shadow: none;
								input#search {
									height: 30px;
									line-height: 30px;
									width: 90%;
								}
								button.button {
									height: 30px;
									background-color: transparent;
									&:before {
										font-size: 1.7em;
										color: #DD4231;
									}
								}
							}
						}
					}
					.head-left {
						.locator-link {
							position: absolute;
						    left: 10px;
						    top: 0;
						    line-height: 30px;
							a {
								font-size: 16px;
							    margin: 0px 0 0 0;
							}
						}
					}
					.search-icon-mob {
						display: inline-block;
						height: 36px;
						border-radius: 0 0 18px 0;
						background: #BFBFBF;
						position: absolute;
					    left: 46px;
					    top: 40px;
					    cursor: pointer;
						&:before {
							content: "\e913";
						    display: inline-block;
						    font-family: "icomoon" !important;
						    font-size: 1.6em;
						    color: #fff;
						    line-height: 36px;
						    padding: 0 10px;
						    box-sizing: border-box;
						}
					}
					a.mobile_menu_icon {
						width: 35px;
					    display: inline-block;
					    position: absolute;
					    left: 0;
					    top: 40px;
					    cursor: pointer;
					    z-index: 999;
				    	&:before {
					    	content: "\e61a";
						    display: inline-block;
						    font-family: "icomoon" !important;
						    color: #fff;
						    font-size: 1.3em;
						    background-color: #BFBFBF;
						    padding: 0 12px;
						    height: 36px;
						    line-height: 36px;
						    border-radius: 0 0 0 0;
					    }
					}
				}
			}
			.top-links-page {
				padding: 5px 0 0;
				.top-links-main {
					text-align: right;
					a {
						font-size: 12px;
					}
					.links-left-top, .links-right-top {
						float: none;
						display: inline-block;
					}
					.links-left-top {
						display: none;
					}
					.links-right-top {
						/* padding-left: 5px;
    					border-left: 1px solid #BFBFBF; */
					}
				}
			}
		}

		.top-main-menu-blk {
			position: static;
			.cart_link_wrapper {
				margin-top: 0;
			    position: absolute;
			    right: 10px;
			    top: 40px;
				.header-cart-link {
					span {
						&:before {
							position: absolute;
						    top: -14px;
						    right: 2px;
							padding: 0 10px;
						    height: 36px;
						    line-height: 36px;
						    font-size: 1.8em;
						    -webkit-border-top-left-radius: 0px;
					    	-moz-border-radius-topleft: 0px;
					    	border-top-left-radius: 0px;
						}
						label {
							left: -32px !important;
    						top: -3px !important;
						}
					}
				}
				.search_links {
					.search_wrap {
						ul {
							li {
								a {
									margin-left: 1px;
									&:before {
										padding: 0 10px;
									    height: 36px;
									    line-height: 36px;
									}
								}
							}
							&.links {
								li {
									a {
										&:before {
											padding: 0 10px;
										}
									}
								}
							}
						}
						&.loggedin {
							ul.dropdown-menu {
								top: 38px;
							}
						}
					}
				}
			}
			.cart_link_pan {
				margin-top: 0;
				position: absolute;
			    top: 50px;
			    right: 10px;
				.header-cart-link {
					span {
						&:before {
							font-size: 1.5em;
							padding: 5px 10px;
						}
						label {
							left: 13px;
    						top: 10px;
						}
					}
				}
				.search_links {
					.search_wrap {
						ul {
							li {
								a {
									&:before {
										font-size: 1.5em;
										padding: 5px 10px;
									}
								}
							}
						}
					}
				}
			}
			.overlay-mob-menu {
			    background: #000;
			    position: fixed;
			    width: 100%;
			    height: 100%;
			    left: 0;
			    top: 0;
			    z-index: 99;
			    opacity: 0.5;
			    display: none;
			}
			.nav-container {
				display: none;				
			}
		}
	}
	.col1-layout {
		.product-view {
			.product-shop {
				.product-name {
					h1 {
						font-size: 21px;
					}
				}
				.price-box {
					.regular-price, .old-price, .special-price {
						.price {
							font-size: 21px;
						}
					}
				}
				.product-options-bottom {
					h1.g-product-title {
						padding: 15px 0 5px;
					}
				}
				.product-options {
					dd {
						height: auto;
    					margin: 0;
					}
					.size_guide_wrap {
						display: block;
						padding-top: 0;
    					margin: 10px 0;
					}
				}
			}
			.block-related {
				h1 {
					&:before, &:after {
						width: 40%;
					}
				}
			}
			#customer-reviews {
				h2 {
					margin-bottom: 10px;
				}
			}
			.review-box {
				width: 100%;
			}
			#review_anchor {
				.review-form-main {
					padding: 25px 35px;
   					box-sizing: border-box;
   					h2 {
   						font-size: 1.3em;
    					margin-bottom: 10px;
   					}
				}
				.form-list {
					label {
						font-size: 1.2em;
    					margin-bottom: 5px;
					}
					input.input-text {
						line-height: 30px;
					}
					textarea {
						height: 4em;
					}
				}
			}
		}
	}
	.catalog-product-view {
		.main-container {
			.main {
			    margin: 0;
			}
		}
	}
	#nav {
		border: 0;
	    padding: 0;
	    margin: 0;
	    font-size: 14px;
	    margin-top: 14px;
		div, ul {
			clear: both;
			position: static; 
			width: 100%;
	    	box-sizing: border-box;
	    	// background: #fff;
		}
		li {
			width: 100%;
			border-bottom: 1px solid #C5C5C5;
			a {
				padding: 8px 10px;
			    font-weight: normal;
			    color: #2A2A2A;
			    text-transform: lowercase;
			}

			.street_img{
 				width: 42px;
 			}
		}
		ul {
			li {
				border: 0;
				a {
					padding: 9px 5px;
				}
			}
		}
	}
	.mm-panels, .mm-panels>.mm-panel {
		// position: relative;
	}
	.mm-menu.mm-offcanvas.mm-current {
	    // overflow-y: scroll;
		border-right: 1px solid #BFBFBF;
	}
	.mm-listview>li, .mm-listview>li .mm-next, .mm-listview>li .mm-next:before, .mm-listview>li:after {
		border: 0;
		color: #888;
	}
	.mm-listview>li:not(.mm-divider):after {
		left: 0;
		color: #E2E2E2;
	}
	.mm-listview>li.mm-vertical>.mm-next, .mm-vertical .mm-listview>li>.mm-next {
	    height: 20px;
	    width: 30px;
	}
	li.level-top.parent:hover {
	    background-color: #EEEEEE;
	}
	.mm-listview>li.mm-vertical>.mm-next:after, .mm-vertical .mm-listview>li>.mm-next:after {
	    top: 12px;
	}
	.mm-listview .mm-vertical .mm-panel, .mm-vertical .mm-listview .mm-panel {
		padding: 0 0 0 0px;
	}
	.mm-vertical .mm-panel .secure_shipping {
	    display: none;
	}
	#menu .footer-links-mob {
	    display: none;
	}
	.mm-panels>.mm-panel:after, .mm-panels>.mm-panel:before {
		display: none;
	}
	.mm-panels>.mm-panel {
		padding: 0;
	}
	.mm-panels > .mm-panel {
		.subcategory_wrap.sub_img {
			display: none;
		}
	}
	.mm-menu {
		background: #DEDEDE;
	}
	.mm-menu .mm-divider, .mm-menu .mm-listview>li.mm-opened.mm-vertical>.mm-panel, 
	.mm-menu .mm-listview>li.mm-opened.mm-vertical>a.mm-next, 
	.mm-menu.mm-vertical .mm-listview>li.mm-opened>.mm-panel, 
	.mm-menu.mm-vertical .mm-listview>li.mm-opened>a.mm-next {
	    background: none;
	}
	#nav li > div {
	    border-top: 1px solid #E4E4E4;
	}
	.cart {
		#shopping-cart-table {
			.tHead {
				font-size: 1.1em;
			}
			.tFoot {
				.tFootinner {
					.totals-n-coupon {
						padding: 0;
						.pr-coupon-code {
							label {
								margin-right: 10px;
								font-size: 1.1em;
							}
							.input-box {
								input {
									border: 1px solid #DCDCDC;
								}
							}
						}
						.totals {
							font-size: 1.1em;
						}
					}
				}
			}
		}
	}
	.customer-account-forgotpassword, .customer-account-login, .customer-account-changeforgotten {
		.col-main {
			border-top: 0 !important;
    		padding-top: 10px !important;
		}
	}
	.cms-page-view {
		.col-main {
		    padding: 0 10px!important;
		    box-sizing: border-box;
		}
	}
	.mm-menu .mm-divider, .mm-menu .mm-listview>li.store-link {
	    display: none;
	}
	#nav ul li a{
		padding-left: 20px;
	}
	#nav ul li div.mm-panel ul li a{
		padding-left: 35px;
	}
	#nav ul li div.mm-panel ul li.mm-opened div.mm-panel ul li  a{
		padding-left: 50px;
	}
	#nav li.mm-opened div.submenu_wrap{
		background-color: #eeeeee !important;
	}
	#nav li.mm-opened div.submenu_wrap ul li div.submenu_wrap{
		background-color: #fafafa !important;
	}
	#nav li.mm-opened div.submenu_wrap ul li div.submenu_wrap ul li div.submenu_wrap{
		background-color: #fff !important;
	}
}

.slick-dots {
	display: none!important;
}

@media only screen and (max-width: 920px) {
	.page {
		.header-container {
			.main-content-page {
				.left_section {
					.head-right {
						.quick-access {
							.form-search {
								input#search {
									// width: 860px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	.page {
		.header-container {
			.main-content-page {
				.left_section {
					.head-right {
						.quick-access {
							.form-search {
								input#search {
									// width: 737px;
								}
							}
						}
					}
				}
			}
		}
		.top-main-menu-blk {
			.nav-container {
				ul#nav {
					width: 45%;
				}
			}
			.cart_link_wrapper {
				.header-cart-link {
					span {
						label {
							top: 13px;
    						width: 20px;
						}
					}
				}
			}
		}
	}
	.col1-layout {
		.product-view {
			.product-img-box {
				display: none;
			}
			#product-slider {
				display: block;
				.slick-initialized {
					.slick-slide {
						img {
							width: 70%;
							display: inline-block;
						}
					}
				}
				.slick-prev, .slick-next {
					background: none;
					cursor: pointer;
					&:before {
						font-size: 25px;
						font-size: 25px;
						opacity: 1;
    					color: #A0A0A0;
					}
				}
				.slick-next {
				    right: 5px;
				}
				.slick-prev {
				    left: 0;
				}
			}
			.product-shop {
				width: 100%;
				float: left;
			}
			.block-related {
				h1 {
					&:before, &:after {
						width: 38%;
					}
				}
			}
			#review_anchor {
				max-width: 700px;
    			margin-left: -350px;
			}
			.product-shop {
				.product-options-bottom {
					ul.add-to-links {
						.wishlist-sec {
							display: inline-block;
							float: left;
							.link-wishlist {
							    padding: 0;
							    font-size: 18px;
							    text-transform: lowercase;
							    color: #1E1E1E;
							    &:before {
								    content: "\e904";
								    display: inline-block;
								    font-size: 1em;
								    color: #1E1E1E;
								    font-family: "icomoon" !important;
								    line-height: 1.286em;
								    margin-right: 5px;
								    top: 2px;
								    position: relative;
								}
							    span.plus_ico {
								    display: none;
								}
							}
						}
					}
				}
			}
		}
	}
	.onepagecheckout-index-success {
		.col-main {
			.order-conf {
				.success_charges {
					table {
						display: table;
    					width: 50%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 736px) {
	.page {
		.header-container {
			padding-bottom: 0;
			.main-content-page {
				.left_section {
					.head-right {
						top: 60px;
						.quick-access {
							.form-search {
								input#search {
									width: 680px;
								}
							}
						}
					}
					.head-left {
						display: none;
					}
					.logo_pan {
						padding: 10px 0 5px;
						.logo_head {
							.logo {
								img {
									max-width: 130px;
								}
							}
						}
					}
					.search-icon-mob {
						top: 14px;
					}
					a.mobile_menu_icon {
						top: 14px;
					}
				}
			}
			.top-links-page {
				display: none;
			}
		}
		.top-main-menu-blk {
			.header {
				top: 14px;
			}
			.cart_link_wrapper {
				top: 14px;

				.header-cart-link{
					// display: inline-block;
					float: left;
					

					// vertical-align: top;
				}

				.search_links {
					.search_wrap {
						ul {
							li {
								a {
									margin-left: 2px;
								}
							}
						}
					}
					.links li.last{
						display: inline-block;
					}
				}
			}
			.nav-container{
				ul#nav{
					li.store-link {
					    display: block;
					}
				}
			}
		}
	}
	.mm-menu .mm-divider, .mm-menu .mm-listview>li.store-link {
	    display: block;
	}
	.col1-layout {
		.product-view {
			#product-slider {
				.slick-initialized {
					.slick-slide {
						img {
							width: 50%;
						}
					}
				}
			}
			.product-shop {
				.product-name {
					h1 {
						font-size: 20px;
						font-weight: 400;
					}
				}
				.price-box {
					.regular-price, .old-price, .special-price {
						.price {
							font-size: 18px;
							margin: 15px 0;
						}
					}
				}
				.product-options {
					dd {
						#size-options-select {
							span {
								margin: 0 2px;
								padding: 5px 17px;
								font-size: 16px;
							}
						}
					}
				}
			}
			button.button {
				span {
					height: 32px;
					line-height: 32px;
					font-size: 16px;
				}
			}
			#review_anchor {
				max-width: 650px;
    			margin-left: -325px;
			}
		}
	}
	#menu .footer-links-mob {
	    display: block;
	}
	#menu .footer-links-mob h4.footerheadings {
	    font-size: 1em;
	    text-align: left;
	    padding: 10px 10px;
	    border-bottom: 1px solid #E2E2E2;
	}
	#menu .footer-links-mob h4.footerheadings {
		position: relative;
		text-transform: lowercase;
		&:before, &:after {
			content: "";
		    display: inline-block;
		    position: absolute;
		    right: 20px;
		    top: 10px;
		    border-left: 8px solid #AAA;
		    border-top: 8px solid transparent;
		    border-bottom: 8px solid transparent;
		}
		&:after {
			right: 23px;
			border-left: 8px solid #fff;
		}
		&.arrow-down {
			&:before, &:after {
			content: "";
		    display: inline-block;
		    position: absolute;
		    right: 20px;
		    top: 14px;
		    border-top: 8px solid #AAA;
		    border-left: 8px solid transparent;
		    border-right: 8px solid transparent;
			}
			&:after {
				top: 11px;
				border-top: 8px solid #fff;
			}
		}
	}
	.mm-listview>li>a, .mm-listview>li>span {
		text-align: left;
		text-transform: lowercase;
		padding: 10px 10px 10px 15px;
	}
	ul.policy.mm-listview {
	    display: none;
	    background: #fff;
	    border: 0;
	    border-top: 0;
	    border-bottom: 0;
	    position: relative;
	    &:before {
	    	position: absolute;
		    content: "";
		    border: 5px solid #FFF;
		    left: 0;
		    height: 90%;
		    z-index: 9;
	    }
	}
	.mm-vertical .mm-panel .secure_shipping.mobile {
		display: block;
		border-bottom: 0;
		padding: 10px 0 0;
		.secure_wrap, .shipping_wrap, .globuson_wrap {
			display: none;
		}
		.follow_us_wrap {
			width: 100%;
			.ship_title.plus {
			    font-size: 1.3em;
			    background: #E2E2E2;
			    color: #000;
			    padding: 5px 0;
			    text-align: left;
			    padding-left: 12px;
			    display: none;
			}
		}
	}
	.cart {
		#shopping-cart-table {
			.tFoot {
				padding-top: 5px;
				.tFootinner {
					.totals-n-coupon {
						margin-bottom: 10px;
    					border-bottom: 1px dashed #D7D7D7;
						.totals {
							width: 260px;
						}
						.pr-coupon-code {
							width: 100%;
						    text-align: center;
						    border-bottom: 1px solid #D7D7D7;
						    padding-bottom: 5px;
						    .buttons-set {
						    	button.button {
						    		span {
						    			height: 34px;
							    		line-height: 34px;
						    		}
						    	}
						    }
						    .input-box {
						    	input {
						    		line-height: 33px;
						    	}
						    }
						}
					}
					.cart_pro_btn {
						button.button {
							margin-bottom: 15px;
							span {
								height: 36px;
							    line-height: 36px;
							    font-size: 1.1em;
							}
						}
					}
				}
			}
		}
	}
	.fancybox-wrap.fancybox-opened {
		width: 90% !important;
    	left: 5% !important;
    	.cart {
    		#shopping-cart-table {
    			.tFoot {
    				.tFootinner {
    					.cart_pro_btn {
    						button.button {
    							padding: 0 15px;
    							span {
    								height: 33px;
								    line-height: 33px;
								    font-size: 1em;
    							}
    						}
    					}
    				}
    			}
    		}
    	}
	}
	.youama-login-window, .youama-register-window {
		position: absolute!important;
		width: 95% !Important;
		left: 2.5% !important;
	    top: 10px !Important;
	    height: auto!important;
	    box-sizing: border-box;
	}
}

@media only screen and (max-width: 690px) {
	.page {
		.header-container {
			.main-content-page {
				.left_section {
					.head-right {
						.quick-access {
							.form-search {
								input#search {
									width: 635px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 667px) {
	.page {
		.header-container {
			.main-content-page {
				.left_section {
					.head-right {
						.quick-access {
							.form-search {
								input#search {
									width: 610px;
								}
							}
						}
					}
				}
			}
		}
	}
	.col1-layout {
		.product-view {
			.block-related {
				h1 {
					&:before, &:after {
						width: 35%;
					}
				}
			}
			#review_anchor {
				max-width: 600px;
    			margin-left: -300px;
			}
		}
	}
}

@media only screen and (max-width: 584px) {
	.page {
		.header-container {
			.main-content-page {
				.left_section {
					.head-right {
						.quick-access {
							.form-search {
								input#search {
									width: 525px;
								}
							}
						}
					}
				}
			}
		}
	}
	.col1-layout {
		.product-view {
			#review_anchor {
				max-width: 500px;
		    	margin-left: -250px;
		    	.form-list {
		    		.input-box {
		    			width: 100%;
		    		}
		    	}
			}
		}
	}
}

@media only screen and (max-width: 568px) {
	.page {
		.header-container {
			.main-content-page {
				.left_section {
					.head-right {
						.quick-access {
							.form-search {
								input#search {
									width: 510px;
								}
							}
						}
					}
				}
			}
		}
	}
	.col1-layout {
		.product-view {
			.block-related {
				h1 {
					&:before, &:after {
						width: 33%;
					}
				}
			}
		}
	}
	.customer-account-login {
		.col-main {
			.col2-set {
				.col-1, .col-2 {
					width: 100%;
				}
				.col-2 {
					&.registered-users {
						border-left: 0;
					    padding-left: 0;
					    border-top: 2px solid #EAEAEA;
					    padding: 10px 0 0;
					    margin-top: 10px;
					}
				}
			}
		}
	}
	.cart {
		.discount {
			text-align: center;
		}
	}
}

@media only screen and (max-width: 480px) {
	.page {
		.header-container {
			.main-content-page {
				.left_section {
					.head-right {
						.quick-access {
							.form-search {
								input#search {
									width: 422px;
								}
							}
						}
					}
				}
			}
		}
	}
	.col1-layout {
		.product-view {
			#product-slider {
				.slick-initialized {
					.slick-slide {
						img {
							width: 80%;
						}
					}
				}
			}
			.block-related {
				h1 {
					&:before, &:after {
						width: 30%;
					}
				}
			}
			#customer-reviews {
				h2 {
					font-size: 1.6em;
				}
			}
			#review_anchor {
				max-width: 400px;
		    	margin-left: -200px;
			}
		}
	}
	.cart {
		margin-top: 10px;
		#shopping-cart-table {
			.tHead {
				display: none;
			}
			.tBody {
				height: auto;
				.tBody_inner {
					border-bottom: 2px solid #CFCFCF;
					padding: 5px 0 0;
					div {
						width: 100%;
						text-align: left;
					    vertical-align: top;
					    border-bottom: 1px dashed #E2E2E2;
					    padding: 7px 10px;
    					box-sizing: border-box;
						&.cart_img_pro {
							span {
								display: inline-block;
							}
						}
						&.cart_size {
							dl.item-options {
							    display: inline-block;
							    dd {
								    padding-left: 0;
								}
							}							
							&:before {
								content: "size : ";
								display: inline-block;
							}
						}
						&.cart_qty_pro {
							&:before {
								content: "quantity : ";
								display: inline-block;
							}
						}
						&.cart_sub_total_pro {
							&:before {
								content: "price : ";
								display: inline-block;
							}
						}
					}
				}
			}
			.tFoot {
				.tFootinner {
					.cart_pro_btn {
						text-align: center;
						.checkout-types {
							float: none;
						    text-align: center;
						    width: 100%;
						}
						button.button {
							float: none;
						}
					}
					.totals-n-coupon {
						.pr-coupon-code {
							label {
								display: block;
								margin-right: 0;
							}
						}
					}
				}
			}
		}
		.discount {
			margin-top: 0;
			padding-top: 5px;
			label {
				font-size: 1.186em;
			    margin-right: 0;
			    display: block;
			}
		}
	}
	.youama-login-window, .youama-register-window  {
		padding: 5px;
		.facebook_twitter_google, .facebook_twitter_google_sign  {
			width: 100%;
			position: static;
			border-left: 0;
			padding: 0;
			min-height: inherit;
    		margin-bottom: 10px;
			.inchoo-socialconnect-google, .inchoo-socialconnect-facebook {
				margin: 0;
				width: 150px !important;
			}
			.clearer {
			    display: inline-block;
			    text-align: center;
			    margin-bottom: 10px;
			}
			.login_or, .sign_or {
				display: none;
			}
		}
		.input-container {
			padding-right: 0;
    		width: 100%;
    		&:first-child {
    			margin: 0 0 10px 0;
    		}
		}
		.forgotpassword {
			width: 100%;
    		padding: 0;
    		border: 0;
		}
		label {
			font-size: 1.2em;
		    margin: 0 0 2px 0;
		}
		input[type=text], input[type=password] {
			padding: 8px 15px !Important;
		}
	}
	.youama-window-box {
		.form_fields {
			width: 100%;
			padding-right: 0;
    		min-height: inherit;
		}
	}
	.onepagecheckout-index-success {
		.col-main {
			.order-conf {
				.success_charges {
					table {
						display: table;
    					width: 100%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 414px) {
	.page {
		.header-container {
			.main-content-page {
				.left_section {
					.head-right {
						.quick-access {
							.form-search {
								input#search {
									width: 360px;
								}
							}
						}
					}
				}
			}
		}
	}
	.col1-layout {
		.product-view {
			.block-related {
				h1 {
					&:before, &:after {
						width: 27%;
					}
				}
			}
			.product-shop {
				.product-name {
					h1 {
						font-size: 18px;
					}
				}
				.product-options-bottom {
					h1.g-product-title {
						font-weight: 400;
						font-size: 16px;
					}
					ul.add-to-links {
						li {
							&.product-page-write-review {
								font-weight: 400;
								font-size: 16px;
							}
						}
					}
				}
			}
			#review_anchor {
				max-width: 350px;
		    	margin-left: -175px;
			}
		}
	}
	.col1-layout{
		.product-view{
			.product-shop{
				.product-options-bottom{
					ul.add-to-links{
						.wishlist-sec{
							.link-wishlist {
							    font-size: 16px;
							    font-weight: normal;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 375px) {
	.page {
		.header-container {
			.main-content-page {
				.left_section {
					.head-right {
						.quick-access {
							.form-search {
								input#search {
									width: 315px;
								}
							}
						}
					}
					.search-icon-mob {
						height: 30px;
						&:before {
							padding: 0 8px;
							font-size: 1.3em;
    						line-height: 30px;
						}
					}
					.logo_pan {
						.logo_head {
							.logo {
								img {
									max-width: 120px;
								}
							}
						}
					}
					a.mobile_menu_icon {
						&:before {
							height: 30px;
    						line-height: 30px;
    						font-size: 1.2em;
						}
					}
				}
			}
		}
		.top-main-menu-blk {
			.header {
				&:before {
					padding: 0 8px;
				    height: 30px;
				    line-height: 30px;
				}
			}
			.cart_link_wrapper {
				.header-cart-link {
					span {
						&:before {
							padding: 0 8px;
						    height: 30px;
						    line-height: 30px;
						    // font-size: 1.8em;
						    top: -14px;
						}
						label {
							left: 10px;
							top: -4px !important;
    						width: 19px;
						}
					}
				}
				.search_links {
					.search_wrap {
						ul {
							li {
								a {
									&:before {
										padding: 0 8px;
									    height: 30px;
									    line-height: 30px;
									}
								}
							}
							&.links {
								li {
									a {
										&:before {
											height: 30px;
    										line-height: 30px;

										}
									}
								}
							}
						}
						&.loggedin {
							p.welcome-msg {
								&:before {
									height: 30px;
    								line-height: 30px;
    								font-size: 1.3em;
								}
							}
						}
					}
				}
			}
		}
	}
	.col1-layout {
		.product-view {
			#review_anchor {
				max-width: 330px;
    			margin-left: -165px;
    			.review-form-main {
    				padding: 15px 10px;
    				th {
    					padding: 0;
    				}
    			}
			}
		}
	}
}

@media only screen and (max-width: 360px) {

	body .header-container, .page .top-main-menu-blk .cart_link_wrapper  {
		font-size: 12px !important;
	}
	
	.page {
		.header-container {
			.main-content-page {
				.left_section {
					.head-right {
						.quick-access {
							.form-search {
								input#search {
									width: 300px;
								}
							}
						}
					}
				}
			}
		}
	}
	.page{
		.top-main-menu-blk{
			.cart_link_wrapper{
				.header-cart-link{
					span{
						&:before {
						    top: -12px;
						}
						label {
						    left: -30px !important;
						    top: -2px !important;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 320px) {
	.page {
		.header-container {
			.main-content-page {
				.left_section {
					.head-right {
						.quick-access {
							.form-search {
								input#search {
									width: 265px;
								}
							}
						}
					}
				}
			}
		}
	}
	.col1-layout {
		.product-view {
			.block-related {
				h1 {
					&:before, &:after {
						width: 23%;
					}
				}
			}
			#review_anchor {
				max-width: 300px;
    			margin-left: -150px;
			}
			.review-form-main {
				.close-btn-review {
					width: 30px;
    				height: 30px;
    				line-height: 30px;
    				right: 0;
    				top: 0;
				}
			}
		}
	}
}

#menu > .mm-panels {
	overflow: hidden;
}

.account_pages {
	.single_ordered-product-info {
		text-align: center;
		.product-image {
			img {
				width: auto!important;
			}
		}
	}
}

// @media only screen 
//   and (min-device-width: 414px) 
//   and (max-device-width: 736px) 
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: portrait){
// 	.page{
// 		.top-main-menu-blk{
// 			.cart_link_wrapper {
// 			    top: -2px !important;
// 			}
// 		}
// 	}
// }