@import 'var';
@import 'mixin';

/*start css for pick up store*/
.modal-box {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 70%;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  top: 10% !important;
  .close-div{
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      &:before{
        content: "\e618";
        display: inline-block;
        font-family: "icomoon" !important;
        color: #1e1e1e;
        font-size: 1.2em;
        z-index: 0;
      }
    }
}

.checkout_storepopup{
  position: fixed;
  z-index: 1000;
  width: 800px;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  top: 10% !important;
  left: 50%;
  margin-left: -400px;
    .close-div{
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      &:before{
        content: "\e618";
        display: inline-block;
        font-family: "icomoon" !important;
        color: #1e1e1e;
        font-size: 1.2em;
        z-index: 0;
      }
    }
 }

.modal-box header, .modal-box .modal-header, .checkout_storepopup header{
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3, .modal-box header h4, .modal-box .modal-header h3, .modal-box .modal-header h4 {
  margin: 0;
}

.modal-box .modal-body {
  padding: 2em 1.5em;
  box-sizing: border-box;
}

.modal-box footer, .modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

a.close {
  line-height: 1;
  font-size: 2em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

// Archana css goes here

.col1-layout{
	.product-view{
		button.button{
			&.btn-cart{
				margin: 0 0 0 0px;
				span {
				    border-radius: 18px 0 0px 0;
				}
			}
			&.btn-pick{
				span {
				    border-radius: 0px 0 18px 0;
				}
			}
		}
	}
}
.mapcover {
  height:200px;
}

.modal-body.store-popup {
  height: 400px;
  overflow-y: scroll;
}
.store-popup{
  	width: 100%;
  	display: inline-block;
    padding: 20px;
    box-sizing: border-box;
	.city-box ,.pin-box{
		float: left;
		margin: 15px 30px 0 0;
		label{
		    font-weight: bold;
		    margin: 10px 10px 0 0;
		    float: left;
		}
		#store_city{
			@extend .txt-box;
		}
		#store_pincode{
			@extend .txt-box;
		}
		.btn-click{
			@extend .btn-black;
			padding: 8px 18px !important;
	    font-size: 1.2em;
	    border: 0;
	    margin: 0 0 0 10px;
      cursor: pointer;
		}
	}
  .city-box{
    #store_city{
      width: 190px;
      padding: 9px 10px !important;
    }
  }
  .pin-box{
    padding: 0px;
    input#store_pincode{
      width: 100px;
    }
  }
  #store_result{
    clear: both;
    display: inline-block;
    width: 100%;
    margin: 20px 0 0 0;
    #StoreListingForm{
      display: inline-block;
      width: 100%;
      text-align: center;
    }
    .store_data{
      padding: 15px 0;
      width: 100%;
      display: inline-block;
      border-bottom: 1px solid #ccc;
      text-align: left;
      cursor: pointer;
      .store_name{
        width: auto;
        float: left;
        font-weight: bold;
        margin: 0 9px 5px 0;
        input{
          margin: 0 5px 0 0;          
        }

        .data_radio{
          display: none;
        }

        .radio_label {
            display: inline-block;
            width: 14px;
            height: 14px;
            border: 1px solid #000;
            border-radius: 50%;
            vertical-align: top;
            margin-top: 3px;
            padding: 2px;
            box-sizing: border-box;
            .radio_active {
              background: #af3427;
              display: block;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              display: none;
          }
        }
      }

      &.active {
        .radio_label {
          .radio_active {
            display: block;
          }
        }
      }
      .store_full_address{
        width: auto;
        float: left;
        .setOnMap{
          float: right;
          padding: 0 20px 0 0;
          color: red;
          font-weight: bold;
          margin-left: 10px;
        }
      }
    }
    .btn-submit, #change_store{
      @extend .btn-black;
      float: right;
      border: 0;
      padding: 8px 12px !important;
      margin: 25px 0 0 0 !important;
      cursor: pointer;
    }
  }
}

.pick-title{
  margin: 10px 0 0px 0;
}

#pickupstore_list{
  .pickupbox{
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    max-height: 200px;
    .pickaddbox{
      padding: 10px;
      .product_sku{
        font-weight: bold;
        display: inline-block;
        font-size: 0.95em;
        margin: 0 0 5px 0;
        width: 100%;
        .view-btn{
          cursor: pointer;
          float: right;
          font-size: 1em;
          font-weight: normal;
          // padding: 8px 10px !important;
          position: relative;
          top: 2px;
          color: #dd4231;
          &:before{
            content: "\e916";
            display: inline-block;
            font-family: "icomoon" !important;
            color: #dd4231;
            font-size: 1.4em;
            z-index: 0;
            position: relative;
            top: 4px;
            margin: 0 5px 0 0;
          }
          &:hover{
            color: #dd4231;
          }
        }
      }
      &:nth-child(even){
        background-color: #f5f5f5;
      }
      .product_details{
        display: none;

      }
    }
    .mCSB_scrollTools{
      .mCSB_draggerRail{
        background-color: rgb(255, 255, 255);
      }
      .mCSB_dragger{
        .mCSB_dragger_bar{
          background-color: rgb(30, 30, 30);
        }
      }
    }
  }
}
.cart{
  #shopping-cart-table{
    .tBody{
      .tBody_inner{
        .cart_desc_pro{
          text-align: left;
        }
        .view-btn{
          cursor: pointer;
          float: right;
          font-size: 1em;
          font-weight: normal;
          // padding: 8px 10px !important;
          position: relative;
          top: 2px;
          color: #dd4231;
          float: left;
          &:before{
            content: "\e916";
            display: inline-block;
            font-family: "icomoon" !important;
            color: #dd4231;
            font-size: 1.4em;
            z-index: 0;
            position: relative;
            top: 2px;
            margin: 0 5px 0 0;
          }
          &:hover{
            color: #dd4231;
          }
        }
        .pickup_store{
          display: none;
          width: 100%;
          // display: inline-block;
          padding: 6px 20px 6px;
          border-bottom: 1px solid #ccc;
          background-color: #eee;
          box-sizing: border-box;
          margin: 10px 0 0 0;
          overflow: auto;
          .pick-box{
            width: 50%;
            float: left;
            text-align: left;
            margin: 0px 0 0 0;
            padding: 0 20px 0 0;
            box-sizing: border-box;
            h1{
              margin: 0px 8px 5px 0;
              font-size: 1em;
              font-weight: bold;
              padding: 0;
            }
           
          }
         .pick_time{
            width: 50%;
            float: left;
            margin: 0px 0 0 0;
            text-align: left;

            h1{
              margin: 0px 8px 5px 0;
              font-size: 1em;
              font-weight: bold;
              padding: 0;
            }
          }
          .btn-changestore{
            float: right;
            padding: 5px 10px!important;
            font-size: 1.1em;
            border-top-left-radius: 12px;
            border-bottom-right-radius: 12px;
            margin: 5px 0 0 0;
            // position: absolute;
            right: 60px;
            margin: -30px 0 0 0;
            @extend .btn-black;
            span{
              background: transparent;
              padding: 0px;
            }
          }
        } 
      }
    }
  }
}


// Archana css goes here


.onepagecheckout-index-index{
  .complete_checkout{
    .checkout_parent{
      .payment_tabs_area{
        .form-list{
          &#payment_form_cashpayment{
            padding-left: 0px !important;
          }
          ul#payment_form_payatstore, ul#payment_form_cashpayment{
            li{
              &.marTop{
                width: 100% !important;
                .captchaMain{
                  width: 50%;
                  float: left;
                  .captcha{
                    display: inline-block;
                    margin: 10px 0 0 0;
                    width: 170px;
                  }
                }
                .verifyDivText{
                  width: 44%;
                  float: left;
                  padding: 10px;
                  background-color: #eee;
                  border: 1px solid #ccc;
                  font-size: 1em;
                  p{
                    margin: 8px 0 0 0;
                    line-height: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.cart{
  #shopping-cart-table{
    .tBody{
      .tBody_inner{
        div.cart_img_pro{
          span{
            a.btn-remove2 {
              border-right: 0px solid #363636;
              padding-right: 0px;
            }
            a.edit-size{
              border-left: 1px solid #363636;
              padding-left: 4px;
            }
          }
        }
      }
    }
  }
}

.onepagecheckout-index-index{
  .complete_checkout{
    .order_summary{
      #checkout-review{
        #checkout-review-table-wrapper{
          .review-box-pan{
            margin: 10px 0 20px 0;
            padding: 0 0 20px 0;
            float: left;
            .review-box{
              .view-btn2{
                cursor: pointer;
                float: left;
                font-size: 1em;
                font-weight: normal;
                // padding: 8px 10px !important;
                position: relative;
                top: 2px;
                color: #dd4231;
                &:before{
                  content: "\e916";
                  display: inline-block;
                  font-family: "icomoon" !important;
                  color: #dd4231;
                  font-size: 1.4em;
                  z-index: 0;
                  position: relative;
                  top: 2px;
                  margin: 0 5px 0 0;
                }
                &:hover{
                  color: #dd4231;
                }
              }
              .pickup_store{
                  display: none;
                  width: 100%;
                  float: left;
                  border-bottom: 1px solid #ccc;
                  margin: 5px 0 20px 0;
                  line-height: 22px;
                  padding: 10px;
                  background: #f6f6f6;
                  div, h1{
                    display: inline-block;
                    margin: 0px;
                    padding: 0px;
                  }
                  h1{
                    font-size: 1em;
                  }
                  .pick_time{
                      width: 100%;
                      box-sizing: border-box;
                      margin: 2px 0 0 0;
                    h1{
                      display: block;
                      float: none;
                    }
                  }
              }
            }
          }
        }
      }
    }
  }
}

a.disabled_pickup{
  pointer-events: none;
  cursor: default;
  button{
    span{
      background: #c3c3c3 !important; 
    }
  }
}
.catalog-category-view, .catalogsearch-result-index{
  .fancybox-wrap{
    .fancybox-inner{
      .quickview-main{
        .product-view{
          .product-essential{
            .product-img-box{
              .wishlist_pdp{
                right: 8px !important;
              }
            }
          }
        }
      }
    }
  }
}

.onepagecheckout-index-success{
  .order-conf{
    .third_block{
      .product_details{
        table{
          .succes_img{
            width: 10%;
          }
          .line{
            width: 40%;
          }
          .lineprice{
            width: 10%;
          }
          .pickuppan{
            width: 40%;
            .pickup_store{
                  display: block;
                  width: 100%;
                  float: left;
                  line-height: 22px;
                  div, h1{
                    display: inline-block;
                    margin: 0px;
                    padding: 0px;
                  }
                  h1{
                    font-size: 1em;
                    font-weight: bold;
                    text-transform: capitalize;
                  }
                  .pick_time{
                      width: 100%;
                      box-sizing: border-box;
                      margin: 2px 0 0 0;
                    h1{
                      display: block;
                      float: none;
                    }
                  }
              }
          }
        }
      }
    }
  }
}

.after-product-added{
  .view-cart-popup-from-header{
    a{
      color: $white;
      &:hover{
        color: $white;
      }
    }
  }
}

#my-orders-table{
  .product-name {
    font-family: 'montserratbold';
    margin: 0 0 5px 0;
  }
  td{
    .pickup_store{
      padding: 10px;
      margin: 5px 0 0 0;
      background: rgba(232, 232, 232, 0.66);
      .pick-box{
        margin: 0 0 10px 0;
        margin: 0 0 4px 0;
        h1{
          font-size: 1.1em;
          margin: 0 0 4px 0;
          font-weight: bold;
        }
      }
      .pick_time{
        h1{
          margin: 10px 0 4px 0;
          font-size: 1.1em;
          font-weight: bold;
        }
      }
    }
  }
}

.catalog-category-view, .catalogsearch-result-index{
  .fancybox-wrap{
    margin-left: -500px !important;
    width: 1000px !important;
    left: 50% !important;
    height: 500px !important;
    top: 50% !important;
    margin-top: -250px !important;
    .fancybox-outer, .fancybox-inner{
      width: 990px !important;
    }
    .fancybox-inner{
      height: 500px !important;
      .quickview-main{
        .product-view{
          .product-essential{
            .product-shop{
                button.button.btn-cart{
                  margin: 0 0 0 0px;
                  span{
                    border-radius: 18px 0 0px 0;
                  }
                }               
                button.button.btn-pick{
                  span{
                    border-radius: 0px 0 18px 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

// .fancybox-wrap.fancybox-opened {
//   width: 1000px !important;
//   left: 50% !important;
//   margin-left: -500px;
// }

.amrmafront-customer-history{
  .my-account{
    .page-title{
      h1{
        display: block;
        width: 100%;
        text-align: left;
        margin: 0 0 20px 0;
      }
      #orders{
        width: 100%;
        padding: 5px;
        margin: 0 0 10px 0;
      }
      .return-msg{
        text-align: left;
        margin: 20px 0 0 0;
        display: inline-block;
        width: 100%;
      }
    }
  }
  .back-link{
    cursor: pointer;
    &:hover{
      background: $primecolor;
      a{
        color: $white !important;
      }
    }
  }

}

.amrmafront-customer-form{
  .return-form{
    border-bottom: 1px solid #ccc;
    padding: 0 0 20px 0;
    margin: 0px 0 20px 0;
    .form-list{
      li{
        label{
          width: 200px;
          margin:0 10px 0 0;
          float: left;
          font-size: 1.1em;
          color: $black;
        }
        div{
          float: left;
          font-size: 1em;
        }
      }
    }
  }
  .return_form_field{
    .form-list{
      li{
        .field{
          margin-top: 20px;
          .amrma-required{
            em{
              color: red;
            }
          }
        }
      }
    }
  }
}

.truncated .truncated_full_value .item-options {
  width: 130px;
  top: 5px;
}

.catalog-category-view, .catalogsearch-result-index, .elastic-search-result{
  .fancybox-wrap{
    .fancybox-inner{
      .quickview-main{
        .product-view{
          .product-essential{
            .product-shop{
              .product-options-bottom{
                .pickup-box{
                  #pickupstore_list{
                    h1{
                      font-size: 18px;
                      color: #1e1e1e;
                      padding: 10px 0 12px;
                      font-weight: 600;
                    }
                    .pickupbox {
                      border: 1px solid #ccc;
                      padding: 10px;
                      box-sizing: border-box;
                      max-height: 115px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.messages-coupon{
  margin: 5px 0 20px 0 !important;
  width: 430px;
  float: right;
}

.rawwishlist-index-index , .wishlist-index-index{
  .product-view{
    .availablesizes{
      b{
        text-align: left;
        width: 100%;
        clear: both;
        display: block;
        margin: 0 0 5px 0;
      }
      span{
        float: left;
        margin: 0 5px 5px 0;
      }
    }   
  }
  .cart-cell{
    margin: 0px;
    .truncated{
      display: inline-block;
      margin: 10px 0 0;
      .truncated_full_value{
        display: inline-block;
      }
    }
  }
}

@media (min-width: 32em) {
  .modal-box {
    width: 800px;
  }
}

.custom-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.8;
  z-index: 999;
  left: 0;
  top: 0;
}

.checkout_popup {
  display: none;
  position: absolute;
  top: 20%;
  left: 50%;
}

.overlay-content {
  background-color: #ccc;
  z-index: 9999;
  position: relative;
  top: -50%;
  left: 0%;
}

@media only screen and (max-width: 1200px) {
  .cart{
    #shopping-cart-table{
      .tBody{
        .tBody_inner{
          .pickup_store{
            .btn-changestore {
              right: 15px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1120px) {
  .store-popup{
    .city-box ,.pin-box{
      label {
        width: 100px;
      }
      #store_city {
        width: 310px;
      }
    }
  } 
}

@media only screen and (max-width: 1050px) {
  .cart{
    #shopping-cart-table{
      .tBody{
        .tBody_inner{
          .pickup_store{
            .btn-changestore {
              position: relative;
              right: 15px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  #pickupstore_list .pickupbox {
    max-height: inherit;
  }
}

@media only screen and (max-width: 736px) {
  .checkout_storepopup, .modal-box {
    top: 0 !important;
    left: 0 !important;
    margin-left: 0;
    height: 100%;
    overflow-y: auto;
    width: 100%;
  }
  .store-popup{
    #store_result{
      .store_data{
        .store_name {
          width: 100%;
          float: none;
        }
        .store_full_address {
            width: auto;
            float: left;
            padding: 0 0 0 20px;
            box-sizing: border-box;
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .cart #shopping-cart-table{
    .tBody{
      .tBody_inner{
        .pickup_store{
          padding: 6px 10px 6px;
          .pick-box {
            width: 100%;
            margin: 0px 0 10px 0;
            padding: 0 0px 0 0;
          }
          .pick_time {
            width: 100%;
            padding: 0px !important;
          }
        }
      }
    }
    
  }
}

@media only screen and (max-width: 520px) {
  .store-popup {
    padding: 20px 10px;
  }
  .modal-box header, .modal-box .modal-header, .checkout_storepopup header {
    padding: 12px 10px;
  }
}

@media only screen and (max-width: 480px) {
  .modal-box .modal-body {
    padding: 10px;
  }
  .store-popup{
    .city-box, .pin-box{
      width: 100%;
      margin: 20px 0 0px 0;
      label {
        width: 100%;
        margin: 0 0 5px 0;
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .store-popup{
    .city-box, .pin-box{
      .btn-click {
        padding: 10px 14px !important;
      }
      #store_city {
        width: 100%;
      }
    }
  }
}

/*end css for pick up store*/
