@import 'var';
@import 'mixin';

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratbold';
    src: url('../font/Montserrat-Bold.eot');
    src: url('../font/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Montserrat-Bold.woff2') format('woff2'),
         url('../font/Montserrat-Bold.woff') format('woff'),
         url('../font/Montserrat-Bold.ttf') format('truetype'),
         url('../font/Montserrat-Bold.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratreg';
    src: url('../font/Montserrat-Regular.eot');
    src: url('../font/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/Montserrat-Regular.woff2') format('woff2'),
         url('../font/Montserrat-Regular.woff') format('woff'),
         url('../font/Montserrat-Regular.ttf') format('truetype'),
         url('../font/Montserrat-Regular.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// .account_pages {
// 	.top-main-menu-blk {
// 	    display: none;
// 	}
// }

.account_pages {

	.change_add {
		a {
		    color: $primecolor;
		    font-size: 12px;
		    font-style: italic;
		}
	}

    .col2-set {
    	.col-1 {
		   width: 46%;
		}
    }

	.wrapper {
		.page {
			.main-container {
				display: inline-block;
			    margin-top: 50px;
			    width: 100%;

			    	button{
						&.button {
						    float: right;
						    background: $primecolor;
						    padding: 7px 14px;
						    border-radius: 13px 0 13px 0;
						    font-family: 'montserratreg';
						    letter-spacing: -1px;

						    span {
						    	background: none !important;
							    padding: 0;
							    height: auto;
							    font-size: 22px;
							    font-family: 'montserratreg';
							    letter-spacing: -1px;
							    text-transform: lowercase;

						    }
						}
					}

				.main {
					.col-main {
						width: 74%;
						float: right;
						box-sizing: border-box;
						padding: 0 42px;
					    border: 0;
					    border-left: 2px solid #cecece;
					    min-height: 313px;

					    #my-orders-table {
						    margin-bottom: 23px;

						    td {
							    padding: 5px;
							    border: 1px solid #2A2A2A;
							    font-size: 12px;

							    a {
							    	color: $primecolor;
							    }
							}
							th {
							    font-size: 14px;
							}
						}

				    	.welcome-msg {
						    margin-bottom: 23px;

							p {
							    color: $seccolor;
							    font-size: 16px;
							    font-family: 'montserratreg';
							    letter-spacing: -1px;
							    line-height: 23px;
							}
						}

						.box-head {
						    display: none;
						}
					}
					.col-left {
					    float: left;
					    width: 26%;
					    box-sizing: border-box;
					    padding: 0px 0 0 30px;
					    border:0;
				    }
				}				
			}
		}
	}
	

    .fk-lcat-main-header {
	    font-family: 'montserratbold';
	    letter-spacing: -1px;
	    font-size: 24px;
	    color: $seccolor;
	    text-transform: lowercase;
        margin-bottom: 25px;
	}
	.nav-section-cat-list {
		ul {
			li {
			    color: $seccolor;
			    font-family: 'montserratreg';
			    letter-spacing: -1px;
			    margin-bottom: 14px;
			    text-transform: lowercase;
			    font-size:17px;

			    a {
			    	color:$seccolor;
			    }

			    strong {
				    color: $primecolor;
				    font-weight: normal;
				}
			}
		}
	}
	.page-title {
		border-bottom: 0;
    	padding: 0 0 13px;
		h1 {
		    font-family: 'montserratbold';
		    letter-spacing: -1px;
		    font-size: 24px;
	        line-height: 32px;
		    color: $seccolor;
		    text-transform: lowercase;
		}
	}
	.box-content {
	    min-height: 135px;

	    p {
		    font-size: 16px;
		    color: $seccolor;
		    font-weight: normal;
		    font-family: 'montserratreg';
		    letter-spacing: -1px;
		}

	    address {
		    font-size: 16px;
		    margin-top: 5px;
		    color: $seccolor;
		    font-weight: normal;
		    font-family: 'montserratreg';
		    letter-spacing: -1px;
		    line-height: 23px;
		}
	}
	.change_pw {
	    color: $primecolor;
	    font-size: 14px;
	    text-transform: lowercase;
	}
	.box-title {
	    border-bottom: 1px solid #dedede;
	    padding-bottom: 13px;
	    margin-bottom: 17px;

		h3 {
		    font-family: 'montserratbold';
		    letter-spacing: -1px;
		    font-size: 18px;
		    color: $seccolor;
		    text-transform: lowercase;
		    display: inline-block;
		}

		a {
			color:$primecolor;
		    font-size: 14px;
    		text-transform: lowercase;
		}
	}
	span {
		&.brc {
		    font-family: 'montserratreg';
		    letter-spacing: -1px;
			color:$seccolor;
		}
	}
	.edit_address {
	    font-size: 14px;
	    text-transform: lowercase;
	    font-weight: normal;
	    font-family: 'montserratregular';

	    a {
  			color: $primecolor;
	    }
	}

	.box-content { 
		h4 {
		    font-family: 'montserratbold';
		    letter-spacing: -1px;
		    font-size: 16px;
		    color: $seccolor;
		    text-transform: lowercase;
		    display: inline-block;
		    font-weight: bold;
		}
	}

	.addresses-primary, 
	.addresses-additional {
		ol {
			li {
			    margin-top: 17px;

			    h3 {
				    font-weight: normal;
			    }
			}
		}
	}

	.fieldset {
	    border: 0;
	    background: $white;
	    padding: 0;
	    margin: 0;

		.legend {
		    border: 1px solid $white;
		    background: transparent;
		    margin: 0;
		    padding: 0;
		    width: 100%;
		    color: $seccolor;
		    font-family: 'montserratreg';
		    letter-spacing: -1px;
		    font-size: 17px;
		    margin-bottom: 10px;
		    border-bottom: 1px solid #CECECE;
		    padding-bottom: 7px;
		    font-weight: normal;
		}
	}
	.customer-name {
	    display: inline-block;
	    width: 100%;
	}
	.buttons-set {
	    border: 0;
	    width: 80%;
	    box-sizing: border-box;
	}
	.back-link {
	    background: #1e1e1e;
	    padding: 7px 14px;
	    border-radius: 13px 0 13px 0;

	    a {
	    	color: #fff;
		    font-size: 22px;
		    font-family: 'montserratreg';
		    letter-spacing: -1px;
		    text-transform: lowercase;
	    }
	}
	.buttons-set {
	    padding-top: 17px;

		button{
			&.button {
			    float: right;
			    background: $primecolor;
			    padding: 7px 14px;
			    border-radius: 13px 0 13px 0;
			    font-family: 'montserratreg';
			    letter-spacing: -1px;

			    span {
			    	background: none !important;
				    padding: 0;
				    height: auto;
	    		    font-size: 22px;
				    font-family: 'montserratreg';
				    letter-spacing: -1px;
				    text-transform: lowercase;

			    }
			}
		}
	}
	.form-list {
		width: 80%;

		select {
		    width: 100%;
		    padding: 9px;
		    border-radius: 16px 0 16px 0 !important;
		    box-sizing: border-box;
		}

		li {
		    margin: 0 0 13px;

		    &.wide {
		    	.input-box {
				    width: 100%;
				}
				input{
					&.input-text {
					    width: 100%;
					}
				}
		    }
		}

		.field {
		    float: left;
		    width: 49%;
		    margin-right: 2%;
	        margin-top: 13px;

		    &:last-child {
			    margin-right: 0;
			}

			.input-box {
				width: 100%;

				input{
					&.input-text {
					    width: 100%;
					}
				}
			}

		}
		label {
		    color: $seccolor !important;
		    font-family: 'montserratreg';
		    letter-spacing: -1px;
		    font-size: 15px;
		    font-weight: normal !important;
		    margin-bottom: 7px;
		}
		.input-box {
		    width: 100%;
		}
		input{
			&.input-text {
			    width: 49%;
			    padding: 9px;
		        border-radius: 16px 0 16px 0 !important;
			    box-sizing: border-box;
			}
		}
	}
	input[type=radio] {
	    display: none;

	    &:checked + label{
	    	&:before {
				color: #06357A;
				background-color: #fff;
				font-size: 29px;
				text-align: center;
				line-height: 12px;
				text-shadow: none;
				content: "";
				border: 0;
				background: url(../images/check_on.png) no-repeat;
				width: 17px;
				height: 17px;
			}
	    }
	}
	input[type=radio] + label {
	    margin-left: 24px;
		position: relative;
		cursor: pointer;

		&:before {
		    content: "";
		    display: inline-block;
		    width: 13px;
		    height: 13px;
		    vertical-align: middle;
		    margin-right: 8px;
		    border: 2px solid $primecolor;
		    background-color: rgb(255, 255, 255);
		    border-radius: 50%;
		    box-shadow: inherit;
		    position: absolute;
		    left: -24px;
		    top: 2px;
		}
	}
	input[type=checkbox] {
	    display: none;

	    &:checked + label{
	    	&:before {
				color: #06357A;
				background-color: #fff;
				font-size: 29px;
				text-align: center;
				line-height: 12px;
				text-shadow: none;
				content: "";
				border: 0;
				background: url(../images/checkbox_on.png) no-repeat;
				width: 17px;
				height: 17px;
			}
	    }
	}
	input[type=checkbox] + label {
	    margin-left: 24px;
		position: relative;
		cursor: pointer;

		&:before {
		    content: "";
		    display: inline-block;
		    width: 13px;
		    height: 13px;
		    vertical-align: middle;
		    margin-right: 8px;
		    border: 2px solid $primecolor;
		    background-color: white;
		    border-radius: 4px 0 4px 0;
    	    box-shadow: inherit;
		    position: absolute;
		    left: -24px;
		    top: 2px;
		}
	}
	.product-name {
	   font-family: 'montserratbold';
	}
	.inner {
	    font-size: 12px;
	    color: #A5A1A1;
	}
	.data-table {
		tr{
			&.even {
			    background-color: rgba(253, 244, 243, 0.6);
			}
		}
		th {
		    padding: 5px;
		    border: 1px solid #AD2212;
		    white-space: nowrap;
		    background: $primecolor;
		    color: #fff;
		    font-family: 'montserratreg';
		    font-weight: normal;
		    font-size: 15px;
		}
	}
	.product-image {
		img {
		    border: 1px solid #F5F0F0;
		    box-sizing: border-box;
		}
	}
	.clear-rawwishlist {
		margin-top: 20px;
		.addmargin {
		    padding-bottom: 0px !important;
		}
	}
	.username_area {
		margin-bottom: 30px;
		font-size: 16px;
		font-weight: normal;
		color: $seccolor;
	}
	.email_area {
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: normal;
		color: $seccolor;
	}
	.change_pw {
		margin-bottom: 10px;
	}
	.username_area {
	    .title {
		    margin-right: 9px;
		}
	}
	.messages {
		.success-msg{
			border-color: #4CAF50;
		    background-color: #F3EEEE;
		    border-radius: 15px 0 15px 0;
		    color: #4CAF50;
		}
		&:before {
		    color: #4CAF50;
		}
	}
	#subText {
	    color: $primecolor;
	}
	.myorder-tabs {
	    margin-bottom: 0px;
	    display: inline-block;
	    width: 100%;
	    border-bottom: 1px solid #eee;
	    padding: 0 0 0px 0;
	    ul{
	    	li{
	    		width: 46%;
	    		float: left;
	    		cursor: pointer;
	    		background-color: $white;	    			
	    		padding: 5px 2%;
	    		span{
	    			padding: 0 5px;
	    		}
	    		&.selected{
	    			font-weight: bold;
	    			background-color: #eee;
	    		}
	    	}
	    }
	}
	.recent-orders, .past-orders{
		padding: 10px;
		box-sizing: border-box;
		background-color: #eee;
		margin: -4px 0 0 0;
	}
	.single_ordered-product-info {
	    display: inline-block;
	    width: 24%;
	    float: left;
	    border: 1px solid #ccc;
	    box-sizing: border-box;
	    margin: 0 1% 1% 0;
	    padding: 1%;

	    .product_details {
		    font-size: 12px;
		    margin-top: 5px;
		    color: $primecolor;
		    line-height: 16px;
		}

    	.product-image {
    		img {
			    border: 1px solid #F5F0F0;
			    box-sizing: border-box;
			    width: 100%;
			}
    	}
	}

	.data-table {
		// display: inline-block;

		.product_price {
		    font-weight: bold;
		    margin: 5px 0;
		}
		.product_label {
		    color: #fff;
		    font-size: 12px;
		    border: 1px solid $primecolor;
		    width: 100%;
		    text-align: center;
		    border-radius: 3px;
		    padding: 1px;
		    background: $primecolor;
		    box-sizing: border-box;
		}
		.quantity {
		    margin: 4px 0;
		    font-size: 13px;
		}
		.order_list {
		    display: inline-block;
			position: relative;
		    width: 100%;
			padding: 5px;
			background: #F7F7F7;
			border: 1px solid #E8E8E8;
			box-sizing: border-box;

			&:nth-child(2n) {
				background: $white;
			}

		}
	    .order_id {
		    width: 20%;
		    float: left;
		    color: $primecolor;
		}
		.ordered-products {
		    width: 60%;
		    float: left;
		}
		.order_total {
		    float: left;
		    width: 20%;
		    text-align: right;
		    font-weight: bold;
	        margin-bottom: 5px;
		}
		.view_all {
			display: block;
		    border-radius: 11px 0 11px 0;
		    clear: left;
		    width: 77px;
		    text-align: center;
		    float: right;
		    background: $primecolor;
		    font-family: 'montserratreg';
		    padding: 5px 0px;
		    cursor: pointer;

		    a {
		    	color: $white;

		    	&:hover {
				    color: $white !important;
				}
		    }
		}
	    .toggle-details {
		    display: block;
		    border-radius: 11px 0 11px 0;
		    clear: left;
		    width: 77px;
		    text-align: center;
		    float: right;
		    background: $primecolor;
		    font-family: 'montserratreg';
		    padding: 5px 0px;
		    color: #fff;
		    position: absolute;
		    right: 5px;
		    top: 5px;
		    cursor: pointer;

		    &:hover {
			    color: $white !important;
			}

		}
	}
	.pager {
	    width: 100%;
	    float: left;
	    box-sizing: border-box;
	    background: #fff;
	}
	.close_btn {
	    color: $primecolor;
		margin: 8px 0 8px 0px;
		float: left;
		width: 100%;
	}
	.messages {
		.success-msg{
			&:before {
			    color: #4CAF50;
			}
		}
	}
}

.customer-account-changepassword {
	.form-list {
		label {
		    margin-right: 23px;
		}
	}
}
.customer-address-index {
	.main-container {
		button{
			&.button {
			    padding: 5px 10px !important;

			    span {
			    	font-size: 19px !important;
			    }
			}
		}
	}
}
.rawwishlist-index-index, 
.wishlist-index-index {
	.wrapper {
		.page {
			.main-container {
				.add-to-cart-alt {
					button{
						&.button {
						    padding: 4px 8px;
						    margin-top: -18px;

							span {
							    font-size: 15px;
							}
						}
					}
				}
			}
		}
	}
	.inner {
	   line-height: 17px;
	}
	.btn-remove2 {
	    background: url(../images/btn_trash.png) no-repeat;
	}
	button{
    	&.button {
			margin: 0 auto;
			float: none;
			// margin-top: 15px;
    	}
    }

    .product-view {
	    width: 100%;
	    float: left;
	    text-align: center;
	}
	.configurable-product {
	    width: 180px;

	    .old-price {
	    	.price {
			    color: #9C9C9C !important;
			}
	    }


	    span{
	    	&.regular-price{
	    		color: $primecolor;
	    	}
	    	&.price-label {
			    width: 100px;
			    display: inline-block;
			    color: #2A2A2A;
			    text-transform: capitalize;
			    font-weight: bold;
			    font-size: 13px;
			    margin-bottom: 3px;
			}
	    	&.price {
			    font-size: 13px;
			    color: $primecolor;
			}
			&.price-saving-percentage {
			    font-size: 12px;
			    color: #fff;
			    background: #01790B;
			    padding: 2px 5px;
			    border-radius: 4px;
			    float: left;
			    margin-top: 5px;
			}
	    }
	}
}

.sales-order-view {
	dl{
		&.item-options {
		    display: inline-block;
		    width: 100%;

		    dt {
			    display: inline-block;
			}

			dd {
			    display: inline-block;
			    color: #DD4231;
			}
		}
	}
}
.link-print {
    background: url(../images/i_print.png) 0 2px no-repeat;
}
.sales-order-view {
	.col2-set {
		.col-1 {
		    width: 50%;
		    float: left !important;
		}
	}
	.box-content {
		address {
		    margin-top: 0;
		}
	}

	h2{
		&.table-caption {
		    margin: 7px 0;
		}
	}

	.summary-inner {
        margin-top: 6px;
	    margin-right: 17px;
	    font-family: 'montserratreg';
	    letter-spacing: -1px;
	    line-height: 23px;

	    ul {
	    	li {
		    	width: 100%;
	    	    margin-bottom: 3px;

		    	.line {
		    		width: 100%;
	    		    display: inline-block;
		    	}
	
				label {
				    float: left;
				    margin-right: 10px;
				    font-weight: bold;
				    width: 90px;
				}

				.fk-inline-block {
				    float: left;

				    span.price {
					    color: #DD4231;
					}
				}
	    	}
	    }
	}
}
.storelocator-index-index {
	.hidestorecon{
		display: none;
	}

	.gmnoprint {
	    display: none;
	}
	h1{
		&.storelocator-heading {
		    background: #44beaa;
		    text-align: left;
		    border-radius: 15px 0 0 0;
		    padding: 13px 33px;
		    box-sizing: border-box;
		    color: #fff;
		    text-shadow: initial;
		    font-size: 23px;
		    font-weight: normal !important;
		    font-family: 'montserratregular';
		    margin: 0;
		}
	}
	img#store-reload {
		position: absolute;
		top: 35px;
	}
	.storelocator-info {
	    display: none;
	}
	select option {
		color: $primecolor;
		background: black;
		border-radius: 0 0 5px 0;
		padding-left: 5px;
	}
	.store-inner {
		width: 96%;
	    display: inline-block;
	    float: right;
	    margin: 2%;
	    padding: 5px;
	    box-sizing: border-box;
	    border-bottom: 2px dotted #ccc;
	    padding-bottom: 9px;

	    .close_locator{
		    	content:'X';
		    	position:absolute;
		    	top: 0;
		    	right: 10px;
		    	font-size: 1.2em;
		    	background-color: #DD4231;
		    	color: $white;
		    }

	    &:last-child {
		    border-bottom: none;
	    }
	}
	.setOnMap {
	    color: #DD4231;
	}
	#store {
	    max-height: 400px;
	    overflow: hidden;
	    overflow-y: auto;
	    box-sizing: border-box;
	    width: 270px;
	    // position: relative;
		    
		}
	.main-content-div {
	   position: relative;
		
		.storeselect {
		    display: inline-block;
		    position: absolute;
		    top: 23px;
		    left: 27px;
    	    z-index: 2;
		    background: #fff;
		    border: 2px solid #000;
		    border-radius: 16px 0;
		    box-sizing: border-box;
		    margin: 0;
		    width: 280px;

		    .select_box {
			    background: #000;
			    float: right;
			    border-radius: 0 0 12px 0;
			    padding: 0;
			    height: 26px;
				#city {
			        color: #fff;
				    float: right !important;
				    border: 0;
				    border-radius: 0 0 12px 0;
				    background: transparent;
				    outline: 0;
				    outline: none;
				    padding: 4px;
				    height: 26px;
				}
			}
			.select_city {
				float: left;
			    padding: 4px 9px;
			}
		}
	}
}



@include media_query(min-width, 736px){
// archana chnages //
	.promo-content_wrapper {
		.promo-banner-wrapper {
			display: block;
		    width: 100%;
		    margin: 0 0 0px 0;
		    margin-top: 5px;
		    float: left;

			.top-img-left {
			    width: 38.6%;
			    padding: 0 5px 0 0;
			    margin: 0;
			    box-sizing: border-box;
			    overflow: hidden;
			}
			.top-img-right {
			    width: 61.4%;
			    overflow: hidden;
			}
		}
	}
 .catalog-category-view, .catalogsearch-result-index {
	.col-left {
		#narrow-by-list {
			dd{
				&.size {
					ol {
						li {
						    display: inline-block;
						    margin: 0px 2% 2% 0;
						    padding: 0px;
						    width: 23%;
						    box-sizing: border-box;
						    background-color: #929292;
						    text-align: center;

						    &:first-child {
					    	    border-top-left-radius: 18px;
						    }

						    &:last-child {
					    	    border-bottom-right-radius: 18px;
						    }
							a {
								padding: 11px 0px;
								width: 100%;
								font-size: 18px;
								text-transform: uppercase;
								background: transparent;
							}
						}
					}
				}
			}
		}
	}
}
// archana chnages //
}

@include media_query(min-width, 1366px){
	.catalog-category-view, .catalogsearch-result-index {
		.col-left {
		    width: 16% !important;
		}
	}
}
@include media_query(max-width, 960px){
	.account_pages {
		.wrapper {
			.page {
				.main-container {
					.main {
						.col-main {
						    width: 72%;
						    padding: 0 20px;
						}
						.col-left {
						    width: 28%;
						    padding: 0px 0 0 17px;
						}
					}
				}
			}
		}
		.form-list {
		    width: 100%;
		}
		.buttons-set {
		    width: 100%;
		}
	}
}
@include media_query(max-width, 840px){
	// archana chnages //
	.catalog-category-view, .catalogsearch-result-index {
		.col-left {
			#narrow-by-list {
				dd{
					&.size {
						ol {
							li {
								a {
									font-size: 14px;
								}
							}
						}
					}
				}
			}
		}
	}
	// archana chnages //

	.account_pages {
		.wrapper {
			.page {
				.main-container {
					.main {
						.col-main {
							#my-orders-table {
								th {
								    font-size: 13px;
								    text-align: left !important;
								    padding: 5px 2px;
								}
								td {
									img {
										width: 66px;
										border: 1px solid #ccc;
										padding: 2px;
										box-sizing: border-box;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.rawwishlist-index-index,
.wishlist-index-index {
	.configurable-product {
	    width: 165px;

	    span.price-label {
		    width: 88px;
		}
	}
	#wishlist-table {
		th {
		    padding: 5px 3px;
		    font-size: 14px;
		}
	}
	.product-image {
		img {
		    width: 73px;
		    height: auto;
		}
	}
}

.rawwishlist-index-index{
	.price-box{
		width: 165px;
	}
	span.price-label {
	    width: 88px;
	}
	.clear-rawwishlist{
		float: right;
	}
}
@include media_query(max-width, 768px){
	.rawwishlist-index-index, 
	.wishlist-index-index {
		.product-image {
			img {
			    width: auto;
			}
		}
		#wishlist-table {
		    thead {
		    	display: none;
		    }
			tr {
			    float: left;
			    width: 100%;
			    margin-top: 10px;
			    box-sizing: border-box;
			    border-bottom: 1px solid #ddd;


			    td {
				    padding: 5px;
				    border: 1px solid #ddd;
				    float: left;
				    width: 100%;
				    padding-left: 140px;
				    border-bottom: 0;
				    box-sizing: border-box;

				    &:before {
						float: left;
						position: absolute;
						left: 13px;
						display: inline-block;
						width: auto;
						color: $primecolor;
						text-align: left;
						padding-left: 8px;
				    }
				    &:nth-child(1) {
				    	&:before {
					    	content: "Product Image";
				    	}
				    }
				    &:nth-child(2) {
				    	&:before {
					    	content: "Product Details";
				    	}
				    }
				    &:nth-child(3) {
				    	&:before {
					    	content: "Add to Cart";
				    	}
				    }
				    &:nth-child(4) {
				    	&:before {
					    	content: "Remove Product";
				    	}
				    }
				}
			}
		}
		.wrapper {
			.page {
				.main-container {
					.add-to-cart-alt {
						button{
							&.button {
							    margin-top: 9px;
							    float: left;
							}
						}
					}
				}
			}
		}
	}
	.account_pages {
		.fk-lcat-main-header {
		   margin-bottom: 0;
		   color: $primecolor;
		   position: relative;

		   &:before{
		   		content: "+";
		   		position: absolute;
		   		right: 7px;
		   		top: 0;
		   }

		   &.close_panel {

			   &:before{
			   		content: "-";
			   		position: absolute;
			   		right: 7px;
			   		top: 0;
			   }
		   }

		}
		.wrapper {
			.page {
				.main-container {
				    margin-top: 0;
					position: relative;

					.main {

						.col-main {
						    width: 100%;
						    padding: 0 7px;
						    border: 0;
						    position: relative;
    						top: 52px;
						    // margin-top: 45px;
						}
						.extra_curve {
						    border-radius: 17px 0 0px 0 !important;
						    border-bottom: 0 !important;
						}
						.bottom_curve {
						    border-radius: 0px 0 17px 0 !important;
						}
						.nav-section {
						    display: none;
							background: #fff;
							border: 1px solid #ccc;
							padding: 7px;

							.nav-section-cat-list {
								ul {
									li{
										&:last-child {
										    margin-bottom: 0px;
										}
									}
								}
							}
						}
						.col-left {
							float: left;
							width: 100%;
							position: absolute;
							box-sizing: border-box;
							left: 0;
							top: 50px;
							padding: 0;
							cursor: pointer;

						   .gd-col {
							    border: 1px solid #ccc;
							    display: inline-block;
							    width: 100%;
							    box-sizing: border-box;
							    padding: 5px;
							    border-radius: 17px 0 17px 0;
							    cursor: pointer;
							}
						}
					}
				}
			}
		}
	}
}
@include media_query(max-width, 640px){
	.account_pages .wrapper .page .main-container .main .col-main #my-orders-table td img {
	    width: auto;
	    border: 1px solid #ccc;
	    padding: 2px;
	    box-sizing: border-box;
	}
	.customer-account-index {
		#my-orders-table {
			thead {
				display: none;
			}
			tr {
			    float: left;
			    margin-top: 7px;
			    border-bottom: 1px solid #BFBFBF;
			}
			td {
				float: left;
			    width: 100%;
			    box-sizing: border-box;
			    border: 0 !important;
			    padding: 9px 0 !important;
			    padding-left: 170px !important;
			    position: relative;
			    text-align: left !important;
				border: 1px solid #BFBFBF !important;
				border-bottom:0 !important;
				font-size: 14px !important;
				font-weight: normal !important;

			    &:before {
			    	float: left;
				    position: absolute;
				    left: 13px;
				    display: inline-block;
				    width: 113px;
				    color: $primecolor;
				    text-align: left;
			    }
			    &:nth-child(1) {
			    	&:before {
				    	content: "Order #";
			    	}
			    }
			    &:nth-child(2) {
			    	&:before {
				    	content: "Date";
			    	}
			    }
			    &:nth-child(3) {
			    	&:before {
				    	content: "Ship To";
			    	}
			    }
			    &:nth-child(4) {
			    	&:before {
				    	content: "Order Total";
			    	}
			    }
			    &:nth-child(5) {
			    	&:before {
				    	content: "Status";
			    	}
			    }
			    &:nth-child(6) {
			    	&:before {
				    	content: "View Order";
			    	}
			    }
			}
		}
	}
	.sales-order-view {
		#my-orders-table {
			thead {
				display: none;
			}
			tr {
			    float: left;
			    margin-top: 7px;
			    border-bottom: 1px solid #BFBFBF;
			}
			td {
				float: left;
			    width: 100%;
			    box-sizing: border-box;
			    border: 0 !important;
			    padding: 9px 0 !important;
			    padding-left: 135px !important;
			    position: relative;
			    text-align: left !important;
				border: 1px solid #BFBFBF !important;
				border-bottom:0 !important;
				font-size: 14px !important;
				font-weight: normal !important;

			    &:before {
			    	float: left;
				    position: absolute;
				    left: 13px;
				    display: inline-block;
				    width: 113px;
				    color: $primecolor;
				    text-align: left;
			    }
			    &:nth-child(1) {
			    	&:before {
				    	content: "Product Image";
			    	}
			    }
			    &:nth-child(2) {
			    	&:before {
				    	content: "Product Name";
			    	}
			    }
			    &:nth-child(3) {
			    	&:before {
				    	content: "SKU";
			    	}
			    }
			    &:nth-child(4) {
			    	&:before {
				    	content: "Price";
			    	}
			    }
			    &:nth-child(5) {
			    	&:before {
				    	content: "Quantity";
			    	}
			    }
			    &:nth-child(6) {
			    	&:before {
				    	content: "Subtotal";
			    	}
			    }
			}
			tfoot {
			    border-bottom: 1px solid #BFBFBF;

				tr{
					width: 100%;
					margin: 0;
					border-bottom:0;

					td {
					    padding-left: 13px !important;
					    width: 50%;

					    &:first-child {
					    	display: none;
					    }
					    &:before {
					    	display: none;
					    }
					}
				}
			}
		}
	}
	.sales-order-view {
		.summary-inner {
		    background: #F3F3F3;
		    padding: 10px;
		    box-sizing: border-box;
		    margin-bottom: 10px;
		    display: inline-block;
		    width: 100%;
		    border: 1px solid #E6E1E1;
		}
	}
	.account_pages {
		.col2-set {
			.col-1, .col-2 {
			    width: 100%;
			}
			.box {
			    background: #F3F3F3;
			    padding: 10px;
			    box-sizing: border-box;
			    margin-bottom: 10px;
			    display: inline-block;
			    width: 100%;
			    border: 1px solid #E6E1E1;
			}
		}
		.box-content {
		    min-height: auto;
		}
		.address_area {
			.col-1 {
				margin-bottom: 13px;
			    border-bottom: 2px dotted #ccc;
			    padding-bottom: 13px;
			}
		}
	}
	
	.addresses-list {
		.col-1, .col-2 {
			background: #F3F3F3;
			padding: 10px;
			box-sizing: border-box;
			margin-bottom: 10px;
			display: inline-block;
			width: 100% !important;
			border: 1px solid #E6E1E1;

		}
		.addresses-primary{
			ol {
				li:first-child {
				    margin-bottom: 13px;
				    border-bottom: 2px dotted #ccc;
				    padding-bottom: 13px;
				}
			}
			address {
			    line-height: 23px;
			}
		}
	}
}

@include media_query(max-width, 560px){
	.account_pages {
		.single_ordered-product-info {
		    width: 32.33%;
		}
	}
	.account_pages{
		.myorder-tabs{
			ul{
				li{
					#subText{
					    margin: 2px 0 0 0;
					}
				}
			}
		}
	}
}
@include media_query(max-width, 480px){
	.customer-account-edit {
		.form-list {
			margin-bottom: 13px;

			li {
			    margin: 0;
			}
		}
	}
	.customer-account-edit {
		ul{
			&.form-list {
				li {
				    margin-bottom: 13px !important;
				}
			}
		}
	}
	.sales-order-view {
		#my-orders-table {
			td {
			    font-size: 13px !important;
			}
			tfoot {
				tr {
					td {
					    padding-left: 9px !important;
					    font-size: 13px !important;
					}
				}
			}
		}
	}
	.rawwishlist-index-index,
	.wishlist-index-index {
		#wishlist-table {
			tr {
				td {
				    padding-left: 112px;

				    &:before {
					    left: 7px;
					    font-size: 12px;
					}
				}
			}
		}
		.buttons-set {
		    text-align: center;
		}
		.wrapper {
			.page {
				.main-container {
					button{
						&.button {
						    float: none;
						}
					}
				}
			}
		}
	}
	#my-orders-table {
		td {
		    padding-left: 120px !important;
		}
	}
	.customer-address-index {
		.main-container {
			button{
				&.button {
					span {
					    font-size: 17px !important;
					}
				}
			}
		}
	}
	.account_pages {
		.page-title {
			h1 {
			    font-size: 20px;
			}
		}
		.form-list {
			.field {
			    width: 100%;
			    margin-right: 0;
			}
			input{
				&.input-text {
				    width: 100%;
				}
			}
		}
		 .data-table {
		 	.order_id {
			    width: 100%;
			    margin-bottom: 4px;
			}
			.ordered-products {
			    width: 100%;
			    margin-bottom: 5px;
			}
			.order_total {
			    width: 10%;
			}
		 }
	}
// archana chnages //
	.promo-content_wrapper {
		.promo-banner-wrapper {
			.top-img-left {
			    width: initial;
			    padding: initial;
			    margin: initial;
			}
			.top-img-right {
			    width: initial;
			    overflow: hidden;
			    margin-top: 5px;
			    margin-bottom: 0;
			}
		}
	}
// archana chnages //

}
@include media_query(max-width, 380px){
	.account_pages {
		.single_ordered-product-info {
		    width: 48%;
	        margin: 0 2% 2% 0;
		}
	}
}